[2016-02-14 09:44] davvd commented on #591
@yegor256 please dispatch this issue

[2016-02-14 09:44] davvd commented on #566
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-14 16:07] davvd commented on #524
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-14 16:09] davvd commented on #596
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-14 16:09] davvd commented on #597
@yegor256 please dispatch this issue

[2016-02-15 06:05] ypshenychka commented on #524
@rfqu
According to our [QA Rules](http://at.teamed.io/qa.html):

Please correct your messages by indicating an addressee in the beginning.

[2016-02-15 07:02] rfqu commented on #524
@essobedo closed

[2016-02-15 07:50] essobedo commented on #524
@rfqu I guess that @ypshenychka expect from you that you modify

for something like for example

Thank you in advance

[2016-02-15 07:51] rfqu commented on #524
@ypshenychka pull request #571 is ok

[2016-02-15 07:58] essobedo commented on #524
@rfqu Sorry for the misunderstanding, you are not supposed to add new messages but to modify your previous messages in order to make them always start with @somebody like @essobedo for example. In other words all the messages in a ticket or a PR must have a recipient.

[2016-02-15 08:30] essobedo commented on #524
@rfqu Sounds good now, thank you very much.

@ypshenychka It should be ok now, could you please re-check? Thank you in advance

[2016-02-15 08:56] ypshenychka commented on #524
@rfqu @essobedo Thank you.

[2016-02-15 08:56] ypshenychka commented on #524
@davvd Quality is acceptable.

[2016-02-15 11:56] davvd commented on #524
@ypshenychka thanks, got it. everybody, please try to make it good next time

[2016-02-15 12:17] davvd commented on #524
@essobedo I added 10 mins to @ypshenychka (for QA review) in transaction 77332395. Many thanks! **30 mins** were added to your account in Transaction ID `77332405` (task took 220 hours and 22 mins). +30 to your rating, your total score is [+105](http://www.netbout.com/b/36421?open=rating)

[2016-02-15 12:17] davvd commented on #582
@2686747 it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-o

[2016-02-15 19:13] jefferson-pessanha opened #614 "Can't run the Quick start example"
Hello,

I'm trying to run the Takes App in the quick start section but i can't find the org.takes.facets.fork.TkFork class. In which jar version can I find it?

[2016-02-15 19:17] yegor256 commented on #614
@jefferson-pessanha 0.31.1 is the latest, it's there: http://www.javadoc.io/doc/org.takes/takes/0.31.1

[2016-02-15 19:17] #614 closed

[2016-02-15 19:26] jefferson-pessanha commented on #614
oh, it's right! Thanks.

[2016-02-15 19:30] 2686747 commented on #582
@essobedo fixed, please check #613

[2016-02-16 06:06] datntvn opened #615 "Issue with Null is bad"
This line of code violate Null Is Bad guideline

https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/fork/FkHitRefresh.java#L159

Refer to:
http://www.yegor256.com/2014/05/13/why-null-is-bad.html

[2016-02-16 07:32] essobedo commented on #582
@2686747 sounds good thx

[2016-02-16 10:16] davvd commented on #566
@essobedo since there is no milestone yet I set it to "1.0"

[2016-02-16 10:16] davvd commented on #590
@pinaf since there is no milestone yet I set it to "1.0"

[2016-02-16 10:16] davvd commented on #591
@essobedo attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-02-16 10:16] davvd commented on #596
@essobedo I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-02-16 10:16] davvd commented on #597
@essobedo since there is no milestone yet I set it to "1.0"

[2016-02-16 10:48] davvd commented on #597
@essobedo thanks for this report, I added 15 mins to your account, in transaction `77676303`

[2016-02-16 10:49] davvd commented on #608
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-16 10:49] davvd commented on #609
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-16 13:10] raphaelln commented on #573
@sebing I believe this error is because the socket server is closed, I think in travis the lifetime=3000, is not enough to run the junit tests, I am thinking in increase the lifetime to 4000 in order to stop this errors. What do you think ?

I agree will be an arbitrary lifetime, but only testing with a new lifetime to know if the error disappear.

[2016-02-16 13:18] sebing commented on #573
@raphaelln thank you for the clarification. You can ask the architect @yegor256 for specific change.

[2016-02-16 13:18] raphaelln commented on #573
@sebing thanks, I'll ask him.

[2016-02-16 13:23] raphaelln commented on #573
@yegor256 I believe the cause of this unstable errors is because the lifetime of the ServerSocket expires before the junit test ends, in local this never happened but in travis sometimes the `java.net.ConnectException: Connection refused` occurs.

I believe we can increase the lifetime of the ServerSocket in order to run this tests in travis, I would like to know what do you think ? Or maybe do yo

[2016-02-16 13:59] davvd commented on #596
@essobedo many thanks for the bug report, I added 15 mins to your acc, transaction `77683052`

[2016-02-16 17:56] mkordas commented on #523
@yegor256 ping

[2016-02-16 18:58] yegor256 commented on #523
@mkordas I'm waiting for a similar solution in qulice, so that we can just copy it here. I don't think this ticket is worth a full cycle. it's a minor change and a small check into deployment script. do you remember what is the ticket in qulice with the same problem?

[2016-02-16 19:04] yegor256 commented on #609
@Happy-Neko are there puzzles for that problems already in the code?

[2016-02-16 21:53] raphaelln commented on #506
@simonjenga PR #601 is merged. Please review and close the ticket if everything is ok.

Thanks.

[2016-02-16 22:18] mkordas commented on #523
@yegor256 in qulice we had https://github.com/teamed/qulice/issues/583, but this is custom bash script. Maybe we should create our own `HeaderCheck` that would replace in license template e.g `$YEAR$` with current year? Thanks to that we would have generic solution for all projects using Qulice, no separate tickets needed to bump up years any more.

[2016-02-17 06:17] sebing commented on #458
@davvd can we close this issue as the pull request is merged?

[2016-02-17 06:18] sebing commented on #574
@davvd can we close this issue as the merge is success?

[2016-02-17 06:34] datntvn opened #617 "Code Format incorrect at pom.xml"
![codeformat](https://cloud.githubusercontent.com/assets/17193271/13101681/d8fda806-d58b-11e5-83e4-77a20c42f218.png)

https://github.com/yegor256/takes/blob/master/pom.xml#L239

This mistake was introduced at this commit:

https://github.com/yegor256/takes/blob/dcc7faacfa231a8f314b40c38759d804fbfb6708/pom.xml#L238

[2016-02-17 12:21] Happy-Neko commented on #609
@yegor256 in PR #610.

[2016-02-17 12:24] Happy-Neko commented on #557
@krzyk PR #579 merged. Please close the ticket if everything is ok.

[2016-02-17 12:26] krzyk commented on #557
@Happy-Neko thanks

[2016-02-17 12:26] #557 closed

[2016-02-17 14:23] 2686747 commented on #582
@essobedo can you close ticket?

[2016-02-17 15:03] essobedo commented on #582
@2686747 sure

[2016-02-17 15:03] #582 closed

[2016-02-17 16:08] davvd commented on #606
@dalifreire I deducted 30 points from your rating

[2016-02-17 16:08] davvd commented on #606
@dalifreire I will try to find someone else

[2016-02-17 16:09] dalifreire commented on #606
@davvd Why?

[2016-02-17 16:12] dalifreire commented on #606
@davvd I think there was a misunderstanding here... as you delayed to answer me, I have finished the task!

[2016-02-17 16:23] davvd commented on #591
@essobedo thanks for the report, I topped your acc for 15 mins, payment ID `77791203`

[2016-02-18 18:00] davvd commented on #557
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-18 18:00] davvd commented on #582
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-18 18:00] davvd commented on #597
@dalifreire this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-18 18:05] davvd commented on #590
@pinaf thanks for reporting! I topped your account for 15 mins, transaction AP-1EP049084G213611F

[2016-02-18 19:45] dalifreire commented on #597
@davvd Could you better explain what must be done? My task must be find and replaces all occurrences (all the takes project) of the string.split("x") by a Pattern field type?

[2016-02-18 20:27] simonjenga commented on #506
@raphaelln I am reviewing it and I will close it shortly...

[2016-02-18 23:26] yegor256 opened #618 "BkTimeable must be more verbose on thread termination"

[2016-02-18 23:26] #618 closed

[2016-02-19 01:40] yegor256 commented on #618
@rultor release, tag is `0.31.2`

[2016-02-19 01:40] rultor commented on #618
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7126-186006713)

[2016-02-19 01:47] rultor commented on #618
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7126-186006713) (took me 7min)

[2016-02-19 05:54] ypshenychka commented on #582
@davvd Quality is good.

[2016-02-19 05:55] ypshenychka commented on #557
@davvd Quality is good.

[2016-02-19 08:12] essobedo commented on #597
@dalifreire You are supposed to identify all the places in the code where we use _String.split(regexp)_ with regexp that is at least 2 character long knowing that backslash followed by a special character is still considered as 1 character long. So for example _String.split(" ")_ is OK as it is one character long, _String.split("\.")_ is OK as it is a backslash followed by a special character whic

[2016-02-19 08:58] dalifreire commented on #597
@essobedo Thanks, it's clear now.

[2016-02-19 17:58] dalifreire commented on #597
@essobedo @davvd Fixed!
I have a question.. We have a code formatter template for eclipse (we can avoid a lot of qulice checkstyle rules problems)??

[2016-02-19 18:28] essobedo commented on #597
@dalifreire Your PR still violates some qulice checkstyle rules. [Here](http://www.yegor256.com/2014/08/13/strict-code-quality-control.html) you can find a link with the settings of Yegor for Intellij.

[2016-02-19 18:33] dalifreire commented on #597
@essobedo Thanks! I'll verify the checkstyle rules.

[2016-02-19 22:27] exper0 commented on #533
@davvd please assign to someone else.

[2016-02-19 22:31] exper0 commented on #519
@davvd please assign someone else.

[2016-02-19 23:55] dalifreire commented on #597
@essobedo Please, could you take a look again? Thanks!

[2016-02-20 00:08] yegor256 commented on #609
@Happy-Neko what exactly is wrong now? this ticket sounds like a task, not a bug. read this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5-report-when-it-is-broken

[2016-02-20 09:48] essobedo commented on #586
@davvd The PR has been merged, could you please close the ticket and proceed with the QA. Thank you in advance.

[2016-02-20 09:49] essobedo commented on #588
@davvd The PR has been merged, could you please close the ticket and proceed with the QA. Thank you in advance.

[2016-02-20 12:09] essobedo commented on #597
@dalifreire sounds good now

[2016-02-20 18:25] simonjenga commented on #506
@raphaelln The fix has made this issue to disappear. I will open another issue if i come across similar problems related to creating ```temp``` files.
:thumbsup: :ok:

[2016-02-20 18:25] #506 closed

[2016-02-20 19:53] 2686747 commented on #594
@davvd Can we close this?

[2016-02-20 20:52] raphaelln commented on #506
@davvd the issue was closed, please could you proceed.
thanks.

[2016-02-21 22:53] mkordas commented on #523
@yegor256 ping

[2016-02-22 12:35] dmzaytsev opened #620 "RqForm.Smart#single() doesn't return a form parameter"
the code below throws org.takes.HttpException: [400] form param "name" is mandatory
[code]

the test works fine on Takes  0.31.1, but fails on 0.31.2

[2016-02-22 15:52] dmzaytsev commented on #577
@yegor256 please do something about this issue

[2016-02-23 00:00] yegor256 commented on #620
@rultor release, tag is `0.31.3`

[2016-02-23 00:01] yegor256 commented on #620
@rultor release, tag is `0.31.3`

[2016-02-23 00:01] rultor commented on #620
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7226-187444291)

[2016-02-23 00:07] rultor commented on #620
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7226-187444291) (took me 5min)

[2016-02-23 00:11] yegor256 commented on #620
@dmzaytsev should be fine now, please check

[2016-02-23 05:39] dmzaytsev commented on #620
@yegor256 thanks

[2016-02-23 05:39] #620 closed

[2016-02-23 06:43] sebing commented on #458
@davvd can you close this issue?

[2016-02-23 06:44] sebing commented on #574
@davvd can you close this issue?

[2016-02-23 06:44] sebing commented on #560
@yegor256 How do we proceed here?

[2016-02-23 06:44] sebing commented on #595
@davvd can you close this issue?

[2016-02-23 06:55] yegor256 commented on #560
@elenavolokhova the quality is acceptable here, I believe

[2016-02-23 08:29] essobedo commented on #586
@davvd please close the ticket and proceed with the QA.

[2016-02-23 08:30] essobedo commented on #588
@davvd please close the ticket and proceed with the QA.

[2016-02-24 07:17] elenavolokhova commented on #560
@yegor256 Thank you very much!

[2016-02-24 07:17] elenavolokhova commented on #560
@davvd Quality is acceptable here.

[2016-02-24 10:34] dalifreire commented on #597
@davvd Please, see PR #619

[2016-02-24 12:02] essobedo commented on #586
@davvd please close the ticket and proceed with the QA.

[2016-02-24 12:02] essobedo commented on #588
@davvd please close the ticket and proceed with the QA.

[2016-02-24 12:38] sebing commented on #598
@davvd Can you close this issue as we merged the PR?

[2016-02-24 13:57] pinaf opened #622 "Can't know FtCLI random assigned port"
When running `FtCLI` with `--port=0`, the socket is opened on a random port, as expected, but there is no way to know which port was actually allocated.

Let's add a method `int port()` that informs this.

[2016-02-24 16:45] essobedo commented on #589
@davvd The PR has been merged, could you please close the ticket and proceed with the QA. Thank you in advance.

[2016-02-24 21:53] yegor256 commented on #606
@davvd pls assign @dalifreire back to this ticket

[2016-02-25 09:58] essobedo commented on #584
@davvd The PR has been merged, could you please close the ticket and proceed with the QA. Thank you in advance.

[2016-02-25 17:41] xupyprmv commented on #602
@davvd need more time here

[2016-02-25 17:41] xupyprmv commented on #604
@davvd need more time here

[2016-02-25 18:34] xupyprmv commented on #604
@davvd PR #611 was merged. Please, close this ticket.

[2016-02-25 18:47] xupyprmv commented on #544
@davvd PR #559 was merged. Please, close this ticket.

[2016-02-25 19:03] xupyprmv commented on #602
@davvd PR #612 was merged. Please, close this ticket.

[2016-02-26 08:06] essobedo commented on #586
@davvd please close the ticket and proceed with the QA.

[2016-02-26 08:06] essobedo commented on #588
@davvd please close the ticket and proceed with the QA.

[2016-02-26 08:07] essobedo commented on #589
@davvd please close the ticket and proceed with the QA.

[2016-02-26 08:07] essobedo commented on #584
@davvd please close the ticket and proceed with the QA.

[2016-02-26 10:56] yegor256 commented on #558
@rultor deploy

[2016-02-26 10:57] rultor commented on #558
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7307-189221075)

[2016-02-26 11:08] rultor commented on #558
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7307-189221075) (took me 11min)

[2016-02-26 17:58] dmzaytsev opened #623 "PsGoogle throws NPE"
PsGoogle throws Null pointer  exception

    at org.glassfish.json.JsonObjectBuilderImpl$JsonObjectImpl.getString(JsonObjectBuilderImpl.java:199)
    at org.takes.facets.auth.social.PsGoogle.parse(PsGoogle.java:199)
    at org.takes.facets.auth.social.PsGoogle.fetch(PsGoogle.java:151)
    at org.takes.facets.auth.social.PsGoogle.enter(PsGoogle.java:129)
    at org.takes.facets.auth.PsByFlag.enter(

[2016-02-27 09:45] davvd commented on #458
@sebing will close soon, right after the next deployment cycle

[2016-02-27 09:45] davvd commented on #506
@raphaelln you are welcome

[2016-02-27 09:45] davvd commented on #519
@exper0 I deducted 30 points from your rating

[2016-02-27 09:45] davvd commented on #519
@exper0 I will try to find someone else

[2016-02-27 09:45] davvd commented on #533
@exper0 30 points deducted from your rating

[2016-02-27 09:45] davvd commented on #533
@exper0 OK, I will try to assign someone else

[2016-02-27 09:46] davvd commented on #557
@ypshenychka thanks for the review

[2016-02-27 09:46] davvd commented on #574
@sebing will close soon, right after the next deployment cycle

[2016-02-27 09:46] davvd commented on #560
@elenavolokhova thanks for the review, we'll try better next time

[2016-02-27 09:47] davvd opened #624 "pom.xml:373-375: Continue fixing FindBugs violations started..."
Puzzle `574-2964594e` in `pom.xml:373-375` has to be resolved: Continue fixing FindBugs violations started in #574. #574 turned on the FindBugs, temporarily excluding some classes. Remove all excludes of FindBugs below and fix the issues.... The puzzle was created by sxg on 9-Feb-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2016-02-27 09:48] davvd commented on #574
@yegor256 once `574-2964594e`/#624 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-02-27 09:48] davvd commented on #620
@dmzaytsev once `620-91883c6a` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-02-27 10:00] davvd commented on #573
@raphaelln you're working with this ticket for the last 16 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, current score is: [-30](h

[2016-02-27 10:00] davvd commented on #591
@rfqu the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this]

[2016-02-27 10:00] davvd commented on #596
@happy-neko the task is yours,please go ahead

[2016-02-27 10:01] davvd commented on #566
@essobedo thanks for this report, I added 15 mins to your account, in transaction `78630865`

[2016-02-27 10:01] davvd commented on #615
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-02-27 10:01] davvd commented on #617
@yegor256 please do something about this issue

[2016-02-27 11:05] davvd commented on #624
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-02-27 11:06] davvd opened #625 "RqMultipartTest.java:91-98: This test is using RqGreedy..."
Puzzle `620-91883c6a` in `src/test/java/org/takes/rq/RqMultipartTest.java:91-98` has to be resolved: This test is using RqGreedy in order to survive. If you remove RqGreedy, the test will crash. I can't find out why exactly it's happening. But the main problem is that somehow inside RqMultipart.Fake we're reading body() of dispositions twice or more times. That's why RqGreedy is required now. I or

[2016-02-27 11:21] davvd commented on #557
@happy-neko added 10 mins to @ypshenychka, for QA review, payment code is `78632269`; thank you, added **30 mins** to your acc, payment num is `AP-0UA0172825302082C`, 317 hours and 10 mins spent in total to complete; added +30 to your rating, now it is equal to [+218](http://www.netbout.com/b/36136?open=rating)

[2016-02-27 11:21] davvd commented on #594
@2686747 the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; do not forget that the ticket will be closed onc

[2016-02-27 11:45] 2686747 commented on #594
@davvd  9 days ago i fixed all issues and there (#603) was a merge/confirm request. 7 days ago i asked you for closing. I missed something?

[2016-02-27 12:01] essobedo commented on #584
@davvd please close the ticket and proceed with the QA.

[2016-02-27 12:01] essobedo commented on #586
@davvd please close the ticket and proceed with the QA.

[2016-02-27 12:01] essobedo commented on #588
@davvd please close the ticket and proceed with the QA.

[2016-02-27 12:01] essobedo commented on #589
@davvd please close the ticket and proceed with the QA.

[2016-02-27 12:14] raphaelln commented on #573
@davvd I created the PR #621 5 days ago about this error. Also, I sent a question to @yegor256 11 days ago and I didn't receive any answer, anyway maybe this amount of time waiting for answers could decrease the time spent for fix this bug.

Thanks.

[2016-02-27 12:33] davvd commented on #625
@yegor256 there is no milestone yet, so I set it to `1.0`

[2016-02-27 12:34] davvd commented on #606
@dalifreire @yegor256 will help

[2016-02-27 12:34] davvd commented on #606
@dalifreire @yegor256 please help us here

[2016-02-27 12:34] davvd commented on #606
@yegor256 OK @dalifreire please proceed, this task is yours

[2016-02-27 12:34] davvd commented on #582
@ypshenychka thanks a lot

[2016-02-27 12:34] davvd commented on #597
@dalifreire I will take a look, thanks

[2016-02-27 12:50] davvd commented on #600
@sebing the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. do not forget to remove the TODO puzzle from the source code. adde

[2016-02-27 12:59] dalifreire commented on #606
@davvd Thanks. PR #616 is merged, can you close the issue and revert my 30 points deducted from my rating?

[2016-02-27 13:02] sebing commented on #600
@davvd Sorry for not attending this issue.
waiting for (https://github.com/yegor256/takes/issues/458), (https://github.com/yegor256/takes/issues/574), (https://github.com/yegor256/takes/issues/560), (https://github.com/yegor256/takes/issues/595), and (https://github.com/yegor256/takes/issues/598)

[2016-02-27 14:38] CarlosGines opened #626 "RqMultipart.Base IOException with very large TXT files."
When dealing with requests with very large TXT files [like this one](https://drive.google.com/file/d/0BwYOBDbn-h3fX1ZHVmJJdDhPMy13Y1N3Nlh2OW5JVGxJNUlZ) I get this stack trace (using takes 0.31.3):
[code]
There are at least a couple of issues that seeam to be similar: #254 #512.

[2016-02-27 14:49] davvd commented on #560
@sebing 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 78636580... Many thanks! **1 hour** were added to your account in Transaction ID `56d1b72e88fc154b49000006` (task took 18 hours and 54 mins)... m=1134, that's why a bonus here for fast delivery... +60 added to your rating, at the moment it is: [+105](http://www.netbout.com/b/36309?open=rating)

[2016-02-27 14:50] davvd commented on #622
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-27 16:54] 2686747 commented on #582
@davvd can you calculate this task?

[2016-02-27 19:37] davvd commented on #582
@2686747 added 10 mins to @ypshenychka, for QA review, payment code is `78644128`. Thank you, I have added **38 mins** to your account in payment/transaction "`56d1faa59f490454a0000252`", time consumed: 51 hours and 50 mins. m=3110, that's why a bonus here for fast delivery. added +38 to your rating, now it is equal to [+8](http://www.netbout.com/b/36452?open=rating)

[2016-02-27 20:09] raphaelln commented on #506
@davvd can you calculate this task?

[2016-02-28 06:06] yegor256 commented on #615
@datntvn I believe you're talking about this line: https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/fork/FkHitRefresh.java#L150 Yes, it's a bad thing to use NULL, but sometimes there is no other choice, because we're dealing with JDK that has NULL in many places. So, it's an inevitable evil in this particular case. We can't fix it.

[2016-02-28 06:06] #615 closed

[2016-02-28 06:39] dmzaytsev commented on #623
@yegor256 could you put urgent tag here?

[2016-02-28 07:48] yegor256 commented on #623
@davvd it's urgent

[2016-02-28 08:01] yegor256 commented on #617
@datntvn I don't see this issue any more in `pom.xml`...

[2016-02-28 08:01] #617 closed

[2016-02-28 08:29] yegor256 commented on #622
@pinaf this is by design. if you want to know the port number, you should do something like this:

[code]

This file will be created and will contain the port number.

[2016-02-28 08:29] yegor256 commented on #622
@pinaf I should probably add this to class documentation...

[2016-02-28 09:51] davvd commented on #623
@dmzaytsev I will find a developer for the task soon...

[2016-02-28 09:51] davvd commented on #623
@dmzaytsev there is no milestone yet, so I set it to `1.0`

[2016-02-28 10:03] #544 closed

[2016-02-28 10:03] #574 closed

[2016-02-28 10:03] #584 closed

[2016-02-28 10:03] #586 closed

[2016-02-28 10:03] #588 closed

[2016-02-28 10:03] #589 closed

[2016-02-28 10:03] #595 closed

[2016-02-28 10:03] #598 closed

[2016-02-28 10:03] #602 closed

[2016-02-28 10:03] #604 closed

[2016-02-28 10:03] #606 closed

[2016-02-28 10:03] davvd commented on #544
@yegor256 Thanks, closing it now.

[2016-02-28 10:03] davvd commented on #574
@yegor256 The issue is closed

[2016-02-28 10:03] davvd commented on #584
@yegor256 The issue is closed

[2016-02-28 10:03] davvd commented on #586
@yegor256 The issue is closed

[2016-02-28 10:03] davvd commented on #588
@yegor256 I'm closing the issue...

[2016-02-28 10:03] davvd commented on #589
@yegor256 Closing..

[2016-02-28 10:03] davvd commented on #595
@yegor256 Thanks, closed

[2016-02-28 10:03] davvd commented on #598
@yegor256 We are done here, thanks all

[2016-02-28 10:03] davvd commented on #602
@yegor256 Closed, thanks all

[2016-02-28 10:03] davvd commented on #604
@yegor256 We are done here, thanks all

[2016-02-28 10:03] davvd commented on #606
@yegor256 The task is done, thanks all, I am closing it

[2016-02-28 10:03] davvd commented on #506
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-28 10:03] davvd commented on #544
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-28 10:03] davvd commented on #574
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-28 10:03] davvd commented on #584
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-28 10:03] davvd commented on #586
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-28 10:03] davvd commented on #588
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-28 10:03] davvd commented on #589
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-28 10:03] davvd commented on #595
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-28 10:03] davvd commented on #598
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-28 10:03] davvd commented on #602
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-28 10:03] davvd commented on #604
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-28 10:03] davvd commented on #606
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-28 10:27] davvd commented on #623
@dmzaytsev many thanks for the bug report, I added 15 mins to your acc, transaction `78661202`

[2016-02-28 11:21] yegor256 commented on #622
@pinaf documented in 57b1fb9

[2016-02-28 11:21] #622 closed

[2016-02-28 11:24] yegor256 commented on #523
@mkordas we basically need a small check that will fail Maven build when `LICENSE.txt` doesn't have `2013-2016`. that's it. we don't need to check all files. just one file for one text occurrence.

[2016-02-28 11:26] yegor256 opened #627 "year check in LICENSE.txt"
Let's create a check in `pom.xml` (somehow), that will fail the build if `LICENSE.txt` doesn't have `2014-2016` text.

[2016-02-28 11:26] yegor256 commented on #523
@mkordas I'm closing this, in favor of #627

[2016-02-28 11:26] #523 closed

[2016-02-28 11:27] davvd commented on #627
@yegor256 I tagged this as "bug"

[2016-02-28 11:28] davvd commented on #445
@hdouss last puzzled solved `445-5323c196`/#473

[2016-02-28 11:50] davvd commented on #533
@essobedo the task is yours plz proceed

[2016-02-28 11:50] davvd commented on #590
@carlosgines This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-28 11:50] davvd commented on #623
@raphaelln This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-28 11:50] davvd commented on #624
@xupyprmv the task is yours, please go ahead

[2016-02-28 11:52] elenavolokhova commented on #589
@essobedo
  According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and follow this rule in your tickets in the future.

[2016-02-28 11:53] elenavolokhova commented on #588
@essobedo
  According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and follow this rule in your tickets in the future.

[2016-02-28 11:59] essobedo commented on #589
@elenavolokhova link to the PR added thanks for the feedback

[2016-02-28 12:00] essobedo commented on #588
@elenavolokhova Fixed, thanks for the feedback

[2016-02-28 12:03] elenavolokhova commented on #544
@davvd Looks good!

[2016-02-28 12:12] elenavolokhova commented on #506
@davvd Looks good!

[2016-02-28 12:24] davvd commented on #627
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-02-28 12:28] elenavolokhova commented on #588
@essobedo Thanks!

[2016-02-28 12:28] elenavolokhova commented on #588
@davvd Quality is acceptable here.

[2016-02-28 12:39] davvd commented on #566
@xupyprmv it's yours, please go ahead

[2016-02-28 12:39] davvd commented on #495
@essobedo the task is yours please proceed

[2016-02-28 12:39] davvd commented on #627
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-333acd31`

[2016-02-28 13:06] dalifreire commented on #597
@davvd The PR #619 was merged, can you close the issue?

[2016-02-28 13:11] ypshenychka commented on #604
@davvd Quality is good.

[2016-02-28 13:11] ypshenychka commented on #602
@davvd Quality is good.

[2016-02-28 13:12] ypshenychka commented on #584
@davvd Quality is good.

[2016-02-28 13:13] ypshenychka commented on #574
@davvd Quality is good.

[2016-02-28 13:14] ypshenychka commented on #595
@sebing
According to our [QA Rules](http://at.teamed.io/qa.html):

Please provide a link to PR is any of your messages.

[2016-02-28 13:16] ypshenychka commented on #586
@davvd Quality is good.

[2016-02-28 13:17] ypshenychka commented on #606
@davvd Quality is good.

[2016-02-28 13:17] ypshenychka commented on #598
@sebing
According to our [QA Rules](http://at.teamed.io/qa.html):

Please provide a link to corresponding PR in any of your messages.

[2016-02-28 13:38] sebing commented on #598
@ypshenychka I thought when i mention this issue while fixing the PR(https://github.com/yegor256/takes/pull/605) was enough :)

[2016-02-28 13:40] sebing commented on #595
@ypshenychka Thanks for the comment.
The issue is fixed in the PR(https://github.com/yegor256/takes/pull/599)

[2016-02-28 13:58] davvd commented on #506
@elenavolokhova thanks for the review

[2016-02-28 13:58] davvd commented on #544
@elenavolokhova thanks for the review

[2016-02-28 13:58] davvd commented on #588
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2016-02-28 13:59] davvd commented on #623
@yegor256 right, I added "urgent" label

[2016-02-28 14:16] Happy-Neko commented on #609
There are NPEs in ignored tests (PR #610).

[2016-02-28 14:30] davvd commented on #506
@raphaelln added 10 mins to @elenavolokhova, for QA review, payment code is `78665675`

thanks, I just added **30 mins** to your account, payment `AP-09B27035W7591761S`, 404 hours and 9 mins spent

+30 to your rating, your total score is [+0](http://www.netbout.com/b/36530?open=rating)

[2016-02-28 14:37] raphaelln commented on #573
@sebing PR #621 is merged. Please review and close the ticket if everything is ok.

Thanks.

[2016-02-28 14:44] elenavolokhova commented on #589
@davvd Quality is acceptable here.

[2016-02-28 14:56] sebing commented on #573
@raphaelln sure. Thanks

[2016-02-28 14:56] #573 closed

[2016-02-28 15:38] ypshenychka commented on #598
@sebing Now you know that it's not enough :) Thank you!

[2016-02-28 15:39] ypshenychka commented on #598
@davvd Quality is acceptable.

[2016-02-28 15:39] ypshenychka commented on #595
@sebing Thanks.

[2016-02-28 15:39] ypshenychka commented on #595
@davvd Quality is acceptable.

[2016-02-28 15:52] davvd commented on #574
@ypshenychka thanks, got it, great to see high-quality tickets here

[2016-02-28 15:52] davvd commented on #584
@ypshenychka thank you, good quality is always good ;)

[2016-02-28 15:52] davvd commented on #586
@ypshenychka thanks a lot

[2016-02-28 15:52] davvd commented on #589
@elenavolokhova thank you, let's try to make it "good" next time

[2016-02-28 15:52] davvd commented on #602
@ypshenychka thanks for the review and a good remark

[2016-02-28 15:52] davvd commented on #604
@ypshenychka thanks for the review

[2016-02-28 15:52] davvd commented on #606
@ypshenychka thanks for the review

[2016-02-28 17:00] raphaelln commented on #623
@yegor256 following an example of response from google after the authentication process:

[code]

Google doesn't have the *displayName* property, could we use the *name* property instead ?

In case of yes, I'll change the code to:

[code]
I put the if just to make sure the name property is in the response, before try to use it.

[2016-02-28 17:28] davvd commented on #595
@ypshenychka thanks, got it. everybody, please try to make it good next time

[2016-02-28 17:28] davvd commented on #598
@ypshenychka thanks, got it. everybody, please try to make it good next time

[2016-02-28 17:48] davvd commented on #544
@xupyprmv just added 10 mins to @elenavolokhova (for QA), payment ID is `78670787`

**45 mins** added to your account (payment number `AP-2KX055396L939714J`), many thanks for your contribution! 711 hours and 34 mins spent here.

+45 added to your rating, at the moment it is: [+180](http://www.netbout.com/b/35999?open=rating)

[2016-02-28 23:38] pinaf commented on #622
@yegor256 thank you.

[2016-02-29 09:15] 2686747 commented on #594
@davvd #603 is done, need some time for [confirmation](https://github.com/yegor256/takes/pull/603#issuecomment-189946932).

[2016-02-29 09:15] sebing commented on #600
@davvd all the tasks except this one is closed. Should I start on this task or you will be assigning this task to someone else?

[2016-02-29 09:38] essobedo commented on #533
@davvd the [PR](https://github.com/yegor256/takes/pull/629) is ready to be reviewed thx in advance

[2016-02-29 09:59] davvd commented on #574
@sebing just added 10 mins to @ypshenychka (for QA), payment ID is `78699928`

thanks, I just added **30 mins** to your account, payment `56d4163980c2b20dcf0000e4`, 424 hours and 56 mins spent

added +30 to your rating, now it is equal to [+135](http://www.netbout.com/b/36309?open=rating)

[2016-02-29 12:02] essobedo commented on #495
@piotrkot As workaround you can use _Bug.class.getResource_ instead of _Bug.class.getResourceAsStream_.

[2016-02-29 12:17] essobedo commented on #584
@davvd everything is ok here could you please proceed?

[2016-02-29 12:17] essobedo commented on #586
@davvd everything is ok here could you please proceed?

[2016-02-29 12:18] essobedo commented on #588
@davvd everything is ok here could you please proceed?

[2016-02-29 12:18] essobedo commented on #589
@davvd everything is ok here could you please proceed?

[2016-02-29 13:16] davvd commented on #594
@2686747 thanks

[2016-02-29 13:26] davvd commented on #584
@essobedo I added 10 mins to @ypshenychka (for QA review) in transaction 78708279... Many thanks! **30 mins** were added to your account in Transaction ID `78708285` (task took 402 hours and 21 mins)... added +30 to your rating, now it is equal to [+195](http://www.netbout.com/b/36421?open=rating)

[2016-02-29 15:26] davvd commented on #586
@essobedo 10 mins was added to the account of @ypshenychka (for QA review), in transaction 78972384. Thanks so much! Your account was topped up for **30 mins** (transaction ID is `78972560`, the task took 399 hours and 41 mins). +30 added to your rating, at the moment it is: [+225](http://www.netbout.com/b/36421?open=rating)

[2016-02-29 15:58] essobedo commented on #495
@davvd here is my [PR](https://github.com/yegor256/takes/pull/630), please find a reviewer, thanks in advance.

[2016-02-29 16:58] yegor256 commented on #609
@Happy-Neko but the tests are ignored. so the build is clean. there are no bugs in the code. you're trying to un-ignore and you can't do it. it's your problem, in your own pull request. we can't blame "master" branch for that.

[2016-02-29 16:58] #609 closed

[2016-02-29 17:08] essobedo commented on #588
@davvd everything is ok here could you please proceed?

[2016-02-29 17:08] essobedo commented on #589
@davvd everything is ok here could you please proceed?

[2016-02-29 17:17] davvd commented on #573
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-29 17:18] davvd commented on #588
@essobedo paied 10 mins to @elenavolokhova for QA review (payment ID is `79016796`)... Thanks for your contribution, **30 mins** was added to your account, payment ID is `79016828`, 397 hours and 57 mins spent total... +30 added to your rating, at the moment it is: [+255](http://www.netbout.com/b/36421?open=rating)

[2016-02-29 17:20] essobedo commented on #588
@davvd thank you very much!

[2016-02-29 17:21] essobedo commented on #586
@davvd thank you very much!

[2016-02-29 17:21] essobedo commented on #584
@davvd thank you very much!

[2016-02-29 17:37] essobedo commented on #589
@davvd the last one please

[2016-02-29 18:19] ypshenychka commented on #573
@davvd Quality is good.

[2016-02-29 18:30] davvd commented on #495
@essobedo OK

[2016-02-29 18:30] davvd commented on #584
@essobedo sure, no problem

[2016-02-29 18:30] davvd commented on #586
@essobedo sure, you are welcome

[2016-02-29 18:30] davvd commented on #588
@essobedo OK

[2016-02-29 18:30] davvd commented on #588
@essobedo you are welcome

[2016-02-29 18:30] davvd commented on #600
@sebing this is still yours and you still have time to fix it

[2016-02-29 18:30] davvd commented on #597
@dalifreire I'm not the author of the ticket, please close OP to close it

[2016-02-29 18:33] essobedo commented on #597
@dalifreire I close it

[2016-02-29 18:33] #597 closed

[2016-02-29 18:42] piotrkot commented on #495
@essobedo Yes, I know it could work without the stream. IMHO the constructor with inputstream is a mistake.

[2016-02-29 18:45] essobedo commented on #495
@piotrkot I agree with you it is a mistake, have a look to my PR to see how I fix it without removing the constructors with InputStream.

[2016-02-29 19:08] davvd commented on #589
@essobedo just added 10 mins to @elenavolokhova (for QA), payment ID is `79023774`; paid, thanks, added **30 mins** to your account, payment `79023789`, 396 hours and 56 mins was spent; +30 added to your rating, at the moment it is: [+285](http://www.netbout.com/b/36421?open=rating)

[2016-02-29 19:08] davvd commented on #627
@raphaelln can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-29 19:39] essobedo commented on #589
@davvd thank you

[2016-02-29 19:49] davvd commented on #573
@ypshenychka thanks for the review and a good remark

[2016-02-29 20:10] davvd commented on #573
@raphaelln paied 10 mins to @ypshenychka for QA review (payment ID is `79027167`). thanks, I just added **30 mins** to your account, payment `AP-4PH881585H317310S`, 437 hours and 11 mins spent. +30 added to your rating, at the moment it is: [+30](http://www.netbout.com/b/36530?open=rating)

[2016-02-29 20:10] davvd commented on #575
@original-brownbear please go ahead with this task, it's yours

[2016-03-01 02:25] raphaelln commented on #623
@yegor256 could you please check google+ api is active in the google developer console for the netbout account ? I don't have the credentials to check it.

@davvd maybe could you find someone to check it ?

More info at: https://support.google.com/a/answer/3187191?hl=en

Thanks

[2016-03-01 02:48] yegor256 commented on #623
@raphaelln I'm sure it is active. it was active and I didn't touch it.

[2016-03-01 03:06] raphaelln commented on #623
@yegor256 thanks, I don't know if you can share temporally with me the googleId and googleSecret and add the redirect to localhost in the netbout account. I'm trying to simulate the error but with my account the error just occurs when the google+ api is not active.

[2016-03-01 03:38] dmzaytsev commented on #623
@raphaelln anyway we need a proper error handling  instead of NPE

[2016-03-01 07:33] sebing commented on #600
@davvd I created a PR(https://github.com/yegor256/takes/pull/632)

[2016-03-01 11:21] raphaelln commented on #623
@yegor256, @dmzaytsev done in PR #633, this fix is just to stop the NPE.

@yegor256 Can I open another bug to investigate why the **displayName** property is not present in the google response ? In this way, the name of the current user in this case always will be **unknown**.

[2016-03-01 11:42] davvd commented on #533
@essobedo OK

[2016-03-01 11:42] davvd commented on #589
@essobedo I will, give it some time. we usually pay in 2-3 days after the ticket is closed

[2016-03-01 11:42] davvd commented on #589
@essobedo you are welcome

[2016-03-01 11:45] essobedo commented on #589
@davvd thank you for the info

[2016-03-01 11:52] davvd commented on #595
@sebing just added 10 mins to @ypshenychka (for QA), payment ID is `79068184`

**30 mins** was added to your account, many thanks for your contribution (payment 56d5823b4b766c6fe4000111)! The task took 378 hours and 49 mins.

+30 added to your rating, at the moment it is: [+165](http://www.netbout.com/b/36309?open=rating)

[2016-03-01 12:49] CarlosGines commented on #590
@davvd thanks. I have a question. What values should I set for `@version` and `@since` in javadoc? I see there is some kind of hash for `@version`. And then then for `@since` I don't know whether I should set `0.31.4` or `0.32` or `1.0`. Thank you.

[2016-03-01 13:21] original-brownbear commented on #575
@davvd PR #634 created :)

[2016-03-01 13:27] davvd commented on #598
@sebing added 10 mins to @ypshenychka, for QA review, payment code is `79072048`; Thanks a lot, I just topped your account for **30 mins**, transaction ID `56d5984cdd127d7962000470`, total time was 377 hours and 25 mins; added +30 to your rating, now it is equal to [+195](http://www.netbout.com/b/36309?open=rating)

[2016-03-01 15:09] davvd commented on #575
@original-brownbear thanks for that

[2016-03-01 15:43] davvd commented on #602
@xupyprmv I added 10 mins to @ypshenychka (for QA review) in transaction 79079164; I just added **30 mins** to your account, many thanks for your contribution (AP-6U271405GT1371402).. 372 hours and 36 mins spent here; +30 added to your rating, at the moment it is: [+210](http://www.netbout.com/b/35999?open=rating)

[2016-03-01 15:44] davvd commented on #626
@yegor256 please do something about this issue

[2016-03-01 16:17] longtimeago commented on #461
@yegor256 ping :)

[2016-03-01 16:30] davvd commented on #604
@xupyprmv 10 mins was added to the account of @ypshenychka (for QA review), in transaction 79081847... Much obliged! I have added **30 mins** to your account in payment "AP-2H8894255W072515F", 359 hours and 31 mins spent... added +30 to your rating, now it is equal to [+240](http://www.netbout.com/b/35999?open=rating)

[2016-03-01 18:27] xupyprmv commented on #566
@essobedo It is a duplicate of #573, that was already resolved by PR #547. Nothing to do here. Please close this ticket.

[2016-03-01 18:41] essobedo commented on #566
@xupyprmv This issue was created before #573 so it is actually the opposite but anyway if it is fixed already I can close the ticket for sure.

[2016-03-01 18:41] #566 closed

[2016-03-01 18:46] xupyprmv commented on #566
@davvd ticket is closed (It is a duplicate, that was already resolved)

[2016-03-01 19:05] davvd commented on #606
@dalifreire I added 10 mins to @ypshenychka (for QA review) in transaction 79092003; **1 hour** sent to your balance (ID `79092023`), many thanks! It took zero.; there is a bonus for fast delivery (m=0); +60 added to your rating, current score is: [+60](http://www.netbout.com/b/36485?open=rating)

[2016-03-01 19:47] CarlosGines opened #635 "Over complicated code with RsFork instead of TkFork"
`TkProduces` and `TkConsumes` make an over complicated use of `RsFork` that could be simplified using `TkFork`.

For example, `TkProduces` constructor could be simplified from:

[code]
to:
[code]
Then `FkTypes`and `FkContentType`should be refactored to use `Take` instead of `Response` in their constructor and use it to produce the `Response` that was originally provided in the constructor.

[2016-03-01 20:30] CarlosGines commented on #590
@davvd please check PR #636

[2016-03-01 22:39] CarlosGines commented on #590
@davvd please check PR #636

[2016-03-02 01:49] yegor256 commented on #623
@raphaelln you can always open as many bugs as you want...

[2016-03-02 03:36] yegor256 commented on #461
@HDouss got it, make sense

[2016-03-02 03:38] yegor256 commented on #626
@CarlosGines can you please show the code, which will allow us to reproduce this?

[2016-03-02 04:33] original-brownbear commented on #575
@davvd fix merged, can you please close this ? :)

[2016-03-02 07:35] yegor256 opened #637 "FkHost"
Let's create `FkHost` to dispatch by host name

[2016-03-02 07:35] #637 closed

[2016-03-02 07:47] essobedo commented on #533
@davvd the PR has been merged, so could you please close the ticket and ask the QA to proceed. Thx in advance.

[2016-03-02 08:02] yegor256 commented on #637
@rultor release, tag is `0.32`

[2016-03-02 08:02] rultor commented on #637
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7416-191119249)

[2016-03-02 08:12] rultor commented on #637
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7416-191119249) (took me 9min)

[2016-03-02 11:14] davvd commented on #461
@hdouss since the ticket has no milestone I set it to 1.0

[2016-03-02 11:14] davvd commented on #590
@carlosgines thanks for that

[2016-03-02 11:19] CarlosGines commented on #626
@yegor256 sure, you can reproduce it with this class:
[code]
And this html:
[code]

[2016-03-02 11:26] davvd commented on #597
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-02 11:29] davvd commented on #461
@hdouss thanks for the ticket, your account was topped for 15 mins, payment 79175665

[2016-03-02 11:31] ypshenychka commented on #597
@davvd Quality is good.

[2016-03-02 13:17] davvd commented on #597
@ypshenychka thanks a lot

[2016-03-02 13:30] davvd commented on #461
@dalifreire the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-02 13:30] davvd commented on #594
@2686747 you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 added to your rating, current score is: [-37](http://www.netbout.com/b/36452?open=rating)

[2016-03-02 17:05] davvd commented on #594
@dalifreire the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-02 19:58] davvd commented on #566
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-03-02 20:00] davvd commented on #600
@sebing it's not yours any more, because it took too long, please stop working with it; added -60 to your rating, now it is equal to [+135](http://www.netbout.com/b/36309?open=rating)

[2016-03-02 20:10] sebing commented on #600
@mkordas you may not have to review the change in the PR(https://github.com/yegor256/takes/pull/632) any more :(

[2016-03-02 20:24] yegor256 commented on #626
@CarlosGines and then I have to upload a huge file?

[2016-03-02 20:26] original-brownbear commented on #626
@CarlosGines is this even still an issue you can reproduce now that #634 is merged? In my opinion that PR should resolve this situation, since it fixes file descriptors not being released in the `RqMultipart.Base`.

[2016-03-02 21:16] mkordas commented on #600
@sebing please ask for assignment again

[2016-03-03 00:18] yegor256 opened #638 "TkFlash doesn't remove the flash"

[2016-03-03 00:18] #638 closed

[2016-03-03 00:20] yegor256 commented on #638
@rultor release, tag is `0.32.1`

[2016-03-03 00:20] rultor commented on #638
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7437-191505138)

[2016-03-03 00:33] rultor commented on #638
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7437-191505138) (took me 13min)

[2016-03-03 02:03] yegor256 commented on #638
@rultor release, tag is `0.32.2`

[2016-03-03 02:04] rultor commented on #638
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7437-191537919)

[2016-03-03 02:11] dalifreire commented on #461
@davvd I'm in. Thanks.
@HDouss Could you better explain what I have to do? Do you need that the actual constructor be replaced by another constructor that builds the FkContentType with a Take?

[2016-03-03 02:14] rultor commented on #638
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7437-191537919) (took me 10min)

[2016-03-03 02:34] Happy-Neko commented on #596
@essobedo PR #628 merged.
Please close the ticket if everything is ok.

[2016-03-03 06:20] sebing commented on #600
@davvd please assign the task again. The work is almost done.

[2016-03-03 07:20] HDouss commented on #461
@dalifreire Yes. The general idea is that `FkContentType`, like almost all other `Fork`s depend on a Take and not a "static" response. So, start by modifying the constructor and the implementation and investigate if there is other impacts.

[2016-03-03 07:34] #596 closed

[2016-03-03 10:45] dalifreire commented on #461
@HDouss I got it, thanks! Could you take a look at PR #639. I'm on the right way?

[2016-03-03 10:45] essobedo commented on #533
@davvd please close the ticket

[2016-03-03 11:32] elenavolokhova commented on #566
@davvd Ticket is a duplicate, so the quality is bad here.

[2016-03-03 11:42] davvd commented on #600
@sebing thanks

[2016-03-03 11:46] sebing commented on #600
@davvd That means @mkordas can request the merge in the PR?

[2016-03-03 11:53] davvd commented on #600
@xupyprmv the task is yours, please go ahead

[2016-03-03 13:20] HDouss commented on #461
@dalifreire yes.

[2016-03-03 16:07] davvd commented on #597
@dalifreire 10 mins was added to the account of @ypshenychka (for QA review), in transaction 79248795

Many thanks! **30 mins** were added to your account in Transaction ID `79248825` (task took 265 hours and 48 mins)

+30 to your rating, your total score is [+90](http://www.netbout.com/b/36485?open=rating)

[2016-03-03 16:47] CarlosGines commented on #626
@original-brownbear yes, still there!

[2016-03-03 16:49] CarlosGines commented on #626
@yegor256 that's right. I provided a huge file to test it, [this one](https://drive.google.com/file/d/0BwYOBDbn-h3fX1ZHVmJJdDhPMy13Y1N3Nlh2OW5JVGxJNUlZ).

[2016-03-03 17:50] essobedo commented on #533
@davvd please close the ticket

[2016-03-03 18:31] original-brownbear commented on #575
@davvd ping :)

[2016-03-03 22:54] dalifreire commented on #594
@davvd Thanks. Please, see PR #641.

[2016-03-04 06:00] piotrkot commented on #505
@davvd @yegor256 Well, I has been a while. Do you have an update on this? I mean sorry for bugging you but you said you would dispatch it. Please, let me know if there is a problem with the fix.

[2016-03-04 08:00] essobedo commented on #533
@davvd the PR has been merged, so could you please close the ticket and ask the QA to proceed. Thx in advance.

[2016-03-04 10:35] davvd commented on #594
@dalifreire I will take a look, thanks

[2016-03-04 14:25] davvd commented on #596
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-04 14:34] ypshenychka commented on #596
@davvd Quality is good.

[2016-03-04 16:49] davvd commented on #596
@ypshenychka thank you ;)

[2016-03-04 17:03] #533 closed

[2016-03-04 17:03] #575 closed

[2016-03-04 17:03] davvd commented on #533
@yegor256 I'm closing the issue...

[2016-03-04 17:03] davvd commented on #575
@yegor256 Closing this issue now...

[2016-03-04 17:03] davvd commented on #533
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-04 17:03] davvd commented on #575
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-04 17:06] davvd commented on #596
@happy-neko 10 mins was added to the account of @ypshenychka (for QA review), in transaction 79306932; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-25H43972YB797941W`, the task took 121 hours and 43 mins); added +30 to your rating, now it is equal to [+248](http://www.netbout.com/b/36136?open=rating)

[2016-03-04 18:06] ypshenychka commented on #575
@davvd Quality is good.

[2016-03-04 20:14] davvd commented on #575
@ypshenychka thanks!

[2016-03-04 20:34] davvd commented on #575
@original-brownbear paied 10 mins to @ypshenychka for QA review (payment ID is `79317218`)

Thanks a lot, I just topped your account for **38 mins**, transaction ID `AP-5BD63918RA734602U`, total time was 67 hours and 42 mins

there is a bonus for fast delivery (m=4062)

added +38 to your rating, now it is equal to [+632](http://www.netbout.com/b/36646?open=rating)

[2016-03-04 20:35] davvd commented on #635
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-04 23:11] yegor256 opened #642 "Set-Cookie must contain only one cookie"
We tried to fix that in #375, but in a wrong way. I think we should make sure that `Set-Cookie` always contains just one cookie. See http://stackoverflow.com/questions/11533867/set-cookie-header-with-multiple-cookies

[2016-03-04 23:11] #642 closed

[2016-03-04 23:20] yegor256 commented on #642
@rultor release, tag is `0.32.3`

[2016-03-04 23:21] rultor commented on #642
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7501-192517075)

[2016-03-04 23:24] rultor commented on #642
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7501-192517075) (spent 3min)

[code]

[2016-03-04 23:38] yegor256 commented on #642
@rultor release, tag is `0.32.3`

[2016-03-04 23:38] rultor commented on #642
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7501-192525290)

[2016-03-04 23:44] rultor commented on #642
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7501-192525290) (took me 6min)

[2016-03-05 01:15] pinaf commented on #590
@CarlosGines thanks!

[2016-03-05 01:15] #590 closed

[2016-03-05 01:30] CarlosGines commented on #590
@pinaf thank you!

[2016-03-05 06:14] yegor256 commented on #505
@piotrkot see 2124899 the test passes... it doesn't work for you?

[2016-03-05 06:15] yegor256 commented on #626
@original-brownbear do you think it's a bug in Takes?

[2016-03-05 08:29] elenavolokhova commented on #533
@davvd Looks good!

[2016-03-05 11:50] original-brownbear commented on #626
@yegor256 there certainly was a bug that would show exactly like this, but it should have been resolved by #634, also it should not be reproducible this trivially ( see below ).
The explanation in #634 eventually turned a little long, so to summarize:
* `org.takes.rq.RqMultipart$Base` opened temp file streames and wrapped them in `CapInputStream`
* `CapInputStream#close` was not correctly implemen

[2016-03-05 11:51] original-brownbear commented on #626
@CarlosGines please see above comment, can you reproduce this in 100% of cases on a clean reboot even?

[2016-03-05 18:09] davvd commented on #635
@carlosgines I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-03-05 18:09] davvd commented on #533
@elenavolokhova many thanks

[2016-03-05 18:27] davvd commented on #576
@essobedo please go ahead with this task,it's yours

[2016-03-05 18:27] davvd commented on #533
@essobedo I added 10 mins to @elenavolokhova (for QA review) in transaction 79352198. done, I added **30 mins** in payment `79352218`, 100 hours and 1 min spent to complete this. +30 added to your rating, current score is: [+315](http://www.netbout.com/b/36421?open=rating)

[2016-03-05 18:27] davvd commented on #635
@carlosgines thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-2MA92366LT812032S`

[2016-03-05 19:57] davvd commented on #635
@happy-neko the task is yours please proceed

[2016-03-05 20:57] CarlosGines commented on #590
@davvd the ticket is closed! Could we please move on to the QA stage? :)
I would also like to know, regarding my "speed" solving this tasks, when is it that the "timer" stops? When the PR is merged? When the ticket is closed? or any other moment? Thank you!

[2016-03-06 13:51] xupyprmv commented on #624
@davvd please find someone else

[2016-03-06 14:55] davvd commented on #624
@xupyprmv -30 points to your rating

[2016-03-06 14:55] davvd commented on #624
@xupyprmv right, I'll try to find someone else for this task

[2016-03-06 18:33] davvd commented on #590
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-06 18:33] dalifreire commented on #461
@HDouss @davvd PR #639 merged, could you close this issue?

[2016-03-06 18:36] yegor256 opened #643 "XeLink must return Xembly back to the starting point"
`XeLink` must return Xembly back to the starting point

[2016-03-06 18:36] #643 closed

[2016-03-06 18:47] yegor256 commented on #643
@rultor release, tag is `0.32.3`

[2016-03-06 18:53] rultor commented on #643
@yegor256 Invalid release tag `0.32.3` specified. There is already a release `0.32.3` newer than the given release in this repository.

[2016-03-06 18:53] rultor commented on #643
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-03-06 18:54] piotrkot commented on #505
@yegor256 Thanks for the test. This however does not work for me. The problem I see is in real-life scenario. Now, unauthenticated request for secured resource results in server returning Exception. But users will hardly ever wish to see the exception. Instead, they would expect to get a chance to authenticate. Thus, here I believe is preferable to get a server response with header "WWW-Authentica

[2016-03-06 18:55] yegor256 commented on #643
@rultor release, tag is `0.32.4`

[2016-03-06 18:56] rultor commented on #643
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7544-192962727)

[2016-03-06 19:06] rultor commented on #643
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7544-192962727) (took me 9min)

[2016-03-06 19:14] HDouss commented on #461
@dalifreire Thanks.

[2016-03-06 19:14] #461 closed

[2016-03-06 19:49] dalifreire commented on #594
@davvd PR #641 merged, could you close this issue?

[2016-03-06 20:15] davvd commented on #566
@elenavolokhova thanks, we'll try harder next time

[2016-03-06 20:15] davvd commented on #590
@carlosgines sure, we do that automatically, just give us some time

[2016-03-06 20:31] davvd commented on #566
@xupyprmv just added 10 mins to @elenavolokhova (for QA), payment ID is `79385439`

[2016-03-06 20:45] krzyk commented on #608
@Happy-Neko This is a todo, that should be code that introduced `Opt.Nullable`, it is not a bug in master branch.

[2016-03-06 21:23] krzyk commented on #577
@yegor256 could you validate if this is a real bug?

[2016-03-07 10:01] dalifreire commented on #461
@davvd Please, proceed...

[2016-03-07 12:30] CarlosGines commented on #626
@original-brownbear yes, I still reproduce it. You can try it too using the code and the file I provide above.

[2016-03-07 12:32] CarlosGines commented on #626
@original-brownbear when you say "clean reboot", is there something special I need to do apart from normal rebooting? Some files I need to delete or something?

[2016-03-07 12:49] original-brownbear commented on #626
@CarlosGines nope just restarting your computer :) nothing special.
Two things though :)

1. You have to convince @yegor256 here, not me. He's the architect in this project, while I'm not even part of the team at this time. I merely offered an explanation as to where this could be coming from. Given that you can reproduce this over and over it appears that explanation is not correct here.

2. Past

[2016-03-07 12:56] CarlosGines commented on #626
@original-brownbear thank you very much, I will take it into account!

[2016-03-07 16:55] essobedo commented on #576
@davvd here is my [PR](https://github.com/yegor256/takes/pull/644) that is ready to be reviewed. Thank you in advance.

[2016-03-07 16:58] davvd commented on #490
@exper0 last puzzled solved `490-c74fee69`/#508

[2016-03-07 20:57] davvd commented on #461
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-08 06:43] ypshenychka commented on #461
@davvd Quality is good.

[2016-03-08 10:04] dalifreire commented on #594
@davvd Ping... :)

[2016-03-08 10:18] davvd commented on #461
@ypshenychka thanks for the review and a good remark

[2016-03-08 10:27] davvd commented on #461
@dalifreire paied 10 mins to @ypshenychka for QA review (payment ID is `79775175`); done, I added **30 mins** in payment `79775184`, 102 hours and 46 mins spent to complete this; +30 added to your rating, current score is: [+135](http://www.netbout.com/b/36485?open=rating)

[2016-03-08 10:27] davvd commented on #624
@dalifreire it's yours, please go ahead

[2016-03-08 11:21] simonjenga opened #645 "public String constants in RqMethod already exist"
One of the dependencies to the ```takes``` project is ```jcabi-http``` as declared in the POM Build file:

[code]

The public String constants declared in the interface: ```org.takes.rq.RqMethod``` have already been declared and exist in the interface: ```com.jcabi.http.Request```

It is better to re-use those declared in the dependency so as to avoid code duplication.

[2016-03-08 14:36] elenavolokhova commented on #590
@davvd Looks good!

[2016-03-08 14:49] davvd commented on #625
@2686747 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this

[2016-03-08 17:01] davvd commented on #590
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2016-03-08 17:13] davvd commented on #590
@carlosgines I added 10 mins to @elenavolokhova (for QA review) in transaction 79792809. Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-0EH45812E3876770X`, 150 hours and 19 mins spent total. added +30 to your rating, now it is equal to [+75](http://www.netbout.com/b/36645?open=rating)

[2016-03-08 19:07] CarlosGines commented on #626
@yegor256 is this info already enough to raise the bug?
It is there for sure. The `while` in `RqMultipart.Base.request()` loops forever, because of `RqMultipart.Base.buffer` and the `while` loop in `RqMultipart.Base.copy()`.
I have been trying to catch it in a test, but it is taking me far more than even 30 min.

[2016-03-08 22:12] 2686747 opened #646 "RqWithHeaders is not immutable"
RqWithHeaders changes after new RqPrint(rqWithHeaders).print(); This [test](https://github.com/2686747/takes/commit/5a66bb78a6dc0ee867d20ecd7a8dce8881f048b8) will not pass.

[2016-03-08 22:23] 2686747 commented on #625
@davvd waiting for #646

[2016-03-09 04:32] yegor256 commented on #626
@CarlosGines OK, let's call it a bug and see what we can do. thanks.

[2016-03-09 04:50] yegor256 commented on #505
@piotrkot you're right, it was a bug. I reproduced it in 46c529dca11dc6ee3c0f67533ac26123b98780fe and fixed in 0488788d05cf69abf06d3c822d596986ae72a269

[2016-03-09 04:51] yegor256 commented on #505
@rultor release, tag is `0.32.5`

[2016-03-09 04:51] rultor commented on #505
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7578-194112372)

[2016-03-09 04:56] rultor commented on #505
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7578-194112372) (took me 5min)

[2016-03-09 05:00] yegor256 commented on #577
@jhyle can you please post a unit test here, to reproduce the bug?

[2016-03-09 06:24] xupyprmv commented on #600
@davvd PR #640 was merged. Please, close this ticket.

[2016-03-09 07:35] essobedo commented on #576
@davvd the PR has been merged so could you please proceed, thank you in advance.

[2016-03-09 08:04] piotrkot commented on #505
@yegor256 Yes, I also confirm the issue is fixed now. Thank you.

[2016-03-09 15:40] sebing commented on #458
@davvd any update on this issue?

[2016-03-09 16:51] essobedo commented on #576
@davvd please proceed

[2016-03-09 19:06] yegor256 commented on #505
@piotrkot please, close the ticket. thanks!

[2016-03-09 21:45] #505 closed

[2016-03-09 22:39] raphaelln commented on #627
@davvd the issue was closed, could you proceed please.
thanks.

[2016-03-09 22:42] raphaelln commented on #623
@yegor256 it's done in PR #633, please could you verify and close the task if everything is ok ?

[2016-03-09 23:12] dmzaytsev commented on #623
@raphaelln thanks

[2016-03-09 23:12] dmzaytsev commented on #623
@yegor256 please release if possible

[2016-03-10 00:42] yegor256 commented on #623
@rultor release, tag is `0.32.6`

[2016-03-10 00:44] rultor commented on #623
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7597-194590467)

[2016-03-10 00:56] rultor commented on #623
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7597-194590467) (took me 11min)

[2016-03-10 09:50] davvd commented on #627
@rultor rultor closed it (automatically), @yegor256 please take a look

[2016-03-10 09:51] davvd commented on #626
@carlosgines since there is no milestone yet I set it to "1.0"

[2016-03-10 09:51] rultor commented on #627
@davvd I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-03-10 09:51] davvd commented on #625
@2686747 yes, of course, we'll wait for #646

[2016-03-10 10:00] davvd commented on #594
@yegor256 Closed, done, thanks all

[2016-03-10 10:00] #594 closed

[2016-03-10 10:00] davvd commented on #594
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-10 10:03] davvd commented on #626
@carlosgines thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-2BM422107K740383H`

[2016-03-10 10:11] essobedo commented on #576
@davvd the PR has been merged so could you please proceed, thank you in advance.

[2016-03-10 10:20] sebing commented on #458
@davvd this task is merge about a month back. Why we did not deployed this? When will we closed this issue?

[2016-03-10 10:37] ypshenychka commented on #594
@davvd Quality is good here.

[2016-03-10 12:36] davvd commented on #594
@ypshenychka thanks for the review and a good remark

[2016-03-10 12:36] davvd commented on #627
@raphaelln no problem :)

[2016-03-10 12:46] davvd commented on #594
@dalifreire added 10 mins to @ypshenychka, for QA review, payment code is `79944182`

**30 mins** sent to your balance (ID `79944185`), many thanks! It took 137 hours and 14 mins.

+30 to your rating, your total score is [+165](http://www.netbout.com/b/36485?open=rating)

[2016-03-10 12:46] davvd commented on #626
@dalifreire please proceed, it's yours

[2016-03-10 18:46] yegor256 commented on #627
@raphaelln please post a link to the pull request, where it was fixed

[2016-03-10 19:08] essobedo commented on #576
@davvd please proceed

[2016-03-11 00:03] CarlosGines commented on #590
@davvd I read [here](http://at.teamed.io/policy.html#25) that the performer gets a bonus if quality is good. What is this bonus? I did not see anything about it here.

[2016-03-11 03:02] dalifreire commented on #624
@davvd Thanks. Please, see PR #647.

[2016-03-11 03:18] yegor256 commented on #627
@raphaelln thanks

[2016-03-11 03:18] #627 closed

[2016-03-11 08:02] essobedo commented on #576
@davvd the PR has been merged so please close the ticket.

[2016-03-11 09:41] davvd commented on #624
@dalifreire will check it soon, thanks

[2016-03-11 11:35] davvd commented on #645
@yegor256 please do something about this issue

[2016-03-11 15:17] davvd commented on #519
@sebing the task is yours, please go ahead

[2016-03-11 17:09] essobedo commented on #576
@davvd the PR has been approved by the QA, so please ask the QA to validate the ticket.

[2016-03-11 18:47] xupyprmv commented on #600
@davvd Please, close this issue.

[2016-03-11 19:19] #623 closed

[2016-03-11 21:12] sebing commented on #519
@yegor256  I need some design help.
The problem is `org.takes.rq.RqLive#parse` hiding the `Inputstream` and creating a `ByteArrayOutputStream` So the the read in `org.takes.rs.RsPrint#printBody(java.io.OutputStream)` is happening in the new object not in the socket's Inputstream.

Hope you understand me ;)

1) I need some guidance on why we are hiding the Inputstream.
2) Should I expose the `org.t

[2016-03-11 22:56] exper0 commented on #626
@yegor256 @original-brownbear @CarlosGines this is supposed to be fixed in scope of #576

[2016-03-12 09:29] davvd commented on #458
@sebing the task will be closed when the puzzle is removed from the source code

[2016-03-12 09:29] davvd commented on #458
@sebing I believe the puzzle is still in the source code

[2016-03-12 09:29] davvd commented on #576
@essobedo OK

[2016-03-12 09:29] davvd commented on #576
@essobedo OK

[2016-03-12 09:29] davvd commented on #576
@essobedo OK

[2016-03-12 09:29] davvd commented on #576
@essobedo OK thanks

[2016-03-12 09:29] davvd commented on #576
@essobedo OK

[2016-03-12 09:29] davvd commented on #576
@essobedo OK

[2016-03-12 09:29] davvd commented on #600
@xupyprmv OK

[2016-03-12 09:29] davvd commented on #600
@xupyprmv OK

[2016-03-12 09:29] davvd commented on #590
@carlosgines we don't pay that bonus yet, that's why the policy doesn't say anything specific yet

[2016-03-12 10:02] sebing commented on #458
@yegor256 @davvd I see  the changes are not in the master even though the merge and deploy was success for this pr(https://github.com/yegor256/takes/pull/551/). Can I get some help for this?

[2016-03-12 10:36] CarlosGines commented on #590
@davvd Ok, thank you for your answer!

[2016-03-12 12:10] dalifreire commented on #626
@davvd @exper0 @yegor256 @original-brownbear @CarlosGines Let me know if I must stop or go ahead in this issue, ok?

[2016-03-12 12:22] davvd commented on #590
@carlosgines sure, no problem

[2016-03-12 13:41] CarlosGines commented on #626
@dalfire you can test it yourself whether it is fixed or not. Follow the instructions I provide in my comments above.

[2016-03-12 21:18] dalifreire commented on #626
@CarlosGines I think I didn't understand the problem. Could you better explain exactly what must be done?

@davvd @yegor256 @exper0 @original-brownbear 30 minutes to implement this task. I think I have not enough knowledge of 'takes' to fix that in this time. It is not enough because the problem is much bigger and requires more work than the slotted time allows.

[2016-03-12 22:10] sebing commented on #519
@davvd I have made a PR(https://github.com/yegor256/takes/pull/649) can you find someone to review it?

[2016-03-13 08:12] sebing commented on #458
@davvd I have made a new PR for the changes(https://github.com/yegor256/takes/pull/650)

[2016-03-13 17:53] CarlosGines commented on #626
@dalifreire First thing is reproducing it. Get the class I provide above and run as explained in Takes [README.md](https://github.com/yegor256/takes/blob/master/README.md) Then create the html I provide above and upload the file I provide. You must get that exception of "too many files".

Then, before trying to solve it, try to catch it in a test. If you do that, it is probably just enough. Read [

[2016-03-13 18:22] dalifreire commented on #626
@CarlosGines Thanks for your explanation.

@davvd Please, assign someone else.

[2016-03-13 23:14] CarlosGines opened #651 "RqMultipart class unreadable"
Class `RqMultipart`, apart from being quite long, is confusing and extremely hard to read and understand. It makes it really difficult to maintain.

Please refactor it so that it becomes more understandable. Split it into more classes or whatever it is needed for that purpose.

[2016-03-13 23:16] CarlosGines commented on #626
@davvd I would set #651 as an impediment for this ticket, and solve it before assigning it to anybody.

[2016-03-14 07:58] essobedo commented on #576
@davvd sorry to insist but I'm stuck because of my false quota set to 2 instead of 5, so could you please proceed with the QA and close the ticket. Thank you in advance.

[2016-03-14 10:47] davvd commented on #576
@essobedo OK

[2016-03-14 10:47] davvd commented on #576
@essobedo OK

[2016-03-14 10:47] davvd commented on #576
@essobedo OK

[2016-03-14 10:47] davvd commented on #576
@essobedo OK thanks

[2016-03-14 10:47] davvd commented on #576
@essobedo OK

[2016-03-14 10:47] davvd commented on #576
@essobedo OK

[2016-03-14 20:30] yegor256 commented on #576
@essobedo the ticket will be closed when this puzzle disappears from the source code

[2016-03-14 20:30] yegor256 commented on #576
@rultor deploy

[2016-03-14 20:31] rultor commented on #576
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7685-196508723)

[2016-03-14 20:43] rultor commented on #576
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7685-196508723) (took me 12min)

[2016-03-15 00:56] yegor256 commented on #626
@davvd assign someone else

[2016-03-15 01:14] yegor256 commented on #458
@sebing be careful with your fork. as I see, you're working in `master` branch in your branch. it's a bad idea. check this article: http://www.yegor256.com/2014/04/15/github-guidelines.html

[2016-03-15 01:33] yegor256 commented on #519
@sebing keep this in mind: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html we can't teach you and help you understand our spaghetti code. we don't want to do that. we don't want you to become smarter, we want our code to become better. read the article!

[2016-03-15 01:33] yegor256 commented on #645
@simonjenga the dependency is `optional`, which means that not every use will have it in scope

[2016-03-15 01:33] #645 closed

[2016-03-15 06:13] sebing commented on #458
@yegor256 Thanks for the article. I will be careful in the future.

[2016-03-15 08:22] essobedo commented on #576
@yegor256 Thank you for the info, I'm definitely stuck then.

[2016-03-15 09:19] davvd commented on #626
@yegor256 all right, we'll find someone else for this task

[2016-03-15 09:26] davvd commented on #576
@yegor256 Finished, thanks, closing..

[2016-03-15 09:26] #576 closed

[2016-03-15 09:26] davvd commented on #600
@yegor256 Closed, done, thanks all

[2016-03-15 09:26] #600 closed

[2016-03-15 09:26] davvd commented on #576
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-15 09:26] davvd commented on #600
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-03-15 09:26] davvd commented on #623
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-03-15 09:26] davvd commented on #627
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-15 09:29] davvd commented on #646
@yegor256 please do something about this issue

[2016-03-15 10:33] ypshenychka commented on #627
@davvd Quality is good.

[2016-03-15 10:34] ypshenychka commented on #576
@davvd Quality is good.

[2016-03-15 10:38] ypshenychka commented on #600
@xupyprmv
According to our [QA Rules](http://at.teamed.io/qa.html):

PR created by previous performer is also merged and deployed. I suppose you should make sure that changes are reverted.
@yegor256 Please correct me if I'm missing anything.

[2016-03-15 10:46] ypshenychka commented on #623
@davvd Quality is good.

[2016-03-15 12:26] davvd commented on #576
@essobedo OK

[2016-03-15 12:26] davvd commented on #576
@essobedo OK

[2016-03-15 12:26] davvd commented on #576
@essobedo OK

[2016-03-15 12:26] davvd commented on #576
@essobedo OK thanks

[2016-03-15 12:26] davvd commented on #576
@essobedo OK

[2016-03-15 12:26] davvd commented on #576
@essobedo OK

[2016-03-15 12:27] davvd commented on #623
@ypshenychka thank you, good quality is always good :)

[2016-03-15 12:27] davvd commented on #627
@ypshenychka thanks a lot :)

[2016-03-15 14:16] xupyprmv commented on #600
@ypshenychka

It is not true. PR #632 was not merged and  was not deployed. So, there is only one solution here (PR #640).

[2016-03-15 14:17] ypshenychka commented on #600
@xupyprmv You're right. Sorry for confusion.

[2016-03-15 14:17] ypshenychka commented on #600
@davvd Quality is good.

[2016-03-15 16:16] davvd commented on #600
@ypshenychka thanks a lot :)

[2016-03-15 20:36] yegor256 commented on #646
@2686747 it's not a bug. it's by design. this is how it should work. I created a test to confirm that: fb89dde

[2016-03-15 20:36] #646 closed

[2016-03-15 20:57] 2686747 commented on #646
@yegor256  ok, but what about "immutable"?

[2016-03-16 12:48] exper0 opened #652 "BkTimetable cannot be created directly"
For some reason `BkTimetable`  is public but has package-local constructor. This lead to the situation when `BkTimetable` cannot be created from any package other than `org.takes.http`. Again, this leads to inability to create `FtBasic` the same way as it's done in `FtCLI`.
Creating `FtBasic` is needed to avoid using `FtCLI` because it would be right to decouple command line parsing and `FtBasic`

[2016-03-17 04:26] yegor256 commented on #646
@2686747 immutability doesn't mean that return values are always the same. immutable doesn't mean constant. see http://www.yegor256.com/2014/12/22/immutable-objects-not-dumb.html

[2016-03-17 05:30] 2686747 commented on #646
@yegor256 good point, but now you have to leave this link everywhere in project's javadocs, because we have [Java](http://docs.oracle.com/javase/tutorial/essential/concurrency/immutable.html) and  [wiki](https://en.wikipedia.org/wiki/Immutable_object). And all is clear here: state doesn't change. And sorry, but when i call print(smth) - i don't expect than print will change this something and i ta

[2016-03-17 16:08] sebing commented on #519
@davvd I need more time as the task is growing.
- With my implementation one of the other tests are breaking. I am trying to create another testcase for that bug and create a puzzle.

[2016-03-17 17:46] yegor256 commented on #646
@2686747 but `print()` doesn't change anything. it's just an input stream, which works in a non-immutable way. not our object. we just return an input stream. how it behaves - not our area of responsibility. see?

[2016-03-17 18:08] 2686747 commented on #646
@yegor256 I understand completely but why i have to worry about implementation of some object? I don't see InputStream, i see Request which is marked as immutable and thread-safe. And of course i expect it won't change after some external method execution, especially such harmless as <code>print()</code> . And if it's impossible we have to remove all "immutable and thread-safe" and leave very clea

[2016-03-17 18:21] sebing commented on #519
@davvd I managed to understand the stuff. So hope I will finish the task in time. I updated the PR.

[2016-03-17 19:11] essobedo commented on #495
@davvd the PR has been merged, the ticket and the PR are ready to be reviewed by the QA. Thank you in advance.

[2016-03-17 21:09] 2686747 commented on #625
@davvd please, check PR #653

[2016-03-18 09:57] davvd commented on #625
@2686747 thanks

[2016-03-18 11:02] dalifreire opened #654 "AppVeyor is dead"
AppVeyor build server is failing, what is stopping the merge of the PR #647.

[2016-03-18 11:05] dalifreire commented on #624
@davvd Waiting for #654

[2016-03-18 12:08] raphaelln commented on #627
@davvd everything is ok here could you please proceed.

[2016-03-18 12:10] raphaelln commented on #623
@davvd everything is ok here could you please proceed. Thanks.

[2016-03-18 17:55] davvd commented on #624
@dalifreire OK, let's wait for #654

[2016-03-18 17:56] davvd commented on #623
@raphaelln np :)

[2016-03-21 04:16] yegor256 commented on #646
@2686747 you just misunderstand what "immutable and thread-safe" means. you think they mean "constant", while it's not true. the problem is in your understanding, not in our texts :)

[2016-03-21 06:06] 2686747 commented on #646
@yegor256 please, reread this [smart man ](http://www.yegor256.com/2014/06/09/objects-should-be-immutable.html#avoiding-side-effects))))

[2016-03-21 06:09] sebing commented on #458
@davvd as the PR(https://github.com/yegor256/takes/pull/650) is closed, can you close this issue?

[2016-03-21 06:10] sebing commented on #519
@davvd as the PR(https://github.com/yegor256/takes/pull/649) is merged, can you close this issue?

[2016-03-21 18:47] davvd commented on #627
@raphaelln OK

[2016-03-21 18:56] davvd commented on #625
@yegor256 impediment in issue #646 is closed, we can probably try to continue here

[2016-03-21 18:56] davvd commented on #600
@xupyprmv paied 10 mins to @ypshenychka for QA review (payment ID is `81143121`)... thank you, added **30 mins** to your acc, payment num is `AP-3XY4585989241325W`, 192 hours and 55 mins spent in total to complete... +30 added to your rating, current score is: [+270](http://www.netbout.com/b/35999?open=rating)

[2016-03-21 18:56] davvd commented on #626
@triberraar this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-03-21 18:57] davvd commented on #654
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-21 18:57] davvd commented on #651
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-21 18:57] davvd commented on #652
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-03-21 20:18] davvd commented on #576
@essobedo OK

[2016-03-21 20:18] davvd commented on #576
@essobedo will do, when time comes :) thanks for reminding

[2016-03-21 20:18] davvd commented on #576
@ypshenychka many thanks

[2016-03-21 20:18] davvd opened #655 "RqLive.java:47-49: Refactor the parse method into..."
Puzzle `519-af7d4687` in `src/main/java/org/takes/rq/RqLive.java:47-49` has to be resolved: Refactor the parse method into a new class. This method is too long and too much if-else statements. Covert this into an IfElseClass.... The puzzle was created by Sebin George on 13-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2016-03-21 20:19] davvd commented on #458
@yegor256 once `458-ca123cf9` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-03-21 20:19] davvd commented on #519
@yegor256 the code made here contains a puzzle `519-af7d4687`/#655, which will be resolved soon

[2016-03-21 20:34] davvd commented on #495
@essobedo it's not yours any more, because it took too long, please stop working with it. added -60 to your rating, now it is equal to [+285](http://www.netbout.com/b/36421?open=rating)

[2016-03-21 20:34] davvd commented on #576
@essobedo I added 10 mins to @ypshenychka (for QA review) in transaction 81148020; Thank you, I have added **30 mins** to your account in payment/transaction "`81148049`", time consumed: 138 hours and 22 mins; +30 added to your rating, at the moment it is: [+345](http://www.netbout.com/b/36421?open=rating)

[2016-03-21 20:34] davvd commented on #635
@happy-neko this task is in your hands for 16 days already... -30 added to your rating, current score is: [+188](http://www.netbout.com/b/36136?open=rating)

[2016-03-21 20:34] davvd commented on #655
@dalifreire it's yours, please go ahead

[2016-03-21 20:48] yegor256 commented on #654
@dalifreire how can we fix that? I don't think it's possible to do anything. let's just wait

[2016-03-21 20:48] #654 closed

[2016-03-21 20:52] essobedo commented on #495
@davvd @yegor256 are you kidding me? The PR has been merged already, I did my job already, it was stuck because you did not ask the QA to review. Loosing 60 points with still a quota of 2 instead of 5, it is totally unfair, please give me back my points and add me 30 points for the work done

[2016-03-21 20:56] essobedo commented on #495
@davvd @yegor256 I asked you to ask the QA to review the ticket 4 days ago

[2016-03-21 20:56] yegor256 commented on #646
@2686747 yeah, I read that dude, a few times :) check this out: http://www.yegor256.com/2014/12/09/immutable-object-state-and-behavior.html

[2016-03-21 20:59] yegor256 commented on #495
@essobedo first you have to close the ticket. only after that the QA will jump in. at the moment the problem is still not solved. too early for QA

[2016-03-21 21:00] yegor256 commented on #495
@essobedo keep in mind that merging a PR doesn't mean solving a problem. you may have 4 PRs for one ticket and still the problem won't be solved.

[2016-03-21 21:07] essobedo commented on #495
@yegor256 what am I supposed to do then if I wait days for other people to do the part of the job? Like here answers, validations and/or QA? I'm sorry but it is really unfair, I worked hard on this one and you know it, I don't believe that I deserve it. Any time I had an answers, I always answered couple hours later even Sundays. If you think that I'm not good enough to work with you, just tell me

[2016-03-21 21:13] yegor256 commented on #652
@exper0 fixed in 9bf9e7f thanks!

[2016-03-21 21:13] #652 closed

[2016-03-21 21:13] yegor256 commented on #652
@rultor release, tag is `0.32.7`

[2016-03-21 21:15] rultor commented on #652
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7806-199489849)

[2016-03-21 21:25] rultor commented on #652
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7806-199489849) (took me 9min)

[2016-03-21 21:26] yegor256 commented on #495
@essobedo good intentions are not enough (basically, we don't care much about intentions). Discipline - this is what is more important. All rules are listed here: http://at.teamed.io/policy Read them once again. I'll put this ticket back to you, because you're new to our process. But keep this in mind for the future: we care only about your objective results. A closed ticket is a result. Everythin

[2016-03-21 21:26] yegor256 commented on #495
@davvd pls assign @essobedo back here

[2016-03-21 21:35] essobedo commented on #495
@yegor256 thank you. Another question why do I still have a quota of 2 instead of 5 as described in the policy?

[2016-03-21 21:37] essobedo commented on #495
@yegor256 here I'm supposed to ask for "more time" then right?

[2016-03-21 21:55] essobedo commented on #495
@davvd more time

[2016-03-21 21:58] 2686747 commented on #646
@yegor256 how is your own [example](http://www.yegor256.com/2014/06/09/objects-should-be-immutable.html#avoiding-side-effects) with side effect  different from RqPrint(request).print() (except syntax of course)?

[2016-03-22 13:00] davvd commented on #651
@carlosgines since there is no milestone yet I set it to "1.0"

[2016-03-22 13:00] davvd commented on #655
@yegor256 since there is no milestone yet I set it to "1.0"

[2016-03-22 13:00] davvd commented on #495
@yegor256 done, @essobedo is assigned to this task, and is already working on it, AFAIK

[2016-03-22 13:00] davvd commented on #495
@essobedo no problem, thanks for letting me know

[2016-03-22 13:01] davvd opened #656 "TkProxyTest.java:52-54: We need more tests for..."
Puzzle `458-ca123cf9` in `src/test/java/org/takes/tk/TkProxyTest.java:52-54` has to be resolved: We need more tests for TkProxy. The tests should verify different combinations of request/response headers. This is the continuation of the issue #377.... The puzzle was created by Sebin George on 15-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2016-03-22 13:08] davvd commented on #624
@yegor256 we waited for #654, it is closed already

[2016-03-22 13:08] davvd commented on #591
@rfqu this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 to your rating, your total score is [-135](http://www.netbout.com/b/36195?open=rating)

[2016-03-22 13:08] davvd commented on #651
@triberraar this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanati

[2016-03-22 13:08] davvd commented on #656
@triberraar it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-03-22 13:09] davvd commented on #651
@carlosgines thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-2S985733VJ2962257`

[2016-03-22 13:18] essobedo commented on #495
@yegor256 @davvd what about my 60 points lost, can't I get them back ? I'm new to your process as @yegor256 said, let's say that it was my only and last warning so please give them me back.

[2016-03-22 13:58] davvd commented on #656
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-03-22 14:35] davvd commented on #623
@raphaelln added 10 mins to @ypshenychka, for QA review, payment code is `81192323`. Thank you, I have added **30 mins** to your account in payment/transaction "`AP-7U202156LR004453N`", time consumed: 296 hours and 30 mins. +30 added to your rating, current score is: [+60](http://www.netbout.com/b/36530?open=rating)

[2016-03-22 15:58] davvd commented on #627
@raphaelln I added 10 mins to @ypshenychka (for QA review) in transaction 81197360; thanks, I just added **30 mins** to your account, payment `AP-22D74699JV219591B`, 254 hours and 34 mins spent; +30 to your rating, your total score is [+90](http://www.netbout.com/b/36530?open=rating)

[2016-03-22 20:33] #458 closed

[2016-03-22 20:33] #519 closed

[2016-03-22 20:33] davvd commented on #458
@yegor256 Finished, thanks, closing..

[2016-03-22 20:33] davvd commented on #519
@yegor256 Thanks all, I am closing

[2016-03-22 20:33] davvd commented on #458
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-03-22 20:33] davvd commented on #519
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-03-22 23:34] essobedo commented on #495
@davvd the ticket is ready to be reviewed by the QA, thank you in advance?
@davvd how many more days do I have when you accept to give "more time" for the task?

[2016-03-22 23:58] yegor256 commented on #495
@essobedo we can't revert bonus back. the ticket is NOT ready to be reviewed by QA. it will be ready, when it's closed. please, read this entire article: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-03-23 06:18] vbodak commented on #519
@davvd Quality is good.

[2016-03-23 06:18] ypshenychka commented on #519
@davvd Quality is good.

[2016-03-23 06:21] ypshenychka commented on #458
@davvd Quality is good.

[2016-03-23 07:25] piotrkot commented on #495
@essobedo I think now it is the time to ask the one who opened the ticket (that is me) to close it.
Just checked the current version of takes (1.0-SNAPSHOT) with my [takesbug](https://github.com/piotrkot/takesbug). The bug is fixed. Thank you very much for your support.

[2016-03-23 07:25] #495 closed

[2016-03-23 08:38] essobedo commented on #495
@piotrkot you are right, thank you very much

[2016-03-23 08:49] essobedo commented on #495
@davvd The ticket is closed so it is ready for the QA

[2016-03-23 09:09] davvd commented on #458
@ypshenychka thanks, got it, great to see high-quality tickets here

[2016-03-23 09:09] davvd commented on #519
@ypshenychka thanks for the review

[2016-03-23 09:20] davvd commented on #458
@sebing just added 10 mins to @ypshenychka (for QA), payment ID is `81275141`; Much appreciated! **30 mins** was added to your account, payment ID `56f25f84dfebd866f4000028`, time spent is 1277 hours and 46 mins; added +30 to your rating, now it is equal to [+135](http://www.netbout.com/b/36309?open=rating)

[2016-03-23 12:12] davvd commented on #519
@sebing I added 10 mins to @ypshenychka (for QA review) in transaction 81282917

**30 mins** added to your account (payment number `56f287f15eb9b73e300002c4`), many thanks for your contribution! 245 hours and 2 mins spent here.

added +30 to your rating, now it is equal to [+165](http://www.netbout.com/b/36309?open=rating)

[2016-03-23 18:54] davvd commented on #495
@essobedo OK

[2016-03-23 20:23] davvd commented on #591
@bubelov this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-03-24 09:41] davvd commented on #495
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-03-24 09:55] ypshenychka commented on #495
@davvd Quality is good.

[2016-03-24 12:08] davvd commented on #495
@ypshenychka thanks a lot :)

[2016-03-24 12:15] davvd commented on #495
@essobedo paied 10 mins to @ypshenychka for QA review (payment ID is `81340165`). Thank you, I have added **1 hour** to your account in payment/transaction "`81340181`", time consumed: 20 hours and 7 mins. there is a bonus for fast delivery (m=1207). +60 to your rating, your total score is [+345](http://www.netbout.com/b/36421?open=rating)

[2016-03-25 11:47] essobedo commented on #495
@davvd many thanks

[2016-03-25 14:35] davvd commented on #495
@essobedo np :)

[2016-03-25 14:53] dalifreire commented on #655
@davvd please, assign someone else.

[2016-03-25 18:09] davvd commented on #655
@dalifreire deducted 30 from your rating :(

[2016-03-25 18:09] davvd commented on #655
@dalifreire right, I will find someone else, no problem

[2016-03-25 19:10] davvd commented on #655
@essobedo please proceed, it's yours

[2016-03-26 10:19] davvd commented on #635
@happy-neko this task is not yours any more (took too long), please stop. I'll give you something else. -60 added to your rating, current score is: [+30](http://www.netbout.com/b/36136?open=rating)

[2016-03-26 12:32] essobedo commented on #655
@davvd here is my PR #657 please find a reviewer.

[2016-03-26 13:05] davvd commented on #635
@essobedo the task is yours please proceed

[2016-03-26 14:00] davvd commented on #655
@essobedo OK, sure

[2016-03-26 16:16] essobedo commented on #635
@davvd here is my PR #658 please find a reviewer.

[2016-03-26 18:42] davvd commented on #635
@essobedo OK

[2016-03-28 22:48] yegor256 commented on #646
@2686747 we're dealing with a mutable InputStream here, that's why we inevitably have that side effect. we can't get rid of it, without breaking the entire idea of mutable input streams in Java. blame Java, not us :)

[2016-03-29 19:46] essobedo commented on #635
@CarlosGines the PR has been merged please close the ticket

[2016-03-29 19:48] essobedo commented on #655
@davvd the PR has been merged, please proceed

[2016-03-29 20:50] CarlosGines commented on #635
@essobedo Thank you!

[2016-03-29 20:50] #635 closed

[2016-03-30 19:12] essobedo commented on #635
@davvd the ticket is closed, please proceed

[2016-03-31 14:14] essobedo commented on #635
@davvd please

[2016-03-31 14:15] essobedo commented on #655
@davvd please

[2016-03-31 19:11] essobedo commented on #635
@davvd I guess that there is a good reason that prevents you to go any further so could you please tell me what it is? Just to allow me to be aware of the entire workflow. Thank you in advance.

[2016-03-31 19:11] essobedo commented on #655
@davvd I guess that there is a good reason that prevents you to go any further so could you please tell me what it is? Just to allow me to be aware of the entire workflow. Thank you in advance.

[2016-04-01 09:16] essobedo commented on #635
@davvd ping

[2016-04-01 09:16] essobedo commented on #655
@davvd ping

[2016-04-01 10:52] davvd commented on #635
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-04-01 11:02] ypshenychka commented on #635
@davvd Quality is good.

[2016-04-01 15:04] davvd commented on #635
@ypshenychka thanks for the review

[2016-04-01 15:10] davvd commented on #635
@essobedo 10 mins was added to the account of @ypshenychka (for QA review), in transaction 82132883... thanks, I just added **30 mins** to your account, payment `82132897`, 93 hours and 49 mins spent... +30 added to your rating, at the moment it is: [+405](http://www.netbout.com/b/36421?open=rating)

[2016-04-01 15:13] essobedo commented on #635
@davvd thx

[2016-04-02 15:23] essobedo commented on #655
@davvd please close the ticket

[2016-04-02 17:11] davvd commented on #655
@yegor256 Thanks, closed

[2016-04-02 17:11] #655 closed

[2016-04-02 17:12] davvd commented on #655
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-04-02 19:03] essobedo commented on #655
@davvd thanks

[2016-04-02 20:56] elenavolokhova commented on #655
@davvd Looks good!

[2016-04-03 10:24] davvd commented on #655
@elenavolokhova many thanks

[2016-04-03 10:39] davvd commented on #655
@essobedo 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 82204435

Much appreciated! **30 mins** was added to your account, payment ID `82204449`, time spent is 163 hours and 53 mins

+30 to your rating, your total score is [+435](http://www.netbout.com/b/36421?open=rating)

[2016-04-05 20:47] davvd commented on #625
@2686747 you're working with this issue for 15 days already; do not forget that you should remove the `@todo` puzzle from the source code; -30 added to your rating, current score is: [+61](http://www.netbout.com/b/36452?open=rating)

[2016-04-05 21:05] 2686747 commented on #625
@davvd ))) Do you mean [this](https://github.com/yegor256/takes/pull/653/commits/51b3b71cba8e36eee58ca0e10a3312675bc41192#diff-fe16955f17e637d59542c8cff5c6edc7L92)? I finished here 19 days ago, you have to ask somebody other.

[2016-04-06 11:06] davvd commented on #626
@triberraar check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. added -30 to your rating, now it is equal t

[2016-04-06 16:08] davvd commented on #624
@dalifreire you're working with this issue for 15 days already... as a reminder, don't forget to remove the `@todo` puzzle from the source code... -30 to your rating, your total score is [+75](http://www.netbout.com/b/36485?open=rating)

[2016-04-06 16:24] dalifreire commented on #624
@davvd Why? The pull request #647 was created... take a look in the PR and the issue #654.

[2016-04-06 18:33] davvd commented on #656
@triberraar the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

do not forget that you should remove the `@to

[2016-04-06 20:43] davvd commented on #651
@triberraar check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 to your rating, your total score is [-9

[2016-04-08 14:18] davvd commented on #591
@bubelov check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score is:

[2016-04-08 14:28] essobedo commented on #591
@davvd The build doesn't fail anymore, this issue has been fixed by another ticket so it is obviously out dated.

[2016-04-08 15:14] davvd commented on #438
@bdragan the last puzzle `438-dcc4d707`/#544 solved

[2016-04-10 20:00] davvd commented on #625
@2686747 it's not yours any more,because it took too long,please stop working with it; -60 added to your rating, at the moment it is: [+1](http://www.netbout.com/b/36452?open=rating)

[2016-04-11 10:04] dalifreire commented on #624
@davvd PR #647 closed, please proceed.

[2016-04-11 10:06] dalifreire commented on #624
@yegor256 Could you talk to @davvd to revert my penalty (30 points) for delay?

[2016-04-11 11:23] davvd commented on #624
@dalifreire thanks for that

[2016-04-11 11:23] davvd commented on #635
@essobedo np

[2016-04-11 11:28] davvd commented on #626
@triberraar this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 added to your rating, at the moment it is: [-150](http://www.netbout.com/b/36486?open=rating)

[2016-04-11 16:06] davvd commented on #624
@dalifreire this task is not yours any more (took too long), please stop. I'll give you something else... -60 added to your rating, current score is: [+15](http://www.netbout.com/b/36485?open=rating)

[2016-04-11 16:06] davvd commented on #625
@dalifreire the task is yours please proceed

[2016-04-11 16:26] dalifreire commented on #624
@davvd The task was finished and the PR was merged. I can't understand you.

[2016-04-11 16:26] dalifreire commented on #624
@yegor256 We need your help here.

[2016-04-11 18:16] dalifreire commented on #625
@davvd I think we have a misunderstand here. I think that this task was done once the PR #653 was created by @2686747. Maybe the same problem occurred with me in the task #624.

[2016-04-11 18:17] dalifreire commented on #625
@yegor256 Maybe we need your help here too.

[2016-04-11 18:31] davvd commented on #626
@essobedo the task is yours, please go ahead

[2016-04-11 18:31] davvd commented on #656
@triberraar it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. added -60 to your rating, now it is equal to [-210](http://www.netbout.com/b/36486?open=rating)

[2016-04-11 20:31] davvd commented on #591
@essobedo just close it

[2016-04-11 20:41] davvd commented on #624
@essobedo the task is yours,please go ahead

[2016-04-11 20:41] davvd commented on #651
@triberraar it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 to your rating, your total score is [-270](http://www.netbout.com/b/36486?open=rating)

[2016-04-11 20:51] dalifreire commented on #624
@davvd Please, pay attention what you are doing! Why do you not read my messages?

[2016-04-12 07:50] essobedo commented on #591
OK np

[2016-04-12 07:50] #591 closed

[2016-04-12 09:55] davvd commented on #656
@essobedo it's yours, please go ahead

[2016-04-12 12:33] essobedo commented on #626
@davvd Here is my PR #659 please find a reviewer

[2016-04-12 12:35] essobedo commented on #626
@CarlosGines @yegor256 @exper0 @original-brownbear FYI the bug still exists, I've just proposed a PR to fix it

[2016-04-12 14:02] davvd commented on #626
@essobedo OK, got it

[2016-04-12 14:07] davvd commented on #651
@essobedo the task is yours please proceed

[2016-04-12 14:50] davvd opened #660 "pom.xml:338-340: Continue fixing FindBugs violations started..."
Puzzle `624-78dfe52a` in `pom.xml:338-340` has to be resolved: Continue fixing FindBugs violations started in #624. #624 turned on the FindBugs, temporarily excluding some classes. Remove all excludes of FindBugs below and fix the issues.... The puzzle was created by Dalí Freire on 29-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2016-04-12 14:51] davvd commented on #624
@yegor256 once `624-78dfe52a`/#660 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-04-12 14:59] davvd commented on #660
@essobedo please proceed, it's yours

[2016-04-12 16:03] essobedo commented on #651
@davvd this issue depends on #626

[2016-04-12 17:02] essobedo commented on #656
@davvd here is my PR #661 please find a reviewer

[2016-04-12 17:36] davvd commented on #660
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2016-04-12 17:36] davvd commented on #651
@essobedo agreed, we'll wait for #626

[2016-04-12 19:02] davvd commented on #656
@essobedo OK, sure

[2016-04-12 20:18] yegor256 commented on #624
@dalifreire what do you think is wrong here? the puzzle is still in the code. that's why the ticket is not closed. you missed the deadline and the task was taken away from you. or I miss something?

[2016-04-12 21:48] dalifreire commented on #624
@yegor256 Maybe some misunderstand about [PDD](http://www.yegor256.com/2009/03/04/pdd.html) happens here. I thought I could create another puzzle based on this ticket... 30 minutes to implement this task is not enough and requires more work than the slotted time allows. So I fixed some things and a new puzzle was created so that can be resolved by other people. Take a look in the PR #647 descripti

[2016-04-13 10:02] davvd commented on #591
@bubelov I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2016-04-13 12:39] essobedo commented on #660
@davvd here is my PR #662 please find a reviewer

[2016-04-13 14:19] davvd commented on #660
@essobedo OK, sure

[2016-04-13 17:03] #624 closed

[2016-04-13 17:03] davvd commented on #624
@yegor256 Done, the task is closed

[2016-04-13 17:03] davvd commented on #624
@essobedo No messages from you above, won't pay for now. If I'm wrong, correct me.

[2016-04-14 10:32] essobedo commented on #624
@davvd no, you are perfectly right

[2016-04-14 10:57] essobedo commented on #660
@davvd waiting for https://github.com/teamed/qulice/issues/762. Indeed I need some help from the Qulice Team to fix it properly

[2016-04-17 14:03] dalifreire commented on #624
@yegor256 Did you read my last message? If no, could you read and tell me if I didn't understand very well the PDD?

[2016-04-17 15:56] dalifreire commented on #625
@davvd PR #663 created.

[2016-04-17 17:05] essobedo commented on #656
@davvd the PR has been merged, it is ready for the QA

[2016-04-17 17:06] essobedo commented on #626
@CarlosGines the PR has been merged, you can close the ticket, thx in advance

[2016-04-17 17:20] yegor256 commented on #624
@dalifreire I didn't understand the question... but please keep in mind that everything (!) is your fault. check our policy, especially this par: http://at.teamed.io/policy.html#7 make sense?

[2016-04-17 17:23] davvd commented on #625
@dalifreire thank you

[2016-04-17 17:52] dalifreire commented on #624
@yegor256 I don't care about the payment. I'm trying to understand the Puzzle Driven Development.

My questions are:
- Can I create another puzzle based on existing ticket? If I think that the 30 minutes is not enough because the problem is much bigger and requires more work than the slotted time allows (the PR #647  was created and merged because I thought that we can break a puzzle into minor pi

[2016-04-17 21:38] #626 closed

[2016-04-17 21:40] CarlosGines commented on #626
@essobedo thank you, #626 closed.

[2016-04-18 07:49] essobedo commented on #626
@davvd the ticket is closed, it is ready for the QA, thx in advance.

[2016-04-18 08:47] essobedo opened #664 "Get rid of StandardCharsets.UTF_8"
There are many classes in the code base that rely on the public constant _StandardCharsets.UTF_8_ which is not a good solution for data duplication because:

1. It introduces coupling between all those classes and _StandardCharsets_ such that if the value is modified or simply removed those classes won't work properly anymore or won't even compile.
2. it reduces the global cohesion of those classe

[2016-04-18 11:02] essobedo commented on #651
@davvd here is my PR #665 please find a reviewer.

[2016-04-18 13:08] davvd commented on #651
@essobedo OK

[2016-04-18 14:59] yegor256 commented on #624
@dalifreire 1) yes, you can create as many puzzles in your branch as you wish; 2) yes, if PR review is delayed the author of the PR is penalized; 3) PM reads questions and replies, as much as possible, but don't rely too much on communications here, nobody really cares about your questions, only about your results, try to figure our yourself what to do (I would strongly recommend to read all artic

[2016-04-18 15:55] dalifreire commented on #625
@davvd PR #663 was merged, please proceed.

[2016-04-18 17:15] davvd commented on #625
@dalifreire thanks for that

[2016-04-18 17:32] davvd commented on #651
@carlosgines #626 is closed, we were waiting for it.. maybe we can continue?

[2016-04-19 09:22] essobedo commented on #651
@davvd I confirm that since #626 is closed, I can continue, I could even propose a PR as you can see above

[2016-04-19 09:23] essobedo commented on #660
@davvd could you please confirm that you approve that this issue depends on https://github.com/teamed/qulice/issues/762 ?

[2016-04-19 13:52] davvd commented on #626
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-04-19 14:13] ypshenychka commented on #626
@davvd Quality is good here.

[2016-04-19 18:19] davvd commented on #626
@ypshenychka thank you

[2016-04-19 18:28] davvd commented on #626
@essobedo I added 10 mins to @ypshenychka (for QA review) in transaction 84077467

**30 mins** sent to your balance (ID `84077497`), many thanks! It took 160 hours and 45 mins.

+30 added to your rating, at the moment it is: [+465](http://www.netbout.com/b/36421?open=rating)

[2016-04-20 10:20] essobedo commented on #660
@davvd waiting for https://github.com/teamed/qulice/issues/762

[2016-04-21 06:46] essobedo commented on #651
@CarlosGines the PR has been merged, you can close the ticket, thx in advance

[2016-04-21 10:44] essobedo commented on #660
@davvd @yegor256 this ticket depends on https://github.com/teamed/qulice/issues/762 so we should have "Impediment" in the details of this ticket in my agenda, shouldn't we?

[2016-04-21 11:16] #651 closed

[2016-04-21 11:16] CarlosGines commented on #651
@essobedo closed, thank you.

[2016-04-21 11:53] essobedo commented on #651
@davvd The ticket is ready for the QA, thx in advance

[2016-04-21 18:51] dalifreire commented on #625
@davvd please close the ticket.

[2016-04-22 08:38] essobedo commented on #651
@davvd a QA validation is needed here, thx

[2016-04-22 08:39] essobedo commented on #656
@davvd need more time for other tasks of the puzzle to comple

[2016-04-22 08:40] essobedo commented on #660
@davvd need more time to get the required information from https://github.com/teamed/qulice/issues/762

[2016-04-22 10:45] davvd commented on #656
@essobedo OK

[2016-04-22 10:45] davvd commented on #656
@essobedo of course, thanks for letting me know, take your time

[2016-04-22 10:45] davvd commented on #651
@essobedo OK

[2016-04-22 10:45] davvd commented on #660
@essobedo of course, thanks for letting me know, take your time

[2016-04-22 11:03] davvd commented on #625
@yegor256 Done, thanks all, closing..

[2016-04-22 11:03] #625 closed

[2016-04-22 11:04] davvd commented on #625
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-04-22 11:04] davvd commented on #656
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-04-22 11:05] davvd commented on #664
@yegor256 please do something about this issue

[2016-04-22 12:09] davvd commented on #530
@krzyk the last puzzle `558-7b985928`/#600 originated from here solved

[2016-04-22 12:09] davvd commented on #558
@yegor256 the last puzzle `558-7b985928`/#600 solved

[2016-04-22 12:09] davvd commented on #254
@dmzaytsev the last puzzle `254-40a8e0fe`/#576 solved

[2016-04-22 12:12] davvd commented on #656
@yegor256 The task is closed, thanks everybody

[2016-04-22 12:12] #656 closed

[2016-04-22 12:21] ypshenychka commented on #625
@davvd Quality is good.

[2016-04-22 12:22] ypshenychka commented on #656
@davvd Quality is good.

[2016-04-22 14:22] davvd commented on #625
@ypshenychka thanks, got it, great to see high-quality tickets here

[2016-04-22 14:22] davvd commented on #656
@ypshenychka thanks a lot :)

[2016-04-22 14:29] davvd commented on #625
@dalifreire paied 10 mins to @ypshenychka for QA review (payment ID is `84292132`); I just added **30 mins** to your account, many thanks for your contribution (84292156).. 185 hours and 59 mins spent here; +30 added to your rating, at the moment it is: [+45](http://www.netbout.com/b/36485?open=rating)

[2016-04-22 17:24] davvd commented on #656
@essobedo added 10 mins to @ypshenychka, for QA review, payment code is `84301631`; I added **30 mins** to your account, many thanks for working with the project (84301655)! The completion time here was 168 hours and 10 mins.; +30 added to your rating, current score is: [+495](http://www.netbout.com/b/36421?open=rating)

[2016-04-23 10:52] davvd commented on #651
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-04-23 11:41] davvd opened #666 "RqMtBase.java:80-83: This class is highly coupled,..."
Puzzle `651-43df2f64` in `src/main/java/org/takes/rq/multipart/RqMtBase.java:80-83` has to be resolved: This class is highly coupled, it should be refactored in order to be able to reduce the overall coupling of this class which will allow to remove the violations ClassDataAbstractionCouplingCheck and PMD.ExcessiveImports.... The puzzle was created by Nicolas Filotto on 18-Apr-2016.

If you have a

[2016-04-23 11:42] davvd commented on #651
@carlosgines there is a puzzle in this code `651-43df2f64`/#666, we'll resolve it later

[2016-04-23 11:48] davvd commented on #666
@essobedo please proceed, it's yours

[2016-04-23 13:26] davvd commented on #666
@yegor256 since the ticket has no milestone I set it to 1.0

[2016-04-23 15:46] essobedo opened #667 "The code base is polluted by String#toLowerCase(Locale.ENGLISH)"
There are too many places in the code base where we call _toLowerCase(Locale.ENGLISH)_ from a _String_, I believe that is time to create a new _Class_ in the _misc_ package that will do it for us and clean up the code base by getting rid of all those calls to _String#toLowerCase(Locale.ENGLISH) _

Keep [this](http://www.yegor256.com/2014/05/05/oop-alternative-to-utility-classes.html) in mind while

[2016-04-23 16:58] essobedo commented on #666
@davvd here is the PR #668 please find a reviewer

[2016-04-23 18:17] davvd commented on #666
@essobedo OK

[2016-04-23 19:28] elenavolokhova commented on #651
@davvd Looks good!

[2016-04-24 09:20] davvd commented on #651
@elenavolokhova many thanks

[2016-04-24 09:31] davvd commented on #651
@essobedo 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 84361996... thanks, I just added **30 mins** to your account, payment `84362005`, 89 hours and 12 mins spent... +30 added to your rating, current score is: [+525](http://www.netbout.com/b/36421?open=rating)

[2016-04-25 09:35] davvd commented on #664
@essobedo I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-04-25 09:41] davvd commented on #664
@xupyprmv it's yours,please go ahead

[2016-04-25 09:42] davvd commented on #664
@essobedo many thanks for the report, I topped your account for 15 mins, transaction 84402755

[2016-04-25 18:03] dmzaytsev opened #669 "error message from google+ api"
this is actual error response from Google+ api
[code]
but PsGoogle [uses](https://github.com/yegor256/takes/blob/master/src%2Fmain%2Fjava%2Forg%2Ftakes%2Ffacets%2Fauth%2Fsocial%2FPsGoogle.java#L159) `json.get("message")` to get the error message
[code]

let's use a proper attribute for the error message

[2016-04-26 05:22] xupyprmv commented on #664
@davvd I added PR #670. Please find someone to review.

[2016-04-26 10:14] yegor256 opened #671 "TkProxy loses URL query parameters"
Originally from here: https://github.com/yegor256/jare/issues/8

[2016-04-26 11:04] davvd commented on #671
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-04-26 11:05] davvd commented on #664
@xupyprmv thank you!

[2016-04-26 11:10] davvd commented on #671
@yegor256 it's yours, budget is 30 mins, please go ahead

[2016-04-26 11:10] davvd commented on #671
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-c8b1a6bb`

[2016-04-26 12:28] amihaiemil opened #672 "Refactor class PsGithub.java"
[This](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/auth/social/PsGithub.java) class could be refactored a lot if we use ``jcabi-github`` lib.

1) Method ``private Identity fetch(final String token) throws IOException`` would become:

[code]

2) If issue https://github.com/jcabi/jcabi-github/issues/1223 is accepted and implemented, then also method ``private String

[2016-04-26 16:23] davvd commented on #667
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-04-27 06:57] yegor256 commented on #671
@rultor try to release, tag is `0.32.8`

[2016-04-27 06:58] rultor commented on #671
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8158-214988251)

[2016-04-27 07:05] rultor commented on #671
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8158-214988251) (took me 6min)

[2016-04-27 07:05] #671 closed

[2016-04-28 09:32] essobedo commented on #660
@davvd FYI https://github.com/teamed/qulice/issues/762 is now closed, the PR has been approved by the reviewer, so now we only wait for the architect to review it

[2016-04-28 13:25] davvd commented on #671
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-04-28 19:01] davvd commented on #669
@yegor256 please dispatch this issue

[2016-04-29 11:02] elenavolokhova commented on #671
@yegor256
 According to our [quality rules](http://www.teamed.io/qa.html):

 This was not a case in this ticket. Please avoid fixing your own issues.

 There is no link to related PR in comments. Please follow this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2016-04-29 12:37] davvd commented on #672
@yegor256 please dispatch this issue

[2016-04-30 10:47] essobedo commented on #660
@davvd need more time to be validated by the architect

[2016-04-30 12:35] davvd commented on #660
@essobedo sure, take your time, I know about this pause

[2016-05-02 09:23] amihaiemil commented on #672
@yegor256 can you have a look here? Thanks

[2016-05-02 15:10] essobedo commented on #666
@davvd need more time to be validated by the architect

[2016-05-02 16:19] davvd commented on #666
@essobedo agreed, take your time

[2016-05-03 11:03] yegor256 commented on #672
@amihaiemil it's a good idea, but we shouldn't implement it. mostly because it will create unnecessary coupling between these two libraries. moreover, the ticket https://github.com/jcabi/jcabi-github/issues/1223 was not accepted. I don't see any problem with our current implementation of GitHub connectivity.

[2016-05-03 13:10] yegor256 commented on #667
@essobedo good idea, thanks

[2016-05-03 13:26] yegor256 commented on #671
@elenavolokhova you're right, thanks for catching this, my bad. will try to avoid that in the future

[2016-05-03 13:39] davvd commented on #667
@essobedo milestone set to `1.0` (correct me if I am wrong)

[2016-05-03 13:39] davvd commented on #669
@dmzaytsev there is no milestone yet, so I set it to `1.0`

[2016-05-03 13:46] davvd commented on #667
@happy-neko please go ahead with this task, it's yours

[2016-05-03 13:46] davvd commented on #669
@xupyprmv the task is yours, please go ahead

[2016-05-03 13:46] davvd commented on #669
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `85533986`

[2016-05-03 14:04] essobedo commented on #667
@davvd I must admit that I still don't know how versioning works in the different projects of teamed.io. When I create a new class I never know which version to set. Is there a doc somewhere that explain how the versioning works in teamed.io's project? What does it mean to set milestone to 1.0 in practice?

[2016-05-03 14:55] davvd commented on #667
@essobedo thanks for reporting! I topped your account for 15 mins, transaction 85537942

[2016-05-03 16:49] elenavolokhova commented on #671
@davvd Quality is acceptable here.

[2016-05-03 17:50] davvd commented on #671
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2016-05-03 17:55] davvd commented on #671
@yegor256 I added 10 mins to @elenavolokhova (for QA review) in transaction 85549060

I added **1 hour** to your account, many thanks for working with the project (000-cfd546b6)! The completion time here was 23 hours and 59 mins.

the bonus for fast delivery (m=1439)

+60 added to your rating, at the moment it is: [+1223](http://www.netbout.com/b/35008?open=rating)

[2016-05-03 19:44] Happy-Neko commented on #667
@davvd Please assign someone else to this task.
I could not properly set "away" status before because netbout's google sign-in was broken.

[2016-05-03 20:11] essobedo commented on #666
@davvd the PR has been merged, you can proceed

[2016-05-04 10:15] davvd commented on #667
@happy-neko OK, I will try to assign someone else

[2016-05-04 12:10] davvd commented on #667
@dalifreire please go ahead with this task, it's yours

[2016-05-04 12:52] #672 closed

[2016-05-04 16:21] davvd opened #674 "RsXSLT.java:143-145: continue removing usage StandardCharsets.UTF_8 from..."
Puzzle `664-ddd2c9b3` in `src/main/java/org/takes/rs/RsXSLT.java:143-145` has to be resolved: continue removing usage StandardCharsets.UTF_8 from takes code (remove usage not only from this class but also from other parts of project). Please look at #664 for more details.... The puzzle was created by Maksimenko Vladimir on 25-Apr-2016.

If you have any technical questions, don't ask me, submit new

[2016-05-04 16:21] davvd commented on #664
@essobedo there is a puzzle in this code `664-ddd2c9b3`/#674, we'll resolve it later

[2016-05-04 16:27] davvd commented on #674
@dalifreire please go ahead with this task, it's yours

[2016-05-04 17:37] davvd commented on #674
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-05-05 00:28] dalifreire commented on #674
@davvd Thanks, I'm starting now...

[2016-05-05 02:43] dalifreire commented on #674
@davvd PR #675 created... please proceed.

[2016-05-05 08:54] xupyprmv commented on #664
@essobedo PR #670 was merged. Please close this ticket.

[2016-05-05 09:15] davvd commented on #674
@dalifreire sure, you are welcome

[2016-05-05 09:15] davvd commented on #674
@dalifreire thanks

[2016-05-05 09:34] #664 closed

[2016-05-05 09:40] xupyprmv commented on #664
@davvd This ticket is closed.

[2016-05-05 11:13] dalifreire commented on #667
@davvd PR #676 created... please proceed.

[2016-05-05 14:47] davvd commented on #667
@dalifreire thank you!

[2016-05-05 17:09] davvd commented on #666
@yegor256 Thanks, closing it now.

[2016-05-05 17:09] #666 closed

[2016-05-05 17:09] davvd commented on #666
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-05-05 17:12] ypshenychka commented on #666
@davvd Quality is good.

[2016-05-05 18:38] davvd commented on #666
@ypshenychka thanks!

[2016-05-05 18:50] davvd commented on #666
@essobedo paied 10 mins to @ypshenychka for QA review (payment ID is `85728918`)

**30 mins** was added to your account, many thanks for your contribution (payment 85728968)! The task took 268 hours and 33 mins.

+30 to your rating, your total score is [+657](http://www.netbout.com/b/36421?open=rating)

[2016-05-06 14:43] davvd commented on #664
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-05-06 15:13] ypshenychka commented on #664
@davvd Quality is good.

[2016-05-06 17:41] davvd commented on #664
@ypshenychka thanks a lot

[2016-05-06 17:51] davvd commented on #664
@xupyprmv just added 10 mins to @ypshenychka (for QA), payment ID is `85782608`; Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-0AT68670G4324460D`, 241 hours and 45 mins spent total; added +30 to your rating, now it is equal to [+315](http://www.netbout.com/b/35999?open=rating)

[2016-05-07 18:30] dalifreire commented on #674
@davvd The CR was done in #675... we are waiting for @yegor256 to confirm the merge.

[2016-05-07 18:31] dalifreire commented on #667
@davvd The CR was done in #676... we are waiting for @yegor256 to confirm the merge.

[2016-05-08 15:50] xupyprmv commented on #669
@dmzaytsev PR #677 was merged. Please close this ticket.

[2016-05-08 16:36] dmzaytsev commented on #669
@xupyprmv thanks

[2016-05-08 16:36] #669 closed

[2016-05-09 10:03] dalifreire commented on #674
@davvd The PR #675 was merged. Please, proceed.

[2016-05-09 14:26] davvd commented on #674
@dalifreire OK

[2016-05-09 14:26] davvd commented on #674
@dalifreire thank you

[2016-05-09 18:26] davvd commented on #669
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-05-10 06:45] ypshenychka commented on #669
@davvd Quality is good.

[2016-05-10 10:24] davvd commented on #669
@ypshenychka thank you

[2016-05-10 10:32] davvd commented on #669
@xupyprmv 10 mins was added to the account of @ypshenychka (for QA review), in transaction 86254018... thanks, I just added **30 mins** to your account, payment `AP-7R6128490C322201C`, 123 hours and 51 mins spent... +30 added to your rating, current score is: [+345](http://www.netbout.com/b/35999?open=rating)

[2016-05-10 20:16] #674 closed

[2016-05-10 20:17] davvd commented on #674
@yegor256 Thanks, closed

[2016-05-10 20:17] davvd commented on #674
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-05-11 04:48] ypshenychka commented on #674
@davvd Quality is good.

[2016-05-11 10:43] davvd commented on #674
@ypshenychka thanks a lot :)

[2016-05-11 10:52] davvd commented on #674
@dalifreire 10 mins was added to the account of @ypshenychka (for QA review), in transaction 86361412... Many thanks! **30 mins** were added to your account in Transaction ID `86361432` (task took 121 hours and 55 mins)... +30 added to your rating, current score is: [+75](http://www.netbout.com/b/36485?open=rating)

[2016-05-11 13:41] essobedo commented on #660
@davvd the PR has been merged, you can proceed, thx

[2016-05-11 21:34] dalifreire commented on #667
@davvd We need more time here. Looks like the AppVeyor container is dead, so we can`t merge the PR #676 now.

[2016-05-16 13:21] davvd opened #678 "HttpException.java:34-36: Remove the SuppressWarnings PMD.BeanMembersShouldSerialize once..."
Puzzle `660-949a08e1` in `src/main/java/org/takes/HttpException.java:34-36` has to be resolved: Remove the SuppressWarnings PMD.BeanMembersShouldSerialize once the next release of Qulice will be available as it has been removed by https://github.com/teamed/qulice/issues/675... The puzzle was created by Nicolas Filotto on 24-Apr-2016.

If you have any technical questions, don't ask me, submit new t

[2016-05-16 13:22] davvd commented on #306
@yegor256 the last puzzle `519-af7d4687`/#655 solved

[2016-05-16 13:22] davvd commented on #519
@yegor256 the last puzzle `519-af7d4687`/#655 solved

[2016-05-16 13:22] davvd commented on #660
@yegor256 there is a puzzle in this code `660-949a08e1`/#678, we'll resolve it later

[2016-05-16 13:26] davvd commented on #678
@dalifreire the task is yours plz proceed

[2016-05-16 16:27] davvd commented on #678
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2016-05-17 09:57] davvd commented on #667
@dalifreire OK

[2016-05-17 09:57] davvd commented on #667
@dalifreire of course, thanks for letting me know, take your time

[2016-05-17 14:53] davvd commented on #660
@yegor256 Thanks all, I am closing

[2016-05-17 14:53] #660 closed

[2016-05-17 14:53] davvd commented on #660
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-05-17 15:32] ypshenychka commented on #660
@davvd Quality is good.

[2016-05-17 16:34] davvd commented on #660
@ypshenychka many thanks

[2016-05-17 16:44] davvd commented on #660
@essobedo just added 10 mins to @ypshenychka (for QA), payment ID is `87004567`; Much obliged! I have added **30 mins** to your account in payment "87004591", 814 hours and 23 mins spent; +30 added to your rating, current score is: [+613](http://www.netbout.com/b/36421?open=rating)

[2016-05-20 11:14] dalifreire opened #679 "What is the best way to speed up the merge request?"
All the times that the pull request is created and reviewed we need a project architect confirmation to finish the merge. Sometimes a lot of time is wasted waiting for this confirmation and the developer rating is decreased because of that (#676, #624, #653).

So, what is the best way to speed up the merge request?

[2016-05-20 11:41] dalifreire commented on #678
@davvd PR #678 created... please proceed.

[2016-05-20 17:40] davvd commented on #678
@dalifreire thanks for that

[2016-05-21 01:23] dalifreire commented on #678
@davvd Looks like the next release of Qulice was not yet released ([teamed/qulice/#762](https://github.com/teamed/qulice/issues/762), [teamed/qulice/#706](https://github.com/teamed/qulice/issues/706))... maybe we are stuck here, right?

[2016-05-21 01:23] dalifreire commented on #678
@davvd I think we need more time here... let's wait for [teamed/qulice/#706](https://github.com/teamed/qulice/issues/706), ok?

[2016-05-23 12:08] davvd commented on #679
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-05-30 14:59] davvd commented on #377
@pinaf the last puzzle `458-ca123cf9`/#656 originated from here solved

[2016-05-30 14:59] davvd commented on #458
@yegor256 last puzzled solved `458-ca123cf9`/#656

[2016-05-30 14:59] davvd commented on #620
@dmzaytsev the last puzzle `620-91883c6a`/#625 originated from here solved

[2016-05-31 14:39] davvd commented on #678
@dalifreire you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; do not forget that you should remove the `@todo` p

[2016-05-31 14:53] dalifreire commented on #678
@davvd The next release of Qulice was not yet released ([teamed/qulice/#762](https://github.com/teamed/qulice/issues/762), [teamed/qulice/#706](https://github.com/teamed/qulice/issues/706)). We can't do this task until the next release of Qulice. Please, revert my -30 penalty.

[2016-06-02 00:43] dalifreire commented on #678
@davvd Please, revert my penalty or assign someone else

[2016-06-02 11:24] davvd commented on #678
@dalifreire I deducted 30 points from your rating

[2016-06-02 11:24] davvd commented on #678
@dalifreire all right, we'll find someone else for this task

[2016-06-02 13:20] davvd commented on #678
@xupyprmv please proceed, it's yours

[2016-06-07 09:46] mgenov opened #682 "using takes as wrapper over servlet api"
It would be really nice if takes framework to be able to work as adapter to the servlet API project.

There are PAAS services such GAE which are not allowing Socket usages and are providing only Servlet API.

Here is something that could be taken as starting point:

[code]

[2016-06-09 06:02] yegor256 commented on #671
@rultor deploy

[2016-06-09 06:03] rultor commented on #671
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/8158-224807399)

[2016-06-09 06:21] rultor commented on #671
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8158-224807399) (took me 18min)

[2016-06-10 10:06] davvd commented on #682
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-10 15:34] simonjenga opened #683 "Duplicately declared interfaces"
[code]

The above interface has been duplicately declared at both: ```org.takes.http.FtRemote.Script``` and at: ```org.takes.http.MainRemote.Script```

Only one declaration is needed to be done at ```org.takes.http.Script```.

The interface method also needs to be renamed to ```execute(URI home)``` so as to be meaningful.

Also, the class level documentation of ```FtRemote``` and ```MainRemote```

[2016-06-10 20:17] xupyprmv commented on #678
@davvd Need more time here.

[2016-06-11 09:58] davvd commented on #678
@xupyprmv of course, take your time

[2016-06-13 16:41] davvd commented on #683
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-14 10:30] ekondrashev commented on #260
@dmzaytsev can we close this issue please?

[2016-06-14 10:35] dmzaytsev commented on #260
@ekondrashev sure, thanks

[2016-06-14 10:35] #260 closed

[2016-06-14 18:45] davvd commented on #651
@carlosgines the last puzzle `651-43df2f64`/#666 originated from here solved

[2016-06-15 15:14] davvd commented on #260
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-06-15 17:54] elenavolokhova commented on #260
@davvd Looks good!

[2016-06-15 19:25] davvd commented on #260
@elenavolokhova thanks a lot :)

[2016-06-15 19:35] davvd commented on #260
@ekondrashev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 90067139

thanks, paid, **30 mins** to your account, payment ID is `90067165`, task took 9675 hours and 38 mins to complete

+30 to your rating, your total score is [+1212](http://www.netbout.com/b/35260?open=rating)

[2016-06-16 06:29] xupyprmv commented on #678
@davvd  #681 was merged. Please, close this ticket.

[2016-06-16 10:00] dalifreire commented on #667
@davvd @essobedo #676 was merged. Please, close this ticket.

[2016-06-16 10:03] essobedo commented on #667
@dalifreire thx

[2016-06-16 10:03] #667 closed

[2016-06-17 10:46] davvd commented on #667
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-06-17 11:00] ypshenychka commented on #667
@davvd Quality is good.

[2016-06-17 14:31] davvd commented on #667
@ypshenychka thank you, good quality is always good ;)

[2016-06-17 14:31] davvd opened #684 "pom.xml:344-346: After upgrade to qulice 0.16.4..."
Puzzle `678-b4f3ecf4` in `pom.xml:344-346` has to be resolved: After upgrade to qulice 0.16.4 we have to fix AbbreviationAsWordInNameCheck checkstyle warings in next classes. Fix issues and remove all excludes of PMD here.... The puzzle was created by Maksimenko Vladimir on 4-Jun-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2016-06-17 14:31] davvd commented on #678
@yegor256 2 puzzles were created here: `678-b4f3ecf4`/#684, `678-832c7c24`

[2016-06-17 14:31] davvd commented on #667
@essobedo the code made here contains a puzzle `667-ace435e8`, which will be resolved soon

[2016-06-17 14:36] davvd commented on #667
@dalifreire I added 10 mins to @ypshenychka (for QA review) in transaction 90172554; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `90172575`, the task took 1030 hours and 4 mins); +30 added to your rating, current score is: [-120](http://www.netbout.com/b/36485?open=rating)

[2016-06-17 14:36] davvd commented on #684
@xupyprmv please proceed, it's yours

[2016-06-17 14:43] simonjenga opened #685 "qulice-maven-plugin:0.16.4:check consumes much longer time"
```./takes>mvn clean install -DskipTests -Dinvoker.skip=true -Pqulice```

In the Build INFO below, ```qulice-maven-plugin:0.16.4:check``` Qulice quality check completed in 10min
[code]

In the Build INFO below, ```qulice-maven-plugin:0.16.2:check``` Qulice quality check completed in 1min

[code]

This huge difference is being brought about by the following:
[code]

Is this dependency check really

[2016-06-17 16:16] davvd commented on #684
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-06-17 16:16] davvd opened #686 "pom.xml:380-382: After upgrade to qulice 0.16.4..."
Puzzle `678-832c7c24` in `pom.xml:380-382` has to be resolved: After upgrade to qulice 0.16.4 we have to fix AvoidDuplicateLiterals PMD warings in next classes. Fix issues and remove all excludes of PMD here.... The puzzle was created by Maksimenko Vladimir on 4-Jun-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2016-06-17 16:22] davvd commented on #686
@dalifreire please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-06-17 16:50] davvd commented on #686
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-06-17 16:50] davvd opened #687 "RqForm.java:69-71: Refacor this class to reduce..."
Puzzle `667-ace435e8` in `src/main/java/org/takes/rq/RqForm.java:69-71` has to be resolved: Refacor this class to reduce the data abstraction coupling in order to get rid of the checkstyle suppression of ClassDataAbstractionCouplingCheck... The puzzle was created by Dalí Freire on 6-May-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" wh

[2016-06-17 16:55] davvd commented on #687
@rui-castro please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-06-17 18:52] davvd commented on #687
@yegor256 since the ticket has no milestone I set it to 1.0

[2016-06-18 07:26] xupyprmv commented on #678
@davvd Close this ticket, please.

[2016-06-19 10:09] davvd commented on #678
@yegor256 I'm closing the issue...

[2016-06-19 10:09] #678 closed

[2016-06-19 10:09] davvd commented on #678
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-06-19 13:31] elenavolokhova commented on #678
@davvd Looks good!

[2016-06-19 16:02] davvd commented on #678
@elenavolokhova thank you ;)

[2016-06-19 16:06] davvd commented on #678
@xupyprmv 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 90249069... **30 mins** was added to your account, many thanks for your contribution (payment AP-8HP110823R661183N)! The task took 361 hours and 11 mins.... +30 added to your rating, at the moment it is: [+225](http://www.netbout.com/b/35999?open=rating)

[2016-06-19 23:11] dalifreire commented on #686
@davvd The PR #689 was created.

[2016-06-19 23:46] rui-castro commented on #687
@davvd The PR #690 was created.

[2016-06-20 09:06] davvd commented on #686
@dalifreire thanks

[2016-06-20 09:06] davvd commented on #687
@rui-castro thank you!

[2016-06-20 09:07] davvd commented on #664
@essobedo the last puzzle `664-ddd2c9b3`/#674 originated from here solved

[2016-06-20 14:58] davvd commented on #685
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-21 14:40] simonjenga opened #691 "Utf8String#string() does not encode a String using the given charset"
The current implementation of ```org.takes.misc.Utf8String#string()``` does not do anything at all as in the following example scenario:

[code]

The String passed in the constructor will not be encoded using any given ```Charset```! The method simply acts as a plain ```getter```

Also, the ```private constant``` in that class ```org.takes.misc.Utf8String.ENCODING``` is unnecessary!
https://github

[2016-06-22 22:42] yegor256 commented on #679
@dalifreire there is no way to speed things up. the best you can do is to ask project manager to give you "more time", see http://at.teamed.io/policy.html#10 That will help you not to lose your rating points

[2016-06-22 22:42] #679 closed

[2016-06-22 22:42] xupyprmv commented on #684
@davvd PR was merged. Please close this ticket.

[2016-06-22 22:51] yegor256 commented on #682
@mgenov that's a good idea, thanks! I would suggest we introduce `TakesServlet`, which will accept `Take` as a single parameter and will implement `HttpServlet`. is it what you have in mind?

[2016-06-23 00:04] yegor256 commented on #683
@simonjenga it's better to keep that interface embedded and specific for each case. making it shared will create a dependency between these two classes, which is not natural

[2016-06-23 00:04] #683 closed

[2016-06-23 00:28] yegor256 commented on #685
@simonjenga yes, we need that check

[2016-06-23 00:28] #685 closed

[2016-06-23 07:06] mgenov commented on #682
Yes, it's a good solution when developers are able to instantiate HttpServlet's programatically.

When web.xml is used as starting point it would be better an abstract method to be used probably. For example:

[code]

So by doing this the client code will be able to define bootstrap servlet in web.xml and wiring of objects could start. It's not a big pain to be made manually by delegating servlet

[2016-06-23 18:42] davvd commented on #684
@xupyprmv OK

[2016-06-24 14:54] davvd opened #692 "TkCors.java:53-56: Remove PMD.AvoidDuplicateLiterals exclude here and..."
Puzzle `684-70270140` in `src/main/java/org/takes/tk/TkCors.java:53-56` has to be resolved: Remove PMD.AvoidDuplicateLiterals exclude here and in {@link RsPrettyJson}, {@link RsPrettyXml}. Note that this puzzle depends on https://github.com/teamed/qulice/issues/760. Note that this puzzle has partially overlap with https://github.com/yegor256/takes/issues/686... The puzzle was created by Maksimenko

[2016-06-24 14:55] davvd commented on #684
@yegor256 there is a puzzle in this code `684-70270140`/#692, we'll resolve it later

[2016-06-24 14:58] davvd commented on #692
@xupyprmv the task is yours, please go ahead

[2016-06-24 14:59] davvd commented on #691
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-06-24 16:32] davvd commented on #692
@yegor256 since the ticket has no milestone I set it to 1.0

[2016-06-24 17:12] xupyprmv commented on #692
@davvd I'm waiting for https://github.com/teamed/qulice/issues/760 here.

[2016-06-24 23:41] dalifreire commented on #686
@davvd The merge for #689 was requested... we are waiting for architect  approval.

[2016-06-25 09:49] davvd commented on #692
@xupyprmv OK, take your time

[2016-06-25 14:16] looperhacks opened #693 "Readme mentions throwing RsFlash"
The part *Redirects* from the Readme contains an example that throws an instance of RsFlash (line 537). RsFlash isn't a throwable, is the example wrong?

[2016-06-25 15:26] davvd commented on #684
@yegor256 I'm closing the issue...

[2016-06-25 15:26] #684 closed

[2016-06-25 15:26] davvd commented on #684
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-06-25 15:33] elenavolokhova commented on #684
@xupyprmv
  According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and follow this rule in your tickets in the future.

[2016-06-25 16:12] xupyprmv commented on #684
@elenavolokhova

Fixed. I will keep it in mind next time.

[2016-06-25 17:33] elenavolokhova commented on #684
@xupyprmv Thank you!

[2016-06-25 17:33] elenavolokhova commented on #684
@davvd Quality is acceptable here.

[2016-06-25 19:50] davvd commented on #684
@elenavolokhova thanks for the review, we'll try better next time

[2016-06-25 19:54] davvd commented on #684
@xupyprmv I added 10 mins to @elenavolokhova (for QA review) in transaction 90977506. done, I added **30 mins** in payment `AP-4T065018VH3031801`, 168 hours and 19 mins spent to complete this. added +30 to your rating, now it is equal to [+225](http://www.netbout.com/b/35999?open=rating)

[2016-06-27 15:54] dalifreire commented on #686
@davvd We need more time here... we are waiting for achitect approval in the merge.

[2016-06-27 19:49] yegor256 commented on #691
@simonjenga I'm not sure I understand what is the problem here. are you aware that all Strings in Java are in UTF-8?

[2016-06-27 20:24] davvd commented on #686
@dalifreire sure, thanks for telling me, take your time

[2016-06-27 23:03] yegor256 commented on #684
@rultor release, tag is `1.0`

[2016-06-27 23:04] rultor commented on #684
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8938-228901933)

[2016-06-27 23:14] rultor commented on #684
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8938-228901933) (took me 10min)

[2016-06-28 14:30] davvd commented on #693
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-06-28 16:57] yegor256 commented on #693
@looperhacks fixed in 	ca2fa1e thanks!

[2016-06-28 16:57] #693 closed

[2016-06-29 09:57] rui-castro commented on #687
@davvd The PR is merged, can you close this issue?

[2016-06-30 11:19] davvd commented on #687
@rui-castro sure

[2016-06-30 15:23] davvd opened #694 "package-info.java:38-40: Improve documentation for package org.takes.rq.form..."
Puzzle `687-875c0e1d` in `src/main/java/org/takes/rq/form/package-info.java:38-40` has to be resolved: Improve documentation for package org.takes.rq.form explaining what a form is, providing code examples of usage of existing classes and other info that may be relevant.... The puzzle was created by Rui Castro on 25-Jun-2016.

If you have any technical questions, don't ask me, submit new tickets i

[2016-06-30 15:24] davvd commented on #687
@yegor256 these 2 puzzles were created in this ticket: `687-65dc14c7`, `687-875c0e1d`/#694

[2016-06-30 16:39] davvd commented on #694
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-06-30 16:40] davvd opened #695 "RqFormBase.java:56-58: Refactor this class to reduce..."
Puzzle `687-65dc14c7` in `src/main/java/org/takes/rq/form/RqFormBase.java:56-58` has to be resolved: Refactor this class to reduce the data abstraction coupling in order to get rid of the checkstyle suppression of ClassDataAbstractionCouplingCheck.... The puzzle was created by Rui Castro on 25-Jun-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2016-06-30 18:51] davvd commented on #695
@yegor256 there is no milestone yet, so I set it to `1.0`

[2016-07-01 16:37] davvd commented on #687
@yegor256 Thanks, closing it now.

[2016-07-01 16:37] #687 closed

[2016-07-01 16:37] davvd commented on #687
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-07-01 19:45] dalifreire commented on #686
@davvd The pull request was merged.. please, proceed.

[2016-07-01 21:11] elenavolokhova commented on #687
@davvd Looks good!

[2016-07-02 09:44] davvd commented on #687
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2016-07-02 09:47] davvd commented on #687
@rui-castro paied 10 mins to @elenavolokhova for QA review (payment ID is `91818593`). Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-76U252629J0632925`, 310 hours and 33 mins spent total. added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/37013?open=rating)

[2016-07-02 12:35] davvd opened #696 "PsLinkedinTest.java:57-59: After upgrade to qulice 0.16.4..."
Puzzle `686-bac26563` in `src/test/java/org/takes/facets/auth/social/PsLinkedinTest.java:57-59` has to be resolved: After upgrade to qulice 0.16.4 we have to fix ExcessiveMethodLength PMD warings in this classe. Fix this warning and rid of the PMD suppression here.... The puzzle was created by Dalí Freire on 19-Jun-2016.

If you have any technical questions, don't ask me, submit new tickets instea

[2016-07-02 12:36] davvd commented on #686
@yegor256 these 3 puzzles were created in this ticket: `686-832c7c24`, `686-55806871`, `686-bac26563`/#696

[2016-07-02 14:38] davvd commented on #696
@yegor256 there is no milestone yet, so I set it to `1.0`

[2016-07-02 14:38] davvd opened #697 "pom.xml:344-346: After upgrade to qulice 0.16.4..."
Puzzle `686-832c7c24` in `pom.xml:344-346` has to be resolved: After upgrade to qulice 0.16.4 we have to fix AvoidDuplicateLiterals PMD warings in next classes. Fix issues and remove all excludes of PMD here.... The puzzle was created by Dalí Freire on 19-Jun-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2016-07-02 15:42] davvd commented on #697
@yegor256 since there is no milestone yet I set it to "1.0"

[2016-07-02 15:42] davvd opened #698 "RsFlash.java:103-105: After upgrade to qulice 0.16.4..."
Puzzle `686-55806871` in `src/main/java/org/takes/facets/flash/RsFlash.java:103-105` has to be resolved: After upgrade to qulice 0.16.4 we have to fix SingularField PMD warings in this class. Fix this warning and rid of the PMD suppression here.... The puzzle was created by Dalí Freire on 21-Jun-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2016-07-02 16:36] davvd commented on #698
@yegor256 since there is no milestone yet I set it to "1.0"

[2016-07-02 18:39] simonjenga commented on #691
@yegor256 I didn't remember that. The issue then looks irrelevant but the ```String``` constant should be removed. Closing it...

[2016-07-02 18:39] #691 closed

[2016-07-02 23:46] rui-castro commented on #687
@davvd thanks 😉

[2016-07-03 09:47] davvd commented on #687
@rui-castro you are welcome

[2016-07-03 13:07] davvd commented on #686
@yegor256 Done, the task is closed

[2016-07-03 13:07] #686 closed

[2016-07-03 14:48] elenavolokhova commented on #686
@davvd Looks good!

[2016-07-03 16:17] davvd commented on #686
@elenavolokhova thank you

[2016-07-03 16:19] davvd commented on #686
@dalifreire I added 10 mins to @elenavolokhova (for QA review) in transaction 91860117... Many thanks! **30 mins** were added to your account in Transaction ID `91860123` (task took 356 hours and 18 mins)... added +30 to your rating, now it is equal to [-30](http://www.netbout.com/b/36485?open=rating)

[2016-07-13 16:08] davvd commented on #694
@xupyprmv could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... **15 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend).

[2016-07-13 16:08] davvd commented on #695
@dalifreire the task is yours,please go ahead

[2016-07-13 16:08] davvd commented on #696
@rui-castro This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-07-13 16:08] davvd commented on #697
@sebing could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-07-13 16:08] davvd commented on #698
@raphaelln this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... The cost of this task is **15 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-07-14 09:48] sebing commented on #697
@davvd I have made [PR-700] (https://github.com/yegor256/takes/pull/700/files) for the changes.

Please find someone to review it.

[2016-07-14 13:24] raphaelln commented on #698
@yegor256 the PMD complains about the `private final transient String text;`, but this field is used by the `@ToString(callSuper = true, of = "text")` lombook toString feature. In this case, in order to override the toString function, the text must be an attribute of the class.

Here I suggest the following options:
1) Remove the text variable and @ToString;
2) Remove the @ToString and override to

[2016-07-14 14:05] rui-castro commented on #696
@davvd My PR is #701.

[2016-07-14 14:37] rui-castro commented on #696
@davvd Travis build for my PR is failing (https://travis-ci.org/yegor256/takes/jobs/144747825#L673) but it has nothing to do with my code.
Should I open a new bug issue?

[2016-07-18 01:10] dalifreire commented on #695
@davvd PR #703 was created, please proceed.

[2016-07-18 09:07] davvd commented on #695
@dalifreire thank you

[2016-07-18 18:29] davvd commented on #697
@sebing OK

[2016-07-19 22:22] dalifreire commented on #695
@davvd We will need a bit more time here...

[2016-07-20 11:19] davvd commented on #695
@dalifreire agreed, take your time

[2016-07-22 05:56] xupyprmv commented on #694
@davvd PR #702 was merged. Please close this ticket.

[2016-07-22 20:20] rui-castro commented on #696
@davvd The PR is merged, can you close this issue?

[2016-07-22 23:54] dalifreire commented on #695
@davvd We are waiting for the architect approval in PR #703...

[2016-07-24 15:00] davvd commented on #694
@yegor256 We are done here, thanks all

[2016-07-24 15:00] #694 closed

[2016-07-24 15:00] davvd commented on #696
@yegor256 Thanks all, closed

[2016-07-24 15:00] #696 closed

[2016-07-24 15:00] davvd commented on #694
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-07-24 15:00] davvd commented on #696
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-07-24 15:08] elenavolokhova commented on #696
@davvd Looks good!

[2016-07-24 17:58] davvd commented on #696
@elenavolokhova thanks a lot

[2016-07-24 18:04] davvd commented on #696
@rui-castro paied 10 mins to @elenavolokhova for QA review (payment ID is `94213618`)

thanks, I just added **30 mins** to your account, payment `AP-26643984XB577051C`, 237 hours and 49 mins spent

+30 added to your rating, current score is: [+60](http://www.netbout.com/b/37013?open=rating)

[2016-07-24 19:13] rui-castro commented on #696
@davvd Thank you

[2016-07-24 19:19] rui-castro commented on #696
@davvd I'm ready for a new task.

[2016-07-25 08:46] ypshenychka commented on #694
@davvd Quality is good.

[2016-07-25 12:06] davvd commented on #694
@ypshenychka thanks a lot :)

[2016-07-25 12:06] davvd commented on #696
@rui-castro you are welcome

[2016-07-25 12:11] davvd commented on #694
@xupyprmv just added 10 mins to @ypshenychka (for QA), payment ID is `94251489`; thanks, I just added **15 mins** to your account, payment `AP-10P56631L7948443R`, 237 hours and 49 mins spent; +15 to your rating, your total score is [+135](http://www.netbout.com/b/35999?open=rating)

[2016-07-26 01:45] yegor256 opened #704 "CharSequence for RsForward"
`RsForward` must accept `CharSequence`, not only `String`

[2016-07-26 01:45] #704 closed

[2016-07-26 01:54] yegor256 commented on #704
@rultor release, tag is `1.1`

[2016-07-26 01:55] rultor commented on #704
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9150-235140402)

[2016-07-26 02:05] rultor commented on #704
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9150-235140402) (took me 9min)

[2016-07-26 09:52] dalifreire commented on #695
@davvd The PR #703 was merged. Please proceed.

[2016-07-26 12:25] davvd commented on #695
@dalifreire thank you!

[2016-07-28 14:45] davvd commented on #695
@yegor256 Thanks all, I am closing

[2016-07-28 14:45] #695 closed

[2016-07-28 14:45] davvd commented on #695
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-07-28 17:50] davvd commented on #697
@sebing check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; do not forget that you should remove the `@todo

[2016-07-28 20:00] davvd commented on #698
@raphaelln the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

do not forget to remove the TODO puzzle from t

[2016-07-28 21:34] pchmielowski opened #705 "RsHTML instead of RsHtml in readme file"
`return new RsHTML("<html>Hello, world!</html>");`

Should be RsHtml.

[2016-07-28 21:38] pchmielowski commented on #705
I have corrected it and created pull request https://github.com/yegor256/takes/pull/706

[2016-07-28 22:24] elenavolokhova commented on #695
@davvd  Looks good!

[2016-07-29 10:43] davvd commented on #695
@elenavolokhova thanks a lot

[2016-07-29 10:48] davvd commented on #695
@dalifreire just added 10 mins to @elenavolokhova (for QA), payment ID is `94930964`; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `94930969`, the task took 333 hours and 32 mins); +30 added to your rating, at the moment it is: [+60](http://www.netbout.com/b/36485?open=rating)

[2016-07-30 07:49] krzyk opened #707 "transient is not needed anymore"
`transient` requirement has been removed from qulice. Please remove it everywhere where it was not added explicitly (e.g. in case of `Serializable` classes).

Also remove `of` parameter from all `@EqualsAndHashCode`, it was there because we had transient fields and we constantly were forgetting to add new fields there, now it won't be needed. (check tests for `EqualsVerifier.ignoredFields` for cas

[2016-08-01 09:32] davvd commented on #705
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-08-02 10:01] davvd commented on #707
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-08-02 16:23] davvd commented on #697
@sebing this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 added to your rating, at the moment it is: [-90](http://www.netbout.com/b/36309?open=rating)

[2016-08-02 18:07] davvd commented on #698
@raphaelln it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; added -30 to your rating, now it is equal to [-45](http://www.netbout.com/b/36530?open=rating)

[2016-08-02 19:59] davvd commented on #697
@xupyprmv it's yours,please go ahead

[2016-08-03 10:18] davvd commented on #698
@dalifreire please go ahead with this task, it's yours

[2016-08-06 22:05] dalifreire commented on #698
@davvd PR #708 was created... please, proceed.

[2016-08-07 09:56] davvd commented on #698
@dalifreire thanks for that

[2016-08-08 23:25] dalifreire commented on #698
@davvd Maybe we will need more time here.

[2016-08-09 09:14] davvd commented on #698
@dalifreire agreed, take your time

[2016-08-09 21:59] xupyprmv commented on #697
@davvd I added PR #709. Please find someone to review.

[2016-08-09 22:01] xupyprmv commented on #692
@davvd I'm waiting for #697 here.

[2016-08-10 10:29] davvd commented on #692
@xupyprmv yes, right, let's wait for #697

[2016-08-10 10:29] davvd commented on #697
@xupyprmv thank you!

[2016-08-11 21:49] xupyprmv commented on #697
@davvd I need more time here

[2016-08-12 10:37] davvd commented on #697
@xupyprmv right, take your time and thanks for informing

[2016-08-12 23:41] dalifreire commented on #698
@davvd We are waiting for architect approval in PR #708...

[2016-08-13 09:54] davvd commented on #698
@dalifreire thank you!

[2016-08-15 19:13] xupyprmv commented on #697
@davvd #709 was merged. Please close this ticket.

[2016-08-15 19:20] xupyprmv commented on #692
@davvd I added PR #710. Please find someone to review.

[2016-08-15 20:20] davvd commented on #707
@krzyk I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-08-15 20:20] davvd commented on #692
@xupyprmv thank you!

[2016-08-15 20:51] davvd commented on #707
@dalifreire the task is yours, please go ahead

[2016-08-15 20:51] davvd commented on #707
@krzyk many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `97026785`

[2016-08-16 09:59] dalifreire commented on #698
@davvd PR #708 was merged. Please proceed.

[2016-08-16 10:59] davvd commented on #698
@dalifreire thank you!

[2016-08-16 21:04] davvd commented on #697
@xupyprmv sure thanks

[2016-08-18 11:05] dalifreire commented on #707
@davvd PR #711 was created... please, proceed.

[2016-08-18 13:23] davvd commented on #707
@dalifreire thank you

[2016-08-18 13:33] davvd commented on #697
@yegor256 Thanks all, I am closing

[2016-08-18 13:33] #697 closed

[2016-08-18 13:33] davvd commented on #698
@yegor256 Finished, thanks, closing..

[2016-08-18 13:33] #698 closed

[2016-08-18 13:33] davvd commented on #697
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-08-18 13:33] davvd commented on #698
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-08-18 13:35] davvd commented on #692
@yegor256 FYI, the issue we were waiting for (#697) is fixed

[2016-08-18 13:47] ypshenychka commented on #698
@davvd Quality is good here.

[2016-08-18 14:48] davvd commented on #698
@ypshenychka thanks a lot

[2016-08-18 14:55] davvd commented on #698
@dalifreire added 10 mins to @ypshenychka, for QA review, payment code is `97257661`

thank you, added **15 mins** to your acc, payment num is `97257693`, 336 hours and 57 mins spent in total to complete

+15 added to your rating, at the moment it is: [+45](http://www.netbout.com/b/36485?open=rating)

[2016-08-18 16:53] yegor256 commented on #705
@pchmielowski fixed, thanks

[2016-08-18 16:53] #705 closed

[2016-08-18 17:17] xupyprmv commented on #692
@davvd #710 was merged. Please, close this thicket.

[2016-08-18 20:47] elenavolokhova commented on #697
@davvd  Looks good!

[2016-08-19 09:15] davvd commented on #697
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2016-08-19 09:31] davvd commented on #697
@xupyprmv just added 10 mins to @elenavolokhova (for QA), payment ID is `97305134`... paid, thanks, added **30 mins** to your account, payment `AP-54U10623U33785437`, 351 hours and 17 mins was spent... +30 to your rating, your total score is [+105](http://www.netbout.com/b/35999?open=rating)

[2016-08-19 18:39] davvd commented on #692
@xupyprmv sure thanks

[2016-08-21 12:05] davvd commented on #692
@yegor256 The task is done, thanks all, I am closing it

[2016-08-21 12:05] #692 closed

[2016-08-21 12:05] davvd commented on #692
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-08-21 20:24] dalifreire commented on #707
@davvd We are waiting for architect approval in PR #711...

[2016-08-21 21:21] elenavolokhova commented on #692
@davvd  Looks good!

[2016-08-22 09:21] davvd commented on #692
@elenavolokhova thanks!

[2016-08-22 09:21] davvd commented on #707
@dalifreire thanks for that

[2016-08-22 09:40] davvd commented on #692
@xupyprmv just added 10 mins to @elenavolokhova (for QA), payment ID is `97430079`. Many thanks! **23 mins** were added to your account in Transaction ID `AP-6WA17721YT799422D` (task took 45 hours and 4 mins). the bonus for fast delivery (m=2704). +23 added to your rating, at the moment it is: [+128](http://www.netbout.com/b/35999?open=rating)

[2016-08-22 22:10] dalifreire commented on #707
@davvd PR #711 was merged... please proceed.

[2016-08-23 10:50] davvd commented on #707
@dalifreire thank you!

[2016-08-24 19:02] krzyk commented on #707
@dalifreire you need to ask issue creator to close the issue, I noticed it by accident so I'll close it. Only after it is close you will be awared.

[2016-08-24 19:02] #707 closed

[2016-08-26 13:00] davvd commented on #707
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-08-26 22:08] elenavolokhova commented on #707
@davvd  Looks good!

[2016-08-27 09:18] davvd commented on #707
@elenavolokhova thank you

[2016-08-27 09:24] davvd commented on #707
@dalifreire just added 10 mins to @elenavolokhova (for QA), payment ID is `98136751`... **30 mins** added to your account (payment number `98136763`), many thanks for your contribution! 214 hours and 46 mins spent here.... +30 added to your rating, current score is: [+75](http://www.netbout.com/b/36485?open=rating)

[2016-09-05 21:41] a--v--k commented on #352
@yegor256: what do you think about factory methods? Guava/Java8 libraries use it to hide internal details of Optional implementation.

[2016-09-06 17:14] davvd commented on #667
@essobedo the last puzzle `687-65dc14c7`/#695 solved

[2016-09-06 17:14] davvd commented on #687
@yegor256 the last puzzle `687-65dc14c7`/#695 solved

[2016-09-07 19:06] g4s8 opened #712 "TkSlf4j can fail for specific request"
Hi.
If `TkSlf4j` wraps `Take` that returns empty response (without body),
and if POST request with some body has been sent through `VerboseWire` (from jcabi-http),
`RqMethod.Base` will fail with this exception:

[code]

Test for reproducing:

[code]

_Environment:_
java - 1.8.0_102-b14
takes - 1.1
jcabi-http - 1.16

http:

[code]

[2016-09-10 19:37] davvd commented on #712
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-09-27 14:29] davvd commented on #686
@yegor256 Last 2 puzzles came from here were resolved: `686-832c7c24`/#697, `686-55806871`/#698

[2016-09-30 15:30] davvd commented on #517
@exper0 the last puzzle `684-70270140`/#692 solved

[2016-09-30 15:30] davvd commented on #574
@yegor256 last puzzled solved `684-70270140`/#692

[2016-09-30 15:30] davvd commented on #624
@yegor256 last puzzled solved `684-70270140`/#692

[2016-09-30 15:30] davvd commented on #660
@yegor256 the last puzzle `684-70270140`/#692 originated from here solved

[2016-09-30 15:30] davvd commented on #678
@yegor256 last puzzled solved `684-70270140`/#692

[2016-09-30 15:30] davvd commented on #684
@yegor256 the last puzzle `684-70270140`/#692 originated from here solved

[2016-10-25 12:17] yegor256 commented on #406
@davvd pls add extra 570 minutes to @longtimeago for the review of contest participants

[2016-10-28 11:01] davvd commented on #406
@yegor256 I've sent 9 hours and 30 mins extra to @longtimeago in transaction ID "105473311"

[2016-11-02 15:42] amihaiemil opened #713 "Symlink to enable dynamic cms?"
As I explained in [this](http://www.yegor256.com/2014/06/25/xml-and-xslt-in-browser.html#comment-2917659498) comment, at application startup you can make a symlink and map the contents folder from the filesystem to a folder under the contextroot of the app (and it will behave exactly as if the content would be inside the deployable, under the webapp folder).

Something like this:

[code]

Your con

[2016-11-05 16:34] davvd commented on #713
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-21 19:39] yegor256 commented on #713
@amihaiemil you can do it already. See how it's done here, for example: https://github.com/yegor256/jare/blob/0.7.1/src/main/java/io/jare/tk/TkApp.java#L162-L168 Or I didn't understand your question?

[2016-11-21 20:08] amihaiemil commented on #713
@yegor256 If I understand well that code, it takes images from somewhere and then, using that refresh method, it puts them under the project's src/main/resources...

And that refresh method runs a mvn command ...? Seems very strange to me, sorry.

So the app makes static resources accesible by first looking for them, and then running mvn on-the-fly to pack them inside it... but why not simply put

[2016-11-21 20:33] yegor256 commented on #713
@amihaiemil you can do it with the help of [`TkFiles`](https://github.com/yegor256/takes/blob/1.1/src/main/java/org/takes/tk/TkFiles.java). Or I miss the idea again? :)

[2016-11-21 20:40] amihaiemil commented on #713
@yegor256 I see. That sounds more like what I had in mind :D

[2016-11-21 20:41] #713 closed

[2016-11-22 06:53] yegor256 commented on #352
@a--v--k I'm against factory methods in general. Good old `new` is all we need in OOP, I believe

[2016-11-22 07:02] yegor256 commented on #712
@g4s8 definitely a bug, thanks for reporting

[2016-11-22 11:28] davvd commented on #712
@g4s8 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-11-22 11:47] davvd commented on #712
@dalifreire please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-11-22 21:12] dalifreire commented on #712
@davvd Please, find someone else... I'll be away for the next weeks. Thanks.

[2016-11-23 11:41] davvd commented on #712
@dalifreire deducted 30 from your rating :(

[2016-11-23 11:41] davvd commented on #712
@dalifreire someone else will help in this task, no problem at all

[2016-11-23 12:33] davvd commented on #712
@rui-castro This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-11-25 01:52] rui-castro commented on #712
@davvd done in PR #716

The problem reported is caused by `BkBasic` not handling requests properly.

I'm not entirely confident that I diagnosed the problem correctly, because it seems very unlikely that this problem in `BkBasic` only comes up now. Anyway, this is what I've found...

The `Take` in the test `req -> new RsEmpty()` doesn't read the request body, so the body remains in the `InputStrea

[2016-12-07 20:54] rui-castro commented on #712
@davvd the PR #716 is ready for 6 days. Could you please do something to close the PR and this issue?

[2016-12-08 12:41] davvd commented on #712
@rui-castro you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, at the moment it is: [

[2016-12-08 12:44] rui-castro commented on #712
@davvd That's not fair! The work is done and waiting for @yegor256 approval for 7 days.

[2016-12-13 15:17] davvd commented on #712
@rui-castro the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html); added -60 to your rating, now it is equal to [-90](http://www.netbout.com/b/37013?open=rating)

[2016-12-13 17:38] davvd commented on #712
@prondzyn it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-12-14 04:27] prondzyn commented on #712
@davvd I'm on it.

[2016-12-14 06:05] prondzyn commented on #712
@davvd PR #717 is ready.

[2016-12-14 12:05] davvd commented on #712
@prondzyn thank you

[2016-12-14 18:37] essobedo opened #718 "Travis fails with a PDD error of type ArgumentError: invalid byte sequence in UTF-8"
The build fails on travis due to:

[code]

The goal of this ticket is to find the root cause and fix it.

Here is a build failure for [more details](https://travis-ci.org/yegor256/takes/jobs/183940836).

[2016-12-18 09:03] MeteorBoom opened #719 "Can't combine FkRegex and TkMethods"
I'm begining to play with Takes framework and I'm trying to make things that I usaly do.
In Spring I can specify `@RequestMapping(value = "/users/{id}", method = RequestMethod.GET)` annotation and then I can inject id with `@PathVariable("id")` annotation.
But in Takes Framework when I use FkRegex I can only specify implementation of TkRegex interface to obtain RqRegex and I can't restict which ht

[2016-12-20 14:30] davvd commented on #718
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-12-21 09:56] davvd commented on #719
@yegor256 please do something about this issue

[2016-12-21 15:25] davvd commented on #534
@yegor256 The task is closed, thanks everybody

[2016-12-21 15:25] #534 closed

[2016-12-21 15:25] davvd commented on #534
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-12-22 09:18] prondzyn commented on #712
@davvd please assign me to this ticket

[2016-12-23 04:22] prondzyn commented on #712
@davvd need more time here. I'm waiting on @yegor256's in #717

[2016-12-23 10:19] davvd commented on #712
@prondzyn yes, take your time, thanks for letting me know

[2017-01-01 19:15] prondzyn commented on #712
@davvd need more time here. I'm waiting on @yegor256's in #717

[2017-01-07 04:12] yegor256 commented on #719
@MeteorBoom You can use `TkMethods`. See how it's done here, for example: https://github.com/yegor256/jare/issues/27

[2017-01-07 04:12] #719 closed

[2017-01-07 04:13] yegor256 commented on #718
@essobedo fixed already, thanks

[2017-01-07 04:13] #718 closed

[2017-01-07 14:11] MeteorBoom commented on #719
@yegor256 But constructor of TkMethods is not accept TkRegex. I can get part of request string only by manual parsing, am I?

[2017-01-11 04:28] prondzyn commented on #712
@davvd need more time here. I'm waiting on @yegor256's in #717

[2017-01-11 09:19] davvd commented on #712
@prondzyn yeah, I know, take your time

[2017-01-11 16:27] yegor256 commented on #719
@MeteorBoom as I understood from your original problem description: you were trying to restrict certain HTTP methods. This is what `TkMethods` is for. What is the task now? If it's something else, would be better to submit another ticket.

[2017-01-16 16:59] yegor256 opened #720 "it's a test"

[2017-01-16 17:00] #720 closed

[2017-01-21 05:23] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-01-21 09:08] davvd commented on #712
@prondzyn sure, take your time, I know about this pause

[2017-01-30 17:24] davvd commented on #516
@g4s8 the last puzzle `516-ffc97ad1`/#534 originated from here solved

[2017-01-31 05:02] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-01-31 09:23] davvd commented on #712
@prondzyn sure, take your time, I know about this pause

[2017-02-10 04:18] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-02-10 10:07] davvd commented on #712
@prondzyn take your time, I am aware that we're waiting here

[2017-02-20 04:23] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-02-20 09:28] davvd commented on #712
@prondzyn yeah, I know, take your time

[2017-03-01 03:46] simonjenga opened #723 "Inclusion of Maven eclipse plugin in Build file"
I would suggest to include Maven Eclipse plugin in the Maven Build file ```pom.xml``` as it simplifies working with the Eclipse IDE.

This plugin will help to automatically generate Eclipse metadata (.settings, .classpath and .project files), by executing:

```$ mvn eclipse:clean eclipse:eclipse```

As the project dependencies get updated from time to time in the `pom.xml` file, Eclipse generates

[2017-03-01 03:46] 0crat commented on #723
@yegor256 please, pay attention to this issue

[2017-03-02 05:15] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-03-02 10:55] davvd commented on #712
@prondzyn take your time, I am aware that we're waiting here

[2017-03-02 20:15] ruurd commented on #723
NO. DO NOT DO THAT. If anybody insists in working with Eclipse they should make sure it works with a project as is. There is absolutely NO REASON AT ALL to include a plugin that is specific for one development environment. If you want to use Eclipse then be my guest but do not foist that plugin on users of different IDEs.

[2017-03-12 14:05] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-03-15 15:31] davvd commented on #712
@prondzyn sure, take your time, I know about this pause

[2017-03-22 05:08] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-03-27 19:10] davvd commented on #712
@prondzyn sure, take your time, I know about this pause

[2017-04-02 18:08] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-04-02 18:10] davvd commented on #712
@prondzyn sure, take your time, I know about this pause

[2017-04-12 04:09] prondzyn commented on #712
@davvd still need more time here. I'm waiting on @yegor256's in #717

[2017-04-12 09:10] davvd commented on #712
@prondzyn take your time, I am aware that we're waiting here

[2017-04-25 16:42] 0pdd opened #725 "BkBasicTest.java:69-71: Move header names from BkBasic to..."
The puzzle `516-ffc97ad1` in [`src/test/java/org/takes/http/BkBasicTest.java`](https://github.com/yegor256/takes/blob/master/src/test/java/org/takes/http/BkBasicTest.java) (lines 69-71) has to be resolved: Move header names from BkBasic to public constants. Reusable header names will help in many situations. For example - in new integration tests.

The puzzle was created by lexx on 21-Jan-16.

Est

[2017-04-25 16:42] 0crat commented on #725
@yegor256 please, pay attention to this issue

[2017-04-26 11:04] essobedo opened #726 "Error installing pdd while trying to merge"
Rultor cannot merge any PR due to an error of type:

[code]

You can see one example of full log [here](http://www.rultor.com/t/10259-297015075)

[2017-04-26 11:04] 0crat commented on #726
@yegor256 please, pay attention to this issue

[2017-04-26 14:45] yegor256 commented on #726
@essobedo it was an issue in Rultor, fixed already: https://github.com/yegor256/rultor/issues/1174

[2017-04-26 14:45] #726 closed

[2017-04-26 14:51] yegor256 commented on #723
@simonjenga I agree with @ruurd If you need Eclipse, do it in your own `pom.xml`

[2017-04-26 14:51] #723 closed

[2017-06-08 06:58] yegor256 opened #728 "XeMemory"
Let's create `XeMemory`, which will report the heap details.

[2017-06-08 07:16] yegor256 commented on #728
@rultor release, tag is `1.2`

[2017-06-08 07:17] rultor commented on #728
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11912-307020280)

[2017-06-08 07:28] rultor commented on #728
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11912-307020280) (took me 10min)

[2017-06-08 07:40] #728 closed

[2017-06-08 07:40] 0crat commented on #728
Oops! Job `gh:yegor256/takes#728` was not in scope

[2017-06-08 07:51] yegor256 opened #729 "findbug dependency is a hassle"
[code]

[2017-06-08 07:59] 0pdd opened #730 "TkSlf4jTest.java:44-46: Prepare implementation for empty..."
The puzzle `712-e6a34ddb` in [`src/test/java/org/takes/tk/TkSlf4jTest.java`](https://github.com/yegor256/takes/blob/master/src/test/java/org/takes/tk/TkSlf4jTest.java) (lines 44-46) has to be resolved: "Prepare implementation for empty response body test and unignore returnsAnEmptyResponseBody test to fix such error which was reported in #712."

The puzzle was created by Piotr Pradzynski on 15-Feb

[2017-06-08 07:59] 0pdd opened #731 "TkSlf4jTest.java:47-49: Refactor this class to reduce the..."
The puzzle `712-65dc14c7` in [`src/test/java/org/takes/tk/TkSlf4jTest.java`](https://github.com/yegor256/takes/blob/master/src/test/java/org/takes/tk/TkSlf4jTest.java) (lines 47-49) has to be resolved: "Refactor this class to reduce the data abstraction coupling in order to get rid of the checkstyle suppression of ClassDataAbstractionCouplingCheck."

The puzzle was created by Piotr Pradzynski on 1

[2017-06-08 07:59] 0crat commented on #731
@yegor256 please, pay attention to this issue

[2017-06-08 07:59] 0crat commented on #730
@yegor256 please, pay attention to this issue

[2017-06-08 08:04] prondzyn commented on #712
@g4s8 could you close this issue, please? I pushed test to reproduce the issue and additional task (#730) was automatically created to resolve the issue.

[2017-06-08 08:36] yegor256 commented on #729
@rultor release tag is `1.3`

[2017-06-08 08:37] rultor commented on #729
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11913-307037753)

[2017-06-08 08:48] rultor commented on #729
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11913-307037753) (took me 10min)

[2017-06-08 09:06] #729 closed

[2017-06-08 09:06] 0crat commented on #729
Oops! Job `gh:yegor256/takes#729` was not in scope

[2017-06-08 12:56] g4s8 commented on #712
@prondzyn ok, thanks

[2017-06-08 12:56] #712 closed

[2017-06-08 12:57] 0crat commented on #712
Oops! Job `gh:yegor256/takes#712` was not in scope

[2017-06-25 11:22] yegor256 opened #733 "default XSL templates for Xe* elements"
Let's create default XSL templates for Xe* elements.

[2017-06-25 13:30] #733 closed

[2017-06-25 13:30] 0crat commented on #733
Oops! Job `gh:yegor256/takes#733` was not in scope

[2017-06-25 13:30] yegor256 opened #735 "RsXslt doesn't understand absolute URIs"
`RsXslt` doesn't understand absolute URIs

[2017-06-25 18:02] yegor256 commented on #735
@rultor release, tag is `1.3.1`

[2017-06-25 18:03] rultor commented on #735
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12118-310917987)

[2017-06-25 18:13] rultor commented on #735
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12118-310917987) (took me 9min)

[2017-06-25 18:15] #735 closed

[2017-06-25 18:15] 0crat commented on #735
Oops! Job `gh:yegor256/takes#735` was not in scope

[2017-06-30 18:18] prondzyn commented on #712
@davvd the task is closed.

[2017-07-01 07:02] ro31337 opened #737 "Fix broken link in readme"
This text in readme:

leads to page that doesn't exist.

Fix the link or page so it works.

[2017-07-01 07:02] 0crat commented on #737
@yegor256 please, pay attention to this issue

[2017-07-01 13:36] maxxyme opened #738 "Outdated links in Takes README.md"
README.md visible @ https://github.com/yegor256/takes

Sentence: "These blog posts may help you too." has a link to http://www.yegor256.com/tag/takes.html which is 404

RsXembly chapter: https://github.com/yegor256/takes#rsxembly
Here is how you generate an XML page using Xembly points to www.takes.org instead of www.xembly.org

[2017-07-01 13:36] 0crat commented on #738
@yegor256 please, pay attention to this issue

[2017-07-10 18:57] yegor256 commented on #738
@maxxyme thanks, fixed in 54461ecf1

[2017-07-10 18:57] #738 closed

[2017-07-10 18:59] yegor256 commented on #737
@ro31337 fixed already in 54461ecf1 thanks!

[2017-07-10 18:59] #737 closed

[2017-07-25 10:08] yegor256 opened #739 "functional interfaces for takes and responses"
Let's add them, wherever possible.

[2017-07-25 10:08] yegor256 commented on #739
@0crat assign me

[2017-07-25 10:09] 0crat commented on #739
@yegor256 Job `gh:yegor256/takes#739` assigned to @yegor256, please go ahead.

[2017-07-25 10:09] 0crat commented on #739
+15 points just awarded to @yegor256, total is [+405](http://www.0crat.com/u/yegor256).

[2017-07-25 11:00] yegor256 commented on #739
@rultor release, tag is `1.4`

[2017-07-25 11:00] rultor commented on #739
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12493-317703599)

[2017-07-25 11:13] rultor commented on #739
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12493-317703599) (took me 12min)

[2017-07-25 11:13] #739 closed

[2017-07-25 11:13] 0crat commented on #739
Job `gh:yegor256/takes#739` is out of scope.

[2017-07-25 11:13] 0crat commented on #739
+30 points just awarded to @yegor256, total is [+435](http://www.0crat.com/u/yegor256).

[2017-07-31 12:00] ezhov-da opened #740 "Exception in thread "main" java.io.IOException: empty request"
Hello, i'm use this framework, how write in README.md and catch java.io.IOException with text: "empty request".

This my Stack Trace:

[code]

And class with main method:

[code]

Thanks.

[2017-07-31 12:00] 0crat commented on #740
@yegor256 please, pay attention to this issue

[2017-07-31 13:00] ezhov-da commented on #740
Maybe i found, why thows this exception.

I use .html file with Velocity and Bootstrap.
And in file use this tag and href:
`<a class="navbar-brand" href="#">`

I'm click on the link and server throws this exception.

Its can be reason?

Thanks.

[2017-07-31 16:22] yegor256 commented on #740
@ezhov-da I can't reproduce the problem. The code you showed above works fine for me. What version of Takes are you using? Can you show the entire code?

[2017-07-31 18:08] ezhov-da commented on #740
@yegor256 Yes, i can show the code.
Project source: https://github.com/ezhov-da/java/tree/master/exservice
It's a little project for understending your frameforks.
I'm testing my project home and again have exception.

Thanks for answers.

[2017-07-31 18:18] yegor256 commented on #740
@ezhov-da I checked the repository, it looks correct. How do you test it? What do I have to do to reproduce the bug?

[2017-07-31 19:17] ezhov-da commented on #740
Sorry, but I can't special  repeat this exception. This very strange.
This absolutly random exception.
I will continue my project and if I can find reason or can special reproduce this bug, necessarily write.
Thanks.

[2017-08-01 09:24] semantosoph opened #741 "Version mismatch between pom and release"
While the currently released version is 1.4, the pom still hinges at 1.1-SNAPSHOT. These values should under all circumstances be identical.

Please update the version manually for once and include an automatic process of updating the version number into the release process.

[2017-08-01 09:24] 0crat commented on #741
@yegor256 please, pay attention to this issue

[2017-08-01 09:35] yegor256 commented on #741
@semantosoph well, Maven recommends to keep `SNAPSHOT` version in the repository, while more stable versions get releases to Maven Central. We can't keep 1.4 in `master` branch, since we're changing it all the time. See https://docs.oracle.com/middleware/1212/core/MAVEN/maven_version.htm#MAVEN401

[2017-08-01 09:39] semantosoph commented on #741
@yegor256 Mhm. Would still need to be 1.4-SNAPSHOT in pom, wouldn't it?

[2017-08-01 09:39] yegor256 commented on #741
@semantosoph no, it has to be something from the future. In our case it has to be `2.0-SNAPSHOT`. Let me fix it.

[2017-08-01 09:40] yegor256 commented on #741
@semantosoph fixed in e4cd3e4d6

[2017-08-01 09:44] semantosoph commented on #741
Fine. Working towards a new major version feels good anyway. :smile:

[2017-08-01 09:44] #741 closed

[2017-08-01 09:45] 0crat commented on #741
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-08 07:08] yegor256 opened #742 "XeChain must accept a function"
Let's make it possible

[2017-08-08 07:08] yegor256 commented on #742
@0crat assign me

[2017-08-08 07:09] 0crat commented on #742
@yegor256 Job `gh:yegor256/takes#742` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-08 07:09] 0crat commented on #742
+15 points just awarded to @yegor256, total is [+1245](http://www.0crat.com/u/yegor256).

[2017-08-08 07:25] yegor256 commented on #742
@rultor release, tag is `1.5`

[2017-08-08 07:26] rultor commented on #742
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12622-320873730)

[2017-08-08 07:42] rultor commented on #742
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12622-320873730) (took me 16min)

[2017-08-08 07:48] #742 closed

[2017-08-08 07:49] 0crat commented on #742
Job `gh:yegor256/takes#742` is now out of scope.

[2017-08-08 07:49] 0crat commented on #742
+30 points just awarded to @yegor256, total is [+1275](http://www.0crat.com/u/yegor256).

[2017-08-14 08:04] yegor256 commented on #281
@0crat in

[2017-08-14 08:04] yegor256 commented on #284
@0crat in

[2017-08-14 08:04] 0crat commented on #281
@yegor256 Job `gh:yegor256/takes#281` is in scope.

[2017-08-14 08:05] yegor256 commented on #333
@0crat in

[2017-08-14 08:05] yegor256 commented on #352
@0crat in

[2017-08-14 08:05] 0crat commented on #284
@yegor256 Job `gh:yegor256/takes#284` is in scope.

[2017-08-14 08:05] yegor256 commented on #353
@0crat in

[2017-08-14 08:05] yegor256 commented on #354
@0crat in

[2017-08-14 08:05] 0crat commented on #333
@yegor256 Job `gh:yegor256/takes#333` is in scope.

[2017-08-14 08:05] yegor256 commented on #373
@0crat in

[2017-08-14 08:05] 0crat commented on #284
+15 points just awarded to @yegor256, total is [+1635](http://www.0crat.com/u/yegor256).

[2017-08-14 08:05] 0crat commented on #353
@yegor256 Job `gh:yegor256/takes#353` is in scope.

[2017-08-14 08:05] 0crat commented on #373
@yegor256 Job `gh:yegor256/takes#373` is in scope.

[2017-08-14 08:06] yegor256 commented on #437
@0crat in

[2017-08-14 08:06] yegor256 commented on #485
@0crat in