[2015-06-06 07:29] mbarbieri commented on #310
@komaz please fix your comment
[code]
Thanks

[2015-06-06 07:29] elenavolokhova commented on #317
@davvd Quality is good here.

[2015-06-06 07:30] mbarbieri commented on #310
@elenavolokhova everything is clear, thanks.

[2015-06-06 07:33] elenavolokhova commented on #309
@davvd Quality is good here.

[2015-06-06 07:36] elenavolokhova commented on #323
@erimerturk
 According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and follow this rule in your tickets in the future.

[2015-06-06 07:40] erimerturk commented on #323
@elenavolokhova what do you mean ? could you explain it please ?

[2015-06-06 07:48] elenavolokhova commented on #323
@erimerturk Sure! You should add a comment to issue ticket and put the PR number to it. See [example](https://github.com/teamed/xockets-hadoop-transport/issues/674). It contains:

@alex-palevsky see PR #681

[2015-06-06 07:57] erimerturk commented on #323
@elenavolokhova i see, thank you so much :) ! please see PR #328

[2015-06-06 08:03] elenavolokhova commented on #323
@erimerturk Thank you :)

[2015-06-06 08:03] elenavolokhova commented on #323
@davvd Quality is acceptable here.

[2015-06-06 08:06] komaz commented on #310
@mbarbieri done

[2015-06-06 08:08] erimerturk commented on #323
@elenavolokhova i have an question for you. You said <b>Quality is acceptable</b> . Can you give me suggestions how can i improve quality ? For example what should i do for quality is good or better ? You don't have to give answer but if you give answer it will be good for future works. thank you

[2015-06-06 08:27] elenavolokhova commented on #323
@erimerturk
First of all you should review all our [quality rules](http://www.teamed.io/qa.html). If you see that anyone doesn't follow any rule in your ticket, ask him to fix it before the ticket is closed and goes to QA review. Be persistent if someone doesn't fix the issue.
Quality is good if ticket is perfect. In this case performer gets a bonus :)
If any issues are still present I can ask for

[2015-06-06 08:37] erimerturk commented on #323
@elenavolokhova i see, thank you so much for your comments, i will take care next time.

[2015-06-06 08:46] ekondrashev commented on #294
@davvd after merge retry problematic test passed, no block here.
@super132 please close this ticket, you can solution at PR #304

[2015-06-06 08:52] elenavolokhova commented on #310
@mbarbieri @komaz Thank you!

[2015-06-06 08:52] elenavolokhova commented on #310
@davvd Quality is acceptable.

[2015-06-06 08:57] super132 commented on #294
@ekondrashev thanks.

[2015-06-06 08:57] #294 closed

[2015-06-06 09:16] davvd commented on #333
@ekondrashev I will find a developer for the task soon...

[2015-06-06 09:17] davvd commented on #333
@ekondrashev there is no milestone yet, so I set it to `1.0`

[2015-06-06 09:17] davvd commented on #309
@elenavolokhova thanks a lot :)

[2015-06-06 09:17] davvd commented on #317
@elenavolokhova thanks for the review and a good remark

[2015-06-06 09:24] davvd commented on #309
@lautarobock just added 10 mins to @elenavolokhova (for QA), payment ID is `58668929`

Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-5YG1163722219383N`, the task took 186 hours and 4 mins)

+30 added to your rating, at the moment it is: [+120](http://www.netbout.com/b/35344?open=rating)

[2015-06-06 09:25] davvd commented on #333
@ekondrashev thanks for the report, I topped your acc for 15 mins, payment ID `58668953`

[2015-06-06 09:54] davvd commented on #310
@elenavolokhova thank you, let's try to make it "good" next time

[2015-06-06 09:54] davvd commented on #323
@elenavolokhova thank you, let's try to make it "good" next time

[2015-06-06 10:03] davvd commented on #310
@mbarbieri 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 58669368

**30 mins** sent to your balance (ID `AP-4K77953469720220R`), many thanks! It took 156 hours and 44 mins.

+30 added to your rating, at the moment it is: [+68](http://www.netbout.com/b/35357?open=rating)

[2015-06-06 10:03] davvd commented on #333
@mbarbieri it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will ac

[2015-06-06 11:26] davvd commented on #317
@komaz just added 10 mins to @elenavolokhova (for QA), payment ID is `58670087`

done, I added **30 mins** in payment `AP-4F19210001430823G`, 161 hours and 15 mins spent to complete this

+30 to your rating, your total score is [+390](http://www.netbout.com/b/35322?open=rating)

[2015-06-06 12:07] davvd commented on #323
@erimerturk 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 58670446; Thank you, I have added **30 mins** to your account in payment/transaction "`AP-38168822VC646592R`", time consumed: 141 hours and 3 mins; +30 added to your rating, current score is: [+120](http://www.netbout.com/b/35280?open=rating)

[2015-06-06 14:22] mbarbieri commented on #321
@davvd PR #334 is ready to be reviewed.

[2015-06-06 19:46] ypshenychka commented on #253
@davvd Quality is good.

[2015-06-06 21:03] davvd commented on #253
@ypshenychka thanks for the review and a good remark

[2015-06-06 21:14] davvd commented on #253
@komaz just added 10 mins to @ypshenychka (for QA), payment ID is `58676446`; Much obliged! I have added **38 mins** to your account in payment "AP-5MH89111A09400627", 57 hours and 30 mins spent; the bonus for fast delivery (m=3450); added +38 to your rating, now it is equal to [+458](http://www.netbout.com/b/35322?open=rating)

[2015-06-07 10:06] davvd commented on #294
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-07 13:15] davvd commented on #287
@ikhvostenkov this task is not yours any more (took too long), please stop. I'll give you something else

-60 added to your rating, current score is: [+25](http://www.netbout.com/b/35232?open=rating)

[2015-06-07 15:43] dmzaytsev commented on #331
@lautarobock any progress here ?

[2015-06-07 15:53] davvd commented on #287
@ekondrashev the task is yours, please go ahead

[2015-06-07 18:30] yegor256 commented on #331
@dmzaytsev let me fix it myself, will be faster. assign it to me pls

[2015-06-07 18:32] dmzaytsev commented on #331
@davvd assign this ticket to @yegor256 please

[2015-06-07 18:47] yegor256 commented on #331
@dmzaytsev maybe you can fix it? I have no idea why it's happening. I only managed to reproduce it in a test, just like you suggested:

[2015-06-07 18:52] dmzaytsev commented on #331
@yegor256 ok, I'll try, assign it to me pls

[2015-06-07 18:53] yegor256 commented on #331
@davvd assign @dmzaytsev to this task pls

[2015-06-07 20:24] davvd commented on #331
@yegor256 of course! @dmzaytsev it's your ticket now, please go ahead

[2015-06-07 21:20] yegor256 commented on #331
@dmzaytsev any luck?

[2015-06-08 02:02] dmzaytsev commented on #331
@yegor256 I found exactly where the bug, but it was too late. today I will
fix it.

[2015-06-08 04:14] dmzaytsev commented on #331
@davvd please see PR #335
@yegor256 fixed

[2015-06-08 05:48] yegor256 commented on #331
@rultor release, tag is `0.20.1`

[2015-06-08 05:48] rultor commented on #331
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4087-109872886)

[2015-06-08 05:55] rultor commented on #331
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/4087-109872886) (spent 6min)

[code]

[2015-06-08 05:57] yegor256 commented on #331
@rultor release, tag is `0.20.1`

[2015-06-08 05:58] rultor commented on #331
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4087-109873820)

[2015-06-08 05:58] elenavolokhova commented on #294
@davvd Looks good!

[2015-06-08 06:06] rultor commented on #331
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4087-109873820) (took me 8min)

[2015-06-08 06:12] yegor256 opened #336 "response building is broken (somewhere)"

[2015-06-08 06:13] #336 closed

[2015-06-08 06:39] adko-pl commented on #230
@davvd Can I get an extension on this ticket? I need to fix code review comments.

[2015-06-08 06:40] adko-pl commented on #306
@davvd please find another developer

[2015-06-08 07:35] yegor256 commented on #336
@rultor release, tag is `0.20.2`

[2015-06-08 07:36] rultor commented on #336
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4088-109892907)

[2015-06-08 07:36] dmzaytsev commented on #331
@davvd  PR #335 fixed the issue, I'm closing the ticket

[2015-06-08 07:36] #331 closed

[2015-06-08 07:40] yegor256 commented on #331
@dmzaytsev thanks!

[2015-06-08 07:41] rultor commented on #336
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4088-109892907) (took me 5min)

[2015-06-08 10:42] davvd commented on #294
@elenavolokhova thanks a lot :)

[2015-06-08 10:42] davvd commented on #306
@adko-pl -30 points to your rating :(

[2015-06-08 10:42] davvd commented on #306
@adko-pl got it, someone else will be assigned soon

[2015-06-08 10:48] davvd commented on #294
@ekondrashev I added 10 mins to @elenavolokhova (for QA review) in transaction 58704465; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `58704479`, the task took 501 hours and 9 mins); +30 added to your rating, at the moment it is: [+226](http://www.netbout.com/b/35260?open=rating)

[2015-06-08 11:24] davvd commented on #149
@ikhvostenkov you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)

-30 to your rating, your total score is [-

[2015-06-08 11:24] davvd commented on #306
@lautarobock can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-06-08 13:36] ekondrashev commented on #287
@davvd I understand you policy, but there is a PR #305 available pending @yegor256 comments.
@ikhvostenkov did provide an implementation for that defect, but the review took more time then expected, so I believe he missed a chance to ask for more time on this.
So, @davvd can you perhaps give @ikhvostenkov another chance to complete this considering all said?

If I take this task, I'll be still pen

[2015-06-08 14:07] lautarobock commented on #263
@yegor256
1) Can I include jcabi-aspect for cache?
2) If I move code to methods, the problem will be Exceptions for parsing request. `names` and `param` do not throws any kind of exception. What do you think? if error returns empty map?

[2015-06-08 21:16] yegor256 commented on #263
@lautarobock 1) no, we can't use any dependencies here. 2) you can make them throw `IOException`, it's OK

[2015-06-08 21:58] lautarobock commented on #306
PR #337 is ready for review

[2015-06-08 22:27] yegor256 commented on #230
@davvd give us more time here pls

[2015-06-08 22:35] yegor256 commented on #287
@davvd please assign @ikhvostenkov back to this task

[2015-06-09 11:28] davvd commented on #230
@yegor256 of course, thanks for letting me know, take your time

[2015-06-09 11:28] davvd commented on #287
@yegor256 done! @ikhvostenkov the task is yours, please proceed

[2015-06-09 11:28] davvd commented on #306
@lautarobock I will take a look, thanks

[2015-06-09 11:34] davvd commented on #331
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-09 12:49] lautarobock commented on #263
@yegor256  not even guava cache? (guava is in test scope now).
Without dependencies I'll must use anti-pattern like lazy-loading or create a kind of `SimpleCache` class to perform it. Do you thinks that is necessary here to create a `SimpleCache`?

[2015-06-09 14:51] zshamrock commented on #263
@lautarobock why lazy-loading is considered as anti-pattern. Just curious, could you, please, share a reference to it?

[2015-06-09 16:02] lautarobock commented on #263
@zshamrock in a similar situation `But please don't make CachedName mutable and lazily loaded — it's an anti-pattern, which I've discussed before in Objects Should Be Immutable.`
ref: http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html

[2015-06-09 17:44] yegor256 commented on #263
@lautarobock @zshamrock lazy-loading will make us use NULL, which is a very bad idea (http://www.yegor256.com/2014/05/13/why-null-is-bad.html). See how that "caching" is implemented in `TkForward.Safe`

[2015-06-09 19:40] zshamrock commented on #263
@yegor256 I think the problem here with the naming :) I completely agree that NULL is bad, but I would call it postponed/delayed initialization rather than lazy-loading, as the cache example (as well as Guava loading cache) they are kind of lazy/on-demand loading. And it perfectly fine fits the OOP concept - behavior, not data from your article where you postpone/lazy the actual action until it is

[2015-06-09 20:26] erimerturk opened #339 "RsPrettyXML is losing <!DOCTYPE html>"
RsPrettyXML must keep <!DOCTYPE html> on result.

<b>given input</b>

[code]
<b>expected output</b>

[code]

<b>current output</b>

[code]

[2015-06-09 23:57] yegor256 commented on #339
@erimerturk thanks for the bug. I think we can reproduce this bug with smaller XML/HTML page, right?

[2015-06-10 00:04] yegor256 commented on #263
@zshamrock yes, the lazy-loading is not against OOP at all, but NULL is a bad thing. So, if we need to do it, let's do it how `TkForward.Safe` is doing it.

[2015-06-10 00:07] lautarobock commented on #263
@yegor256 ok

[2015-06-10 01:17] lautarobock commented on #306
@davvd any news?

[2015-06-10 01:19] lautarobock commented on #263
PR #340 is ready for review

[2015-06-10 04:24] erimerturk commented on #339
@yegor256 of course  this one is enough
[code]

[2015-06-10 04:54] yegor256 commented on #339
@erimerturk would be convenient if you update the description of the ticket, to make is simpler. Now it's too complex and makes the problem less obvious. I need to read too much, so to speak

[2015-06-10 05:33] erimerturk commented on #339
@yegor256  description updated

[2015-06-10 07:02] elenavolokhova commented on #331
@davvd Quality is good here!

[2015-06-10 07:09] ikhvostenkov commented on #287
@yegor256 I've closed PR for this ticket due to current Twitter OAuth mechanism should be redone. If you do not have any comments here, could you please close this then.

[2015-06-10 10:44] davvd commented on #339
@erimerturk I will find a developer for the task soon...

[2015-06-10 10:44] davvd commented on #339
@erimerturk since there is no milestone yet I set it to "1.0"

[2015-06-10 10:45] davvd commented on #263
@lautarobock thank you, I will check it

[2015-06-10 10:45] davvd commented on #331
@elenavolokhova thanks a lot :)

[2015-06-10 10:45] davvd commented on #12
@yegor256 the last puzzle `12-159d303e`/#158 originated from here solved

[2015-06-10 10:45] davvd commented on #229
@dmzaytsev the last puzzle `229-401562da`/#243 originated from here solved

[2015-06-10 10:50] davvd commented on #331
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `59023368`

Thanks for your contribution, **1 hour** was added to your account, payment ID is `59023379`, 14 hours and 15 mins spent total

the bonus for fast delivery (m=855)

+60 added to your rating, at the moment it is: [+2480](http://www.netbout.com/b/35166?open=rating)

[2015-06-10 10:50] davvd commented on #339
@mbarbieri please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-10 10:50] davvd commented on #339
@erimerturk thanks for the report, I topped your acc for 15 mins, payment ID `AP-7Y444500LW5068013`

[2015-06-10 16:10] dmzaytsev commented on #221
@antonini  is there any progress on the ticket ?

[2015-06-10 17:15] yegor256 commented on #287
@ikhvostenkov indeed, this is closed, thanks for the attempt

[2015-06-10 17:15] #287 closed

[2015-06-10 17:24] antonini commented on #221
@dmzaytsev I've received some reviews from @yegor256 and I'm working on it.

[2015-06-10 17:31] dmzaytsev commented on #221
@antonini thanks!

[2015-06-10 20:27] davvd commented on #149
@yegor256 We are done here, thanks all

[2015-06-10 20:27] #149 closed

[2015-06-10 20:27] davvd commented on #330
@yegor256 Finished, thanks, closing..

[2015-06-10 20:27] #330 closed

[2015-06-10 20:30] davvd commented on #149
@ikhvostenkov I added **30 mins** to your account, many thanks for working with the project! The completion time here was 59038973.

+30 added to your rating, current score is: [+25](http://www.netbout.com/b/35232?open=rating)

[2015-06-11 03:39] yegor256 opened #341 "PsGoogle creates incorrect oauth link"
Line 165:

[code]

must be:

[code]

[2015-06-11 05:23] ekondrashev commented on #312
@yegor256 please close this one, solution provided with #332 .

[2015-06-11 10:39] davvd commented on #341
@yegor256 I will find a developer for the task soon...

[2015-06-11 10:39] davvd commented on #341
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-06-11 10:40] davvd opened #342 "TkCORS.java:82-87: RqHeaders.Smart should have a `single(string,..."
Puzzle `258-12a59dfa` in `src/main/java/org/takes/tk/TkCORS.java:82-87` has to be resolved: RqHeaders.Smart should have a `single(string, string)` method. That method should be similar to the method found in `RqHref.Smart`). The first parameter is the key that you are looking for and the second one is the default value if it was not found. Don't forget to remove the checkstyle comment.... The puzz

[2015-06-11 10:41] davvd commented on #258
@dmzaytsev there is a puzzle in this code `258-12a59dfa`/#342, we'll resolve it later

[2015-06-11 10:46] davvd commented on #341
@adko-pl the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-11 10:46] davvd commented on #341
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-ffbaa473`

[2015-06-11 12:12] davvd commented on #342
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-06-11 18:19] pinaf commented on #149
@yegor256 should this be closed?

[2015-06-11 18:37] davvd commented on #287
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-11 20:42] mbarbieri commented on #321
@krzyk @yegor256 can this issue be closed?

[2015-06-11 21:08] mbarbieri commented on #339
@erimerturk @yegor256 it seems that Java transformer is not supporting it directly (see [here](https://stackoverflow.com/questions/10748531/how-to-create-an-empty-doctype-using-w3c-dom-in-java)), but based on [this](http://www.w3.org/html/wg/drafts/html/master/syntax.html#doctype-legacy-string) we can have:
[code]
is it fine?

[2015-06-11 21:18] krzyk commented on #321
@mbarbieri thanks

[2015-06-12 02:13] yegor256 commented on #312
@rultor release, tag is `0.21`

[2015-06-12 02:13] #312 closed

[2015-06-12 02:13] yegor256 commented on #312
@ekondrashev thanks!

[2015-06-12 02:14] rultor commented on #312
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4155-111328856)

[2015-06-12 02:21] rultor commented on #312
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/4155-111328856) (spent 7min)

[code]

[2015-06-12 05:06] yegor256 commented on #293
@Bertram25 thanks!

[2015-06-12 05:06] #293 closed

[2015-06-12 05:14] elenavolokhova commented on #287
@ikhvostenkov
 According to our [quality rules](http://www.teamed.io/qa.html):

 This ticket was closed with no final solution provided.

@yegor256 Could you please help here? Should it be paid?

[2015-06-12 07:10] ikhvostenkov commented on #287
@elenavolokhova This ticket was closed due to this ticket not actual any more because of some problem on the upper level. So not actual ticket - no solution.

[2015-06-12 07:53] adko-pl commented on #230
@davvd the code has been merged, please close this ticket

[2015-06-12 12:11] davvd commented on #342
@erimerturk the task is yours, please go ahead

[2015-06-12 16:32] davvd commented on #258
@antonini you're working with this issue for 15 days already; -30 added to your rating, current score is: [+76](http://www.netbout.com/b/35346?open=rating)

[2015-06-12 16:43] dmzaytsev commented on #258
@antonini thanks!

[2015-06-12 16:43] #258 closed

[2015-06-12 17:02] erimerturk commented on #339
@mbarbieri sorry what is the question, i couldn't understand. And another thing  i can't use <code> "about:legacy-compat" </code> because saxon 9.1 is not accepting it.

[2015-06-12 23:52] antonini commented on #258
@davvd This issue is still as pending on my agenda.

[2015-06-13 06:58] elenavolokhova commented on #287
@ikhvostenkov Thank you for clarification!

[2015-06-13 06:58] elenavolokhova commented on #287
@davvd Quality is bad here.

[2015-06-13 09:27] davvd commented on #287
@elenavolokhova thank you very much

[2015-06-13 09:33] davvd commented on #287
@ikhvostenkov I added 10 mins to @elenavolokhova (for QA review) in transaction 59102833

[2015-06-13 10:37] davvd commented on #293
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-13 10:37] davvd commented on #312
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-13 10:37] davvd commented on #321
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-13 10:55] elenavolokhova commented on #293
@davvd Looks good!

[2015-06-13 10:57] elenavolokhova commented on #312
@davvd Quality is good here!

[2015-06-13 11:44] dmzaytsev commented on #221
@antonini thanks

[2015-06-13 11:44] #221 closed

[2015-06-13 11:46] dmzaytsev commented on #221
@yegor256 please release it

[2015-06-13 12:46] davvd commented on #293
@elenavolokhova many thanks

[2015-06-13 12:47] davvd commented on #312
@elenavolokhova many thanks

[2015-06-13 12:54] davvd commented on #293
@bertram25 just added 10 mins to @elenavolokhova (for QA), payment ID is `59104702`

Many thanks! **30 mins** were added to your account in Transaction ID `AP-0C5107568A596262E` (task took 643 hours and 56 mins)

+30 added to your rating, at the moment it is: [+60](http://www.netbout.com/b/35317?open=rating)

[2015-06-13 14:11] davvd commented on #312
@ekondrashev I added 10 mins to @elenavolokhova (for QA review) in transaction 59105794

thanks, paid, **30 mins** to your account, payment ID is `59105815`, task took 167 hours and 40 mins to complete

+30 to your rating, your total score is [+256](http://www.netbout.com/b/35260?open=rating)

[2015-06-13 15:30] davvd commented on #220
@marcuss last puzzled solved `220-30ba5607`/#227

[2015-06-13 15:33] #230 closed

[2015-06-13 15:33] davvd commented on #230
@yegor256 Thanks, closed

[2015-06-13 15:33] davvd commented on #230
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-13 18:52] davvd commented on #258
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-14 08:10] erimerturk commented on #342
@antonini please see detail on PR #343

[2015-06-14 08:38] ypshenychka commented on #321
@krzyk
According to our [QA Rules](http://www.teamed.io/qa.html):

If I am not mistaken, the correponding PR is not yet closed as far as there are some major design concerns.
Please do a reopen and close the issue only when reported problem is solved and code is successfully merged.

[2015-06-14 08:58] ypshenychka commented on #230
@adko-pl
According to our [QA Rules](http://www.teamed.io/qa.html):

Please indicate in any of your messages link to corresponding PR.

[2015-06-14 09:01] ypshenychka commented on #258
@davvd Quality is good.

[2015-06-14 09:06] krzyk commented on #321
@ypshenychka you are right, I didn't check the merge status correctly, sorry for that

[2015-06-14 09:17] ypshenychka commented on #321
@krzyk Thank you! Let's wait for PR #334 to be finished and then we will come back to this ticket.

[2015-06-14 10:14] davvd commented on #258
@ypshenychka thanks for the review

[2015-06-14 10:23] davvd commented on #258
@antonini 10 mins was added to the account of @ypshenychka (for QA review), in transaction 59118657

Much appreciated! **30 mins** was added to your account, payment ID `AP-7LX03090UJ9369809`, time spent is 361 hours and 42 mins

+30 added to your rating, current score is: [+136](http://www.netbout.com/b/35346?open=rating)

[2015-06-14 12:53] davvd commented on #221
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-14 13:17] ypshenychka commented on #221
@davvd Quality is good here.

[2015-06-14 13:30] antonini commented on #342
@erimerturk I made a comment on your PR.

[2015-06-14 13:39] davvd commented on #160
@yegor256 the last puzzle `160-fc7f658c`/#276 solved

[2015-06-14 14:49] davvd commented on #221
@ypshenychka thank you

[2015-06-14 14:57] davvd commented on #221
@antonini I added 10 mins to @ypshenychka (for QA review) in transaction 59121414; Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-8ET854868R895722R`, 627 hours and 3 mins spent total; +30 added to your rating, at the moment it is: [+166](http://www.netbout.com/b/35346?open=rating)

[2015-06-14 17:06] erimerturk commented on #342
@antonini issue description saying nothing about <code>try catch</code> block. next time please note it at PDD. thank you

[2015-06-14 19:45] antonini commented on #342
@erimerturk I didn't write about `try catch` block because it was there just because of the method that was been called (that it could throw an exception). As the new method doesn't throw an exception if not found, the `try catch` block is not needed any more.

[2015-06-15 10:38] davvd commented on #281
@yegor256 please pay attention to this issue

[2015-06-15 10:38] davvd commented on #121
@yegor256 please pay attention to this issue

[2015-06-15 17:22] adko-pl commented on #230
@ypshenychka I fixed the QA issues in this ticket

[2015-06-15 20:09] ypshenychka commented on #230
@adko-pl Thanks!

[2015-06-15 20:09] ypshenychka commented on #230
@davvd Quality is acceptable.

[2015-06-15 23:35] yegor256 commented on #121
@dmzaytsev we'll implement `toString` in all of them

[2015-06-16 08:39] erimerturk opened #345 "travis-ci build failling for jdk6"
You can see full details from [here] (https://travis-ci.org/yegor256/takes/jobs/66991273)

exception detail

<code>
[ERROR] pool-1-thread-41 com.jcabi.aspects.aj.MethodValidator: JSR-303 validator thrown during initialization: java.lang.UnsupportedClassVersionError: javax/el/ExpressionFactory : Unsupported major.minor version 51.0
</code>

[2015-06-16 09:29] davvd commented on #121
@dmzaytsev milestone set to `1.0` (correct me if I am wrong)

[2015-06-16 09:29] davvd commented on #230
@ypshenychka thanks for the QA review, we'll work better next time

[2015-06-16 09:37] davvd commented on #121
@adko-pl this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-16 09:37] davvd commented on #230
@adko-pl just added 10 mins to @ypshenychka (for QA), payment ID is `59387582`. Thank you, I have added **30 mins** to your account in payment/transaction "`AP-6Y065313U9637230D`", time consumed: 604 hours and 34 mins. +30 added to your rating, at the moment it is: [-150](http://www.netbout.com/b/35150?open=rating)

[2015-06-16 09:37] davvd commented on #121
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `59387637`

[2015-06-16 20:48] yegor256 commented on #345
@erimerturk it's not a failure, but just a log message. The build failed for another reason.

[2015-06-16 20:48] #345 closed

[2015-06-17 09:34] erimerturk commented on #342
@antonini please check and close if it is acceptable for you, thank you

[2015-06-17 12:10] antonini commented on #342
@erimerturk That's ok.

[2015-06-17 12:10] antonini commented on #342
@davvd The issue is ok. Can you close it?

[2015-06-17 15:46] lautarobock commented on #263
@davvd #340 is merged. Do you need something else?

[2015-06-17 16:12] dmzaytsev commented on #263
@lautarobock thanks!

[2015-06-17 16:12] #263 closed

[2015-06-17 18:27] davvd commented on #321
@mbarbieri you're working with this issue for 15 days already... -30 added to your rating, current score is: [+113](http://www.netbout.com/b/35357?open=rating)

[2015-06-18 16:10] GilraenBurland opened #346 "RSJson must close the JsonWriter to flush it's content into the ByteArrayOutputStream"
Hi there,

I am currently writing a small web app based on the Takes Framework.
I want to return a JSON response and I noticed that the content of a RsJSON.Source is not correctly written to the ByteArrayOutputStream.

After some testing I found the possible solution:

[code]

must include a call to the JsonWriter.close() to flush the write to the underlying BAOS.

[code]

[2015-06-18 17:01] davvd commented on #263
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-18 17:41] yegor256 commented on #346
@GilraenBurland thanks for reporting, it's definitely a bug, we'll try to fix soon

[2015-06-18 18:28] davvd commented on #346
@gilraenburland this task will get someone's attention soon

[2015-06-18 18:28] davvd commented on #346
@gilraenburland I set the milestone to 1.0 since there is nothing set yet

[2015-06-18 18:35] davvd commented on #346
@dmzaytsev it's yours, budget is 30 mins, please go ahead

[2015-06-18 19:18] dmzaytsev commented on #346
@davvd please see PR #347

[2015-06-18 20:31] davvd commented on #346
@dmzaytsev I will take a look, thanks

[2015-06-18 22:34] mbarbieri commented on #339
@davvd PR #348 is ready.

[2015-06-19 03:24] elenavolokhova commented on #263
@davvd Quality is good here.

[2015-06-19 04:15] yegor256 commented on #346
@rultor release, tag is `0.20.3`

[2015-06-19 04:15] rultor commented on #346
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4250-113360631)

[2015-06-19 04:16] dmzaytsev commented on #346
@GilraenBurland the issue resolved in PR #347 please close the ticket

[2015-06-19 04:22] rultor commented on #346
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4250-113360631) (took me 7min)

[2015-06-19 04:23] #346 closed

[2015-06-19 06:38] ekondrashev opened #349 "PsBasic misses Default Entry implementation"
Recently it was introduced Basic Authentication `Pass` implementations with #221 called `PsBasic`. As part of implementation `PsBasic.Entry` interface was introduced with `PsBasic.Fake` and `PsBasic.Empty` implementations.

I think `PsBasic` misses the `Default` implementation in order to be able to use this `Pass` implementation having real username/password pairs.

[2015-06-19 07:10] ekondrashev opened #350 "PsAll is missing"
Takes misses `Pass` implementation that will require each provided `Pass` to success in order to the target `Pass` to success.
The concept is similar to python [all](https://docs.python.org/2/library/functions.html#all) builtin.

The contract could be like this:
[code]

The `index` parameter will indicate which `Identity` to return once all suceeded.

[2015-06-19 11:48] davvd commented on #263
@elenavolokhova thank you :)

[2015-06-19 11:54] davvd commented on #263
@lautarobock I added 10 mins to @elenavolokhova (for QA review) in transaction 59512367

Many thanks! **30 mins** were added to your account in Transaction ID `AP-80288945911246939` (task took 317 hours and 50 mins)

+30 added to your rating, at the moment it is: [+150](http://www.netbout.com/b/35344?open=rating)

[2015-06-19 13:13] davvd commented on #342
@yegor256 Closing, thanks all

[2015-06-19 13:13] #342 closed

[2015-06-19 13:13] davvd commented on #342
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-19 16:39] yegor256 commented on #350
@ekondrashev I can't imagine where such a class may be useful. Can you give a real life example?

[2015-06-19 17:30] davvd commented on #349
@ekondrashev I am aware of the task, give me some time to find a developer...

[2015-06-19 17:30] davvd commented on #349
@ekondrashev I set the milestone to 1.0 since there is nothing set yet

[2015-06-19 17:36] davvd commented on #349
@lautarobock it's yours,please go ahead

[2015-06-19 17:37] davvd commented on #349
@ekondrashev thank you for reporting this, I added 15 mins to your acc, transaction `59519453`

[2015-06-19 18:06] GilraenBurland opened #351 "RsXSLT not working correctly"
Using the RsXSLT is not working correctly if the xls file path is given as a plain string.

Example:

[code]

This results in:

`Caused by: java.io.FileNotFoundException: /xsl/config.xsl (No such file or directory)`

The cause seems to be somewhere in the input source.
It references the xls file as '/xsl/config.xsl' and not with the complete path which results in following path:

`file:///xsl/conf

[2015-06-19 20:53] yegor256 commented on #351
@GilraenBurland this is by design. It's not a file path, but a resource name, which is at the same must be a web page available through HTTP. I will add this text now to the Javadoc

[2015-06-19 20:57] yegor256 commented on #351
@GilraenBurland see  e9954c3

[2015-06-19 21:13] GilraenBurland commented on #351
Yeah that's what I expected and it is working when I am just using RsXembly because the browser loads the xls file as expected.

But RsXSLT should load it from classpath without me defining `getClass().getResource()` right?
That's not working as it seems that the RsXSLT.InClasspath URIResolver is not being called.

[2015-06-19 22:34] yegor256 commented on #351
@GilraenBurland I think I know what is the problem. You should use Saxon instead of default XSLT processor. See how it's done in, for example, rultor: https://github.com/yegor256/rultor/blob/1.55/pom.xml#L308-L327

[2015-06-20 06:05] ekondrashev commented on #350
@yegor256 Sure, for example in scope of [netbout#685](https://github.com/yegor256/netbout/issues/685) there is an need in so called `PsTwice` which is actually the corner case of `PsAll`.
Here is the quote:

[2015-06-20 06:12] GilraenBurland commented on #351
Hi Yegor,

I placed the dependencies in my pom.xml but it seems it is not grabbing them at runtime. Do I have to do something more?

[2015-06-20 11:56] elenavolokhova commented on #342
@davvd Looks good!

[2015-06-20 13:23] davvd commented on #342
@elenavolokhova thanks!

[2015-06-20 13:27] davvd commented on #346
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-20 13:29] davvd commented on #342
@erimerturk I added 10 mins to @elenavolokhova (for QA review) in transaction 59534716

Much appreciated! **30 mins** was added to your account, payment ID `AP-2DP99794EG0584313`, time spent is 144 hours and 14 mins

+30 added to your rating, current score is: [+150](http://www.netbout.com/b/35280?open=rating)

[2015-06-20 14:01] ypshenychka commented on #346
@davvd Quality is good.

[2015-06-20 16:01] davvd commented on #346
@ypshenychka thanks a lot ;)

[2015-06-20 16:10] davvd commented on #346
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 59536664. **1 hour** was added to your account, many thanks for your contribution (payment 59536667)! The task took 17 hours and 18 mins.. the bonus for fast delivery (m=1038). +60 added to your rating, at the moment it is: [+2840](http://www.netbout.com/b/35166?open=rating)

[2015-06-21 10:08] davvd commented on #333
@mbarbieri you're working with this issue for 15 days already

-30 added to your rating, current score is: [+113](http://www.netbout.com/b/35357?open=rating)

[2015-06-22 02:26] yegor256 commented on #350
@ekondrashev hm.. make sense, thanks

[2015-06-22 02:30] yegor256 commented on #351
@GilraenBurland not sure.. you should investigate what XSL transformer is used in runtime.  check this: http://stackoverflow.com/questions/11314604/how-to-set-saxon-as-the-xslt-processor-in-java

[2015-06-22 09:15] davvd commented on #350
@ekondrashev I am aware of the task, give me some time to find a developer...

[2015-06-22 09:15] davvd commented on #350
@ekondrashev I set milestone here to `1.0`, let me know if it is wrong

[2015-06-22 09:20] davvd commented on #350
@ekondrashev thanks a lot for reporting, **15 mins** added to your acc, pmt ID `59564195`

[2015-06-22 19:02] davvd commented on #321
@mbarbieri this task is not yours any more (took too long), please stop. I'll give you something else; -60 added to your rating, current score is: [+53](http://www.netbout.com/b/35357?open=rating)

[2015-06-22 20:42] mbarbieri commented on #333
@davvd I tried several things but with no success... I give up on this... please reassign this to someone else. Thanks

[2015-06-22 21:18] mbarbieri opened #352 "Add Opt constructor that checks for null"
While working with 3rd party libraries I think it can be useful to have a constructor in `Opt` that checks for null and create a proper `Opt.Empy` or `Opt.Single` accordingly.

Similar to what `Optional.ofNullable` is doing in Java 8.
So that we don't have to do nullchecks manually like:

[code]

[2015-06-22 21:35] yegor256 commented on #352
@mbarbieri where exactly will this help us? Can you show an example where this code exists?

[2015-06-23 10:29] davvd commented on #333
@mbarbieri -30 points to your rating :(

[2015-06-23 10:29] davvd commented on #333
@mbarbieri no problem, I will try to find somebody else

[2015-06-23 12:20] davvd commented on #306
@lautarobock you're working with this issue for 15 days already

-30 to your rating, your total score is [+90](http://www.netbout.com/b/35344?open=rating)

[2015-06-23 16:01] GilraenBurland commented on #351
Thanks for the help! Now it is working :)

[2015-06-23 16:01] #351 closed

[2015-06-23 18:44] davvd commented on #321
@erimerturk please go ahead with this task, it's yours

[2015-06-23 20:23] yegor256 commented on #351
@GilraenBurland you're welcome :) thanks for using the framework

[2015-06-24 12:35] davvd commented on #333
@erimerturk the task is yours please proceed

[2015-06-24 16:03] dmzaytsev opened #353 "RsReturn should validate the location"
right now RsReturn accepts any string as the `location` parameter
I believe `location` value should be validated for a valid url and rejected any other values

[2015-06-24 17:11] davvd commented on #353
@dmzaytsev we will find someone to do this task, soon

[2015-06-24 17:11] davvd commented on #353
@dmzaytsev there is no milestone yet, so I set it to `1.0`

[2015-06-24 17:22] davvd commented on #353
@dmzaytsev thanks a lot for reporting, **15 mins** added to your acc, pmt ID `59909343`

[2015-06-24 19:03] davvd commented on #350
@lautarobock please proceed, it's yours

[2015-06-25 12:12] davvd commented on #339
@mbarbieri the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 to your rating, your total score is [-7](http://www.netbout

[2015-06-27 07:19] mbarbieri commented on #339
@davvd I'm sorry I'm not able to complete this... can you please reassign it to someone else?

[2015-06-27 10:08] davvd commented on #339
@mbarbieri 30 points was deducted from your rating

[2015-06-27 10:08] davvd commented on #339
@mbarbieri right, I will find someone else, no problem

[2015-06-27 15:05] erimerturk commented on #321
@davvd another people is working on this issue, what should i do ?

[2015-06-27 16:44] dmzaytsev opened #354 "Incorrect setting the expiration date for a cookies"
There are 3 classes using setting the expiration date for a cookies: RsFlash, PsCookie, RsReturn. All of them use the following code for expiration date calculation :

[code]

the expiration date declared as GMT but the value uses local timezone. As result we have incorrect expiration date for a cookies. It is really can be seen if the server and the client are located in different time zones. I b

[2015-06-28 08:36] erimerturk commented on #333
@yegor256 do you have any suggestion how can i reproduce problem and where should i concentrate for solution ?

[2015-06-28 12:11] davvd commented on #306
@lautarobock the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)

-60 added to your rating, current score is: [-90](http://www.netbout.com/b/35344?open=rating)

[2015-06-29 04:09] yegor256 commented on #321
@erimerturk ignore them, it's your task, do it

[2015-06-29 04:15] yegor256 commented on #354
@dmzaytsev and it's an obvious code duplication, we should resolve it, you're right

[2015-06-29 04:16] yegor256 commented on #333
@erimerturk honestly, no idea... but I believe it's not difficult, just requires some research

[2015-06-29 10:46] davvd commented on #354
@dmzaytsev I will find a developer for the task soon...

[2015-06-29 10:46] davvd commented on #354
@dmzaytsev attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-06-29 10:52] davvd commented on #306
@erimerturk the task is yours plz proceed

[2015-06-29 10:52] davvd commented on #354
@dmzaytsev many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `60018802`

[2015-06-29 11:38] lautarobock commented on #306
@davvd @erimerturk @yegor256 @pinaf I made a commit 3 days ago in a Pull Request Nro 306, nobody take the review, but the solution is still there, and is mine :)

[2015-06-29 16:16] dmzaytsev opened #355 "missing a location in the parameters of the RsFailure constructor"
Right now RsFailure doesn't allow to set a redirection location, it uses RsForward with the default parameter value  '/'  for the location .
It would be great to implement  a new ctor for RsFailure which allow to set the redirection location.

[2015-06-29 20:37] yegor256 commented on #306
@davvd pls assign @lautarobock back to this ticket. @lautarobock pls keep this in mind: http://www.teamed.io/policy.html#7

[2015-06-29 20:47] lautarobock commented on #306
@yegor256 thanks!

[2015-06-29 23:34] yegor256 commented on #355
@rultor release, tag is `0.21`

[2015-06-29 23:34] rultor commented on #355
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4360-116879246)

[2015-06-29 23:45] rultor commented on #355
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4360-116879246) (took me 11min)

[2015-06-30 03:48] dmzaytsev commented on #355
@yegor256  thanks!

[2015-06-30 03:48] #355 closed

[2015-06-30 16:24] lautarobock commented on #350
PR#350 is ready for review

[2015-06-30 23:07] yegor256 commented on #306
@davvd assign this ticket to @lautarobock

[2015-07-01 10:22] erimerturk commented on #321
@davvd i need more time for this task i couldn't started it because another people was working on it, thank you

[2015-07-01 12:02] davvd commented on #321
@erimerturk no problem, thanks for letting me know

[2015-07-01 14:11] lautarobock commented on #349
PR#357 is ready for review

[2015-07-01 18:04] erimerturk commented on #321
@krzyk please see PR #358

[2015-07-03 17:24] davvd commented on #353
@erimerturk please go ahead with this task, it's yours

[2015-07-04 18:55] GilraenBurland opened #359 "Using a RsFork results in calling the take twice"
I am trying to implement a RsFork.
Currently it looks like this:

[code]

After provoking an exception and debugging the called take I can see that it is called twice.
Furthermore if this take is using a `RqPrint` then the second call to `printBody()` freezes the whole application as it is using the same input stream as on the first call.

When I do the forking like this:

[code]

There are no pro

[2015-07-04 19:07] davvd commented on #349
@lautarobock the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 to your rating, your total score is [-18

[2015-07-05 01:21] lautarobock commented on #349
@davvd I'm waiting for review.

[2015-07-05 08:06] erimerturk commented on #353
@davvd  i have an preterm baby yesterday, please reassign my issue someone else, thank you

[2015-07-05 08:07] erimerturk commented on #333
@davvd  i have an preterm baby yesterday, please reassign my issue someone else, thank you

[2015-07-05 09:50] davvd commented on #333
@erimerturk 30 points deducted from your rating

[2015-07-05 09:50] davvd commented on #333
@erimerturk right, I will find someone else, no problem

[2015-07-05 09:50] davvd commented on #353
@erimerturk -30 points to your rating

[2015-07-05 09:50] davvd commented on #353
@erimerturk OK, I will try to assign someone else

[2015-07-05 14:51] davvd commented on #252
@yegor256 the last puzzle `252-d7f3c72e`/#323 originated from here solved

[2015-07-07 04:32] yegor256 commented on #359
@GilraenBurland can you show a unit test that reproduces the problem?

[2015-07-07 06:13] erimerturk commented on #321
@krzyk please close if it is acceptable for u, thank u

[2015-07-07 06:34] krzyk commented on #321
@erimerturk thanks

[2015-07-07 06:34] #321 closed

[2015-07-07 07:04] ypshenychka commented on #321
@davvd Quality is acceptable because of above remark.

[2015-07-07 09:26] davvd commented on #321
@ypshenychka thanks for the review, we'll try better next time

[2015-07-07 15:13] GilraenBurland commented on #359
@yegor256 take a look at this: https://github.com/GilraenBurland/roster/blob/master/server/src/main/java/de/sl/roster/server/services/TkServices.java

Uncommenting the lines (and commenting out the return beforehand) and
after you start the local server via the Entry class and then post a request like this:

`curl -XPOST http://localhost:8080/example-service/dev --data 'test'`

 the TkPOSTServices

[2015-07-07 17:28] yegor256 commented on #359
@GilraenBurland I just added a test in f141050 and it doesn't fail. I suspect that you need to use `RqGreedy`, because you're reading your requests a few times and of course only the first attempt succeeds... I need more details about your case to help more. Can you create a unit test that will fail?

[2015-07-07 18:59] GilraenBurland commented on #359
@yegor256 It seems I can not recreate the problem in a unit test.
I debugged some more and it seems that it has something to do with my fallback chain.
If I remove the whole `TkFallback` the Take is only called once.
So my first guess was my usage of a RsFork in the error handling, but after removing that it still is called twice.

I'm at a loss for the moment :disappointed:

[2015-07-08 09:57] davvd commented on #321
@erimerturk just added 10 mins to @ypshenychka (for QA), payment ID is `60765586`; thank you, added **30 mins** to your acc, payment num is `AP-4V060928V60132405`, 326 hours and 42 mins spent in total to complete; added +30 to your rating, now it is equal to [+150](http://www.netbout.com/b/35280?open=rating)

[2015-07-08 19:16] GilraenBurland commented on #359
Hi @yegor256 I tested some more and created a unit test which tested my `TkRoot`.
Using the unit test showed me that the `TkPOSTServices` is called only once.
Testing again against the whole application resulted in two calls again.

Do you think it has something to do with my `Entry` or `App` classes?
https://github.com/GilraenBurland/roster/blob/master/server/src/main/java/de/sl/roster/server/Ent

[2015-07-09 18:29] davvd commented on #349
@lautarobock it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-240](http://www.netbout.com/b/35344?open=rating)

[2015-07-09 19:31] davvd commented on #350
@lautarobock you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). -30 added to your rating, current score is:

[2015-07-10 01:55] yegor256 commented on #359
@GilraenBurland they both look correct to me. There is something wrong in your "takes". Try to create a unit test for `TkRoot` and reproduce the problem. Always reproduce in a test, don't debug.

[2015-07-10 16:21] davvd commented on #284
@yegor256 OK, we'll postpone it

[2015-07-10 17:23] davvd commented on #284
@yegor256 OK, we'll postpone it

[2015-07-10 18:31] davvd commented on #284
@yegor256 OK, we'll postpone it

[2015-07-10 19:40] davvd commented on #284
@yegor256 OK, we'll postpone it

[2015-07-10 20:16] davvd commented on #284
@yegor256 OK, we'll postpone it

[2015-07-10 23:24] yegor256 opened #360 "CcAES extra ctor with String as key"

[2015-07-10 23:24] #360 closed

[2015-07-11 10:56] davvd commented on #333
@bilalyasar can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-07-13 18:27] davvd commented on #11
@yegor256 the last puzzle `11-790c0445`/#230 originated from here solved

[2015-07-13 18:32] davvd commented on #339
@suseika please proceed, it's yours

[2015-07-13 20:04] davvd commented on #349
@suseika please go ahead with this task, it's yours

[2015-07-13 21:04] davvd commented on #350
@suseika please proceed,it's yours

[2015-07-14 11:06] davvd commented on #306
@erimerturk you're working with this issue for 15 days already... -30 added to your rating, current score is: [+120](http://www.netbout.com/b/35280?open=rating)

[2015-07-14 11:11] erimerturk commented on #306
@davvd @yegor256 already ask you to assign this ticket to @lautarobock, i didn't work on this ticket, and also i am on away mode, you can check it from netbout, @davvd please rollback my rating, thank you

[2015-07-14 15:29] Suseika commented on #339
@davvd Please assign someone else.

[2015-07-14 17:25] davvd commented on #339
@suseika 30 points deducted from your rating

[2015-07-14 17:25] davvd commented on #339
@suseika got it, someone else will be assigned soon

[2015-07-14 19:15] Suseika opened #361 "Class RqHeaders.Smart has a generic, non-meaningful name"
The name and class-level javadoc of class `RqHeaders.Smart` doesn't explain its purpose, which is to fetch a single header. Lets rename the class and update its javadoc.

[2015-07-14 20:21] Suseika opened #362 "Combine username and password in a single object wherever they're passed together"
There are many methods with parameters `String user` and `String password`. Username and passowrd are generally passed around and created together. Lets encapsulate username and password in a `User` or `Credentials` or whatever named interface like this:

[code]

and replace `String user, String password` parameters with a `User` object, for example in `PsBasic.Entry#enter(String, String)` method.

[2015-07-14 22:18] yegor256 commented on #362
@Suseika but it's the only place where we have that, right? in `PsBasic.Entry`.. or there are other places?

[2015-07-14 22:21] yegor256 commented on #361
@Suseika it's not only for fetching a single header. there will be more features in the future. this design is similar to the one we're using in jcabi-github: http://github.jcabi.com/apidocs-0.23/com/jcabi/github/package-summary.html

[2015-07-14 22:21] #361 closed

[2015-07-14 22:49] Suseika commented on #362
@yegor256 There is also `PsBasicTest#generateAuthenticateHead`.

I was wrong when I said that there are "many methods". But I think that in future, when there are more clients of `PsBasic.Entry`, we would benefit from passing username and password together, because those are usually obtained together (i.e. from database or registration form) and those are highly related concepts (one usually doesn

[2015-07-15 00:37] yegor256 commented on #362
@Suseika I see your point, but I disagree for now. If there would be 4+ parameters, this grouping would make sense. But just two... We may let them stay separately. Remember, objects/classes are not data bags/holders.

[2015-07-15 00:37] #362 closed

[2015-07-15 17:29] yegor256 opened #363 "FtRemote port allocation is not safe"
`FtRemote` is allocating ports and then throwing them away before actual use. This is not entirely thread-safe.

[2015-07-15 17:50] yegor256 commented on #363
@rultor release, tag is `0.21.1`

[2015-07-15 17:51] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4505-121691841)

[2015-07-15 17:58] yegor256 opened #364 "FtCLI new param --port=/tmp/foo.txt"
Let's make it possible to run `FtCLI` with this param:

[code]

If port is not a number, it has to be treated as file name. If this file is present, we read the port number from there. If it's not present, we allocate a new random port and save it into the file.

The main reason for this is to make `FtCLI` more thread/process safe.

[2015-07-15 18:02] rultor commented on #363
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4505-121691841) (took me 10min)

[2015-07-15 18:06] #363 closed

[2015-07-15 18:21] yegor256 commented on #364
@rultor release, tag is `0.22`

[2015-07-15 18:21] rultor commented on #364
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4506-121703030)

[2015-07-15 18:31] rultor commented on #364
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/4506-121703030) (spent 10min)

[code]

[2015-07-15 18:32] yegor256 commented on #364
@rultor release, tag is `0.22`

[2015-07-15 18:33] rultor commented on #364
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4506-121706027)

[2015-07-15 18:37] davvd commented on #364
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-07-15 18:44] rultor commented on #364
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4506-121706027) (took me 10min)

[2015-07-15 18:46] #364 closed

[2015-07-17 20:32] yegor256 commented on #306
@davvd assign this to @lautarobock

[2015-07-17 23:01] lautarobock commented on #306
@yegor256 you've fired me :D

[2015-07-18 01:30] yegor256 commented on #306
@davvd assign someone else pls

[2015-07-18 09:43] davvd commented on #306
@erimerturk OK, got it, will re-assign

[2015-07-18 09:43] davvd commented on #306
@yegor256 I deducted 30 points from your rating

[2015-07-18 09:43] davvd commented on #306
@yegor256 right, I'll try to find someone else for this task

[2015-07-18 09:47] erimerturk commented on #306
@davvd could you rollback negative rating please, thank you

[2015-07-18 10:24] erimerturk commented on #306
@davvd @yegor256 i lost 60 point because of this issue, why ? could you please explain it to me ? could you please fix it ?

[2015-07-19 14:46] davvd commented on #258
@dmzaytsev last puzzled solved `258-12a59dfa`/#342

[2015-07-19 17:40] Suseika commented on #349
@davvd I need more time with this task

[2015-07-19 17:41] davvd commented on #349
@suseika sure, take your time

[2015-07-20 11:35] Suseika commented on #350
@davvd I need more time.

[2015-07-20 12:29] Suseika opened #367 "RqMultipartTest#handlesRequestInTime fails sometimes on my machine"
`RqMultipartTest#handlesRequestInTime` seems to actually be a performance test. I don't think we should test performance during Maven build because it makes the build environment-dependent. For instance, on my machine this test finishes in too long time because my computer has to swap quite a lot in order to do a Maven build. Instead of required 3000 ms it runs for about 2000-10000 ms, and that ca

[2015-07-21 10:34] davvd commented on #350
@suseika of course, take your time

[2015-07-21 11:39] dmzaytsev opened #368 "PsFake doesn't allow to return a custom Identity instance"
Right now `PsFake.enter()` returns hard-coded `new Identity.Simple("urn:test:1")`
It doesn't allow to test something with a custom identity.

It would be good to add a new ctor to PsFake

`public PsFake(final boolean cond, final Identity identity)`

and `PsFake.enter()` should return `identity` instead `new Identity.Simple("urn:test:1")`

[2015-07-21 13:11] dmzaytsev commented on #368
@yegor256 sorry, I forgot about `'PsFixed`.  It can be used for this
I am closing the ticket

[2015-07-21 13:11] #368 closed

[2015-07-21 20:55] yegor256 opened #369 "testing facility or #main()"
Let's create a simple one, which will allow this code, to test `App#main()`:

[code]

[2015-07-21 20:57] yegor256 commented on #369
@rultor release, tag is `0.23`

[2015-07-21 20:57] rultor commented on #369
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4582-123475191)

[2015-07-21 21:04] rultor commented on #369
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4582-123475191) (took me 6min)

[2015-07-21 21:07] #369 closed

[2015-07-21 21:08] yegor256 opened #370 "MainRemote reads files too soon"
That's why sometimes the file content is empty

[2015-07-21 21:19] yegor256 commented on #370
@rultor release, tag is `0.23.1`

[2015-07-21 21:20] rultor commented on #370
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4583-123481319)

[2015-07-21 21:31] rultor commented on #370
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4583-123481319) (took me 10min)

[2015-07-21 21:51] #370 closed

[2015-07-22 10:17] davvd commented on #350
@rultor @ekondrashev please take a look, rultor closed it automatically

[2015-07-22 11:02] ekondrashev commented on #350
@Suseika thank you!

[2015-07-22 11:02] #350 closed

[2015-07-23 10:09] Suseika commented on #350
@davvd Closed with #366

[2015-07-23 13:34] davvd commented on #367
@yegor256 please do something about this issue

[2015-07-23 14:19] davvd commented on #350
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-07-23 16:27] elenavolokhova commented on #350
@davvd Looks good!

[2015-07-23 17:34] davvd commented on #350
@elenavolokhova thanks for the review and a good remark

[2015-07-23 17:41] davvd commented on #350
@suseika I added 10 mins to @elenavolokhova (for QA review) in transaction 61671588... thank you, added **30 mins** to your acc, payment num is `AP-1JC27519LF7076547`, 208 hours and 34 mins spent in total to complete... added +30 to your rating, now it is equal to [+413](http://www.netbout.com/b/35381?open=rating)

[2015-07-23 18:03] yegor256 commented on #367
@Suseika makes total sense, thanks

[2015-07-23 19:18] davvd commented on #367
@suseika milestone set to `1.0` (correct me if I am wrong)

[2015-07-23 19:24] davvd commented on #367
@suseika thanks for tis bug, I topped your account for 15 mins, transaction `AP-65M04576K5382373T`

[2015-07-26 11:38] davvd commented on #333
@bilalyasar you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... added -30 to your rating, now it is equal to [-3

[2015-07-26 14:06] GilraenBurland opened #371 "RqHeaders.Base ignores first header"
RqHeaders throws away the first header of a request in it's `map()` function:

[code]

[2015-07-27 02:08] antonini opened #372 "HTTP 1.1 multipart/form-data is not supported (chunks)"
When I try to upload large files using a `multipart/form-data` form, server's throws an error saying that `there is no LF after CR in header, line #%d: \"%s\.` on class RqLive.

To reproduce this error, run netbout in debug and put a breakpoint on that line. Try to upload a file with more that 5 mb.

Browser will try to upload the file in chunks, but takes does not support that.

[2015-07-27 07:06] yegor256 commented on #371
@GilraenBurland it's by design, since the first line in the "head" is not a header, but something like:

[code]

Can you show a code reproducing a problem?

[2015-07-27 08:08] GilraenBurland commented on #371
Ah that's my mistake then.

[2015-07-27 08:08] #371 closed

[2015-07-27 08:30] yegor256 commented on #372
@antonini can you please suggest a test, which will reproduce this problem?

[2015-07-27 08:44] carlosmiranda opened #373 "Application crashes when Response pipe is broken"
I am trying to write a small monitoring application using Takes. Right now I'm having issues, because the application keeps crashing with the following error printed to the output:

[code]

Line 119 is a call to `FtBasic.start()`. I don't think the application should crash when the response tries to write to the output, which means either this is definitely a bug or I'm doing something wrong.

**U

[2015-07-27 09:09] yegor256 commented on #373
@carlosmiranda makes sense, thanks!

[2015-07-27 09:16] davvd commented on #373
@carlosmiranda this task will get someone's attention soon

[2015-07-27 09:16] davvd commented on #373
@carlosmiranda since there is no milestone yet I set it to "1.0"

[2015-07-27 09:22] davvd commented on #373
@carlosmiranda thank you for the ticket reported, I topped your account for 15 mins, transaction `61755338`

[2015-07-27 09:24] carlosmiranda commented on #373
@yegor256 just a side note... I like the way that I'm actually able to use our open-source projects during my day job. :)

[2015-07-27 11:37] yegor256 commented on #373
@carlosmiranda that's what they are for :) and I'm sure you're not alone

[2015-07-27 16:32] antonini commented on #372
@yegor256 Need to be a unit test? Or some steps to reproduce inside a real project, such as Netbout?

[2015-07-27 17:48] yegor256 commented on #372
@antonini just a unit test

[2015-07-28 09:46] ekondrashev commented on #260
@yegor256 could you please provide final decision here?
I'm not sure whether I should proceed here, since I'm not with this particular project no more.
Though I can.

[2015-07-28 16:58] Suseika commented on #349
@ekondrashev Closed with #365, please see.

[2015-07-28 17:29] ekondrashev commented on #349
@Suseika thx!

[2015-07-29 18:39] davvd commented on #349
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-07-29 20:07] davvd commented on #349
@rultor rultor closed it by mistake, @ekondrashev please take a look

[2015-07-30 05:11] ekondrashev commented on #349
@davvd it is ok, I've already took a look, thx

[2015-07-30 05:11] #349 closed

[2015-07-30 06:41] elenavolokhova commented on #349
@davvd Looks good!

[2015-07-30 12:21] davvd commented on #349
@elenavolokhova thanks for the review and a good remark

[2015-07-30 12:27] davvd commented on #349
@suseika 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 62123503. Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-7H760314TP408643K`, the task took 357 hours and 42 mins). +30 added to your rating, current score is: [+503](http://www.netbout.com/b/35381?open=rating)

[2015-07-31 11:12] davvd commented on #333
@bilalyasar it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 added to your rating, current score is: [-90](http://www.netbout.com/b/35406?open=rating)

[2015-08-03 14:20] antonini commented on #372
@yegor256 I couldn't create a unit test that simulate that action, but what I saw is that we don't support chunked-body upload.

I was reading (RFC7230)[https://tools.ietf.org/html/rfc7230] the (Chunked Transfer Coding Section)[https://tools.ietf.org/html/rfc7230#page-36] and I didn't found that implemented on takes.

Netbout use takes, and I was able to receive an error when I tried to upload fil

[2015-08-03 17:28] yegor256 commented on #372
@antonini now it's clear, thanks!

[2015-08-03 19:18] davvd commented on #372
@antonini I am aware of the task, give me some time to find a developer...

[2015-08-03 19:18] davvd commented on #372
@antonini since the ticket has no milestone I set it to 1.0

[2015-08-03 19:22] davvd commented on #372
@antonini thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-82A07418AK0281203`

[2015-08-05 14:39] davvd commented on #306
@mstzn36 can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-08-06 23:45] mstzn36 commented on #306
@davvd PR #374  is ready for review.

[2015-08-07 20:33] davvd commented on #306
@mstzn36 will take a look, thanks

[2015-08-12 19:12] davvd commented on #339
@bilalyasar this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/de

[2015-08-17 10:22] davvd commented on #333
@adko-pl this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-08-17 11:39] yegor256 opened #375 "Set-Cookie must contain only one cookie"
We introduced this feature some time ago: #293

Looks like it violates the requirements of [RFC 6265](http://www.rfc-editor.org/rfc/rfc6265.txt). Modern browsers don't understand multiple cookies in one `Set-Cookie` header. We should fix that and make sure we add a new `Set-Cookie` header for each new cookie.

See this: http://stackoverflow.com/questions/11533867/set-cookie-header-with-multiple-co

[2015-08-17 11:54] yegor256 commented on #375
@rultor release, tag is `0.23.2`

[2015-08-17 11:55] rultor commented on #375
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4851-131793487)

[2015-08-17 12:03] rultor commented on #375
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4851-131793487) (took me 8min)

[2015-08-17 12:05] #375 closed

[2015-08-17 14:14] davvd commented on #353
@adko-pl this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-08-17 15:09] davvd commented on #354
@adko-pl please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-08-17 19:42] mstzn36 commented on #306
@davvd I couldn't solve this issue. Please assign someone else

[2015-08-17 20:58] davvd commented on #306
@mstzn36 -30 points to your rating :(

[2015-08-17 20:58] davvd commented on #306
@mstzn36 OK, I will try to assign someone else

[2015-08-18 13:04] davvd commented on #367
@mstzn36 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-08-20 13:57] yegor256 opened #376 "extra ctor for FtBasic"

[2015-08-20 14:00] #376 closed

[2015-08-21 19:51] pinaf opened #377 "TkProxy"
A decorator class `TkProxy` would be useful. It would pass along requests received in `.act` to a different destination (internally handling body, headers, etc for the new request)  and also proxy back responses.

[2015-08-21 19:51] pinaf commented on #377
@yegor256 what do you think about this one?

[2015-08-24 20:52] davvd commented on #377
@yegor256 please dispatch this issue

[2015-08-26 10:42] mstzn36 commented on #367
@davvd we can't get rid of this test because we need to test that a big request can handle in an acceptable time.But also this test is environment dependent.
I think we need to create a new maven profile which runs performance tests such as RqMultipartTest#handlesRequestInTime.And this maven profile should be run in deploymen/build machine.
Is this solution acceptable ?  What do you think about th

[2015-08-26 15:28] davvd commented on #367
@mstzn36 @yegor256 what do you think?

[2015-08-26 17:14] davvd commented on #372
@mstzn36 this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](ht

[2015-08-27 10:45] dmzaytsev commented on #341
@yegor256 assign this to me please
I would close the linked issue in Netbout

[2015-08-27 11:56] yegor256 commented on #341
@davvd assign @dmzaytsev pls to this issue

[2015-08-27 13:35] davvd commented on #341
@yegor256 done, @dmzaytsev is a new assignment at the task, please go on. whoever worked with this task before, please stop right now

[2015-08-27 14:02] dmzaytsev commented on #341
@yegor256 fixed in #378
close the ticket please

[2015-08-27 15:34] davvd commented on #373
@adko-pl this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-08-27 18:52] mstzn36 commented on #372
@antonini I couldn't reproduce this bug in my local.I tried to run netbout in debug then upload 6mb file but server didn't throw any error. Can you help  please ?

[2015-08-27 18:56] antonini commented on #372
@mstzn36 Server doesn't throw errors. To get that error I had to debug it. Have you tried to download the file after uploading it?

[2015-08-27 19:10] mstzn36 commented on #372
@antonini Yes I did. But size of the downloaded file was 0 bytes. Also i put a breakpoint on RqLive class,it didn't stop :( What is type of file which you try to upload ?

[2015-08-27 19:21] antonini commented on #372
@mstzn36 So, you got the point. The downloaded file is "0" because you didn't uploaded it. Netbout hide exception that I said on issue description. What I suggested is to debug the upload process. I don't remember right now the class that throws it. What I saw is that because you are trying to upload a large file, the browser opens a lot of connections pushing small chunks. When I debugged HTTP th

[2015-08-27 20:43] davvd commented on #339
@bilalyasar check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; added -30 to your rating, now it is equal t

[2015-08-27 21:42] mstzn36 commented on #372
@antonini  But the result didn't change with the smaller file(151 kb).The downloaded file was still 0. I tried to debug on take and netbout but didn't see any error :( And the local server handled the uploaded file successfully (I checked size of the uploaded file.) I can't reproduce this bug on my local machine :(

Also when I tried to upload 6 MB file on my netbout account, it gave me below erro

[2015-08-27 22:00] antonini commented on #372
@mstzn36 I think that the problem was solved on PR #328.
I just uploaded and downloaded a zip and a pdf file of 9mb to netbout.

@yegor256 Can you confirm that?

[2015-08-27 22:15] mstzn36 commented on #372
@antonini try to upload a txt file which is larger than 5 mb to netbout and you will get that error. It seems there is a problem with txt file.

[2015-08-27 23:15] antonini commented on #372
@mstzn36 I just uploaded an txt with 1kb and another with 9mb. And everything worked fine.

[2015-08-28 05:44] yegor256 commented on #341
@dmzaytsev thanks!

[2015-08-28 05:44] #341 closed

[2015-08-28 05:48] dmzaytsev commented on #341
@yegor256  release please

[2015-08-28 05:49] yegor256 commented on #341
@rultor release, tag is `0.23.3`

[2015-08-28 05:50] rultor commented on #341
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4982-135641776)

[2015-08-28 05:51] yegor256 commented on #367
@mstzn36 I agree with your idea, let's create a special profile for performance tests

[2015-08-28 06:01] rultor commented on #341
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4982-135641776) (took me 10min)

[2015-08-28 09:59] mstzn36 commented on #372
@antonini I created a new bout and uploaded file.It didn't throw any error. I guess the problem was with my bout which was created by https://github.com/yegor256/netbout/issues/758.
Anyway we can upload and download large files. I can't still reproduce this bug :(

[2015-08-28 17:25] antonini commented on #372
@mstzn36 Have you tried with a bout created from web page?

[2015-08-28 17:46] mstzn36 commented on #372
@antonini yes of course.It did not give any error.

[2015-08-28 18:03] alxn opened #379 "RsWithStatus() with no body can cause IOException."
I was trying to use the following in a `TkFork` on a `PUT`:

[code]
But when I ran it in a live system I saw:

[code]

That was odd.. since I saw the request-response go through with `ngrep`.

Changing the code to:

[code]

Made it work without exception, but obviously it should work without a
body.

[2015-08-28 18:04] alxn commented on #379
@yegor256 fyi submitted.

[2015-08-28 18:09] antonini commented on #372
@mstzn36 So I think you don't need to change anything.

@yegor256 or @davvd Can you confirm it?

[2015-08-29 10:02] davvd commented on #341
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-08-29 14:14] ypshenychka commented on #341
@davvd Quality is good here.

[2015-08-29 16:05] davvd commented on #341
@ypshenychka thanks a lot

[2015-08-29 16:08] davvd commented on #341
@dmzaytsev I added 10 mins to @ypshenychka (for QA review) in transaction 64002112; Thanks so much! Your account was topped up for **1 hour** (transaction ID is `64002119`, the task took 19 hours and 48 mins); m=1188, that's why a bonus here for fast delivery; +60 to your rating, your total score is [+1854](http://www.netbout.com/b/35166?open=rating)

[2015-08-29 19:29] mstzn36 commented on #367
@davvd PR https://github.com/yegor256/takes/pull/380 ready to review

[2015-08-30 09:55] davvd commented on #367
@mstzn36 OK, will take a look

[2015-08-30 15:30] davvd commented on #306
@bilalyasar This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See

[2015-08-30 19:21] yegor256 commented on #372
@antonini it's your ticket, you're free to close it any moment

[2015-08-30 20:12] davvd commented on #379
@alxn I am aware of the task, give me some time to find a developer...

[2015-08-30 20:12] davvd commented on #379
@alxn attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-08-30 20:13] antonini commented on #372
@yegor256 Ok.

[2015-08-30 20:15] antonini commented on #372
@davvd I just checked and is working fine right now. I think PR #328 fixed that problem too.

[2015-08-30 20:15] #372 closed

[2015-08-30 20:18] davvd commented on #379
@mstzn36 the task is yours, the budget is **30 mins**, please go ahead

[2015-08-31 11:24] davvd commented on #372
@antonini just close the ticket?

[2015-08-31 12:03] antonini commented on #372
@davvd Sorry, didn't understood what you me with your question.

[2015-08-31 20:12] davvd commented on #372
@antonini the ticket is closed, we're good here

[2015-08-31 20:56] mstzn36 commented on #379
@alxn can you provide me full of code block if you have? Thank you.

[2015-08-31 21:08] alxn commented on #379
@mstzn36 I or (@yegor256) could reproduce with a little test I think.

[2015-09-01 09:54] davvd commented on #372
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-09-01 19:54] davvd commented on #339
@bilalyasar you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

added -60 to your rating, now it is equal to [-180](http://www.netbout.com/b/35406?open=rating)

[2015-09-02 05:41] elenavolokhova commented on #372
@davvd There was no solution provided in this ticket. So the quality is bad here.

[2015-09-02 13:25] davvd commented on #372
@elenavolokhova thank you for paying attention

[2015-09-02 13:29] davvd commented on #367
@mstzn36 the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... added -30 to your rating, now it is equal to [-45](http://www.n

[2015-09-02 13:29] davvd commented on #372
@mstzn36 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 64381283

[2015-09-02 15:21] davvd commented on #367
@rultor rultor closed it (automatically), @Suseika please take a look

[2015-09-02 16:28] Suseika commented on #367
@mstzn36 Thanks

[2015-09-02 16:28] #367 closed

[2015-09-02 17:14] mstzn36 commented on #367
@Suseika @davvd why added -30 to my rating :( I sent my PR 4 days ago.

[2015-09-02 17:37] mstzn36 commented on #372
@davvd will I get 30 points ?

[2015-09-02 18:30] Suseika commented on #367
@mstzn36 Your task is done not when your PR is merged, but when the author of a task accepts your PR. When your PR is merged, it is your responsibility to report that to the author of the task. An author of a task (that would be me in this case) only gets notifications from that task's thread, and not from any threads linked to it (as your PR is). So when your PR is merged, you should inform the a

[2015-09-02 18:57] mstzn36 commented on #367
@Suseika @davvd I thought rultor closes the task automatically when PR is merged :( And I did not read anything  from http://www.yegor256.com/  about it is my responsibility to report to the author of task that PR is merged. Anyway I did not know about it. Can we revert -30 points for this time please? Next time i will be more careful about it.

[2015-09-02 19:01] Suseika commented on #367
@mstzn36 I suggest you read carefully the link from the first message you recevied in Netbout, so there won't be any misunderstanding next time. Everything is explained there.

[2015-09-02 20:33] mstzn36 commented on #379
@alxn I ran server with the following code and made PUT request to the server through Postman and did not get any exception? What am I doing wrong?
<pre>
 new FtBasic(new TkFork(
            new FkRegex("/test", new TkRegex() {
                @Override
                public Response act(final RqRegex request) throws IOException {
                    return new RsWithStatus(HttpURLConnection.HTTP

[2015-09-03 09:35] davvd commented on #372
@mstzn36 of course, in a few hours

[2015-09-03 17:56] davvd commented on #367
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-09-03 18:00] ypshenychka commented on #367
@davvd Quality is good.

[2015-09-03 20:47] davvd commented on #367
@ypshenychka thank you :)

[2015-09-03 20:54] davvd commented on #367
@mstzn36 I added 10 mins to @ypshenychka (for QA review) in transaction 64430511; thanks, paid, **30 mins** to your account, payment ID is `AP-17066064VF2167110`, task took 364 hours and 47 mins to complete; +30 added to your rating, at the moment it is: [-15](http://www.netbout.com/b/35470?open=rating)

[2015-09-08 18:21] davvd commented on #339
@dimonn12 this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-09-08 19:01] davvd commented on #379
@dimonn12 can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-09-12 14:34] Suseika commented on #377
@yegor256 I support the idea, too.

[2015-09-12 15:34] dimonn12 commented on #339
@davvd see https://github.com/yegor256/takes/pull/381

[2015-09-12 16:58] dimonn12 commented on #379
@alxn @davvd I wasn't able to reproduce this issue. Could you provide more details how to reproduce it?

[2015-09-12 18:32] davvd commented on #339
@dimonn12 OK will take a look, thanks

[2015-09-12 19:23] yegor256 commented on #377
@pinaf yeah, good idea, thanks

[2015-09-12 20:15] davvd commented on #377
@pinaf milestone set to `1.0` (correct me if I am wrong)

[2015-09-12 20:23] davvd commented on #377
@pinaf thanks for this report, I added 15 mins to your account, in transaction `AP-00L05667MK3382931`

[2015-09-13 10:13] yegor256 commented on #260
@ekondrashev sorry about the delay. this is how it should be (final decision):

[code]

[2015-09-14 12:32] dimonn12 commented on #379
@davvd Sorry, I can't reproduce and fix this issue. Please, assign anybody else for this task.

[2015-09-14 16:41] davvd commented on #306
@bilalyasar the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, current score is: [

[2015-09-15 17:53] dmzaytsev opened #382 "PsGoogle.fetch() cause JsonParsingException"
PsGoogle.fetch() causes JsonParsingException
see https://github.com/yegor256/netbout/issues/786

	at com.jcabi.http.response.JsonResponse$VerboseReader.readObject(JsonResponse.java:161)
	at org.takes.facets.auth.social.PsGoogle.fetch(PsGoogle.java:150)
	at org.takes.facets.auth.social.PsGoogle.enter(PsGoogle.java:129)
	at org.takes.facets.auth.PsByFlag.enter(PsByFlag.java:108)
	at org.takes.facets

[2015-09-15 18:26] dmzaytsev commented on #382
@yegor256 I guess the scope has not be set during the authorization code request. I think it is the reason

[2015-09-16 12:23] davvd commented on #306
@hs3180 This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-16 15:44] davvd commented on #382
@dmzaytsev I will find a developer for the task soon...

[2015-09-16 15:44] davvd commented on #382
@dmzaytsev since the ticket has no milestone I set it to 1.0

[2015-09-16 15:51] davvd commented on #382
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `65338452`

[2015-09-17 17:09] dmzaytsev opened #383 "PsGoogle creates incorrect UserInfo link"
PsGoogle creates incorrect  UserInfo link

https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/auth/social/PsGoogle.java#L146

`final String uri = new Href(this.gapi).path("oauth2/v1/userinfo")`
must be
`final String uri = new Href(this.gapi).path("oauth2").path("v1").path("userinfo")`

[2015-09-17 17:57] davvd commented on #377
@tiaped this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-17 19:45] davvd commented on #382
@tiaped can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-09-18 07:43] tiaped commented on #377
Hi, I have no idea of what to put in
 * @version $Id: 9357c24e802b82a9275a1f58d2ff0d2d4eb69397 $
 * @since 0.20

Could please help?
Are you ok with abstract classes?
I think I will make preAct and postAct methods.

[2015-09-18 08:04] tiaped commented on #377
I want also to be sure that the aim of the issue is to update request before acting and update reponse before returning.
Am I right?

[2015-09-18 08:07] yegor256 opened #384 "coveralls.io reporting"

[2015-09-18 08:16] yegor256 commented on #384
@rultor deploy

[2015-09-18 08:16] #384 closed

[2015-09-18 08:16] rultor commented on #384
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/5179-141378085)

[2015-09-18 08:25] rultor commented on #384
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5179-141378085) (took me 9min)

[2015-09-18 09:05] tiaped commented on #377
FYI I have some issues on qulice with maven 3.0.5. Everything was fine with maven 3.3.3.

[2015-09-18 09:20] Suseika commented on #377
@tiaped Qulice doesn't work with Maven older than 3.2.5. And please address all your comments. If you're not sure to whom you should address them, read the work policy.

`$Id: 9357c24e802b82a9275a1f58d2ff0d2d4eb69397 $` is for https://stackoverflow.com/questions/384108/moving-from-cvs-to-git-id-equivalent. You basically don't touch it (it will be replaced with just `$Id$` automatically by git) and

[2015-09-18 09:25] tiaped commented on #377
@Suseika Thanks a lot

[2015-09-18 10:00] hs3180 commented on #306
@yegor256 Is there any document explained the architect/mechanism about takes? or I should read the source and javadoc directly?

[2015-09-18 10:07] tiaped commented on #377
@davvd PR #377 is ready for review

[2015-09-18 10:37] tiaped commented on #382
@davvd I am not sure I can finish this task on time. Could you please find another developper

[2015-09-18 13:05] yegor256 commented on #306
@hs3180 everything is in README.md or in Javadoc, there is no other source of information. Keep this in mind: http://www.yegor256.com/2014/04/13/bugs-are-welcome.html

[2015-09-18 13:13] yegor256 commented on #383
@dmzaytsev thanks! we fixed something similar in 8eb99ecc0f72c3b30a170bc56f19a00588bab985

[2015-09-18 14:18] davvd commented on #383
@dmzaytsev we will find someone to do this task, soon

[2015-09-18 14:18] davvd commented on #383
@dmzaytsev attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-09-18 14:18] davvd commented on #377
@tiaped thanks, I'll take a look

[2015-09-18 14:27] davvd commented on #383
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `65405704`

[2015-09-18 16:25] davvd commented on #382
@tiaped I deducted 30 points from your rating

[2015-09-18 16:25] davvd commented on #382
@tiaped no problem, I will try to find somebody else

[2015-09-18 17:36] GilraenBurland commented on #359
HI @yegor256
After refactoring my application quite a bit I do not have this problem anymore. I will close this ticket as it could not be reproduced even by myself.

[2015-09-18 17:36] #359 closed

[2015-09-18 20:19] davvd commented on #383
@tiaped can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-19 12:08] tiaped commented on #377
I have a question.
Is there a way to know the method of a request?
I think I can deal with other things.
I'll come back for other questions

[2015-09-19 12:18] Suseika commented on #377
@tiaped
Here is a decorator for obtaining a method:
https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/rq/RqMethod.java
How it is supposed to be used:
http://www.yegor256.com/2015/02/26/composable-decorators.html

And I have to remind you again to address every single comment to someone, i.e. comments should start with @ username, that's our rule.

[2015-09-19 20:01] tiaped opened #387 "Missing import in README.md"
In quick start part, import for FkRegex is missing
```import org.takes.facets.fork.FkRegex;``` should be used

[2015-09-20 06:56] tiaped commented on #377
@davvd please reassign the task.

 I think that the issue is more complicated than expected.
I am going to use jcabi http request and response. But In my opinion, in order to handle every kind of requests (specificaly POST method with various ways of passing parameters or providing files) and handle every kind of responses (use the correct class to handle correctly (HTML, JSON, REST, others...) it

[2015-09-20 06:59] pinaf commented on #377
@tiaped you don't have to handle each of those cases individually. All you have to do is pass along all headers and the body. That's all that exists in any HTTP message.

[2015-09-20 08:36] yegor256 commented on #387
@tiaped fixed in 75a0c77 thanks!

[2015-09-20 08:36] #387 closed

[2015-09-21 15:58] hs3180 opened #388 "document pom file is based on jcabi-parent"
I had no idea why maven does a lot of **implicit tasks** when I was to add my integration tests.
finally, I found that the `pom.xml` was based on the [jcabi-parent](https://github.com/jcabi/jcabi-parent/blob/master/pom.xml) and understood where are the **implicit tasks** from.

plz add some explanation about jcabi-parent to the [README#how-to-contribute](https://github.com/yegor256/takes#how-to-co

[2015-09-21 16:08] hs3180 opened #389 "AppITCase is always skipped"
takes.port is always `null`.
seems that `AppITCase` should use `takes.home` instead of `take.port`

[2015-09-21 16:17] davvd commented on #377
@hs3180 this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-09-22 01:27] hs3180 opened #390 "PNG header issue in windows"
`logo.png` is considered as a text file, and git in windows will replace `\r\n` to `\n`.

try to add in `.gitattributes`

    *.png binary

I think it is the reason why #366  changed `logo.png`.

[2015-09-22 06:28] yegor256 commented on #390
@hs3180 fixed in 52ab389 thanks!

[2015-09-22 06:28] #390 closed

[2015-09-23 17:30] hs3180 commented on #306
@yegor256 I've found that `HttpURLConnection` reuse persistent connection transparently. I am to create an integration test by raw socket.

[2015-09-23 18:38] davvd commented on #339
@dimonn12 you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). -30 to your rating, your total score is [-30](

[2015-09-23 20:37] davvd commented on #379
@dimonn12 you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, current score is: [-60](ht

[2015-09-24 10:31] hs3180 opened #391 "RqLive doens't fail when the input stream is empty"
`org.takes.rq.RqLive` will return an empty request when receive an empty input stream.

    Request req = new RqLive(new ByteArrayInputStream(new byte[0]));

I think it should throw an exception.

[2015-09-24 10:54] hs3180 commented on #306
@yegor256
`RqLive` parser considers an input stream with only one end of stream symbol as a empty request.(described in #391)
it makes unit test `BkBasicTest#handlesSocket` failed when i let `BkBasic` parse input stream repeatly.
`BkBasic` will get endless empty requests in this unit test.

[2015-09-24 14:41] hs3180 opened #392 "RqMethod corrects format"
RqMethod just read first field in headers, and split it with spaces.
It should check the header format according to HTTP specification.

[2015-09-24 16:08] davvd commented on #388
@yegor256 please do something about this issue

[2015-09-24 19:14] davvd commented on #389
@yegor256 please do something about this issue

[2015-09-25 15:42] davvd commented on #389
@hs3180 there is no milestone yet, so I set it to `1.0`

[2015-09-25 15:50] davvd commented on #389
@hs3180 many thanks for the bug report, I added 15 mins to your acc, transaction `AP-7T076912CB8708117`

[2015-09-26 08:50] hs3180 commented on #306
@yegor256 @dmzaytsev

There are something more talked in RFC 2616.

our server may need a functionality to close persistent connection by self.

RFC2616 metioned (Compatibility with HTTP/1.0 Persistent Connections)[http://tools.ietf.org/html/rfc2616#section-19.6.2], I think we could leave it away at this time.

[2015-09-26 08:55] hs3180 commented on #306
@yegor256
unit test `BkTimeableTest` creates true temporary folder, true threads and true sockets.
Is it designed to be like this? Or it is actually a intergration test.

[2015-09-26 21:07] yegor256 commented on #306
@hs3180 don't ask questions inside tickets, instead create new tickets if something is not clear or is buggy, see http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-09-26 21:11] yegor256 commented on #388
@hs3180 fixed in 447b20a thanks!

[2015-09-26 21:11] #388 closed

[2015-09-26 21:12] yegor256 commented on #392
@hs3180 make sense, thanks for the catch

[2015-09-26 21:13] yegor256 commented on #391
@hs3180 good catch, thanks

[2015-09-27 01:21] yegor256 opened #394 "jcabi-parent 0.37"

[2015-09-27 01:38] #394 closed

[2015-09-27 01:38] yegor256 commented on #394
@rultor release, tag is `0.24`

[2015-09-27 01:38] rultor commented on #394
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5268-143511839)

[2015-09-27 01:47] rultor commented on #394
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5268-143511839) (spent 9min)

[code]

[2015-09-27 01:49] yegor256 commented on #394
@rultor release, tag is `0.24`

[2015-09-27 01:50] rultor commented on #394
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5268-143512316)

[2015-09-27 01:53] yegor256 commented on #394
@rultor stop

[2015-09-27 01:53] rultor commented on #394
@yegor256 OK, I'll try to stop current task.

[2015-09-27 02:02] rultor commented on #394
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5268-143512407) (spent 12min)

[code]

[2015-09-27 02:02] yegor256 commented on #394
@rultor release, tag is `0.24`

[2015-09-27 02:04] rultor commented on #394
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5268-143512686)

[2015-09-27 02:48] yegor256 commented on #290
@davvd assign someone else pls

[2015-09-27 02:49] yegor256 commented on #199
@marcuss we should use `toString`

[2015-09-27 02:49] #199 closed

[2015-09-27 02:49] yegor256 commented on #101
@davvd assign someone else pls

[2015-09-27 02:49] yegor256 commented on #101
@dmzaytsev we'll use `toString`

[2015-09-27 02:50] #50 closed

[2015-09-27 02:50] yegor256 commented on #120
@davvd assign someone else pls

[2015-09-27 03:10] rultor commented on #394
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5268-143512686) (took me 1hr)

[2015-09-27 06:28] hs3180 commented on #306
@yegor256 I'm sorry for that. I will create a new ticket for this question.

[2015-09-27 09:50] davvd commented on #391
@hs3180 we will find someone to do this task, soon

[2015-09-27 09:50] davvd commented on #392
@hs3180 I will ask someone to take care of this task soon

[2015-09-27 09:50] davvd commented on #391
@hs3180 milestone set to `1.0` (correct me if I am wrong)

[2015-09-27 09:50] davvd commented on #392
@hs3180 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-09-27 09:50] davvd commented on #101
@yegor256 -30 points to your rating

[2015-09-27 09:50] davvd commented on #101
@yegor256 OK, I will try to assign someone else

[2015-09-27 09:50] davvd commented on #120
@yegor256 I deducted 30 points from your rating

[2015-09-27 09:50] davvd commented on #120
@yegor256 no problem, I will try to find somebody else

[2015-09-27 09:50] davvd commented on #290
@yegor256 -30 points to your rating

[2015-09-27 09:50] davvd commented on #290
@yegor256 right, I will find someone else, no problem

[2015-09-27 09:56] davvd commented on #392
@hs3180 thanks for the report, I topped your acc for 15 mins, payment ID `AP-7DJ20956U6273802U`

[2015-09-27 10:45] davvd commented on #391
@hs3180 thanks for tis bug, I topped your account for 15 mins, transaction `AP-2NY50858CU066131T`

[2015-09-28 10:23] davvd commented on #50
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-09-28 10:24] davvd commented on #101
@bdragan please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-09-28 17:08] elenavolokhova commented on #50
@yegor256
 According to our [quality rules](http://www.teamed.io/qa.html):

 This was not a case in this ticket. Please avoid fixing your own issues.

  According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and follow this rule in your tickets in the future.

[2015-09-28 17:17] yegor256 commented on #50
@elenavolokhova the test was added in bbe8d21c2a2f7d07e51b2e2e1f6f5bf3be6337a3

[2015-09-28 17:17] yegor256 commented on #50
@elenavolokhova I agree, this should have been done in a pull request, my bad

[2015-09-28 20:31] davvd commented on #339
@dimonn12 the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)

-60 to your rating, your total score is [-120](http://www.netbout.com/b/35589?open=rating)

[2015-09-28 21:07] yegor256 commented on #383
@davvd assign someone else pls

[2015-09-28 21:08] yegor256 commented on #383
@davvd this is urgent

[2015-09-28 22:17] bdragan commented on #101
@dmzaytsev, @yegor256, @davvd  I would suggest using Lombok `@ToString` for this purpose.

Then, for a `Take` like:
    new TkWithType(new TkClasspath(), "text/xsl")
the output would be:
    TkWithType(super=TkWrap(origin=org.takes.tk.TkWithType$1@6b601188))
and for a `Take` like:
    new TkFlash(new TkForward(new TkFork(new FkRegex("/", new TkPostMessage()))))
the output is:
    TkFlash(origin=Tk

[2015-09-29 01:44] yegor256 commented on #101
@bdragan looks good to me

[2015-09-29 03:34] hs3180 opened #395 "`TkText` doens't consume request body"
It responses a predefined text. And do no thing on the request's body stream.

this bug makes bad request while using persistent connection.

try to make it consume request's body according to `Content-Length` header.

[2015-09-29 03:50] hs3180 opened #396 "unit tests with side effects"
there are many unit tests using true file system, true threads and true sockets.

For example, `BkTimeableTest` creates a temporary folder, starts up a threads.Within the threads, it sleeps in real time and makes a http request using jcabi-http which sets up a real socket connection.

Are they designed to be like this? Or they are actually integration tests.

[2015-09-29 04:47] hs3180 commented on #395
I solved it by wrapping a `TkGreedy` around `TkText`.

[2015-09-29 04:47] #395 closed

[2015-09-29 05:07] elenavolokhova commented on #50
@davvd Quality is acceptable here.

[2015-09-29 06:39] hs3180 commented on #306
@yegor256

`JdkRequest` in `jcabi-http` send me such request:

    GET /path/c HTTP/1.1
    Cache-Control: no-cache
    Pragma: no-cache
    User-Agent: Java/1.7.0_79
    Host: localhost:52175
    Accept: text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2
    Connection: keep-alive

with no request body. But I can't determine its length according to following rules.

in RFC2616 section 8.1.2,

a

[2015-09-29 06:47] hs3180 commented on #306
@yegor256
In practical applications, `GET` is considered as a request without body in regular.
there is a discussion about this(http://stackoverflow.com/questions/978061/http-get-with-request-body).

And I've tested it on google

    $ netcat www.google.com 80
    GET / HTTP/1.1
    Host: www.google.com
    Connection: keep-alive

    HTTP/1.1 200 OK
    ...

it is ok for a `GET` request with no c

[2015-09-29 09:26] davvd commented on #50
@elenavolokhova thanks for the QA review, we'll work better next time

[2015-09-29 09:26] davvd commented on #383
@yegor256 no problem, I will try to find somebody else

[2015-09-29 09:26] davvd commented on #383
@yegor256 thanks, I added "urgent" label

[2015-09-29 09:32] davvd commented on #50
@yegor256 I added 10 mins to @elenavolokhova (for QA review) in transaction 66242956... **30 mins** added to your account (payment number `000-c7f75751`), many thanks for your contribution! 4528 hours and 41 mins spent here.... +30 added to your rating, current score is: [+13743](http://www.netbout.com/b/35008?open=rating)

[2015-09-29 09:32] davvd commented on #379
@dimonn12 it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. added -60 to your rating, now it is equal to [-180](http://www.netbout.com/b/35589?open=rating)

[2015-09-29 16:17] yegor256 commented on #396
@hs3180 good point. I think that sockets, files and threads are native components of JDK and they are allowed to be used in unit tests. Integration tests are for something that is outside of JDK, like web services, databases, etc.

[2015-09-29 16:17] #396 closed

[2015-09-29 16:19] yegor256 commented on #306
@hs3180 I don't understand... if you think that the project has bugs, please report them as new tickets. Otherwise, keep in mind that we **discourage** abstract discussions in tickets.

[2015-09-29 16:44] hs3180 commented on #306
@yegor256
To make a long story short, my patch considers that `GET` request with no `Content-Length` field doesn't have a **body**. This behavior doesn't define clearly in specs.

The reason why I chose to do this is listed above.

[2015-09-29 22:59] bdragan commented on #101
@davvd Pull Request #398 created and ready for review.

[2015-09-30 06:45] hs3180 opened #399 "BkWrap"
`BkParallel`, `BkSafe` and `BkTimeable` wrap a `Back` object and pass socket to it.
These three object share this same feature which can be abstracted like `RsWrap`, `RqWrap`, `TkWrap`

[2015-09-30 16:29] davvd commented on #101
@bdragan thanks, we'll review it soon

[2015-09-30 16:54] yegor256 commented on #399
@hs3180 good point, thanks!

[2015-09-30 16:56] yegor256 commented on #306
@hs3180 which "patch" are you talking about?

[2015-09-30 18:05] davvd commented on #399
@hs3180 I am aware of the task, give me some time to find a developer...

[2015-09-30 18:05] davvd commented on #399
@hs3180 there is no milestone yet, so I set it to `1.0`

[2015-09-30 18:15] davvd commented on #399
@hs3180 thanks for the ticket, your account was topped for 15 mins, payment AP-156125656A123613M

[2015-10-01 12:20] davvd commented on #383
@kpbird can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [

[2015-10-01 13:23] dmzaytsev opened #400 "RsPrettyXML causes NPE"
The code below causes null pointer exception
I believe the issue has to be fixed
[code]

	at java.util.Hashtable.put(Hashtable.java:459)
	at java.util.Properties.setProperty(Properties.java:166)
	at net.sf.saxon.jaxp.IdentityTransformer.setOutputProperty(IdentityTransformer.java:293)
	at org.takes.rs.RsPrettyXML.prepareDocType(RsPrettyXML.java:171)
	at org.takes.rs.RsPrettyXML.transform(RsPrettyXM

[2015-10-01 14:15] davvd commented on #306
@hs3180 you're working with this issue for 15 days already

-30 added to your rating, at the moment it is: [+68](http://www.netbout.com/b/35610?open=rating)

[2015-10-01 16:28] davvd commented on #400
@dmzaytsev I will ask someone to take care of this task soon

[2015-10-01 16:28] davvd commented on #400
@dmzaytsev since the ticket has no milestone I set it to 1.0

[2015-10-01 16:39] davvd commented on #400
@dmzaytsev thanks a lot for reporting, **15 mins** added to your acc, pmt ID `66391594`

[2015-10-01 22:30] bdragan opened #401 "rultor merge fails"
rultor merge fails with:

`Caused by: java.lang.ClassNotFoundException: net.sourceforge.cobertura.coveragedata.TouchCollector`

Full log available [here](http://www.rultor.com/t/5303-144853990).

The issue appeared when merging PR #398.

[2015-10-04 08:15] longtimeago opened #402 "FtBasic should fail fast and exit if Address is already in use"
Currently,
If the port we are trying to run a taks is busy `FtBasic` is definitely can't do anything with it.
But it is still spinning around the exit condition.

IMHO, it's better to fail fast in this case.
Port is busy -> fail and exit.

[2015-10-04 23:09] yegor256 commented on #402
@longtimeago I don't think you're right... can you show the code which will prove it?

[2015-10-05 06:32] longtimeago commented on #402
@yegor256 you are right ... that was another issue

[2015-10-05 06:32] #402 closed

[2015-10-05 10:39] davvd commented on #401
@yegor256 please do something about this issue

[2015-10-05 18:06] yegor256 commented on #401
@bdragan if master branch is not broken, it's not a bug. It's a problem in your particular pull request, you have to solve it yourself.

[2015-10-05 18:06] #401 closed

[2015-10-05 18:07] yegor256 commented on #401
@bdragan this link may help you: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-10-05 20:28] bdragan commented on #401
@yegor256 Thank you for the feedback. However, in my environment the same issue also appears on master with: `mvn clean site -Psite`.

I will appreciate any advice on how to proceed.

[2015-10-05 23:58] yegor256 commented on #401
@bdragan in that case, submit a new ticket, with a proper description of the problem. Explain what is broken in master and how can I reproduce it. See this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-06 00:38] bdragan opened #403 "Maven site phase execution fails"
`mvn clean site -Psite` fails:

`Caused by: java.lang.ClassNotFoundException: net.sourceforge.cobertura.coveragedata.TouchCollector`

Full log available [here](http://www.rultor.com/t/5303-144853990).

[2015-10-06 00:43] bdragan commented on #401
@yegor256 Issue #403 created.

[2015-10-06 09:35] bdragan commented on #101
@davvd This resolution of this issue is currently blocked by #403.

[2015-10-06 10:02] davvd commented on #403
@bdragan I will find a developer for the task soon...

[2015-10-06 10:02] davvd commented on #403
@bdragan since there is no milestone yet I set it to "1.0"

[2015-10-06 10:08] davvd commented on #403
@bdragan many thanks for the report, I topped your account for 15 mins, transaction 66774882

[2015-10-06 14:19] davvd commented on #306
@hs3180 the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html). added -60 to your rating, now it is equal to [-52](http://www.netbout.com/b/35610?open=rating)

[2015-10-06 17:20] davvd commented on #377
@hs3180 you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)

added -30 to your rating, now it is equal to [-1

[2015-10-08 14:00] davvd commented on #120
@bdragan this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-10-08 17:37] davvd commented on #101
@bdragan ok, let's wait for #403

[2015-10-08 18:55] bdragan commented on #120
@davvd PR #404 created and ready for review.

[2015-10-09 02:54] hs3180 commented on #306
@davvd
I'm sorry.
There are some useful review from @dmzaytsev in #393 .

@dmzaytsev suggests creating unit tests for this feature and open a new issue about implementation.

[2015-10-09 07:04] dmzaytsev commented on #383
@yegor256 @kpbird  when can we expect fixing of the issue?
I have provided the fix in the ticket description already. There will be simple PR I guess.

There is simliar case with unit test https://github.com/yegor256/takes/pull/378

[2015-10-09 17:39] yegor256 commented on #383
@dmzaytsev it seems that the problem is solved and we should just release a new version, right?

[2015-10-09 17:46] dmzaytsev commented on #383
@yegor256 in which commit the problem is solved ?
I see same line in master branch..
https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/auth/social/PsGoogle.java#L146

[2015-10-09 17:50] yegor256 commented on #383
@dmzaytsev my bad, I thought that #378 solved the problem. Let me assign this to someone else

[2015-10-09 17:50] yegor256 commented on #383
@davvd assign this to @ekondrashev pls

[2015-10-09 18:06] bdragan commented on #120
@davvd This resolution of this issue is currently blocked by #403.

[2015-10-09 18:16] yegor256 commented on #403
@bdragan I'll fix it in a few hours

[2015-10-09 19:37] davvd commented on #120
@bdragan thnaks

[2015-10-09 19:37] davvd commented on #306
@hs3180 don't be sorry, it's OK, check this article: http://www.yegor256.com/2014/04/13/no-obligations-principle.html

[2015-10-09 19:37] davvd commented on #383
@yegor256 yes, done, @ekondrashev is at the task, please start! whoever worked with this task before, please stop immediately

[2015-10-09 19:48] davvd commented on #403
@yegor256 it's yours,please help,budget is 30 mins

[2015-10-09 19:52] yegor256 commented on #403
@bdragan I believe it's fixed in 5ecfaf0, please confirm

[2015-10-09 20:04] yegor256 commented on #403
@bdragan my bad, this one fixes it for sure: f134f34

[2015-10-10 10:41] davvd commented on #290
@kpbird please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-10-10 12:24] bdragan commented on #403
@davvd @yegor256 It works now, thanks!

[2015-10-10 12:24] #403 closed

[2015-10-10 12:28] bdragan commented on #120
@davvd PR #404 has been merged to master.

[2015-10-10 12:51] davvd commented on #101
@dmzaytsev we waited for #403, it is closed already

[2015-10-10 13:45] davvd commented on #403
@bdragan no problem ;)

[2015-10-11 09:53] bdragan commented on #101
@dmzaytsev @davvd PR #398 has been merged to master.

[2015-10-11 10:06] dmzaytsev commented on #101
@bdragan thanks!

[2015-10-11 10:06] #101 closed

[2015-10-11 14:53] ekondrashev commented on #383
@dmzaytsev please see #405 PR.

[2015-10-11 16:18] dmzaytsev commented on #383
@ekondrashev I'm sure the architect will ask you about the unit test...
see similar case here https://github.com/yegor256/takes/pull/378

[2015-10-12 07:04] ekondrashev commented on #383
@dmzaytsev done, thx

[2015-10-12 23:38] yegor256 opened #406 "versions of RESTful API"
We should introduce a mechanism for making RESTful APIs versioned. See this discussion: http://stackoverflow.com/questions/389169/best-practices-for-api-versioning

[2015-10-13 02:51] alxn commented on #406
@yegor256 this [answer](http://stackoverflow.com/a/6750376/2782193) ?

[2015-10-13 04:20] yegor256 commented on #406
@alxn yeah, seems so... thinking about it now

[2015-10-13 09:29] davvd commented on #406
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-10-13 09:29] davvd commented on #120
@bdragan you should ask ticket author to close it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-13 09:35] davvd commented on #403
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-10-13 09:36] davvd commented on #377
@hs3180 it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 added to your rating, current score is: [-232](http://www.netbout.com/b/35610?open=rating)

[2015-10-13 09:36] davvd commented on #406
@yegor256 it's yours, budget is 30 mins, please go ahead

[2015-10-13 09:37] davvd commented on #406
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-40375d5a`

[2015-10-13 11:00] ekondrashev commented on #120
@bdragan the solution you've provided works for this particular case. But there are bunch of places where the same issue is relevant(basically each time anonymous class is created). I'd suggest creating separate defect to handle this issue.
@davvd wdyt?

[2015-10-13 11:34] bdragan commented on #120
@ekondrashev I agree in general. This issue fixes only `RqFake` case because it is meant to be used in tests, and checks for equality relying on `equals` method are a convenient way to perform assertions in the tests. I also find this a valid use case you reported in this issue.

However, it does not make sense to compare all `Request`s with each other. For example, checking for equality of two `R

[2015-10-13 12:29] ekondrashev commented on #120
@bdragan it is not about `Request`, but rather about the situation when we pass any anonymous class and expect equals/hashCode to work properly. So it is an issue that can appear anytime one uses a combinationof lombok and anonymous classes. This issue is dangerous enough doe to having this common nature, see?

[2015-10-14 18:06] davvd commented on #101
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-10-14 19:50] davvd commented on #306
@prondzyn this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-10-15 14:15] georgeyanev opened #407 "SSL support?"
Are there any plans for https support?

[2015-10-15 18:47] yegor256 commented on #407
@georgeyanev we have to add it, you're right

[2015-10-15 19:07] dmzaytsev commented on #383
@yegor256 could you release a new version?

[2015-10-15 20:20] davvd commented on #383
@rultor rultor closed it (automatically), @dmzaytsev please take a look

[2015-10-15 20:20] davvd commented on #407
@georgeyanev I will find a developer for the task soon...

[2015-10-15 20:20] davvd commented on #407
@georgeyanev milestone set to `1.0` (correct me if I am wrong)

[2015-10-16 07:06] dmzaytsev commented on #383
@ekondrashev thanks!

[2015-10-16 07:06] #383 closed

[2015-10-16 16:27] bdragan opened #408 "Lombok @EqualsAndHashCode with anonymous classes"
We should identify and revisit the occurrences in which we store instances of anonymous classes to fields which are used by Lombok for `equals` and `hashCode` methods generation.

In some cases two equal objects may be considered not equal because the fields being compared are two different instances of anonymous classes which don't provide their own `equals` and `hashCode` methods.

An example of

[2015-10-16 16:30] bdragan commented on #120
@ekondrashev Agree, issue #408 created. Please review it and close this issue if you feel that it provides a solution for the use case described here.

[2015-10-16 18:25] ekondrashev commented on #120
@bdragan thank you!

[2015-10-16 18:25] #120 closed

[2015-10-17 09:29] davvd commented on #383
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-10-17 11:05] ypshenychka commented on #383
@davvd Quality is good.

[2015-10-17 11:40] ypshenychka commented on #101
@davvd

the code made here contains a puzzle 101-0be068b8, which will be resolved soon

According to our [QA Rules](http://www.teamed.io/qa.html):

Please correct your message by indicating an addressee in the beginning.

[2015-10-17 11:41] ypshenychka commented on #101
@davvd Please remove assignment from @yegor256 as far as we have label with @bdragan who actually fixed the issue.

[2015-10-17 11:43] ypshenychka commented on #403
@yegor256
According to our [QA Rules](http://www.teamed.io/qa.html):

Please mention in any of your messages link to correpsonding PR.

[2015-10-17 12:45] davvd commented on #383
@ypshenychka thanks!

[2015-10-17 12:50] davvd commented on #383
@ekondrashev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 67472702; I added **30 mins** to your account, many thanks for working with the project! The completion time here was 67472711.; +30 added to your rating, at the moment it is: [+1049](http://www.netbout.com/b/35260?open=rating)

[2015-10-17 13:05] dmzaytsev commented on #383
@yegor256 please release if possible

[2015-10-18 09:12] davvd commented on #120
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://www.teamed.io/policy.html#24)

[2015-10-18 09:53] elenavolokhova commented on #120
@bdragan
 According to our [quality rules](http://www.teamed.io/qa.html):

 Two PRs were created for this issue. Please try to follow this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2015-10-18 09:57] bdragan commented on #120
@elenavolokhova Only PR #404 were created for this issue. Which is the other one?

[2015-10-18 10:17] davvd commented on #290
@bdragan it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-

[2015-10-18 11:29] elenavolokhova commented on #120
@bdragan You are right. Sorry, I missed that #408 is an issue, not a PR.

[2015-10-18 11:30] elenavolokhova commented on #120
@davvd Quality is good here.

[2015-10-18 13:47] davvd commented on #120
@elenavolokhova thank you

[2015-10-18 13:54] davvd commented on #120
@bdragan I added 10 mins to @elenavolokhova (for QA review) in transaction 67492743... Many thanks! **38 mins** were added to your account in Transaction ID `67492758` (task took 197 hours and 16 mins)... age=4129, that's why a bonus here for fast delivery... +38 added to your rating, current score is: [+83](http://www.netbout.com/b/35709?open=rating)

[2015-10-18 17:43] yegor256 commented on #403
@ypshenychka yeah, you're right, my bad, will try to go through PRs always. There is no PR here

[2015-10-18 17:59] davvd commented on #339
@bdragan the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-10-18 19:22] davvd commented on #377
@bdragan could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-10-19 04:54] ypshenychka commented on #403
@yegor256 Thank you. Let's try to avoid such situations in future.

[2015-10-19 04:54] ypshenychka commented on #403
@davvd Quality is acceptable.

[2015-10-19 08:12] dmzaytsev commented on #213
@erimerturk I guess it already fixed
see https://github.com/yegor256/takes/commit/e3f1155574929fd02e79a7f0b5f1493984950d13

please close the ticket

[2015-10-19 08:14] #213 closed

[2015-10-19 08:14] dmzaytsev commented on #383
@yegor256 ping

[2015-10-19 11:44] davvd commented on #403
@ypshenychka thanks a lot, next time everybody should try to make it better

[2015-10-19 11:50] davvd commented on #382
@dimonn12 can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-10-19 11:50] davvd commented on #403
@yegor256 I added 10 mins to @ypshenychka (for QA review) in transaction 67518097... Much obliged! I have added **1 hour** to your account in payment "000-1e513438", 16 hours and 59 mins spent... m=1019, that's why a bonus here for fast delivery... +60 added to your rating, current score is: [+12395](http://www.netbout.com/b/35008?open=rating)

[2015-10-19 18:07] davvd commented on #408
@yegor256 dispatch this issue please, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-19 19:01] yegor256 commented on #408
@bdragan which classes you're talking about specifically? The bug reported sounds valid, but we have to be more specific in order to fix it.

[2015-10-19 19:02] yegor256 commented on #383
@rultor release, tag is `0.24.1`

[2015-10-19 19:02] rultor commented on #383
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5472-149313939)

[2015-10-19 20:10] rultor commented on #383
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5472-149313939) (took me 1hr)

[2015-10-20 11:26] davvd commented on #101
@ypshenychka @yegor256 what do you think?

[2015-10-20 15:10] davvd commented on #213
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://www.teamed.io/policy.html#24)

[2015-10-20 15:24] ypshenychka commented on #213
@davvd Quality is good.

[2015-10-20 16:45] yegor256 commented on #101
@davvd asskgin @bdragan here pls

[2015-10-20 17:24] dmzaytsev commented on #382
@yegor256 @davvd it's already fixed.
yegor256/netbout#786 resolved
I'm closing the ticket

[2015-10-20 17:24] #382 closed

[2015-10-20 17:30] dmzaytsev opened #410 "PsFacebook.fetch() uses incorrect field name"
PsFacebook.fetch() uses incorrect field name
PsFacebook causes the exception
[code]
see https://github.com/yegor256/netbout/issues/820

[2015-10-20 17:54] yegor256 commented on #382
@dmzaytsev thanks!

[2015-10-20 18:22] davvd commented on #410
@dmzaytsev I will find a developer for the task soon...

[2015-10-20 18:22] davvd commented on #410
@dmzaytsev I set the milestone to 1.0 since there is nothing set yet

[2015-10-20 18:22] davvd commented on #101
@yegor256 done, @bdragan is assigned to this task, and is already working on it, AFAIK

[2015-10-20 18:22] davvd commented on #213
@ypshenychka thank you ;)

[2015-10-20 18:27] davvd commented on #213
@dmzaytsev added 10 mins to @ypshenychka, for QA review, payment code is `67817503`. thanks, I just added **30 mins** to your account, payment `67817508`, 3952 hours and 30 mins spent. +30 added to your rating, current score is: [+1417](http://www.netbout.com/b/35166?open=rating)

[2015-10-20 18:27] davvd commented on #410
@dmzaytsev thanks for reporting! I topped your account for 15 mins, transaction 67817537

[2015-10-20 20:25] bdragan commented on #408
@yegor256 The aim of this issue is to identify such classes actually.

I was hesitant to creating the issue because I also found it a bit too broad, but after a discussion with @ekondrashev in the issue #120 I concluded that we should review the other combinations of Lombok `@EqualsAndHashCode` and instances of anonymous classes.

[2015-10-20 20:34] yegor256 commented on #408
@bdragan it's difficult to define what is "done" in this ticket. What do you expect from the ticket resolver? I mean, how his/her pull request will look?

[2015-10-20 22:50] bdragan commented on #408
@yegor256 True, this is more like a code review task. I would expect puzzles and a new issue for the cases that should be fixed. If there are none, then just a comment in this issue by the ticket resolver that he/she did not find any.

[2015-10-21 05:44] yegor256 commented on #408
@bdragan nah, it's too vague. Let's specify explicitly which objects much be tested for "equalness" and we'll implement that tests. In general, "making code better" - is not a task. We don't want to make it better, we want it to satisfy very specific requirements. This requirement, in this ticket, is not specific enough.

[2015-10-21 06:06] ekondrashev commented on #408
@yegor256 I'd suggest to cover with tests classes extending wrapper classes(like TkWrap) and decorate it @EqualsAndHashCode(of = "origin")

[2015-10-21 06:21] yegor256 commented on #408
@ekondrashev this is a solution, but what is the problem? We have to define the problem first, explicitly, as this article explains: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-21 06:42] ekondrashev commented on #408
@yegor256 it is more like non manifested problem category. I'd say the problem which has some risk degree. Additionally, what is the problem being solved while covering code with unit tests? I'd say same answer here.

[2015-10-21 07:22] prondzyn commented on #306
@davvd I prepared PR #411

[2015-10-21 07:26] ypshenychka commented on #101
@davvd Please remove assignment from @yegor256 and also correct your message (as mentioned in above [remark](https://github.com/yegor256/takes/issues/101#issuecomment-148908892)).

[2015-10-21 18:06] bdragan commented on #408
@yegor256 Suppose that we found and fixed some occurrences of `Long` comparison by reference (`long1 == long2`). Also let's assume that such errors are not covered by static code analysis tools. I would say that we should not wait for more bugs to be reported because of that, but rather to take a look at the code base to try to find more occurrences.

One of the approaches to work on this issue co

[2015-10-21 19:46] davvd commented on #382
@dimonn12 there weren't any messages from you, no need to pay, as I understand (feel free to correct me)

[2015-10-22 09:31] davvd commented on #101
@ypshenychka don't pay attention to the assignee, it's a technical issue on our side

[2015-10-22 09:32] davvd commented on #306
@prondzyn thanks

[2015-10-22 09:32] davvd opened #412 "HmRsHeader.java:46-53: Implement additional constructors. According to..."
Puzzle `260-1c71c6a2` in `src/main/java/org/takes/facets/hamcrest/HmRsHeader.java:46-53` has to be resolved: Implement additional constructors. According to #260 there should be also available such constructors public HmRsHeader(final Matcher

? extends Map.Entry

? extends Iterable

? extends String

mtchr); public HmRsHeader(final String header, final String value);... The puzzle was created by

[2015-10-22 09:32] davvd commented on #260
@dmzaytsev these 2 puzzles were created in this ticket: `260-de67913e`, `260-1c71c6a2`/#412

[2015-10-22 12:44] davvd commented on #412
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-10-22 12:44] davvd opened #413 "HmRqHeader.java:45-52: Implement additional constructors. According to..."
Puzzle `260-de67913e` in `src/main/java/org/takes/facets/hamcrest/HmRqHeader.java:45-52` has to be resolved: Implement additional constructors. According to #260 there should be also available such constructors: public HmRsHeader(final Matcher

? extends Map.Entry

? extends Iterable

? extends String

mtchr); public HmRsHeader(final String header, final String value);... The puzzle was created by

[2015-10-22 13:52] georgeyanev commented on #407
It should support both HTTP and HTTPS at the same time. Two different ports maybe.

[2015-10-22 16:12] davvd commented on #413
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-10-23 04:31] yegor256 commented on #407
@georgeyanev yes, you're right, my suggestion above is not correct. This is how your `TkApp` class should look instead:

[code]

Thus, we have to introduce new class `FtSecure`. Make sense now?

[2015-10-23 04:32] yegor256 commented on #407
@georgeyanev and, also, we have to teach FtCLI to understand a few new command line arguments:

[code]

Something like this...

[2015-10-23 05:09] yegor256 opened #414 "FkTypes is not matching correctly when Accept header is absent"
Try this:

[code]

[2015-10-23 05:21] yegor256 commented on #414
@rultor release, tag is `0.24.2`

[2015-10-23 05:21] rultor commented on #414
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5551-150475803)

[2015-10-23 06:26] rultor commented on #414
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5551-150475803) (took me 1hr)

[2015-10-23 07:15] georgeyanev commented on #407
Yes something like that

[2015-10-23 14:54] #414 closed

[2015-10-23 16:39] dmzaytsev commented on #410
@yegor256 can you make this urgent? thanks

[2015-10-23 21:52] yegor256 commented on #410
@davvd this is urgent, pls

[2015-10-24 09:38] davvd commented on #410
@yegor256 OK, I put "urgent" label here

[2015-10-24 09:46] davvd commented on #407
@bdragan this is your task now, please help. The budget of it is **30 mins**

[2015-10-24 09:46] davvd commented on #410
@bdragan this is your task now, please help. The budget of it is **30 mins**

[2015-10-24 13:41] bdragan commented on #410
@dmzaytsev @yegor256 This is not an issue in Takes, it is in Netbout.
netbout-web declares a dependency on restfb 1.6.15, which does not have the `LATEST` field in the [`com.restfb.Version`](http://grepcode.com/file/repo1.maven.org/maven2/com.restfb/restfb/1.6.15/com/restfb/Version.java) class.

[2015-10-24 14:24] dmzaytsev commented on #410
@bdragan @yegor256 in this case we have a bug in the Readme instead the code.
if Takes requires a specific dependence then the requirement should be mentioned in the Readme.
Am i right?

[2015-10-24 14:36] bdragan commented on #410
@dmzaytsev I agree, all optional dependencies should be clearly stated in the framework documentation.

[2015-10-24 23:36] bdragan commented on #290
@ekondrashev PR #409 has been merged successfully. Please review the solution and close this issue if you find the solution acceptable.

[2015-10-25 05:49] ekondrashev commented on #290
@bdragan nice! thank you.

[2015-10-25 05:49] #290 closed

[2015-10-25 09:55] davvd commented on #286
@yegor256 FYI, issue #290 is already closed, and we were waiting for it..

[2015-10-26 12:27] davvd commented on #290
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-10-26 17:21] yegor256 commented on #286
@ekondrashev we can continue, I guess, #290 is fixed

[2015-10-27 03:39] elenavolokhova commented on #290
@davvd Looks good!

[2015-10-27 16:40] bdragan commented on #339
@davvd This issue has already been fixed in the PR #381. Please, close it.

[2015-10-27 17:09] davvd commented on #290
@elenavolokhova thank you :)

[2015-10-27 17:13] davvd commented on #290
@bdragan 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 68334673

Thank you, I have added **30 mins** to your account in payment/transaction "`68334683`", time consumed: 167 hours and 33 mins

added +30 to your rating, now it is equal to [+83](http://www.netbout.com/b/35709?open=rating)

[2015-10-28 07:50] prondzyn commented on #306
@davvd PR merged

[2015-10-28 08:52] ypshenychka commented on #101
@davvd Please correct your message by indicating an addressee in the beginning.

the code made here contains a puzzle 101-0be068b8, which will be resolved soon

[2015-10-28 13:03] davvd commented on #339
@bdragan you should ask ticket author (@erimerturk) to close it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-28 14:57] bdragan commented on #339
@davvd Thanks!

@erimerturk Please, close this issue because it has already been fixed in the PR #381.

[2015-10-28 21:27] yegor256 opened #416 "FbSlf4j"
Let's create a new fallback, which will just log all problems

[2015-10-28 21:27] #416 closed

[2015-10-28 21:43] yegor256 commented on #416
@rultor release, tag is `0.25`

[2015-10-28 21:44] rultor commented on #416
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5596-152003749)

[2015-10-28 22:32] yegor256 commented on #339
@bdragan if the author doesn't close in the next few days, message me, I'll close myself

[2015-10-28 22:38] yegor256 commented on #306
@prondzyn you should ask me to close the ticket, since I'm the author, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-10-28 22:38] #306 closed

[2015-10-28 22:39] yegor256 commented on #306
@prondzyn thanks!

[2015-10-28 22:49] rultor commented on #416
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5596-152003749) (took me 1hr)

[2015-10-29 07:10] bdragan commented on #410
@dmzaytsev PR #415 has been merged to master. The issue can be closed.

[2015-10-29 07:18] dmzaytsev commented on #410
@bdragan thanks!

[2015-10-29 07:18] #410 closed

[2015-10-29 07:59] erimerturk commented on #339
@bdragan thank you

[2015-10-29 07:59] #339 closed

[2015-10-29 10:53] davvd commented on #101
@ypshenychka fixed, thanks for noticing

[2015-10-29 10:53] davvd commented on #306
@prondzyn thanks

[2015-10-29 10:53] davvd commented on #339
@bdragan np :)

[2015-10-29 10:56] ypshenychka commented on #101
@davvd Thank you.

[2015-10-29 10:56] ypshenychka commented on #101
@davvd Quality is acceptable here.

[2015-10-29 14:54] davvd commented on #101
@ypshenychka no problem :)

[2015-10-29 14:54] davvd commented on #101
@ypshenychka thanks for the QA review, we'll work better next time

[2015-10-29 14:58] davvd commented on #101
@bdragan paied 10 mins to @ypshenychka for QA review (payment ID is `68465482`). Thank you, I have added **1 hour** to your account in payment/transaction "`68465485`", time consumed: zero. there is a bonus for fast delivery (m=0). added +60 to your rating, now it is equal to [+143](http://www.netbout.com/b/35709?open=rating)

[2015-10-29 17:10] davvd opened #417 "BkReuseTest.java:50-53: Replace mockito statements with fake..."
Puzzle `306-07904f4e` in `src/test/java/org/takes/http/BkReuseTest.java:50-53` has to be resolved: Replace mockito statements with fake sockets objects as described in http://www.yegor256.com/2014/09/23/built-in-fake-objects.html. Fake objects should improve tests readability and maintainability in the future.... The puzzle was created by Piotr Pradzynski on 25-Oct-2015.

If you have any technical

[2015-10-29 17:11] davvd commented on #306
@yegor256 these 2 puzzles were created in this ticket: `306-0f8af5fd`, `306-07904f4e`/#417

[2015-10-29 19:49] davvd commented on #417
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2015-10-29 19:49] davvd opened #418 "BkReuseTest.java:46-49: Implement missing BkReuse.accept method to..."
Puzzle `306-0f8af5fd` in `src/test/java/org/takes/http/BkReuseTest.java:46-49` has to be resolved: Implement missing BkReuse.accept method to support HTTP persistent connections and to pass below three tests. BkReuse.accept should handles more than one HTTP requests in one connection and return correct HTTP status when Content-Length is not specified.... The puzzle was created by Piotr Pradzynski

[2015-10-29 23:21] yegor256 opened #419 "FbLog4j"
Let's create `FbLog4j` class, similar to the one we made in https://github.com/yegor256/takes/issues/416

[2015-10-30 03:08] yegor256 opened #420 "RqOnce"
Let's create a new wrapper of `Request`, which will make this code invalid:

[code]

Only one time we can call `body()`. All other calls will lead to runtime exception.

[2015-10-30 10:03] davvd commented on #418
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-10-30 10:04] davvd commented on #420
@yegor256 tagged this issue with "bug"

[2015-10-30 10:04] davvd commented on #419
@yegor256 I just added bug tag here

[2015-10-30 13:38] davvd commented on #419
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-10-30 13:38] davvd commented on #420
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2015-10-30 13:41] davvd commented on #306
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://www.teamed.io/policy.html#24)

[2015-10-30 13:41] davvd commented on #339
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-10-30 13:41] davvd commented on #410
@ypshenychka please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-10-30 13:43] davvd commented on #420
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-f3b572c7`

[2015-10-30 13:57] ypshenychka commented on #410
@davvd Quality is good.

[2015-10-30 14:37] elenavolokhova commented on #339
@davvd Looks good!

[2015-10-30 14:41] elenavolokhova commented on #306
@davvd Quality is good here.

[2015-10-30 16:16] davvd commented on #306
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-10-30 16:16] davvd commented on #339
@elenavolokhova thanks a lot

[2015-10-30 16:16] davvd commented on #410
@ypshenychka thank you

[2015-10-30 16:23] davvd commented on #306
@prondzyn added 10 mins to @elenavolokhova, for QA review, payment code is `68507740`; **30 mins** added to your account (payment number `AP-8F175246VL759703G`), many thanks for your contribution! 351 hours and 4 mins spent here.; +30 added to your rating, at the moment it is: [+105](http://www.netbout.com/b/35715?open=rating)

[2015-10-30 16:23] davvd commented on #412
@bdragan please go ahead with this task, it's yours

[2015-10-30 16:24] davvd commented on #419
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-641aab8c

[2015-10-30 19:12] davvd commented on #339
@bdragan just added 10 mins to @elenavolokhova (for QA), payment ID is `68513381`

Thanks a lot, I just topped your account for **30 mins**, transaction ID `68513386`, total time was 256 hours and 54 mins

+30 added to your rating, current score is: [+173](http://www.netbout.com/b/35709?open=rating)

[2015-10-31 07:32] ekondrashev commented on #286
@davvd #422 PR is created to handle this issue.

[2015-10-31 11:16] davvd commented on #410
@bdragan paied 10 mins to @ypshenychka for QA review (payment ID is `68531568`)

**30 mins** added to your account (payment number `68531574`), many thanks for your contribution! 121 hours and 13 mins spent here.

+30 to your rating, your total score is [+203](http://www.netbout.com/b/35709?open=rating)

[2015-10-31 11:16] davvd commented on #413
@prondzyn the task is yours please proceed

[2015-10-31 12:09] simonjenga opened #423 "Identity.Simple#properties() is already an unmodifiable map"
In ```org.takes.facets.auth.Identity.Simple``` the variable

```private final transient Map<String, String> props;```

has already been initialized to an unmodifiable view of the specified map  in the class constructor using,

```this.props = Collections.unmodifiableMap(map);```

The following method needs to be changed to prevent a redundant method call in the return statement as follows:

[code]

[2015-10-31 14:14] davvd commented on #417
@prondzyn the task is yours please proceed

[2015-10-31 16:39] davvd commented on #418
@prondzyn the task is yours, please go ahead

[2015-10-31 18:15] prondzyn commented on #260
@yegor256 I started work on #413 to implement constructors defined by you in [260#issuecomment-139857888](https://github.com/yegor256/takes/issues/260#issuecomment-139857888). It is not possible to implement all five of them in Java due to language limitation described in [Method has the same erasure as another method in type](http://stackoverflow.com/questions/1998544/method-has-the-same-erasure-

[2015-10-31 18:18] prondzyn commented on #413
@davvd I started work on the task, but there were some inconsistencies so I asked about resolving them in [260#issuecomment-152758204](https://github.com/yegor256/takes/issues/260#issuecomment-152758204). I'm blocked and waiting on the decision.

[2015-11-01 14:40] davvd commented on #379
@bdragan the task is yours, please go ahead

[2015-11-01 16:28] bdragan commented on #379
@alxn This issue cannot be reproduced any longer. Please close it, or provide more details on how to reproduce it. Thank you!

[2015-11-01 20:11] davvd commented on #286
@ekondrashev thanks

[2015-11-01 20:11] davvd commented on #413
@prondzyn sure, let's wait for #260

[2015-11-01 21:17] prondzyn commented on #417
@davvd PR #426 prepared

[2015-11-02 04:48] simonjenga opened #427 "FtCLI.exit(Exit) creates an unnecessary custom Object"
In the current implementation of the method ```org.takes.http.FtCLI.exit(Exit)``` ,
if  the line ```exit.ready() || custom.ready();``` evaluates to ```true```, we will have already incurred the additional overhead costs (computing time & resources) of creating a custom ```Object``` that was not necessary to do so in the beginning since it will never used!

The current method implementation needs t

[2015-11-02 20:00] #379 closed

[2015-11-02 20:49] #420 closed

[2015-11-02 20:49] yegor256 commented on #420
@rultor release, tag is `0.26`

[2015-11-02 20:50] rultor commented on #420
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5636-153152622)

[2015-11-02 20:59] rultor commented on #420
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5636-153152622) (spent 9min)

[code]

[2015-11-02 22:50] yegor256 commented on #420
@rultor release, tag is `0.26`

[2015-11-02 22:51] rultor commented on #420
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5636-153182976)

[2015-11-02 22:53] rultor commented on #420
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5636-153182976) (spent 2min)

[code]

[2015-11-03 02:08] bdragan commented on #377
@davvd There was a slight misunderstanding about the requirements. Please approve a bit more time for this issue. Thank you!

[2015-11-03 05:17] yegor256 commented on #420
@rultor release, tag is `0.26`

[2015-11-03 05:18] rultor commented on #420
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5636-153242299)

[2015-11-03 06:23] rultor commented on #420
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5636-153242299) (took me 1hr)

[2015-11-03 10:43] davvd commented on #377
@bdragan of course, thanks for letting me know, take your time

[2015-11-03 10:43] davvd commented on #417
@prondzyn OK thanks

[2015-11-03 11:49] simonjenga opened #428 "server cannot be started in hit-refresh mode"
The Project documentation lists the following command line arguments that should be passed to ```FtCLI``` constructor:
[code]

However, in the class ```org.takes.http.Options``` our method implementation that checks if we are in hit-refresh mode is currently implemented as follows:

[code]

There is an inconsistency between ```this.map.containsKey("hit-refresh");``` and the command line argument `

[2015-11-03 14:11] davvd commented on #423
@yegor256 dispatch this issue please, see [par.21](http://www.teamed.io/policy.html#21)

[2015-11-03 23:09] yegor256 opened #429 "TkLogged is not informative enough"

[2015-11-03 23:09] #429 closed

[2015-11-03 23:36] yegor256 commented on #429
@rultor release, tag is `0.27`

[2015-11-03 23:37] rultor commented on #429
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5644-153524467)

[2015-11-03 23:52] yegor256 commented on #429
@rultor stop

[2015-11-03 23:53] rultor commented on #429
@yegor256 OK, I'll try to stop current task.

[2015-11-04 00:40] rultor commented on #429
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5644-153527298) (spent 1hr)

[code]

[2015-11-04 01:09] yegor256 commented on #429
@rultor release, tag is `0.27`

[2015-11-04 01:09] rultor commented on #429
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5644-153539080)

[2015-11-04 01:49] yegor256 opened #430 "TkRetry"
Let's create a new decorator `TkRetry`, which will not fail immediately on `IOException`, but will retry a few times:

[code]

[2015-11-04 02:13] rultor commented on #429
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5644-153539080) (took me 1hr)

[2015-11-04 09:24] davvd commented on #430
@yegor256 I added `bug` tag to this ticket

[2015-11-04 11:37] davvd commented on #430
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2015-11-04 11:42] davvd commented on #379
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-11-04 11:43] davvd commented on #430
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-1e62e95a`

[2015-11-05 04:07] yegor256 commented on #423
@simonjenga this is done intentionally. These two decorating are the in order to prevent two different kinds of mistakes. We want to encapsulate only unmodifiable map in order to prevent modifications to it. And, we want to return unmodifiable map in order to prohibit any changes to it from outside.

[2015-11-05 04:07] #423 closed

[2015-11-05 04:28] yegor256 commented on #260
@prondzyn updated, see above

[2015-11-05 06:22] ypshenychka commented on #379
@bdragan Since you as a ticket performer didn’t prove in a pull request that the problem is not reprocible, the quality of this ticket is bad. Consider this situation for future and create a pull request with a proof - then it will be a good quality ticket.

[2015-11-05 06:23] ypshenychka commented on #379
@davvd Quality is bad here.

[2015-11-05 09:08] davvd commented on #286
@rultor @yegor256 please look at this issue, rultor closed it automatically

[2015-11-05 09:08] davvd commented on #379
@ypshenychka thanks, we'll try harder next time

[2015-11-05 09:14] davvd commented on #379
@bdragan added 10 mins to @ypshenychka, for QA review, payment code is `69007433`

[2015-11-05 12:54] dmzaytsev opened #431 "PsGoogle doesn't give the user's photo"
PsGoogle doesn't give the user's photo because it uses API call that not supported anymore.
I guess valid way to get a user's photo can be found here https://developers.google.com/+/web/api/rest/latest/people/get

also it possible to try  API call online

![image](https://cloud.githubusercontent.com/assets/9972909/10968802/aad60ccc-83e5-11e5-8dfa-62dcd11b8ccf.png)

[2015-11-05 13:35] davvd commented on #389
@bdragan please go ahead with this task,it's yours

[2015-11-05 15:47] bdragan commented on #379
@ypshenychka Noted, thanks for the remark.

[2015-11-05 16:46] ekondrashev commented on #286
@yegor256 please take a look if we can close this - the #422 PR was merged

[2015-11-05 18:01] yegor256 commented on #286
@ekondrashev thanks!

[2015-11-05 18:01] #286 closed

[2015-11-06 08:29] bdragan commented on #407
@georgeyanev PR #425 has been merged to master. The issue can be closed.

[2015-11-06 11:09] davvd commented on #431
@dmzaytsev I will ask someone to take care of this task soon

[2015-11-06 11:09] davvd commented on #431
@dmzaytsev I set milestone here to `1.0`, let me know if it is wrong

[2015-11-06 11:14] davvd commented on #431
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `69049799`

[2015-11-06 11:15] davvd commented on #427
@yegor256 please do something about it, see [par.21](http://www.teamed.io/policy.html#21)

[2015-11-06 15:50] davvd commented on #428
@yegor256 please take a look at it and dispatch (see [par.21](http://www.teamed.io/policy.html#21))

[2015-11-06 20:09] yegor256 commented on #428
@simonjenga right, typo fixed in f36296d

[2015-11-06 20:09] #428 closed

[2015-11-06 20:13] davvd commented on #286
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-11-06 21:07] binkley opened #432 "Test rultor - apologies if this is the wrong way to do this!"
@rultor hello

[2015-11-06 21:08] rultor commented on #432
@binkley Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-11-06 22:31] bdragan commented on #389
@hs3180 `takes.port` is a system property, so it is `null` when the property is not set. Also, using `takes.home` instead of it as parameter in the `assumeNotNull` method would make the port part of the request URL invalid if the port is `null`.

Could you please provide more details about reproducing the issue?

[2015-11-06 23:22] yegor256 opened #433 "TkFallback crashes when there is no fallback"
This code:

[code]

Will fail with a runtime exception, with an unclear description. But it should not. Instead, it should throw, but the exception must have a proper explanation. Something like "there is no fallback available, the original problem is this:..."

[2015-11-07 01:00] hs3180 commented on #389
@bdraganjust run tests and see the failsafe report.it will tell you that AppITCase was skipped.the 'takes.port' is always null if you output it.

[2015-11-07 01:50] yegor256 commented on #432
@binkley you can test it in your project :)

[2015-11-07 01:50] #432 closed

[2015-11-07 02:54] yegor256 commented on #407
@georgeyanev maybe it would be useful to add a sample to README?

[2015-11-07 07:00] ypshenychka commented on #286
@davvd Quality is good.

[2015-11-07 16:46] simonjenga commented on #428
@yegor256 You forgot to make the same change in the example ```App``` where it states:
Then, run it like this:

```$ java -cp take.jar App.class --port=8080 --refresh```

[2015-11-07 18:25] davvd commented on #286
@ypshenychka thank you

[2015-11-07 18:25] davvd commented on #433
@yegor256 added "bug" tag to this issue

[2015-11-07 18:28] davvd commented on #174
@yegor256 The task is closed, thanks everybody

[2015-11-07 18:28] #174 closed

[2015-11-07 18:28] davvd commented on #174
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-11-07 18:30] davvd commented on #286
@ekondrashev just added 10 mins to @ypshenychka (for QA), payment ID is `69090693`; done, I added **30 mins** in payment `69090696`, 273 hours and 2 mins spent to complete this; +30 to your rating, your total score is [+690](http://www.netbout.com/b/35260?open=rating)

[2015-11-07 19:06] bdragan commented on #389
@hs3180 You're right, thanks! PR submitted.

[2015-11-07 19:15] bdragan opened #436 "Failing integration tests don't make the build to fail"
1. Change the assertions in an `AppITCase` test method so that the test will fail.
2. Trigger the tests: `mvn clean install -Pqulice`.

**Current:** The test failure is logged, but the build succeeds.

**Desired:** The build should fail.

[2015-11-07 19:45] bdragan opened #437 "Document FtSecure in README"
We should provide a `FtSecure` sample in README.

The necessary certificate setup for SSL communication should also be mentioned.

[2015-11-07 19:46] bdragan commented on #407
@yegor256 I agree, issue #437 created.

[2015-11-07 20:37] yegor256 commented on #407
@bdragan good for me, ask @georgeyanev to close this ticket

[2015-11-08 01:38] elenavolokhova commented on #174
@yegor256 Could you please clarify, why this ticket was closed? Was there any solution provided or not? It is not mentioned in any comment.

[2015-11-08 08:22] #407 closed

[2015-11-08 17:45] davvd commented on #437
@bdragan we will find someone to do this task, soon

[2015-11-08 17:45] davvd commented on #433
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-11-08 17:45] davvd commented on #437
@bdragan attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-11-08 17:46] davvd commented on #101
@dmzaytsev last puzzled solved `101-0be068b8`/#174

[2015-11-08 17:50] davvd commented on #437
@bdragan many thanks for the bug report, I added 15 mins to your acc, transaction `69110553`

[2015-11-09 16:54] prondzyn commented on #417
@davvd PR merged. Please close the ticket.

[2015-11-09 18:16] davvd commented on #417
@yegor256 Closed, thanks all

[2015-11-09 18:16] #417 closed

[2015-11-09 18:17] davvd commented on #407
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-11-09 18:17] davvd commented on #417
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-11-09 18:18] davvd commented on #433
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-cb493e62

[2015-11-09 18:46] prondzyn commented on #413
@davvd please find someone else. Thanks.

[2015-11-09 18:46] prondzyn commented on #418
@davvd please find someone else. Thanks.

[2015-11-10 04:31] elenavolokhova commented on #407
@bdragan

It should support both HTTP and HTTPS at the same time. Two different ports maybe.

Yes, something like that

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future. Ask them to fix issues before closing the ticket.

[2015-11-10 04:32] elenavolokhova commented on #417
@davvd Looks good!

[2015-11-10 07:29] bdragan commented on #407
@elenavolokhova I confirm.

[2015-11-10 07:33] bdragan commented on #412
@davvd PR #434 has been merged.

[2015-11-10 08:04] bdragan commented on #389
@hs3180 PR #435 has been merged. The issue can be closed.

[2015-11-10 08:43] hs3180 commented on #389
@bdragan thanks a lot.
@davvd this puzzle has been solved.

[2015-11-10 08:43] #389 closed

[2015-11-10 09:24] elenavolokhova commented on #407
@davvd Quality is acceptable here.

[2015-11-10 09:24] elenavolokhova commented on #407
@bdragan Thank you!

[2015-11-11 00:31] yegor256 commented on #174
@elenavolokhova the puzzle just disappeared from the source code. This ticket is definitely bad, we just close it.

[2015-11-11 02:47] yegor256 commented on #436
@bdragan that's how Maven works. try `mvn install` and the build will fail.

[2015-11-11 03:04] bdragan commented on #436
@yegor256 I tried it, `mvn install` succeeds as well. Please reopen the issue.
Log excerpt:
[code]

[2015-11-11 03:14] bdragan commented on #436
@yegor256 I updated the issue description to avoid any potential confusion: `mvn clean install -Pqulice` succeeds although there are failing integration tests (`mvn verify` is just a shortcut to execute only tests).

`mvn clean install -Pqulice` should fail if there are any problems with tests. Please correct me if I'm wrong.

[2015-11-11 03:25] yegor256 commented on #436
@bdragan you're right, thanks

[2015-11-11 06:43] elenavolokhova commented on #174
@yegor256 Thank you!

[2015-11-11 06:43] elenavolokhova commented on #174
@davvd Quality is bad here.

[2015-11-11 18:12] davvd commented on #436
@bdragan this task will get someone's attention soon

[2015-11-11 18:12] davvd commented on #436
@bdragan since the ticket has no milestone I set it to 1.0

[2015-11-11 18:12] davvd commented on #407
@elenavolokhova thank you, let's try to make it "good" next time

[2015-11-11 18:12] davvd commented on #413
@prondzyn I deducted 30 points from your rating

[2015-11-11 18:12] davvd commented on #413
@prondzyn right, I will find someone else, no problem

[2015-11-11 18:12] davvd commented on #417
@prondzyn sure, closed already

[2015-11-11 18:12] davvd commented on #417
@elenavolokhova many thanks

[2015-11-11 18:12] davvd commented on #418
@prondzyn -30 points to your rating

[2015-11-11 18:12] davvd commented on #418
@prondzyn got it, someone else will be assigned soon

[2015-11-11 18:18] davvd commented on #407
@bdragan paied 10 mins to @elenavolokhova for QA review (payment ID is `69523039`); Many thanks! **30 mins** were added to your account in Transaction ID `69523048` (task took 368 hours and 6 mins); added +30 to your rating, now it is equal to [+218](http://www.netbout.com/b/35709?open=rating)

[2015-11-11 18:18] davvd commented on #436
@bdragan thanks for the ticket, your account was topped for 15 mins, payment 69523086

[2015-11-11 23:50] bdragan opened #438 "Reading from the body of a GET request blocks forever"
Start a simple application:
[code]
Point the browser to: `http://localhost:8080`.

**Current:** Attempt to read the request body is blocked (waits) forever.
**Desired:** Body should be considered empty (0 bytes).

The example here demonstrates `GET` method, but the fix should include any other HTTP methods for which this same problem exists.

[2015-11-12 16:26] davvd commented on #412
@bdragan thanks

[2015-11-12 16:31] davvd commented on #417
@prondzyn added 10 mins to @elenavolokhova, for QA review, payment code is `69560669`

thanks, paid, **30 mins** to your account, payment ID is `AP-29C98531Y9369412W`, task took 195 hours and 33 mins to complete

added +30 to your rating, now it is equal to [+75](http://www.netbout.com/b/35715?open=rating)

[2015-11-13 07:50] carlosmiranda opened #439 "MainRemote should allow additional arguments to be passed"
Right now, `MainRemote.exec` only passes a single argument, `--port`. This makes main classes much more complicated to test if we happened to test or require extra arguments.

Let's allow more arguments to be passed by adding a second constructor `MainRemote(Class<?> type, String... args)`. All arguments passed to `args` should be passed to the main class being tested, with the addition of `--port

[2015-11-13 11:56] davvd commented on #389
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-11-13 14:42] elenavolokhova commented on #389
@davvd Looks good!

[2015-11-13 18:20] davvd commented on #389
@elenavolokhova thanks for the review and a good remark

[2015-11-13 18:25] davvd commented on #389
@bdragan just added 10 mins to @elenavolokhova (for QA), payment ID is `69602381`

done, I added **30 mins** in payment `69602386`, 148 hours and 37 mins spent to complete this

added +30 to your rating, now it is equal to [+263](http://www.netbout.com/b/35709?open=rating)

[2015-11-13 18:25] davvd commented on #413
@bdragan please proceed, it's yours

[2015-11-14 15:04] davvd commented on #412
@yegor256 It is closed now

[2015-11-14 15:04] #412 closed

[2015-11-14 15:04] davvd commented on #412
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2015-11-15 03:23] elenavolokhova commented on #412
@davvd Looks good!

[2015-11-15 10:15] davvd commented on #412
@elenavolokhova thanks for the review and a good remark

[2015-11-15 10:19] davvd commented on #412
@bdragan I added 10 mins to @elenavolokhova (for QA review) in transaction 69643156; Thank you, I have added **30 mins** to your account in payment/transaction "`69643161`", time consumed: 334 hours and 6 mins; added +30 to your rating, now it is equal to [+331](http://www.netbout.com/b/35709?open=rating)

[2015-11-15 10:20] davvd commented on #438
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2015-11-15 18:08] simonjenga opened #441 "inputStream in org.takes.rs.RsXSLT.consume(InputStream) never closes"

[2015-11-16 05:22] elenavolokhova commented on #174
@davvd @yegor256 Will this QA review be paid?

[2015-11-16 11:22] davvd commented on #439
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2015-11-16 22:11] bdragan commented on #413
@davvd PR #440 has been merged.

[2015-11-16 22:34] yegor256 commented on #441
@simonjenga right, it's a bug, thanks for reporting

[2015-11-16 22:44] yegor256 commented on #439
@carlosmiranda good idea, thanks

[2015-11-17 08:19] simonjenga opened #442 "inputStream in RsVelocity.render(InputStream, Map<CharSequence, Object>) never closes"

[2015-11-17 09:24] davvd commented on #441
@simonjenga I am aware of the task, give me some time to find a developer...

[2015-11-17 09:24] davvd commented on #439
@carlosmiranda I set the milestone to 1.0 since there is nothing set yet

[2015-11-17 09:24] davvd commented on #441
@simonjenga since there is no milestone yet I set it to "1.0"

[2015-11-17 09:28] davvd commented on #441
@simonjenga many thanks for the report, I topped your account for 15 mins, transaction 69966269

[2015-11-17 14:10] davvd commented on #439
@carlosmiranda many thanks for the report, I topped your account for 15 mins, transaction 69973052

[2015-11-17 19:25] davvd commented on #413
@bdragan thanks

[2015-11-18 16:47] simonjenga opened #443 "inputStream in RsPrettyXML.prepareDocType(InputStream, Transformer) never closes"

[2015-11-19 14:28] davvd commented on #418
@hdouss it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-d

[2015-11-19 16:49] davvd commented on #413
@yegor256 Thanks, closing it now.

[2015-11-19 16:49] #413 closed

[2015-11-19 16:50] davvd commented on #413
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-11-19 16:51] davvd commented on #391
@hdouss it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-11-19 17:40] HDouss commented on #418
@davvd : I am a little confused about the test methods. I don't see (or I don't understand) the relation between the socket and the (mocked) container. I was expecting the unit test plays client role, and BkReuse plays server role. I may be wrong but the container seems playing server role, and made to reply with an answer I expected to be the client request.

[2015-11-19 17:57] ypshenychka commented on #413
@davvd Quality is good.

[2015-11-19 18:27] simonjenga opened #444 "outputStream in org.takes.rs.RsPrint.printBody(OutputStream) never closes"

[2015-11-19 21:39] HDouss commented on #391
Is it ok to just throw an IOException with a "Empty request" message in this case ?

[2015-11-19 22:17] HDouss opened #445 "RqHref.Base reads first line of header without checking format"
`org.takes.rq.RqHref.Base` just reads first header and takes second element after space splitting :
`this.head().iterator().next().split(" ", 3)[1]`
It should check if the header format satisfies HTTP specifications.

<hr id='w'>

[2015-11-20 06:55] HDouss commented on #418
@davvd : should I open an issue for rewriting unit test ?

[2015-11-20 11:45] HDouss commented on #391
@davvd @hs3180 If empty requests should not be accepted, Tests on `org.takes.http.FtSecureTest` will fail. All requests (`com.jcabi.http.request.JdkRequest.JdkRequest` requests) sent in `org.takes.http.FtSecureTest` are empty.

[2015-11-20 11:46] HDouss commented on #391
@davvd : waiting on decision whether to accept empty requests, or open an issue to fix tests on `org.takes.http.FtSecureTest`

[2015-11-20 19:54] hs3180 commented on #391
@HDouss this ticket is not talking about *request with empty header and body* but **a tcp connection that says nothing**.

a request with no content is acceptable. We should reject request that doesn't meet the [http specification](http://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html#sec5.1), including a request with only a EOF. Every request should start with a start-line.

[2015-11-20 21:16] HDouss commented on #391
@hs3180 I agree. That's what I meant. JdkRequest is sending a request with an EOF onFtSecureTest

[2015-11-20 23:56] HDouss commented on #391
@hs3180 I was wrong. I was confused by the fact that `inputStream.available` returned 0. The `inputStream` was not empty, and so was not the `JdkRequest`.

[2015-11-21 04:54] hs3180 commented on #391
@HDouss inputStream.available tells you how many bytes in buffer. [inputStream.read will return -1 if meets EOF](http://docs.oracle.com/javase/7/docs/api/java/io/InputStream.html#read())

[2015-11-21 14:41] davvd commented on #413
@ypshenychka thanks for the review

[2015-11-21 14:44] davvd commented on #413
@bdragan added 10 mins to @ypshenychka, for QA review, payment code is `70171877`

I just added **30 mins** to your account, many thanks for your contribution (70171882).. 117 hours and 33 mins spent here

+30 added to your rating, current score is: [+391](http://www.netbout.com/b/35709?open=rating)

[2015-11-21 14:45] davvd commented on #442
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2015-11-22 13:27] HDouss commented on #418
@davvd I don't know if it is a requirement that `BkReuse` should decorate another `Back`.
Before delegating the process of the socket to the underlying Back, `BkReuse` should definitely read from the socket input stream and process some of the headers.
There is no way to reposition the socket input stream to be (correctly) processed again by the underlying Back.

[2015-11-22 13:33] davvd commented on #443
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-11-22 16:47] yegor256 commented on #443
@simonjenga this is by design. We can't close `body`, we `reset()` it instead

[2015-11-22 16:47] #443 closed

[2015-11-23 09:29] davvd commented on #418
@hdouss check this out: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-11-23 09:29] davvd commented on #418
@hdouss address technical questions to the author of the ticket

[2015-11-23 09:34] davvd commented on #445
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-11-23 09:34] davvd commented on #444
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-11-23 10:21] HDouss commented on #418
@davvd My two comments are related. I will ask the question on #417.

[2015-11-23 10:32] HDouss commented on #417
@prondzyn  I am working on #418. I think last commit ce74f15 is not Ok. I don't see the relation between the socket and the (mocked) container. I was expecting the unit test plays client role, and BkReuse plays server role. The container seems playing server role, and made to reply with an answer I expected to be the client request.
Should I open an issue for rewriting unit test ?

[2015-11-23 11:06] yegor256 opened #448 "it's a test"

[2015-11-23 11:09] yegor256 commented on #448
@rultor hello

[2015-11-23 11:09] rultor commented on #448
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-11-23 11:10] yegor256 commented on #448
@rultor merge

[2015-11-23 11:10] rultor commented on #448
@yegor256 It is an issue, not a pull request

[2015-11-23 11:13] yegor256 commented on #448
@rultor deploy

[2015-11-23 11:13] rultor commented on #448
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/5781-158906830)

[2015-11-23 11:19] yegor256 commented on #448
@rultor status

[2015-11-23 11:19] rultor commented on #448
@yegor256 This is what's going on here:

 * request `158906830` is in processing, command is `deploy`
 * request has 2 parameter(s):
  * `head`: `git@github.com:yegor256/takes.git`
  * `head_branch`: `master`
 * build started 60 seconds ago
 * build is running in `/tmp/rultor-a2ye` directory
 * Docker container ID: `60129e5953b11b3eec02...`
 * working directory size: 176K
 * server load average: 0

[2015-11-23 11:22] rultor commented on #448
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5781-158906830) (spent 8min)

[code]

[2015-11-23 11:22] hmvs commented on #448
@rultor shutdown

[2015-11-23 11:26] yegor256 commented on #448
@rultor hello

[2015-11-23 11:26] rultor commented on #448
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-11-23 11:26] hmvs commented on #448
@rultor bug

[2015-11-23 11:27] andri-didych commented on #448
@rultor status

[2015-11-23 11:27] rultor commented on #448
@andri-didych This is what's going on here:

 * 1 build(s) archived: [5781-158906830](http://www.rultor.com/t/5781-158906830)
 * no new requests registered
 * build is not running

More information about Rultor commands you can get [here](http://doc.rultor.com/commands.html).

[2015-11-23 11:28] hmvs commented on #448
@rultor are you fake?

[2015-11-23 11:29] andri-didych commented on #448
@rultor test

[2015-11-23 11:30] hmvs commented on #448
@rultor do not ignore me (

[2015-11-23 14:27] #448 closed

[2015-11-23 15:52] davvd commented on #418
@hdouss OK, sure

[2015-11-23 19:25] davvd commented on #392
@bdragan it's yours, please go ahead

[2015-11-25 03:49] pinaf opened #449 "Cannot use Pass with TkRegex"
Currently we cannot use a `Pass` along with a `TkRegex` like we can with a `Take`. The reason is that `TkAuth` expects a `Take`.

Ideally we'd have a class `TkAuthRegex` that provides functionality analogous to that in `TkAuth`.

[2015-11-25 03:50] pinaf commented on #449
@yegor256 I can provide a PR for this - without tests though. I can drop in a puzzle for that if you want.

[2015-11-25 06:13] simonjenga opened #450 "base parameter in RsXSLT.InClasspath.resolve(String, String) is unused"
```base``` parameter in ```RsXSLT.InClasspath.resolve(String, String)``` is unused

[2015-11-25 21:40] prondzyn commented on #417
@HDouss check the original issue #306 and related information. Maybe it will help you.

[2015-11-26 08:42] HDouss commented on #417
@prondzyn thanks for replying. I checked all related context. May be my question was not clear. It was specific on the implementation of the  unit test.

[2015-11-26 08:46] HDouss commented on #418
@davvd I ask more time as I am waiting for an answer on #417 and an answer on :

[2015-11-28 09:50] davvd commented on #449
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-11-28 09:50] davvd commented on #450
@yegor256 please do something about this issue

[2015-11-28 16:22] yegor256 commented on #450
@simonjenga it's a valid concern, you're right, thanks

[2015-11-28 18:59] yegor256 commented on #449
@pinaf I didn't understand it at all.. can you give a code example?

[2015-11-28 19:06] davvd commented on #450
@simonjenga I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-11-28 19:11] yegor256 commented on #444
@simonjenga this is by design, we should not close it, since we don't open it. It's not ours.

[2015-11-28 19:11] #444 closed

[2015-11-28 19:15] davvd commented on #450
@simonjenga thanks for the report, I topped your acc for 15 mins, payment ID `70732064`

[2015-11-28 19:24] pinaf commented on #449
@yegor256 sure. If `MyTake` is a `TkRegex`, one cannot do this:
[code]
because `TkAuth` works with a pure `Take`, not with a `TkRegex`.

[2015-11-28 19:24] pinaf commented on #449
@yegor256 I suggest a new class `TkAuthRegex` with does the same thing `TkAuth` does, but to a `TkRegex`

[2015-11-28 19:25] pinaf commented on #449
@yegor256 make sense?

[2015-11-28 19:28] yegor256 commented on #449
@pinaf I got it now, thanks

[2015-11-28 19:44] pinaf commented on #449
@yegor256 want me to do the PR with a puzzle for tests?

[2015-11-28 19:45] pinaf commented on #449
@yegor256 here's the one I built in case you want it.
[code]

[2015-11-29 09:51] davvd commented on #449
@pinaf milestone set to `1.0` (correct me if I am wrong)

[2015-11-29 09:58] davvd commented on #449
@yegor256 this task is yours, go ahead

[2015-11-29 09:58] davvd commented on #449
@pinaf thanks for tis bug, I topped your account for 15 mins, transaction `AP-19K900532P836620R`

[2015-12-02 06:58] yegor256 commented on #449
@pinaf take a look at fd2f184 I believe, this is what you need

[2015-12-02 15:10] HDouss commented on #391
@hs3180 PR #447  has been merged to master. The issue can be closed.

[2015-12-02 15:41] hs3180 commented on #391
@HDouss thanks!

[2015-12-02 15:41] #391 closed

[2015-12-02 18:38] bdragan commented on #392
@hs3180 The current implementation of `RqMethod` already reads the method according to HTTP spec. What exactly do you have in mind? Is it validation (that it must be one of `GET`, `POST`..., exactly one space between method, URL and protocol version and ends with CRLF)?

[2015-12-02 19:05] hs3180 commented on #392
@bdragan yes, let's do a validation according to http://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html

[2015-12-02 21:50] bdragan commented on #392
@hs3180 Thanks, PR submitted.

[2015-12-02 23:58] HDouss commented on #417
@prondzyn In short, I think the unit test is incorrect. In the three coded tests `BkReuse` is accepting a socket with no inputstream.

[2015-12-03 04:03] hs3180 commented on #392
@bdragan you should accept methods which are not in default methods. treat them as `extension-method`

[2015-12-03 04:59] pinaf commented on #449
@yegor256 the problem with that solution is that you have to create the matcher externally and pass it on. For example:
[code]

[2015-12-03 05:00] pinaf commented on #449
@yegor256 but it does work. let me know what you think.

[2015-12-03 12:37] bdragan commented on #392
@hs3180 Thanks for the remark. What are `extension-method`s?

[2015-12-03 14:58] hs3180 commented on #392
@bdragan

       Method         = "OPTIONS"                ; Section 9.2
                      | "GET"                    ; Section 9.3
                      | "HEAD"                   ; Section 9.4
                      | "POST"                   ; Section 9.5
                      | "PUT"                    ; Section 9.6
                      | "DELETE"                 ; Section 9.7

[2015-12-03 18:11] davvd commented on #391
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-12-03 20:34] ypshenychka commented on #391
@davvd Quality is good.

[2015-12-05 10:06] davvd commented on #391
@ypshenychka many thanks

[2015-12-05 10:15] davvd commented on #391
@hdouss just added 10 mins to @ypshenychka (for QA), payment ID is `71307443`. **30 mins** sent to your balance (ID `71307447`), many thanks! It took 312 hours and 8 mins.. +30 added to your rating, at the moment it is: [+30](http://www.netbout.com/b/36032?open=rating)

[2015-12-05 10:15] davvd commented on #399
@hdouss it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-05 10:15] davvd commented on #418
@hdouss the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... as a reminder, don't forget to remove the `@todo` puzzle from th

[2015-12-05 10:27] HDouss commented on #418
@davvd please note my last comment. I asked for more time, I think a redesign is required and I am waiting for replies.

[2015-12-05 12:53] davvd commented on #418
@hdouss sure, thanks for telling me, take your time

[2015-12-05 15:06] HDouss commented on #418
@davvd please revoke my rating and answer my redesign question.

[2015-12-06 14:11] longtimeago opened #453 "Connection reset if request body wasn't read from POST"
For example, server expects POST request with some body
In some particular case server may be not interested in request body.
But if server didn't read the body then response is never sent - client will get connection reset.
Reading the body manually (`new RqPrint(req).printBody()`) works but not the best approach.

It would be nice if `takes` read request body somehow if it wasn't read during res

[2015-12-06 17:47] HDouss opened #454 "BkReuseTest does not send proper request"
`BkReuseTest` as implemented in #417 does not send a request to `BkReuse` to be processed. All sockets in all three methods have empty input streams.
`BkReuseTest` should send sockets with valid content to `BkReuse` in order to test it.

[2015-12-06 22:14] bdragan commented on #392
@hs3180 Thanks, I missed that one. New changes submitted.

[2015-12-06 22:58] HDouss commented on #439
@davvd assign this to me please.

[2015-12-07 07:17] simonjenga opened #455 "qulice check failure"
[code]

[2015-12-07 08:10] yegor256 commented on #455
@simonjenga how can I reproduce it? In general, we would appreciate if you format your bugs with more details. Just posting a log is not enough. Make an effort, show some respect to bug readers and fixers. Thanks.

[2015-12-07 09:44] yegor256 commented on #418
@HDouss please, check these two articles: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html and http://www.yegor256.com/2015/01/15/how-to-cut-corners.html Basically, if something is not clear it's either your problem and you should solve it on your own, or it's a problem of the project and you should report it. Nobody will help you here.

[2015-12-07 10:24] HDouss opened #456 "BkReuse should not be a wrapper"
`BkReuse` should not decorate another `Back`. Persistent connections should either be handled by `BkBasic` or by a specific Back that don't decorate another Back.
**Reason:** before delegating the process of the socket to the underlying Back, BkReuse should definitely read from the socket input stream and process some of the headers.
There is no way to reposition the socket input stream to be (cor

[2015-12-07 10:25] HDouss commented on #418
@davvd I can't continue until #456 is resolved.

[2015-12-07 11:13] yegor256 commented on #456
@HDouss I don't think I agree... I think that `BkReuse` should create **new** instance of class `Socket` and pass it into the underlying `back`. This is how I would implement it.

[2015-12-07 13:00] yegor256 commented on #453
@longtimeago hm... interesting problem. maybe we can introduce a new Take decorator, which will work like this:

[code]

did I get it right?

[2015-12-07 13:01] yegor256 commented on #454
@HDouss seems like a bug, thanks

[2015-12-07 13:11] yegor256 commented on #449
@pinaf yes, that's how it should be, I believe. If you want to use `TkRegex` where `Take` is expected, you have to pass the matcher somehow. To fake it somehow, so to speak

[2015-12-07 13:23] longtimeago commented on #453
@yegor256 in general, yes, but it would be the best to have this behavior completely transparant for the library user

[2015-12-07 13:47] HDouss commented on #456
@yegor256 This new instance should be a perfect clone of the original one, before being read by `BkReuse`. That won't be possible unless we implement our own (fake ?) subclass implementation of `Socket` (or `SocketImpl`).

[2015-12-07 15:53] yegor256 commented on #456
@HDouss we can just start a `ServerSocket`, connect to it, send HTTP request through it. In other words, simulate a proxy. Why not?

[2015-12-07 15:54] yegor256 commented on #456
@HDouss it doesn't need to be a "perfect clone". Just a socket with incoming data, which are identical to the data received through the original socket.

[2015-12-07 15:57] yegor256 commented on #453
@longtimeago well, are you sure? some users may not need this functionality. I don't think it is part of HTTP protocol. or is it?

[2015-12-07 15:57] davvd commented on #454
@hdouss I will ask someone to take care of this task soon

[2015-12-07 15:57] davvd commented on #454
@hdouss I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-12-07 16:03] davvd commented on #454
@hdouss thanks for reporting! I topped your account for 15 mins, transaction 71625342

[2015-12-07 16:24] longtimeago commented on #453
@yegor256 well, as far as I know, it's not a part of a protocol. But it's rather a detail to think about it each time you implement some Take or compose it from existing ones.
This is especially annoying for testing, when implementing mock server

[2015-12-07 16:27] HDouss commented on #456
@yegor256 that way, we are making assumptions that the underlying `Back` is using only the socket incoming data. For example `BkBasic` is using LocalAddress, InetAddress, LocalPort, Port. May be it is not a good example, but in general we cannot make assumptions on what properties of the socket will be used by future implementations of `Back`.
As a proxy simulator, we should also take back passed

[2015-12-07 16:28] yegor256 commented on #453
@longtimeago I understand, but we can't add it by default. there won't be any way to remove it than. everybody will just have this feature and it won't be possible to remove it ( so, the best option is to introduce `TkReadAlways` (or some other name) and let you use it when necessary.

[2015-12-07 16:31] yegor256 commented on #456
@HDouss well, that make sense... how about creating our own sub-class of `Socket`?

[2015-12-07 16:33] longtimeago commented on #453
@yegor256 OK, at least something :)

[2015-12-07 16:57] HDouss commented on #456
@yegor256 That would be a solution with less overhead than simulating a proxy, but that may require further thinking about how to make a proper input stream available for the `Back`.
I still think that `BkReuse` being a wrapper is the misconception. It is rather "Basic" to handle persistent connection. We are not really decorating with an additional (outsider) feature as for `BkParallel` or `BkSaf

[2015-12-07 16:59] yegor256 commented on #456
@HDouss maybe. But you should propose a better solution in that case. Just placing everything into BkBasic is not an option. We want our classes to be small and solid.

[2015-12-07 17:04] yegor256 commented on #445
@HDouss seems to be a valid bug, thanks

[2015-12-07 17:07] yegor256 commented on #442
@simonjenga seems to be a valid bug, thanks

[2015-12-07 17:31] pinaf commented on #449
@yegor256 got it. thanks!

[2015-12-07 17:31] #449 closed

[2015-12-07 18:09] yegor256 commented on #427
@simonjenga I believe it's fixed in e4848a7, thanks

[2015-12-07 18:09] #427 closed

[2015-12-07 18:22] yegor256 commented on #428
@simonjenga fixed in 95b291d thanks

[2015-12-07 18:48] davvd commented on #453
@longtimeago I will ask someone to take care of this task soon

[2015-12-07 18:48] davvd commented on #438
@bdragan I set the milestone to 1.0 since there is nothing set yet

[2015-12-07 18:48] davvd commented on #442
@simonjenga attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-12-07 18:48] davvd commented on #445
@hdouss attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-12-07 18:48] davvd commented on #453
@longtimeago I set milestone here to `1.0`, let me know if it is wrong

[2015-12-07 18:56] davvd commented on #453
@longtimeago thanks for the ticket, your account was topped for 15 mins, payment 71645544

[2015-12-07 21:09] HDouss commented on #456
@yegor256 I suggest :
1. making 2 additional types of requests : RqOngoing, RqClosing. The parse method in RqLive should return on of these implementations in case of a persistent connection.
2. BkBasic don't close the socket input stream in case of a RqOngoing, and closes the stream in case of a RqClosing or in case of another request (that does not belong to a persistent connection).
And that's

[2015-12-08 07:36] simonjenga commented on #455
@yegor256 ```mvn qulice:check -Pqulice```

[2015-12-08 10:29] yegor256 commented on #455
@simonjenga you can't run it like this, since this command ignores the configuration in `pom.xml`. Always run `mvn clean install -Pqulice`, as `README` suggests

[2015-12-08 10:29] #455 closed

[2015-12-08 10:42] HDouss commented on #399
@hs3180 PR #452 has been merged to master. The issue can be closed.

[2015-12-08 10:53] davvd commented on #418
@hdouss yes, right, let's wait for #456

[2015-12-08 10:53] davvd commented on #439
@hdouss ask project architect to do this (@yegor256)

[2015-12-08 10:56] yegor256 commented on #456
@HDouss not a bad direction of thinking, but what exactly does this mean: "RqLive should return". `RqLive` is a class, not a method.

[2015-12-08 10:59] davvd commented on #445
@hdouss thanks for reporting! I topped your account for 15 mins, transaction 71676136

[2015-12-08 11:20] HDouss commented on #456
@yegor256 return refers to **The parse method** in :

[2015-12-08 11:26] yegor256 commented on #456
@HDouss this is the code in `BkBasic`:

[code]

As you see, there is `new RqLive(input)`. We just make an instance of `RqLive`. `parse()` is a private method.

[2015-12-08 11:27] yegor256 commented on #456
@HDouss also, keep in mind that class casting and checking classes in runtime is a terrible anti-pattern, see http://www.yegor256.com/2015/04/02/class-casting-is-anti-pattern.html

[2015-12-08 12:05] bdragan commented on #392
@hs3180 PR #451 has been merged. The issue can be closed.

[2015-12-08 12:06] bdragan commented on #377
@pinaf PR #421 has been merged. The issue can be closed.

[2015-12-08 13:19] HDouss commented on #456
@yegor256 I agree. The main idea of the suggestion is that responsibility of the Back is limited to closing or not the socket stream. Every other consideration should be made elsewhere based on the nature of the request. In other words, an idea could be to add a method to the `Request` interface
`public boolean ongoing();`

[2015-12-08 13:22] HDouss commented on #439
@yegor256 assign this to me please.

[2015-12-08 13:39] yegor256 commented on #456
@HDouss maybe we should change the interface of Back...? Make it `accept(InputStream)` instead of `accept(Socket)`... what do you think?

[2015-12-08 13:55] davvd commented on #442
@simonjenga many thanks for the bug report, I added 15 mins to your acc, transaction `71680633`

[2015-12-08 14:25] HDouss commented on #456
@yegor256 It is a nice idea. It gives more flexibility for the decoration of Back wrappers in general.
But I still think that BkReuse is not a good idea. Using takes in its simplest example :
[code]
have just to handle persistent connections.
May be I'm repeating myself, but I think that it is rather weird to have :

1. A specific implementation for persistent connections, it's basic feature widel

[2015-12-08 15:47] yegor256 commented on #456
@HDouss OK, I agree. Let's get rid of `BkReuse`, move all tests from `BkReuseTest` to `BkBasicTest` and implement persistent connections inside `BkBasic`. Thanks for taking time to convince me.

[2015-12-08 15:47] yegor256 commented on #439
@davvd assign @HDouss to this ticket pls

[2015-12-08 16:11] HDouss commented on #456
@yegor256 Should #418 be invalidated ?

[2015-12-08 16:13] yegor256 commented on #456
@HDouss not at all. We will fix this ticket first and then you will continue with that puzzle. We still need to implement persistence. This ticket won't solve the entire problem, but will just get rid of `BkReuse`.

[2015-12-08 16:14] HDouss commented on #456
@yegor256 Ok

[2015-12-08 16:29] pinaf commented on #377
@bdragan thanks!

[2015-12-08 16:29] #377 closed

[2015-12-08 16:41] pinaf commented on #377
@yegor256 can we get a release with this new class?

[2015-12-08 17:06] davvd commented on #456
@hdouss I am aware of the task, give me some time to find a developer...

[2015-12-08 17:07] davvd commented on #456
@hdouss I set the milestone to 1.0 since there is nothing set yet

[2015-12-08 17:07] davvd commented on #439
@yegor256 done. @hdouss you are assigned to this task. please proceed...

[2015-12-08 17:14] davvd commented on #438
@bdragan thanks for tis bug, I topped your account for 15 mins, transaction `71688963`

[2015-12-08 17:21] yegor256 commented on #377
@rultor release, tag is `0.28`

[2015-12-08 17:22] rultor commented on #377
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5871-162951312)

[2015-12-08 18:29] rultor commented on #377
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5871-162951312) (took me 1hr)

[2015-12-08 19:47] davvd commented on #449
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-08 19:48] davvd commented on #392
@bdragan you're working with this issue for 15 days already... -30 added to your rating, at the moment it is: [+346](http://www.netbout.com/b/35709?open=rating)

[2015-12-08 19:48] davvd commented on #456
@hdouss thank you for the ticket reported, I topped your account for 15 mins, transaction `71695368`

[2015-12-09 06:49] elenavolokhova commented on #449
@yegor256
  According to our [quality rules](http://www.teamed.io/qa.html):

 There is no PR created for this ticket. Please, follow this rule in your tickets in the future.

[2015-12-09 07:57] yegor256 commented on #449
@elenavolokhova yeah, my bad, thanks for noticing

[2015-12-09 09:56] elenavolokhova commented on #449
@davvd Quality is acceptable here.

[2015-12-09 12:33] davvd commented on #449
@elenavolokhova thanks for the QA review, we'll work better next time

[2015-12-09 12:36] davvd commented on #449
@yegor256 I added 10 mins to @elenavolokhova (for QA review) in transaction 71766052; Much obliged! I have added **30 mins** to your account in payment "000-99645ccc", 200 hours and 56 mins spent; +30 added to your rating, at the moment it is: [+9128](http://www.netbout.com/b/35008?open=rating)

[2015-12-09 12:36] HDouss commented on #439
@carlosmiranda PR #457 has been merged to master. The issue can be closed.

[2015-12-09 13:30] carlosmiranda commented on #439
@HDouss thanks!

[2015-12-09 13:30] #439 closed

[2015-12-09 15:06] davvd opened #458 "TkProxyTest.java:40-42: We need more tests for..."
Puzzle `377-e6ce369a` in `src/test/java/org/takes/tk/TkProxyTest.java:40-42` has to be resolved: We need more tests for TkProxy. The tests should verify the different HTTP methods (GET, POST, etc), as well as the different combinations of request/response headers.... The puzzle was created by bdragan on 7-Dec-2015.

If you have any technical questions, don't ask me, submit new tickets instead

<hr

[2015-12-09 15:06] davvd commented on #377
@pinaf once `377-e6ce369a`/#458 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-12-09 16:13] davvd commented on #458
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-12-09 18:03] davvd commented on #377
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-09 18:36] ypshenychka commented on #377
@tiaped
According to our [QA Rules](http://www.teamed.io/qa.html):

Please correct all your messages by indicating an addressee in the beginning.

[2015-12-09 18:38] gauee commented on #442
Can I start working on this issue?

[2015-12-09 18:44] davvd commented on #458
@aschworer the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)