[2015-01-09 13:48] bandrzejczak opened #1 "TksRegex modularization"
I hava a concern. It's connected to the code below

[code]

In this example you've configured only two resources (Account and Balance), but it took significant number of LOC. Have you thought of some way of grouping resource declarations into separate files?

[2015-01-09 14:35] yegor256 commented on #1
@bandrzejczak very good question. I though about this, but haven't documented it yet:

[code]

Then, we create `TksUsers`:

[code]

What do you think?

[2015-01-09 19:43] bandrzejczak commented on #1
It's quite nice, but you won't have deep nesting then. The question is whether it is a bad or a good thing. Take implementation returns Response from print method, while Takes implementation returns Take from take method. If you would like to have such deep nesting these are my thoughts on it: I don't really see a way to somehow merge Take and Takes interfaces. Even if I did, it would be stupid. T

[2015-01-10 21:00] yegor256 commented on #1
Here is how we can do deep nesting:

[code]

Then, `TksUsers`:

[code]

Then, `TksUserAccounts`:

[code]

I don't see an issue here. Or I'm missing something?

[2015-01-10 21:01] yegor256 commented on #1
This is how `TksRegex` will look like:

[code]

[2015-01-11 00:21] bandrzejczak commented on #1
It's hard to think about code, if you don't actually see the code ;) This looks totally fine to me. If you think, that the issue is resolved, please close it.

[2015-01-12 21:56] yegor256 commented on #1
@bandrzejczak would be great if you close it, since you opened it. thanks!

[2015-01-12 21:59] bandrzejczak commented on #1
Sure thing ;) I'm new to the whole opensource contributing thing so I'm still learning. I'll let you know if I'll see another issue.

[2015-01-12 21:59] #1 closed

[2015-02-25 01:51] yegor256 opened #2 "skeleton, version 0.1"

[2015-02-25 02:09] yegor256 commented on #2
@rultor deploy

[2015-02-25 02:11] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-75892402)

[2015-02-25 02:18] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-75892402) (spent 6min)

[2015-03-03 06:58] yegor256 commented on #2
@rultor deploy

[2015-03-03 06:58] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-76896505)

[2015-03-03 07:03] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-76896505) (spent 5min)

[2015-03-03 07:33] yegor256 commented on #2
@rultor deploy

[2015-03-03 07:33] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-76899663)

[2015-03-03 07:41] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-76899663) (spent 7min)

[2015-03-03 07:43] yegor256 commented on #2
@rultor deploy

[2015-03-03 07:44] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-76900661)

[2015-03-03 07:48] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-76900661) (spent 4min)

[2015-03-03 07:58] yegor256 commented on #2
@rultor deploy

[2015-03-03 07:58] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-76902118)

[2015-03-03 08:05] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-76902118) (spent 6min)

[2015-03-03 08:11] yegor256 commented on #2
@rultor deploy

[2015-03-03 08:12] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-76903510)

[2015-03-03 08:17] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-76903510) (spent 5min)

[2015-03-03 18:04] yegor256 commented on #2
@rultor deploy

[2015-03-03 18:05] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-76999748)

[2015-03-03 18:10] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-76999748) (spent 5min)

[2015-03-03 19:12] yegor256 commented on #2
@rultor deploy

[2015-03-03 19:13] rultor commented on #2
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2170-77012862)

[2015-03-03 19:21] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2170-77012862) (took me 8min)

[2015-03-03 22:23] yegor256 commented on #2
@rultor release, tag is `0.1`

[2015-03-03 22:23] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2170-77049828)

[2015-03-03 22:40] rultor commented on #2
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2170-77049828) (spent 17min)

[2015-03-03 22:46] yegor256 commented on #2
@rultor release, tag is `0.1`

[2015-03-03 22:46] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2170-77055297)

[2015-03-03 23:04] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2170-77055297) (took me 17min)

[2015-03-03 23:17] #2 closed

[2015-03-04 01:55] yegor256 opened #3 "TsForward doesn't catch RsForward properly"

[2015-03-04 02:07] yegor256 commented on #3
@rultor release, tag is `0.1.1`

[2015-03-04 02:08] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2344-77083942)

[2015-03-04 02:22] rultor commented on #3
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2344-77083942) (spent 13min)

[2015-03-04 03:22] yegor256 commented on #3
@rultor release, tag is `0.1.1`

[2015-03-04 03:22] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2344-77090442)

[2015-03-04 03:36] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2344-77090442) (took me 14min)

[2015-03-04 04:36] #3 closed

[2015-03-04 05:10] yegor256 opened #4 "--threads for FtCLI"

[2015-03-04 05:27] yegor256 commented on #4
@rultor release, tag is `0.2`

[2015-03-04 05:28] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2346-77099427)

[2015-03-04 05:41] rultor commented on #4
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2346-77099427) (spent 13min)

[2015-03-04 05:49] yegor256 commented on #4
@rultor release, tag is `0.2`

[2015-03-04 05:49] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2346-77100961)

[2015-03-04 05:59] yegor256 opened #5 "XeSLA"

[2015-03-04 06:05] rultor commented on #4
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2346-77100961) (took me 15min)

[2015-03-04 06:19] #4 closed

[2015-03-04 06:24] yegor256 commented on #5
@rultor release, tag is `0.3`

[2015-03-04 06:24] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2349-77103530)

[2015-03-04 06:32] rultor commented on #5
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2349-77103530) (spent 8min)

[2015-03-04 06:33] yegor256 commented on #5
@rultor release, tag is `0.3`

[2015-03-04 06:35] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2349-77104312)

[2015-03-04 06:52] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2349-77104312) (took me 16min)

[2015-03-04 06:52] #5 closed

[2015-03-04 07:11] yegor256 opened #6 "invalid redirect URL for Github"

[2015-03-04 07:51] yegor256 commented on #6
@rultor release, tag is `0.3.1`

[2015-03-04 07:52] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2352-77110842)

[2015-03-04 08:06] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2352-77110842) (took me 13min)

[2015-03-04 08:15] #6 closed

[2015-03-04 08:15] yegor256 opened #7 "jcabi-http 1.10.3"

[2015-03-04 08:27] yegor256 commented on #7
@rultor release, tag is `0.3.2`

[2015-03-04 08:27] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2353-77115636)

[2015-03-04 08:38] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2353-77115636) (took me 11min)

[2015-03-04 08:39] #7 closed

[2015-03-04 08:40] yegor256 opened #8 "ArrayIndexOutOfBoundsException in RqCookies"
[code]

[2015-03-04 09:11] #8 closed

[2015-03-04 18:18] yegor256 opened #9 "PsFacebook"
Let's create a new `Pass` for facebook authentication, call it `PsFacebook`, similar to `PsGithub` we already have

[2015-03-04 18:18] yegor256 opened #10 "PsGoogle"
Let's create a new `Pass` for Google Plus authentication, call it `PsGoogle`, similar to `PsGithub` we already have

[2015-03-04 18:19] yegor256 opened #11 "PsTwitter"
Let's create a new `Pass` for Twitter OAuth authentication, call it `PsTwitter`, similar to `PsGithub` we already have

[2015-03-04 18:19] yegor256 opened #12 "PsLinkedin"
Let's create a new `Pass` for LinkedIn authentication, call it `PsLinkedin`, similar to `PsGithub` we already have

[2015-03-04 18:21] yegor256 opened #13 "check for HTTP headers validity"
Let's check for HTTP headers validity during (valid and printable characters) sending out a response

[2015-03-04 18:44] yegor256 opened #14 "XeWrap"

[2015-03-04 21:24] #14 closed

[2015-03-04 21:24] yegor256 opened #15 "TsFork"

[2015-03-04 22:38] yegor256 commented on #15
@rultor release, tag is `0.4`

[2015-03-04 22:39] rultor commented on #15
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2364-77265924)

[2015-03-04 22:49] rultor commented on #15
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2364-77265924) (spent 10min)

[2015-03-04 22:50] yegor256 commented on #15
@rultor release, tag is `0.4`

[2015-03-04 22:51] rultor commented on #15
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2364-77267938)

[2015-03-04 23:02] rultor commented on #15
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2364-77267938) (took me 11min)

[2015-03-05 00:26] #15 closed

[2015-03-05 01:31] yegor256 opened #16 "FkRegex is broken"

[2015-03-05 02:40] yegor256 commented on #16
@rultor release, tag is `0.4.1`

[2015-03-05 02:40] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2366-77295928)

[2015-03-05 02:53] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2366-77295928) (took me 12min)

[2015-03-05 02:54] #16 closed

[2015-03-05 03:33] yegor256 opened #17 "RqCookies doesn't parse multiple cookies"

[2015-03-05 03:37] yegor256 commented on #17
@rultor release, tag is `0.4.2`

[2015-03-05 03:38] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2367-77300772)

[2015-03-05 03:55] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2367-77300772) (took me 17min)

[2015-03-05 06:44] #17 closed

[2015-03-05 07:22] #9 closed

[2015-03-05 07:40] yegor256 commented on #9
@rultor release, tag is `0.5`

[2015-03-05 07:40] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2372-77319971)

[2015-03-05 07:56] rultor commented on #9
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2372-77319971) (took me 15min)

[2015-03-07 16:35] longtimeago opened #18 "Readme is unclear regarding FkRegex pattern syntax"
There is an example in README
[code]
but it's unclear what is the part of regex and what is not. For example, why do we need parentheses? Why question mark at the beginning?

[2015-03-07 17:51] yegor256 opened #19 "CcBase64"
Let's create `CcBase64` class to encode/decode identities with Base64

[2015-03-07 17:53] yegor256 commented on #18
It's just a Java7 regular expression with a named groups, see http://stackoverflow.com/questions/415580/regex-named-groups-in-java

This `<path>` is the name of the group. Later, you can use this group like this: `matcher.group("path")`

[2015-03-07 17:56] yegor256 opened #20 "Href"
Let's create `Href` class for URI parsing and building

[2015-03-07 17:58] longtimeago commented on #18
@yegor256 you are right. Really forgot about that. Thanks!

[2015-03-07 17:58] #18 closed

[2015-03-07 18:01] yegor256 opened #21 "filter site resources"
Let's filter site resources correctly, to put version number into `index.html`

[2015-03-07 18:05] longtimeago commented on #18
@yegor256 by the way, I see that path can't contain ```/``` symbols.
But how in that case can we specify file path with dir and subdir?
For example, root path is ```/api/file```. Relative file path is ```foo/bar/some_file.txt```
Is there any way to match following url:
```/api/file/foo/bar/some_file.txt```
Github uses this way to point to the files and I'd like to use same approach for nerodesk

[2015-03-07 18:09] yegor256 opened #22 "move fork to org.takes.facets.fork"
Let's move fork classes to `org.takes.facets.fork` and make `Fork` interface generic

[2015-03-07 18:14] yegor256 commented on #18
Sure, try this regex:

[code]

[2015-03-07 21:21] longtimeago commented on #18
Cool, thanks!

[2015-03-07 21:48] longtimeago opened #23 "How to test org.takes.ts.fork.Target implementation?"
I'm faced with a problem trying to test this code
[code]
In test to call ```route``` I need to provide a ```RqRegex```. Unfortunately, I can't mock it, because ```RqRegex.matcher()``` returns ```java.util.regex.Matcher``` which is final and can't be mocked.
So, the only way I've found is to create real Matcher (yees, using Pattern) but this is really overkill :(

Is there any other possible way?

[2015-03-07 23:49] yegor256 commented on #21
@rultor release, tag is `0.5.1`

[2015-03-07 23:49] rultor commented on #21
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2405-77719948)

[2015-03-07 23:55] yegor256 commented on #23
Well, there are two options to test this class. First one:

[code]

Second one:

[code]

Whichever you prefer :)

[2015-03-08 00:05] rultor commented on #21
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2405-77719948) (took me 16min)

[2015-03-08 00:53] #21 closed

[2015-03-08 01:31] yegor256 commented on #22
@rultor release, tag is `0.6`

[2015-03-08 01:31] rultor commented on #22
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2406-77727029)

[2015-03-08 01:52] rultor commented on #22
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2406-77727029) (took me 20min)

[2015-03-08 02:04] #22 closed

[2015-03-08 03:20] yegor256 commented on #20
@rultor release, tag is `0.7`

[2015-03-08 03:20] rultor commented on #20
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2407-77730506)

[2015-03-08 03:33] rultor commented on #20
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2407-77730506) (took me 13min)

[2015-03-08 04:58] #20 closed

[2015-03-08 05:03] yegor256 opened #24 "ArrayIndexOutOfBoundsException in MediaType"
[code]

[2015-03-08 05:10] #24 closed

[2015-03-08 05:23] #13 closed

[2015-03-08 05:26] yegor256 opened #25 "hit-refresh is not implemented"
`TsHitRefresh` is not implemented, let's create it

[2015-03-08 05:27] yegor256 opened #26 "TsFiles is not implemented"
`TsFiles` is not implemented yet, let's do this

[2015-03-08 07:02] yegor256 opened #27 "RqForm is not implemented"
`RqForm` is not implemented at the moment, but it should be

[2015-03-08 07:53] yegor256 opened #28 "SLF4J logging"
Let's create a collection of wrappers in `org.takes.facets.slf4j` for our basic interface (`Takes`, `Take`, `Fork`, etc), which will log basic parameters of methods called.

We should use them like this:

[code]

That should be enough to see everything that's going on with this takes.

[2015-03-08 08:08] yegor256 commented on #26
@rultor release, tag is `0.8`

[2015-03-08 08:09] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2408-77738241)

[2015-03-08 08:25] rultor commented on #26
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2408-77738241) (took me 16min)

[2015-03-08 08:44] #26 closed

[2015-03-08 08:57] yegor256 opened #29 "FkTypes is accepting too much"

[2015-03-08 09:05] longtimeago commented on #23
The first approach is not very suitable, as we also have to implement 2 methods from ```Request``` interface :(

Second one is also not a solution, because ```Take.route()``` expects ```RqRegex```, not a ```Request```. So, ```RqFake``` can't be used there ...

[2015-03-08 09:43] yegor256 commented on #23
`Take.route()` can't expect anything except `Request`... what do you mean?

[2015-03-08 09:50] longtimeago commented on #23
My fault. I'm talking about ```Target.route()```, not ```Take.route()```
Please, take a look at the code in the issue description.

[2015-03-08 19:13] yegor256 commented on #23
@longtimeago yes, I noticed that. that's why I'm suggesting to wrap it into `FkRegex` for this test:

[code]

`FkRegex` will convert your `RqFake` into `RqRegex` required by `TkGetFile`

[2015-03-08 19:20] yegor256 commented on #29
@rultor release, tag is `0.8.1`

[2015-03-08 19:21] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2416-77768784)

[2015-03-08 19:33] rultor commented on #29
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2416-77768784) (spent 12min)

[2015-03-08 19:39] yegor256 commented on #29
@rultor release, tag is `0.8.1`

[2015-03-08 19:40] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2416-77769791)

[2015-03-08 20:00] longtimeago commented on #23
@yegor256 looks like overkill ... anyway, thanks!

[2015-03-08 20:00] #23 closed

[2015-03-08 20:06] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2416-77769791) (took me 25min)

[2015-03-08 20:06] #29 closed

[2015-03-08 20:14] yegor256 opened #30 "RqHref"
Let's replace `RqURI` and `RqQuery` with `RqHref`

[2015-03-08 20:34] #30 closed

[2015-03-08 20:35] yegor256 opened #31 "RsFork fails to route"

[2015-03-08 20:42] #31 closed

[2015-03-08 20:42] yegor256 commented on #30
@rultor release, tag is `0.8.2`

[2015-03-08 20:43] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2419-77772952)

[2015-03-08 20:54] rultor commented on #30
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2419-77772952) (spent 11min)

[2015-03-08 21:02] yegor256 commented on #30
@rultor release, tag is `0.8.2`

[2015-03-08 21:03] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2419-77774073)

[2015-03-08 21:22] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2419-77774073) (took me 18min)

[2015-03-08 22:53] yegor256 opened #32 "Pass should return an iterable"

[2015-03-08 23:09] yegor256 commented on #32
@rultor release, tag is `0.8.3`

[2015-03-08 23:09] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2422-77780981)

[2015-03-08 23:27] rultor commented on #32
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2422-77780981) (took me 17min)

[2015-03-08 23:58] #32 closed

[2015-03-08 23:58] yegor256 opened #33 "login/logout doesn't work"

[2015-03-09 00:49] yegor256 commented on #33
@rultor release, tag is `0.8.4`

[2015-03-09 00:49] rultor commented on #33
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2423-77785629)

[2015-03-09 01:02] rultor commented on #33
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2423-77785629) (took me 12min)

[2015-03-09 01:02] #33 closed

[2015-03-09 02:27] #10 closed

[2015-03-09 19:33] bandrzejczak opened #34 "Class naming"
I'd like to know what was your motivation for naming your classes. I know, that when someone will use your framework for a while will get to know all the prefixes, but for me all the Tk*, Rq*, Ts* mean nothing and are just something that makes the learning curve more steep. Is there some greater intent in ignoring all the good practices against abbreviations in names?

[2015-03-09 21:00] yegor256 commented on #34
@bandrzejczak well, here is the logic. We have a few interfaces in the framework: `Takes`, `Take`, `Request`, `Response`, `Fork`, `Codec`, etc. And we have many classes that implement them. 17 classes implement `Takes`, for example, see http://www.takes.org/apidocs-0.8.4/org/takes/Takes.html Naming them all like `TakesFiles`, `TakesFallback`, `TakesFailure`, `TakesFork` is just too verbose. This `

[2015-03-10 23:21] yegor256 opened #35 "RqRegex.Fake"
Let's create a fake version of `RqRegex`, for unit testing mostly, e.g.:

[code]

[2015-03-10 23:30] yegor256 commented on #35
@rultor release, tag is `0.8.5`

[2015-03-10 23:30] rultor commented on #35
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2464-78171387)

[2015-03-10 23:44] rultor commented on #35
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2464-78171387) (took me 14min)

[2015-03-10 23:45] #35 closed

[2015-03-11 18:22] bandrzejczak commented on #34
@yegor256 Yes, you do make sense. You don't use compound names (after stripping the prefix), so honestly I wouldn't mind the class name to be `TakesFiles` or `TakesFallback`.

I don't think, that prefixes in class names can discourage anybody from using the framework, so as long as they help see through packaging and interfaces the class are implementing it's pretty fine.

Thanks for the explanati

[2015-03-11 18:22] #34 closed

[2015-03-12 06:01] yegor256 commented on #27
@rultor deploy

[2015-03-12 06:01] #27 closed

[2015-03-12 06:01] rultor commented on #27
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2491-78428376)

[2015-03-12 06:09] rultor commented on #27
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2491-78428376) (spent 8min)

[2015-03-12 06:19] yegor256 opened #36 "TsSecure is not tested"
There is no unit test for `TsSecure` class, let's create one

[2015-03-12 06:20] yegor256 opened #37 "RqAuth is not tested"
There is no unit test for `RqAuth` class, let's create one

[2015-03-12 06:20] yegor256 opened #38 "PsCookie is not tested"
There is no unit test for `PsCookie` class, let's create one

[2015-03-12 06:21] yegor256 opened #39 "PsChain is not tested"
There is no unit test for `PsChain` class, let's create one

[2015-03-12 06:21] yegor256 opened #40 "PsByFlag is not tested"
There is no unit test for `PsByFlag` class, let's create one

[2015-03-12 06:23] yegor256 opened #41 "PsFacebook is not tested"
There is no unit test for `PsFacebook` class, let's create one. Let's introduce one more ctor, which will accept an instance of `com.jcabi.http.Request` and use it internally like this:

[code]

This will allow us to test the class.

[2015-03-12 06:23] yegor256 opened #42 "PsGithub is not tested"
There is no unit test for `PsGithub` class, let's create one. Let's introduce one more ctor, which will accept an instance of `com.jcabi.http.Request` and use it internally like this:

[code]

This will allow us to test the class.

[2015-03-12 06:23] yegor256 opened #43 "PsGoogle is not tested"
There is no unit test for `PsGoogle` class, let's create one. Let's introduce one more ctor, which will accept an instance of `com.jcabi.http.Request` and use it internally like this:

[code]

This will allow us to test the class.

[2015-03-12 06:24] yegor256 opened #44 "CcXOR is not tested"
There is no unit test for `CcXOR` class, let's create one.

[2015-03-12 06:24] yegor256 opened #45 "TkFallback is not tested"
There is no unit test for `TkFallback` class, let's create one.

[2015-03-12 06:26] yegor256 opened #46 "RsWithCookie must reject if invalid characters"
`RsWithCookie` must reject (throw runtime exception) when its ctor is called with name or value containing invalid (unprintable) characters. Let's create a test reproducing this situation and also let's document what RFC we're using to check for character validity.

[2015-03-12 06:27] yegor256 opened #47 "RsFlash is not tested"
`RsFlash` is not tested, let's create a unit test for it. Besides that, the class doesn't use the logging level provided anyhow. It simply ignores this parameter. Instead, it has to package the message and the logging level together in a single string and send them in Base64 format to the cookie. Without that we may have issues with unprintable characters inside the message.

[2015-03-12 06:28] yegor256 opened #48 "RqMethod is not tested"
There is no unit test for `RqMethod` class, let's create one.

[2015-03-12 06:29] yegor256 opened #49 "TkMeasured is not tested"
There is no unit test for `TkMeasured` class, let's create one.

[2015-03-12 06:30] yegor256 opened #50 "TkHTML is not tested"
There is no unit test for `TkHTML` class, let's create one.

[2015-03-12 06:30] yegor256 opened #51 "TkWithHeaders is not tested"
There is no unit test for `TkWithHeaders` class, let's create one.

[2015-03-12 06:30] yegor256 opened #52 "TkRedirect is not tested"
There is no unit test for `TkRedirect` class, let's create one.

[2015-03-12 10:34] davvd commented on #19
I will ask someone to take care of this task soon

[2015-03-12 10:34] davvd commented on #52
@yegor256 thanks, I added the "bug" tag

[2015-03-12 10:34] davvd commented on #51
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:34] davvd commented on #50
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:34] davvd commented on #49
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:34] davvd commented on #48
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:35] davvd commented on #47
@yegor256 thanks, I added the "bug" tag

[2015-03-12 10:35] davvd commented on #46
@yegor256 got it, tag `bug` is here

[2015-03-12 10:35] davvd commented on #45
@yegor256 thanks, I added the "bug" tag

[2015-03-12 10:35] davvd commented on #44
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:35] davvd commented on #43
@yegor256 right, I added the `bug` tag

[2015-03-12 10:35] davvd commented on #42
@yegor256 thanks, I added the "bug" tag

[2015-03-12 10:35] davvd commented on #41
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:35] davvd commented on #40
@yegor256 right, I added the `bug` tag

[2015-03-12 10:35] davvd commented on #39
@yegor256 OK, I labeled it as `bug`

[2015-03-12 10:35] davvd commented on #38
@yegor256 right, I added the `bug` tag

[2015-03-12 10:35] davvd commented on #37
@yegor256 got it, tag `bug` is here

[2015-03-12 10:35] davvd commented on #36
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:35] davvd commented on #28
@yegor256 got it, tag `bug` is here

[2015-03-12 10:35] davvd commented on #25
@yegor256 sure, thanks, I added bug tag to it

[2015-03-12 10:35] davvd commented on #12
@yegor256 thanks, I added the "bug" tag

[2015-03-12 10:35] davvd commented on #11
@yegor256 got it, tag `bug` is here

[2015-03-12 10:36] davvd commented on #19
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-b3a45108`

[2015-03-12 11:22] davvd commented on #52
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-71dd2671`

[2015-03-12 12:39] davvd commented on #51
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-294b24eb`

[2015-03-12 19:26] davvd commented on #50
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-5aab798d`

[2015-03-12 20:53] davvd commented on #49
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-d480d40f`

[2015-03-12 22:46] yegor256 opened #53 "FkAuthenticated and FkAnonymous"

[2015-03-12 23:11] #53 closed

[2015-03-12 23:11] yegor256 commented on #53
@rultor release, tag is `0.8.6`

[2015-03-12 23:12] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2502-78681687)

[2015-03-12 23:26] rultor commented on #53
Release `0.8.6` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-12 23:26] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2502-78681687) (took me 13min)

[2015-03-12 23:37] yegor256 opened #54 "PsFake"
Let's create `PsFake` for tests

[2015-03-13 00:01] #54 closed

[2015-03-13 00:47] yegor256 commented on #54
@rultor release, tag is `0.8.7`

[2015-03-13 00:48] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2503-78720844)

[2015-03-13 00:59] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2503-78720844) (took me 11min)

[2015-03-13 09:55] davvd commented on #48
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-a8e68bd6`

[2015-03-13 11:06] davvd commented on #47
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-c0865f31`

[2015-03-13 12:28] davvd commented on #46
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-873ef5af`

[2015-03-13 13:10] davvd commented on #45
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-15e57ecd`

[2015-03-13 17:33] davvd commented on #44
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-6986eb80

[2015-03-13 20:25] davvd commented on #43
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-6e853aaa

[2015-03-14 00:09] yegor256 commented on #12
@davvd assign this to me

[2015-03-14 00:09] yegor256 commented on #25
@davvd assign this to me

[2015-03-14 01:27] yegor256 commented on #25
@rultor release, tag is `0.9`

[2015-03-14 01:28] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2524-79649492)

[2015-03-14 01:48] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2524-79649492) (took me 20min)

[2015-03-14 01:50] #25 closed

[2015-03-14 09:02] davvd commented on #25
@yegor256 this task is yours now, please proceed

[2015-03-14 09:02] davvd commented on #25
@yegor256 keep in mind that assigning yourself to your own ticket is a bad practice

[2015-03-14 09:02] davvd commented on #12
@yegor256 of course, the task is yours, go ahead

[2015-03-14 09:02] davvd commented on #12
@yegor256 in the future, try to avoid assigning yourself to your own tasks

[2015-03-14 09:04] davvd commented on #42
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-24fe2df1`

[2015-03-14 09:31] davvd commented on #41
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-ad0f549f`

[2015-03-14 10:10] davvd commented on #40
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-02320972`

[2015-03-14 11:10] davvd commented on #39
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-34106f0d`

[2015-03-14 18:17] davvd commented on #38
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-7acea403`

[2015-03-14 19:27] davvd commented on #37
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-5aef22f8`

[2015-03-14 20:55] davvd commented on #36
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-16ba3603`

[2015-03-15 16:48] davvd commented on #25
@yegor256 done, I added **30 mins** in payment `000-6789b0dd`; +30 to your rating, your total score is [+8216](http://www.netbout.com/b/35008?open=rating)

[2015-03-15 16:48] davvd commented on #50
@mgovorischev it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will

[2015-03-15 16:48] davvd commented on #51
@dmzaytsev it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-03-15 16:48] davvd commented on #52
@d-molotchko This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-15 16:49] davvd commented on #28
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-bac20427`

[2015-03-15 18:13] mgovorischev commented on #50
Given there will be static analysis applied to the changeset before merging it, can I get the codestyle( e.g. checkstyle profile ), requirements for the code to comply with so I could test the compliance before submitting a pull request?

[2015-03-15 19:00] yegor256 commented on #50
@mgovorischev just run `mvn clean install -Pqulice` and you will get all static analysis complains

[2015-03-15 19:19] davvd commented on #47
@mgovorischev can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-03-15 19:19] davvd commented on #48
@dmzaytsev the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-03-15 19:19] davvd commented on #49
@d-molotchko this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-15 19:20] davvd commented on #12
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-67068c64`

[2015-03-16 05:43] yegor256 commented on #28
we need at lease these classes:

[code]

[2015-03-16 06:01] dmzaytsev commented on #51
My pull request pending about 10 hours with message "Waiting for AppVeyor build to complete". Is it  OK?

[2015-03-16 06:32] yegor256 commented on #51
@dmzaytsev yeah, it's fine, it's a bug in AppVeyor, don't pay attention to it

[2015-03-16 09:16] davvd commented on #11
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-88c6467f`

[2015-03-16 16:23] d-molotchko commented on #49
Where I can see coding style documentation?

[2015-03-16 18:55] yegor256 opened #58 "Content-Length is not added by RsWithBody"
`Content-Length` is an important header and should be added to the response by `RsWithBody`

[2015-03-16 18:55] yegor256 commented on #49
@d-molotchko it's all here: www.qulice.com

[2015-03-16 18:58] davvd commented on #58
@yegor256 sure, thanks, I added bug tag to it

[2015-03-16 19:29] d-molotchko commented on #49
@yegor256 thanks for link, I was expecting to see a human description of indentation, position of blocks, sorting the imports. But it looks like everything is pretty transparently after writing the first unit test.

[2015-03-16 22:12] yegor256 opened #60 "NPE in PsByFlag"
[code]

[2015-03-16 22:28] yegor256 commented on #60
@rultor release, tag is `0.9.1`

[2015-03-16 22:28] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2599-81966729)

[2015-03-16 22:34] #60 closed

[2015-03-16 22:48] rultor commented on #60
Release `0.9.1` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-16 22:48] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2599-81966729) (took me 19min)

[2015-03-16 23:33] yegor256 opened #61 "RqMultipart throws IndexOutOfBoundsException"
[code]

[2015-03-17 00:27] yegor256 commented on #61
@rultor release, tag is `0.9.2`

[2015-03-17 00:28] rultor commented on #61
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2603-82004754)

[2015-03-17 00:43] rultor commented on #61
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2603-82004754) (took me 14min)

[2015-03-17 00:43] #61 closed

[2015-03-17 00:56] yegor256 opened #62 "RqMultipart fails to find the right name"

[2015-03-17 01:09] yegor256 commented on #62
@rultor release, tag is `0.9.3`

[2015-03-17 01:09] #62 closed

[2015-03-17 01:09] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2605-82015710)

[2015-03-17 01:25] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2605-82015710) (took me 15min)

[2015-03-17 08:27] dmzaytsev opened #63 "project build fails behind http proxy"
During project build behind http proxy got error " Failed to execute goal com.qulice:qulice-maven-plugin:0.12:check (jcabi-check) on project takes: Failure: java.lang.IllegalArgumentException: 23 error(s)"

Steps for reproduce the issue:

**use http-proxy internet access**
[code]

console output:

[code]

[2015-03-17 09:23] davvd commented on #58
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-bd96cb88`

[2015-03-17 12:03] dmzaytsev commented on #63
Seems its qulice issue, some checks unable to access some xsd schemas. It not use maven or system proxy setting. I found workaround for the issue: set enviroment variable JAVA_TOOL_OPTIONS to -Dhttp.proxyHost=host -Dhttp.proxyPort=port

[2015-03-17 12:04] #63 closed

[2015-03-17 14:35] d-molotchko commented on #49
@davvd I create PR #64 for this issue

[2015-03-17 14:36] d-molotchko commented on #52
@davvd I added PR #65 for this issue

[2015-03-18 01:51] pinaf commented on #48
@dmzaytsev make sure you inform the project manager here, in the issue, of the PR.

[2015-03-18 19:31] yegor256 opened #66 "show all headers in case of error"
[code]

We should show them all.

[2015-03-18 20:29] yegor256 commented on #66
@rultor release, tag is `0.9.4`

[2015-03-18 20:29] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2663-83158318)

[2015-03-18 20:39] yegor256 commented on #66
@rultor stop

[2015-03-18 20:39] rultor commented on #66
@yegor256 OK, I'll try to stop current task.

[2015-03-18 20:41] rultor commented on #66
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2663-83161824) (spent 11min)

[2015-03-18 20:53] yegor256 commented on #66
@rultor release, tag is `0.9.4`

[2015-03-18 20:54] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2663-83170704)

[2015-03-18 21:56] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2663-83170704) (took me 1hr)

[2015-03-18 21:58] #66 closed

[2015-03-19 04:45] dmzaytsev commented on #51
@yegor256 pull request has been merged. Could you close the task please ? Or let me know why the delivery not accepted ?

[2015-03-19 19:54] yegor256 commented on #51
@dmzaytsev yes, many thanks!

[2015-03-19 19:54] #51 closed

[2015-03-19 20:21] longtimeago opened #67 "TsFallback works for the first request only"
Here is the simplest app:
[code]
Here is the test:
[code]

Test fails on the second script execution.
So, ```TsFallback``` works only for very first call after application start

[2015-03-19 20:30] yegor256 commented on #67
@longtimeago that's absolutely impossible! :) but I'll check it out now

[2015-03-19 20:31] longtimeago commented on #67
@yegor256 never say never :)

[2015-03-19 20:39] yegor256 commented on #67
@longtimeago you're right, I reproduced the problem: c7d23b4

[2015-03-19 20:41] longtimeago commented on #67
ггг :)

[2015-03-20 10:23] dmzaytsev commented on #48
@pinaf thanks

@davvd i am writing to inform you that the PR has been merged
@yegor256 could you confirm please that issue has been resolved?

[2015-03-20 17:15] yegor256 commented on #48
@dmzaytsev thanks!

[2015-03-20 17:15] #48 closed

[2015-03-20 18:01] davvd commented on #44
@maxbugaenko the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-20 18:01] davvd commented on #45
@andrewbol please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-03-20 18:01] davvd commented on #46
@popprem this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-20 18:01] davvd commented on #58
@nathansgreen it's yours, please go ahead

[2015-03-20 18:01] davvd commented on #67
@yegor256 the task is yours (budget is 30 mins)

[2015-03-20 18:02] davvd commented on #67
@longtimeago thanks for this report, I added 15 mins to your account, in transaction `53800430`

[2015-03-20 19:16] yegor256 commented on #45
@davvd assign someone else pls

[2015-03-20 19:27] yegor256 commented on #67
@rultor release, tag is `0.9.5`

[2015-03-20 19:27] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2726-84108331)

[2015-03-20 19:48] rultor commented on #67
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2726-84108331) (took me 20min)

[2015-03-20 19:50] yegor256 commented on #67
@longtimeago I believe it's fixed, check version 0.9.5

[2015-03-20 20:06] davvd commented on #43
@nathansgreen it's yours, please go ahead

[2015-03-20 20:12] longtimeago commented on #67
@yegor256 thanks for the fast feedback!

[2015-03-20 20:12] #67 closed

[2015-03-21 00:08] yegor256 commented on #44
@davvd assign someone else pls

[2015-03-21 10:45] d-molotchko commented on #52
@davvd PR #65 is closed, can you close this issue?

[2015-03-22 04:23] yegor256 commented on #52
@d-molotchko it's my issue, I'm the closer :)

[2015-03-22 04:23] yegor256 commented on #52
thanks!

[2015-03-22 04:23] #52 closed

[2015-03-22 09:57] mgovorischev commented on #50
After pulling latest changes from upstream it turned out that TkHTMLTest had been already added by @yegor256, so this ticket should probably be reassigned to him and I need a new one

[2015-03-22 15:38] yegor256 commented on #50
@davvd assign this to me pls

[2015-03-22 17:08] davvd commented on #50
@yegor256 OK, the task is yours, go ahead

[2015-03-22 17:08] davvd commented on #45
@yegor256 all right, we'll find someone else for this task

[2015-03-22 17:08] davvd commented on #44
@yegor256 got it, someone else will be assigned soon

[2015-03-22 17:17] davvd commented on #42
@nathansgreen it's yours,please go ahead

[2015-03-22 17:17] davvd commented on #48
@dmzaytsev **30 mins** was added to your account, many thanks for your contribution!

+30 added to your rating, current score is: [+60](http://www.netbout.com/b/35166?open=rating)

[2015-03-22 17:17] davvd commented on #51
@dmzaytsev thanks, I just added **30 mins** to your account, payment `53832751`

+30 to your rating, your total score is [+30](http://www.netbout.com/b/35166?open=rating)

[2015-03-22 17:28] d-molotchko commented on #49
@yegor256 PR #64 was merged successfull. Could you close this issue?

[2015-03-22 17:39] yegor256 commented on #49
@d-molotchko thanks!

[2015-03-22 17:39] #49 closed

[2015-03-22 18:32] mgovorischev commented on #47
What is the format of the string that contains log level and message and is then sent to the cookie? What is the delimiter?

[2015-03-22 18:54] yegor256 commented on #47
@mgovorischev it's up to you to decide. now we're using a simple string without any formatting, as you see. but we should package the message and the log level somehow. maybe

[code]

in this case we won't need Base64

[2015-03-22 19:14] davvd commented on #44
@nathansgreen it's yours, please go ahead

[2015-03-22 19:14] davvd commented on #45
@dmzaytsev can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-03-23 18:22] davvd commented on #52
@d-molotchko **30 mins** added to your account (payment number `54083321`), many thanks for your contribution!. +30 added to your rating, at the moment it is: [+30](http://www.netbout.com/b/35168?open=rating)

[2015-03-23 18:22] davvd commented on #67
@yegor256 **30 mins** added to your account (payment number `000-edccc5b3`), many thanks for your contribution!... +30 added to your rating, current score is: [+8623](http://www.netbout.com/b/35008?open=rating)

[2015-03-23 20:10] davvd commented on #49
@d-molotchko **30 mins** sent to your balance (ID `54086641`), many thanks!... +30 added to your rating, current score is: [+60](http://www.netbout.com/b/35168?open=rating)

[2015-03-24 03:00] yegor256 opened #68 "cookie attributes are not implemented in RsWithCookie"
`RsWithCookie` doesn't allow to use cookie attributes, it's a bug

[2015-03-24 05:22] yegor256 commented on #68
@rultor release, tag is `0.9.6`

[2015-03-24 05:23] rultor commented on #68
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2807-85345455)

[2015-03-24 05:42] rultor commented on #68
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2807-85345455) (took me 18min)

[2015-03-24 05:45] #68 closed

[2015-03-24 17:14] davvd commented on #41
@d-molotchko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend).

[2015-03-24 17:55] d-molotchko opened #70 "Typo in javadoc of PsFacebook.token()"
While copy-and-paste code from PsGithub there is typo in javadoc of token() function. 'Github' must be replaced by 'Facebook'.

[2015-03-24 20:11] yegor256 commented on #70
@d-molotchko fixed in b9fc7b2 thanks (it's a minor bug, see http://www.teamed.io/policy.html#13)

[2015-03-24 20:11] #70 closed

[2015-03-25 00:08] yegor256 opened #71 "RqPrint should reject requests without Content-Length"

[2015-03-25 00:27] yegor256 commented on #71
@rultor release, tag is `0.9.7`

[2015-03-25 00:27] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2827-85755110)

[2015-03-25 00:48] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2827-85755110) (took me 20min)

[2015-03-25 00:53] #71 closed

[2015-03-25 01:44] yegor256 opened #72 "RqGreedy"
We need to create new request decorator `RqGreedy` to consume the entire body and keep it in memory.

[2015-03-25 01:55] yegor256 commented on #72
@rultor release, tag is `0.9.8`

[2015-03-25 01:55] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2828-85783534)

[2015-03-25 02:05] yegor256 opened #73 "TsGreedy"
Let's create `TsGreedy` to wrap `RqGreedy`

[2015-03-25 02:08] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2828-85783534) (took me 13min)

[2015-03-25 02:09] #72 closed

[2015-03-25 02:09] yegor256 commented on #73
@rultor release, tag is `0.9.9`

[2015-03-25 02:11] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2829-85785167)

[2015-03-25 02:31] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2829-85785167) (took me 20min)

[2015-03-25 02:37] #73 closed

[2015-03-25 03:40] dmzaytsev commented on #45
@yegor256 the PR has been merged
close the issue please

[2015-03-25 03:51] yegor256 commented on #45
@dmzaytsev thanks!

[2015-03-25 03:51] #45 closed

[2015-03-25 04:39] yegor256 opened #74 "Href.path() must add slash prefix by default"
This code doesn't work:

[code]

In reality it's equal to `"http://example.com/ab"`

[2015-03-25 16:56] davvd commented on #74
I am aware of the task, give me some time to find a developer...

[2015-03-25 17:07] davvd commented on #40
@ikhvostenkov it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-03-25 17:07] davvd commented on #74
@dmzaytsev it's yours, please help. The budget is **30 mins**

[2015-03-25 17:07] davvd commented on #74
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-e524ecc3`

[2015-03-25 18:53] dmzaytsev opened #76 "broken tests PsCookieTest, TsAuthTest, RsFlashTest"
build project fails when system's default locale is ru_RU.

"java.lang.IllegalArgumentException: header line of HTTP response "Set-Cookie: foo=urn%3Atest%3A99;Path=/;Expires=Пт, 27 мар 2015 00:34:57 GMT" doesn't match "[a-zA-Z\-]+:\p{Print}+" regular expression, but it should, according to RFC 7230"

Caused by using  locale specific's date format in PsCookie.exit

[2015-03-25 18:55] yegor256 commented on #76
@davvd this is definitely a bug

[2015-03-25 20:10] davvd commented on #76
@yegor256 got it, tag `bug` is here

[2015-03-26 06:45] dmzaytsev opened #77 "Seems argument check missing in Href.path"
Href.path uses Href.encode(suffix)
A result of this new Href("http://example.com").path("e/f")
return "http://example.com/e%2Ff"

Is method path allows single path to add?
If so, it should throws InvalidArgumentException in case multiple path. Is not it?

[2015-03-26 07:02] yegor256 commented on #77
@dmzaytsev why `/` should be treated differently than other symbols? say, I have this:

[code]

I'm expecting this: `http://example.com/dob/27%2F11%2F1987`

[2015-03-26 07:25] dmzaytsev commented on #77
String dob = "/27/11/1987";
    Href href = new Href("http://example.com").path("dob").path(dob);

Should return `http://example.com/dob/%2F27%2F11%2F1987`
or `http://example.com/dob/27%2F11%2F1987` ?

[2015-03-26 08:10] yegor256 commented on #77
`http://example.com/dob/%2F27%2F11%2F1987`

[2015-03-26 08:23] dmzaytsev commented on #77
@yegor256 ok, thanks

[2015-03-26 08:23] #77 closed

[2015-03-26 10:15] davvd commented on #39
@eg04lt3r This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See

[2015-03-26 10:15] davvd commented on #76
@d-molotchko it's your task now, the budget is **30 mins**, go ahead

[2015-03-26 10:16] davvd commented on #76
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 54211899

[2015-03-26 11:48] davvd commented on #47
@dmzaytsev it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will ac

[2015-03-26 11:57] ikhvostenkov commented on #40
@davvd I've done with the test. I have 3 questions:
1. Do you have any coding rules convention doc? I was trying to follow coding rules in other tests, but could be not perfect.
2. JUnit is absent in pom.xml. Tests will not run without this dependency. I do not understand how it works for instance on building machine. I've just added dependency locally in my IDE to run it.
 3. Shall I open pull re

[2015-03-26 12:03] ikhvostenkov commented on #40
One more point: actually test was already created and covered ~60%, I've modified it to reach 100% coverage.

[2015-03-26 13:17] davvd commented on #38
@dmzaytsev this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-03-26 14:32] davvd commented on #37
@dmzaytsev the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-26 16:34] dmzaytsev commented on #38
@yegor256 @davvd
unit test for PsCookie already exists
https://github.com/yegor256/takes/blob/master/src/test/java/org/takes/facets/auth/PsCookieTest.java

[2015-03-26 16:55] yegor256 commented on #38
@dmzaytsev right, no need to do this

[2015-03-26 16:55] #38 closed

[2015-03-26 17:15] dmzaytsev opened #79 "What is the reason for using Charset.defaultCharset ?"
What is the reason for using Charset.defaultCharset instead platform-independed UTF-8 ?
https://github.com/yegor256/takes/search?utf8=%E2%9C%93&q=Charset.defaultCharset%28%29

[2015-03-26 17:45] yegor256 commented on #79
@davvd it's a valid bug

[2015-03-26 17:52] yegor256 commented on #40
@ikhvostenkov just run `mvn clean install -Pqulice` on command line and you will see our coding conventions (we use qulice.com for that). JUnit is coming from parent pom, see http://www.yegor256.com/2015/02/05/jcabi-parent-maven-pom.html

Yes, just submit a pull request when you're ready, see http://www.yegor256.com/2014/04/15/github-guidelines.html

[2015-03-26 18:24] davvd commented on #45
@dmzaytsev I just added **30 mins** to your account, many thanks for your contribution.. 54223443 spent here

+30 added to your rating, current score is: [+105](http://www.netbout.com/b/35166?open=rating)

[2015-03-26 18:35] popprem commented on #46
davvd / Yegor,

Sorry for the delay. I'm in the process of shifting to a new house with family. I will start working on this project from Monday (30th of March 2015).

Thanks.

[2015-03-26 19:59] d-molotchko commented on #41
@yegor256, I don't understand how to test this class. Should I create one more ctor in PsFacebook with com.jcabi.http.Request parameter and rewrite 'token' function? Where should I  get parameter values for client_id, client_secret, redirect_uri and code? And if I have these values why do I need new ctor?

[2015-03-26 20:13] yegor256 commented on #41
@d-molotchko yes, I think we should create another ctor which will accept an instance of `Request`. you can use any fake values for all these parameters, I guess

[2015-03-26 20:46] davvd commented on #79
@yegor256 sure, thanks, I added bug tag to it

[2015-03-26 20:53] davvd commented on #36
@dmzaytsev please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-03-27 03:12] yegor256 opened #82 "TsFork not-found exception should be more verbose"
`TsFork` should say which request was there

[2015-03-27 03:35] yegor256 commented on #82
@rultor release, tag is `0.9.10`

[2015-03-27 03:35] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2881-86807194)

[2015-03-27 03:54] rultor commented on #82
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2881-86807194) (took me 19min)

[2015-03-27 03:56] #82 closed

[2015-03-27 05:32] dmzaytsev commented on #47
@yegor256 @davvd
I need more time to perform additional requirements.
https://github.com/yegor256/takes/pull/78#issuecomment-86815066
May be better to create another task for this ?
What do you think ?

[2015-03-27 05:47] yegor256 commented on #74
@rultor release, tag is `0.9.11`

[2015-03-27 05:47] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2885-86834750)

[2015-03-27 06:01] rultor commented on #74
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2885-86834750) (took me 13min)

[2015-03-27 06:04] yegor256 commented on #74
@dmzaytsev thanks!

[2015-03-27 06:04] #74 closed

[2015-03-27 06:47] yegor256 commented on #47
@dmzaytsev you can try to use PDD (http://www.yegor256.com/2009/03/04/pdd.html). But we can't let these changes into the master, since they will break the entire "flash" functionality. It will basically stop working.

[2015-03-27 12:40] d-molotchko commented on #41
@yegor256 Ok, I made two new ctor and seted fake values to parameters. And got exception on user data fetching from Facebook. How to test this without facebook token?

[2015-03-27 16:13] yegor256 commented on #41
@d-molotchko I believe you have to mock the connection to Facebook. I would suggest to use fake HTTP server from jcabi-http, see http://www.yegor256.com/2014/04/18/jcabi-http-server-mocking.html

[2015-03-27 16:27] dmzaytsev commented on #47
@yegor256 @davvd
as I understand it, PDD is not suitable in this case.
Can we make a new task (TsFlash modification + unit test) and assign it to me?
I will complete both tasks(#47 and the new task)  in the same pull request.

[2015-03-27 16:36] yegor256 commented on #47
@dmzaytsev we never mix tasks, we work with them individually, always. In this case, I would add a decrypting functionality to TsFlash and that's it. If you really want to avoid that, you should step back, remove the functionality you implemented, create a test that reproduces the connectivity between TsFlash and RsFlash, and add a `@todo` puzzle requesting the implementation of the desired functi

[2015-03-27 17:21] davvd commented on #28
@dmzaytsev it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-27 17:21] davvd commented on #79
@yegor256 the task is yours (budget is 30 mins)

[2015-03-27 17:22] davvd commented on #79
@dmzaytsev thank you for reporting this, I added 15 mins to your acc, transaction `54248657`

[2015-03-27 18:13] yegor256 commented on #79
@dmzaytsev check these two commits: f7f548c and 36ad4ad Did I answer the question?

[2015-03-27 18:25] d-molotchko commented on #41
@yegor256 thanks!

[2015-03-27 19:04] dmzaytsev opened #85 "flash managing mechanism has incompleted java doc"
Flash managing mechanism has incompleted java doc.
Сlasses RsFlash, TsFlash, XeFlash needs more explanation.

[2015-03-27 19:16] yegor256 commented on #85
@davvd this is definitely a bug, let's dispatch it

[2015-03-27 19:44] dmzaytsev commented on #79
@yegor256 Yes, thank you!

[2015-03-27 19:44] #79 closed

[2015-03-27 20:28] davvd commented on #85
@yegor256 thanks, I added the "bug" tag

[2015-03-28 05:10] yegor256 opened #87 "TsGzip, TkGzip, RsGzip"
Gzip is not implemented, let's fix that

[2015-03-28 06:09] yegor256 commented on #87
@rultor release, tag is `0.10`

[2015-03-28 06:09] rultor commented on #87
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2914-87170848)

[2015-03-28 06:16] dmzaytsev commented on #37
@yegor256 the PR has been merged
could you close the issue please

[2015-03-28 06:29] rultor commented on #87
Release `0.10` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-28 06:29] rultor commented on #87
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2914-87170848) (took me 18min)

[2015-03-28 06:30] dmzaytsev commented on #28
@yegor256 could I use @com.jcabi.aspects.Loggable ?
It will be looks like this

    public final class TsLogged implements Takes {
       private final transient Takes origin;
       public TsLogged(final Takes takes) {
           this.origin = takes;
       }

       @Override
       @Loggable
       public Take route(final Request request) throws IOException {
           return this.origin.route

[2015-03-28 07:02] #87 closed

[2015-03-28 07:06] yegor256 commented on #28
@dmzaytsev no, we can't add any third-party libraries here... we should work directly with SLF4J API

[2015-03-28 07:06] yegor256 commented on #37
@dmzaytsev thanks!

[2015-03-28 07:06] #37 closed

[2015-03-28 09:20] davvd commented on #11
@popprem can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-28 09:20] davvd commented on #19
@ikhvostenkov could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-03-28 09:20] davvd commented on #85
@yegor256 the task is yours (budget is 30 mins)

[2015-03-28 09:21] davvd commented on #85
@dmzaytsev thanks for reporting! I topped your account for 15 mins, transaction 54263086

[2015-03-28 15:54] dmzaytsev commented on #28
@yegor256
TsLogged for Takes
BkLogged for Back ?
FtLogged for Front ?
TkLogged for Take
PsLogged for Pass

right ?

[2015-03-28 16:26] dmzaytsev opened #88 "toString() implementation for logging"
We need to implement toString() for all classes which will be loggable via org.takes.facets.slf4j(#28).  Moreover for classes which used as parameters.
Maybe could be use @lombok.ToString?

[2015-03-28 16:48] yegor256 commented on #28
@dmzaytsev exactly

[2015-03-28 16:49] yegor256 commented on #88
@dmzaytsev please reformat the ticket so that it starts sound like a bug, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken

[2015-03-28 17:57] davvd commented on #74
@dmzaytsev I don't see any messages from you above, not sure if there was actual contribution (correct me if I'm wrong)

[2015-03-28 18:11] dmzaytsev commented on #74
@davvd Do not quite understand what you mean.
The task #74 has been assigned to me.
I resolved it, made the pull request(#75), which has been reviewed and merged.
then  @yegor256 closed the task.

[2015-03-28 18:18] yegor256 commented on #85
@dmzaytsev take a look at the changes I've made in a9db501 good enough?

[2015-03-28 18:21] yegor256 commented on #74
@dmzaytsev every time you finish a task, don't forget to post a message into it, explaining where you made a fix (in which PR).

[2015-03-28 18:21] yegor256 commented on #74
@davvd please add extra 30 mins to @dmzaytsev

[2015-03-28 18:27] dmzaytsev commented on #74
@yegor256 thanks for explain

[2015-03-28 19:37] davvd commented on #74
@yegor256 I've sent 30 mins extra to @dmzaytsev in transaction ID "54270186"

[2015-03-28 21:10] davvd commented on #79
@yegor256 Many thanks! **30 mins** were added to your account in Transaction ID `000-e30a67c0` (task took 3 hours and 11 mins); added +30 to your rating, now it is equal to [+9015](http://www.netbout.com/b/35008?open=rating)

[2015-03-29 10:57] dmzaytsev commented on #85
@yegor256  thanks!

[2015-03-29 10:57] #85 closed

[2015-03-29 11:03] dmzaytsev commented on #37
@davvd  I've created the PR #84 which has been merged

[2015-03-29 11:08] dmzaytsev commented on #36
@davvd I created the PR #86 for this issue

[2015-03-29 11:34] ikhvostenkov commented on #19
@davvd I started with this task.

[2015-03-29 11:53] dmzaytsev commented on #88
I expect that this code

    Take take  = new TkText("test");
    System.out.println(String.format("%s act() return %s", take, take()));

prints something like this
`TkText(body=test) act () return RsText(body=test)`
But it prints
`[org.takes.tk.TkText@61f8bf5a] #act() return [org.takes.rs.RsText@7b49d002]`

I guess the lack toString() is the reason.

This applies to all classes which will be logg

[2015-03-29 15:03] dmzaytsev opened #90 "log4j appender implemented as JUnit rule"
log4j appender implemented as JUnit rule

I use mocked log4j appender in the unit test and check log output like this

    Mockito.verify(appender)
       .doAppend(
           Matchers.argThat(
              new ArgumentMatcher<LoggingEvent>() {
                  @Override
                  public boolean matches(final Object argument) {
                      return ((LoggingEvent) argument)

[2015-03-29 15:20] eg04lt3r commented on #39
Please, check second commit and review code. Thanks.

[2015-03-29 17:32] yegor256 commented on #88
@dmzaytsev this description of the problem is better than you original ticket description. But still, you should say what you _need_, not what we should do in order to satisfy your needs. You should say what is _broken_. In this particular ticket, I would say something like: "I expect each class to be able to convert itself to a loggable string, but they don't have this feature". It's up to "us",

[2015-03-29 17:35] yegor256 commented on #90
@dmzaytsev again, the description of the ticket sounds like a **task**, but it should be a **bug**. You should say what is broken and it's up to "us" how to solve it. You should say that you miss something in the project, or something doesn't work as you expect, etc.

[2015-03-29 19:27] davvd commented on #37
@dmzaytsev Thanks a lot, I just topped your account for **30 mins**, transaction ID `54285554`, total time was 42 hours and 39 mins; +30 added to your rating, current score is: [+195](http://www.netbout.com/b/35166?open=rating)

[2015-03-29 20:09] yegor256 opened #91 "ping appveyor on deploy"

[2015-03-29 20:09] yegor256 commented on #91
@rultor deploy

[2015-03-29 20:10] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87467515)

[2015-03-29 20:11] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87467515) (spent 1min)

[2015-03-29 20:12] yegor256 commented on #91
@rultor deploy

[2015-03-29 20:14] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87467668)

[2015-03-29 20:15] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87467668) (spent 1min)

[2015-03-29 20:39] yegor256 commented on #91
@rultor deploy

[2015-03-29 20:40] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87472770)

[2015-03-29 20:41] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87472770) (spent 1min)

[2015-03-29 20:42] yegor256 commented on #91
@rultor deploy

[2015-03-29 20:45] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87473541) (spent 1min)

[2015-03-29 20:46] yegor256 commented on #91
@rultor deploy

[2015-03-29 20:48] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87473763)

[2015-03-29 20:51] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87473763) (spent 3min)

[2015-03-29 20:53] yegor256 commented on #91
@rultor deploy

[2015-03-29 20:54] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87474475)

[2015-03-29 20:56] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87474475) (spent 2min)

[2015-03-29 21:05] yegor256 commented on #91
@rultor deploy

[2015-03-29 21:06] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87476479)

[2015-03-29 21:10] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87476479) (spent 3min)

[2015-03-29 21:12] yegor256 commented on #91
@rultor deploy

[2015-03-29 21:13] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87480274)

[2015-03-29 21:21] yegor256 commented on #91
@rultor stop

[2015-03-29 21:22] rultor commented on #91
@yegor256 OK, I'll try to stop current task.

[2015-03-29 21:24] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2938-87483062) (spent 11min)

[2015-03-29 21:25] yegor256 commented on #91
@rultor deploy

[2015-03-29 21:26] rultor commented on #91
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2938-87483537)

[2015-03-29 21:35] ikhvostenkov commented on #19
@yegor256 I thought on the Base64 codec realization. And I have some questions here: sense of base64 encoding is to get ASCII symbols array from byte array, but Codec interface encoding is to get byte array from Identity object. Actually this is possible call getBytes() and get what we are searching for, but this is not docking with Base64 idea and also getBytes() use special enconing to get bytes

[2015-03-29 21:42] rultor commented on #91
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2938-87483537) (took me 15min)

[2015-03-29 21:43] #91 closed

[2015-03-29 21:46] yegor256 commented on #19
@ikhvostenkov it should work like this:

[code]

[2015-03-29 21:48] yegor256 opened #92 "appveyor merge to test"

[2015-03-30 07:23] eg04lt3r commented on #39
How should i run maven build? Cause when i check "qulice" profile, it's successfuly build.

[2015-03-30 07:46] yegor256 commented on #39
@eg04lt3r just run `mvn clean install -Pqulice` on command line

[2015-03-30 08:05] eg04lt3r commented on #39
Thanks.

2015-03-30 10:46 GMT+03:00 Yegor Bugayenko <notifications@github.com>:

[2015-03-30 10:12] eg04lt3r commented on #39
Also i have question about code analyse with qulice. It's failure build,
cause First sentence in a comment should start with a capital letter
(RegexpMultilineCheck), but i have just start of javadoc block /**. Also
second error for this line is "First sentence should end with a period.
(JavadocStyleCheck)". How should I prevent these issues and resolve in my
case? Thanks.

2015-03-30 11:05 GMT+03:

[2015-03-30 10:25] eg04lt3r commented on #39
Fixed. Please, try build with last commit.

[2015-03-30 16:11] ikhvostenkov commented on #19
@yegor256 2 questions here with the corner cases:
1. Shall I validate Base64 sequence in my class, if yes, what to do if it is not valid?
2. What is the correct behavior for the codecs,  if it gets empty array of bytes? E.g.: if we pass empty array of bytes we will get ```Identity``` object initialized with the empty string and with the empty map. Shall we validate that or ```Identity``` object wi

[2015-03-30 16:47] yegor256 commented on #19
@ikhvostenkov if the input is not valid and you can't decode it, do what `CcHex` is doing in this case

[2015-03-30 18:08] ikhvostenkov commented on #19
@yegor256 Problem is that Base64 always decode, but in some corner cases the result could be empty bytes array. This is not exceptional situation, but this leads to passing empty bytes array to ```CcPlain``` and as a result we will get ```Identity``` object with empty URN and empty Properties, that's why I've asked second question is that valid or not to have such ```Identity```, for now this is n

[2015-03-30 18:08] yegor256 opened #94 "BkTimeable"
Let's create a new decorator of `Back`, which will allow any particular call to `accept()` last for less than X milliseconds. Something like this:

[code]

I think we should start "watching" threads for each call to `accept()` and terminate them when time is running out.

Also, let's add a new argument to `FtCLI`: `--max-latency` to configure this behavior from command line

[2015-03-30 18:12] yegor256 commented on #39
@eg04lt3r see http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-03-30 18:15] yegor256 commented on #19
@ikhvostenkov if it's not verified now, it's valid. But you can submit a new ticket, suggesting to make this an invalid situation and we'll fix that.

[2015-03-30 18:28] eg04lt3r commented on #39
Understand what you are talking about, i just establish workflow in new
project.

2015-03-30 21:12 GMT+03:00 Yegor Bugayenko <notifications@github.com>:

[2015-03-30 19:37] ikhvostenkov commented on #19
@davvd CcBase64 class and CcBase64Test have been created. Ready for review. Sorry I mess with commits and pull requests and add commits for 2 tasks in each pull request.

[2015-03-30 19:53] yegor256 opened #96 "RsGzip incorrectly compresses binary data"

[2015-03-30 20:01] yegor256 commented on #96
@rultor release, tag is `0.10.1`

[2015-03-30 20:06] ikhvostenkov opened #97 "Identity with empty fields shall not be valid"
We mark as invalid ```Identity``` in ```Codec``` only ```Identity``` which we are not able to decode. But this could be such situation when we can decode, but get ```Identity``` object with empty URN and empty Properties (e.g. using Base64 decoding) and we handle it like valid ```Identity```. Lets make it as invalid as well.

[2015-03-30 20:09] yegor256 commented on #97
@ikhvostenkov can you give an example of a code that works now but should fail in your opinion?

[2015-03-30 20:18] davvd commented on #92
we will find someone to do this task, soon

[2015-03-30 20:18] ikhvostenkov commented on #97
@yegor256

[code]

[2015-03-30 20:19] davvd commented on #94
@yegor256 OK, I labeled it as `bug`

[2015-03-30 20:22] ikhvostenkov commented on #97
@yegor256 If to go deep in realization, actually following code just return ```Identity``` with empty fields:

[code]

[2015-03-30 20:26] davvd commented on #85
@yegor256 I just added **1 hour** to your account, many thanks for your contribution.. 000-149044a5 spent here. age=6 is a bonus here for fast delivery. +60 added to your rating, at the moment it is: [+8771](http://www.netbout.com/b/35008?open=rating)

[2015-03-30 20:26] davvd commented on #92
@yegor256 it's yours, please help, budget is 30 mins

[2015-03-30 20:26] davvd commented on #96
@yegor256 the task is yours (budget is 30 mins)

[2015-03-30 20:27] davvd commented on #96
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-f45336be`

[2015-03-30 20:38] #92 closed

[2015-03-30 20:41] yegor256 commented on #96
@rultor release, tag is `0.10.1`

[2015-03-30 20:45] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2965-87810742)

[2015-03-30 21:08] rultor commented on #96
Release `0.10.1` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-30 21:08] rultor commented on #96
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2965-87810742) (took me 20min)

[2015-03-30 21:08] #96 closed

[2015-03-30 21:10] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2965-87825555)

[2015-03-30 21:17] rultor commented on #96
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2965-87825555) (spent 6min)

[code]

[2015-03-31 00:06] yegor256 opened #99 "get rid of methods without interfaces"
Let's get rid of that `.with()` methods

[2015-03-31 01:00] yegor256 commented on #99
@rultor release, tag is `0.11`

[2015-03-31 01:05] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2971-87890733)

[2015-03-31 01:23] rultor commented on #99
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2971-87890733) (took me 17min)

[2015-03-31 01:23] #99 closed

[2015-03-31 01:32] yegor256 opened #100 "0.11.1"
Let's fix invalid release 0.11

[2015-03-31 01:32] yegor256 commented on #100
@rultor release, tag is `0.11.1`

[2015-03-31 01:42] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2972-87894609)

[2015-03-31 02:02] rultor commented on #100
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2972-87894609) (took me 19min)

[2015-03-31 02:04] #100 closed

[2015-03-31 07:27] eg04lt3r commented on #39
Can it be closed?

[2015-03-31 09:23] davvd commented on #97
we will find someone to do this task, soon

[2015-03-31 09:28] davvd commented on #94
@eg04lt3r This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-03-31 09:28] davvd commented on #97
@dmzaytsev the task is yours, please go ahead

[2015-03-31 09:29] davvd commented on #97
@ikhvostenkov thank you for the ticket reported, I topped your account for 15 mins, transaction `54559870`

[2015-03-31 09:38] dmzaytsev commented on #36
@davvd the PR #86 merged

[2015-03-31 10:24] davvd commented on #94
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-882bb1bd`

[2015-03-31 18:46] dmzaytsev commented on #88
I'll create another ticket

[2015-03-31 18:46] #88 closed

[2015-03-31 18:50] dmzaytsev opened #101 "String representation Response and Take"
I expect implementations of Response and Take interfaces will be able convert itself to a loggable string but  they don't have this feature

[2015-03-31 18:52] dmzaytsev opened #102 "TsLogged not implemented"
I expect TsLogged can log basic parameters of methods called, but it not implemented.

[2015-03-31 19:05] yegor256 commented on #102
There is no `TsLogged` class in the source code... this ticket looks like a duplicate of #28

[2015-03-31 19:05] #102 closed

[2015-03-31 19:05] yegor256 commented on #102
@dmzaytsev you should use PDD puzzles for what you're trying to achieve, not tickets

[2015-03-31 19:07] yegor256 commented on #36
@dmzaytsev I'm the reporter of this ticket, you should ask me to close it, not @davvd  :)

[2015-03-31 19:07] yegor256 commented on #36
@dmzaytsev thanks!

[2015-03-31 19:07] #36 closed

[2015-03-31 19:10] yegor256 commented on #101
Something like this you have in mind?

[code]

right?

[2015-03-31 19:12] yegor256 commented on #39
@eg04lt3r was it fixed? In which pull request? Also, it's a good practice to address your comments by placing the name of the person in front of them. Otherwise, it's not clear who are you talking to.

[2015-03-31 19:58] eg04lt3r commented on #39
@yegor256 #83 pull request

[2015-03-31 20:02] yegor256 commented on #39
@eg04lt3r thanks!

[2015-03-31 20:02] #39 closed

[2015-04-01 03:43] dmzaytsev commented on #36
@yegor256 somebody told me I should inform project manager every time I finished task

[2015-04-01 03:45] dmzaytsev commented on #101
@yegor256 Yes, something like this will be suitable

[2015-04-01 03:47] dmzaytsev commented on #90
This is no longer necessary

[2015-04-01 03:47] #90 closed

[2015-04-01 03:53] dmzaytsev commented on #102
@yegor256 I referenced this issue from the puzzle.
I should use `@todo` without ticket number in the puzzle in such cases, right ?

[2015-04-01 04:36] yegor256 commented on #102
@dmzaytsev nope, you can't make a puzzle without a ticket number. Let's discuss this in the task where you make that puzzles

[2015-04-01 04:40] dmzaytsev commented on #97
@ikhvostenkov there is no CcBase64 class in the master branch.

@yegor256 implementations Codecs interface can be use without CcSafe decorator, right ?
If so I think we'll have to throws DecodingException in case of an empty Identity in each class. What do you think ?

[2015-04-01 04:41] yegor256 commented on #36
@dmzaytsev yes, that's true, but you should close the task first, before you inform the project manager. The task is finished/closed only when the ticket is closed by the opener, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#2.-close-it!

[2015-04-01 05:08] yegor256 commented on #97
@dmzaytsev how about we create a new decorator `CcStrict`, which will apply strict rules to incoming and outgoing identities. If someone wants to be strict, he will use our decorator.

[2015-04-01 05:30] dmzaytsev commented on #97
@yegor256 How to make rules for this decorator ? via implementations of IdentityCheck Interface ? e.g.
[code]

[2015-04-01 05:34] dmzaytsev commented on #28
@yegor256 could you explain please how to make right ticket for puzzle ?
e.g. in this task I need to implement a few Loggers, I will make only one and create a puzzle for others. How to make right `@todo` and create a task (s) for other classes?

[2015-04-01 05:42] yegor256 commented on #28
@dmzaytsev you create what you think you can create in the available time frame and all the rest mark leave un-implemented and add puzzles there like this:

[code]

`#28:30min/DEV` is what is important. `#28` is the ticket you're working on right now. `30min` is how much time you think this implementation should take (it will become a budget of the new task). `DEV` is the role to be assigned to th

[2015-04-01 05:44] yegor256 commented on #97
@dmzaytsev I wouldn't make this design so complicated. Just a set of simple rules right inside `CcStrict`, something like:

[code]

[2015-04-01 09:22] dmzaytsev commented on #76
@d-molotchko thanks!

[2015-04-01 09:22] #76 closed

[2015-04-01 10:02] davvd commented on #92
@yegor256 I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-04-01 10:02] davvd commented on #96
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-01 10:03] davvd commented on #101
@yegor256 this task is yours, go ahead

[2015-04-01 10:08] davvd commented on #101
@dmzaytsev thank you for reporting this, I added 15 mins to your acc, transaction `54622993`

[2015-04-01 15:17] elenavolokhova commented on #96
@yegor256
According to our [quality rules](http://www.teamed.io/qa.html):

This was not a case in this ticket. Please, try to avoid such situation in future.

There is no description provided. Please, update it for future reference.

[2015-04-01 17:06] yegor256 commented on #96
@elenavolokhova description updated. You're right about the "same person" problem, I'll try to avoid that in the future

[2015-04-01 17:52] krzyk commented on #76
@yegor256 could you release new version of takes with this fix?

[2015-04-01 18:16] dmzaytsev commented on #97
@ikhvostenkov the PR #103 has been merged
take a look at the changes
if you  accept it close the task please

[2015-04-01 19:47] yegor256 commented on #76
@rultor release, tag is `0.11.2`

[2015-04-01 20:00] davvd commented on #36
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-02 03:09] elenavolokhova commented on #96
@yegor256 Thank you!

[2015-04-02 03:10] elenavolokhova commented on #96
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-02 04:06] elenavolokhova commented on #36
@davvd Ticket passed QA review. It looks good!

[2015-04-02 06:43] dmzaytsev commented on #47
@yegor256 the PR #78 merged
take a look at the changes
if you accept it close the task please

[2015-04-02 11:28] davvd commented on #76
@d-molotchko I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-04-02 11:28] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3048-88609451)

[2015-04-02 11:43] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3048-88609451) (took me 14min)

[2015-04-02 13:52] d-molotchko commented on #76
@davvd I completed this task

[2015-04-02 14:24] davvd commented on #96
@yegor256 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 54661728; Thanks so much! Your account was topped up for **1 hour** (transaction ID is `000-4379c4ea`, the task took 13 hours and 3 mins); age=5, that's why a bonus here for fast delivery; +60 added to your rating, current score is: [+8598](http://www.netbout.com/b/35008?open=rating)

[2015-04-02 17:40] yegor256 commented on #76
@d-molotchko in the future, always post a short message into the ticket, explaining where you fixed the problem (in what pull request) and what exactly was done

[2015-04-02 17:40] yegor256 commented on #76
@davvd please add extra 30 mins to @d-molotchko

[2015-04-02 17:53] d-molotchko commented on #76
@yegor256 ok

[2015-04-02 18:02] yegor256 commented on #47
@dmzaytsev thanks!

[2015-04-02 18:02] #47 closed

[2015-04-02 19:03] davvd commented on #76
@yegor256 I've paid 30 mins to @d-molotchko in transaction `54668412`

[2015-04-03 00:16] yegor256 commented on #12
@davvd assign someone else pls

[2015-04-03 00:16] yegor256 commented on #12
we can use this class as an example: https://github.com/yegor256/rexsl/blob/master/src/main/java/com/rexsl/page/auth/LinkedIn.java

[2015-04-03 00:18] yegor256 opened #105 "CcGzip"
Let's create new `Codec` decorator, which will compress data with GZIP and uncompress them back. I'm expecting to use it like this (for example):

[code]

[2015-04-03 00:25] yegor256 opened #106 "TkMethods"
Let's create two new decorators in `org.takes.facets.fork` package: `TsMethods` and `TkMethods`. They should be used like this:

[code]

They should allow only specified methods to get through. I would suggest to implement them internally by means of `TsFork` and `FkMethods`.

Let's not forget about proper Javadoc documentation and unit tests.

[2015-04-03 00:26] yegor256 opened #107 "TkConsumes, TsConsumes"
Let's create two new decorators in `org.takes.facets.fork` package: `TsConsumes` and `TkConsumes`. They should be used like this:

[code]

They should allow only request with certain `Content-Type` to get through. I would suggest to implement them internally by means of `TsFork` and `FkTypes`.

Let's not forget about proper Javadoc documentation and unit tests.

[2015-04-03 00:27] yegor256 opened #108 "TsProduces, TkProduces"
Let's create two new decorators in `org.takes.facets.fork` package: `TsProduces` and `TkProduces`. They should be used like this:

[code]

They should allow only request with certain `Accept` header to get through. I would suggest to implement them internally by means of `TsFork` and `FkTypes`.

Let's not forget about proper Javadoc documentation and unit tests.

[2015-04-03 00:35] yegor256 opened #109 "CharSequence instead of String"
Let's make sure all constructors in `org.takes.rs` package accept `CharSequence` instead of `String`, for higher flexibility

[2015-04-03 00:36] yegor256 opened #110 "CharSequence instead of String for request parsers"
Let's make sure all methods in classes in `org.takes.rq` package accept `CharSequence` instead of `String`, for higher flexibility

[2015-04-03 00:37] yegor256 opened #111 "VerboseIterable and VerboseIterator are not tested"
Let's create unit tests for `VerboseIterable` and `VerboseIterator`

[2015-04-03 00:38] yegor256 opened #112 "RqMultipart is not tested properly"
Let's add more unit test methods into `RqMultipartTest` with some edge cases, in order to make sure the class works properly in "all" possible situations.

[2015-04-03 00:43] yegor256 opened #113 "RsWithHeaders must reuse RsWithHeader"
Decorator `RsWithHeaders` must NOT implement header adding from scratch. Instead, it has to use `RsWithHeader`. Let's refactor it accordingly.

[2015-04-03 00:44] yegor256 opened #114 "RsWithHeader doesn't validate header correctness"
`RsWithHeader` must validate header validity, through some regular expression. At the moment, we let any header to go into the response, which is error-prone. We should validate it, using some regular expression, according to the proper RFC.

[2015-04-03 00:49] yegor256 opened #115 "RqMultipart may lead to out-of-memory"
Current implementation of `RqMultipart` can easily lead to out-of-memory situation, if big files will be uploaded by many users at the same time. The class is consuming an entire request into memory and then parses it. Let's try to fix that and use something else, maybe a temp file instead.

[2015-04-03 03:35] dmzaytsev commented on #28
@yegor256  #89 is fixing this issue, please close  if that's all here, thank you

[2015-04-03 04:38] elenavolokhova commented on #39
@davvd Ticked passed QA review. Quality is acceptable. A lot of small issues in following our process were addressed and clarified by @yegor256 here.

[2015-04-03 04:56] yegor256 commented on #28
@dmzaytsev many thanks!

[2015-04-03 04:56] #28 closed

[2015-04-03 09:13] davvd commented on #12
@yegor256 got it, someone else will be assigned soon

[2015-04-03 09:14] davvd commented on #115
@yegor256 thanks, I added the "bug" tag

[2015-04-03 09:14] davvd commented on #114
@yegor256 right, I added the `bug` tag

[2015-04-03 09:14] davvd commented on #113
@yegor256 sure, thanks, I added bug tag to it

[2015-04-03 09:14] davvd commented on #112
@yegor256 sure, thanks, I added bug tag to it

[2015-04-03 09:14] davvd commented on #111
@yegor256 OK, I labeled it as `bug`

[2015-04-03 09:14] davvd commented on #110
@yegor256 got it, tag `bug` is here

[2015-04-03 09:14] davvd commented on #109
@yegor256 thanks, I added the "bug" tag

[2015-04-03 09:14] davvd commented on #108
@yegor256 sure, thanks, I added bug tag to it

[2015-04-03 09:14] davvd commented on #107
@yegor256 thanks, I added the "bug" tag

[2015-04-03 09:14] davvd commented on #106
@yegor256 sure, thanks, I added bug tag to it

[2015-04-03 09:14] davvd commented on #105
@yegor256 sure, thanks, I added bug tag to it

[2015-04-03 16:27] yegor256 commented on #39
@davvd I confirm, the quality is acceptable here

[2015-04-03 17:09] davvd commented on #12
@dmzaytsev please go ahead with this task, it's yours

[2015-04-03 17:09] davvd commented on #111
@celezar it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-

[2015-04-03 17:09] davvd commented on #112
@ekondrashev this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-04-03 17:09] davvd commented on #113
@eg04lt3r could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-04-03 17:09] davvd commented on #114
@yamstranger this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spe

[2015-04-03 17:09] davvd commented on #115
@d-molotchko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-04-03 17:10] davvd commented on #115
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-803cee63`

[2015-04-03 17:29] YamStranger commented on #114
Do we have any documentation about this? Or some rules?

[2015-04-03 17:33] yegor256 commented on #114
@YamStranger all we have is in README.md file. If any questions, don't hesitate to ask, but remember: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-04-03 18:25] davvd commented on #39
@yegor256 thanks, got it

[2015-04-03 18:26] davvd commented on #101
the code made here contains a puzzle `101-0be068b8`, which will be resolved soon

[2015-04-03 18:26] davvd commented on #28
the code made here contains a puzzle `28-4e517112`, which will be resolved soon

[2015-04-03 18:44] davvd commented on #39
@eg04lt3r just added 10 mins to @elenavolokhova (for QA), payment ID is `54692010`; Much appreciated! **38 mins** was added to your account, payment ID `54692045`, time spent is 130 hours and 25 mins; there is a bonus for fast delivery (age=2900); added +38 to your rating, now it is equal to [+38](http://www.netbout.com/b/35234?open=rating)

[2015-04-03 18:44] davvd commented on #107
@celezar this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](ht

[2015-04-03 18:44] davvd commented on #108
@ekondrashev this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-04-03 18:44] davvd commented on #109
@d-molotchko this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-04-03 18:44] davvd commented on #110
@yamstranger could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-04-03 18:45] davvd commented on #114
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-2f91ca68`

[2015-04-03 18:54] YamStranger commented on #110
@davvd yes, thanks

[2015-04-03 20:46] davvd opened #119 "TsLogged.java:38-42: This class not implemented yet,..."
Puzzle `28-4e517112` in `src/main/java/org/takes/facets/slf4j/TsLogged.java:38-42` has to be resolved: This class not implemented yet, but has to be. Please implement it like TkLogged and don't forget about unit tests. In addition, need to be implement classes BkLogged, FtLogged, PsLogged which will make loggable interfaces Back, Front, Pass. They should all be implemented also like TkLogged.... T

[2015-04-03 20:49] davvd commented on #47
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-03 20:53] davvd commented on #119
@dmzaytsev the task is yours, please go ahead

[2015-04-03 20:54] davvd commented on #113
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-f35bf996`

[2015-04-03 22:22] ekondrashev opened #120 "RqFake equals does not work as expected"
When several RqFake objects inited with the same head and body they return false on equals call, please see the test

[code]

Result
[code]

[2015-04-04 04:19] elenavolokhova commented on #47
@davvd This ticket looks good! :)

[2015-04-04 05:13] ekondrashev commented on #112
@davvd could you please let me know how to proceed with this issue?
Is creation of pull request enough from my side?
https://github.com/yegor256/takes/pull/118

[2015-04-04 08:10] dmzaytsev opened #121 "String representation of the Request"
I expect implementations of the Request interface will be able convert itself to a loggable string but they don't have this feature

[2015-04-04 09:39] davvd commented on #120
I will find a developer for the task soon...

[2015-04-04 09:40] davvd commented on #47
@elenavolokhova thanks for the QA review

[2015-04-04 09:48] davvd commented on #28
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-04 09:52] davvd commented on #47
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `54704490`; I added **38 mins** to your account, many thanks for working with the project! The completion time here was 54704500.; the bonus for fast delivery (age=2888); +38 added to your rating, current score is: [+286](http://www.netbout.com/b/35166?open=rating)

[2015-04-04 09:52] davvd commented on #120
@dmzaytsev please proceed, it's yours

[2015-04-04 09:53] davvd commented on #112
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-be425d22

[2015-04-04 10:33] davvd commented on #111
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-63718d45

[2015-04-04 11:40] davvd commented on #110
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-5b878e8e`

[2015-04-04 11:54] eg04lt3r commented on #94
@yegor256 fixed in #123 pull request

[2015-04-04 12:41] dmzaytsev commented on #120
@davvd assign someone else please

[2015-04-04 12:41] davvd commented on #109
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-b43ea349

[2015-04-04 12:43] YamStranger commented on #109
I can do it with https://github.com/yegor256/takes/issues/110

[2015-04-04 13:45] YamStranger opened #124 "Build config and encoding test issue"
@yegor256 during build, if default java encoding is not specified build fails with message:

Failed tests:
  RsXSLTTest.convertsXmlToHtml:53 default charset during testing must be UTF-8
Expected: "UTF-8"
     but: was "windows-1251"

We can update config to be sure that tests run successfully and nothing is broken.

For this we need to add configuration of maven-surefire-plugin:
This will work cor

[2015-04-04 14:03] davvd commented on #120
@dmzaytsev I will ask somebody else to pick this up

[2015-04-04 14:10] davvd commented on #108
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-ce2017f5`

[2015-04-04 14:18] elenavolokhova commented on #28
@davvd This ticket looks good! :)

[2015-04-04 15:17] davvd commented on #120
@d-molotchko this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-04-04 15:18] davvd commented on #107
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-4b12a3f7`

[2015-04-04 15:40] krzyk opened #126 "Href should use undecoded query for URI creation"
Currently Href uses following code for extracting server+path from URL:
[code]
(see https://github.com/yegor256/takes/blob/b536a61c7631d6d1b8bda6d1675eb6b823311528/src/main/java/org/takes/misc/Href.java#L73)

The above code works when query part has only standard not encoded elements, but when the URL is like: `http://localhost:8080/doc/read?file=%5B%5D%28%29.txt` it breaks because `query` contain

[2015-04-04 16:22] yegor256 commented on #124
@YamStranger it's by design, check "Important" paragraph at the end of Quick Start section, in README.md

[2015-04-04 16:33] davvd commented on #124
@yegor256 only @YamStranger can close this issue, since he opened it

[2015-04-04 16:34] davvd commented on #126
we will find someone to do this task, soon

[2015-04-04 16:34] davvd commented on #28
@elenavolokhova thanks for the review

[2015-04-04 16:36] yegor256 commented on #124
@davvd it's invalid one

[2015-04-04 16:36] #124 closed

[2015-04-04 16:47] davvd commented on #28
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 54709336. I just added **38 mins** to your account, many thanks for your contribution.. 54709363 spent here. the bonus for fast delivery (age=3005). added +38 to your rating, now it is equal to [+324](http://www.netbout.com/b/35166?open=rating)

[2015-04-04 16:47] davvd commented on #126
@dmzaytsev it's yours, please go ahead

[2015-04-04 16:48] davvd commented on #106
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-46749037

[2015-04-04 17:38] eg04lt3r commented on #113
@yegor256 Should i refactor others classes which using this decorator?

[2015-04-04 18:10] davvd commented on #46
@popprem the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, current score is: [-30](http://www.netb

[2015-04-04 18:11] davvd commented on #105
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-3b9ea00c

[2015-04-04 18:30] YamStranger commented on #110
@yegor256 fix is ready. I created pull request

[2015-04-04 19:27] davvd commented on #58
@nathansgreen this task is in your hands for 15 days already; added -30 to your rating, now it is equal to [+75](http://www.netbout.com/b/35107?open=rating)

[2015-04-04 19:28] davvd commented on #120
@ekondrashev thanks a lot for reporting, **15 mins** added to your acc, pmt ID `54711363`

[2015-04-04 20:58] davvd commented on #43
@nathansgreen you're working with this issue for 15 days already

-30 added to your rating, current score is: [+45](http://www.netbout.com/b/35107?open=rating)

[2015-04-04 21:00] davvd commented on #126
@krzyk many thanks for the bug report, I added 15 mins to your acc, transaction `54712240`

[2015-04-04 22:59] yegor256 commented on #110
@YamStranger for convenience, please post the number of pull request here

[2015-04-04 23:09] yegor256 commented on #113
@eg04lt3r as far as I see, they won't be affected anyhow. you just change the internal implementation of `RqWithHeaders`. none of its clients will know about this refactoring

[2015-04-05 03:00] yegor256 opened #129 "PsCookie doesn't set HttpOnly"
At the moment `PsCookie` doesn't set `HttpOnly` flag to the authenticating cookie and it's a security threat. Let's fix.

[2015-04-05 06:13] popprem commented on #46
@davvd Sorry, got internet connection yesterday only.
Completed this task but unable to push the changes, getting permission denied error. Could you please advice on this?

[2015-04-05 08:18] YamStranger commented on #110
@yegor256 pull request #128

[2015-04-05 08:25] yegor256 commented on #46
@popprem you should use forks and pull requests, see http://www.yegor256.com/2014/04/15/github-guidelines.html

[2015-04-05 09:19] davvd commented on #129
this task will get someone's attention soon

[2015-04-05 09:21] yegor256 opened #130 "socket information is not present in request"
When `Request` gets into a take, it doesn't have any information about the socket it came from. We're missing a lot of useful information, which is present in Java servlets, for example, like IP address of the client, etc.

Let's add extra custom headers to each request, inside `BkBasic`. Something like `X-Takes-LocalAddress`, `X-Takes-LocalPort`, etc. As much information as we can get from a `Soc

[2015-04-05 09:37] davvd commented on #129
@dmzaytsev please go ahead with this task, it's yours

[2015-04-05 09:38] davvd commented on #129
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-d9b94023`

[2015-04-05 10:27] davvd commented on #130
@yegor256 got it, tag `bug` is here

[2015-04-05 11:16] davvd commented on #130
@d-molotchko please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-04-05 11:17] davvd commented on #130
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-a435c29b`

[2015-04-05 18:11] yegor256 opened #132 "CcXOR is not strong enough"
`CcXOR` codec is not strong enough. It's a very primitive encrypting technique. We should introduce something stronger, using some other algorithm, from JVM.

[2015-04-05 18:26] davvd commented on #132
@yegor256 sure, thanks, I added bug tag to it

[2015-04-05 18:31] yegor256 opened #133 "merge Takes and Take interfaces"
Looks like we don't need them both. Just `Take` will be enough.

[2015-04-05 18:56] dmzaytsev commented on #12
@yegor256  the PR #116 merged
take a look at the changes, if you accept it, close the task please, thank you

[2015-04-05 19:45] davvd commented on #133
@yegor256 it's yours,budget is 30 mins,please go ahead

[2015-04-05 19:46] davvd commented on #133
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-b8cd9ed3`

[2015-04-05 19:47] yegor256 commented on #12
thanks!

[2015-04-05 19:47] #12 closed

[2015-04-05 19:49] yegor256 commented on #133
done

[2015-04-05 19:49] #133 closed

[2015-04-05 20:22] yegor256 commented on #133
@rultor release, tag is `0.12`

[2015-04-05 20:23] rultor commented on #133
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3121-89846821)

[2015-04-05 20:23] rultor commented on #133
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3121-89846821) (spent 6s)

[code]

[2015-04-05 20:26] yegor256 commented on #133
@rultor release, tag is `0.12`

[2015-04-05 20:27] rultor commented on #133
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3121-89846969)

[2015-04-05 20:47] rultor commented on #133
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3121-89846969) (took me 20min)

[2015-04-06 00:17] yegor256 opened #135 "RqForm must be an interface"
`RqForm` must be an interface and its implementation must be in its nested class `RqForm.Base`. Let's refactor it accordingly. The interface should look like:

[code]

[2015-04-06 00:18] yegor256 opened #136 "RqHeaders must be an interface"
`RqHeaders` must be an interface and its implementation must be in its nested class `RqHeaders.Base`. Let's refactor it accordingly. The interface should look like:

[code]

[2015-04-06 00:19] yegor256 opened #137 "RqMethod must be an interface"
`RqMethod` must be an interface and its implementation must be in its nested class `RqMethod.Base`. Let's refactor it accordingly. The interface should look like:

[code]

[2015-04-06 00:19] yegor256 opened #138 "RqMultipart must be an interface"
`RqMultipart` must be an interface and its implementation must be in its nested class `RqMultipart.Base`. Let's refactor it accordingly. The interface should look like:

[code]

[2015-04-06 00:20] yegor256 opened #139 "RqHref must be an interface"
`RqHref` must be an interface and its implementation must be in its nested class `RqHref.Base`. Let's refactor it accordingly. The interface should look like:

[code]

[2015-04-06 00:20] yegor256 opened #140 "RqCookies must be an interface"
`RqCookies` must be an interface and its implementation must be in its nested class `RqCookies.Base`. Let's refactor it accordingly. The interface should look like:

[code]

[2015-04-06 02:16] popprem commented on #46
@yegor256 How do you execute local build? Earlier i did "mvn package", was successful... checked in the changes but Appveyor failed with checkstyle issues. Now i tried to execute build with com.qulice:qulice-maven-plugin:check goal, but getting loads of checkstyle issues in many classes.

[2015-04-06 03:39] yegor256 commented on #46
@popprem check README.md, there is an explanation

[2015-04-06 04:33] dmzaytsev commented on #129
@yegor256 #131 is fixing this issue, please close  if that's all here, thank you

[2015-04-06 04:55] yegor256 commented on #129
@dmzaytsev thanks!

[2015-04-06 04:55] #129 closed

[2015-04-06 05:32] YamStranger commented on #114
@yegor256 I take it, Thanks

[2015-04-06 05:32] YamStranger commented on #110
@yegor256 issue delivered

[2015-04-06 06:16] yegor256 commented on #110
@YamStranger thanks!

[2015-04-06 06:16] #110 closed

[2015-04-06 11:02] davvd commented on #140
@yegor256 thanks, I added the "bug" tag

[2015-04-06 11:02] davvd commented on #139
@yegor256 OK, I labeled it as `bug`

[2015-04-06 11:02] davvd commented on #138
@yegor256 OK, I labeled it as `bug`

[2015-04-06 11:02] davvd commented on #137
@yegor256 got it, tag `bug` is here

[2015-04-06 11:02] davvd commented on #136
@yegor256 sure, thanks, I added bug tag to it

[2015-04-06 11:02] davvd commented on #135
@yegor256 thanks, I added the "bug" tag

[2015-04-06 11:14] davvd commented on #132
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-e301751f

[2015-04-06 13:27] davvd commented on #140
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-ac9d227c

[2015-04-06 18:08] davvd commented on #139
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-209e260b`

[2015-04-06 19:55] d-molotchko opened #141 "RqMultipart is not supporting multiple file transfer"
There is no code to produce valid request collections on multiple file transfer.

[2015-04-06 19:59] yegor256 commented on #141
@d-molotchko I'm not sure I follow.. could you please explain more and provide some Java code sample that fails at the moment

[2015-04-06 20:09] davvd commented on #44
@nathansgreen you're working with this issue for 15 days already; -30 added to your rating, current score is: [+30](http://www.netbout.com/b/35107?open=rating)

[2015-04-06 20:10] davvd commented on #138
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-0a5504bb`

[2015-04-06 20:47] davvd commented on #12
there is a puzzle in this code `12-159d303e`, we'll resolve it later

[2015-04-06 21:00] davvd commented on #42
@nathansgreen this task is in your hands for 15 days already... -30 added to your rating, at the moment it is: [+0](http://www.netbout.com/b/35107?open=rating)

[2015-04-06 21:01] davvd commented on #137
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-3d72e2c0`

[2015-04-06 21:08] d-molotchko commented on #141
@yegor256 Quote from http://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.2 is

But I can't reproduce this behavior with chrome 40 and iceweasel 31.4

[2015-04-06 21:39] yegor256 commented on #141
@d-molotchko I still don't understand where is our bug. How can I reproduce it? Show me the Java code please.

[2015-04-06 22:40] YamStranger commented on #114
@yegor256 please look at pull request #143

[2015-04-07 01:45] yegor256 commented on #129
@rultor release, tag is `0.12.1`

[2015-04-07 01:45] rultor commented on #129
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3165-90308433)

[2015-04-07 02:05] rultor commented on #129
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3165-90308433) (took me 19min)

[2015-04-07 03:59] yegor256 opened #144 "incorrect prefix of links"

[2015-04-07 04:00] yegor256 commented on #144
@rultor release, tag is `0.12.2`

[2015-04-07 04:00] rultor commented on #144
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3170-90351542)

[2015-04-07 04:19] yegor256 opened #145 "RsFlash ctor must accept exception object"
We should be able to do something like this:

[code]

[2015-04-07 04:20] rultor commented on #144
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3170-90351542) (took me 19min)

[2015-04-07 04:27] #144 closed

[2015-04-07 04:51] yegor256 opened #146 "TkGzip ctor has a redundant argument"

[2015-04-07 04:55] yegor256 commented on #146
@rultor release, tag is `0.12.3`

[2015-04-07 04:55] rultor commented on #146
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3172-90357958)

[2015-04-07 05:13] rultor commented on #146
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3172-90357958) (took me 18min)

[2015-04-07 06:03] #146 closed

[2015-04-07 06:18] yegor256 opened #147 "XeAppend extra ctor"
Extra ctor is required for `XeAppend`, which would allow to pass an `Iterable` of sources.

[2015-04-07 06:33] longtimeago opened #148 "Build failed on windows with lots of EOL violations"
Looks like we need to add ```.gitattributes``` to force EOL of the repo.
See how it was done here https://github.com/jcabi/jcabi-aether/pull/59/files

[2015-04-07 06:40] yegor256 commented on #147
@rultor release, tag is `0.12.4`

[2015-04-07 06:41] rultor commented on #147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3175-90397942)

[2015-04-07 06:50] YamStranger commented on #148
Its great idea!!! (as here https://github.com/yegor256/takes/pull/128)

[2015-04-07 06:54] rultor commented on #147
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3175-90397942) (took me 13min)

[2015-04-07 09:31] davvd commented on #148
we will find someone to do this task, soon

[2015-04-07 09:32] davvd commented on #145
@yegor256 OK, I labeled it as `bug`

[2015-04-07 09:32] davvd opened #149 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:43] davvd commented on #147
@yegor256 the task is yours (budget is 30 mins)

[2015-04-07 09:44] davvd commented on #136
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-d5b9dcee`

[2015-04-07 09:50] YamStranger commented on #140
Can I take this task?

[2015-04-07 10:03] d-molotchko commented on #141
I can't generate request with nested sections in my browsers, maybe this behavior is out of date.
There is syntetic test for nested sections
[code]

[2015-04-07 10:39] dmzaytsev commented on #97
@ikhvostenkov close the task please

[2015-04-07 12:32] davvd opened #152 "0.9"
Please, publish a new release **0.9** (or higher)

[2015-04-07 12:39] davvd commented on #12
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-07 12:39] davvd commented on #110
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-07 12:39] davvd commented on #129
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-07 12:39] davvd commented on #133
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-07 12:49] davvd commented on #135
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-e3486a4b

[2015-04-07 14:38] ikhvostenkov commented on #97
@dmzaytsev issue resolved. Thank you.

[2015-04-07 14:38] #97 closed

[2015-04-07 14:44] ikhvostenkov opened #153 "CcStrict validation works incorrectly."
[code]
returns ```DecodingException```. According with [RFC2141](https://www.ietf.org/rfc/rfc2141.txt) ```urn:test-domain-org:valid:1``` is a valid URN.

[2015-04-07 18:11] yegor256 commented on #141
@d-molotchko looks like we need a new class `RqMultipartMixed` for parsing these requests and it would work like this:

[code]

make sense?

[2015-04-07 18:24] #147 closed

[2015-04-07 18:29] d-molotchko commented on #141
@yegor256 maybe like this?
[code]
There are no file names in compile time .

[2015-04-07 18:31] yegor256 commented on #141
@d-molotchko yes, right

[2015-04-07 18:33] yegor256 commented on #141
@d-molotchko I think that in order to reproduce this request in a browser we should use `multiple` attribute (see http://www.w3.org/TR/html-markup/input.file.html):

[code]

[2015-04-07 18:40] ekondrashev commented on #108
@yegor256 Could you please describe the reason for <prefix>Produces naming?
Is "Produces" should be considered as a verb or noun?

[2015-04-07 18:47] d-molotchko commented on #141
@yegor256 I try this
[code]
but fail

[2015-04-07 18:58] mgooty opened #154 "Corrections in documenation (README.md)"
Following are the issues in documentation:

In **A Bigger Example** section:
1. `ts` stands for "take" - typo error, it should be `tk` instead of `ts`
2. In `act()` method of `TkIndex` class, there is a typo error. The class name should be `RsHTML` instead of `RsHtml`
3. In the example showing the use of `TkFork`, `act()` method needs to have throws clause, `throws IOException`

[2015-04-07 19:03] yegor256 commented on #141
@d-molotchko what you mean by "fail"? what is the request you're getting from the browser?

[2015-04-07 19:04] yegor256 commented on #108
@ekondrashev I took it from JAX-RS: http://docs.oracle.com/javaee/6/api/javax/ws/rs/Produces.html

[2015-04-07 19:12] d-molotchko commented on #141
"fail" is "I didn't get multipart/mixed content from browser".
Chrome and Iceweasel returns multiple files without multipart/mixed section.

[2015-04-07 19:32] yegor256 commented on #141
@d-molotchko can you post an entire request here?

[2015-04-07 19:37] d-molotchko commented on #141
[code]

[2015-04-07 19:45] yegor256 commented on #141
@d-molotchko maybe this `multipart/mixed` packaging is outdated and shouldn't be supported by us? Why did you decide to report this issue? How did you get stuck on it?

[2015-04-07 20:05] davvd commented on #153
this task will get someone's attention soon

[2015-04-07 20:07] davvd opened #155 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `indie` tag to each of them.

[2015-04-07 20:24] davvd commented on #148
@yamstranger please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-04-07 20:24] davvd commented on #153
@dmzaytsev the task is yours, please go ahead

[2015-04-07 20:26] davvd commented on #148
@longtimeago thank you for the ticket reported, I topped your account for 15 mins, transaction `55000221`

[2015-04-07 20:34] YamStranger commented on #148
@davvd Thanks, I take it.

[2015-04-07 21:05] celezar commented on #107
@davvd @yegor256 Is this task affected by changes made in #133? Since we don't have Takes anymore.

[2015-04-07 21:11] yegor256 commented on #107
@celezar yes, indeed, we need to create only `TkConsumes`

[2015-04-07 21:15] d-molotchko commented on #141
@yegor256 maybe, I don't know. I decide to report this issue because refactor RqMultipart code and see request example on link above. HTML 4.01 is pretty actual version of standard. Any way, you decide what to do with it. Leave as is. New issue is created in few minutes.

[2015-04-07 21:37] YamStranger commented on #148
@davvd fix in pull request #156. Please look at it

[2015-04-07 21:54] yegor256 commented on #141
@d-molotchko let's keep this ticket open for some time and see whether anyone else will report a similar problem. For now I don't see a reason to implement all this, since Chrome is not using this `multipart/mixed` content type.

[2015-04-08 10:17] ekondrashev commented on #108
@yegor256 Could you please elaborate on the reason to put those classes at `org.takes.facets.fork` package considering they(`TsProduces`, `TkProduces`) implement `Takes` and `Take` accordingly, but not a `Fork`?

[2015-04-08 11:09] eg04lt3r commented on #113
@yegor256 please, clarify what should I do, cause this class allow setup headers as strings and using them in internal method head. According to your last comment i should not change constructor arguments.

[2015-04-08 12:25] ekondrashev commented on #108
@yegor256 After doing some investigation on existing codebase I found several blockers on this task to be implemented:
##### As for `TsProduces`
Currently `FkTypes` implements `Fork.AtResponse` interface, but `TsFork` expects `Fork.AtTake` instances, so it is not possible to make use of `FkType` in order to implement `TsProduces`.
If `TsFork` would accept instances of `FkTypes` i’d consider implem

[2015-04-08 12:31] elenavolokhova commented on #110
@davvd Ticket passed QA review. It looks good.

[2015-04-08 12:37] elenavolokhova commented on #12
@yegor256 @davvd Please don't forget to address your comments.

[2015-04-08 12:58] elenavolokhova commented on #133
@yegor256
According to our [quality rules](http://www.teamed.io/qa.html):

Try to avoid such issue next time.

[2015-04-08 12:58] elenavolokhova commented on #133
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-08 18:16] davvd commented on #110
@elenavolokhova thank you, good quality is always good :)

[2015-04-08 18:17] davvd commented on #133
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2015-04-08 18:18] davvd opened #158 "PsLinkedinTest.java:42-48: This class not implemented yet,..."
Puzzle `12-159d303e` in `src/test/java/org/takes/facets/auth/social/PsLinkedinTest.java:42-48` has to be resolved: This class not implemented yet, but has to be. Please implement it. Mocked OAuth server is one of the possible solutions. In this case, we could use some library like WireMock (see http://www.wiremock.org), which allows make stub for web service. We'll need to make some changes in PsL

[2015-04-08 18:34] #119 closed

[2015-04-08 18:34] davvd commented on #119
I'm closing the issue...

[2015-04-08 18:34] davvd commented on #119
@dmzaytsev I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-04-08 18:39] davvd commented on #41
@d-molotchko the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

added -30 to your rating, now it is equal to

[2015-04-08 18:39] davvd commented on #110
@yamstranger 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55062896... Much obliged! I have added **38 mins** to your account in payment "55062930", 64 hours and 21 mins spent... age=2945, that's why a bonus here for fast delivery... +38 added to your rating, at the moment it is: [+38](http://www.netbout.com/b/35267?open=rating)

[2015-04-08 18:39] davvd commented on #145
@dmzaytsev it's yours, please go ahead

[2015-04-08 18:41] davvd commented on #145
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-949e3d8c`

[2015-04-08 20:14] davvd opened #159 "TkLogged.java:72-77: I expect implementations of Response..."
Puzzle `101-e83253e2` in `src/main/java/org/takes/facets/slf4j/TkLogged.java:72-77` has to be resolved: I expect implementations of Response and Take interfaces will be able convert itself to a loggable string but they don't have this feature. See details here https://github.com/yegor256/take/issues/101 We will use toConsole() in this way this.target.log("...", this.origin.toConsole(), resp.toCons

[2015-04-08 20:26] davvd commented on #152
I am closing it, thanks all

[2015-04-08 20:26] #152 closed

[2015-04-08 20:26] davvd commented on #97
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-08 20:26] davvd commented on #147
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-08 20:31] davvd commented on #140
@dmzaytsev the task is yours,please go ahead

[2015-04-08 20:34] davvd commented on #153
@ikhvostenkov thanks for this report, I added 15 mins to your account, in transaction `55065728`

[2015-04-08 22:44] yegor256 commented on #108
@ekondrashev please update your local branch from `master`. We have made some major changes recently.

[2015-04-08 23:27] yegor256 commented on #113
@eg04lt3r we should change the implementation of `RsWithHeaders`, not its interface. All ctors should stay the same, but the way we implement this extension of Response object should be changed. At the moment, there is an obvious code duplication in `RsWithHeader` and `RsWithHeaders`, I'm sure you see it. We should get rid of that and make sure `RsWithHeaders` is calling `RsWithHeader` to actually

[2015-04-08 23:29] yegor256 opened #160 "let's get rid of List.add()"
We're using `add()` method in a few places, from `List` interface, mostly for concatenation of headers. Let's get rid of that and introduce a new class `org.takes.misc.Concat`, which implement `Iterable` and encapsulate two iterables inside:

[code]

[2015-04-09 01:15] MohandAndel commented on #140
Ohh I am sorry , I didn't know this task has been assigned , and I don't know how to remove my commit .

[2015-04-09 01:37] yegor256 opened #161 "TkFallback is not extendable"
At the moment `TkFallback` is not extendable, we can't dispatch exceptions by their types

[2015-04-09 02:34] yegor256 commented on #161
@rultor release, tag is `0.13`

[2015-04-09 02:35] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3240-91098945)

[2015-04-09 02:53] rultor commented on #161
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3240-91098945) (took me 17min)

[2015-04-09 02:56] #161 closed

[2015-04-09 03:38] dmzaytsev commented on #119
@davvd I referenced the PR #122 above...
@yegor256 [said](https://github.com/yegor256/takes/pull/122#issuecomment-89841751) that this ticket will be closed automatically so I don't asked to close the task here. I'll keep in mind in the future ask to close a task in any case.

[2015-04-09 03:57] dmzaytsev commented on #145
@yegor256 RsFlash has the ctor with Throwable in the master branch
[code]
do you mean some another ctor?

[2015-04-09 04:12] dmzaytsev commented on #126
@krzyk  #127 is fixing this issue, please close if that's all here, thank you

[2015-04-09 04:59] yegor256 commented on #145
@dmzaytsev hm... strange. thanks

[2015-04-09 04:59] #145 closed

[2015-04-09 06:03] krzyk commented on #126
@dmzaytsev thanks

[2015-04-09 06:03] #126 closed

[2015-04-09 07:01] krzyk commented on #126
@yegor256 could you release new version of takes with this bugfix?

[2015-04-09 07:18] d-molotchko commented on #109
@davvd please reassign this task to another dev. thanks.

[2015-04-09 07:18] d-molotchko commented on #120
@davvd please reassign this task to another dev. thanks.

[2015-04-09 07:18] d-molotchko commented on #130
@davvd please reassign this task to another dev. thanks.

[2015-04-09 07:21] d-molotchko commented on #115
@davvd please reassign this task to another dev. thanks.

[2015-04-09 07:22] d-molotchko commented on #41
@davvd ok reassign this task to another dev. thanks.

[2015-04-09 08:26] YamStranger commented on #109
I can do this task )

[2015-04-09 09:42] davvd commented on #160
@yegor256 thanks, I added the "bug" tag

[2015-04-09 09:42] davvd opened #163 "0.13"
Please, publish a new release **0.13** (or higher)

[2015-04-09 09:56] davvd commented on #133
@yegor256 I added 10 mins to @elenavolokhova (for QA review) in transaction 55080707; Many thanks! **1 hour** were added to your account in Transaction ID `000-d293f0cc` (task took 15 hours and 36 mins); the bonus for fast delivery (age=21); added +60 to your rating, now it is equal to [+9261](http://www.netbout.com/b/35008?open=rating)

[2015-04-09 09:56] davvd commented on #139
@dmzaytsev please go ahead with this task,it's yours

[2015-04-09 10:30] ekondrashev commented on #120
@yegor256
This is actually a generic problem having anonymous classes passed as origin to the wrap-like classes.

I wrote a little test for `TkWithTypeTest` which actually implemented with anonymous class underneath also:
[code]

The class itself:
[code]

[2015-04-09 12:37] davvd commented on #160
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-6b1af8f3`

[2015-04-09 18:22] davvd commented on #40
@ikhvostenkov the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, at the moment it

[2015-04-09 18:22] davvd commented on #46
@popprem you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, at the moment it is: [-90](http://www.netbout.com/b/35169?open=rating)

[2015-04-09 19:01] yegor256 commented on #120
@davvd assign me here pls

[2015-04-09 19:08] yegor256 opened #166 "RsMatchStatus"
Let's create a new class `RsMatchStatus`, for unit testing mostly:

[code]

`RsMatchStatus` should implement `Matcher` interface from Hamcrest. Let's place it into `org.takes.facets.hamcrest` package.

[2015-04-09 19:13] yegor256 commented on #109
@davvd please assign @YamStranger to this

[2015-04-09 19:15] yegor256 commented on #41
@davvd give this to somebody else pls

[2015-04-09 19:15] yegor256 commented on #115
@davvd give this to somebody else

[2015-04-09 19:15] yegor256 commented on #130
@davvd give this to somebody else

[2015-04-09 19:16] yegor256 commented on #126
@rultor release, tag is `0.13.1`

[2015-04-09 19:21] davvd commented on #58
@nathansgreen it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. added -60 to your rating, now it is equal to [-120](http://www.netbout.com/b/35107?open=rating)

[2015-04-09 19:23] dmzaytsev commented on #153
@ikhvostenkov #157 is fixing this issue, please close if that's all here, thank you

[2015-04-09 19:25] rultor commented on #126
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3267-91332004)

[2015-04-09 19:43] rultor commented on #126
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3267-91332004) (spent 17min)

[code]

[2015-04-09 19:50] yegor256 commented on #126
@rultor release, tag is `0.13.1`

[2015-04-09 20:06] dmzaytsev commented on #139
@yegor256 #165  is fixing this issue, please close if that's all here, thank you

[2015-04-09 20:07] yegor256 commented on #139
@dmzaytsev thanks!

[2015-04-09 20:07] #139 closed

[2015-04-09 20:07] rultor commented on #126
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3267-91339705)

[2015-04-09 20:23] rultor commented on #126
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3267-91339705) (took me 15min)

[2015-04-09 20:25] yegor256 commented on #126
@krzyk done, 0.13.1 is there

[2015-04-09 20:41] davvd commented on #166
@yegor256 I tagged this as "bug"

[2015-04-09 20:57] davvd commented on #43
@nathansgreen this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, current score is: [-180](http://www.netbout.com/b/35107?open=rating)

[2015-04-10 01:04] MohandAndel commented on #137
@davvd  I hope I have finally commit in the right way ! . I made a big mess with git until I had to reset everything and start over again . << this user is new to git world !

[2015-04-10 02:24] popprem commented on #46
@davvd But David, this fix has been waiting for #148 . Pls check the pull request #134.

[2015-04-10 02:26] popprem commented on #11
@davvd waiting till #148 is fixed to run the build in windows.

[2015-04-10 03:09] yegor256 commented on #46
@popprem  see http://www.teamed.io/policy.html#7

[2015-04-10 03:39] popprem commented on #46
@yegor256 Understood, thanks.

[2015-04-10 06:07] yegor256 opened #167 "Href no-arg ctor is missing"
Would be convenient to have a new no-arg ctor in `Href`

[2015-04-10 11:29] YamStranger commented on #46
@yegor256. @popprem you can not wait for me. You can do next: set global .gitattributes file(download it from my commits,  "git config --global core.attributesfile file_path") -it will apply to all repositories, where .gitattributes file not exists. Next time when you clone (may for checkout too, I am not sure) git will apply correct end line char (\n) to repository, and files on them and gulice w

[2015-04-10 11:29] YamStranger commented on #11
@yegor256. @davvd you can not wait for me. You can do next: set global .gitattributes file(download it from my commits,  "git config --global core.attributesfile file_path") -it will apply to all repositories, where .gitattributes file not exists. Next time when you clone (may for checkout too, I am not sure) git will apply correct end line char (\n) to repository, and files on them and gulice wil

[2015-04-10 12:11] davvd commented on #41
@yegor256 right, I'll try to find someone else for this task

[2015-04-10 12:17] davvd commented on #126
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-10 12:17] davvd commented on #145
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-10 12:18] elenavolokhova commented on #12
@dmzaytsev

there is a puzzle in this code 12-159d303e, we'll resolve it later

thanks!

we can use this class as an example: https://github.com/yegor256/rexsl/blob/master/src/main/java/com/rexsl/page/auth/LinkedIn.java

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyo

[2015-04-10 12:18] davvd commented on #58
@popprem this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-04-10 12:18] davvd commented on #167
@yegor256 this task is yours, go ahead

[2015-04-10 12:22] davvd commented on #167
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-6c518313`

[2015-04-10 12:29] elenavolokhova commented on #129
@dmzaytsev

this task will get someone's attention soon

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2015-04-10 13:57] dmzaytsev commented on #129
@elenavolokhova what I had to do in this case? asked him to change his  comment?

[2015-04-10 14:38] elenavolokhova commented on #97
@dmzaytsev

we will find someone to do this task, soon

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future. Ask them to fix issues before closing the ticket.

 Please confirm that everything is clear and you have no quest

[2015-04-10 14:48] elenavolokhova commented on #147
@yegor256
 According to our [quality rules](http://www.teamed.io/qa.html):

 This was not a case in this ticket. Please avoid fixing your own issues.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2015-04-10 19:20] yegor256 commented on #147
@elenavolokhova yeah, I got it, thanks

[2015-04-11 03:56] dmzaytsev commented on #129
@elenavolokhova I confirm

[2015-04-11 03:56] dmzaytsev commented on #97
@elenavolokhova I confirm

[2015-04-11 03:57] dmzaytsev commented on #12
@elenavolokhova I confirm

[2015-04-11 03:58] dmzaytsev commented on #119
@davvd According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 03:59] dmzaytsev commented on #126
@davvd According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 03:59] dmzaytsev commented on #153
@davvd According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 04:02] dmzaytsev commented on #140
@YamStranger @MohandAndel
According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 04:04] dmzaytsev commented on #129
@davvd According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 04:05] dmzaytsev commented on #97
@davvd  According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 04:06] dmzaytsev commented on #12
@davvd @yegor256 According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 04:20] dmzaytsev commented on #153
@ikhvostenkov please close the task if you have no comments

[2015-04-11 04:47] elenavolokhova commented on #12
@dmzaytsev Your confirmation is enough here. Let's prevent this in the future. Thank you!

[2015-04-11 04:47] elenavolokhova commented on #129
@dmzaytsev Your confirmation is enough here. Let's prevent this in the future. Thank you!

[2015-04-11 04:47] elenavolokhova commented on #97
@dmzaytsev Your confirmation is enough here. Let's prevent this in the future. Thank you!

[2015-04-11 04:48] elenavolokhova commented on #12
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-11 04:48] elenavolokhova commented on #129
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-11 04:48] elenavolokhova commented on #97
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-11 04:52] elenavolokhova commented on #147
@yegor256 Thank you!

[2015-04-11 04:52] elenavolokhova commented on #147
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-11 06:43] ikhvostenkov commented on #153
Works good. Closed than.

[2015-04-11 06:43] #153 closed

[2015-04-11 08:46] dmzaytsev commented on #153
@ikhvostenkov According to our [quality rules](http://www.teamed.io/qa.html):

please fix your messages, thank you

[2015-04-11 17:51] yegor256 commented on #167
@rultor deploy

[2015-04-11 17:51] rultor commented on #167
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3323-91892639)

[2015-04-11 18:06] rultor commented on #167
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3323-91892639) (took me 14min)

[2015-04-13 01:22] davvd commented on #119
@dmzaytsev fixed, see above

[2015-04-13 01:23] davvd commented on #126
@dmzaytsev fixed, see above

[2015-04-13 03:50] dmzaytsev commented on #140
@yegor256 #162  is fixing this issue, please close  if that's all here, thank you

[2015-04-13 03:56] yegor256 commented on #140
@dmzaytsev thanks!

[2015-04-13 03:56] #140 closed

[2015-04-13 08:37] celezar commented on #107
Please assign this task to someone else.

[2015-04-13 08:42] yegor256 commented on #107
@davvd give this to somebody else pls

[2015-04-13 09:28] elenavolokhova commented on #126
@davvd @dmzaytsev Thank you all! Quality is good here.

[2015-04-13 09:51] popprem commented on #46
@YamStranger Thanks, applied the same.
@davvd @yegor256 Pull request #169 created for this issue. Please review.

[2015-04-14 04:38] elenavolokhova commented on #145
@davvd There was no solution provided it this ticket, so it shouldn't be paid. Quality of such one is bad.

[2015-04-14 05:16] yegor256 commented on #167
@rultor release, tag is `0.13.2`

[2015-04-14 05:17] rultor commented on #167
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3323-92603357)

[2015-04-14 05:37] rultor commented on #167
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3323-92603357) (took me 19min)

[2015-04-14 05:49] #167 closed

[2015-04-14 07:20] ikhvostenkov commented on #40
@yegor256 Could you please close it if you do not have any comments, due to pull request has been successfully merged?

[2015-04-14 23:47] yegor256 commented on #40
@ikhvostenkov many thanks!

[2015-04-14 23:47] #40 closed

[2015-04-15 00:04] yegor256 opened #170 "CcHex doesn't add dashes"
`CcHex` doesn't add dashes, for readability

[2015-04-15 00:20] yegor256 commented on #170
@rultor release, tag is `0.13.3`

[2015-04-15 00:21] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3380-93120574)

[2015-04-15 00:38] rultor commented on #170
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3380-93120574) (took me 17min)

[2015-04-15 00:39] #170 closed

[2015-04-15 01:50] yegor256 opened #171 "PsGoogle: Required parameter is missing: response_type"
[code]

When using `PsGoogle`

[2015-04-15 01:54] yegor256 commented on #171
@rultor release, tag is `0.13.4`

[2015-04-15 01:55] rultor commented on #171
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3381-93145281)

[2015-04-15 02:15] rultor commented on #171
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3381-93145281) (took me 19min)

[2015-04-15 03:05] #171 closed

[2015-04-15 03:15] yegor256 opened #172 "PsGoogle invalid redirect URI"
redirect URI is invalid for `PsGoogle`

[2015-04-15 03:55] yegor256 commented on #172
@rultor release, tag is `0.13.5`

[2015-04-15 03:56] rultor commented on #172
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3382-93179476)

[2015-04-15 04:09] rultor commented on #172
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3382-93179476) (spent 13min)

[code]

[2015-04-15 04:09] yegor256 commented on #172
@rultor release, tag is `0.13.5`

[2015-04-15 04:11] rultor commented on #172
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3382-93182056)

[2015-04-15 04:24] rultor commented on #172
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3382-93182056) (took me 13min)

[2015-04-15 04:37] #172 closed

[2015-04-15 05:07] yegor256 opened #173 "mandatory trailing slash in Href"
`Href` must add a slash to the URL

[2015-04-15 05:07] yegor256 commented on #173
@rultor release, tag is `0.13.6`

[2015-04-15 05:08] rultor commented on #173
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3383-93190829)

[2015-04-15 05:25] rultor commented on #173
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3383-93190829) (took me 17min)

[2015-04-15 05:29] #173 closed

[2015-04-15 07:12] yegor256 commented on #163
@rultor deploy

[2015-04-15 07:12] rultor commented on #163
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3386-93230804)

[2015-04-15 07:24] rultor commented on #163
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3386-93230804) (spent 12min)

[code]

[2015-04-15 07:41] yegor256 commented on #163
@rultor deploy

[2015-04-15 07:42] rultor commented on #163
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3386-93243878)

[2015-04-15 07:48] rultor commented on #163
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3386-93243878) (spent 6min)

[code]

[2015-04-15 07:53] yegor256 commented on #163
@rultor deploy

[2015-04-15 07:54] rultor commented on #163
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3386-93248608)

[2015-04-15 08:07] rultor commented on #163
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3386-93248608) (took me 13min)

[2015-04-15 10:10] davvd commented on #12
@elenavolokhova thanks for the QA review, we'll work better next time

[2015-04-15 10:10] davvd commented on #97
@elenavolokhova thank you, let's try to make it "good" next time

[2015-04-15 10:10] davvd commented on #115
@yegor256 all right, we'll find someone else for this task

[2015-04-15 10:11] davvd commented on #107
@yegor256 someone else will help in this task, no problem at all

[2015-04-15 10:11] davvd commented on #126
@elenavolokhova thanks a lot :)

[2015-04-15 10:11] YamStranger commented on #148
@davvd As I see pull request #156 merged long time ago, but this issue is still open. Is some problem with it?

[2015-04-15 10:11] davvd commented on #129
@elenavolokhova thank you, let's try to make it "good" next time

[2015-04-15 10:12] davvd opened #174 "TkLogged.java:74-79: I expect implementations of Response..."
Puzzle `101-0be068b8` in `src/main/java/org/takes/facets/slf4j/TkLogged.java:74-79` has to be resolved: I expect implementations of Response and Take interfaces will be able convert itself to a loggable string but they don't have this feature. See details here https://github.com/yegor256/takes/issues/101 We will use toConsole() in this way this.target.log("...", this.origin.toConsole(), resp.toCon

[2015-04-15 10:13] YamStranger commented on #114
@yegor256 As I see pull request #143  merged long time ago, but this issue is still open. Is some problem with it?

[2015-04-15 10:16] longtimeago commented on #148
@YamStranger sorry for that. It's the responsibility of issue reporter to close it and I missed that event. Don't hesitate to ping the issue reporter in such case :)

[2015-04-15 10:16] #148 closed

[2015-04-15 10:22] davvd commented on #139
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-15 10:25] davvd commented on #12
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55479416

**38 mins** added to your account (payment number `55479447`), many thanks for your contribution! 65 hours and 53 mins spent here.

the bonus for fast delivery (age=2970)

+38 added to your rating, current score is: [+392](http://www.netbout.com/b/35166?open=rating)

[2015-04-15 10:25] davvd commented on #41
@cyberone this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-04-15 10:25] davvd commented on #43
@lauresh please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-04-15 10:25] davvd commented on #46
@dmzaytsev please go ahead with this task, it's yours

[2015-04-15 10:25] davvd commented on #138
@ndbroadbent this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-04-15 10:25] davvd commented on #160
@super132 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-04-15 10:25] davvd commented on #166
@erimerturk could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-04-15 10:31] davvd commented on #166
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-88cdbdf6`

[2015-04-15 10:53] super132 commented on #160
@yegor256 , may I know could you please point me an example that illustrating this bug? Do you mean to replace the List interface use in the whole code base or just replace the use of List interface specifically for concatenating headers only?

Thanks.

[2015-04-15 11:09] super132 commented on #160
After digging into the codes more, my understanding is to replace the use of ```List``` as a tool to concatenate headers string by ```Concat``` class. If my understand is correct then I will start work on this.

Thanks.

[2015-04-15 12:45] erimerturk commented on #166
@yegor256 I couldn't find TkIndex class. Is just a test sample ? If not how can how can i find TkIndex class ? And Matcher interface is deprecated i am planning to use org.hamcrest.TypeSafeMatcher .

[2015-04-15 12:52] davvd commented on #109
@yegor256 yep, done. @yamstranger it is your task now

[2015-04-15 12:52] davvd commented on #147
@elenavolokhova thanks for the review, we'll try better next time

[2015-04-15 13:04] davvd commented on #19
@ikhvostenkov you're working with this ticket for the last 18 days. If it is not closed within the next 40 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, current score is: [-30

[2015-04-15 13:04] davvd commented on #44
@nathansgreen this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 added to your rating, current score is: [-210](http://www.netbout.com/b/35107?open=rating)

[2015-04-15 13:04] davvd commented on #97
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55483182; I added **38 mins** to your account, many thanks for working with the project! The completion time here was 55483208.; there is a bonus for fast delivery (age=3002); added +38 to your rating, now it is equal to [+430](http://www.netbout.com/b/35166?open=rating)

[2015-04-15 13:04] davvd commented on #132
@super132 could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-04-15 13:04] davvd commented on #135
@cyberone please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-04-15 13:04] davvd commented on #136
@lauresh this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-04-15 13:04] davvd commented on #137
@dmzaytsev please go ahead with this task, it's yours

[2015-04-15 13:53] dmzaytsev commented on #153
@davvd please fix your message, thank you

[2015-04-15 14:18] davvd commented on #120
@yegor256 of course, the task is yours, go ahead

[2015-04-15 14:36] davvd commented on #11
@popprem you're holding this ticket for 18 days already. If it is not finished (and closed) in the next 40 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). -30 to your rating, your total score is [-120](

[2015-04-15 14:36] davvd commented on #42
@nathansgreen the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html). added -60 to your rating, now it is equal to [-270](http://www.netbout.com/b/35107?open=rating)

[2015-04-15 14:42] ndbroadbent commented on #138
@davvd - Here is the pull request: #178

[2015-04-15 15:21] davvd commented on #130
@yegor256 no problem, I will try to find somebody else

[2015-04-15 15:42] davvd commented on #44
@dmzaytsev please proceed,it's yours

[2015-04-15 15:42] davvd commented on #94
@eg04lt3r the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score is: [+8](http://www.ne

[2015-04-15 15:42] davvd commented on #126
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `55487761`. **38 mins** was added to your account, many thanks for your contribution! The task took 55487810.. age=2964, that's why a bonus here for fast delivery. added +38 to your rating, now it is equal to [+468](http://www.netbout.com/b/35166?open=rating)

[2015-04-15 16:52] cyberone commented on #135
@davvd please review https://github.com/yegor256/takes/pull/179

[2015-04-15 16:53] popprem commented on #11
@davvd already fixed and pull request #175 created for the same. Waiting for the review.

[2015-04-15 17:01] davvd commented on #42
@cyberone can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-04-15 17:55] dmzaytsev commented on #44
@davvd  the pull request here #180

[2015-04-15 18:15] davvd commented on #153
@dmzaytsev fixed

[2015-04-15 18:35] ikhvostenkov commented on #19
@davvd task is done.

@yegor256 Could you please close this if pull request satisfy you.

[2015-04-15 19:29] davvd commented on #129
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 55493706; **1 hour** sent to your balance (ID `55493730`), many thanks! It took 25 hours and 25 mins.; the bonus for fast delivery (age=0); +60 to your rating, your total score is [+528](http://www.netbout.com/b/35166?open=rating)

[2015-04-15 19:29] yegor256 commented on #19
@ikhvostenkov thanks!

[2015-04-15 19:29] #19 closed

[2015-04-15 19:49] YamStranger commented on #109
@davvd  please look at pull request #181 and assign reviewer

[2015-04-15 19:50] yegor256 commented on #166
@erimerturk yeah, `TkIndex` is just an example. You can do this instead:

[code]

[2015-04-15 19:50] yegor256 commented on #166
@erimerturk I agree, we should use `TypeSafeMatcher`

[2015-04-15 19:54] yegor256 commented on #160
@super132 this ticket is about concatenating headers only. You're right, we should use `Concat` class instead of manual concatenation of headers with `List.add()`. For example, this code in `RsWithHeaders`:

[code]

Should be replaced with:

[code]

[2015-04-15 20:19] dmzaytsev commented on #137
@yegor256 #177 is fixing this issue, please close  if that's all here, thank you

[2015-04-15 20:50] yegor256 commented on #145
@davvd quality is bad I confirm

[2015-04-15 20:57] yegor256 commented on #137
@dmzaytsev thanks!

[2015-04-15 20:57] #137 closed

[2015-04-15 21:06] ikhvostenkov commented on #158
@davvd I can take this issue if no one does not mind

[2015-04-15 21:26] yegor256 commented on #158
@davvd pls assign @ikhvostenkov

[2015-04-16 02:08] yegor256 opened #182 "PsGoogle redirect URI is not fixed"
`PsGoogle` should have a fixed redirect URI

[2015-04-16 02:09] yegor256 commented on #182
@rultor deploy

[2015-04-16 02:10] rultor commented on #182
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3404-93618180)

[2015-04-16 02:19] rultor commented on #182
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3404-93618180) (took me 9min)

[2015-04-16 02:28] yegor256 commented on #182
@rultor deploy

[2015-04-16 02:28] rultor commented on #182
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3404-93620494)

[2015-04-16 02:44] rultor commented on #182
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3404-93620494) (took me 15min)

[2015-04-16 02:44] yegor256 commented on #182
@rultor release, tag is `0.13.7`

[2015-04-16 02:46] rultor commented on #182
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3404-93622477)

[2015-04-16 03:03] yegor256 opened #184 "CcStrict should not touch urn() or anonymous identity"
`CcStrict` should not touch `urn()` or anonymous identity, because it leads to runtime exception:

[code]

[2015-04-16 03:08] rultor commented on #182
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3404-93622477) (took me 21min)

[2015-04-16 03:08] #182 closed

[2015-04-16 03:55] dmzaytsev commented on #153
@davvd could you please schedule QA review for the task?  thank you

[2015-04-16 03:57] dmzaytsev commented on #140
@davvd could you please schedule QA review for the task, thank you

[2015-04-16 05:20] super132 commented on #160
PR #183 has been created for this task. Please review.

[2015-04-16 05:25] super132 commented on #132
@yegor256 , may I know do you intend to change the implementation of ```ccXOR``` class or creating a new codec class for it? Thanks.

[2015-04-16 05:30] yegor256 commented on #132
@super132 I want a new class, of course. `CcXOR` is fine for primitive cases, but we need something else, more strong

[2015-04-16 06:31] elenavolokhova commented on #139
@davvd This one looks good.

[2015-04-16 06:38] dmzaytsev commented on #119
@davvd could you please schedule QA review for the task? thank you

[2015-04-16 09:07] super132 commented on #132
AES encryption implementation is submitted. Please check if it is fine. Thanks.

[2015-04-16 11:44] ikhvostenkov commented on #158
@yegor256 I do not think this is good idea here to use WireMock or similar staff due to this will be not unit test but already integration test. I've looked other classes ```PsGithub``` and ```PsGoogle``` and there is the same method ```fetch``` in it, I suggest to extract this code in separate class and after that we can mock this class and after that very simple create tests for social auth. The

[2015-04-16 18:57] yegor256 commented on #158
@ikhvostenkov well, the idea is good, but I doubt we can technically do this. all these `fetch()` methods are different in each `Ps*` class. I don't see how you can generalize them. But feel free to try, I like the idea.

[2015-04-17 00:55] dmzaytsev commented on #44
@yegor256 see the PR  above
Close the issue if alright

[2015-04-17 01:53] yegor256 commented on #44
@dmzaytsev thanks!

[2015-04-17 01:53] #44 closed

[2015-04-17 06:18] YamStranger commented on #109
@yegor256 please close issue

[2015-04-17 06:19] YamStranger commented on #114
@yegor256 please close this issue

[2015-04-17 06:28] dmzaytsev commented on #46
@yegor256 please see the PR #176
close the task if alright

[2015-04-17 07:20] yegor256 commented on #46
@dmzaytsev many thanks!

[2015-04-17 07:20] #46 closed

[2015-04-17 07:21] yegor256 commented on #114
@YamStranger thanks!

[2015-04-17 07:21] #114 closed

[2015-04-17 07:21] yegor256 commented on #109
@YamStranger thanks!

[2015-04-17 07:21] #109 closed

[2015-04-17 13:17] lauresh commented on #136
@yegor256 I have question about Javadoc.

How can I understand release number (@since xxx) for my changes? Previous release version is 0.13.7 How can i understood next number (0.13.8 or 0.14)?

Thank you!

[2015-04-17 16:21] cyberone commented on #135
@yegor256 the PR is merged, close the task please.

[2015-04-17 22:13] yegor256 commented on #135
@cyberone thanks!

[2015-04-17 22:13] #135 closed

[2015-04-17 22:14] yegor256 commented on #136
@lauresh just look here and pick the next major version: https://github.com/yegor256/takes/releases

[2015-04-17 22:42] yegor256 commented on #119
@davvd please add extra 30 mins to @dmzaytsev

[2015-04-17 23:26] yegor256 opened #187 "Iterator is a wrong concept for Fork.route()"
Let's replace it with something more appropriate, probably a custom interface `org.takes.misc.Opt`:

[code]

[2015-04-18 09:36] davvd commented on #138
@rultor don't close it, ask @yegor256 to do do it, since he created it, thanks!

[2015-04-18 09:38] davvd commented on #11
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-18 09:38] davvd commented on #41
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-04-18 09:38] davvd commented on #46
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-04-18 09:38] davvd commented on #101
@dmzaytsev since there is no milestone yet I set it to "1.0"

[2015-04-18 09:38] davvd commented on #105
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-04-18 09:38] davvd commented on #107
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-18 09:38] davvd commented on #108
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-04-18 09:38] davvd commented on #109
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-04-18 09:38] davvd commented on #112
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-18 09:38] davvd commented on #113
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-18 09:38] davvd commented on #114
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-04-18 09:38] davvd commented on #115
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-04-18 09:38] davvd commented on #120
@ekondrashev I set milestone here to `1.0`, let me know if it is wrong

[2015-04-18 09:38] davvd commented on #130
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-04-18 09:38] davvd commented on #132
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-04-18 09:38] davvd commented on #135
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-18 09:38] davvd commented on #137
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-18 09:38] davvd commented on #138
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-04-18 09:38] davvd commented on #149
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-18 09:38] davvd commented on #158
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-04-18 09:38] davvd commented on #174
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-04-18 10:57] davvd commented on #119
@yegor256 I've paid 30 mins to @dmzaytsev in transaction `55563585`

[2015-04-18 10:57] davvd commented on #187
@yegor256 added "bug" tag to this issue

[2015-04-18 10:57] davvd commented on #184
@yegor256 I tagged this as "bug"

[2015-04-18 11:06] #159 closed

[2015-04-18 11:06] davvd commented on #159
@yegor256 It is closed now

[2015-04-18 11:06] davvd commented on #19
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-18 11:06] davvd commented on #40
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-18 11:06] davvd commented on #140
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-18 11:06] davvd commented on #148
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-18 11:06] davvd commented on #153
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-18 11:06] davvd commented on #167
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-18 11:10] davvd commented on #115
@erimerturk this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-04-18 11:10] davvd commented on #130
@cyberone can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-04-18 11:10] davvd commented on #158
@celezar This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-04-18 11:55] davvd commented on #187
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-04-18 11:57] davvd commented on #139
@elenavolokhova thanks a lot :)

[2015-04-18 11:57] davvd commented on #145
@yegor256 thank you very much

[2015-04-18 12:23] davvd commented on #11
@popprem this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

added -60 to your rating, now it is equal to [-180](http://www.netbout.com/b/35169?open=rating)

[2015-04-18 12:23] davvd commented on #139
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55564369... Thanks so much! Your account was topped up for **1 hour** (transaction ID is `55564384`, the task took 10 hours and 45 mins)... there is a bonus for fast delivery (age=1)... +60 added to your rating, at the moment it is: [+618](http://www.netbout.com/b/35166?open=rating)

[2015-04-18 12:23] davvd commented on #187
@dmzaytsev it's yours,please go ahead

[2015-04-18 12:23] davvd commented on #184
@cyberone this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you w

[2015-04-18 12:24] davvd commented on #187
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-dbcf3942`

[2015-04-18 14:15] davvd commented on #158
@yegor256 yes, done, @ikhvostenkov is at the task, please start! whoever worked with this task before, please stop immediately

[2015-04-18 18:04] dmzaytsev commented on #187
@davvd I created the PR #188 for this task. Could you please find someone to review ?

[2015-04-18 18:20] davvd commented on #158
@yegor256 sure! @ikhvostenkov the task is yours, please go ahead

[2015-04-18 20:40] davvd commented on #158
@yegor256 done, @ikhvostenkov is a new assignment at the task, please go on. whoever worked with this task before, please stop right now

[2015-04-19 05:33] elenavolokhova commented on #19
@ikhvostenkov

I will ask someone to take care of this task soon

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future. Ask them to fix issues before closing the ticket.

 Please confirm that everything is clear and you hav

[2015-04-19 06:12] elenavolokhova commented on #148
@YamStranger

Its great idea!!! (as here #128)

we will find someone to do this task, soon

According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future. Ask them to fix issues before closing the ticket.

 Please confirm that everyt

[2015-04-19 06:57] elenavolokhova commented on #167
@yegor256
 According to our [quality rules](http://www.teamed.io/qa.html):

 This was not a case in this ticket. Please avoid fixing your own issues.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2015-04-19 07:00] elenavolokhova commented on #153
@dmzaytsev Thank you for fixing quality issues in this ticket!

[2015-04-19 07:02] elenavolokhova commented on #153
@davvd This one looks good :)

[2015-04-19 07:07] elenavolokhova commented on #40
@ikhvostenkov

One more point: actually test was already created and covered ~60%, I've modified it to reach 100% coverage.

 According to our [quality rules](http://www.teamed.io/qa.html):

Try to avoid such issues in future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2015-04-19 07:11] longtimeago commented on #148
@elenavolokhova everything is clear

[2015-04-19 07:23] elenavolokhova commented on #148
@longtimeago Thank you, but this one is not yours :)

[2015-04-19 10:26] davvd commented on #153
@elenavolokhova thanks for the review and a good remark

[2015-04-19 10:33] davvd commented on #44
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-19 10:33] davvd commented on #46
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-19 10:33] davvd commented on #109
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-19 10:33] davvd commented on #114
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-19 10:33] davvd commented on #135
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-19 10:33] davvd commented on #137
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-19 10:35] davvd commented on #147
@yegor256 just added 10 mins to @elenavolokhova (for QA), payment ID is `55578628`... Many thanks! **1 hour** were added to your account in Transaction ID `000-28d787bd` (task took 10 hours and 30 mins)... age=7, that's why a bonus here for fast delivery... +60 added to your rating, current score is: [+9017](http://www.netbout.com/b/35008?open=rating)

[2015-04-19 10:47] davvd commented on #184
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-f31d7d37`

[2015-04-19 12:04] davvd commented on #113
@eg04lt3r the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 to your rating, your total score is [-22](h

[2015-04-19 12:15] YamStranger commented on #148
@elenavolokhova fixed, thanks

[2015-04-19 13:18] davvd commented on #112
@ekondrashev you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck); -30 added to your rating, current score is:

[2015-04-19 13:18] davvd commented on #145
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55580035... **1 hour** was added to your account, many thanks for your contribution! The task took 55580067.... the bonus for fast delivery (age=2)... +60 to your rating, your total score is [+678](http://www.netbout.com/b/35166?open=rating)

[2015-04-19 14:29] ekondrashev commented on #112
@davvd could you please let me know what should I do next after the PR is close for the initial task?
PR https://github.com/yegor256/takes/pull/118

[2015-04-19 14:32] davvd commented on #111
@celezar check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; added -30 to your rating, now it is equal to [

[2015-04-19 14:32] davvd commented on #153
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `55580878`

Thanks so much! Your account was topped up for **38 mins** (transaction ID is `55580905`, the task took 181 hours and 45 mins)

the bonus for fast delivery (age=2915)

+38 added to your rating, current score is: [+716](http://www.netbout.com/b/35166?open=rating)

[2015-04-19 15:51] davvd commented on #108
@ekondrashev check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, current score is

[2015-04-19 18:38] ekondrashev commented on #108
@davvd the PR was closed already I just do not know what is the next correct step in ticket lifecycle
https://github.com/yegor256/takes/pull/164

[2015-04-20 01:10] yegor256 opened #190 "RqForm.Smart"

[2015-04-20 01:13] yegor256 commented on #190
@rultor release, tag is `0.14`

[2015-04-20 01:14] rultor commented on #190
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3482-94331681)

[2015-04-20 01:33] rultor commented on #190
Release `0.14` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-04-20 01:33] rultor commented on #190
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3482-94331681) (took me 17min)

[2015-04-20 01:33] #190 closed

[2015-04-20 05:02] elenavolokhova commented on #148
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-20 05:36] elenavolokhova commented on #137
@davvd This ticket looks good.

[2015-04-20 05:39] elenavolokhova commented on #114
@YamStranger

Do we have any documentation about this? Or some rules?

Please, fix this comment. It should mention the person you are talking to.

[2015-04-20 05:49] YamStranger commented on #114
@elenavolokhova done

[2015-04-20 05:52] elenavolokhova commented on #114
@YamStranger Thank you!

[2015-04-20 05:52] elenavolokhova commented on #114
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-20 06:02] yegor256 commented on #108
@ekondrashev you should ask ticket reporter to close it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-04-20 06:02] elenavolokhova commented on #46
@dmzaytsev

davvd / Yegor,
Sorry for the delay. I'm in the process of shifting to a new house with family. I will start working on this project from Monday (30th of March 2015).

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in th

[2015-04-20 06:10] dmzaytsev commented on #46
@elenavolokhova everything is clear. I confirm

[2015-04-20 06:14] elenavolokhova commented on #46
@davvd Ticket passed QA review. Quality is acceptable.

[2015-04-20 06:17] elenavolokhova commented on #44
@davvd This ticket is good. Thanks All!

[2015-04-20 06:22] elenavolokhova commented on #109
@YamStranger

I can do this task )

According to our [quality rules](http://www.teamed.io/qa.html):

 Please avoid such issues in future and confirm that everything is clear and you have no questions regarding this approach.

[2015-04-20 06:24] elenavolokhova commented on #135
@davvd Ticket passed QA review. It looks good.

[2015-04-20 06:26] ekondrashev commented on #108
@yegor256 please close the ticket the solution is provided at https://github.com/yegor256/takes/pull/164

[2015-04-20 06:27] yegor256 commented on #108
@ekondrashev thanks!

[2015-04-20 06:27] #108 closed

[2015-04-20 06:27] yegor256 commented on #112
@ekondrashev you should ask ticket reporter to close it

[2015-04-20 06:27] ekondrashev commented on #112
@yegor256 please close the ticket the solution is provided at https://github.com/yegor256/takes/pull/118

[2015-04-20 06:30] yegor256 commented on #112
@ekondrashev thanks!

[2015-04-20 06:30] #112 closed

[2015-04-20 06:34] yegor256 commented on #167
@elenavolokhova you're right, my bad, thanks for noticing

[2015-04-20 06:41] elenavolokhova commented on #167
@davvd Quality is acceptable. Thanks.

[2015-04-20 09:28] ikhvostenkov commented on #40
@elenavolokhova confirmed. Everything is absolutely clear.

[2015-04-20 09:30] ikhvostenkov commented on #19
@elenavolokhova confirmed. Next time I will check if we follow the rules.

[2015-04-20 09:46] YamStranger commented on #109
@elenavolokhova  fixed. Thanks

[2015-04-20 13:24] cyberone commented on #42
@davvd assign someone else for this task please.

[2015-04-20 14:26] ikhvostenkov commented on #42
@davvd @yegor256  I can take this test due to this will be similar to ```PsLinkedinTest``` I am working on now. Also I want to suggest some refactoring for productive code and if you accept this it will be possible to create these tests like piece of cake.

[2015-04-20 15:08] m4solutions commented on #174
If no one disagree, @davvd  could you assign this one to me?

[2015-04-20 18:08] davvd commented on #46
@elenavolokhova thanks for the review, we'll try better next time

[2015-04-20 18:08] davvd commented on #44
@elenavolokhova thank you, good quality is always good :)

[2015-04-20 18:08] davvd commented on #42
@cyberone I deducted 30 points from your rating

[2015-04-20 18:08] davvd commented on #42
@cyberone no problem, I will try to find somebody else

[2015-04-20 18:09] davvd commented on #114
@elenavolokhova thank you, let's try to make it "good" next time

[2015-04-20 18:09] davvd commented on #137
@elenavolokhova thanks for the review and a good remark

[2015-04-20 18:09] davvd commented on #135
@elenavolokhova thanks for the review

[2015-04-20 18:09] davvd commented on #148
@elenavolokhova thanks for the QA review, we'll work better next time

[2015-04-20 18:09] davvd commented on #167
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2015-04-20 18:18] dmzaytsev commented on #187
@yegor256 #188 is fixing this issue, please close if that's all here, thank you

[2015-04-20 18:23] davvd commented on #46
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 55835838. Much appreciated! **1 hour** was added to your account, payment ID `55835882`, time spent is 71 hours and 13 mins. age=2, that's why a bonus here for fast delivery. +60 to your rating, your total score is [+776](http://www.netbout.com/b/35166?open=rating)

[2015-04-20 18:23] davvd commented on #94
@eg04lt3r it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 added to your rating, at the moment it is: [-82](http://www.netbout.com/b/35234?open=rating)

[2015-04-20 18:26] yegor256 commented on #187
@dmzaytsev thanks!

[2015-04-20 18:26] #187 closed

[2015-04-20 18:41] cyberone commented on #41
@davvd please review https://github.com/yegor256/takes/pull/192

[2015-04-20 18:49] yegor256 commented on #174
@davvd pls assign @m4solutions to this task

[2015-04-20 19:56] davvd commented on #174
@yegor256 done. @m4solutions the task is yours, please go ahead

[2015-04-20 20:10] davvd commented on #42
@dmzaytsev the task is yours please proceed

[2015-04-20 20:10] davvd commented on #44
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55838411

thank you, added **1 hour** to your acc, payment num is `55838433`, 65 hours and 58 mins spent in total to complete

there is a bonus for fast delivery (age=2)

+60 to your rating, your total score is [+836](http://www.netbout.com/b/35166?open=rating)

[2015-04-20 21:14] davvd commented on #94
@dmzaytsev the task is yours please proceed

[2015-04-20 21:14] davvd commented on #114
@yamstranger just added 10 mins to @elenavolokhova (for QA), payment ID is `55839514`... thanks, paid, **38 mins** to your account, payment ID is `55839570`, task took 352 hours and 28 mins to complete... the bonus for fast delivery (age=2970)... +38 to your rating, your total score is [+76](http://www.netbout.com/b/35267?open=rating)

[2015-04-20 23:38] ikhvostenkov opened #194 "Invalid LinkedIn id type is used in PsLinkedin"
When we parse response json in ```PsLinkedin``` we expect linkedin id as int, but this is alphanumeric according with https://developer-programs.linkedin.com/thread/2352:
[code]
I've checked some IDs and all of them have only numbers, however I was not able to find any official information that ID is numeric value. Also in API examples ID is string:
[code]

[2015-04-20 23:50] ikhvostenkov opened #195 "Wrong json linkedin user fields are used"
According with linkedin API [example](https://developer.linkedin.com/docs/signin-with-linkedin)

[code]
```firstName``` and ```lastName``` should be camel-case, we expect underscored:

[code]

[2015-04-21 00:09] yegor256 commented on #115
@erimerturk I will implement this myself, if you don't mind

[2015-04-21 00:09] yegor256 commented on #115
@davvd assign me to this ticket pls

[2015-04-21 01:11] yegor256 commented on #115
@rultor release, tag is `0.14.1`

[2015-04-21 01:11] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3502-94605279)

[2015-04-21 01:32] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3502-94605279) (took me 20min)

[2015-04-21 03:37] yegor256 opened #196 "file upload doesn't work"
There is probably a bug in `RqMultipart.Base`, let's reproduce with CasperJS

[2015-04-21 04:00] elenavolokhova commented on #140
@dmzaytsev Thank you for work on the quality of this ticket, but it is still not perfect. Not all comments contain user name. Be more persistent next time.

[2015-04-21 04:00] elenavolokhova commented on #140
@davvd Quality is acceptable.

[2015-04-21 04:05] elenavolokhova commented on #19
@ikhvostenkov Thank you!

[2015-04-21 04:06] elenavolokhova commented on #19
@davvd Quality is acceptable.

[2015-04-21 04:08] elenavolokhova commented on #40
@ikhvostenkov Thank you.

[2015-04-21 04:08] elenavolokhova commented on #40
@davvd Quality is acceptable.

[2015-04-21 04:09] elenavolokhova commented on #109
@YamStranger Thank you!

[2015-04-21 04:10] elenavolokhova commented on #109
@davvd Quality is acceptable.

[2015-04-21 05:30] dmzaytsev commented on #140
@elenavolokhova @yegor256 how I can fulfill the requirements of quality, except ask someone to change a comment? What should I do if someone does not comply with the request?

[2015-04-21 06:36] #196 closed

[2015-04-21 09:04] dmzaytsev commented on #42
@yegor256 PsGithub requires two `com.jcabi.http.Request` instances  for the token and for the user data. I suggest to create a decorator for the `com.jcabi.http.FackRequest` which
returns different instances of the RequestBody depending on the url.
What do you think about the suggestion ?

[2015-04-21 11:17] celezar commented on #111
@davvd please give it to someone else

[2015-04-21 14:23] erimerturk commented on #115
@yegor256 why did you reopen ?

[2015-04-21 15:20] dmzaytsev commented on #94
@davvd I created the PR #197  for this task. Could you please find someone to review ?

[2015-04-21 19:21] yegor256 opened #198 "TkFallback doesn't catch exceptions inside Response"
`TkFallback` doesn't catch exceptions inside `Response`

[2015-04-21 19:28] #198 closed

[2015-04-21 19:28] yegor256 commented on #198
@rultor release, tag is `0.14.2`

[2015-04-21 19:29] rultor commented on #198
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3510-94912719)

[2015-04-21 19:46] rultor commented on #198
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3510-94912719) (took me 17min)

[2015-04-21 20:05] davvd commented on #194
@ikhvostenkov this task will get someone's attention soon

[2015-04-21 20:05] davvd commented on #195
@ikhvostenkov we will find someone to do this task, soon

[2015-04-21 20:05] davvd commented on #194
@ikhvostenkov I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-21 20:05] davvd commented on #195
@ikhvostenkov there is no milestone yet, so I set it to `1.0`

[2015-04-21 20:05] davvd commented on #19
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2015-04-21 20:05] davvd commented on #40
@elenavolokhova thanks, got it. everybody, please try to make it good next time

[2015-04-21 20:06] davvd commented on #115
@yegor256 right, this task is yours, whoever worked before, please stop right now

[2015-04-21 20:06] davvd commented on #111
@celezar 30 points deducted from your rating

[2015-04-21 20:06] davvd commented on #111
@celezar right, I'll try to find someone else for this task

[2015-04-21 20:06] davvd commented on #109
@elenavolokhova thank you, let's try to make it "good" next time

[2015-04-21 20:06] davvd commented on #140
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2015-04-21 20:14] davvd commented on #108
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-21 20:14] davvd commented on #112
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-21 20:14] davvd commented on #187
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-21 20:19] davvd commented on #19
@ikhvostenkov 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55869851; Much appreciated! **38 mins** was added to your account, payment ID `55869875`, time spent is 443 hours and 15 mins; age=3547, that's why a bonus here for fast delivery; +38 added to your rating, at the moment it is: [+8](http://www.netbout.com/b/35232?open=rating)

[2015-04-21 20:19] davvd commented on #194
@eg04lt3r this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for

[2015-04-21 20:19] davvd commented on #195
@dmzaytsev it's yours, please go ahead

[2015-04-21 20:23] davvd commented on #195
@ikhvostenkov thanks for tis bug, I topped your account for 15 mins, transaction `55870013`

[2015-04-21 21:19] davvd commented on #40
@ikhvostenkov 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55871054... thank you, added **38 mins** to your acc, payment num is `55871122`, 496 hours and 59 mins spent in total to complete... the bonus for fast delivery (age=3853)... +38 to your rating, your total score is [+61](http://www.netbout.com/b/35232?open=rating)

[2015-04-21 21:20] davvd commented on #194
@ikhvostenkov thanks for tis bug, I topped your account for 15 mins, transaction `55871169`

[2015-04-21 21:21] marcuss opened #199 "Issues 174, 101 missing technical specs"
Issues [174](https://github.com/yegor256/takes/issues/174) and [171](https://github.com/yegor256/takes/issues/101)  talk about adding a **toConsole()** method to the interfaces **Take** and **Response*** , a first approach is proposed in the  [171](https://github.com/yegor256/takes/issues/101)  issue discussion, but since those 2 Interfaces are the center of many things in the project, something s

[2015-04-22 01:03] m4solutions commented on #111
@davvd please assign this one to me

[2015-04-22 01:12] yegor256 commented on #111
@davvd assign @m4solutions to this task pls

[2015-04-22 01:18] yegor256 commented on #115
@erimerturk by mistake, it's solved indeed

[2015-04-22 01:18] #115 closed

[2015-04-22 03:03] yegor256 opened #201 "RqLengthAware must accept Long, not only Int"

[2015-04-22 03:13] yegor256 commented on #201
@rultor release, tag is `0.14.3`

[2015-04-22 03:14] rultor commented on #201
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3519-95011110)

[2015-04-22 03:33] rultor commented on #201
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3519-95011110) (took me 18min)

[2015-04-22 03:36] yegor256 commented on #42
@dmzaytsev yes, sounds logical

[2015-04-22 06:08] dmzaytsev commented on #195
@davvd I created the PR #202 for this task. Could you please find someone to review ?

[2015-04-22 06:34] dmzaytsev commented on #42
@yegor256 I think will be better to add new methods to `com.jcabi.http.requestFakeRequest`
[code]

I could do it in [jcabi-http project](https://github.com/jcabi/jcabi-http)
I will create new task in jcabi-http if you do not mind.
Could you please assign me to this task?

[2015-04-22 06:42] yegor256 commented on #42
@dmzaytsev yes, go ahead

[2015-04-22 06:48] elenavolokhova commented on #108
@davvd This ticket looks good!

[2015-04-22 06:54] dmzaytsev commented on #42
@davvd we are wating for jcabi/jcabi-http#82

[2015-04-22 07:14] elenavolokhova commented on #112
@davvd This issue is good.

[2015-04-22 07:16] elenavolokhova commented on #187
@davvd This ticket looks good.

[2015-04-22 07:28] #201 closed

[2015-04-22 09:17] eg04lt3r commented on #194
@ikhvostenkov fixed in #203 pull request. Please, find someone to review this one. Thanks.
And there is internal exception in Travis CI build: java.lang.NoClassDefFoundError: org/codehaus/plexus/util/DirectoryScanner

[2015-04-22 14:47] cyberone commented on #184
@davvd please review https://github.com/yegor256/takes/pull/204

[2015-04-22 20:00] yegor256 commented on #42
@davvd we need more time here

[2015-04-22 20:39] davvd commented on #199
@m4solutions milestone set to `1.0` (correct me if I am wrong)

[2015-04-22 20:39] davvd commented on #112
@elenavolokhova thanks for the review

[2015-04-22 20:39] davvd commented on #111
@yegor256 done. @m4solutions you are assigned to this task. please proceed...

[2015-04-22 20:40] davvd commented on #108
@elenavolokhova thanks for the review

[2015-04-22 20:55] davvd commented on #199
@yegor256 this task is yours,go ahead

[2015-04-22 20:57] davvd commented on #199
@m4solutions many thanks for the report, I topped your account for 15 mins, transaction 55933067

[2015-04-22 21:09] yegor256 opened #205 "stream reading is too slow"
At the moment, in `RqPrint`, `RsPrint`, `RqMultipart` and in a few other places we're using `InputStream#read()`. This method reads the stream byte by byte. There is nothing wrong in this method, but it's slow on large streams. Let's replace that with `read(byte[])`.

Full list of places:

[code]

[2015-04-22 21:16] yegor256 opened #206 "RqLengthAware doesn't intercept the other two read() methods"
At the moment, `RqLengthAware` doesn't intercept the other two `read()` methods, but it should. It should override them and make sure calls to them also decrease the internal length counter.