[2015-04-22 21:22] eg04lt3r commented on #113
@yegor256 fixed in #207 pull request. Please, find someone to review. Thanks.

[2015-04-22 23:54] yegor256 commented on #199
@m4solutions I'm thinking about it...

[2015-04-23 08:42] ikhvostenkov commented on #194
@davvd Comment above should be addressed to you, I think.

[2015-04-23 09:02] YamStranger commented on #148
@davvd please share details of payment for this issue

[2015-04-23 09:02] YamStranger commented on #109
@davvd please share details of payment for this issue

[2015-04-23 09:58] erimerturk commented on #106
@yegor256 can you assign it to me ?

[2015-04-23 10:01] davvd commented on #205
@yegor256 I will find a developer for the task soon...

[2015-04-23 10:01] davvd commented on #206
@yegor256 we will find someone to do this task, soon

[2015-04-23 10:01] davvd commented on #205
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-23 10:01] davvd commented on #206
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-04-23 10:01] davvd commented on #42
@yegor256 yes, take your time, thanks for letting me know

[2015-04-23 10:03] davvd commented on #187
@elenavolokhova thanks a lot :)

[2015-04-23 10:20] davvd commented on #205
@cyberone the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-04-23 10:20] davvd commented on #206
@dmzaytsev the task is yours,please go ahead

[2015-04-23 10:21] davvd commented on #206
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-db3fd47a`

[2015-04-23 12:31] davvd commented on #112
@ekondrashev just added 10 mins to @elenavolokhova (for QA), payment ID is `55950410`. Thanks so much! Your account was topped up for **38 mins** (transaction ID is `55950439`, the task took 408 hours and 56 mins). there is a bonus for fast delivery (age=2970). +38 to your rating, your total score is [-7](http://www.netbout.com/b/35260?open=rating)

[2015-04-23 12:32] davvd commented on #205
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-55008c77`

[2015-04-23 12:56] cyberone commented on #41
@yegor256 the task is merged. Close please.

[2015-04-23 13:22] dmzaytsev commented on #206
@davvd the PR for this task here  #208
please  find someone who can review this pull request

[2015-04-23 17:55] davvd commented on #109
@yamstranger just added 10 mins to @elenavolokhova (for QA), payment ID is `55958139`

I just added **1 hour** to your account, many thanks for your contribution.. 55958180 spent here

the bonus for fast delivery (age=8)

added +60 to your rating, now it is equal to [+136](http://www.netbout.com/b/35267?open=rating)

[2015-04-23 20:00] davvd commented on #108
@ekondrashev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55960899... thanks, paid, **38 mins** to your account, payment ID is `55960928`, task took 407 hours and 24 mins to complete... the bonus for fast delivery (age=2945)... +38 to your rating, your total score is [+31](http://www.netbout.com/b/35260?open=rating)

[2015-04-23 20:00] davvd commented on #113
@eg04lt3r you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; added -60 to your rating, now it is equal to [-142](http://www.netbout.com/b/35234?open=rating)

[2015-04-24 08:30] dmzaytsev commented on #206
@yegor256 take a look the PR #208
please close  if that's all here, thank you

[2015-04-24 10:58] davvd commented on #115
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-24 16:48] davvd commented on #140
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `55983587`; **45 mins** sent to your balance (ID `55983615`), many thanks! It took 157 hours and 39 mins.; the bonus for fast delivery (age=1469); +45 added to your rating, current score is: [+896](http://www.netbout.com/b/35166?open=rating)

[2015-04-24 17:52] davvd commented on #137
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55985009; **1 hour** added to your account (payment number `55985089`), many thanks for your contribution! 68 hours and 36 mins spent here.; age=2, that's why a bonus here for fast delivery; +60 added to your rating, current score is: [+956](http://www.netbout.com/b/35166?open=rating)

[2015-04-24 18:25] yegor256 commented on #206
@dmzaytsev thanks!

[2015-04-24 18:25] #206 closed

[2015-04-24 18:27] yegor256 commented on #41
@cyberone thanks!

[2015-04-24 18:27] #41 closed

[2015-04-24 19:24] davvd commented on #135
@cyberone 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55987502. Thanks a lot, I just topped your account for **1 hour**, transaction ID `55987550`, total time was 68 hours and 35 mins. the bonus for fast delivery (age=1). added +60 to your rating, now it is equal to [+150](http://www.netbout.com/b/35076?open=rating)

[2015-04-24 20:48] davvd commented on #113
@dmzaytsev the task is yours please proceed

[2015-04-24 20:48] davvd commented on #148
@yamstranger 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 55988887... thank you, added **38 mins** to your acc, payment num is `55988911`, 184 hours and 28 mins spent in total to complete... there is a bonus for fast delivery (age=2915)... added +38 to your rating, now it is equal to [+174](http://www.netbout.com/b/35267?open=rating)

[2015-04-24 21:29] dmzaytsev commented on #94
@yegor256 the PR #197 merged. Please close the task if alright

[2015-04-24 21:36] yegor256 commented on #94
@dmzaytsev thanks a lot!

[2015-04-24 21:36] #94 closed

[2015-04-24 21:36] yegor256 commented on #94
@rultor release, tag is `0.15`

[2015-04-24 21:37] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3563-96071999)

[2015-04-24 21:57] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3563-96071999) (took me 19min)

[2015-04-25 01:36] super132 commented on #132
@yegor256 please check if this issue can be closed if there is no problem. Thanks.

[2015-04-25 01:58] yegor256 commented on #132
@super132 in which pull request it was solved? please post its number here

[2015-04-25 02:26] super132 commented on #132
@yegor256 , it is PR #186. Thanks.

[2015-04-25 03:22] yegor256 opened #209 "--daemon option doesn't work"
After the changes in #197 the `--daemon` option doesn't have any effect

[2015-04-25 03:28] cyberone commented on #130
@davvd assign somebody else please

[2015-04-25 03:31] yegor256 commented on #209
@rultor release, tag is `0.15.1`

[2015-04-25 03:31] rultor commented on #209
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3564-96124546)

[2015-04-25 03:31] yegor256 commented on #132
@super132 thanks!

[2015-04-25 03:31] #132 closed

[2015-04-25 03:45] rultor commented on #209
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3564-96124546) (took me 13min)

[2015-04-25 03:45] dmzaytsev commented on #195
@davvd we are wating for #158

please see details [here] (https://github.com/yegor256/takes/pull/202#issuecomment-96025759)

[2015-04-25 03:55] #209 closed

[2015-04-25 07:39] dmzaytsev commented on #113
@davvd the PR for this task here #210
Please find someone for review. Thanks

[2015-04-25 07:41] cyberone commented on #184
@yegor256 the corresponding PR is merged. Close the task please.

[2015-04-25 07:54] ndbroadbent commented on #138
Hello @yegor256, please close this issue since it is now completed.

[2015-04-25 08:51] erimerturk commented on #166
@yegor256 can you close issue please ?

[2015-04-25 10:04] davvd commented on #130
@cyberone 30 points deducted from your rating

[2015-04-25 10:04] davvd commented on #130
@cyberone right, I will find someone else, no problem

[2015-04-25 10:23] davvd commented on #11
@erimerturk this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-04-25 10:23] davvd commented on #105
@eg04lt3r this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-04-25 10:23] davvd commented on #106
@cyberone please go ahead with this task, it's yours

[2015-04-25 10:23] davvd commented on #107
@ikhvostenkov the task is yours please proceed

[2015-04-25 11:16] davvd commented on #130
@ikhvostenkov it's yours,please go ahead

[2015-04-25 12:38] davvd commented on #58
@popprem you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck); added -30 to your rating, now it is equal to [-

[2015-04-25 12:38] davvd commented on #167
@yegor256 just added 10 mins to @elenavolokhova (for QA), payment ID is `56000227`... Much appreciated! **1 hour** was added to your account, payment ID `000-b056ecdc`, time spent is 117 hours and 52 mins... there is a bonus for fast delivery (age=4)... +60 added to your rating, at the moment it is: [+9262](http://www.netbout.com/b/35008?open=rating)

[2015-04-25 20:16] davvd commented on #41
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-25 20:16] davvd commented on #206
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-04-26 10:06] davvd commented on #187
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `56013672`... paid, thanks, added **38 mins** to your account, payment `56013684`, 55 hours and 35 mins was spent... there is a bonus for fast delivery (age=3243)... +38 to your rating, your total score is [+994](http://www.netbout.com/b/35166?open=rating)

[2015-04-26 11:06] davvd commented on #94
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-26 11:06] davvd commented on #132
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-04-27 01:16] yegor256 opened #211 "BkTimetable wrong design"
I think that current design of `BkTimetable` is too complex, that's why the unit test is very difficult to understand. I would refactor it and simplify. I would do it like this:

[code]

Just one ctor, nothing else.

Current unit tests are absolutely wrong. They don't test the class, but instead test its interaction with encapsulated elements. It's against the idea of OOP. Let's remove current tes

[2015-04-27 01:42] yegor256 commented on #166
@erimerturk looks like you've done it wrong. using your implementation we can't do what my example above is requiring. you shouldn't encapsulate a status code, but instead encapsulate another matcher. this is how I want to use it (I renamed the class, `Hm` means Hamcrest Matcher):

[code]

[2015-04-27 03:40] yegor256 commented on #138
@ndbroadbent thanks!

[2015-04-27 03:41] yegor256 commented on #184
@cyberone thanks!

[2015-04-27 03:41] #184 closed

[2015-04-27 05:08] dmzaytsev commented on #211
@yegor256 @davvd please assign this task to me

[2015-04-27 07:20] yegor256 commented on #211
@davvd assign @dmzaytsev to this task pls

[2015-04-27 09:59] dmzaytsev commented on #211
@yegor256 should I use Thread instance instead ScheduledExecutorService  ? something like this
[code]

[2015-04-27 10:05] erimerturk commented on #166
@yegor256 i refactored after your comments, what should i do now ? i pushed to code again. Should I create pull request ?

[2015-04-27 10:07] davvd commented on #211
@yegor256 I will find a developer for the task soon...

[2015-04-27 10:07] davvd commented on #211
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-04-27 10:20] davvd commented on #211
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-e27c2164`

[2015-04-27 11:04] erimerturk opened #213 "Travis-CI build failing for java 8"
travis-ci build is failling because of ClassNotfound exception. You can find see exception detail from given url.

https://travis-ci.org/yegor256/takes/jobs/60197872

[2015-04-27 12:03] davvd commented on #211
@yegor256 OK @dmzaytsev please go ahead, this task is yours

[2015-04-27 19:56] yegor256 commented on #211
@dmzaytsev yes, that's how I would do this, with `while(true)` and `TimeUnit.SECONDS.sleep(1L)`

[2015-04-27 19:56] yegor256 commented on #166
@erimerturk yes, sure, just make a new pull request

[2015-04-27 20:21] erimerturk commented on #166
@yegor256 i created PR #212 . Will you accept and close this issue ?

[2015-04-27 21:32] eg04lt3r commented on #105
@yegor256 fixed in #214  pull request.

[2015-04-27 21:34] eg04lt3r commented on #105
@yegor256 please, find someone for review. Maybe, should I ask @davvd for this?

[2015-04-28 05:35] dmzaytsev commented on #211
@yegor256 We have some problems when using BkTimeable with BkParallel. BkTimeable catches the current thread, but BkParallel creates a new thread which unknown for BkTimeable.

I suggest to divide BkTimeable into two classes Watcher and BkTimeable.
So FtCLI code will look something like this
[code]
What do you think about the suggestion?

[2015-04-28 06:45] elenavolokhova commented on #115
@yegor256
 According to our [quality rules](http://www.teamed.io/qa.html):

 This was not a case in this ticket.
 Please confirm that you will avoid fixing your own issues.

[2015-04-28 07:08] elenavolokhova commented on #41
@davvd This issue looks good.

[2015-04-28 07:46] elenavolokhova commented on #206
@davvd Looks good!

[2015-04-28 08:00] elenavolokhova commented on #94
@davvd Looks good.

[2015-04-28 09:31] elenavolokhova commented on #132
@super132

AES encryption implementation is submitted. Please check if it is fine. Thanks.

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please don't forget to address all your comments and make sure that everyone follows this rule in your tickets in the future.

 Please confirm that everythin

[2015-04-28 10:09] super132 commented on #132
@elenavolokhova , I have fixed the comment which got problem. Thanks.

[2015-04-28 10:11] elenavolokhova commented on #132
@super132 Thank you!

[2015-04-28 10:11] elenavolokhova commented on #132
@davvd Quality is acceptable.

[2015-04-28 10:35] dmzaytsev commented on #211
@davvd the PR #216 for the task is ready for review
@yegor256 if you accept the suggestion, I will do it later

[2015-04-28 17:40] cyberone commented on #205
@davvd assign someone else please

[2015-04-28 20:42] yegor256 opened #217 "RsWithType duplicates headers"
If I do like this:

[code]

I will get:

[code]

Let's use `RsWithoutHeader` to prevent this from happening.

[2015-04-28 22:47] yegor256 commented on #211
@dmzaytsev I didn't get the idea of watcher... why do we need to make it visible/changeable outside of `BkTimeable`?

[2015-04-29 04:31] m4solutions commented on #217
If i get this task, is about changing wherever the project use
``new RsWithType(new RsWithType(``
To decorate a response we should use RsWithoutHeader instead, right?

[2015-04-29 04:33] m4solutions commented on #163
I think this should be close already @davvd

[2015-04-29 04:41] m4solutions opened #219 "PsGoogle and PsGithub Are not Tested"
At the beginning I though it wasn't necessary because XeGithubLink and XeGoogleLink are tested, but followinig the example of PsFacebook and XeFacebookLink that are both tested, I realize this could be missing.

[2015-04-29 04:59] m4solutions opened #220 "BkBasic and BkParallel are not tested"
BkBasic and BkParallel are not tested, even when they have 100+ lines of code.
and that BkBasic is used in the BkTimeable Test

[2015-04-29 07:18] dmzaytsev opened #221 "Basic Authentication"
We have not a Pass implementation for Basic Authentication(RFC-2617). I believe it has to be.
This class should  have  BasicAuth as one of a Ctor parameters.
Something like this
[code]

[2015-04-29 09:20] davvd commented on #220
@m4solutions I am aware of the task, give me some time to find a developer...

[2015-04-29 09:20] davvd commented on #220
@m4solutions there is no milestone yet, so I set it to `1.0`

[2015-04-29 09:20] davvd commented on #41
@elenavolokhova thanks a lot :)

[2015-04-29 09:20] davvd commented on #94
@elenavolokhova thanks a lot :)

[2015-04-29 09:20] davvd commented on #132
@elenavolokhova thank you, let's try to make it "good" next time

[2015-04-29 09:21] davvd opened #222 "0.16"
Please, publish a new release **0.16** (or higher)

[2015-04-29 09:26] davvd commented on #184
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-04-29 09:28] davvd commented on #41
@cyberone just added 10 mins to @elenavolokhova (for QA), payment ID is `56367945`... Thank you, I have added **1 hour** to your account in payment/transaction "`56367950`", time consumed: 224 hours and 42 mins... there is a bonus for fast delivery (age=2)... added +60 to your rating, now it is equal to [+150](http://www.netbout.com/b/35076?open=rating)

[2015-04-29 09:28] davvd commented on #220
@m4solutions thanks for tis bug, I topped your account for 15 mins, transaction `56368001`

[2015-04-29 09:32] elenavolokhova commented on #184
@davvd Quality is good.

[2015-04-29 09:52] cyberone commented on #205
@davvd please assign this issue to someone else.

[2015-04-29 10:38] davvd commented on #222
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-29 10:39] davvd commented on #184
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-04-29 10:39] davvd commented on #206
@elenavolokhova thanks!

[2015-04-29 10:49] davvd commented on #94
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 56370009; thanks, paid, **1 hour** to your account, payment ID is `56370016`, task took 108 hours and 51 mins to complete; age=2 mins, that's why a bonus here for fast delivery; +60 added to your rating, at the moment it is: [+1054](http://www.netbout.com/b/35166?open=rating)

[2015-04-29 10:49] davvd commented on #220
@dmzaytsev it's yours, please go ahead

[2015-04-29 11:43] davvd commented on #205
@cyberone -30 points to your rating

[2015-04-29 11:43] davvd commented on #205
@cyberone I will assign somebody else to this issue

[2015-04-29 12:46] davvd commented on #132
@super132 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 56373225; Thanks for your contribution, **38 mins** was added to your account, payment ID is `AP-3Y993606RW804571U`, 237 hours and 1 min spent total; age=4209, that's why a bonus here for fast delivery; +38 added to your rating, at the moment it is: [+38](http://www.netbout.com/b/35282?open=rating)

[2015-04-29 12:46] davvd commented on #205
@ikhvostenkov the task is yours, please go ahead

[2015-04-29 15:36] ikhvostenkov opened #224 "Add multiply headers to the request can lead performance problem"
Now to add multiply headers to the request, we need code like this:

[code]

If you need to add some amount of headers on a high load such code will fail due to big amount of objects.

Will be better to add headers in `RqWithHeader` as a map or something similar.

[2015-04-29 17:09] yegor256 commented on #224
@ikhvostenkov have you ever seen any code failing due to "big amount of objects"?

[2015-04-29 17:32] dmzaytsev commented on #211
@yegor256 Idea of watcher is sharing one watcher between many thread catchers. In case if we use multiple instances of Front(listen different ports). But this is rare case. I think it is not required.

[2015-04-29 17:38] yegor256 commented on #211
@dmzaytsev yes, it's over-engineering. let's keep it simple

[2015-04-29 17:38] ikhvostenkov commented on #224
@yegor256 I saw. You will get GC every 10ms and application will 95% of the time doing garbage collection. This applicable to the high loads not to the 3 users. http://openjdk.java.net/jeps/169

[2015-04-29 17:57] davvd commented on #184
@cyberone 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 56383385; I added **38 mins** to your account, many thanks for working with the project! The completion time here was 56383397.; there is a bonus for fast delivery (age=3243); +38 added to your rating, at the moment it is: [+158](http://www.netbout.com/b/35076?open=rating)

[2015-04-29 19:33] erimerturk commented on #11
@davvd this issue fix have already merged to master. I think it is fixed. Could you check this issue please.

[2015-04-29 20:24] yegor256 commented on #224
@ikhvostenkov the entire Takes framework is based on the idea of "many micro objects is better than few big objects"... I'm not sure this situation you just mentioned is reproducible in case of Takes. We should create some performance tests and see how it behaves. I'm 99% sure that object creation is not a bottleneck.

[2015-04-29 20:40] yegor256 commented on #221
@dmzaytsev totally agree, but I would call it `PsBasic`

[2015-04-29 20:59] davvd commented on #221
@dmzaytsev this task will get someone's attention soon

[2015-04-29 20:59] davvd commented on #221
@dmzaytsev milestone set to `1.0` (correct me if I am wrong)

[2015-04-29 21:07] davvd commented on #221
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `56387869`

[2015-04-30 03:17] popprem commented on #58
@yegor256 PR #189 done for this issue. Please close this bug.

[2015-04-30 04:28] yegor256 commented on #58
@popprem thanks!

[2015-04-30 04:28] #58 closed

[2015-04-30 05:36] dmzaytsev commented on #220
@m4solutions the PR #223 has been merged. Could you close the task please ?

[2015-04-30 06:01] krzyk opened #226 "RqMultipart doesn't provide size of file uploaded"
`RqMultipart` interface doesn't provide a way to get the real (uncompressed, without multipart headers/footers) file size uploaded by the user.
It should provide such method get each file size as it already reads the whole stream.

Basically when `RqMultipart` is used on a request which uploads a file of size e.g. 100 bytes, there has to be a method that provides a long value `100`.

[2015-04-30 06:22] yegor256 commented on #226
@krzyk how about this:

[code]

[2015-04-30 06:30] krzyk commented on #226
@yegor256 yes, that works :)

[2015-04-30 06:30] #226 closed

[2015-04-30 06:34] m4solutions commented on #220
Close

[2015-04-30 06:45] dmzaytsev commented on #220
@m4solutions you should close the issue
type a comment e.g. @dmzaytsev thank you :)
and click the button "close and comment"

[2015-04-30 06:46] dmzaytsev commented on #220
@m4solutions According to our [quality rules](http://www.teamed.io/qa.html):

please fix your message, thank you

[2015-04-30 08:12] ikhvostenkov commented on #224
@yegor256 Yes, I agree without performance tests and performance requirements make no sense, but we can calculate approximately. If you want to add 10 headers - 10 objects ```RqWithHeader``` + 10 objects of the internal class, which is created inside constructor. Header object is minimum 12 bytes - all 240 bytes + ```RqWithHeader``` contains link to object ```Request``` - this is 4x10=40 bytes in

[2015-04-30 09:37] davvd commented on #163
@yegor256 Thanks, closing it now.

[2015-04-30 09:37] #163 closed

[2015-04-30 09:39] davvd commented on #221
@cyberone it's yours,please go ahead

[2015-04-30 13:26] m4solutions commented on #220
@dmzaytsev thank you

[2015-04-30 13:26] #220 closed

[2015-04-30 15:15] cyberone commented on #106
@yegor256 three more questions:

1. Did you mean TkFork?
2. What is the diffarence between TsMethods and TkMethods?
3. May I use varargs constructor?

[2015-04-30 16:34] yegor256 commented on #106
1. yes, 2. there is no TsMethods any more, it's deprecated, only TkMethods. 3. sure

[2015-04-30 16:36] yegor256 commented on #226
@krzyk well, it works, but only with files smaller than 2Gb :(

[2015-04-30 16:51] dmzaytsev commented on #211
@yegor256 the PR #216 has been merged. Could you close the task please ? Or let me know why the delivery not accepted

[2015-04-30 18:36] davvd opened #227 "BkParallelTest.java:32-34: This unit test not implemented..."
Puzzle `220-30ba5607` in `src/test/java/org/takes/http/BkParallelTest.java:32-34` has to be resolved: This unit test not implemented but has to be. E.g. you could pass your own a ExecutorService implementation to the ctor and verify execute() calls. But feel free to try another way.... The puzzle was created by Dmitry Zaytsev on 29-Apr-2015.

If you have any technical questions, don't ask me, subm

[2015-04-30 18:36] davvd commented on #11
@yegor256 the code made here contains a puzzle `11-790c0445`, which will be resolved soon

[2015-04-30 18:36] davvd commented on #220
@m4solutions the code made here contains a puzzle `220-30ba5607`/#227, which will be resolved soon

[2015-04-30 18:42] davvd commented on #43
@lauresh you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)... -30 to your rating, your total score is [-30]

[2015-04-30 18:42] davvd commented on #206
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `56414325`. **38 mins** was added to your account, many thanks for your contribution! The task took 56414330.. age=58 hours and 2 mins, that's why a bonus here for fast delivery. added +38 to your rating, now it is equal to [+1107](http://www.netbout.com/b/35166?open=rating)

[2015-04-30 18:42] davvd commented on #227
@cyberone please proceed, it's yours

[2015-04-30 18:58] dmzaytsev opened #229 "PsGithub sends invalid POST request"
PsGithub puts POST-parameters into the request uri
[code]

instead the request body

[code]

Github accepts such request but it is undocumented feature I  believe  we should use valid POST requests

[2015-04-30 19:03] davvd commented on #227
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-04-30 19:04] davvd opened #230 "PsTwitterTest.java:42-47: Test to be implemented for..."
Puzzle `11-790c0445` in `src/test/java/org/takes/facets/auth/social/PsTwitterTest.java:42-47` has to be resolved: Test to be implemented for PsTwitter using a oauth mock library (eg:wiremock). Need to modify PsTwitter to accept url from configurations, so that url can be changed for test and real env accordingly. Response to be stubbed for both token and verify_credentials calls and assertions to

[2015-04-30 19:14] davvd commented on #138
@ndbroadbent you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)

added -30 to your rating, now it is equal t

[2015-04-30 19:14] davvd commented on #230
@ikhvostenkov please go ahead with this task,it's yours

[2015-04-30 19:24] ndbroadbent commented on #138
Hi @davvd , I'm pretty confused, this ticket should have been closed a very long time ago...

[2015-04-30 19:24] yegor256 commented on #211
@dmzaytsev looks perfect now, thanks!

[2015-04-30 19:24] #211 closed

[2015-04-30 19:25] ndbroadbent commented on #138
@yegor256 - can you please close this ticket

[2015-04-30 19:29] #138 closed

[2015-04-30 19:29] yegor256 commented on #138
@ndbroadbent closed

[2015-04-30 19:31] yegor256 commented on #224
@ikhvostenkov would you be interested to create an automated integration test and prove this theory?

[2015-04-30 19:50] dmzaytsev commented on #211
@yegor256 you are welcome :)

[2015-04-30 20:17] dmzaytsev opened #231 "FtRemote hides TkFork response status"
Access to invalid url returns 500 error instead 404
however  TkFork returns 404  (see TkFork.java:104)

[code]

[code]
I think FtRemote should return a valid response status

[2015-04-30 20:32] davvd commented on #229
@dmzaytsev I am aware of the task, give me some time to find a developer...

[2015-04-30 20:32] davvd commented on #229
@dmzaytsev since there is no milestone yet I set it to "1.0"

[2015-04-30 20:32] davvd commented on #230
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-04-30 20:41] ikhvostenkov commented on #224
@yegor256 yes, why not. Do you plan to do performance tests for whole framework?

[2015-04-30 20:43] davvd commented on #136
@lauresh you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 to your rating, your total score is [-60](http://

[2015-04-30 20:43] davvd commented on #229
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 56417115

[2015-04-30 23:44] yegor256 commented on #231
@dmzaytsev it's a bug in `BkBasic`, not in `TkFork`. `BkBasic` doesn't understand `HttpException` and treats it like any other exception, but it should treat it differently and understand it's `code()`

[2015-04-30 23:45] yegor256 commented on #224
@ikhvostenkov yes, would be great to do them, I just don't know exactly how... in an automated way.

[2015-04-30 23:47] yegor256 commented on #158
@davvd looks like we need more time here

[2015-05-01 01:13] yegor256 commented on #226
@krzyk up to `Integer.MAX_VALUE`, to be precise

[2015-05-01 03:31] cyberone commented on #106
@davvd please review https://github.com/yegor256/takes/pull/235

[2015-05-01 05:02] m4solutions commented on #219
close this, since I found https://github.com/yegor256/takes/issues/43 and https://github.com/yegor256/takes/issues/42 that address the same concerns.

[2015-05-01 05:02] #219 closed

[2015-05-01 07:05] dmzaytsev commented on #113
@davvd we need more time [see details here](https://github.com/yegor256/takes/pull/210#issuecomment-97664820)

[2015-05-01 08:22] dmzaytsev opened #236 "Take validation"
I think we need to create a new decorator which will check a original Take.
something like this
[code]
I believe this will simplify unit tests.

[2015-05-01 08:32] dmzaytsev opened #237 "PMD error in the master branch"
PMD reports the error in different PRs

seems a change has been made without the qulice check

[2015-05-01 09:27] davvd commented on #231
@dmzaytsev I am aware of the task, give me some time to find a developer...

[2015-05-01 09:27] davvd commented on #231
@dmzaytsev there is no milestone yet, so I set it to `1.0`

[2015-05-01 09:28] davvd commented on #113
@dmzaytsev sure, thanks for telling me, take your time

[2015-05-01 09:28] davvd commented on #158
@yegor256 right, take your time and thanks for informing

[2015-05-01 09:37] davvd commented on #160
@super132 check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 added to your rating, at the moment it is

[2015-05-01 09:37] davvd commented on #229
@cyberone please go ahead with this task,it's yours

[2015-05-01 09:37] davvd commented on #231
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `56430640`

[2015-05-01 10:30] cyberone commented on #229
@davvd please review https://github.com/yegor256/takes/pull/238

[2015-05-01 11:13] davvd commented on #58
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-01 11:14] davvd commented on #166
@erimerturk check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 16 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 to your rating, your total score is [-3

[2015-05-01 11:14] davvd commented on #231
@cyberone the task is yours, please go ahead

[2015-05-01 11:16] popprem commented on #11
@davvd As mentioned before PR #175 is for this issue and it has been closed already.

[2015-05-01 11:34] erimerturk commented on #166
@davvd i have already done it. It is merged. @yegor256 can you check and close it please

[2015-05-01 12:53] super132 commented on #160
@davvd , there is no bug in my codes. I will try my best to get the code review passed in my next 48 hours.

[2015-05-01 13:22] dmzaytsev opened #239 "PsLinkedin passes the request parameters to the URI."
PsLinkedin passes the request parameters to the URI instead of the body.
[code]
but should be
[code]
Linkedin accepts such request but it is undocumented feature
I think we should use valid POST requests

[2015-05-01 14:13] dmzaytsev opened #240 "Description for a Takes based REST service"
I thinking about Takes as a tool for a REST services development.
Is there any idea how to generate REST service description and keep it be equal a real REST service ?
I need in json/xml format
- uri
- method
- description
- request parameters
- response parameters
- response statuses
- authorization requirements

[2015-05-01 18:47] davvd commented on #220
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-01 19:47] yegor256 commented on #166
@erimerturk thanks!

[2015-05-01 19:47] #166 closed

[2015-05-01 19:52] erimerturk commented on #166
@davvd can you rollback negative rating please?

[2015-05-01 19:54] yegor256 commented on #166
@erimerturk here is how we understand "done": http://www.yegor256.com/2014/04/15/definition-of-done.html This means that even if you merged a pull request, it's not done yet. Only when the ticket is closed by its author the task is done. So, your negative rating here is pretty valid.

[2015-05-01 19:59] yegor256 commented on #240
@dmzaytsev interesting question, but I'm sure I understand it entirely... shall this information be provided in runtime, through some HTTP requests or how?

[2015-05-01 19:59] yegor256 commented on #240
@dmzaytsev maybe you can give an example of how it's done in other frameworks?

[2015-05-01 20:05] erimerturk commented on #166
@yegor256 i mean my pull request merged 2 days ago but you didn't close this task until now. you can see details #212 . maybe it is my fault i should remind you to close task.

[2015-05-01 20:28] yegor256 commented on #166
@erimerturk yes, it's your responsibility to make sure the ticket is closed. No matter why it's not closed, it's your fault, see http://www.teamed.io/policy.html#7

[2015-05-01 20:35] yegor256 commented on #236
@dmzaytsev the idea is correct, but the design you propose is not. We already have `org.takes.facets.hamcrest` package, where all these classes will reside. We need classes, not methods. See this: https://github.com/yegor256/takes/issues/166

[2015-05-01 20:35] #236 closed

[2015-05-01 20:35] yegor256 commented on #237
fixed already in ebb3dfbf18d729ea35450bb376ff4058979689df

[2015-05-01 20:35] #237 closed

[2015-05-01 20:36] erimerturk commented on #166
@yegor256 i see, it was blocked because of #212 .  Last question will i get payment ?

[2015-05-01 20:41] yegor256 commented on #166
@erimerturk sure, you just lost some rating points, but the task is still yours, you didn't lose it. now it's closed and you will be paid soon

[2015-05-02 02:25] yegor256 opened #242 "RqMultipart stops reading too soon"
When the input stream is rather slow, `RqMultipart` stops reading it too soon. It relies on `available()` information and once it returns zero, decides that the end of stream is reached.

[2015-05-02 04:11] yegor256 commented on #242
@rultor release, tag is `0.15.2`

[2015-05-02 04:11] rultor commented on #242
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3640-98299868)

[2015-05-02 04:21] rultor commented on #242
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3640-98299868) (took me 10min)

[2015-05-02 04:21] #242 closed

[2015-05-02 05:02] cyberone commented on #229
@dmzaytsev the corresponding PR is merged. You may close the ticket.

[2015-05-02 06:10] dmzaytsev commented on #229
@cyberone thanks

[2015-05-02 06:10] #229 closed

[2015-05-02 06:53] super132 commented on #160
@yegor256, since I have split the solutions into 3 pull requests and #232 can address this issue. Can I create another issue for dealing the case of filtering and transformation that #233 and #234 try to solve? Thanks.

[2015-05-02 10:04] davvd commented on #239
@dmzaytsev this task will get someone's attention soon

[2015-05-02 10:04] davvd commented on #239
@dmzaytsev attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-05-02 10:06] davvd opened #243 "PsGithub.java:54-56: There is currently no unit..."
Puzzle `229-401562da` in `src/main/java/org/takes/facets/auth/social/PsGithub.java:54-56` has to be resolved: There is currently no unit test in PsGithubTest that checks that the request parameters are passed to the request body, instead of the URI. Let's add this test.... The puzzle was created by cyberone on 1-May-2015.

If you have any technical questions, don't ask me, submit new tickets inste

[2015-05-02 10:07] davvd commented on #229
@dmzaytsev the code made here contains a puzzle `229-401562da`/#243, which will be resolved soon

[2015-05-02 10:14] davvd commented on #138
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-02 10:14] davvd commented on #211
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-02 10:15] davvd commented on #243
@dmzaytsev the task is yours,please go ahead

[2015-05-02 10:16] davvd commented on #239
@dmzaytsev many thanks for the report, I topped your account for 15 mins, transaction 56454744

[2015-05-02 10:43] dmzaytsev commented on #243
@davvd I will resolve the puzzle in the PR #228

[2015-05-02 10:56] davvd commented on #243
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-05-02 11:08] davvd commented on #239
@super132 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-02 16:50] dmzaytsev commented on #240
@yegor256 there is a project called [Swagger](http://swagger.io) that can dynamically generate documentation from a [Swagger-compliant API]
(https://github.com/swagger-api/swagger-spec/blob/master/versions/2.0.md)
You can see sample of [swagger server](http://petstore.swagger.io) and [the json api docs](http://petstore.swagger.io/v2/swagger.json)
I doubt we can generate such json for Takes rest se

[2015-05-03 10:50] davvd commented on #166
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-03 10:50] davvd commented on #229
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-03 12:55] cyberone commented on #227
@davvd please review https://github.com/yegor256/takes/pull/246

[2015-05-03 22:34] yegor256 opened #247 "RqLengthAware gives wrong information at available()"
`RqLengthAware` gives wrong information at `available()` call

[2015-05-03 22:34] yegor256 commented on #247
@rultor release, tag is `0.15.3`

[2015-05-03 22:35] rultor commented on #247
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3656-98552150)

[2015-05-03 22:42] rultor commented on #247
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3656-98552150) (took me 8min)

[2015-05-03 22:45] #247 closed

[2015-05-03 23:28] yegor256 opened #248 "RqMultipart.Base is too slow with big requests"
When request length is over 10Mb (see `RqMultipartTest.returnsCorrectPartLength()`), parsing takes rather big amount of time. This is what I see on my laptop:

[code]

This is too slow, I believe. Would be great to find a way to make this parsing faster.

[2015-05-04 00:42] yegor256 opened #249 "400 Bad Request in PsFacebook"
[code]

[2015-05-04 00:46] yegor256 commented on #249
@rultor release, tag is `0.15.4`

[2015-05-04 00:46] rultor commented on #249
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3658-98561873)

[2015-05-04 00:53] rultor commented on #249
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3658-98561873) (took me 7min)

[2015-05-04 00:54] #249 closed

[2015-05-04 01:31] m4solutions commented on #213
Also saw the same problem when working on my issue, you can see the logs here:
https://travis-ci.org/yegor256/takes/jobs/61089833

fails only for java 8.

[2015-05-04 02:15] yegor256 opened #250 "RsBuffered and RqBuffered"
Let's add `RsBuffered` and `RqBuffered`

[2015-05-04 02:21] yegor256 commented on #250
@rultor release, tag is `0.16`

[2015-05-04 02:22] rultor commented on #250
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3660-98568372)

[2015-05-04 02:26] rultor commented on #250
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3660-98568372) (spent 4min)

[code]

[2015-05-04 02:28] yegor256 commented on #250
@rultor release, tag is `0.16`

[2015-05-04 02:28] rultor commented on #250
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3660-98568881)

[2015-05-04 02:35] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3660-98568881) (took me 7min)

[2015-05-04 02:35] #250 closed

[2015-05-04 06:34] yegor256 commented on #240
@dmzaytsev according to my understanding of RESTful principles, the API should be self-descriptive through `INFO` requests. Say, I create a service that lets you book a room in a hotel. This is the request you should make to get a reservation:

[code]

This is the response you will get:

[code]

As I understand, this web service should be able to answer to `INFO`:

[code]

And we should expect som

[2015-05-04 07:35] dmzaytsev commented on #240
@yegor256 there are some standarts for a rest service description RSDL, WADL... But they are not so common such as WSDL for SOAP services. Btw the request method INFO not described by any standart as far as I know. But it is not so important. If we have a structured description, we can easily convert it to any format: a Swagger compatible  or a INFO-based requests or WADL, RSDL or something else.

[2015-05-04 08:40] elenavolokhova commented on #166
@davvd Looks good.

[2015-05-04 08:58] elenavolokhova commented on #58
@davvd Looks good!

[2015-05-04 09:15] davvd commented on #248
@yegor256 I will find a developer for the task soon...

[2015-05-04 09:15] davvd commented on #248
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-05-04 09:25] davvd commented on #248
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-2a91a3da

[2015-05-04 11:39] elenavolokhova commented on #220
@davvd Quality is good here!

[2015-05-04 12:00] elenavolokhova commented on #211
@davvd Quality is good.

[2015-05-04 12:10] elenavolokhova commented on #138
@davvd It looks good.

[2015-05-04 12:52] elenavolokhova commented on #229
@davvd This ticket is good

[2015-05-04 13:53] ikhvostenkov opened #251 "RqWithHeaderTest tests nothing"
[code]
Change it to
[code]
get test passed.
Reason is inside ```RqFake```
[code]

[2015-05-04 19:11] yegor256 commented on #251
@ikhvostenkov true, good catch, thanks

[2015-05-04 19:30] davvd commented on #251
@ikhvostenkov I will find a developer for the task soon...

[2015-05-04 19:30] davvd commented on #251
@ikhvostenkov attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-05-04 19:31] davvd commented on #58
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-05-04 19:31] davvd commented on #138
@elenavolokhova thank you, good quality is always good :)

[2015-05-04 19:31] davvd commented on #166
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-05-04 19:31] davvd commented on #211
@elenavolokhova thanks for the review

[2015-05-04 19:31] davvd commented on #220
@elenavolokhova thanks a lot

[2015-05-04 19:31] davvd commented on #229
@elenavolokhova thanks a lot

[2015-05-04 20:36] davvd commented on #248
@dmzaytsev the task is yours please proceed

[2015-05-04 20:36] davvd commented on #251
@cyberone please proceed, it's yours

[2015-05-04 20:36] davvd commented on #251
@ikhvostenkov thanks a lot for reporting, **15 mins** added to your acc, pmt ID `56730773`

[2015-05-04 22:35] yegor256 opened #252 "RqMultipart.Fake"
Let's create a new class `RqMultipart.Fake`, which will do what is now we're doing in `RqMultipartTest.request()` method. It will help us to create a fake request with multi-part encoded content. I think it should have this ctor:

[code]

Without such a class, the tests in `RqMultipartTest`  are very verbose and difficult to understand. Also, in real applications it would be easier to use this fak

[2015-05-04 23:02] yegor256 commented on #240
@dmzaytsev I'm thinking about something like this:

[code]

I'm not sure about the exact meta "language" here, but this is how I see the design... what you think?

[2015-05-04 23:57] yegor256 commented on #160
@super132 we don't do it like this. we use PDD instead: http://www.yegor256.com/2009/03/04/pdd.html You created too many pull requests for this single ticket. This is a wrong approach in general. You should try to write as little code as possible and mark everything that can be done later with `@todo` puzzles.

[2015-05-05 00:29] super132 commented on #160
@yegor256 I learned when should create puzzles from this ticket. I will do it in a much better way for future tickets. Thanks.

[2015-05-05 00:47] carlosmiranda commented on #130
@davvd Waiting for #225.

[2015-05-05 01:26] dmzaytsev opened #253 "broken test org.takes.rq.RqMultipartTest.consumesHttpRequest"
We have the broken test `org.takes.rq.RqMultipartTest.consumesHttpRequest` in the master branch

[2015-05-05 01:33] m4solutions commented on #253
@dmzaytsev I see the same thing in the merge of my pull request, a question @yegor256  this must be corrected before I can close my already merged pull request? or they are deal with as different issues?

[2015-05-05 02:15] super132 commented on #253
@dmzaytsev I can see that the error is caused by SocketException that Connection reset. Is there something wrong with the container that rultor runs in? I see no problem running the same tests in Appveyor.

[2015-05-05 03:49] dmzaytsev commented on #253
@m4solutions This error is caused by changes in the master branch.
Just wait while the issue  will be resolved

@super132 you see Appveyor's log before merge.
If you merge with master and run `mvn clean install` you will see the error locally

[2015-05-05 04:07] super132 commented on #253
@dmzaytsev , is the build from the Appvegor also a log before merge? It shows that it is building from a commit in master branch:

https://ci.appveyor.com/project/yegor256/takes/branch/master

[2015-05-05 04:17] yegor256 commented on #253
@dmzaytsev I can't reproduce this problem locally :( running tests multiple times, still no error

[2015-05-05 04:17] yegor256 commented on #253
@dmzaytsev can you reproduce it locally?

[2015-05-05 04:22] dmzaytsev commented on #253
@yegor256 sure
I reproduced it locally
windows 7 64 bit
5 мая 2015 г. 9:18 AM пользователь "Yegor Bugayenko" <
notifications@github.com> написал:

[2015-05-05 05:28] cyberone commented on #221
@davvd please assign someone else. Too busy.

[2015-05-05 05:47] dmzaytsev commented on #253
@yegor256 I can't reproduce the issue with another windows desktop.
seems the error depends on the jdk/os version.
I will get access to that desktop  a few hours later

[2015-05-05 08:15] dmzaytsev commented on #248
@yegor256 I see the related commit e6e0b72
Is this task completed?

[2015-05-05 08:49] ikhvostenkov commented on #253
@yegor256 @dmzaytsev I have this error randomly on linux64 win java 1.7

[2015-05-05 09:27] davvd commented on #58
@elenavolokhova thank you

[2015-05-05 09:27] davvd commented on #130
@carlosmiranda sure, let's wait for #225

[2015-05-05 09:27] davvd commented on #138
@elenavolokhova thanks a lot :)

[2015-05-05 09:27] davvd commented on #166
@elenavolokhova thanks for the review

[2015-05-05 09:27] davvd commented on #211
@elenavolokhova thanks for the review

[2015-05-05 09:27] davvd commented on #220
@elenavolokhova thanks for the review and a good remark

[2015-05-05 09:27] davvd commented on #221
@cyberone 30 points deducted from your rating

[2015-05-05 09:27] davvd commented on #221
@cyberone OK, I will try to assign someone else

[2015-05-05 09:27] davvd commented on #229
@elenavolokhova thank you

[2015-05-05 10:18] davvd commented on #252
@yegor256 I just added bug tag here

[2015-05-05 11:22] dmzaytsev commented on #195
@davvd we are wating #202

[2015-05-05 11:46] dmzaytsev commented on #253
@yegor256 what version of JDK uses Rultor ?

[2015-05-05 13:00] ikhvostenkov commented on #205
@yegor256 What is your opinion, if we use ```BufferedInputStream``` instead of ```read(byte[])```?

[2015-05-05 13:15] dmzaytsev commented on #240
@yegor256  I think it should be a Fork implementation
something like this
[code]
so we get some control over the compliance of the description and the actual service implementation.

[2015-05-05 13:24] davvd commented on #252
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-05-05 13:24] davvd commented on #58
@elenavolokhova thank you

[2015-05-05 13:24] davvd commented on #130
@carlosmiranda sure, let's wait for #225

[2015-05-05 13:24] davvd commented on #138
@elenavolokhova thank you :)

[2015-05-05 13:24] davvd commented on #166
@elenavolokhova thank you, good quality is always good :)

[2015-05-05 13:24] davvd commented on #211
@elenavolokhova thanks a lot

[2015-05-05 13:24] davvd commented on #220
@elenavolokhova many thanks

[2015-05-05 13:24] davvd commented on #221
@cyberone I deducted 30 points from your rating

[2015-05-05 13:24] davvd commented on #221
@cyberone someone else will help in this task, no problem at all

[2015-05-05 13:24] davvd commented on #229
@elenavolokhova thanks for the review

[2015-05-05 14:24] davvd commented on #58
@elenavolokhova thank you :)

[2015-05-05 14:25] davvd commented on #130
@carlosmiranda agreed, we'll wait for #225

[2015-05-05 14:25] davvd commented on #138
@elenavolokhova thank you

[2015-05-05 14:25] davvd commented on #166
@elenavolokhova thank you, good quality is always good :)

[2015-05-05 14:25] davvd commented on #211
@elenavolokhova thanks for the review

[2015-05-05 14:25] davvd commented on #220
@elenavolokhova thanks!

[2015-05-05 14:25] davvd commented on #221
@cyberone 30 points deducted from your rating

[2015-05-05 14:25] davvd commented on #221
@cyberone I will assign somebody else to this issue

[2015-05-05 14:25] davvd commented on #229
@elenavolokhova thank you, good quality is always good :)

[2015-05-05 15:24] davvd commented on #252
@erimerturk the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [t

[2015-05-05 15:25] davvd commented on #252
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-ee18df31`

[2015-05-05 15:40] Bertram25 commented on #154
@yegor256
Hi,
While looking for open tasks, I fell on this one. Isn't it done already?
Best regards,

[2015-05-05 15:48] Bertram25 commented on #213
According to Travis-ci builds, the build also fails for openJDK6:
https://travis-ci.org/yegor256/takes/jobs/61287612
First error lines:
`[ERROR] pool-1-thread-5 com.jcabi.aspects.aj.MethodValidator: JSR-303 validator thrown during initialization: java.lang.UnsupportedClassVersionError: javax/el/ExpressionFactory : Unsupported major.minor version 51.0`

[2015-05-05 15:54] davvd commented on #58
@elenavolokhova thank you, good quality is always good :)

[2015-05-05 15:54] davvd commented on #130
@carlosmiranda sure, let's wait for #225

[2015-05-05 15:55] davvd commented on #138
@elenavolokhova thank you

[2015-05-05 15:55] davvd commented on #166
@elenavolokhova thanks a lot

[2015-05-05 15:55] davvd commented on #211
@elenavolokhova thanks for the review and a good remark

[2015-05-05 15:55] davvd commented on #220
@elenavolokhova thanks for the review and a good remark

[2015-05-05 15:55] davvd commented on #221
@cyberone I deducted 30 points from your rating

[2015-05-05 15:55] davvd commented on #221
@cyberone got it, someone else will be assigned soon

[2015-05-05 15:55] davvd commented on #229
@elenavolokhova thanks for the review

[2015-05-05 15:59] Bertram25 commented on #217
@yegor256
Sorry for pinging. :) It seems @m4solutions didn't add a username as the start of his message. Thus, I'm humbly doing it now so we have an answer and maybe he can start working on this issue.
Best regards,

[2015-05-05 16:12] ndbroadbent commented on #138
@davvd I think your script is broken :)

[2015-05-05 18:02] davvd commented on #58
@elenavolokhova thank you, good quality is always good :)

[2015-05-05 18:02] davvd commented on #130
@carlosmiranda yes, right, let's wait for #225

[2015-05-05 18:02] davvd commented on #138
@elenavolokhova thanks for the review

[2015-05-05 18:02] davvd commented on #166
@elenavolokhova thank you

[2015-05-05 18:02] davvd commented on #211
@elenavolokhova thanks a lot

[2015-05-05 18:02] davvd commented on #220
@elenavolokhova thanks a lot

[2015-05-05 18:02] davvd commented on #221
@cyberone -30 points to your rating

[2015-05-05 18:02] davvd commented on #221
@cyberone I will assign somebody else to this issue

[2015-05-05 18:02] davvd commented on #229
@elenavolokhova thanks!

[2015-05-05 18:14] yegor256 commented on #217
@m4solutions yes, `RsWithType` should use do `RsWithoutHeader` first and then `RsWithHeader`

[2015-05-05 18:17] yegor256 commented on #240
@dmzaytsev I get your point, but this structure looks over-complicated to me... we're creating so many objects, but none of them are really objects. they are just holders of meta-information. all they will have is just getters. not a very nice design, in my understanding... it's better to keep it simple and object-less.  all we have to do with this meta-information is to translate it into JSON or

[2015-05-05 18:18] yegor256 commented on #154
@mgooty looks like this ticket should be closed, since it's fixed already. please close it. @Bertram25 thanks!

[2015-05-05 18:19] yegor256 commented on #205
@ikhvostenkov we already have `RqBuffered` and `RsBuffered` for that, but this is not a solution. Still, making 1000 calls to `read()` (even if through buffered input stream) is way slower than a single call to `read(byte[])`

[2015-05-05 18:23] yegor256 commented on #253
@dmzaytsev it's 1.7. you can check it yourself, just install Docker locally and run:

[code]

You will get into shell with exactly the same environment as we have in rultor builds.

[2015-05-05 18:25] dmzaytsev commented on #253
@yegor256 the error is stable on my enviroment
[code]
I see two issues:
*  the regular expression ` ".*[^a-z]name=\"([^\"]+)\".*"` (RqMultipart.java:109) doesn't extract `f-1` from the string `"Content-Disposition: form-data; name=\"f-1\""`(RqMultipartTest.java:318)
* if the name is not found so we have broken connection in FtRemote instead exception. I think it is a bug. You can easy reproduce it

[2015-05-05 18:26] yegor256 commented on #253
@dmzaytsev many thanks!

[2015-05-05 18:37] yegor256 commented on #248
@dmzaytsev no, it's not. I tried to experiment a bit, but no luck :(

[2015-05-05 18:38] dmzaytsev commented on #240
@yegor256 I guess FkRest will check the data corresponds to the description at runtime. For example if a Take returns status 500, but it is not in the description, the FkRest tell us about it.

And here this is both the  meta information and  the route instruction - accepts POST request for this Take
[code]

Yes, I agree, meta information is not necessarily stored as separate objects

[2015-05-05 18:39] yegor256 commented on #248
@dmzaytsev I actually don't know whether this problem is solvable in general or not. We have a stream of 100m bytes and we should find the first occurrence of the "boundary", which is also an array of bytes. We have to go byte by byte and compare them. There is no way around this, right? So, we have to make 100m iterations... I'm curious how this is solved in other frameworks.

[2015-05-05 18:41] dmzaytsev commented on #248
@yegor256 I think what I can do

[2015-05-05 18:42] yegor256 commented on #240
@dmzaytsev well, the idea of a "fork" is that it may return something or may return nothing. In our case, we always have to return something, since there is a "take" we're decorating and it always returns a response. So, conceptually it's wrong to call it a fork (`FkRest`), because we will always return a response. That's why I suggested to make it a "take" and call it TkExplained or TkRest if you

[2015-05-05 19:04] dmzaytsev commented on #240
Are you suggest to use one Take for all services? if now how we catch meta info from all TkExplained ?

[2015-05-05 19:09] yegor256 commented on #240
@dmzaytsev I think that each "take" has to be decorated by its own instance of `TkExplained`. how to create a "directory" of all takes? Maybe there has to be a single entry point that returns the description of itself and then a list of other resources available beneath it... we should find out how it's done in RESTful world usually. let's not guess.

[2015-05-05 19:11] dmzaytsev commented on #42
@davvd we are waiting for #253

[2015-05-05 19:25] dmzaytsev commented on #113
@yegor256 the PR #210 has been merged.
please close the task

[2015-05-05 20:21] yegor256 commented on #113
@dmzaytsev thanks!

[2015-05-05 20:21] #113 closed

[2015-05-06 01:19] cyberone commented on #221
@davvd I've got 5 times -30 to my rating, refund 4 of them please.

[2015-05-06 01:34] yegor256 commented on #253
@davvd this is urgent

[2015-05-06 04:31] super132 commented on #253
@yegor256 , just an update to this issue. I found that a PR #113 has been merged by Rultor successfully. Please check the log below:

http://www.rultor.com/t/3570-99185933

[2015-05-06 06:59] dmzaytsev opened #254 "RqMultipart.Base.make() leaves temporary files until the VM terminates"
RqMultipart.Base.make() uses deleteOnExit() option for temporary files. It means such files be deleted when the virtual machine terminates. We will get a large number of temporary files with heavy use applications.
I believe we need to use another method for deletion these temporary files. Since temp files in this method uses as buffer for a large requests we could try collect names and force to d

[2015-05-06 07:11] yegor256 commented on #254
@dmzaytsev totally agree, thanks for catching this

[2015-05-06 07:20] erimerturk commented on #166
@davvd when will you pay for this  ticket? It was already closed.

[2015-05-06 10:44] davvd commented on #213
@erimerturk this task will get someone's attention soon

[2015-05-06 10:44] davvd commented on #217
@yegor256 this task will get someone's attention soon

[2015-05-06 10:44] davvd commented on #254
@dmzaytsev I will find a developer for the task soon...

[2015-05-06 10:44] davvd commented on #253
@dmzaytsev I am aware of the task, give me some time to find a developer...

[2015-05-06 10:44] davvd commented on #213
@erimerturk since there is no milestone yet I set it to "1.0"

[2015-05-06 10:44] davvd commented on #217
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-05-06 10:44] davvd commented on #253
@dmzaytsev I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-05-06 10:44] davvd commented on #254
@dmzaytsev there is no milestone yet, so I set it to `1.0`

[2015-05-06 10:44] davvd commented on #42
@dmzaytsev yes, waiting for #253

[2015-05-06 10:44] davvd commented on #58
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-05-06 10:45] davvd commented on #138
@elenavolokhova thanks!

[2015-05-06 10:45] davvd commented on #166
@elenavolokhova thanks for the review and a good remark

[2015-05-06 10:45] davvd commented on #211
@elenavolokhova thank you, good quality is always good :)

[2015-05-06 10:45] davvd commented on #220
@elenavolokhova thanks for the review and a good remark

[2015-05-06 12:34] davvd commented on #221
@cyberone -30 points to your rating

[2015-05-06 12:34] davvd commented on #221
@cyberone I will ask somebody else to pick this up

[2015-05-06 12:34] davvd commented on #229
@elenavolokhova thanks a lot

[2015-05-06 15:27] erimerturk commented on #252
@yegor256 why do you need Request on Fake constructor. Is it acceptable for you without request on constuctor ?

[code]
If you need request, can you explain why do you need ?

[2015-05-06 18:17] dmzaytsev commented on #42
@yegor256 maybe will be better to mark `@ignore` RqMultipartTest.consumesHttpRequest?
until the bug will be fixed

[2015-05-06 19:16] #154 closed

[2015-05-06 20:04] yegor256 commented on #243
@davvd waiting for #253

[2015-05-06 20:59] davvd commented on #253
@yegor256 sure, thanks, I added "urgent" tag to it

[2015-05-06 23:34] yegor256 commented on #42
@dmzaytsev you're right, see 77e785e

[2015-05-06 23:52] yegor256 commented on #252
@erimerturk well, I may want to do this:

[code]

[2015-05-07 02:41] dmzaytsev commented on #42
@yegor257 the PR #228 has been merged. Please close the task

[2015-05-07 02:44] dmzaytsev commented on #243
@davvd the #PR 228 has been merged. Please close the task

[2015-05-07 05:32] yegor256 commented on #42
@dmzaytsev thanks!

[2015-05-07 05:32] #42 closed

[2015-05-07 06:35] dmzaytsev commented on #240
@yegor256 another question how we can describe the payload ? It maybe json or xml.
The usual approach for this - to create a class which describes the model.
But what about if we generate XML/JSON on the fly
e.g.
[code]

[2015-05-07 06:38] dmzaytsev commented on #240
@yegor256 btw the same way we can make a SOAP service, not only REST

[2015-05-07 08:22] dmzaytsev opened #256 "Cache service for internal usage"
I believe would be useful to create a simple cache service for internal usage.

* Cache should allow to set a storage policy. Objects smaller than the specified size should be stored in memory, and for larger objects  should use temporary files. I understand objects must be serializable in this case, but basically I talking about streams and channels.
* Cache should allow to set an eviction policy

[2015-05-07 08:51] dmzaytsev opened #257 "RqWithHeader/RqWithHeaders optimization"
I believe will be better move the implementation from RqWithHeader to RqWithHeaders and call RqWithHeaders from RqWithHeader.
I think it will be more efficient.

[2015-05-07 09:21] cyberone commented on #106
@yegor256 close please. The PR is merged.

[2015-05-07 10:04] erimerturk commented on #252
@yegor256 Should it implement Request or RqMultipart interface ? Will you pass it to RqMultipart.Base(...) or use it directly as RqMultipart request ?

[2015-05-07 10:22] davvd commented on #243
@yegor256 right, let's wait for #253

[2015-05-07 11:07] davvd commented on #113
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-07 11:36] dmzaytsev opened #258 "CORS decorator"
At the moment Takes doesn't support [CORS](http://www.w3.org/TR/cors/)
I believe a CORS decorator has to be. It allows browser's request to Takes-based resources on another domain.

I think we can start from this
[code]
* If the `Origin` header not present in the request skip all steps below.
* If the `Origin` header is present in the request and the domains list is empty add a single `Access-Cont

[2015-05-07 12:53] dmzaytsev opened #259 "Hamcrest matcher to verify a request parameter"
Takes doesn't has a Hamcrest matcher to verify a request parameter. I think it has to be.
Both query and form parameters need to be verified.

something like this
[code]

[2015-05-07 13:07] dmzaytsev opened #260 "Hamcrest matcher to verify a header"
Takes doesn't has a Hamcrest matcher to verify a header. I think it has to be.
Both request and response headers need to be verified.

something like this
[code]

<hr id='w'>

 - ~~`260-1c71c6a2`/#412~~ (by Dragan Bozanovic)
 - `260-de67913e`/#413 (by Dragan Bozanovic)

[2015-05-07 17:37] yegor256 commented on #258
@dmzaytsev good idea, thanks... I would call it `TkCORS` though

[2015-05-07 17:38] yegor256 commented on #259
@dmzaytsev right, thanks

[2015-05-07 17:39] yegor256 commented on #252
@erimerturk good question... I think `RqMultipart.Fake` should implement `RqMultipart`

[2015-05-07 17:48] yegor256 commented on #106
@cyberone thanks!

[2015-05-07 17:48] #106 closed

[2015-05-07 17:50] yegor256 commented on #256
@dmzaytsev where will this be used? I'm not sure I understand your idea here....

[2015-05-07 18:28] davvd commented on #257
@dmzaytsev this task will get someone's attention soon

[2015-05-07 18:28] davvd commented on #258
@dmzaytsev we will find someone to do this task, soon

[2015-05-07 18:28] davvd commented on #259
@dmzaytsev I am aware of the task, give me some time to find a developer...

[2015-05-07 18:28] davvd commented on #260
@dmzaytsev I will ask someone to take care of this task soon

[2015-05-07 18:28] davvd commented on #257
@dmzaytsev I set milestone here to `1.0`, let me know if it is wrong

[2015-05-07 18:28] davvd commented on #258
@dmzaytsev I set milestone here to `1.0`, let me know if it is wrong

[2015-05-07 18:28] davvd commented on #259
@dmzaytsev I set milestone here to `1.0`, let me know if it is wrong

[2015-05-07 18:28] davvd commented on #260
@dmzaytsev I set milestone here to `1.0`, let me know if it is wrong

[2015-05-07 18:38] dmzaytsev commented on #256
@yegor256 mostly this idea was inspired by RqMultipart.Base. In this class the cache has implemented manually and might be improved. At the moment all parts we save into the files but small parts we can store in memory and average response time will be smaller, isn't it ?
Second reason is your article "Constructors Must Be Code-Free",  we have some classes with heavy load ctors e.g. RqMultipart.Ba

[2015-05-07 18:47] dmzaytsev commented on #256
@yegor256 yet we can postpone this idea
this is not the priority task as far I understand

[2015-05-07 18:50] yegor256 commented on #256
@dmzaytsev yes, now I understand. But we should not ask for a cache implementation in this ticket, but for a cached classes implementation. For example: `RqForm.Cached`. This class will have to use some caching layer and we'll implement it. So, the caching is just a tool, the real goal is that `RqForm.Cached` class.

[2015-05-07 19:00] dmzaytsev commented on #256
@yegor256 I have understood the idea.
I close the task.
Thanks!

[2015-05-07 19:00] #256 closed

[2015-05-07 19:22] yegor256 commented on #256
@dmzaytsev feel free to create tickets for that `*.Cached` classes, I like the idea

[2015-05-07 19:40] dmzaytsev commented on #256
@yegor256  e.g. if we want  make lightweight ctor in the RqForm.Base. We need cached  RqForm.Base.param() and RqForm.Base.names()
what should be in RqForm.Cached ?

[2015-05-07 19:43] yegor256 commented on #256
@dmzaytsev it will decorate an instance of `RqForm

[2015-05-07 19:51] dmzaytsev commented on #256
@yegor256 I understand it,  but where the cache will be implemented ?
I guess in `org.takes.misc` am i right?
we shall create ticket for RqForm.Cached and make puzzle for org.takes.misc.Cache ?

[2015-05-07 19:56] dmzaytsev commented on #243
@davvd you can see pull request #228 that is fixing this issue, if that's all here please close.

[2015-05-08 00:56] cyberone commented on #227
@davvd reassign please

[2015-05-08 01:26] yegor256 commented on #227
@davvd assign someone else here pls

[2015-05-08 01:34] cyberone commented on #231
@davvd please review https://github.com/yegor256/takes/pull/261

[2015-05-08 03:08] yegor256 commented on #256
@dmzaytsev I think we should discuss this case by case, in other tickets

[2015-05-08 05:30] elenavolokhova commented on #115
@yegor256 I still need your acknowledgement to close this ticket.

[2015-05-08 05:36] yegor256 commented on #115
@elenavolokhova yes, you're right, I did it wrong. I understand. thanks.

[2015-05-08 05:40] elenavolokhova commented on #115
@davvd Quality is acceptable.

[2015-05-08 05:46] elenavolokhova commented on #113
@davvd It looks good!

[2015-05-08 09:08] davvd commented on #115
@elenavolokhova thanks for the review, we'll try better next time

[2015-05-08 09:08] davvd commented on #113
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-05-08 09:08] davvd commented on #227
@cyberone deducted 30 from your rating :(

[2015-05-08 09:08] davvd commented on #227
@cyberone right, I'll try to find someone else for this task

[2015-05-08 09:08] davvd commented on #227
@yegor256 -30 points to your rating :(

[2015-05-08 09:08] davvd commented on #227
@yegor256 got it, someone else will be assigned soon

[2015-05-08 09:38] ikhvostenkov commented on #130
@yegor256 Can we close this? Fix has been successfully merged.

[2015-05-08 09:58] dmzaytsev commented on #248
@davvd  please find someone to do code review PR #255

[2015-05-08 10:52] davvd commented on #42
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-08 14:26] erimerturk commented on #11
@yegor256 can you review and close it , if it is acceptable ?

[2015-05-08 16:35] dmzaytsev opened #263 "RqForm.Base is unextendable"
At the moment RqForm.Base is hard to extend. Its constructor contains more than 20 lines code. I believe we shall move the code from the constructor into the class methods. Also we shall cache the class methods to prevent performance impact when we will re-use them.

[2015-05-08 17:08] ikhvostenkov commented on #205
@yegor256 I've tried solution with ```read(byte[])``` and faced with problem in ```RqLive``` class. If we read stream in array and parse headers, after that we pass stream to ```body()```, but stream is already read and closed, so after that in ```RqPrint``` ```printBody``` we are not able to read stream. What will be solution here?

[2015-05-08 18:45] davvd commented on #106
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-08 19:02] yegor256 commented on #205
@ikhvostenkov that's a good question, but it's your ticket :) find a solution and suggest it.

[2015-05-08 19:02] yegor256 commented on #263
@dmzaytsev agree, thanks

[2015-05-08 19:03] yegor256 commented on #11
@erimerturk thanks

[2015-05-08 19:03] #11 closed

[2015-05-08 19:05] yegor256 commented on #130
@ikhvostenkov thanks!

[2015-05-08 19:05] #130 closed

[2015-05-08 19:24] eg04lt3r commented on #194
@davvd please, close this task if ok.

[2015-05-08 19:37] eg04lt3r commented on #105
@yegor256 please, close task if ok.

[2015-05-08 20:37] davvd commented on #263
@dmzaytsev I will ask someone to take care of this task soon

[2015-05-08 20:37] davvd commented on #263
@dmzaytsev milestone set to `1.0` (correct me if I am wrong)

[2015-05-08 20:39] davvd opened #264 "0.17"
Please, publish a new release **0.17** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-05-08 21:31] yegor256 commented on #105
@eg04lt3r thanks!

[2015-05-08 21:31] #105 closed

[2015-05-08 21:38] yegor256 commented on #194
@eg04lt3r this task can be closed only by @ikhvostenkov , see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#1.-keep-it-one-on-one

[2015-05-08 22:37] yegor256 opened #265 "extra ctors for RsForward"

[2015-05-08 22:40] yegor256 commented on #265
@rultor release, tag is `0.16.1`

[2015-05-08 22:40] rultor commented on #265
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3716-100387149)

[2015-05-08 22:50] rultor commented on #265
Release `0.16.1` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-08 22:50] rultor commented on #265
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3716-100387149) (took me 9min)

[2015-05-08 23:02] #265 closed

[2015-05-09 00:13] yegor256 opened #266 "HTTP body can't be consumed without Content-Length"

[2015-05-09 00:18] yegor256 commented on #266
@rultor release, tag is `0.16.2`

[2015-05-09 00:19] rultor commented on #266
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3717-100397628)

[2015-05-09 00:28] #266 closed

[2015-05-09 00:30] rultor commented on #266
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3717-100397628) (took me 11min)

[2015-05-09 06:31] elenavolokhova commented on #42
@davvd Quality is good here.

[2015-05-09 07:07] elenavolokhova commented on #106
@cyberone Do I understand correctly and issue description still states that deprecated methods should be implemented? If it is so, please, fix it.

[2015-05-09 07:12] eg04lt3r commented on #194
@ikhvostenkov please,  close the task

[2015-05-09 08:47] cyberone commented on #106
@elenavolokhova I have no permission to edit an issue. Ask @yegor256 please.

[2015-05-09 09:21] cyberone commented on #251
@davvd please review https://github.com/yegor256/takes/pull/267

[2015-05-09 10:06] davvd commented on #264
@yegor256 since the ticket has no milestone I set it to 1.0

[2015-05-09 10:07] davvd commented on #42
@elenavolokhova thanks a lot :)

[2015-05-09 10:16] davvd commented on #42
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 56893949. I just added **1 hour** to your account, many thanks for your contribution.. 56893952 spent here. age=2 mins, that's why a bonus here for fast delivery. added +60 to your rating, now it is equal to [+1355](http://www.netbout.com/b/35166?open=rating)

[2015-05-09 10:16] davvd commented on #58
@popprem just added 10 mins to @elenavolokhova (for QA), payment ID is `56810997`

[2015-05-09 10:16] davvd commented on #113
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `56870843`... **38 mins** added to your account (payment number `56870848`), many thanks for your contribution! 278 hours and 1 min spent here.... age=2970, that's why a bonus here for fast delivery... +38 to your rating, your total score is [+1250](http://www.netbout.com/b/35166?open=rating)

[2015-05-09 10:16] davvd commented on #115
@yegor256 I added 10 mins to @elenavolokhova (for QA review) in transaction 56869543; I added **45 mins** to your account, many thanks for working with the project! The completion time here was 000-1f78195a.; there is a bonus for fast delivery (m=1470); +45 added to your rating, current score is: [+8814](http://www.netbout.com/b/35008?open=rating)

[2015-05-09 10:16] davvd commented on #138
@ndbroadbent I added 10 mins to @elenavolokhova (for QA review) in transaction 56813626... thanks, I just added **1 hour** to your account, payment `AP-2DC814547C481642K`, 370 hours and 10 mins spent... there is a bonus for fast delivery (age=1)... added +60 to your rating, now it is equal to [+30](http://www.netbout.com/b/35281?open=rating)

[2015-05-09 10:16] davvd commented on #166
@erimerturk just added 10 mins to @elenavolokhova (for QA), payment ID is `56847006`. Thanks a lot, I just topped your account for **1 hour**, transaction ID `AP-2R596474XB221070H`, total time was 407 hours and 42 mins. there is a bonus for fast delivery (age=2). +60 added to your rating, current score is: [+30](http://www.netbout.com/b/35280?open=rating)

[2015-05-09 10:16] davvd commented on #211
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 56854433

Thanks a lot, I just topped your account for **30 mins**, transaction ID `56854444`, total time was 80 hours and 28 mins

+30 added to your rating, at the moment it is: [+1212](http://www.netbout.com/b/35166?open=rating)

[2015-05-09 10:16] davvd commented on #213
@dmzaytsev the task is yours plz proceed

[2015-05-09 10:16] davvd commented on #217
@bertram25 please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-09 10:16] davvd commented on #220
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 56875162. Thanks for your contribution, **45 mins** was added to your account, payment ID is `56875171`, 31 hours and 48 mins spent total. the bonus for fast delivery (m=1908). +45 added to your rating, at the moment it is: [+1295](http://www.netbout.com/b/35166?open=rating)

[2015-05-09 10:16] davvd commented on #229
@cyberone I added 10 mins to @elenavolokhova (for QA review) in transaction 56878068... I just added **45 mins** to your account, many thanks for your contribution.. 56878073 spent here... m=1468, that's why a bonus here for fast delivery... +45 added to your rating, current score is: [+83](http://www.netbout.com/b/35076?open=rating)

[2015-05-09 10:16] davvd commented on #260
@ekondrashev it's yours,please go ahead

[2015-05-09 10:33] ekondrashev commented on #260
@davvd could you please let me know the budget here?

[2015-05-09 10:50] davvd commented on #251
@cyberone thanks, I'll take a look

[2015-05-09 11:02] ekondrashev commented on #260
@dmzaytsev is it `Map.Entry` used in the original code snippet?

[2015-05-09 11:03] davvd commented on #257
@louzar this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-05-09 11:03] davvd commented on #253
@bertram25 This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [

[2015-05-09 11:03] davvd commented on #254
@louzar please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-05-09 11:03] davvd commented on #258
@zshamrock please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-05-09 11:03] davvd commented on #259
@yamstranger the task is yours plz proceed

[2015-05-09 11:03] davvd commented on #263
@zshamrock it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-05-09 11:12] davvd commented on #254
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 56894648

[2015-05-09 11:19] dmzaytsev commented on #260
@ekondrashev yes, it is `Map.Entry`
I believe it is  the closest analogue for a `Pair`

[2015-05-09 11:58] davvd opened #268 "RsWithHeaders.java:55-60: To implement the concatenation and..."
Puzzle `160-f5eebf68` in `src/main/java/org/takes/rs/RsWithHeaders.java:55-60` has to be resolved: To implement the concatenation and transformation with conjunction of Concat class and Transform class to get rid of the use of List.add() in the anonymous Response class head() method. That is, we are going to do something like this: return new Concat(res.head(), new Transform(headers, new Trim())).

[2015-05-09 11:58] davvd commented on #28
@yegor256 the last puzzle `28-4e517112`/#119 solved

[2015-05-09 11:58] davvd commented on #160
@yegor256 there is a puzzle in this code `160-f5eebf68`/#268, we'll resolve it later

[2015-05-09 12:13] davvd commented on #111
@m4solutions the task is your hands for the last 16 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 to your rating, your total score is [+0]

[2015-05-09 12:51] davvd commented on #268
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-05-09 12:56] ekondrashev commented on #260
@dmzaytsev perhaps you meant Map<String, String> to be expected as ctor argument, since hamcrest `Matchers` class contains only `hasEntry` method returning `Matcher` parametrised with `Map` class.

Could you please confirm?

[2015-05-09 13:03] davvd commented on #253
@dmzaytsev thanks for reporting! I topped your account for 15 mins, transaction 56895756

[2015-05-09 13:35] dmzaytsev commented on #260
@ekondrashev you're right we could use this matcher like this
[code]

[2015-05-09 13:47] dmzaytsev commented on #213
@erimerturk I believe it's outside of scope of Takes
There is a qulice issue. It would be better to create a ticket [here](https://github.com/teamed/qulice)

https://travis-ci.org/yegor256/takes/jobs/60197872 line 3672

@yegor256 what do you think ?

[2015-05-09 13:51] dmzaytsev commented on #243
@davvd please close the task

[2015-05-09 14:16] davvd commented on #136
@lauresh the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html); -60 to your rating, your total score is [-180](http://www.netbout.com/b/35288?open=rating)

[2015-05-09 14:16] davvd commented on #174
@m4solutions you're holding this ticket for 18 days already. If it is not finished (and closed) in the next 24 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck); as a reminder, don't forget to remove the `

[2015-05-09 14:28] marcuss commented on #174
sorry @davvd I didn't know how to manage the workflow on this, because this ticket is still open since there is another ticket Issues https://github.com/yegor256/takes/issues/199  asking for details on how to finish this one, @yegor256 is assigned to that one.

if this ticket should be close meanwhile, please do it.

[2015-05-09 14:30] marcuss commented on #111
@davvd again, not sure how is the managed cycle, this task is already merged, and I dont have permission to close it.

@yegor256 could please close it.

[2015-05-09 19:10] yegor256 commented on #260
@dmzaytsev @ekondrashev I think in this case we should call it `HmRqHeaders`

[2015-05-09 19:19] yegor256 commented on #111
@marcuss in which pull request was it fixed? keep in mind that every time you fix a problem, it's a good practice to inform the ticket author about the PR it was solved in. also, see this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-05-09 19:20] yegor256 commented on #111
@marcuss I'm closing, but still expecting you to post a message here with the number of PR

[2015-05-09 19:20] #111 closed

[2015-05-09 19:23] yegor256 commented on #213
@dmzaytsev I think you're right, feel free to create a ticket in qulice

[2015-05-09 19:26] dmzaytsev commented on #213
@yegor256 ok, I  will create a ticket.
what shall we do with this task ?

[2015-05-09 19:28] yegor256 commented on #213
@dmzaytsev put it on hold, until that ticket in qulice is resolved

[2015-05-09 19:31] yegor256 commented on #106
@cyberone keep in mind that you, as a performer of the ticket, is responsible for its quality. So, it's your job to ask me (ticket reporter) to fix the description. That's why @elenavolokhova is asking you. You should ask me and make sure I do the necessary fixes.

[2015-05-09 19:41] dmzaytsev commented on #195
@yegor256 The issue resolved in  PR #202
please close the task

[2015-05-09 19:45] dmzaytsev commented on #213
@davvd we are waiting teamed/qulice#431

[2015-05-09 19:47] yegor256 commented on #213
@davvd put this on hold pls, until that qulice issue is solved

[2015-05-09 19:47] yegor256 commented on #195
@dmzaytsev thanks!

[2015-05-09 19:49] davvd commented on #195
@yegor256 please don't close it.. @ikhvostenkov could you please close it, if it is done?

[2015-05-09 19:51] dmzaytsev commented on #260
@yegor256 but an instance of HmRqHeader could check one header only. Isn't it ?

[2015-05-09 20:02] dmzaytsev commented on #195
@yegor256 my mistake, it should be addressed to @ikhvostenkov

 @ikhvostenkov #202 is fixing this issue, please close  if that's all here, thank you

[2015-05-09 20:48] davvd commented on #213
@yegor256 of course, take your time

[2015-05-09 20:59] davvd commented on #222
@yegor256 Closed, done, thanks all

[2015-05-09 20:59] #222 closed

[2015-05-09 20:59] davvd commented on #11
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-09 20:59] davvd commented on #130
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-09 21:00] davvd commented on #136
@yamstranger please proceed,it's yours

[2015-05-09 21:00] davvd commented on #221
@celezar could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-05-09 21:00] davvd commented on #268
@ekondrashev the task is yours plz proceed

[2015-05-09 21:35] yegor256 commented on #260
@dmzaytsev yes, if we call it `HmRqHeader`, it should check one header. but this example checks all headers:

[code]

I can even use it like this:

[code]

[2015-05-09 22:49] yegor256 commented on #43
@davvd what is the status here?

[2015-05-09 22:57] yegor256 opened #271 "RsXSLT doesn't understand URI suffix"
`RsXSLT` doesn't understand URI suffix

[2015-05-09 23:00] yegor256 commented on #271
@rultor release, tag is `0.16.3`

[2015-05-09 23:00] rultor commented on #271
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3722-100558592)

[2015-05-09 23:08] yegor256 commented on #271
@rultor stop

[2015-05-09 23:08] rultor commented on #271
@yegor256 OK, I'll try to stop current task.

[2015-05-09 23:47] rultor commented on #271
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3722-100559316) (spent 47min)

[code]

[2015-05-09 23:48] yegor256 commented on #271
@rultor release, tag is `0.16.4`

[2015-05-09 23:48] #271 closed

[2015-05-09 23:50] rultor commented on #271
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3722-100563833)

[2015-05-10 00:01] rultor commented on #271
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3722-100563833) (took me 11min)

[2015-05-10 02:05] yegor256 opened #272 "RsGzip doesn't change Content-Length"
`RsGzip` doesn't change `Content-Length` header in response

[2015-05-10 02:16] yegor256 commented on #272
@rultor release, tag is `0.16.5`

[2015-05-10 02:16] #272 closed

[2015-05-10 02:16] rultor commented on #272
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3725-100573664)

[2015-05-10 02:21] cyberone commented on #106
@yegor256 fix the description please.

[2015-05-10 02:23] rultor commented on #272
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3725-100573664) (took me 7min)

[2015-05-10 02:34] yegor256 opened #273 "RsGzip consumes response in ctor"
`RsGzip` should NOT consume response in ctor

[2015-05-10 02:48] super132 commented on #160
@yegor256 , PR #232 #233 and #234 fix this issue. Please check and close this ticket. Thanks.

[2015-05-10 02:52] yegor256 commented on #273
@rultor release, tag is `0.16.6`

[2015-05-10 02:52] rultor commented on #273
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3726-100576056)

[2015-05-10 02:59] rultor commented on #273
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3726-100576056) (took me 7min)

[2015-05-10 03:03] #273 closed

[2015-05-10 03:20] yegor256 commented on #160
@super132 thanks!

[2015-05-10 03:20] #160 closed

[2015-05-10 03:21] yegor256 commented on #106
@cyberone fixed

[2015-05-10 03:38] yegor256 opened #274 "PsGithub is broken"
`PsGithub` is broken

[2015-05-10 03:40] yegor256 commented on #274
@rultor release, tag is `0.16.7`

[2015-05-10 03:40] rultor commented on #274
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3727-100580412)

[2015-05-10 03:47] rultor commented on #274
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3727-100580412) (took me 7min)

[2015-05-10 03:48] #274 closed

[2015-05-10 05:13] marcuss commented on #111
@yegor256 I want to inform you that I read the principles of bug tracking.

Also, the pull request that fixed this was:

https://github.com/yegor256/takes/pull/218

[2015-05-10 05:15] marcuss commented on #174
@davvd as my understanding this ticket should not be assigned to me, instead should be unassigned, or assigned to @yegor256  until this  https://github.com/yegor256/takes/issues/199 other issue is solved.

[2015-05-10 05:38] yegor256 commented on #174
@davvd assign me to this pls

[2015-05-10 06:07] ekondrashev commented on #260
@yegor256 What do you mean by 'checks all headers'? In you example you are checking only one header. Could you please provide example usage for checking all headers?

From my side - current implementation (#269) checks only one pair of key/value. This is related to the fact that for checking all headers we need to expect at `HmRqHeaders` constructor `Map<String, List<String>>` but not `Map<String,

[2015-05-10 06:51] ekondrashev opened #275 "160-f5eebf68 puzzle outdated and does not take into account validation"
The puzzle was created by super132 on 8-May-2015.
`160-f5eebf68` puzzle for `RsWithHeaders` described at #268 states:

[code]
but
* the code no longer uses List.add, instead it iterates over each header and creates decorator `RsWithHeader` instance
* proposed resolution does not take into account validation that is encapsulated in `RsWithHeader` class

[2015-05-10 06:53] ekondrashev commented on #268
@davvd this task is blocked by #275

[2015-05-10 07:45] erimerturk commented on #213
@dmzaytsev i agree to you, it is about qulice.

[2015-05-10 07:49] erimerturk commented on #213
@davvd will you pay for this bug ? i think, it is releated to [bugs wellcome] (http://www.yegor256.com/2014/04/13/bugs-are-welcome.html).

[2015-05-10 07:59] dmzaytsev commented on #260
@yegor256 @ekondrashev  well I agree `Matcher<? extends Map<String,String>>` isn't a very good choice.

let's try this
[code]

According [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2)

I believe `HmRqHeader` should parse the header and pass Iterable with its values  to the matcher.

What do you think ?

[2015-05-10 08:01] yegor256 commented on #260
@dmzaytsev I would rather work with a map...

[2015-05-10 08:02] yegor256 commented on #213
@erimerturk definitely

[2015-05-10 08:02] yegor256 commented on #213
@davvd pls add extra 15 mins to @erimerturk

[2015-05-10 08:05] dmzaytsev commented on #260
@yegor256  what is the benefit a map in this case?
We can also check only one header at same time?

[2015-05-10 08:09] dmzaytsev commented on #260
@yegor256 Perhaps would be better to create a type e.g. `org.takes.misc.Pair<K,V>`
and to use `public HmRqHeader(Iterable<Matcher<Pair> mtchr)`
How about this?

[2015-05-10 09:30] davvd commented on #174
@yegor256 right, this task is yours, whoever worked before, please stop right now

[2015-05-10 09:30] davvd commented on #213
@yegor256 15 mins extra was just paid to @erimerturk, transaction `AP-2B936415TY740462G`

[2015-05-10 09:30] davvd commented on #268
@ekondrashev sure, we'll wait for #275

[2015-05-10 09:43] davvd commented on #43
@dmzaytsev it's yours, please go ahead

[2015-05-10 10:54] davvd commented on #105
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-10 12:36] davvd commented on #158
@yegor256 I am closing it, thanks all

[2015-05-10 12:36] #158 closed

[2015-05-10 12:36] davvd commented on #243
@yegor256 Closing..

[2015-05-10 12:36] #243 closed

[2015-05-10 12:36] davvd commented on #158
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-10 12:36] davvd commented on #243
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-10 13:35] super132 commented on #275
@ekondrashev right, the puzzle was created to solve an issue in the old code which doe a trimming action. However, in the latest code, it is now using `RsWithHeader` to do header concatenation. I think this puzzle is not longer valid.

[2015-05-10 13:35] cyberone commented on #106
@elenavolokhova re-check please

[2015-05-10 17:53] ekondrashev commented on #275
@super132 thanks for your comments. I agree that the puzzle is no longer valid and can be safely removed.

@davvd please, close this issue.

[2015-05-10 18:56] yegor256 commented on #227
@davvd where we are here?

[2015-05-10 19:37] yegor256 commented on #275
@ekondrashev I'm closing it

[2015-05-10 19:37] #275 closed

[2015-05-10 20:07] davvd commented on #111
@m4solutions I don't see any messages from you above, not sure if there was actual contribution (correct me if I'm wrong)

[2015-05-10 20:07] davvd commented on #268
@yegor256 we waited for #275, it is closed already

[2015-05-10 20:07] davvd commented on #227
@komaz the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-05-10 20:15] davvd commented on #217
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-007e8d89

[2015-05-10 20:47] davvd opened #276 "RsWithStatus.java:97-101: To implement concatenation and selection..."
Puzzle `160-fc7f658c` in `src/main/java/org/takes/rs/RsWithStatus.java:97-101` has to be resolved: To implement concatenation and selection with the conjunction Concat and Select class to get rid of List.add() between line 118 to line 127. That is, replacing the block using something like this: return new Concat(head,new Select(origin.head(),new FilterFirstCond()))... The puzzle was created by sup

[2015-05-10 21:00] davvd commented on #107
@ikhvostenkov you're working with this issue for 15 days already; -30 added to your rating, current score is: [+61](http://www.netbout.com/b/35232?open=rating)

[2015-05-10 21:00] davvd commented on #276
@dmzaytsev the task is yours, please go ahead

[2015-05-10 21:01] davvd commented on #213
@erimerturk thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-6UX74103FB0627624`

[2015-05-10 21:18] ikhvostenkov commented on #107
@davvd PR has been accepted 5 days ago, but due to https://github.com/yegor256/takes/issues/253 merge is not possible. We need to wait until https://github.com/yegor256/takes/issues/253 will be fixed.

[2015-05-10 22:20] yegor256 commented on #107
@ikhvostenkov the problem in #253 was suppressed by `@Ignore` two days ago. we can merge now without problems

[2015-05-10 22:24] yegor256 commented on #260
@dmzaytsev I see three scenarios:

1. assert that header is not present at all
2. assert that header has one value
3. assert that header has many values

How would you do them all with `HmRqHeader`?

[2015-05-10 23:22] yegor256 opened #277 "TkForward doesn't catch forward from head()/body()"
`TkForward` doesn't catch forward from `head()`/`body()`

[2015-05-10 23:28] yegor256 commented on #277
@rultor release, tag is `0.16.8`

[2015-05-10 23:29] rultor commented on #277
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3736-100715196)

[2015-05-10 23:39] rultor commented on #277
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3736-100715196) (took me 10min)

[2015-05-10 23:44] #277 closed

[2015-05-11 00:16] marcuss commented on #111
@davvd the thing is that I changed names, I was @m4solutions, I changed that this week

[2015-05-11 00:40] yegor256 commented on #111
@marcuss next time, please inform us about it in advance :)

[2015-05-11 00:40] yegor256 commented on #111
@davvd please add extra 30 mins to @marcuss

[2015-05-11 01:17] yegor256 opened #278 "Pass.enter() must return Opt"
`Pass.enter()` must return `Opt`, instead of `Iterator`, let's refactor it.

[2015-05-11 03:40] super132 commented on #239
@yegor256 PR #245 fixes this issue and merged successfully. Would you please close this ticket? Thanks.

[2015-05-11 04:13] yegor256 commented on #239
@super132 thanks!

[2015-05-11 04:57] elenavolokhova commented on #106
@yegor256 @cyberone Thank you!

[2015-05-11 04:57] elenavolokhova commented on #106
@davvd Quality is acceptable here.

[2015-05-11 04:58] dmzaytsev commented on #260
@yegor256
let's look at both options
1. `public HmRqHeader(CharSequence name, java.lang.Iterable<Matcher<CharSequence>> mtchr)`
2. `public HmRqHeader(Iterable<Matcher<Pair> mtchr)`

*  assert that header is not present at all
[code]
* assert that header has one value
[code]
* assert that header has many values

we can do so
[code]
however according RFC 2616 header should have only one value.
HmRqH

[2015-05-11 05:07] dmzaytsev commented on #260
@yegor256
* If we use the Pair, we could  test all headers in the one  matcher's call.
* If we use the Map we could check for partial header's content using the Mather `hasEntry (Matcher <? Super K> keyMatcher, Matcher <? Super V> valueMatcher)`

[2015-05-11 05:26] elenavolokhova commented on #130
@davvd This issue looks good!

[2015-05-11 06:06] elenavolokhova commented on #11
@yegor256 @davvd This issue is assigned to incorrect person. @popprem fixed it and created PR. No work was done by @erimerturk. Please fix the assignment or advise what should be done here to fix the situation.

[2015-05-11 06:42] elenavolokhova commented on #105
@davvd Looks good!

[2015-05-11 06:45] dmzaytsev commented on #276
@davvd please see PR #280

[2015-05-11 06:48] yegor256 commented on #11
@davvd quality is bad here

[2015-05-11 06:51] elenavolokhova commented on #11
@yegor256 Thank you!

[2015-05-11 06:54] elenavolokhova commented on #243
@davvd Quality is good.

[2015-05-11 07:00] erimerturk commented on #11
@yegor256  as @elenavolokhova  said i didn't do anything for this issue. I have already asked to @davvd  11 days ago. Can you fix the assignment confusion please ?

[2015-05-11 07:02] elenavolokhova commented on #158
@ikhvostenkov
 According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Several PR's have links to this issue and it is not clear which one solves the problem. Please add this info and follow this rule in your tickets in the future.

[2015-05-11 07:02] yegor256 commented on #11
@erimerturk it's OK, you won't get a payment here

[2015-05-11 07:07] erimerturk commented on #11
@yegor256 i am worrying about my rating not payment :) thank you

[2015-05-11 07:12] dmzaytsev opened #281 "org.takes.misc.Condition improvement"
At the moment `org.takes.misc.Condition` hasn't some useful decorators. I believe `Condition.Regexp` and `Condition.Skip` has to be.

[code]

It would also be useful to have `Condition.True`

[code]

These classes, we can use like this

[code]

or

[code]

[2015-05-11 07:24] ikhvostenkov commented on #158
@elenavolokhova PR which resolves this issue is not finished, I do not know why this ticket has been closed.
@davvd Why did you close this ticket?

[2015-05-11 10:33] davvd commented on #239
@yegor256 only @dmzaytsev can close this issue, since he opened it

[2015-05-11 10:33] davvd commented on #276
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-05-11 10:33] davvd commented on #11
@yegor256 thanks a lot, noticing bad quality is what makes us better

[2015-05-11 10:34] davvd commented on #111
@yegor256 30 mins extra was just paid to @marcuss, transaction `56928845`

[2015-05-11 10:34] davvd commented on #106
@elenavolokhova thank you, let's try to make it "good" next time

[2015-05-11 10:34] davvd commented on #105
@elenavolokhova thanks!

[2015-05-11 10:34] davvd commented on #130
@elenavolokhova thank you, good quality is always good :)

[2015-05-11 10:34] davvd commented on #243
@elenavolokhova many thanks

[2015-05-11 10:34] davvd commented on #278
@yegor256 tagged this issue with "bug"

[2015-05-11 10:35] dmzaytsev commented on #239
@super132 thanks!

[2015-05-11 10:35] #239 closed

[2015-05-11 10:43] davvd commented on #160
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-11 10:45] davvd commented on #195
@dmzaytsev this task is in your hands for 19 days already. added -30 to your rating, now it is equal to [+1355](http://www.netbout.com/b/35166?open=rating)

[2015-05-11 10:45] davvd commented on #106
@cyberone I added 10 mins to @elenavolokhova (for QA review) in transaction 56929016. Thanks so much! Your account was topped up for **30 mins** (transaction ID is `56929025`, the task took 296 hours and 9 mins). +30 to your rating, your total score is [+173](http://www.netbout.com/b/35076?open=rating)

[2015-05-11 10:46] davvd commented on #260
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `56929062`

[2015-05-11 11:03] dmzaytsev commented on #195
@davvd I wrote [16 days ago](https://github.com/yegor256/takes/issues/195#issuecomment-96125437)

@yegor256  According [the policy ](http://www.teamed.io/policy.html#11) I informed the manager.
What's wrong ?

[2015-05-11 11:04] dmzaytsev commented on #195
@ikhvostenkov close the task please

[2015-05-11 12:08] davvd commented on #278
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-05-11 12:09] davvd commented on #276
@dmzaytsev thanks, will take a look

[2015-05-11 12:19] davvd commented on #105
@eg04lt3r I added 10 mins to @elenavolokhova (for QA review) in transaction 56931005; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `56931028`, the task took 335 hours and 47 mins); +30 added to your rating, current score is: [-112](http://www.netbout.com/b/35234?open=rating)

[2015-05-11 12:19] davvd commented on #194
@eg04lt3r the task is your hands for the last 19 days.. keep in mind that if it's not closed in the next 8 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 to your rating, your total score is [-142](h

[2015-05-11 12:19] davvd commented on #259
@dmzaytsev thanks a lot for reporting, **15 mins** added to your acc, pmt ID `56931065`

[2015-05-11 13:21] davvd commented on #258
@dmzaytsev many thanks for the bug report, I added 15 mins to your acc, transaction `56932653`

[2015-05-11 14:52] davvd commented on #257
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `57126324`

[2015-05-11 14:53] eg04lt3r commented on #194
@davvd I wrote to @ikhvostenkov to close the task. It's done 2 days ago. How I could close this task by myself?

[2015-05-11 15:53] davvd commented on #263
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `57160510`

[2015-05-11 16:24] davvd commented on #278
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-5e53a59b`

[2015-05-11 18:07] dmzaytsev commented on #43
@yegor256 the PR #270  has been merged. Could you close the task please ?

[2015-05-11 19:21] yegor256 commented on #43
@dmzaytsev thanks!

[2015-05-11 19:21] #43 closed

[2015-05-11 20:08] yegor256 commented on #194
@eg04lt3r keep this in mind: http://www.teamed.io/policy.html#7

[2015-05-11 20:22] yegor256 commented on #195
@davvd we're waiting for #158 here

[2015-05-11 20:40] yegor256 commented on #158
@ikhvostenkov the ticket was closed because the puzzle disappeared from the source code... make sense?

[2015-05-11 20:44] davvd commented on #195
@dmzaytsev this task is not yours any more (took too long), please stop. I'll give you something else. -60 to your rating, your total score is [+1400](http://www.netbout.com/b/35166?open=rating)

[2015-05-11 20:44] davvd commented on #243
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `57168002`. thank you, added **30 mins** to your acc, payment num is `57168022`, 169 hours and 42 mins spent in total to complete. +30 to your rating, your total score is [+1460](http://www.netbout.com/b/35166?open=rating)

[2015-05-11 21:44] eg04lt3r commented on #194
@yegor256 ok
11 мая 2015 г. 23:08 пользователь "Yegor Bugayenko" <
notifications@github.com> написал:

[2015-05-12 06:17] elenavolokhova commented on #160
@super132
 According to our [quality rules](http://www.teamed.io/qa.html):

There are some comments in this ticket with no addressee. Try to avoid such issues in future.
 Please confirm that everything is clear and you have no questions regarding this approach.

[2015-05-12 06:31] dmzaytsev commented on #195
@yegor256 I know about this http://www.teamed.io/policy.html#7 . The reporter has been asked  to close the task only three times... Seems I should have been more insistent...
So now I am talking about penalties. Twice I had warned @davvd about the delay however I was fined. I believe that 90 points should be added to my rating.
Seems @davvd never accept my requests without your confirmation, perha

[2015-05-12 06:33] dmzaytsev commented on #248
@davvd PR #255 fixes this issue and waiting for the review already 6 days!
I lost my fast delivery bonus and my delivery speed is reduced.
I have a risk to be penalized for the delay after 3 days.
We need more time here.

@yegor256 please confirm my request.

[2015-05-12 06:43] super132 commented on #160
@elenavolokhova I fixed comments without addressees. I confirm I am clear and no question on the QA rule. Thanks.

[2015-05-12 06:46] elenavolokhova commented on #160
@super132 Thank you!

[2015-05-12 06:46] elenavolokhova commented on #160
@davvd Quality is acceptable.

[2015-05-12 07:33] ikhvostenkov commented on #158
@yegor256 this make sense. But the question is why did puzzle disappear? Due to someone else resolve this? Why we have to identical tasks? What shall I do with this task then?

[2015-05-12 07:33] ikhvostenkov commented on #107
@davvd https://github.com/yegor256/takes/pull/215 resolves this issue. Fix has been successfully merged.

[2015-05-12 07:34] ikhvostenkov commented on #230
@davvd Could you please assign someone else to this task?

[2015-05-12 08:41] YamStranger commented on #136
@davvd  thanks

[2015-05-12 08:41] YamStranger commented on #259
@davvd thanks

[2015-05-12 08:58] ekondrashev commented on #260
@davvd The enhancement is in process of clarifying the requirements, can't proceed.

[2015-05-12 09:47] super132 commented on #281
@dmzaytsev , what about make a `Range` condition and use with the combination of `Not` ?

For example:

[code]

To skip a range:
[code]

[2015-05-12 09:54] davvd commented on #160
@elenavolokhova thanks, got it. everybody, please try to make it good next time

[2015-05-12 09:54] davvd commented on #195
@yegor256 issue #158 is closed already

[2015-05-12 09:54] davvd commented on #230
@ikhvostenkov 30 points deducted from your rating

[2015-05-12 09:54] davvd commented on #230
@ikhvostenkov got it, someone else will be assigned soon

[2015-05-12 10:02] davvd commented on #264
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-12 10:04] davvd commented on #160
@super132 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 57184341... Much obliged! I have added **1 hour** to your account in payment "AP-3MG05873T77364832", 599 hours and 7 mins spent... age=2, that's why a bonus here for fast delivery... +60 added to your rating, at the moment it is: [+83](http://www.netbout.com/b/35282?open=rating)

[2015-05-12 10:04] davvd commented on #194
@eg04lt3r the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)... added -60 to your rating, now it is equal to [-202](http://www.netbout.com/b/35234?open=rating)

[2015-05-12 10:17] eg04lt3r commented on #194
@davvd ok, no problem.

[2015-05-12 10:19] eg04lt3r commented on #194
@davvd  and please remove my code from repository, cause ticket is not closed yet.

[2015-05-12 10:26] YamStranger commented on #136
@davvd, @yegor256 ticket passed QA review.

[2015-05-12 11:56] davvd commented on #239
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-12 11:58] davvd commented on #195
@komaz this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definitio

[2015-05-12 11:58] davvd commented on #230
@yamstranger please go ahead with this task, it's yours

[2015-05-12 12:57] davvd commented on #194
@dmzaytsev please proceed, it's yours

[2015-05-12 13:58] YamStranger commented on #230
@davvd Thanks

[2015-05-12 16:39] dmzaytsev commented on #194
@davvd @yegor256
the task has been performed already.
the issue has been resolved in PR #203 and merged.
I don't quite understand what I can to do here.

[2015-05-12 17:06] komaz commented on #195
@davvd I don't understand what is left to be done here. For me it looks like @dmzaytsev did all required work in pull request [#202](https://github.com/yegor256/takes/pull/202) – fields are renamed, test is added, and all changes are already merged in master.

[2015-05-12 19:31] ikhvostenkov commented on #205
@yegor256 I have only one idea here - use ```PushbackInputStream```, but this will not increase speed, can even make worse. So I prefer to give up here.

[2015-05-12 19:32] ikhvostenkov commented on #205
@davvd Could you please assign someone else here.

[2015-05-12 19:59] YamStranger commented on #136
@yegor256 please close this ticket. Thanks

[2015-05-12 20:26] davvd commented on #43
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-12 23:56] Bertram25 commented on #217
I'm on it :)

@yegor256 Sorry for disturbing. I need some info:

If I understand well, you want to see RsWithType decorated so that it auto-selects RsWith/WithoutHeader, right? (Not just plain search and replace in the code where  `new RsWithType(new RsWithType())` is found.)

If so, can you confirm that what you want in the given use case is this:
[code]

What about such a use case? Should it be

[2015-05-13 02:28] yegor256 commented on #217
@Bertram25 I'm expecting this:

[code]

Every time I use `RsWithType`, the content type is changed and previous one is removed. Make sense?

[2015-05-13 02:32] #136 closed

[2015-05-13 02:52] yegor256 commented on #195
@davvd please assign this back to @dmzaytsev

[2015-05-13 02:54] yegor256 commented on #194
@dmzaytsev there is nothing left, you're right, except the closing step, which hasn't been done yet. The task is still open and we have to ask @ikhvostenkov to accept it. You have to.

[2015-05-13 02:57] yegor256 commented on #260
@davvd looks like we need more time here

[2015-05-13 03:00] yegor256 commented on #107
@ikhvostenkov I'm a reporter here, you should ask me to close it, not @davvd

[2015-05-13 03:01] yegor256 commented on #158
@ikhvostenkov it happens sometimes, you just got lucky here, no need to do anything

[2015-05-13 03:02] yegor256 commented on #248
@davvd give us more time here pls

[2015-05-13 03:10] cyberone commented on #231
@yegor256 the PR is merged, close the issue please.

[2015-05-13 03:45] dmzaytsev commented on #194
@ikhvostenkov close the task please

[2015-05-13 05:28] yegor256 commented on #231
@cyberone it's not my ticket

[2015-05-13 05:45] dmzaytsev commented on #231
@cyberone thanks!

[2015-05-13 05:45] #231 closed

[2015-05-13 06:39] elenavolokhova commented on #239
@davvd Looks good!

[2015-05-13 06:42] elenavolokhova commented on #43
@davvd Quality is good here.

[2015-05-13 07:02] Bertram25 commented on #217
@yego256 Make sense. Perfect, thanks.

[2015-05-13 07:19] elenavolokhova commented on #158
@yegor256 So should I mark this issue as bad? Finally there is no solution provided.

[2015-05-13 07:35] ikhvostenkov commented on #107
@yegor256 Could you please close this one if no comments from your site and you are satisfied with solution in https://github.com/yegor256/takes/pull/215

[2015-05-13 07:36] ikhvostenkov commented on #194
@dmzaytsev Accepted and closed.

[2015-05-13 07:36] #194 closed

[2015-05-13 07:44] eg04lt3r commented on #194
@ikhvostenkov thanks, man.

[2015-05-13 08:14] komaz commented on #227
@davvd fixed in pull request [#282](https://github.com/yegor256/takes/pull/282), pull request is merged, please close the issue

[2015-05-13 09:09] davvd commented on #43
@elenavolokhova thanks!

[2015-05-13 09:09] davvd commented on #205
@ikhvostenkov 30 points deducted from your rating

[2015-05-13 09:09] davvd commented on #205
@ikhvostenkov right, I will find someone else, no problem

[2015-05-13 09:09] davvd commented on #239
@elenavolokhova thank you

[2015-05-13 09:09] davvd commented on #248
@yegor256 of course, take your time

[2015-05-13 09:09] davvd commented on #260
@yegor256 of course, take your time

[2015-05-13 09:17] davvd commented on #43
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 57245467. thanks, I just added **38 mins** to your account, payment `57245478`, 53 hours and 13 mins spent. the bonus for fast delivery (m=3193). +38 to your rating, your total score is [+1438](http://www.netbout.com/b/35166?open=rating)

[2015-05-13 11:59] davvd commented on #205
@dmzaytsev please go ahead with this task, it's yours

[2015-05-13 11:59] davvd commented on #239
@super132 just added 10 mins to @elenavolokhova (for QA), payment ID is `57249565`. Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-2P310357XU3079602`, 215 hours and 25 mins spent total. +30 added to your rating, at the moment it is: [+113](http://www.netbout.com/b/35282?open=rating)

[2015-05-13 13:03] davvd commented on #268
@yegor256 Closing this issue now...

[2015-05-13 13:03] #268 closed

[2015-05-13 13:04] davvd commented on #268
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-13 13:06] davvd commented on #278
@yamstranger it's yours,please go ahead

[2015-05-13 13:53] dmzaytsev commented on #205
@davvd  take a look PR #283 please

[2015-05-13 14:08] elenavolokhova commented on #268
@ekondrashev
 According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and try to follow this rule in your tickets in the future.

[2015-05-13 15:51] ekondrashev commented on #268
@elenavolokhova Sorry, but I did not have a chance to ask to close this ticket. David made a decision basing on #275 defect resolution, so I just was "too slow".
But anyway, the PR is #279.

[2015-05-13 17:58] yegor256 commented on #195
@davvd assign @dmzaytsev to this

[2015-05-13 18:36] YamStranger commented on #278
@davvd Thanks, I take it

[2015-05-13 18:37] YamStranger commented on #136
@yegor256 @davvd please help me understand why this ticket is invalid, and why I was removed from this ticket?  Thanks

[2015-05-13 19:18] davvd commented on #195
@yegor256 done, @dmzaytsev is a new assignment at the task, please go on. whoever worked with this task before, please stop right now

[2015-05-13 19:20] dmzaytsev commented on #195
@ikhvostenkov could you please close the task ? thank you

[2015-05-13 19:45] yegor256 commented on #136
@YamStranger was there any code written by yourself? if so, in what PR?

[2015-05-13 19:55] ikhvostenkov commented on #195
@dmzaytsev closed.

[2015-05-13 19:55] #195 closed

[2015-05-13 20:02] yegor256 commented on #107
@ikhvostenkov sure, thanks!

[2015-05-13 20:02] #107 closed

[2015-05-13 20:03] yegor256 commented on #158
@elenavolokhova yeah, it's a good candidate for a "bad" mark

[2015-05-13 20:42] dmzaytsev commented on #276
@davvd PR #280 fixes this issue and merged successfully. Could you please close this ticket? Thanks.

[2015-05-14 00:56] yegor256 opened #284 "FkAgent"
Let's create a new "fork" `org.takes.facets.fork.agent.FkAgent`, which will make a decision based on `User-Agent` HTTP header, if it's present:

[code]

Here is how `AgentMatch` interface should look like:

[code]

For example, in this `User-Agent` string:

[code]

We have these token:

[code]

[2015-05-14 00:57] yegor256 commented on #284
@davvd let's postpone this for now

[2015-05-14 01:08] yegor256 opened #285 "multi-line HTTP headers are not supported"
[RFC 2616](https://www.ietf.org/rfc/rfc2616.txt) says (section 4.1):

In other words, this HTTP request is perfectly legal:

[code]

We should get this:

[code]

At the moment `RqLive` doesn't work like this.

[2015-05-14 01:23] yegor256 opened #286 "TkGzipTest.compressesOnDemandOnly() doesn't work"
`TkGzipTest.compressesOnDemandOnly()` doesn't work, for some reason. Let's find out what the problem is (it's something in the design) and fix it.

[2015-05-14 01:32] yegor256 opened #287 "XeTwitterLink is absent"
Similar to other "social" `Xe*Link` classes we should have `XeTwitterLink`, but it's absent at the moment. Let's create one.

[2015-05-14 04:51] dmzaytsev commented on #205
@yegor256 PR #283 fixed the issue. please close if alright.

[2015-05-14 04:58] yegor256 commented on #205
@dmzaytsev thanks!

[2015-05-14 04:58] #205 closed

[2015-05-14 05:05] YamStranger commented on #136
@yegor256  Not. I did not wrote any line on code on this ticket. But to be honest - this ticket was not closed, only because @elenavolokhova did not closed it, and did not marked as "passed review". So when @davvd assign it to me - my task was close this ticket. And as I understand, if ticket assign to me - now I become responsible for it, and can rise my rating on this ticket, or loos some points

[2015-05-14 05:09] YamStranger commented on #230
@davvd Please help me. I don't understand this words "Puzzle 11-790c0445" what is "11-790c0445"? Is this some id of puzzle specification, of something else?

[2015-05-14 05:32] yegor256 commented on #230
@YamStranger yes, it's just an id of the puzzle

[2015-05-14 05:39] YamStranger commented on #230
@yegor256 Can I get some info about this puzzle, by this id? Where can I find this info, if it is possible?

[2015-05-14 05:41] yegor256 commented on #230
@YamStranger what kind of info do you need? everything you need (and we have) is in the Java file

[2015-05-14 06:08] YamStranger commented on #230
@yegor256 Thanks. It was info what I need. This is just id, and it will be not useful for me (I cant use it any way)

[2015-05-14 09:33] davvd commented on #285
@yegor256 added "bug" tag to this issue

[2015-05-14 09:33] davvd commented on #286
@yegor256 added "bug" tag to this issue

[2015-05-14 09:33] davvd commented on #287
@yegor256 tagged this issue with "bug"

[2015-05-14 09:38] davvd commented on #264
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 09:39] davvd commented on #194
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-14 09:39] davvd commented on #231
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-14 11:18] davvd commented on #285
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-05-14 11:18] davvd commented on #286
@yegor256 since the ticket has no milestone I set it to 1.0

[2015-05-14 11:18] davvd commented on #287
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-05-14 11:25] davvd commented on #287
@yamstranger it's yours,please go ahead

[2015-05-14 11:26] davvd commented on #287
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-70cbb012`

[2015-05-14 11:27] super132 commented on #285
@davvd, could I take this task? Thanks.

[2015-05-14 11:28] super132 commented on #286
@davvd, could I take this task? Thanks.

[2015-05-14 13:05] davvd commented on #227
@yegor256 We are done here, thanks all

[2015-05-14 13:05] #227 closed

[2015-05-14 13:06] davvd commented on #227
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-14 13:07] davvd commented on #285
@yamstranger the task is yours,please go ahead

[2015-05-14 13:07] davvd commented on #286
@ekondrashev please proceed, it's yours

[2015-05-14 13:07] davvd commented on #286
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-ee292cfb

[2015-05-14 14:19] davvd commented on #285
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-7696baf9`

[2015-05-14 14:37] elenavolokhova commented on #158
@davvd As per discussion above quality is bad.

[2015-05-14 14:41] elenavolokhova commented on #268
@ekondrashev Thank you!

[2015-05-14 14:41] elenavolokhova commented on #268
@davvd Quality is acceptable.

[2015-05-14 15:17] elenavolokhova commented on #194
@davvd According to our QA rules quality is good...

[2015-05-14 15:22] ekondrashev opened #290 "It is not clear from the Response.java documentation if head and body calls should be ordered"
`org.takes.Response` documentation misses information whether `head` and `body` calls should be ordered or not. For example, if `body` call should be forwarded by `head` call or vice versa or those calls should be completely independent and it is safe to call them in whatever order.

If it depends on the implementation - it is also should be stated.

[2015-05-14 15:23] ekondrashev commented on #286
@davvd this issue is blocked by #290

[2015-05-14 15:30] elenavolokhova commented on #231
@cyberone
 According to our [quality rules](http://www.teamed.io/qa.html):

This ticket has incorrect or not full title and description as per comment:

@dmzaytsev it's a bug in BkBasic, not in TkFork. BkBasic doesn't understand HttpException and treats it like any other exception, but it should treat it differently and understand it's code().

As far as you are the performer of this ticket you ar

[2015-05-14 15:36] elenavolokhova commented on #227
@davvd Looks good.

[2015-05-14 15:40] cyberone commented on #231
@dmzaytsev please change the ticket totle to `BkBasic doesn't understand HTTPException response code`

[2015-05-14 16:15] davvd commented on #158
@elenavolokhova thanks for paying attention, the performer of this ticket won't be paid

[2015-05-14 16:16] davvd commented on #268
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2015-05-14 16:22] davvd commented on #158
@ikhvostenkov I added 10 mins to @elenavolokhova (for QA review) in transaction 57286878. I added **38 mins** to your account, many thanks for working with the project! The completion time here was 57286885.. age=48 hours and 31 mins, that's why a bonus here for fast delivery. +38 to your rating, your total score is [+77](http://www.netbout.com/b/35232?open=rating)

[2015-05-14 16:36] dmzaytsev commented on #231
@elenavolokhova @cyberone
I believe both the ticket title and description is correct. The snippet in the description shows what is broken and I wrote `Access to invalid url returns 500 error instead 404`. I expected `FtRemote` returns a valid response status.

`FtRemote` calls `BkBasic` inside and @yegor256  just pointed right way for a future performer, made his work a bit easier

@yegor256 corre

[2015-05-14 17:00] davvd commented on #194
@elenavolokhova thank you

[2015-05-14 17:00] davvd commented on #227
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-05-14 17:00] davvd commented on #286
@ekondrashev yes, of course, we'll wait for #290

[2015-05-14 17:10] davvd commented on #194
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 57287915; thank you, added **1 hour** to your acc, payment num is `57287922`, 20 hours and 13 mins spent in total to complete; there is a bonus for fast delivery (m=1213); +60 added to your rating, current score is: [+1513](http://www.netbout.com/b/35166?open=rating)

[2015-05-14 17:24] yegor256 commented on #231
@dmzaytsev I think you're right

[2015-05-14 17:35] dmzaytsev commented on #248
@yegor256 PR #255 fixes this issue and merged,
please close the ticket

[2015-05-14 17:39] davvd commented on #290
@ekondrashev milestone set to `1.0` (correct me if I am wrong)

[2015-05-14 17:49] davvd commented on #227
@komaz I added 10 mins to @elenavolokhova (for QA review) in transaction 57288706

Much obliged! I have added **30 mins** to your account in payment "AP-7P4398199J5420904", 87 hours and 58 mins spent

added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/35322?open=rating)

[2015-05-14 17:49] davvd commented on #290
@yegor256 this is yours, pls go ahead

[2015-05-14 17:50] davvd commented on #290
@ekondrashev thank you for reporting this, I added 15 mins to your acc, transaction `57288754`

[2015-05-14 20:59] Bertram25 commented on #217
@yegor256 Hi,
This issue is now fixed and can be closed.
Best regards,

[2015-05-14 23:00] yegor256 commented on #217
@Bertram25 thanks!

[2015-05-14 23:00] #217 closed

[2015-05-14 23:25] yegor256 commented on #248
@dmzaytsev thanks!

[2015-05-14 23:25] #248 closed

[2015-05-14 23:25] yegor256 commented on #248
@rultor release tag is `0.16.9`

[2015-05-14 23:26] rultor commented on #248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3779-102198470)

[2015-05-14 23:32] rultor commented on #248
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3779-102198470) (spent 6min)

[code]

[2015-05-14 23:34] yegor256 commented on #248
@rultor release tag is `0.16.9`

[2015-05-14 23:34] rultor commented on #248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3779-102199419)

[2015-05-14 23:44] rultor commented on #248
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3779-102199419) (took me 9min)

[2015-05-14 23:54] Bertram25 commented on #253
@dmzaytsev @yegor256  Hi,

For the record, I confirm the current code can't get the `f-1` name and fails systematically.
Simply using `matcher.find()` instead of `matcher.matches()` is fixing the issue for me btw. (In
https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/rq/RqMultipart.java#L311 )
As it seems finding the next matching group, instead of trying to search the whole st

[2015-05-15 01:00] yegor256 commented on #253
@Bertram25 if you see some bug in the existing code, don't hesitate to report it in a new ticket. You don't need anyone's permission for that.

[2015-05-15 03:29] dmzaytsev commented on #276
@davvd close the task please

[2015-05-15 04:36] elenavolokhova commented on #231
@dmzaytsev Thank you for clarification!

[2015-05-15 04:36] elenavolokhova commented on #231
@davvd Quality is good.

[2015-05-15 07:46] celezar commented on #221
@davvd please reasign this task to someone else. i also requested in netbout not to get more tasks because i don't have time to work on it.

[2015-05-15 07:57] Bertram25 opened #291 "FtRemote: The connection is reset on error instead of triggering an exception."
As stated by @dmzaytsev in #253 , when consuming a bad request, FtRemote will break the connection instead of triggering an exception due to the illformed request, or when the multipart name isn't found.

Here is a debug test usable to reproduce the bug, based on `org.takes.rq.RqMultipartTest.consumesHttpRequest`: (Thanks again to @dmzaytsev for the lead about this.)

[code]

Tested on OpenJDK7 (L

[2015-05-15 08:01] Bertram25 commented on #253
@yegor256 Thanks, just did. (Still getting used to it.)

Btw, I know I'm "cutting every corners" here and I hope it's fine that way.

IMHO, the bug #291 needs to be fixed *first* but won't suffice to fix this one, hence why it isn't a duplicate.
If you think my reasoning is correct, then I'll stop working on the current bug (as the name parameter value issue part is solved), and I'll wait for #291

[2015-05-15 11:34] davvd commented on #276
@yegor256 It is closed now

[2015-05-15 11:34] #276 closed

[2015-05-15 11:37] davvd commented on #107
@ikhvostenkov Much appreciated! **38 mins** was added to your account, payment ID `57307234`, time spent is 455 hours and 13 mins. age=2944, that's why a bonus here for fast delivery. added +38 to your rating, now it is equal to [+115](http://www.netbout.com/b/35232?open=rating)

[2015-05-15 11:37] davvd commented on #195
@dmzaytsev Much appreciated! **1 hour** was added to your account, payment ID `57307237`, time spent is 46 mins; m=46, that's why a bonus here for fast delivery; +60 added to your rating, at the moment it is: [+1573](http://www.netbout.com/b/35166?open=rating)

[2015-05-15 11:37] davvd commented on #205
@dmzaytsev **1 hour** added to your account (payment number `57307248`), many thanks for your contribution! 21 hours and 34 mins spent here.... the bonus for fast delivery (m=1294)... added +60 to your rating, now it is equal to [+1633](http://www.netbout.com/b/35166?open=rating)

[2015-05-15 11:37] davvd commented on #268
@ekondrashev just added 10 mins to @elenavolokhova (for QA), payment ID is `57307220`. Thanks so much! Your account was topped up for **45 mins** (transaction ID is `57307264`, the task took 40 hours and 40 mins). m=2440, that's why a bonus here for fast delivery. +45 to your rating, your total score is [+91](http://www.netbout.com/b/35260?open=rating)

[2015-05-15 14:22] davvd commented on #276
@dmzaytsev Thanks for your contribution, **30 mins** was added to your account, payment ID is `57310622`, 86 hours and 18 mins spent total

+30 to your rating, your total score is [+1663](http://www.netbout.com/b/35166?open=rating)

[2015-05-15 14:49] Bertram25 commented on #253
@davvd Hi David,

Since I've got no answer from @yegor256 yet, I just wanted to say that I've stopped working on this issue because #291 has to be solved first IMO. I'll start again on this one, once it is solved unless otherwise told.

Regards,

[2015-05-15 17:19] yegor256 commented on #221
@davvd assign this to someone else pls

[2015-05-15 17:24] yegor256 opened #292 "FbStatus without second argument"
Let's create a new ctor in `FbStatus`, with a single `int` argument. When being used like this:

[code]

It should return a response, which looks like this:

[code]

Where `<exception message>` is the message of the exception from `RqFallback`

[2015-05-15 18:49] davvd commented on #221
@yegor256 30 points was deducted from your rating

[2015-05-15 18:49] davvd commented on #221
@yegor256 I will assign somebody else to this issue

[2015-05-15 18:50] davvd commented on #292
@yegor256 I tagged this as "bug"

[2015-05-15 20:37] yegor256 opened #293 "RsWithCookie must combine cookies"
At the moment, if I do this:

[code]

I'm getting this:

[code]

This is not correct and browsers will only read the first `Set-Cookie`. Cookie `bar` won't be set.

Proper response should look like this:

[code]

[2015-05-15 20:44] yegor256 commented on #253
@davvd we're waiting for #291 here

[2015-05-15 20:59] yegor256 commented on #291
@Bertram25 can't we just reproduce the same problem with this:

[code]

what do you think? for simplicity of the problem description

[2015-05-16 02:19] super132 opened #294 "Fallback.route() should return Iterable instead of Iterator"
`Fallback.route()` now returns an `Iterator` as a collection of `Response`. However, from design and semantic perspective it should return an `Iterable` for better representation of a list of `Response`.

[2015-05-16 02:31] super132 opened #295 "FbStatus.Check can be replaced by org.take.msic.Condition"
`FbStatus.Check` interface is perform exactly the same job as `org.take.misc.Condition`. I think we should replace 'FbStatus.Check` by `Condition<Integer>`.

[2015-05-16 02:43] super132 commented on #294
From the use cases of `Fallback` interface, the implementations always look for one single value from the `Iterator` returned from `route()`. It could be better to use `Opt` instead of iterables.

[2015-05-16 05:13] yegor256 commented on #294
@super132 yes, should be `Opt`

[2015-05-16 05:14] yegor256 commented on #295
@super132 totally agree

[2015-05-16 09:21] davvd commented on #294
@super132 I will find a developer for the task soon...

[2015-05-16 09:21] davvd commented on #295
@super132 we will find someone to do this task, soon

[2015-05-16 09:21] davvd commented on #292
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-05-16 09:21] davvd commented on #294
@super132 I set milestone here to `1.0`, let me know if it is wrong

[2015-05-16 09:21] davvd commented on #295
@super132 I set the milestone to 1.0 since there is nothing set yet

[2015-05-16 09:22] davvd commented on #253
@yegor256 yes, waiting for #291

[2015-05-16 09:22] davvd commented on #293
@yegor256 I tagged this as "bug"

[2015-05-16 09:31] davvd commented on #221
@ekondrashev please proceed,it's yours

[2015-05-16 09:31] davvd commented on #295
@komaz please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-05-16 09:32] davvd commented on #295
@super132 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-2WU555980T275231V`

[2015-05-16 11:58] davvd commented on #293
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-05-16 12:06] davvd commented on #217
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-16 12:06] davvd commented on #248
@ypshenychka please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-16 12:08] davvd commented on #292
@komaz the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-05-16 12:08] davvd commented on #294
@ekondrashev please go ahead with this task,it's yours

[2015-05-16 12:08] davvd commented on #294
@super132 thanks for reporting! I topped your account for 15 mins, transaction AP-2CE90578J63113255

[2015-05-16 12:42] ypshenychka commented on #248
@davvd Quality is good here.

[2015-05-16 14:13] davvd commented on #248
@ypshenychka thanks, got it, great to see high-quality tickets here

[2015-05-16 14:22] davvd commented on #248
@dmzaytsev I added 10 mins to @ypshenychka (for QA review) in transaction 57333103. **30 mins** sent to your balance (ID `57333108`), many thanks! It took 254 hours and 53 mins.. added +30 to your rating, now it is equal to [+1693](http://www.netbout.com/b/35166?open=rating)

[2015-05-16 14:22] davvd commented on #293
@bertram25 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-16 14:22] davvd commented on #292
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-dc409047`

[2015-05-16 16:33] davvd commented on #293
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-2a911432`

[2015-05-17 06:10] elenavolokhova commented on #217
@Bertram25 There is some mess with comments.
This one is not addressed:

If i get this task, is about changing wherever the project use ...

This one should start with the user name:

I'm on it :)
@yegor256 Sorry...

Typo here (should be yegor256 instead of yego256):

@yego256 Make sense. Perfect, thanks.

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the per

[2015-05-17 08:45] YamStranger commented on #136
@yegor256. As wrote @alice, I am not with your team any more. So, let finish this discussion. As I understand now - you pay only of code (of any project improvement), but not for "closing tickets". That is why this ticket was closed without adding any points for me. @yegor256 Is my understanding correct?

[2015-05-17 08:46] YamStranger commented on #230
@davvd , @yegor256. As wrote @alice, I am not with your team any more. So please assign ticket to someone else. Thanks

[2015-05-17 08:46] YamStranger commented on #259
@davvd , @yegor256. As wrote @alice, I am not with your team any more. So please assign ticket to someone else. Thanks

[2015-05-17 08:46] YamStranger commented on #278
@davvd , @yegor256. As wrote @alice, I am not with your team any more. So please assign ticket to someone else. Thanks

[2015-05-17 08:46] YamStranger commented on #287
@davvd , @yegor256. As wrote @alice, I am not with your team any more. So please assign ticket to someone else. Thanks

[2015-05-17 08:47] YamStranger commented on #285
@davvd , @yegor256. As wrote @alice, I am not with your team any more. So please assign ticket to someone else. Thanks

[2015-05-17 12:25] davvd commented on #230
@yamstranger OK, I will try to assign someone else

[2015-05-18 05:02] Bertram25 commented on #217
@elenavolokhova
Sorry but I won't. I've just been thrown away, you'll have to find someone else to "clean the mess".

[2015-05-18 05:02] Bertram25 commented on #291
@yegor256 You'll have to figure out on your own but I'm sure you'll do fine. Farewell.

[2015-05-18 06:32] yegor256 opened #296 "RsPrettyXML"
Let's create `RsPrettyXML` class, which will re-format response body to make it look "pretty" indented:

[code]

I expect this result:

[code]

[2015-05-18 07:25] komaz commented on #295
@davvd can I take this issue as it was on me previously?

[2015-05-18 07:25] komaz commented on #292
@davvd can I take this issue back?

[2015-05-18 07:51] yegor256 commented on #292
@davvd assign @komaz to this task pls

[2015-05-18 07:51] yegor256 commented on #295
@davvd pls assign @komaz to this ticket

[2015-05-18 09:13] komaz opened #298 "RsWithType overrides status code"
`RsWithType` wraps given response into `RsWithStatus` internally, hence overriding an existing status (if set). Here's modified snippet from `org.takes.Response` javadoc (I just did a seemingly safe replacement from `RsWithHeader` to `RsWithType`):
[code]
As a result, the response status will be 200, not 500.

This as well affects `RsText(Response)` ctor – besides just setting content type to `tex

[2015-05-18 09:19] yegor256 commented on #298
@davvd this is definitely a bug

[2015-05-18 09:36] elenavolokhova commented on #217
@davvd Quality is acceptable here.

[2015-05-18 09:37] davvd commented on #259
@yamstranger I deducted 30 points from your rating

[2015-05-18 09:37] davvd commented on #259
@yamstranger got it, someone else will be assigned soon

[2015-05-18 09:37] davvd commented on #278
@yamstranger I deducted 30 points from your rating

[2015-05-18 09:37] davvd commented on #278
@yamstranger I will ask somebody else to pick this up

[2015-05-18 09:37] davvd commented on #287
@yamstranger deducted 30 from your rating :(

[2015-05-18 09:37] davvd commented on #287
@yamstranger right, I will find someone else, no problem

[2015-05-18 09:37] davvd commented on #285
@yamstranger 30 points deducted from your rating

[2015-05-18 09:37] davvd commented on #285
@yamstranger right, I'll try to find someone else for this task

[2015-05-18 09:37] davvd commented on #295
@yegor256 done, @komaz is assigned to this task, and is already working on it, AFAIK

[2015-05-18 09:37] davvd commented on #292
@yegor256 no problem, @komaz is already assigned to this task, please go on

[2015-05-18 09:38] davvd commented on #296
@yegor256 tagged this issue with "bug"

[2015-05-18 09:43] davvd commented on #221
@antonini can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-05-18 09:43] davvd commented on #230
@adko-pl please proceed, it's yours

[2015-05-18 09:43] davvd commented on #251
@lautarobock the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-05-18 09:45] cyberone commented on #251
@davvd the task is done, see PR. Assign it back please and give the payment

[2015-05-18 09:46] cyberone commented on #251
@ikhvostenkov close please, the PR is merged

[2015-05-18 10:06] Bertram25 commented on #217
@elenavolokhova Hi again,
I've been talking with @yegor256 this morning and it seems I'm still part of the team after all. I thus apologize for earlier refusing the task.
If you accept to give me another hour, I'll do what's requested.
Just tell me. Thanks and best regards,

[2015-05-18 10:16] elenavolokhova commented on #217
@Bertram25 Good to hear that! Yes, sure. Please fix your comments and don't forget to review your ticket next time. Thanks.

[2015-05-18 10:26] Bertram25 commented on #217
@elenavolokhova Thanks a lot!

I understand the rule and will review my tickets before closing next time. (Sorry, it was my first time here.)

There is one of your comments I'm sure to fully understand though:

If i get this task, is about changing wherever the project use ...

Does this mean I should answer the question, or ask the author to add a @ name at the first line to whom he was speaking

[2015-05-18 10:32] elenavolokhova commented on #217
@Bertram25 Just ask to add the name in such case next time. It is important to do it before ticket is closed and make sure that all issues from our QA rules are fixed.

[2015-05-18 10:33] Bertram25 commented on #217
@elenavolokhova Understood. I will do it now.

[2015-05-18 10:36] Bertram25 commented on #217
@marcuss

new RsWithType(new RsWithType(
To decorate a response we should use RsWithoutHeader instead, right?

Could you add the person's @ name your were asking to in your aforementioned issue comment (as comment start)?

Thanks in advance.

[2015-05-18 10:47] davvd commented on #296
@yegor256 since there is no milestone yet I set it to "1.0"

[2015-05-18 10:47] davvd commented on #298
@yegor256 added "bug" tag to this issue

[2015-05-18 10:52] davvd commented on #252
@marcuss it's yours, please go ahead

[2015-05-18 10:52] davvd commented on #253
@louzar This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-05-18 10:52] davvd commented on #278
@antonini the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-05-18 10:52] davvd commented on #285
@lautarobock it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will

[2015-05-18 10:52] davvd commented on #296
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-ceb43c29`

[2015-05-18 11:40] antonini commented on #278
Before accepting, I want to confirm, is it to change the signture method from:

    public interface Pass {
        Iterator<Identity> enter(Request request) throws IOException;
        // ...
    }

to:

    public interface Pass {
        Opt<Iterator<Identity>> enter(Request request) throws IOException;
        // ...
    }

Or is it to overload and deprecate the old version? My suggestion is t

[2015-05-18 12:10] komaz commented on #292
@yegor256 the mapping from status code to explanation message is currently defind in private static map `RsWithStatus::REASONS`. Is it ok to extract this map into a separate class `Status`, so that both `RsWithStatus` and `FbStatus` would use `new Status(code).message()`?

Actually I did all changes in [my branch](https://github.com/komaz/takes/commit/72bc42eda24786510ed62cee79d241d4d41a9b20), but

[2015-05-18 12:25] davvd commented on #298
@komaz I set the milestone to 1.0 since there is nothing set yet

[2015-05-18 12:26] davvd commented on #217
@elenavolokhova thanks for the review, we'll try better next time

[2015-05-18 12:34] davvd commented on #217
@bertram25 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 57368646

Much obliged! I have added **30 mins** to your account in payment "AP-53H758682S572415U", 192 hours and 58 mins spent

+30 added to your rating, current score is: [+30](http://www.netbout.com/b/35317?open=rating)

[2015-05-18 12:34] davvd commented on #254
@bertram25 this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-05-18 12:34] davvd commented on #259
@ekondrashev it's yours, please go ahead

[2015-05-18 12:34] davvd commented on #287
@ikhvostenkov please proceed, it's yours

[2015-05-18 12:35] davvd commented on #298
@komaz thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-7DU45288RK7657840`

[2015-05-18 14:19] davvd commented on #296
@ikhvostenkov the task is yours, please go ahead

[2015-05-18 14:19] davvd commented on #298
@ekondrashev please go ahead with this task, it's yours

[2015-05-18 14:35] antonini commented on #278
Forget what I said. This is impossible! I just forgot that I can't change override the method with the same name and parameters but returning different object. Really noob.

[2015-05-18 14:36] antonini commented on #278
@davvd Assign this to me!

[2015-05-18 15:42] yegor256 commented on #278
@antonini it's yours already, go ahead :)

[2015-05-18 17:23] yegor256 commented on #292
@komaz I don't think it's a good idea. in `FbStatus` you have an instance of `Response` already. you can extract that status line from it. Right?

[2015-05-18 17:33] komaz commented on #292
@yegor256 I think if instantiate `FbStatus` only with `code`argument, all I have is `RqFallback` instance. Indeed, I can instantiate `RsWithStatus(code)`, take a `head()` from it, strip `HTTP 1.1 ` from the first line, and use the rest as the prefix for response body, but I thought it would be a leak of abstraction here and relying on the fact that `RsWithStatus` forms the first line of response h

[2015-05-18 17:41] yegor256 commented on #292
@komaz yes, that's what I have in mind. I don't think it's a leak of abstraction. It's a HTTP request, which is supposed to be well-formed.

[2015-05-18 17:45] komaz commented on #292
@yegor256 thanks, that makes sense. I'll implement it in suggested way tomorrow.

[2015-05-18 17:51] komaz commented on #295
@super

[2015-05-18 21:31] lautarobock commented on #285
@davvd PR#300 is ready for review

[2015-05-18 21:34] Bertram25 commented on #291
@yegor256 I just tested by replacing the take variable declaration by yours, but the HTTPException then produced is correct.
Thus, IMO, the FtRemote instance does need more to create a socket exception.

I've tried to gather more details tonight toward a solution but the crash was too rare for that. I'll keep on doing this the next few days.

[2015-05-19 00:19] super132 commented on #295
@komaz thanks!

[2015-05-19 00:19] #295 closed

[2015-05-19 01:16] antonini commented on #278
PR #301.

[2015-05-19 01:29] antonini opened #302 "The system may throw an UnsupportedOperationException"
Due the issue #278 and the PR #301 is possible that the system throw an UnsupportedOperationException.

Those are the related Classes: PsByFlag (line 111), PsChain (line 74) and TkAuth (line 89) Is possible that the system throws an UnsupportedOperationException.

It was not possible to implement any validation without breaking any Checkstyle rule.

[2015-05-19 04:22] yegor256 commented on #302
@antonini I didn't get what the bug is about? the build is clean, as I understand. how can I reproduce the problem you're writing about? see this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken

[2015-05-19 07:57] ekondrashev commented on #294
@yegor256 `FbStatus` actually requires all the Fallbacks that match the check condition. I afraid `Opt` would not work here.
@super132 Am I missing something?

[2015-05-19 08:46] super132 commented on #294
@ekondrashev , if you take a closer look in `FbStatus`, the codes actually checks the first element returned from the iterator from `Fallback`, not loop through the iterable until no elements are found. I extract the codes here for easy reference. And now all the `Fallback` implementations return only an iterator with only one element, which is why `Opt` is better suit for `Iterator`

[code]

[2015-05-19 08:48] ekondrashev commented on #294
@super132 my bad, overlooked that there is no loop, thx!

[2015-05-19 09:49] ekondrashev commented on #259
@yegor256 @dmzaytsev I believe we have the same situation as for #260 .
We need to clarify the requirements on following cases:
1. assert that param is not present at all
2. assert that param has one value
3. assert that param has many values

[2015-05-19 09:49] ekondrashev commented on #259
@davvd I afraid we are blocked here

[2015-05-19 13:47] erimerturk commented on #252
@davvd i have already fixed this and it is waiting on CR #262  .  @yegor256  you know @alice blocked and removed my account and i couldn't go on, my account activated just today. Could you make something, please ?

[2015-05-19 18:23] yegor256 commented on #251
@davvd assign @cyberone to this pls

[2015-05-19 19:22] yegor256 commented on #252
@davvd please assign @erimerturk to this issue

[2015-05-19 19:39] yegor256 commented on #259
@ekondrashev I think this ticket is not really feasible... @dmzaytsev what do you think about this:

[code]

This is simple enough, we don't need anything else on top of built-in Hamcrest matchers.

[2015-05-19 20:40] davvd commented on #251
@yegor256 OK. @cyberone the ticket is yours, please proceed

[2015-05-19 20:40] davvd commented on #252
@yegor256 OK. @erimerturk the ticket is yours, please proceed

[2015-05-19 21:13] ikhvostenkov commented on #251
Fixed.

[2015-05-19 21:13] #251 closed

[2015-05-20 00:50] yegor256 opened #306 "persistent connections"
At the moment we don't support [HTTP persistent connections](https://en.wikipedia.org/wiki/HTTP_persistent_connection). Would be great to implement this feature.

[2015-05-20 03:28] dmzaytsev commented on #259
@yegor256 what about a form param ?

[2015-05-20 03:36] yegor256 commented on #259
@dmz like this:

[code]

[2015-05-20 03:42] dmzaytsev commented on #259
@yegor256 I got it, thanks

@davvd @ekondrashev I'm closing the ticket

[2015-05-20 03:42] #259 closed

[2015-05-20 04:28] ekondrashev commented on #298
@komaz please close the ticket, the fix can be found at #299

[2015-05-20 04:44] komaz commented on #298
@ekondrashev thank you

[2015-05-20 04:44] #298 closed

[2015-05-20 06:34] elenavolokhova commented on #11
@yegor256 Should QA review be paid for this one?

[2015-05-20 06:35] elenavolokhova commented on #231
@davvd It looks good.

[2015-05-20 08:11] yegor256 commented on #11
@davvd pls add extra 10 mins to @elenavolokhova

[2015-05-20 10:03] davvd commented on #11
@yegor256 I've sent 10 mins extra to @elenavolokhova in transaction ID "57686658"

[2015-05-20 10:03] davvd commented on #231
@elenavolokhova thanks!

[2015-05-20 10:04] davvd commented on #306
@yegor256 added "bug" tag to this issue

[2015-05-20 10:10] davvd commented on #231
@cyberone I added 10 mins to @elenavolokhova (for QA review) in transaction 57686790... Thank you, I have added **30 mins** to your account in payment/transaction "`57686797`", time consumed: 285 hours and 55 mins... +30 added to your rating, at the moment it is: [+203](http://www.netbout.com/b/35076?open=rating)

[2015-05-20 11:31] davvd commented on #306
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-05-20 11:37] davvd commented on #295
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-20 11:39] davvd commented on #306
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-cfcfbe88

[2015-05-20 14:29] elenavolokhova commented on #295
@komaz
 According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and try to follow this rule in your tickets in the future.

[2015-05-20 14:41] komaz commented on #295
@elenavolokhova thank you for pointing to this. Here's the link to pull request where the issue has been fixed: #297

[2015-05-20 14:42] elenavolokhova commented on #295
@komaz Thank you!

[2015-05-20 14:42] elenavolokhova commented on #295
@davvd Quality is acceptable here.

[2015-05-20 15:00] antonini commented on #221
I didn't understood how to implement the Interface. Or is to add the interface to the source?

[2015-05-20 16:35] davvd commented on #295
@elenavolokhova thanks for the review, we'll try better next time

[2015-05-20 16:43] davvd commented on #295
@komaz just added 10 mins to @elenavolokhova (for QA), payment ID is `57697366`; Thank you, I have added **45 mins** to your account in payment/transaction "`AP-3KP61285XF178741B`", time consumed: 24 hours and 25 mins; m=1465, that's why a bonus here for fast delivery; +45 added to your rating, current score is: [+90](http://www.netbout.com/b/35322?open=rating)

[2015-05-21 05:58] komaz opened #307 "Outdated RqHref example in README.md"
The https://github.com/yegor256/takes/#request-parsing suggests using `new RqHref(request).href()`, however since #139 fix this code does not compile and user should choose between `RqHref.Base` and `RqHref.Smart`

[2015-05-21 08:39] louzar commented on #253
@davvd  I just get notified 2 days ago that I'm on this project, does this issue still for me

[2015-05-21 09:46] louzar commented on #257
@davvd I just get notified 2 days ago that I'm on this project, does this issue still for me

[2015-05-21 09:47] louzar commented on #257
@davvd I just get notified 2 days ago that I'm on this project, does this issue still for me

[2015-05-21 10:10] ekondrashev commented on #294
@davvd the PR is on review stage, not sure how to speedup the process(waiting for 2d already)

[2015-05-21 11:29] davvd commented on #251
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-05-21 11:29] davvd commented on #259
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-21 11:29] davvd commented on #298
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-21 12:05] ypshenychka commented on #298
@davvd Quality is good.

[2015-05-21 14:24] davvd commented on #298
@ypshenychka thank you

[2015-05-21 14:34] davvd commented on #298
@ekondrashev just added 10 mins to @ypshenychka (for QA), payment ID is `57724542`... **45 mins** was added to your account, many thanks for your contribution! The task took 57724559.... m=2624, that's why a bonus here for fast delivery... +45 to your rating, your total score is [+136](http://www.netbout.com/b/35260?open=rating)

[2015-05-21 19:38] davvd commented on #306
@adko-pl please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-22 00:24] yegor256 opened #309 "BkParallelTest#requestsAreParallel is not stable"
see http://www.rultor.com/t/3825-104206767

[code]

Looks like this test is not stable enough, let's fix

[2015-05-22 00:34] yegor256 commented on #294
@ekondrashev just ping the author time to time.. that's the best you can do

[2015-05-22 00:39] yegor256 commented on #307
@komaz thanks, fixed!

[2015-05-22 00:39] #307 closed

[2015-05-22 07:14] komaz opened #310 "RsText overrides status code"
Whatever you wrap into `RsText`, you get status 200.
[code]
Fails with:
[code]

[2015-05-22 07:30] komaz commented on #310
I guess the root reason for this issue is making it possible to use a simple `new RsText(String)` constructor to create a complete response with a status

[2015-05-22 09:33] davvd commented on #309
@yegor256 tag "bug" added

[2015-05-22 10:36] davvd commented on #309
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-05-22 10:43] davvd commented on #309
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-5b09e1d5`

[2015-05-22 13:42] elenavolokhova commented on #259
@davvd There was no code change in this ticket and nothing to be paid for. Quality is bad.

[2015-05-22 13:45] elenavolokhova commented on #251
@davvd Quality is good here.

[2015-05-22 15:25] davvd commented on #251
@elenavolokhova thank you :)

[2015-05-22 15:25] davvd commented on #259
@elenavolokhova thanks a lot, noticing bad quality is what makes us better

[2015-05-22 15:34] davvd commented on #251
@cyberone 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 57753076. Thanks for your contribution, **1 hour** was added to your account, payment ID is `57753085`, 13 hours and 21 mins spent total. m=801, that's why a bonus here for fast delivery. added +60 to your rating, now it is equal to [+233](http://www.netbout.com/b/35076?open=rating)

[2015-05-22 16:21] davvd commented on #259
@ekondrashev I added 10 mins to @elenavolokhova (for QA review) in transaction 57754472; thanks, paid, **45 mins** to your account, payment ID is `57754496`, task took 45 hours and 30 mins to complete; the bonus for fast delivery (m=2730); added +45 to your rating, now it is equal to [+181](http://www.netbout.com/b/35260?open=rating)

[2015-05-22 20:58] ikhvostenkov commented on #296
@yegor256 Issue has been fixed with https://github.com/yegor256/takes/pull/308. If you do not have any comments here, could you please close this.

[2015-05-22 22:40] yegor256 commented on #296
@ikhvostenkov thanks!

[2015-05-22 22:40] #296 closed

[2015-05-22 22:40] yegor256 commented on #296
@rultor release, tag is `0.17`

[2015-05-22 22:42] rultor commented on #296
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3879-104790287)

[2015-05-22 22:53] rultor commented on #296
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3879-104790287) (spent 11min)

[code]

[2015-05-22 23:14] yegor256 commented on #296
@rultor release, tag is `0.17`

[2015-05-22 23:14] rultor commented on #296
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3879-104796622)

[2015-05-22 23:22] rultor commented on #296
Release `0.17` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-22 23:22] rultor commented on #296
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3879-104796622) (took me 7min)

[2015-05-22 23:57] yegor256 commented on #310
@komaz definitely a bug, thanks

[2015-05-23 09:34] davvd commented on #310
@komaz this task will get someone's attention soon

[2015-05-23 09:35] davvd commented on #310
@komaz milestone set to `1.0` (correct me if I am wrong)

[2015-05-23 09:45] davvd commented on #258
@zshamrock you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)... added -30 to your rating, now it is equal t

[2015-05-23 09:46] davvd commented on #310
@komaz many thanks for the report, I topped your account for 15 mins, transaction AP-24K9560902440405A

[2015-05-23 18:17] davvd commented on #253
@komaz please go ahead with this task, it's yours

[2015-05-24 10:07] davvd commented on #296
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-24 10:21] komaz commented on #292
@yegor256 fixed in pull request #303, please close the issue

[2015-05-24 10:52] davvd commented on #149
@ikhvostenkov it's yours,please go ahead

[2015-05-24 10:52] davvd commented on #263
@zshamrock check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, at the moment it i

[2015-05-24 14:26] ypshenychka commented on #296
@davvd Ticket should have assignee. Please assign @ikhvostenkov to this task.

[2015-05-24 14:52] ypshenychka commented on #296
@davvd I see there is a corresponding label on the ticket. Please ignore my previous message.

[2015-05-24 14:52] ypshenychka commented on #296
@davvd Quality is good here.

[2015-05-24 15:53] davvd commented on #296
@ypshenychka many thanks

[2015-05-24 16:06] davvd commented on #296
@ikhvostenkov just added 10 mins to @ypshenychka (for QA), payment ID is `57788744`. I added **30 mins** to your account, many thanks for working with the project! The completion time here was 57788756.. added +30 to your rating, now it is equal to [+145](http://www.netbout.com/b/35232?open=rating)

[2015-05-24 20:48] yegor256 opened #312 "RsPrettyJSON"
Let's create class `RsPrettyJSON` similar to `RsPrettyXML` (see #296), to format JSON nicely

[2015-05-24 23:47] yegor256 commented on #292
@komaz thanks!

[2015-05-24 23:47] #292 closed

[2015-05-25 04:32] komaz commented on #253
@davvd waiting for #291

[2015-05-25 09:21] Bertram25 commented on #293
@davvd I'll commit the PR fixing this issue in one or two hours (It is working locally but still need static analysis fixes.). I may have to need more time for the review and the ticket cleanup, though. Can you give me one more day, in case I need it?

[2015-05-25 10:06] davvd commented on #253
@komaz OK, let's wait for #291

[2015-05-25 10:06] davvd commented on #312
@yegor256 tagged this issue with "bug"

[2015-05-25 10:06] davvd opened #313 "0.18"
Please, publish a new release **0.18** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-05-25 11:23] davvd commented on #312
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-05-25 11:23] davvd commented on #313
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2015-05-25 11:30] davvd commented on #312
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-08a1988c

[2015-05-25 11:52] Bertram25 commented on #293
@davvd PR #314 ready for review. :)

[2015-05-25 13:11] Bertram25 commented on #254
@dmzaytsev Hi, :)

What kind of method would be the most suitable to you?

Proposal: Collect the files in an iterable and add a method to make those cleanable at the application scope (as you requested), leave the deleteOnExit(); statement in place, and add a finalize() method cleaning the file handles, so that we are sure the temp files are either deleted when the gc triggers the parent request o

[2015-05-25 15:31] dmzaytsev commented on #254
@Bertram25 hi,
According to the [Javadoc](http://docs.oracle.com/javase/7/docs/api/java/lang/Object.html#finalize%28%29)

We don't know when the garbage collector will call `finalize()` It may happen that we will have a large number of temporary files until the garbage collector will do its job

[2015-05-25 16:17] lautarobock commented on #285
@yegor256 do you need something else for close the issue?

[2015-05-25 18:24] yegor256 commented on #285
@lautarobock thanks!

[2015-05-25 18:24] #285 closed

[2015-05-25 18:36] yegor256 commented on #254
@dmzaytsev @Bertram25 I think the best place to delete the file is in `close()` method of `InputStream` we return at `body()` of our "parts".  Here is the scenario:

[code]

make sense?

[2015-05-25 18:39] dmzaytsev commented on #254
@yegor256 @Bertram25 Let's try, I agree

[2015-05-25 20:12] davvd commented on #257
@ekondrashev please go ahead with this task, it's yours

[2015-05-26 02:55] yegor256 commented on #302
@antonini I would suggest to close this ticket if you can't explain the problem better

[2015-05-26 02:56] yegor256 commented on #291
@Bertram25 any update here?

[2015-05-26 03:26] antonini commented on #302
Issue cancelled.

[2015-05-26 03:26] #302 closed

[2015-05-26 11:09] davvd commented on #264
@yegor256 The task is closed, thanks everybody

[2015-05-26 11:09] #264 closed

[2015-05-26 11:09] davvd commented on #292
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-26 11:54] ekondrashev commented on #260
@yegor256 @dmzaytsev Any updates on enhancement requirements?

[2015-05-26 12:29] ypshenychka commented on #292
@davvd Quality is good.

[2015-05-26 12:53] antonini commented on #278
@yegor256 Merged.

[2015-05-26 13:17] lautarobock commented on #285
@yegor256 what about my paid?

[2015-05-26 13:38] davvd commented on #292
@ypshenychka thank you :)

[2015-05-26 13:46] davvd commented on #292
@komaz just added 10 mins to @ypshenychka (for QA), payment ID is `58060807`. Thank you, I have added **30 mins** to your account in payment/transaction "`AP-2BH486317W298141R`", time consumed: 168 hours and 26 mins. added +30 to your rating, now it is equal to [+165](http://www.netbout.com/b/35322?open=rating)

[2015-05-26 15:31] yegor256 commented on #278
@antonini thanks!

[2015-05-26 15:31] #278 closed

[2015-05-26 15:31] yegor256 commented on #278
@rultor release, tag is `0.18`

[2015-05-26 15:35] rultor commented on #278
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3914-105568957)

[2015-05-26 15:43] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3914-105568957) (took me 8min)

[2015-05-26 19:32] davvd commented on #285
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-26 20:02] lautarobock commented on #285
@davvd ups, sorry, still missing QA step

[2015-05-27 00:26] lautarobock commented on #285
@davvd but, why the bug was closed?

[2015-05-27 00:46] yegor256 commented on #285
@lautarobock I close it because it was fixed

[2015-05-27 01:38] lautarobock commented on #285
@yegor256 Is not supposed that QA is previous to close issue?

[2015-05-27 07:46] ypshenychka commented on #285
@davvd Quality is good.

[2015-05-27 09:19] davvd commented on #285
@ypshenychka many thanks

[2015-05-27 09:25] davvd commented on #285
@lautarobock I added 10 mins to @ypshenychka (for QA review) in transaction 58142983... Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-7AD525207T301840C`, the task took 175 hours and 57 mins)... +30 to your rating, your total score is [+30](http://www.netbout.com/b/35344?open=rating)

[2015-05-27 15:21] davvd commented on #309
@lautarobock This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-05-27 20:09] lautarobock commented on #309
@yegor256 sorry, but this change https://github.com/yegor256/takes/commit/b410f18c49f068107c608f5454be1dfca29505c0#diff-2c4573ba2da139758fe825e6e708de8eL57 doesn't increase the number of threads instead of decrease?

[2015-05-27 20:48] yegor256 commented on #309
@lautarobock I think this change increases the number of threads. it multiplies them by 4

[2015-05-27 20:56] lautarobock commented on #309
@yegor256 but, commit comment says "--threads", so I thought that you want to decrease it

[2015-05-27 21:01] erimerturk commented on #252
@yegor256 please check it and close if it is OK, thank you

[2015-05-27 21:22] yegor256 commented on #252
@erimerturk thanks!

[2015-05-27 21:22] #252 closed

[2015-05-27 22:37] lautarobock commented on #309
@yegor256 I think the instability of this test is caused by using 4 times `Runtime.getRuntime().availableProcessors()` . do you think is right?

[2015-05-27 23:01] yegor256 commented on #309
@lautarobock I don't know... but the test has to work (stable enough) with any amount of threads.

[2015-05-28 00:04] Bertram25 commented on #291
@yegor256 Sorry for the slow answer!

The error is gone thanks to newer changes (at least for me) and I wanted to bisect to make sure.

For info, the bug was visible at this commit: dde36eaaff0012a0e816c98119709fcd56dae525
And is fixed for me at this commit: 4fd26371506386e41fc976749aba4f0590b1303f
using the both the test given in description and re-enabling the test in #253

Thus, to me, both thi

[2015-05-28 00:46] carlosmiranda commented on #293
@davvd Need a bit more time

[2015-05-28 02:14] Bertram25 commented on #254
@yegor256 @dmzaytsev Thanks for the hints!
Here is a preliminary commit made for review: https://github.com/Bertram25/takes/commit/b1b92c8afbecb80dc3334cb3441180425287a05b

Am I doing it the right way? If so, and you agree to give me one or two more days, I'll finish this commit with proper style and an unit test.

Best regards,

[2015-05-28 03:57] lautarobock commented on #309
@davvd PR #316 is ready for review

[2015-05-28 05:25] dmzaytsev commented on #254
@Bertram25 Why do we need `TempReadableByteChannel`?
let's implement Yegor's suggestion

I think you should use a decorator for InputStream here
https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/rq/RqMultipart.java#L253

this decorator have to use `CapInputStream` and `File` in its constructor
and override `close()` to close the file as  written in the Yegor's comment above

@y

[2015-05-28 10:14] davvd commented on #293
@carlosmiranda OK, take your time

[2015-05-28 10:20] davvd commented on #278
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-28 10:32] ypshenychka commented on #278
@antonini
According to our [QA Rules](http://www.teamed.io/qa.html):

Please always indicate a person you're referring too in the beginning of the comment/message.

Please confirm that everything is clear and you have no questions regarding this approach.

[2015-05-28 11:34] davvd commented on #258
@zshamrock this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-120](http://www.netbout.com/b/35316?open=rating)

[2015-05-28 11:54] antonini commented on #278
@ypshenychka Fixed.

[2015-05-28 12:29] ypshenychka commented on #278
@antonini Thank you. Please keep in mind this rule in future.

[2015-05-28 12:29] ypshenychka commented on #278
@davvd Quality is acceptable.

[2015-05-28 13:31] davvd commented on #278
@ypshenychka thanks for the QA review, we'll work better next time

[2015-05-28 13:38] davvd commented on #278
@antonini 10 mins was added to the account of @ypshenychka (for QA review), in transaction 58183578... **30 mins** sent to your balance (ID `AP-1NY79909BL291733N`), many thanks! It took 197 hours and 23 mins.... +30 added to your rating, current score is: [+68](http://www.netbout.com/b/35346?open=rating)

[2015-05-28 15:37] yegor256 opened #317 "TkReturn and RsReturn"
Let's introduce `org.takes.facets.ret.*` classes, which will help us to return to some page after login. See more details in https://github.com/yegor256/netbout/issues/609 and https://github.com/yegor256/netbout/issues/646

[2015-05-28 16:06] davvd commented on #317
@yegor256 this task will get someone's attention soon

[2015-05-28 16:06] davvd commented on #317
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2015-05-28 16:16] davvd commented on #317
@komaz it's yours,budget is 30 mins,please go ahead

[2015-05-28 18:18] yegor256 commented on #258
@davvd I added the tag

[2015-05-28 18:24] davvd commented on #258
@antonini this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-05-28 18:24] davvd commented on #317
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-f053c61a

[2015-05-28 19:06] davvd commented on #155
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-28 19:37] yegor256 commented on #254
@Bertram25 I'm with @dmzaytsev on this

[2015-05-28 20:02] antonini commented on #221
@davvd I didn't understood what need to be done. Is just to create an interface or need to be implemented?

[2015-05-28 20:26] yegor256 commented on #221
@dmzaytsev could you please help here as an author of the ticket?

[2015-05-28 20:41] davvd commented on #310
@mbarbieri This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-29 01:31] Bertram25 commented on #254
@yegor256 @dmzaytsev Indeed! Please accept my apologize for my own lack of sleep and coffee. :)
The PR #318 should now be ready for review.

Thanks for all the advice.

[2015-05-29 01:35] Bertram25 commented on #254
@davvd Hi, As said above, the PR #318 is now ready for review.

Best regards,

[2015-05-29 04:36] yegor256 opened #319 "RsFailure"

[2015-05-29 05:06] komaz commented on #253
@dmzaytsev is it ok that this issue is not unassigned?

[2015-05-29 05:09] dmzaytsev commented on #253
@komaz I see the `@komaz` tag here
It means you assigned to this ticket

[2015-05-29 05:20] #319 closed

[2015-05-29 05:20] yegor256 opened #320 "RqWithAuth"

[2015-05-29 05:24] #320 closed

[2015-05-29 05:28] komaz commented on #253
@dmzaytsev yeah, but this issue is blocked by #291, I thought such issues should be unassigned to avoid penalty, e.g. https://github.com/yegor256/netbout/issues/602

[2015-05-29 05:29] yegor256 commented on #320
@rultor release, tag is `0.19`

[2015-05-29 05:29] rultor commented on #320
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3968-106694022)

[2015-05-29 05:38] rultor commented on #320
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3968-106694022) (took me 8min)

[2015-05-29 05:38] dmzaytsev commented on #253
@komaz yegor256/netbout#602 is postponed

but @davvd wrote to you above

You shouldn't be fined, I hope :)

Anyway @yegor256 and @davvd to manage this project
Ask them if you not sure

[2015-05-29 06:57] dmzaytsev commented on #221
@antonini
* you have to  create class `org.takes.facets.auth.PsBasic` as an implementation of the `Pass` interface like already implemented classes in `org.takes.facets.auth.*`
* you have to create the interface 'Entry' inside this class `PsBasic`

like this
[code]

[2015-05-29 07:06] krzyk opened #321 "RqFake should allow form params"
When testing a form processing `Take` there is no clean way of adding form params (URL or body) to the request, one has to do manual encoding and creation of the appropriate string.
Please add such processing to `RqFake` (or maybe other class if appropriate), and describe it in the README section regarding unit tests.

[2015-05-29 09:05] davvd opened #322 "0.20"
Please, publish a new release **0.20** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-05-29 09:11] davvd commented on #312
@marcuss the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-05-29 10:14] Bertram25 commented on #254
@davvd Hi again!

I may need a bit more time on this issue while the review phase is processed.

Best regards,

[2015-05-29 11:50] davvd commented on #322
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2015-05-29 11:58] davvd commented on #252
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-29 11:59] davvd commented on #263
@zshamrock this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 to your rating, your total score is [-180](http://www.netbout.com/b/35316?open=rating)

[2015-05-29 12:17] ypshenychka commented on #252
@davvd Quality is good.

[2015-05-29 13:29] davvd commented on #252
@ypshenychka thanks!

[2015-05-29 13:30] davvd opened #323 "RqMultipart.java:404-424: New ctor should be created..."
Puzzle `252-d7f3c72e` in `src/main/java/org/takes/rq/RqMultipart.java:404-424` has to be resolved: New ctor should be created and expect instances of Request as dispositions. Dispositions should be multipart request body holder. New ctor should call {@code RqMultipart.Base}. {@code Fake.fakebody} method should be refactored and Fake(final Request req, final String... dispositions) ctor should call

[2015-05-29 13:30] davvd commented on #252
@yegor256 the code made here contains a puzzle `252-d7f3c72e`/#323, which will be resolved soon

[2015-05-29 13:37] davvd commented on #323
@erimerturk it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-29 13:37] davvd commented on #252
@erimerturk 10 mins was added to the account of @ypshenychka (for QA review), in transaction 58210307... Much appreciated! **30 mins** was added to your account, payment ID `AP-0BJ111980B927493N`, time spent is 205 hours and 32 mins... +30 added to your rating, at the moment it is: [+90](http://www.netbout.com/b/35280?open=rating)

[2015-05-29 14:00] davvd commented on #323
@yegor256 since the ticket has no milestone I set it to 1.0

[2015-05-29 16:30] ikhvostenkov commented on #149
Could you, please, assign someone else or postpone this task until 8th of June, I will be out until this for personal reasons?

[2015-05-29 19:34] yegor256 commented on #149
@karato give this to someone else pls

[2015-05-29 21:43] mbarbieri commented on #310
@davvd PR #324 ready to be reviewed

[2015-05-30 10:11] davvd commented on #155
@yegor256 We are done here, thanks all

[2015-05-30 10:11] #155 closed

[2015-05-30 10:11] davvd commented on #313
@yegor256 Closed, thanks all

[2015-05-30 10:11] #313 closed

[2015-05-31 08:45] erimerturk commented on #323
@yegor256 i am planing to remove <code> public Fake(final Request req, final String... dispositions) </code> ctor. What do you think ? We will have <code> public Fake(final Request req, final Request... dispositions) </code> ctor and it will be good enough, i think we should just have this version.

[2015-05-31 12:48] davvd commented on #294
@ekondrashev this task is in your hands for 15 days already... -30 added to your rating, at the moment it is: [+151](http://www.netbout.com/b/35260?open=rating)

[2015-06-01 05:41] ekondrashev commented on #294
@yegor256 @davvd
I'm wondering why it is only myself responsible for the delay when the process also depends on reviewer?  Originally PR was created 13d ago and first comment on it I got almost a week after. Something is wrong here.

[2015-06-01 18:35] yegor256 commented on #323
@erimerturk well, what happened to the idea of giving users the ability to pass Strings too? I think it was a good one. Why not?

[2015-06-01 18:46] yegor256 commented on #294
@ekondrashev check this: http://www.teamed.io/policy.html#10 and this: http://www.teamed.io/policy.html#11

[2015-06-01 19:11] ekondrashev commented on #294
@davvd waiting for PR #304 review to be completed.

[2015-06-01 20:16] yegor256 commented on #254
@davvd give us more time here pls

[2015-06-01 20:19] yegor256 commented on #321
@krzyk maybe something like this:

[code]

What do you think?

[2015-06-01 20:26] erimerturk commented on #323
@yegor256 we can keep this ability but i thought that input type restriction is better than string. I mean we are using request as input type in everywhere so i thought we might remove string version.  just a suggestion

[2015-06-01 20:28] yegor256 commented on #323
@erimerturk yes, I think you're right, let's do it

[2015-06-01 20:28] erimerturk commented on #323
@yegor256 thank you :)

[2015-06-01 20:38] yegor256 commented on #253
@komaz yes, everything is fine here, we're blocked by #291

[2015-06-01 20:46] davvd commented on #294
@ekondrashev we can't call #304 an impediment, it's a pull request

[2015-06-01 20:59] yegor256 commented on #291
@Bertram25 thanks for the analysis! please close the issue

[2015-06-01 21:26] #291 closed

[2015-06-01 22:04] Bertram25 commented on #253
@komaz FYI, issue #291 is now closed.
Best regards,

[2015-06-01 22:07] Bertram25 commented on #293
@yegor256 Hi, :)

Should I wait for QA review here, as the PR was merged and comments are following the requested standard, or should I explicitly request it?

Best regards,

[2015-06-01 22:19] lautarobock commented on #309
@davvd PR #316 is ready for review again

[2015-06-01 23:07] yegor256 commented on #293
@Bertram25 first, you should make sure the author of the ticket closed it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-06-02 05:52] Bertram25 commented on #293
@yegor256 Thanks. In that case, the PR fixing this issue is merged and the issue comments are clean. Could you close the issue?

[2015-06-02 06:15] antonini commented on #221
@davvd PR #327 is available and waiting for review.

[2015-06-02 06:15] antonini commented on #258
@davvd PR #326 is available and waiting for review.

[2015-06-02 06:37] ekondrashev commented on #294
@davvd need more time on #294 since it takes more time to review the #304 PR then expected.

[2015-06-02 07:02] krzyk commented on #321
@yegor256 yes, looks good

[2015-06-02 09:40] davvd commented on #254
@yegor256 sure, take your time

[2015-06-02 09:40] davvd commented on #294
@ekondrashev right, take your time and thanks for informing

[2015-06-02 09:48] davvd commented on #253
@dmzaytsev I think we can continue, impediment #291 is closed

[2015-06-02 09:48] davvd commented on #221
@antonini the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; added -30 to your rating, now it is equal to [+

[2015-06-02 10:05] dmzaytsev commented on #253
@komaz FYI

[2015-06-02 11:51] komaz commented on #317
@yegor256 fixed in pull request #325

[2015-06-02 11:58] lautarobock commented on #309
@yegor256 Should we wait few builds just for checking stability?

[2015-06-02 12:34] antonini commented on #221
@davvd I understood about the No Obligations principle, but It took 8 days to someone answer my question. I think this should be taken into account.

[2015-06-02 12:37] davvd commented on #287
@ikhvostenkov this task is in your hands for 15 days already; -30 added to your rating, at the moment it is: [+85](http://www.netbout.com/b/35232?open=rating)

[2015-06-02 12:42] dmzaytsev commented on #221
@antonini FYI http://www.teamed.io/policy.html#10

[2015-06-02 16:06] davvd commented on #321
@krzyk we will find someone to do this task, soon

[2015-06-02 16:06] davvd commented on #321
@krzyk I set milestone here to `1.0`, let me know if it is wrong

[2015-06-02 16:07] antonini commented on #221
@dmzaytsev Need more time. Solving the code that was reviewed.

[2015-06-02 16:11] dmzaytsev commented on #221
@antonini I'm just the ticket reporter here :)
@davvd is the project manager. Ask him

[2015-06-02 16:19] davvd commented on #321
@krzyk thanks for the ticket, your account was topped for 15 mins, payment 58531652

[2015-06-02 17:23] davvd commented on #321
@mbarbieri this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) fo

[2015-06-02 21:22] yegor256 commented on #309
@lautarobock I'll close, thanks. If we have similar problem in the future, I'll open a new ticket. Thanks!

[2015-06-02 21:22] #309 closed

[2015-06-02 21:23] yegor256 commented on #317
@komaz thanks!

[2015-06-02 21:23] #317 closed

[2015-06-02 21:23] yegor256 commented on #317
@rultor release, tag is `0.20`

[2015-06-02 21:27] lautarobock commented on #309
@yegor256 ok

[2015-06-02 21:34] rultor commented on #317
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4032-108102658)

[2015-06-02 21:43] rultor commented on #317
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4032-108102658) (took me 8min)

[2015-06-02 23:49] antonini commented on #221
@dmzaytsev Ops... @davvd Need more time. Solving the code that was reviewed.

[2015-06-03 00:52] yegor256 commented on #221
@davvd we need more time here

[2015-06-03 04:43] ekondrashev commented on #257
@dmzaytsev please close this ticket, solution is  provided with #315 PR.

[2015-06-03 04:59] dmzaytsev commented on #257
@ekondrashev thanks!

[2015-06-03 04:59] #257 closed

[2015-06-04 09:23] davvd commented on #310
@rultor rultor closed it (automatically), @komaz please take a look

[2015-06-04 09:24] davvd commented on #221
@yegor256 yes, take your time, thanks for letting me know

[2015-06-04 09:24] davvd opened #330 "0.21"
Please, publish a new release **0.21** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-06-04 09:26] komaz commented on #310
@mbarbieri thanks

[2015-06-04 09:26] #310 closed

[2015-06-04 10:39] davvd commented on #330
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2015-06-04 16:39] yegor256 commented on #263
@davvd yeah give it to some body else

[2015-06-04 16:56] davvd commented on #263
@lautarobock the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-06-04 18:03] komaz commented on #253
@dmzaytsev fixed in #329

[2015-06-04 18:11] dmzaytsev commented on #253
@komaz thanks!

[2015-06-04 18:11] #253 closed

[2015-06-04 18:30] dmzaytsev opened #331 "RqMultipart.Base incorrect handles non-printable ASCII characters"
RqMultipart.Base incorrect handles non-printable ASCII characters
to reproduce it just make a small changes in `RqMultipartTest.handlesRequestInTime()`
https://github.com/yegor256/takes/blob/master/src/test/java/org/takes/rq/RqMultipartTest.java#L357

change
[code]
to
[code]

`bwr.write(String.format("%c", rnd.nextInt(108)+20));` will work fine.
so problem in the non-printable characters from 0 to

[2015-06-04 19:19] davvd commented on #331
@dmzaytsev I will ask someone to take care of this task soon

[2015-06-04 19:19] davvd commented on #331
@dmzaytsev since the ticket has no milestone I set it to 1.0

[2015-06-04 19:30] davvd commented on #331
@dmzaytsev many thanks for the bug report, I added 15 mins to your acc, transaction `58631336`

[2015-06-04 19:57] davvd commented on #331
@lautarobock this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-04 21:05] erimerturk commented on #323
@davvd @yegor256 can you check and close it please

[2015-06-04 21:49] mbarbieri commented on #321
@yegor256 @krzyk I see that ```RqForm`` has
[code]
that can return a list of values for the same name.
How should they be separated in the constructor?
Like this:
[code]
or maybe like this:
[code]

[2015-06-04 21:50] yegor256 commented on #321
@mbarbieri I think like this:

[code]

[2015-06-05 03:41] dmzaytsev commented on #331
@lautarobock It would better to create a new test for this issue. Also please add a hash calculation for input and output data and compare them.

[2015-06-05 09:32] davvd commented on #322
@yegor256 Closing..

[2015-06-05 09:32] #322 closed

[2015-06-05 09:32] davvd commented on #257
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-05 09:32] davvd commented on #309
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-05 09:32] davvd commented on #310
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-06-05 09:32] davvd commented on #317
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-05 09:38] ypshenychka commented on #257
@davvd Quality is good here.

[2015-06-05 10:37] davvd commented on #312
@ekondrashev it's yours,please go ahead

[2015-06-05 11:14] ekondrashev commented on #312
@davvd thanks!

[2015-06-05 13:07] davvd commented on #257
@ypshenychka thanks, got it, great to see high-quality tickets here

[2015-06-05 13:12] davvd commented on #323
@yegor256 It is closed now

[2015-06-05 13:12] #323 closed

[2015-06-05 13:12] davvd commented on #323
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-05 13:14] davvd commented on #257
@ekondrashev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 58649509... Thanks for your contribution, **30 mins** was added to your account, payment ID is `58649514`, 229 hours and 12 mins spent total... +30 added to your rating, at the moment it is: [+181](http://www.netbout.com/b/35260?open=rating)

[2015-06-05 19:38] ekondrashev opened #333 "BkParallelTest.requestsAreParallel is not stable"
Please see http://www.rultor.com/t/3957-109363038

[code]

There was already a try to fix it at #309

[2015-06-05 19:41] ekondrashev commented on #294
@davvd this one is blocked by #333
It prevents the #304 PR to be merged

[2015-06-05 20:56] davvd commented on #253
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-06 07:23] elenavolokhova commented on #310
@mbarbieri

I guess the root reason for this issue is making it possible to use a simple new RsText(String) constructor to create a complete response with a status

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future. Ask