[2017-08-14 08:07] 0crat commented on #437
@yegor256 Job `gh:yegor256/takes#437` is in scope.

[2017-08-14 08:07] 0crat commented on #485
@yegor256 Job `gh:yegor256/takes#485` is in scope.

[2017-08-14 08:09] yegor256 commented on #504
@ekondrashev works for you? Can you please close the ticket?

[2017-08-14 08:09] #512 closed

[2017-08-14 08:09] yegor256 commented on #521
@0crat in

[2017-08-14 08:09] yegor256 commented on #542
@0crat in

[2017-08-14 08:09] 0crat commented on #521
@yegor256 Job `gh:yegor256/takes#521` is in scope.

[2017-08-14 08:09] yegor256 commented on #555
@0crat in

[2017-08-14 08:09] 0crat commented on #542
@yegor256 Job `gh:yegor256/takes#542` is in scope.

[2017-08-14 08:10] 0crat commented on #555
@yegor256 Job `gh:yegor256/takes#555` is in scope.

[2017-08-14 08:10] yegor256 commented on #577
@jhyle is it still a problem or I can close the ticket?

[2017-08-14 08:10] yegor256 commented on #608
@0crat in

[2017-08-14 08:10] yegor256 commented on #682
@0crat in

[2017-08-14 08:10] 0crat commented on #608
@yegor256 Job `gh:yegor256/takes#608` is in scope.

[2017-08-14 08:10] yegor256 commented on #725
@0crat in

[2017-08-14 08:11] yegor256 commented on #730
@0crat in

[2017-08-14 08:11] 0crat commented on #682
@yegor256 Job `gh:yegor256/takes#682` is in scope.

[2017-08-14 08:11] yegor256 commented on #731
@0crat in

[2017-08-14 08:11] 0crat commented on #730
@yegor256 Job `gh:yegor256/takes#730` is in scope.

[2017-08-14 08:11] 0crat commented on #731
@yegor256 Job `gh:yegor256/takes#731` is in scope.

[2017-08-14 22:14] 0crat commented on #281
Job `gh:yegor256/takes#281` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #284
Job `gh:yegor256/takes#284` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #333
Job `gh:yegor256/takes#333` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #353
Job `gh:yegor256/takes#353` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #373
Job `gh:yegor256/takes#373` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #437
Job `gh:yegor256/takes#437` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #485
Job `gh:yegor256/takes#485` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #521
Job `gh:yegor256/takes#521` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #542
Job `gh:yegor256/takes#542` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #555
Job `gh:yegor256/takes#555` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #608
Job `gh:yegor256/takes#608` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #682
Job `gh:yegor256/takes#682` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #730
Job `gh:yegor256/takes#730` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-14 22:15] 0crat commented on #731
Job `gh:yegor256/takes#731` assigned to @caarlos0, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-18 22:15] skapral opened #744 "Constructors of FkHitRefresh shouldn't throw any exceptions."
The issue was raised after this discussion - http://disq.us/p/1lgf1ax.

According to [this](http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html) post, constructors should not do any logic inside. For Takes framework, this rule is violated in several places. One of them is the class `org.takes.facets.fork.FkHitRefresh`, which handles with IO inside a constructor.

PS: @yegor256 please c

[2017-08-18 22:15] 0crat commented on #744
@yegor256 please, pay attention to this issue

[2017-08-20 16:46] yegor256 commented on #744
@skapral thanks! Please, submit a pull request, if you can.

[2017-08-20 16:46] yegor256 commented on #744
@0crat assign @skapral

[2017-08-20 16:46] 0crat commented on #744
@yegor256 Job `gh:yegor256/takes#744` assigned to @skapral, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @skapral is not a member of this project yet, but can request to join. @skapral check your [Zerocracy profile](http://www.0crat.com/u/skapral) and follow the instructions.

[2017-08-30 19:29] eljames opened #746 "Security"
Do you plan develop some security framework for Takes? For treat CSRF atack, user autentication and authorization, SSL, etc...
Congratulations, I love the way Takes was designed, it's clean and well done. Thanks!

[2017-08-30 19:29] 0crat commented on #746
@yegor256 please, pay attention to this issue

[2017-08-30 20:47] yegor256 commented on #746
@eljames we have SSL already. As for other things, feel free to contribute or submit separate tickets, we'll try to fix, if we have resources available. The best way, of course, is to contribute with a pull request :) Thanks for using Takes!

[2017-09-01 16:17] t-izbassar opened #747 "Possible synchronization issue in RsPrettyXml"
Tracing [commit](https://github.com/yegor256/takes/commit/3fdfe2fa7a419fb877025f8e6a69ee0ffbdbb43e) I've noticed that completely ignoring findbugs was introduced. And in [RsPrettyXml](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/rs/RsPrettyXml.java) the new lock was introduced synchronizing on boolean variable lock:

[code]

which violates another rule from findbugs: [DL_S

[2017-09-01 16:17] 0crat commented on #747
@yegor256 please, pay attention to this issue

[2017-09-01 19:11] yegor256 commented on #747
@rultor release, tag is `1.6.1`

[2017-09-01 19:12] rultor commented on #747
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12884-326661752)

[2017-09-01 19:23] rultor commented on #747
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12884-326661752) (took me 11min)

[2017-09-01 20:17] #747 closed

[2017-09-01 20:17] 0crat commented on #747
Oops! Job `gh:yegor256/takes#747` was not in scope

[2017-09-24 16:44] yegor256 opened #749 "XeLifetime"
Let's create `XeLifetime` to track the total time web app spent since its start.

[2017-09-24 17:09] yegor256 commented on #749
@rui-castro release, tag is `1.7`

[2017-09-24 19:03] yegor256 commented on #749
@rultor  release, tag is `1.7`

[2017-09-24 19:04] rultor commented on #749
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13002-331731759)

[2017-09-24 19:18] rultor commented on #749
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13002-331731759) (took me 13min)

[2017-09-24 19:51] #749 closed

[2017-09-24 19:51] 0crat commented on #749
Oops! Job `gh:yegor256/takes#749` was not in scope

[2017-10-04 19:44] g4s8 opened #750 "Split to modules"
Takes framework can be split into few modules (projects):
1. API module with base interfaces such as `Take`, `Fork`, `Request`, `Response` etc
2. Core module (depends on API) with main classes required in any web app: `FkRegex`, `RqHref`, decorators etc
3. All other stuff (depends on API) like github login, cookies encryption, gzipping content, etc can be moved to additional plugin modules - one m

[2017-10-04 19:44] 0crat commented on #750
@yegor256 please, pay attention to this issue

[2017-10-05 06:12] yegor256 commented on #750
@g4s8 it is a rather small framework... I always thought that fewer artifacts is better. I don't really like huge frameworks with dozens of dependencies, which nobody can understand how to put together :) BTW, you're talking about Java 9 modules?

[2017-10-06 10:16] g4s8 commented on #750
@yegor256 you're right - small is better. But Takes can grow into one big monolithic artifact because it doesn't cover some web+http aspects at moment which most probably will be included later. For instance it can include cache-control, etags, internationalization with language tags, versioning and many other. If all this features are included, Takes will become a huge framework. To develop and m

[2017-10-13 19:51] yegor256 opened #751 "sonarcloud"
Let's integrate

[2017-10-13 19:54] yegor256 commented on #751
@rultor release, tag is `1.7.1`

[2017-10-13 19:55] rultor commented on #751
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13141-336551754)

[2017-10-13 20:03] rultor commented on #751
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13141-336551754) (spent 8min)

[code]

[2017-10-13 20:10] yegor256 commented on #751
@rultor release, tag is `1.7.1`

[2017-10-13 20:11] rultor commented on #751
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13141-336555403)

[2017-10-13 20:22] rultor commented on #751
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13141-336555403) (spent 10min)

[code]

[2017-10-13 20:35] yegor256 commented on #751
@rultor release, tag is `1.7.1`

[2017-10-13 20:36] rultor commented on #751
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13141-336560710)

[2017-10-13 20:47] rultor commented on #751
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13141-336560710) (spent 11min)

[code]

[2017-10-14 05:53] yegor256 commented on #751
@rultor release, tag is `1.7.1`

[2017-10-14 05:54] rultor commented on #751
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13141-336612552)

[2017-10-14 06:08] rultor commented on #751
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13141-336612552) (took me 13min)

[2017-10-14 07:17] #751 closed

[2017-10-14 07:17] 0crat commented on #751
Oops! Job `gh:yegor256/takes#751` was not in scope

[2017-11-05 20:28] yegor256 opened #753 "sonarcloud complains"
Let's fix them: https://sonarcloud.io/project/issues?id=org.takes%3Atakes&open=AV8XZgDkNjpKv9tuZnxi&resolved=false&types=BUG

[2017-11-05 20:29] 0crat commented on #753
Job `gh:yegor256/takes#753` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-05 20:32] 0crat commented on #753
Bug was reported: +15 points just awarded to @yegor256, total is [+5075](http://www.0crat.com/u/yegor256).

[2017-11-05 20:32] 0crat commented on #753
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5075](http://www.0crat.com/u/yegor256).

[2017-11-05 21:19] #753 closed

[2017-11-05 21:20] 0crat commented on #753
Job `gh:yegor256/takes#753` is now out of scope.

[2017-11-05 21:20] 0crat commented on #753
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5135](http://www.0crat.com/u/yegor256).

[2017-11-14 16:42] 0crat commented on #281
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 16:47] 0crat commented on #284
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 16:53] 0crat commented on #333
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:23] 0crat commented on #353
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:33] 0crat commented on #373
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:40] 0crat commented on #437
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:45] 0crat commented on #485
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:49] 0crat commented on #521
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:53] 0crat commented on #542
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:56] 0crat commented on #555
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 18:59] 0crat commented on #608
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 19:02] 0crat commented on #682
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 19:05] 0crat commented on #730
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 19:06] 0crat commented on #731
@caarlos0 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 19:08] 0crat commented on #744
@skapral this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-16 19:16] 0crat commented on #281
Oops! Job `gh:yegor256/takes#281` is not assigned to anyone.

[2017-11-16 19:16] 0crat commented on #284
Oops! Job `gh:yegor256/takes#284` is not assigned to anyone.

[2017-11-16 19:16] 0crat commented on #333
Oops! Job `gh:yegor256/takes#333` is not assigned to anyone.

[2017-11-16 19:16] 0crat commented on #353
Oops! Job `gh:yegor256/takes#353` is not assigned to anyone.

[2017-11-16 19:16] 0crat commented on #373
Oops! Job `gh:yegor256/takes#373` is not assigned to anyone.

[2017-11-16 19:16] 0crat commented on #437
Oops! Job `gh:yegor256/takes#437` is not assigned to anyone.

[2017-11-16 19:16] 0crat commented on #485
Oops! Job `gh:yegor256/takes#485` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #521
Oops! Job `gh:yegor256/takes#521` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #542
Oops! Job `gh:yegor256/takes#542` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #555
Oops! Job `gh:yegor256/takes#555` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #608
Oops! Job `gh:yegor256/takes#608` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #682
Oops! Job `gh:yegor256/takes#682` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #730
Oops! Job `gh:yegor256/takes#730` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #731
Oops! Job `gh:yegor256/takes#731` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #281
Oops! Job `gh:yegor256/takes#281` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #284
Oops! Job `gh:yegor256/takes#284` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #333
Oops! Job `gh:yegor256/takes#333` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #353
Oops! Job `gh:yegor256/takes#353` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #373
Oops! Job `gh:yegor256/takes#373` is not assigned to anyone.

[2017-11-16 19:17] 0crat commented on #437
Oops! Job `gh:yegor256/takes#437` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #485
Oops! Job `gh:yegor256/takes#485` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #521
Oops! Job `gh:yegor256/takes#521` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #542
Oops! Job `gh:yegor256/takes#542` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #555
Oops! Job `gh:yegor256/takes#555` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #608
Oops! Job `gh:yegor256/takes#608` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #682
Oops! Job `gh:yegor256/takes#682` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #730
Oops! Job `gh:yegor256/takes#730` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #731
Oops! Job `gh:yegor256/takes#731` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #744
Oops! Job `gh:yegor256/takes#744` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #281
Oops! Job `gh:yegor256/takes#281` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #284
Oops! Job `gh:yegor256/takes#284` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #333
Oops! Job `gh:yegor256/takes#333` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #353
Oops! Job `gh:yegor256/takes#353` is not assigned to anyone.

[2017-11-16 19:18] 0crat commented on #373
Oops! Job `gh:yegor256/takes#373` is not assigned to anyone.

[2017-11-16 19:19] 0crat commented on #437
Oops! Job `gh:yegor256/takes#437` is not assigned to anyone.

[2017-11-16 19:19] 0crat commented on #485
Oops! Job `gh:yegor256/takes#485` is not assigned to anyone.

[2017-12-12 06:37] vladimir-bukhtoyarov opened #754 "Review note: use standard DCL pattern on top of volatile or final holder"
In this line lock acquires every time
https://github.com/yegor256/takes/blob/6e4575f00f0b63baacd4b36aa47fcaefd8eaf411/src/main/java/org/takes/rq/form/RqFormBase.java#L129

It is better to eliminate the lock via stadard DCL paradigm

[2018-01-01 21:07] fabriciofx opened #755 "Let's update Copyright notice to 2018"
Let's update Copyright notice to 2018. I'll handle it.

[2018-01-01 21:07] 0crat commented on #755
@yegor256 please, pay attention to this issue

[2018-01-04 16:48] fabriciofx commented on #755
Closed by #756 .

[2018-01-04 16:48] #755 closed

[2018-01-04 16:50] 0crat commented on #755
Oops! Job `gh:yegor256/takes#755` is not assigned, can't get start time

[2018-01-08 14:12] yegor256 opened #758 "XeWhen must accept the third argument"
`XeWhen` should accept three arguments: the condition, the position scenario, the negative scenario. At the moment it's only one path.

[2018-01-08 15:25] 0crat commented on #758
Job `gh:yegor256/takes#758` is now in scope, role is `DEV`.

[2018-01-08 15:26] 0crat commented on #758
Bug was reported: +15 points just awarded to @yegor256, total is [+6645](http://www.0crat.com/u/yegor256).

[2018-01-08 16:57] yegor256 commented on #758
@0crat waiting

[2018-01-08 16:57] 0crat commented on #758
@yegor256 I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2018-01-08 17:00] 0crat commented on #758
Job `gh:yegor256/takes#758` assigned to @neonailol  ([profile](http://www.0crat.com/u/neonailol})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, rea

[2018-01-08 17:11] 0crat commented on #608
Job `gh:yegor256/takes#608` assigned to @neonailol  ([profile](http://www.0crat.com/u/neonailol})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, rea

[2018-01-08 21:20] 0crat commented on #353
Job `gh:yegor256/takes#353` assigned to [@t-izbassar](http://www.0crat.com/u/t-izbassar}). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](

[2018-01-09 11:00] 0crat commented on #284
Job `gh:yegor256/takes#284` assigned to [@neonailol](http://www.0crat.com/u/neonailol}) (`DEV`). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [

[2018-01-09 11:09] neonailol commented on #758
@yegor256, PR #759 Was merged, issue can be closed

[2018-01-09 12:11] neonailol commented on #555
@yegor256 Please provide more information about the issue.
For example lets look at `org.takes.rq.RqHrefTest#failsOnAbsentRequestLine`

[code]

Class in scope is `RqSimple`, should it constructor be changed to accepting only `Opt` instances, or add another one with changed arguments.

Next one in this chain is `RqSimple` constructor body

[code]

As seen from test, we can pass null to body, so sho

[2018-01-09 12:12] neonailol commented on #608
@yegor256 Please provide more information about the issue.
For example lets look at `org.takes.rq.RqHrefTest#failsOnAbsentRequestLine`

[code]

Class in scope is `RqSimple`, should it constructor be changed to accepting only `Opt` instances, or add another one with changed arguments.

Next one in this chain is `RqSimple` constructor body

[code]

As seen from test, we can pass null to body, so sho

[2018-01-09 18:17] 0crat commented on #682
The job [#682](https://github.com/yegor256/takes/issues/682) assigned to t-izbassar. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this

[2018-01-09 21:23] #758 closed

[2018-01-09 21:24] yegor256 commented on #758
@rultor release, tag is `1.8`

[2018-01-09 21:24] rultor commented on #758
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13686-356418693)

[2018-01-09 21:26] 0crat commented on #758
The job [#758](https://github.com/yegor256/takes/issues/758) is now out of scope

[2018-01-09 21:26] 0crat commented on #758
Order was successfully finished: +30 points just awarded to [@neonailol](http://www.0crat.com/u/neonailol), total is [+60](http://www.0crat.com/u/neonailol)

[2018-01-09 21:35] 0crat commented on #731
The job [#731](https://github.com/yegor256/takes/issues/731) assigned to neonailol. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this]

[2018-01-09 21:37] rultor commented on #758
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13686-356418693) (took me 12min)

[2018-01-10 14:46] neonailol commented on #608
@yegor256 there is no public api that can return null in project. `Opt.Nullable` was rejected in favor of `Opt.Empty`/`Opt.Single` and it's already wildly used in library, i believe this task can be closed.

[2018-01-10 15:18] t-izbassar opened #763 "Write unit tests or servlet support classes"
Write unit tests to that #682 issue in that #762 PR

[2018-01-10 15:19] 0crat commented on #763
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 15:19] t-izbassar opened #764 "Write integration test for servlet support"
Need to prove that #682 is working. Relates to #762 PR

[2018-01-10 15:19] 0crat commented on #764
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 15:20] t-izbassar opened #765 "Use Cookie from Servlet interface"
According to #682 task and #762 PR SvRequestWrap and SvResponseWrap probably should use Cookie from HttpServlet spec.

[2018-01-10 15:20] 0crat commented on #765
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 15:22] t-izbassar opened #766 "Servlet Support in Takes should able to route requests"
According to this #682 task and to #762 implementation `AbstractTakesServlet` should create `Fork` instead of takes so it will support routing from HttpServletRequest

[2018-01-10 15:22] 0crat commented on #766
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 15:23] t-izbassar opened #767 "Document ServletSupport"
We should document servlet support in README.md according to this #682 task and #762 PR.

[2018-01-10 15:23] 0crat commented on #767
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 16:55] yegor256 commented on #608
@neonailol ask ticket reporter please.

[2018-01-10 16:59] neonailol commented on #608
@Happy-Neko will you agree with me on this topic?

[2018-01-12 14:58] #767 closed

[2018-01-12 14:58] #765 closed

[2018-01-12 14:58] #766 closed

[2018-01-12 14:58] #763 closed

[2018-01-12 14:58] #764 closed

[2018-01-12 14:58] 0crat commented on #767
Job `gh:yegor256/takes#767` is not assigned, can't get start time

[2018-01-12 14:59] 0crat commented on #767
Job [#767](https://github.com/yegor256/takes/issues/767) was not in scope

[2018-01-12 15:00] 0crat commented on #765
Job `gh:yegor256/takes#765` is not assigned, can't get start time

[2018-01-12 15:00] 0crat commented on #765
Job [#765](https://github.com/yegor256/takes/issues/765) was not in scope

[2018-01-12 15:00] 0crat commented on #766
Job `gh:yegor256/takes#766` is not assigned, can't get start time

[2018-01-12 15:00] 0crat commented on #766
Job [#766](https://github.com/yegor256/takes/issues/766) was not in scope

[2018-01-12 15:00] 0crat commented on #763
Job `gh:yegor256/takes#763` is not assigned, can't get start time

[2018-01-12 15:00] 0crat commented on #763
Job [#763](https://github.com/yegor256/takes/issues/763) was not in scope

[2018-01-12 15:00] 0crat commented on #764
Job `gh:yegor256/takes#764` is not assigned, can't get start time

[2018-01-12 15:00] 0crat commented on #764
Job [#764](https://github.com/yegor256/takes/issues/764) was not in scope

[2018-01-12 18:17] 0crat commented on #353
@t-izbassar The impediment was registered successfully

[2018-01-15 19:42] t-izbassar commented on #353
@yegor256 I believe this one could be closed as PR is merged. Thanks.

[2018-01-15 20:15] yegor256 commented on #353
@t-izbassar ask ticket reporter, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2018-01-15 20:20] t-izbassar commented on #353
@dmzaytsev can you close this one?

[2018-01-16 06:21] dmzaytsev commented on #353
@t-izbassar thanks

[2018-01-16 06:21] #353 closed

[2018-01-16 06:25] 0crat commented on #353
@t-izbassar[/z](http://www.0crat.com/u/t-izbassar) resigned from [#353](https://github.com/yegor256/takes/issues/353), since the job is not in scope anymore

[2018-01-16 06:25] 0crat commented on #353
The job [#353](https://github.com/yegor256/takes/issues/353) is now out of scope

[2018-01-16 06:25] 0crat commented on #353
Job `gh:yegor256/takes#353` is not assigned, can't get start time

[2018-01-16 06:42] 0crat commented on #542
The job [#542](https://github.com/yegor256/takes/issues/542) assigned to @t-izbassar[/z](http://www.0crat.com/u/t-izbassar). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/

[2018-01-17 14:51] #731 closed

[2018-01-17 14:51] 0pdd commented on #731
The puzzle `712-65dc14c7` has disappeared from the source code, that's why I closed this issue.

[2018-01-17 14:53] 0crat commented on #731
Job `gh:yegor256/takes#731` is not assigned, can't get start time

[2018-01-17 14:53] 0crat commented on #731
Order was successfully finished: +30 points just awarded to @neonailol[/z](http://www.0crat.com/u/neonailol), total is [+105](http://www.0crat.com/u/neonailol)

[2018-01-17 15:01] 0crat commented on #731
The job [#731](https://github.com/yegor256/takes/issues/731) is now out of scope

[2018-01-17 15:01] 0crat commented on #731
Job [#731](https://github.com/yegor256/takes/issues/731) was not in scope

[2018-01-18 13:42] yegor256 opened #769 "SSL dispatching"
Let's make it possible to dispatch incoming traffic by the scheme of their URIs.

[2018-01-18 13:43] 0crat commented on #769
Job [#769](https://github.com/yegor256/takes/issues/769) is now in scope, role is `DEV`

[2018-01-18 13:44] 0crat commented on #769
The job [#769](https://github.com/yegor256/takes/issues/769) assigned to @yegor256[/z](http://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/1

[2018-01-18 13:45] 0crat commented on #769
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](http://www.0crat.com/u/yegor256), total is [+7670](http://www.0crat.com/u/yegor256)

[2018-01-18 13:45] 0crat commented on #769
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](http://www.0crat.com/u/yegor256), total is [+7670](http://www.0crat.com/u/yegor256)

[2018-01-18 13:45] 0crat commented on #769
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](http://www.0crat.com/u/yegor256), total is [+7670](http://www.0crat.com/u/yegor256)

[2018-01-18 13:46] #769 closed

[2018-01-18 13:47] 0crat commented on #769
Order was successfully finished: +30 points just awarded to @yegor256[/z](http://www.0crat.com/u/yegor256), total is [+7700](http://www.0crat.com/u/yegor256)

[2018-01-18 13:53] 0crat commented on #769
The job [#769](https://github.com/yegor256/takes/issues/769) is now out of scope

[2018-01-18 13:56] 0crat commented on #769
Job [#769](https://github.com/yegor256/takes/issues/769) was not in scope

[2018-01-20 11:14] simonjenga opened #770 "AbstractHmHeader<T>#matchesSafely(T) should be revised"
The method: ```org.takes.facets.hamcrest.AbstractHmHeader.matchesSafely(T)``` may have a condition
check that may not be needed. Is the following check really necessary?

[code]

The JUnit test's for the concrete implementation of this ```abstract``` class pass without any error!

[2018-01-20 11:27] yegor256 opened #771 "RqHref must work without Host header"

[2018-01-20 11:39] yegor256 commented on #771
@rultor release, tag is `1.8.1`

[2018-01-20 11:40] rultor commented on #771
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13735-359165219)

[2018-01-20 11:54] rultor commented on #771
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13735-359165219) (took me 13min)

[2018-01-20 11:55] #771 closed

[2018-01-21 05:29] 0crat commented on #608
The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#608](https://github.com/yegor256/takes/issues/608), please stop working

[2018-01-21 05:29] 0crat commented on #284
The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#284](https://github.com/yegor256/takes/issues/284), please stop working

[2018-01-21 05:29] 0crat commented on #682
The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#682](https://github.com/yegor256/takes/issues/682), please stop working

[2018-01-21 07:47] 0crat commented on #284
@neonailol Argument "to" doesn't match regex `me|@[a-zA-Z0-9\-]+`

[2018-01-21 08:07] neonailol commented on #284
@0crat assign to neonailol

[2018-01-21 08:07] 0crat commented on #284
@neonailol Argument "to" doesn't match regex `me|@[a-zA-Z0-9\-]+`

[2018-01-21 08:07] neonailol commented on #284
@0crat assign to @neonailol

[2018-01-21 08:07] 0crat commented on #284
@neonailol Argument "to" doesn't match regex `me|@[a-zA-Z0-9\-]+`

[2018-01-21 08:11] neonailol commented on #284
@0crat assign @neonailol

[2018-01-21 08:11] 0crat commented on #284
@neonailol You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-01-22 21:53] yegor256 commented on #284
@0crat assign @neonailol

[2018-01-22 21:54] 0crat commented on #284
@yegor256 The job [#284](https://github.com/yegor256/takes/issues/284) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.

[2018-01-22 22:04] 0crat commented on #284
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7800](https://www.0crat.com/u/yegor256)

[2018-01-22 23:14] 0crat commented on #281
The job [#281](https://github.com/yegor256/takes/issues/281) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-01-23 01:34] 0crat commented on #333
The job [#333](https://github.com/yegor256/takes/issues/333) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-01-23 19:56] t-izbassar commented on #542
@0crat waiting #354

[2018-01-23 20:12] 0crat commented on #542
@t-izbassar The impediment for [#542](https://github.com/yegor256/takes/issues/542) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-01-23 21:36] t-izbassar commented on #281
@0crat waiting #773

[2018-01-23 21:36] 0crat commented on #281
@t-izbassar The impediment for [#281](https://github.com/yegor256/takes/issues/281) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-01-24 09:40] simonjenga opened #774 "Hello World! with Takes fails to start and launch from the command line"
The following class works:
[code]

To compile and execute:
[code]

The following class does not work:
[code]

To compile and execute:
[code]

The class works okay when launching and starting from the Eclipse IDE.
This is very strange and my CLASSPATH enviroment vaiables seems to be set OK.

[2018-01-24 09:40] 0crat commented on #774
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 12:33] neonailol commented on #333
@yegor256 i believe this is no longer an issues
run test for 50000 times, and not a single failure was spotted, here is [surefire report](https://github.com/yegor256/takes/files/1659806/surefire-reports.zip)

[2018-01-24 12:38] neonailol commented on #333
also run it with multiple threads like this `mvn -Dtest=BkParallelTest clean test -T50`
no failures was detected [report](https://github.com/yegor256/takes/files/1659816/surefire-reports.zip)

[2018-01-24 14:11] yegor256 commented on #774
@simonjenga I don't think it's relevant to Takes. It's something with the way you compile Java and execute it. Try StackOverflow instead.

[2018-01-24 14:11] #774 closed

[2018-01-24 14:11] 0crat commented on #774
Job `gh:yegor256/takes#774` is not assigned, can't get start time

[2018-01-24 14:21] 0crat commented on #774
Job [#774](https://github.com/yegor256/takes/issues/774) was not in scope

[2018-01-24 14:33] yegor256 commented on #333
@neonailol ask ticket reporter to close it

[2018-01-24 15:32] neonailol commented on #333
@ekondrashev issue is no more, see above 3 comments

[2018-01-24 15:34] neonailol commented on #284
@yegor256 PR #761 with requested functionality merged and issue can be closed

[2018-01-24 16:57] leocd277 commented on #740
Hello @yegor256, I'm seeing this when I use "new RsRedirect("/")", or go back one page, or when redirecting to the Twitter authentication page when in private mode. All of these happen in Firefox. With Chome/Chromium seems to work just fine. I'm using Firefox 58, Chromium 63.0.3239.84 and Takes 1.8.1

[2018-01-24 18:16] 0crat commented on #373
The job [#373](https://github.com/yegor256/takes/issues/373) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-01-24 19:11] yegor256 commented on #284
@neonailol thanks!

[2018-01-24 19:14] 0crat commented on #284
Order was successfully finished: +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+165](https://www.0crat.com/u/neonailol)

[2018-01-24 19:23] 0crat commented on #284
The job [#284](https://github.com/yegor256/takes/issues/284) is now out of scope

[2018-01-24 21:05] 0crat commented on #437
The job [#437](https://github.com/yegor256/takes/issues/437) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-01-24 21:31] piotrkot opened #775 "Auth0 authentication"
Is it possible to use [auth0](https://auth0.com) authentication in takes?
If yes, can you please give some guidelines?

[2018-01-24 21:31] 0crat commented on #775
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-25 08:23] simonjenga commented on #774
@yegor256 The command provided to execute is OS-dependent. In this case the command provided is for executing on all Unix-like operating systems. That is why it does not work on Windows operating systems.

http://stackoverflow.com/a/4528456/645270

https://stackoverflow.com/questions/18093928/what-does-could-not-find-or-load-main-class-mean

The command to execute on Windows bases systems is:
```j

[2018-01-26 14:47] t-izbassar commented on #373
@0crat waiting for #776

[2018-01-26 14:48] 0crat commented on #373
@t-izbassar The impediment for [#373](https://github.com/yegor256/takes/issues/373) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-01-27 09:48] t-izbassar commented on #354
@yegor256 can you assign this issue to me? I've already created PR and this issue is a blocker for my other issue.

[2018-01-27 09:49] 0crat commented on #354
@yegor256 Job [#354](https://github.com/yegor256/takes/issues/354) is now in scope, role is `DEV`

[2018-01-27 22:07] t-izbassar commented on #281
@0crat waiting #773

[2018-01-27 22:08] 0crat commented on #281
@t-izbassar Job [#281](https://github.com/yegor256/takes/issues/281) is already on hold

[2018-01-28 02:05] dgroup commented on #740
Hi @yegor256
I got the same exception during deploy to Heroku
[code]
Takes version is `1.8.1`.
[code]
The same codebase works fine on JDK8 alpine and Oracle JDK 9
[code]
Seems to be environment dependent issue... It fails during each deploy, therefore, it's not a floating issue.

Google Chrome `64.0.3282.119 (Official Build) (64-bit)`
Firefox `57.0.4`

[2018-01-29 03:45] neonailol commented on #333
@0crat waiting

[2018-01-29 03:45] 0crat commented on #333
@neonailol The impediment for [#333](https://github.com/yegor256/takes/issues/333) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-01-29 12:50] simonjenga opened #778 "OutputStream in RsPrint may fail to flush() incase of IOException"
The current implementation of the methods in ```org.takes.rs.RsPrint``` should be wrapped by a ```try-finally``` block to ensure that the ```OutputStream``` makes a call the ```#flush()``` method incase of an ```IOException```.

This will ensure that data held in the ```OutputStream``` before the ```Exception``` happened is written out to their intended destination.

[2018-01-29 12:50] 0crat commented on #778
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 14:24] yegor256 opened #779 "TkRedirect should carry on the query and the fragment"
When I'm doing this:

[code]

The `Location` header in the response should be equal to:

[code]

At the moment it is equal to:

[code]

[2018-01-29 14:25] 0crat commented on #779
Job [#779](https://github.com/yegor256/takes/issues/779) is now in scope, role is `DEV`

[2018-01-29 14:25] 0crat commented on #779
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8785](https://www.0crat.com/u/yegor256)

[2018-01-29 14:25] yegor256 commented on #779
@0crat assign @neonailol

[2018-01-29 14:26] 0crat commented on #779
@yegor256 The job [#779](https://github.com/yegor256/takes/issues/779) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.

[2018-01-29 14:26] 0crat commented on #779
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8780](https://www.0crat.com/u/yegor256)

[2018-01-29 17:54] 0pdd opened #780 "Condition.java:36-41: Implement Condition.Range that..."
The puzzle `218-f14916a5` from #218 has to be resolved:

https://github.com/yegor256/takes/blob/38616bd926905daa347289b3243854fcce4d98e3/src/main/java/org/takes/misc/Condition.java#L36-L41

The puzzle was created by rultor on 29-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-01-29 17:54] 0crat commented on #780
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 17:56] 0crat commented on #780
Job [#780](https://github.com/yegor256/takes/issues/780) is now in scope, role is `DEV`

[2018-01-29 17:59] t-izbassar commented on #281
@dmzaytsev can you close this one? #773 was merged.

[2018-01-29 18:03] #281 closed

[2018-01-29 18:04] 0crat commented on #281
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+30](https://www.0crat.com/u/t-izbassar)

[2018-01-29 18:13] 0crat commented on #281
The job [#281](https://github.com/yegor256/takes/issues/281) is now out of scope

[2018-01-29 18:15] 0pdd opened #781 "Front.java:37-39: Document usage of Front interface in..."
The puzzle `373-b5720fa6` from #373 has to be resolved:

https://github.com/yegor256/takes/blob/db5df10a3e25863ca91e456e17e16a6810c357c8/src/main/java/org/takes/http/Front.java#L37-L39

The puzzle was created by Tolegen Izbassar on 26-Jan-18.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-01-29 18:15] 0pdd opened #782 "Back.java:38-40: Document usage of Back interface in..."
The puzzle `373-5aec50f1` from #373 has to be resolved:

https://github.com/yegor256/takes/blob/db5df10a3e25863ca91e456e17e16a6810c357c8/src/main/java/org/takes/http/Back.java#L38-L40

The puzzle was created by Tolegen Izbassar on 26-Jan-18.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-01-29 18:15] 0crat commented on #781
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 18:15] 0crat commented on #782
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 18:17] t-izbassar commented on #373
@carlosmiranda can you close this one? PR #776 was merged.

[2018-01-29 18:18] 0crat commented on #781
Job [#781](https://github.com/yegor256/takes/issues/781) is now in scope, role is `DEV`

[2018-01-29 18:18] 0crat commented on #782
Job [#782](https://github.com/yegor256/takes/issues/782) is now in scope, role is `DEV`

[2018-01-29 19:17] 0crat commented on #781
Job [#781](https://github.com/yegor256/takes/issues/781) is already in scope

[2018-01-29 20:40] yegor256 commented on #775
@piotrkot not at the moment, but you can contribute with a pull request.

[2018-01-29 20:44] 0crat commented on #485
The job [#485](https://github.com/yegor256/takes/issues/485) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-01-29 22:07] carlosmiranda commented on #373
@t-izbassar thanks!

[2018-01-29 22:07] #373 closed

[2018-01-29 22:09] 0crat commented on #373
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+60](https://www.0crat.com/u/t-izbassar)

[2018-01-29 22:24] 0crat commented on #373
The job [#373](https://github.com/yegor256/takes/issues/373) is now out of scope

[2018-01-29 23:54] 0crat commented on #521
The job [#521](https://github.com/yegor256/takes/issues/521) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-01-30 06:05] t-izbassar commented on #354
@0crat status

[2018-01-30 06:06] 0crat commented on #354
@t-izbassar This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#354](https://github.com/yegor256/takes/issues/354) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 3days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://datum.zerocracy.com/pages/policy.html#4) is 30 minutes
  * These us

[2018-01-30 06:08] t-izbassar commented on #354
@dmzaytsev this can be closed as PR #777 was merged,

[2018-01-30 09:07] t-izbassar opened #784 "Create Base interface for Request and Response"
`Request` and `Response` are interfaces with same methods. We can introduce additional interfaces:
[code]

With that we can rewrite `Request` and `Response` in this way:
[code]

This might be useful for example for `AbstractHmHeader` that could be rewritten as follows:
[code]

The difference is that we don't need `HmRsHeader` and `HmRqHeader` classes anymore as we can use `head` method directly in

[2018-01-30 09:07] 0crat commented on #784
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 11:59] #354 closed

[2018-01-30 12:00] 0crat commented on #354
Job `gh:yegor256/takes#354` is not assigned, can't get start time

[2018-01-30 12:10] 0crat commented on #354
The job [#354](https://github.com/yegor256/takes/issues/354) is now out of scope

[2018-01-30 13:00] 0crat commented on #778
Job [#778](https://github.com/yegor256/takes/issues/778) is now in scope, role is `DEV`

[2018-01-30 13:36] t-izbassar commented on #485
@0crat waiting for #778

[2018-01-30 13:36] 0crat commented on #485
@t-izbassar The impediment for [#485](https://github.com/yegor256/takes/issues/485) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-01-30 17:22] neonailol commented on #437
@0crat waiting

[2018-01-30 17:23] 0crat commented on #437
@neonailol The impediment for [#437](https://github.com/yegor256/takes/issues/437) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-01-31 10:14] t-izbassar opened #786 "HmRqHeader and HmRsHeader constructors violate the rule about primary constructor"
I believe we should have only one primary constructor in `AbstractHmHeader`:

[code]

Other constructors should be removed. And we should construct parent by having supplementary constructors in childs.

[code]

Other constructors in `HmRqHeader` should delegate construction to this primary one:

[code]

Same should be applicable for `HmRsHeader`.

[2018-01-31 10:14] 0crat commented on #786
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 10:28] t-izbassar opened #787 "Update dependencies"
We should update dependencies in the project. There are minor ones in test dependencies and also others regarding xml processing. Check [report](https://www.versioneye.com/user/projects/561a9c5ca193340f2f00110d).

[2018-01-31 10:28] 0crat commented on #787
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 11:10] t-izbassar commented on #521
@exper0 I believe this issue is already fixed. Can you check it out and close this one?

[2018-01-31 12:24] neonailol commented on #333
@yegor256 no response from reporter, and this test are not failing anymore, i suggest to close this ticket

[2018-01-31 15:21] t-izbassar commented on #521
@0crat waiting for author as issue is already fixed.

[2018-01-31 15:22] 0crat commented on #521
@t-izbassar The impediment for [#521](https://github.com/yegor256/takes/issues/521) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-01-31 15:42] 0crat commented on #787
Job [#787](https://github.com/yegor256/takes/issues/787) is now in scope, role is `DEV`

[2018-01-31 15:43] 0crat commented on #787
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+75](https://www.0crat.com/u/t-izbassar)

[2018-01-31 15:44] 0crat commented on #784
Job [#784](https://github.com/yegor256/takes/issues/784) is now in scope, role is `DEV`

[2018-01-31 15:45] 0crat commented on #784
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+90](https://www.0crat.com/u/t-izbassar)

[2018-01-31 15:53] yegor256 commented on #333
@neonailol closing, thanks

[2018-01-31 15:53] #333 closed

[2018-01-31 15:53] 0crat commented on #786
Job [#786](https://github.com/yegor256/takes/issues/786) is now in scope, role is `DEV`

[2018-01-31 15:55] 0crat commented on #786
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+105](https://www.0crat.com/u/t-izbassar)

[2018-01-31 15:55] 0crat commented on #333
Order was successfully finished: +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+300](https://www.0crat.com/u/neonailol)

[2018-01-31 16:03] 0crat commented on #333
The job [#333](https://github.com/yegor256/takes/issues/333) is now out of scope

[2018-01-31 16:39] simonjenga opened #788 "TkFallback methods should be revised and cleaned up"
The current implementation of the methods in ```org.takes.facets.fallback.TkFallback``` is a little verbose and should be revised/cleaned up by introducing some private methods that will take care of the following code repetitions:

[code]

and:

[code]

[2018-01-31 16:39] 0crat commented on #788
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 18:01] t-izbassar opened #790 "Document gradle usage in README"
I believe we should document how to use framework within [gradle](https://gradle.org/) as well with `maven`. Gradle now gaining more and more popularity and it is used in many new projects. So with documented gradle usage we can attract more people by simplifying the configs to them.

[2018-01-31 18:01] 0crat commented on #790
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 18:44] t-izbassar commented on #521
@yegor256 I believe this one can be closed. I've checked @exper0 profile and he seems to be absent from GitHub so can you close this one?

Issue is already fixed as current implementation of [HmHeader](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/hamcrest/AbstractHmHeader.java) are indeed using case insensitive matchers and matchers for header name and header values

[2018-02-02 09:05] t-izbassar opened #791 "Introduce Expires interface"
Now we have [ExpirationDate](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/misc/ExpirationDate.java) which is a step towards re-usability. However it can be further improved. I propose to create
[code]

It should print Expires string and we can have useful implementations. We need `Expires.Never` that will print `Expires=Thu, 01 Jan 1970 00:00:00 GMT` and `Expires.Hour` tha

[2018-02-02 09:05] 0crat commented on #791
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 17:04] 0crat commented on #555
The job [#555](https://github.com/yegor256/takes/issues/555) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-03 14:34] 0crat commented on #779
@neonailol[/z](https://www.0crat.com/u/neonailol) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-03 15:24] neonailol commented on #779
@0crat waiting

[2018-02-03 15:24] 0crat commented on #779
@neonailol The impediment for [#779](https://github.com/yegor256/takes/issues/779) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-04 14:00] neonailol commented on #555
@mkordas there is no public api that can return null in project. Opt.Nullable was rejected in favor of Opt.Empty/Opt.Single and it's already widely used in library, i believe this task can be closed.

[2018-02-04 18:58] neonailol commented on #437
@yegor256 changes from PR #783 are accepted and ready for merge, this task can be closed after that

[2018-02-04 20:42] neonailol opened #793 "Anchor part of query handled incorrectly by `Href`"
currently `Href` produces some weird results for links with anchor

### First example test case

[code]
[code]

### Second example test case

[code]
[code]

[2018-02-04 20:42] 0crat commented on #793
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-05 14:48] 0crat commented on #790
Job [#790](https://github.com/yegor256/takes/issues/790) is now in scope, role is `DEV`

[2018-02-05 14:49] 0crat commented on #790
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+120](https://www.0crat.com/u/t-izbassar)

[2018-02-05 14:53] 0crat commented on #791
Job [#791](https://github.com/yegor256/takes/issues/791) is now in scope, role is `DEV`

[2018-02-05 14:54] 0crat commented on #791
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+135](https://www.0crat.com/u/t-izbassar)

[2018-02-05 14:54] #521 closed

[2018-02-05 14:56] 0crat commented on #521
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+165](https://www.0crat.com/u/t-izbassar)

[2018-02-05 15:05] 0crat commented on #521
The job [#521](https://github.com/yegor256/takes/issues/521) is now out of scope

[2018-02-06 16:43] 0crat commented on #793
Job [#793](https://github.com/yegor256/takes/issues/793) is now in scope, role is `DEV`

[2018-02-06 16:44] 0crat commented on #793
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+345](https://www.0crat.com/u/neonailol)

[2018-02-06 16:58] t-izbassar commented on #542
@dmzaytsev hi. We can close this one as #789 was merged.

[2018-02-06 17:23] yegor256 commented on #437
@neonailol thanks!

[2018-02-06 17:23] #437 closed

[2018-02-06 17:25] 0crat commented on #437
Order was successfully finished: +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+375](https://www.0crat.com/u/neonailol)

[2018-02-06 17:25] yegor256 commented on #437
@neonailol I closed this task by mistake. In the future, please remember that you should ask ticket reporter to close it, not project architect. Only if the reporter is not answering, the architect should help.

[2018-02-06 17:33] 0crat commented on #437
The job [#437](https://github.com/yegor256/takes/issues/437) is now out of scope

[2018-02-06 18:25] neonailol commented on #437
@yegor256 well it's an old task, and person in not active on github, so i go directly to you

[2018-02-07 03:53] #542 closed

[2018-02-07 03:55] 0crat commented on #542
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+195](https://www.0crat.com/u/t-izbassar)

[2018-02-07 04:04] 0crat commented on #542
The job [#542](https://github.com/yegor256/takes/issues/542) is now out of scope

[2018-02-08 11:45] yegor256 commented on #437
@neonailol try to not to do this in the future, I will not close tickets like that anymore

[2018-02-09 11:47] 0pdd opened #794 "AbstractHmBody.java:43-58: Right now we can only check..."
The puzzle `485-ca1df145` from #485 has to be resolved:

https://github.com/yegor256/takes/blob/a98eb9681cd67703409dc0637dba93766676941a/src/main/java/org/takes/facets/hamcrest/AbstractHmBody.java#L43-L58

The puzzle was created by rultor on 09-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-02-09 11:47] 0crat commented on #794
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 11:47] 0pdd opened #795 "AbstractHmBody.java:60-63: Right now the describeTo..."
The puzzle `485-6f864529` from #485 has to be resolved:

https://github.com/yegor256/takes/blob/a98eb9681cd67703409dc0637dba93766676941a/src/main/java/org/takes/facets/hamcrest/AbstractHmBody.java#L60-L63

The puzzle was created by rultor on 09-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-02-09 11:49] 0crat commented on #794
Job [#794](https://github.com/yegor256/takes/issues/794) is now in scope, role is `DEV`

[2018-02-09 11:49] 0crat commented on #795
Job [#795](https://github.com/yegor256/takes/issues/795) is now in scope, role is `DEV`

[2018-02-09 12:07] #779 closed

[2018-02-09 12:07] 0pdd opened #796 "TkRedirect.java:85-87: Replace this class usages with..."
The puzzle `793-49ae4191` from #793 has to be resolved:

https://github.com/yegor256/takes/blob/39c7c01d668d8507b9970c9ccf12460ae249e124/src/main/java/org/takes/tk/TkRedirect.java#L85-L87

The puzzle was created by Valeriy Zhirnov on 04-Feb-18.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-09 12:09] 0crat commented on #779
I can't do it for technical reasons, I'm very sorry.  If you don't know what to do,  submit this error as a ticket  [here](https://github.com/zerocracy/farm/issues):

[code]

Cc @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-02-09 12:10] 0crat commented on #779
Order was successfully finished: +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+495](https://www.0crat.com/u/neonailol)

[2018-02-09 12:18] 0crat commented on #779
The job [#779](https://github.com/yegor256/takes/issues/779) is now out of scope

[2018-02-09 15:23] t-izbassar commented on #485
@carlosmiranda can you close this one? #785 was merged and puzzles created.

[2018-02-11 11:38] neonailol commented on #555
@yegor256 almost 10 days passed, and no response from the ticket reporter, i think this task can be closed

[2018-02-12 03:33] carlosmiranda commented on #485
@t-izbassar thanks!

[2018-02-12 03:33] #485 closed

[2018-02-12 03:35] 0crat commented on #485
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+225](https://www.0crat.com/u/t-izbassar)

[2018-02-12 03:44] 0crat commented on #485
The job [#485](https://github.com/yegor256/takes/issues/485) is now out of scope

[2018-02-12 16:21] yegor256 commented on #555
@mkordas @neonailol closing.

[2018-02-12 16:21] #555 closed

[2018-02-12 16:22] 0crat commented on #555
Order was successfully finished: +30 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol), total is [+555](https://www.0crat.com/u/neonailol)

[2018-02-12 16:31] 0crat commented on #555
The job [#555](https://github.com/yegor256/takes/issues/555) is now out of scope

[2018-02-12 18:13] g4s8 opened #798 "org.takes.misc.Href design issues"
`Href` class has a lot of code in constructors and many `private static` methods.
According to
http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html
and
http://www.yegor256.com/2017/02/07/private-method-is-new-class.html
this class should be refactored.

[2018-02-12 18:13] 0crat commented on #798
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 18:54] 0crat commented on #608
The job [#608](https://github.com/yegor256/takes/issues/608) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/431853426). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-12 20:05] 0crat commented on #682
The job [#682](https://github.com/yegor256/takes/issues/682) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/432004622). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-12 21:53] 0crat commented on #730
The job [#730](https://github.com/yegor256/takes/issues/730) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/432153137). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-12 22:32] yegor256 commented on #798
@g4s8 of course, it can be refactored, but it is so small and so focused, that it would be an overkill to create 3-4 new classes, just to parse the strings. I think its design is OK the way it is. We can't make each and every class perfect, just because it's Java.

[2018-02-12 22:32] #798 closed

[2018-02-12 22:33] 0crat commented on #798
Job `gh:yegor256/takes#798` is not assigned, can't get start time

[2018-02-12 22:43] 0crat commented on #798
Job [#798](https://github.com/yegor256/takes/issues/798) was not in scope

[2018-02-12 23:54] 0crat commented on #744
The job [#744](https://github.com/yegor256/takes/issues/744) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/432353494). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-13 10:41] #608 closed

[2018-02-13 10:44] 0crat commented on #608
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+255](https://www.0crat.com/u/t-izbassar)

[2018-02-13 10:51] 0crat commented on #608
The job [#608](https://github.com/yegor256/takes/issues/608) is now out of scope

[2018-02-14 22:55] 0pdd commented on #730
The puzzle `712-e6a34ddb` has disappeared from the source code, that's why I closed this issue.

[2018-02-14 22:55] #730 closed

[2018-02-14 22:56] 0pdd opened #800 "FtRemoteTest.java:55-58: Fix FtRemote for empty response..."
The puzzle `730-80b57821` from #730 has to be resolved:

https://github.com/yegor256/takes/blob/f355160ca04157276b88e7aac57aaceeb4a016c4/src/test/java/org/takes/http/FtRemoteTest.java#L55-L58

The puzzle was created by Izbassar Tolegen on 13-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the pro

[2018-02-14 22:56] 0crat commented on #800
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 22:58] 0crat commented on #800
Job [#800](https://github.com/yegor256/takes/issues/800) is now in scope, role is `DEV`

[2018-02-14 22:59] 0crat commented on #730
Order was successfully finished: +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+285](https://www.0crat.com/u/t-izbassar)

[2018-02-14 23:06] 0crat commented on #730
The job [#730](https://github.com/yegor256/takes/issues/730) is now out of scope

[2018-02-14 23:54] 0crat commented on #780
The job [#780](https://github.com/yegor256/takes/issues/780) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/452354518). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-15 09:59] t-izbassar commented on #744
@0crat waiting for @skapral to decide what to do with his #745 PR.

[2018-02-15 09:59] 0crat commented on #744
@t-izbassar The impediment for [#744](https://github.com/yegor256/takes/issues/744) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-02-16 20:16] 0crat commented on #781
The job [#781](https://github.com/yegor256/takes/issues/781) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/472015194). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-16 20:37] 0pdd opened #802 "FkHitRefresh.java:246-248: `null` constant usage in the..."
The puzzle `744-7f6a14c2` from #744 has to be resolved:

https://github.com/yegor256/takes/blob/326d41e2cc024b588786b9ff24272cef8c2219ba/src/main/java/org/takes/facets/fork/FkHitRefresh.java#L246-L248

The puzzle was created by Kapralov Sergey on 15-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-02-16 20:37] 0crat commented on #802
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-16 20:38] 0crat commented on #802
Job [#802](https://github.com/yegor256/takes/issues/802) is now in scope, role is `DEV`

[2018-02-16 20:43] t-izbassar commented on #744
@skapral apparently, you are done with this one) #745 is merged, can you close it?)

[2018-02-17 09:51] neonailol commented on #682
@0crat waiting

[2018-02-17 09:51] 0crat commented on #682
@neonailol The impediment for [#682](https://github.com/yegor256/takes/issues/682) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-02-17 12:55] t-izbassar commented on #744
@skapral ping

[2018-02-17 15:15] #744 closed

[2018-02-17 15:15] 0crat commented on #744
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-19 11:00] elenavolokhova commented on #744
@yegor256 This tickett violates QA rule:

Desision to let @skapral to deliver a solution to his own ticket led to incorrect situation here:
- actual problem solver is a bug reporter, but he is not assigned to this ticket any more and is not a member of this project.
- @skapral assigned to this project didn't actually solve an issue and shouldn't be paid.

Please, **confirm** that you'll try to avo

[2018-02-19 11:07] t-izbassar commented on #744
@elenavolokhova can you inform 0crat about quality? Personally, I agree with you. I need this task to be closed by 0crat so that I can handle next one - thus you need to inform 0crat about the decision.

[2018-02-19 11:08] elenavolokhova commented on #744
@t-izbassar Sure.

[2018-02-19 11:08] elenavolokhova commented on #744
@0crat Quality is bad here.

[2018-02-19 11:08] 0crat commented on #744
@elenavolokhova Argument "is" doesn't match regex `good|bad|acceptable`

[2018-02-19 11:10] elenavolokhova commented on #744
@0crat bad

[2018-02-19 11:11] 0crat commented on #744
@elenavolokhova Can't understand "bad", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of

[2018-02-19 11:12] elenavolokhova commented on #744
@0crat quality bad

[2018-02-19 11:16] 0crat commented on #744
QA review completed: +15 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova), total is [+15](https://www.0crat.com/u/elenavolokhova)

[2018-02-19 11:27] t-izbassar commented on #744
@0crat status

[2018-02-19 11:28] 0crat commented on #744
@t-izbassar This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#744](https://github.com/yegor256/takes/issues/744) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3FFK3YAY?q=%7Bjob%3A%27gh%3Ayegor256%2Ftakes%23744%27%7D) (restricted area)

[2018-02-19 17:23] aliceice opened #804 "Takes does not work well together with Cactoos"
Using Takes together with Cactoos is not working well, as Takes building blocks are plain old Java objects.

I think it would be nice to integrate Takes and Cactoos, or at least replace Guava with it.
This way Takes can promote the usage of Cactoos.

What do you think?

[2018-02-19 17:23] 0crat commented on #804
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 19:35] t-izbassar opened #805 "RsXsltTest.loadsExternalImports failing"
Look at the [appVeyor build](https://ci.appveyor.com/project/yegor256/takes/build/2964). It happened within #801 this PR. It reports, that `RsXsltTest.loadsExternalImports` have error with stacktrace:

java.io.IOException: javax.xml.transform.TransformerConfigurationException: net.sf.saxon.s9api.SaxonApiException: org.xml.sax.SAXParseException; lineNumber: 6; columnNumber: 3; The element type "hr"

[2018-02-19 19:35] 0crat commented on #805
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 23:54] 0crat commented on #780
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 06:00] t-izbassar commented on #780
@0crat waiting

[2018-02-20 06:01] 0crat commented on #780
@t-izbassar The impediment for [#780](https://github.com/yegor256/takes/issues/780) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-02-20 06:02] t-izbassar commented on #781
@0crat waiting

[2018-02-20 06:03] 0crat commented on #781
@t-izbassar The impediment for [#781](https://github.com/yegor256/takes/issues/781) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-02-20 18:55] yegor256 commented on #805
@t-izbassar fixed in dd18a24c8 thanks!

[2018-02-20 18:55] #805 closed

[2018-02-20 19:12] 0pdd commented on #781
The puzzle `373-b5720fa6` has disappeared from the source code, that's why I closed this issue.

[2018-02-20 19:12] #781 closed

[2018-02-20 19:15] 0crat commented on #781
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-21 07:46] elenavolokhova commented on #781
@t-izbassar According to our [QA rules](http://datum.zerocracy.com/pages/policy.html#42)

Please, **confirm** that you will include the link to related PR directly in next tickets.

[2018-02-21 07:49] t-izbassar commented on #781
@elenavolokhova it's already linked by github. And commit messages that fixed an issue are indeed linked to the issue. What else is expected?

[2018-02-21 08:02] elenavolokhova commented on #781
@t-izbassar Something like "Fixed in #803" would be great.
Github will add links to different issues and PRs, where this issue will be just mentioned. In such cases it is hard to follow all the logic and find needed PR. It will consume some time and extra effort. So having direct mention of fixing PR is stated in QA rules. I hope it sounds reasonable)

[2018-02-21 08:05] t-izbassar commented on #781
@elenavolokhova got it, thanks.

Confirmed

[2018-02-21 08:10] elenavolokhova commented on #781
@t-izbassar Thank you!

[2018-02-21 08:10] elenavolokhova commented on #781
@0crat quality acceptable

[2018-02-21 08:14] 0crat commented on #781
QA review completed: +15 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova), total is [+30](https://www.0crat.com/u/elenavolokhova)

[2018-02-21 08:15] 0crat commented on #781
Order was finished, quality was "acceptable": +30 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+345](https://www.0crat.com/u/t-izbassar)

[2018-02-21 08:17] t-izbassar commented on #780
@0pdd fixed in #801.

[2018-02-21 08:19] 0crat commented on #782
The job [#782](https://github.com/yegor256/takes/issues/782) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/520833923). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-21 19:35] yegor256 commented on #804
@aliceice you are right, see https://github.com/yegor256/takes/pull/801#issuecomment-366272724

[2018-02-21 19:36] 0crat commented on #804
Job [#804](https://github.com/yegor256/takes/issues/804) is now in scope, role is `DEV`

[2018-02-21 19:36] 0crat commented on #804
Thanks for your contribution, @aliceice[/z](https://www.0crat.com/u/aliceice)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://datum.zerocracy.com/pages/policy.html#29). You can join and apply to it, see [§2](http://datum.zerocracy.com/pages/policy.html#2).

[2018-02-21 19:52] #780 closed

[2018-02-21 19:52] 0pdd commented on #780
The puzzle `218-f14916a5` has disappeared from the source code, that's why I closed this issue.

[2018-02-21 19:53] 0pdd opened #806 "Condition.java:37-39: Bring Cactoos dependency to the..."
The puzzle `780-9da18957` from #780 has to be resolved:

https://github.com/yegor256/takes/blob/c0fc037b05e5478bc3f028f50dcc7d81fbe69547/src/main/java/org/takes/misc/Condition.java#L37-L39

The puzzle was created by Izbassar Tolegen on 16-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the proble

[2018-02-21 19:53] 0crat commented on #806
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 19:53] 0crat commented on #780
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-21 19:54] 0crat commented on #806
Job [#806](https://github.com/yegor256/takes/issues/806) is now in scope, role is `DEV`

[2018-02-21 19:54] 0crat commented on #806
Thanks for your contribution, @0pdd[/z](https://www.0crat.com/u/0pdd)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://datum.zerocracy.com/pages/policy.html#29). You can join and apply to it, see [§2](http://datum.zerocracy.com/pages/policy.html#2).

[2018-02-22 08:08] elenavolokhova commented on #780
@0crat quality good.

[2018-02-22 08:10] 0crat commented on #780
@elenavolokhova Argument "good." doesn't match regex `good|bad|acceptable`

[2018-02-22 08:15] elenavolokhova commented on #780
@0crat quality good

[2018-02-22 08:19] 0crat commented on #780
@elenavolokhova There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-22 08:24] 0crat commented on #780
QA review completed: +15 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova), total is [+75](https://www.0crat.com/u/elenavolokhova)

[2018-02-22 08:26] 0crat commented on #780
Order was finished, quality was "good": +35 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+380](https://www.0crat.com/u/t-izbassar)

[2018-02-22 08:26] 0crat commented on #780
@elenavolokhova You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: QA.

[2018-02-22 08:31] 0crat commented on #780
The job [#780](https://github.com/yegor256/takes/issues/780) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/530831418). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-22 08:57] t-izbassar commented on #780
@0crat status

[2018-02-22 08:58] 0crat commented on #780
@t-izbassar This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#780](https://github.com/yegor256/takes/issues/780) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 24days
  * The role is `DEV`
  * The job is assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) for [29min](http://datum.zerocracy.com/pages/poli

[2018-02-22 09:00] t-izbassar commented on #780
@0crat waiting

[2018-02-22 09:01] t-izbassar commented on #780
@yegor256 can you resign this job? It is already done and it's eating 33% of my agenda.

[2018-02-22 09:02] 0crat commented on #780
@t-izbassar The impediment for [#780](https://github.com/yegor256/takes/issues/780) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-02-22 11:08] t-izbassar commented on #782
@0pdd implemented in #807

[2018-02-22 12:29] yegor256 commented on #780
@0crat refuse

[2018-02-22 12:31] 0crat commented on #780
@yegor256 The user @t-izbassar[/z](https://www.0crat.com/u/t-izbassar) resigned from [#780](https://github.com/yegor256/takes/issues/780), please stop working

[2018-02-22 12:36] 0crat commented on #778
The job [#778](https://github.com/yegor256/takes/issues/778) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/531241701). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-22 13:50] t-izbassar commented on #778
@simonjenga I have doubts that we really need this. If exception is happened you need to deal with exception. Can you provide a case where it might be useful?

[2018-02-22 15:00] yegor256 commented on #780
@0crat щге

[2018-02-22 15:02] 0crat commented on #780
@yegor256 The job [#780](https://github.com/yegor256/takes/issues/780) is now out of scope

[2018-02-23 10:19] t-izbassar opened #808 "Move to Java 8"
It's already Java 9 released and Java 8 is a go to java version. With Java 8 we can implement `Take` interface just in place with Lambdas:
[code]

I don't think that supporting java 7 is relevant nowadays. Many libs and frameworks already moved to Java 8. It will be more attractive, if we had Java 8. Of course this framework can be used within java 8, but official support is still important. And a

[2018-02-23 10:19] 0crat commented on #808
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-23 15:13] simonjenga commented on #778
@t-izbassar The ticket describes the possible scenario we may encounter. If you have doubts that we really need this, inform the PM that nothing needs to be done here so we can close this ticket otherwise the code ```try-finally``` is not much to do. I have seen your test case above!

[2018-02-23 15:36] t-izbassar commented on #778
@simonjenga I have a feeling that this is violating the 0/100 principle. For example, we have putted 100 bytes to buffer, but with other 100 bytes it is throwing an exception. Do we want to have partial files with incomplete bytes written?

Yes, I've added that. However, simple `try-finally` do not gives the result as `StreamEncoder` for example will not flush if `write` is failed. It's closing in

[2018-02-23 18:01] simonjenga commented on #778
@t-izbassar Agreed with first paragraph; but just create PR.

[2018-02-24 09:46] t-izbassar opened #810 "Codacy Quality Review do not recognize Matcher.asserThat in junit tests"
There is Codacy, configured for the Takes project. However, it does not see assertions from hamcrest. If you look at [know issues](https://app.codacy.com/app/github_90/takes/issues/index?&filters=W3siaWQiOiJDYXRlZ29yeSIsInZhbHVlcyI6WyJDb2RlIFN0eWxlIl19XQ==) by Codacy there are 384 issues. And most of them telling that

That's why many PRs showing that they have failing Codacy build, as we using as

[2018-02-24 09:46] 0crat commented on #810
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-25 08:10] imcaizheng opened #811 "Internal link to the Request Methods header is broken in README"
[code]
does not link to
[code]
Either change `#request-methods` to `request-methods-post-put-head-etc`
or shrink the header to `Request Methods` and it should works.

[2018-02-25 08:11] 0crat commented on #811
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 08:18] 0crat commented on #782
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-26 20:13] 0crat commented on #808
Job [#808](https://github.com/yegor256/takes/issues/808) is now in scope, role is `DEV`

[2018-02-26 20:14] 0crat commented on #808
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+395](https://www.0crat.com/u/t-izbassar)

[2018-02-26 20:23] 0pdd opened #812 "RsPrintTest.java:75-78: Fix..."
The puzzle `778-192143c0` from #778 has to be resolved:

https://github.com/yegor256/takes/blob/55b67f2975dd00a9ce21fd0862ed650d5556e64b/src/test/java/org/takes/rs/RsPrintTest.java#L75-L78

The puzzle was created by rultor on 26-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-26 20:23] 0crat commented on #812
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 20:23] 0crat commented on #812
Job [#812](https://github.com/yegor256/takes/issues/812) is now in scope, role is `DEV`

[2018-02-26 20:39] t-izbassar commented on #778
@simonjenga can you close this one? #809 was merged, and relevant issue #812 was also created to cover what was left from implementation.

[2018-02-26 20:41] 0pdd commented on #782
The puzzle `373-5aec50f1` has disappeared from the source code, that's why I closed this issue.

[2018-02-26 20:41] #782 closed

[2018-02-26 20:42] 0crat commented on #782
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-27 05:39] elenavolokhova commented on #782
@0crat quality good

[2018-02-27 05:44] 0crat commented on #782
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova), total is [+99](https://www.0crat.com/u/elenavolokhova)

[2018-02-27 05:46] 0crat commented on #782
Order was finished, quality was "good": +35 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+430](https://www.0crat.com/u/t-izbassar)

[2018-02-27 05:46] 0crat commented on #782
@elenavolokhova The job [#782](https://github.com/yegor256/takes/issues/782) is now out of scope

[2018-02-27 05:51] 0crat commented on #793
The job [#793](https://github.com/yegor256/takes/issues/793) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/580563151). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-27 08:57] t-izbassar commented on #793
@neonailol I believe this one can be closed, as PR #797 was merged to fix an issue.

[2018-02-27 12:35] 0crat commented on #778
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-27 13:17] t-izbassar commented on #778
@simonjenga ping

[2018-02-27 20:12] #793 closed

[2018-02-27 20:13] 0crat commented on #793
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-28 05:35] elenavolokhova commented on #793
@0crat quality good

[2018-02-28 05:37] 0crat commented on #793
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova), total is [+115](https://www.0crat.com/u/elenavolokhova)

[2018-02-28 05:37] 0crat commented on #793
Order was finished, quality was "good": +35 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+465](https://www.0crat.com/u/t-izbassar)

[2018-02-28 05:37] 0crat commented on #793
@elenavolokhova The job [#793](https://github.com/yegor256/takes/issues/793) is now out of scope

[2018-02-28 08:28] t-izbassar commented on #778
@yegor256 I believe this one can be closed as result is delivered. @simonjenga seem to be absent.

[2018-02-28 08:53] simonjenga commented on #778
@t-izbassar Am present! Result is delivered OK :100:

[2018-02-28 08:53] #778 closed

[2018-02-28 08:53] 0crat commented on #778
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-28 08:54] t-izbassar commented on #778
@simonjenga thanks!

[2018-02-28 13:57] 0crat commented on #794
The job [#794](https://github.com/yegor256/takes/issues/794) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/591356080). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-28 16:32] elenavolokhova commented on #778
@0crat quality good

[2018-02-28 16:35] 0crat commented on #778
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova), total is [+123](https://www.0crat.com/u/elenavolokhova)

[2018-02-28 16:35] 0crat commented on #778
Order was finished, quality was "good": +35 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), total is [+500](https://www.0crat.com/u/t-izbassar)

[2018-02-28 16:35] 0crat commented on #778
@elenavolokhova The job [#778](https://github.com/yegor256/takes/issues/778) is now out of scope

[2018-02-28 21:01] t-izbassar commented on #794
@0pdd partially done in #813. Left puzzle to address what was left.

[2018-03-01 11:12] yegor256 opened #814 "CcAes doesn't throw the right exception"
[code]

[2018-03-01 11:15] 0crat commented on #814
The job [#814](https://github.com/yegor256/takes/issues/814) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/601113701). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 11:19] yegor256 commented on #814
@rultor release, tag is `1.8.2`

[2018-03-01 11:19] 0crat commented on #814
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 11:20] 0crat commented on #814
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 11:20] rultor commented on #814
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14014-369560996)

[2018-03-01 11:20] 0crat commented on #814
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 11:33] rultor commented on #814
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14014-369560996) (took me 13min)

[2018-03-01 11:33] #814 closed

[2018-03-01 11:34] 0crat commented on #814
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-01 12:28] yegor256 opened #815 "RqHref should pay attention to X-Forwarded-Proto"
`X-Forwarded-Proto` header should be taken into account.

[2018-03-01 12:33] 0crat commented on #815
The job [#815](https://github.com/yegor256/takes/issues/815) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/601229200). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 12:37] 0crat commented on #815
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 12:38] yegor256 commented on #815
@rultor release, tag is `1.8.3`

[2018-03-01 12:38] 0crat commented on #815
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 12:38] 0crat commented on #815
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 12:39] rultor commented on #815
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14016-369578847)

[2018-03-01 12:51] rultor commented on #815
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14016-369578847) (took me 12min)

[2018-03-01 13:23] #815 closed

[2018-03-01 13:24] 0crat commented on #815
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-01 13:38] yegor256 opened #816 "TkRedirect corrupts the URL"
Let's test it and fix

[2018-03-01 13:40] 0crat commented on #816
The job [#816](https://github.com/yegor256/takes/issues/816) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/601338260). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 13:43] 0crat commented on #816
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 13:43] 0crat commented on #816
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 13:43] 0crat commented on #816
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 14:10] 0pdd commented on #796
The puzzle `793-49ae4191` has disappeared from the source code, that's why I closed this issue.

[2018-03-01 14:10] #796 closed

[2018-03-01 14:11] yegor256 commented on #816
@rultor release, tag is `1.8.4`

[2018-03-01 14:12] rultor commented on #816
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14018-369603148)

[2018-03-01 14:27] rultor commented on #816
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14018-369603148) (took me 15min)

[2018-03-01 14:30] #816 closed

[2018-03-01 14:31] 0crat commented on #816
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-01 15:20] yegor256 opened #817 "PsGithub error reporting is not complete"
Let's make it more verbose

[2018-03-01 15:20] yegor256 commented on #817
@rultor release, tag is `1.8.5`

[2018-03-01 15:21] rultor commented on #817
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14020-369625494)

[2018-03-01 15:35] rultor commented on #817
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14020-369625494) (took me 12min)

[2018-03-01 15:35] #817 closed

[2018-03-01 20:00] yegor256 opened #818 "TkRedirect must be configurable"
`TkRedirect` must not pass query through by default.

[2018-03-01 20:02] 0crat commented on #818
The job [#818](https://github.com/yegor256/takes/issues/818) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/602000091). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-03-01 20:04] 0crat commented on #818
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 20:04] 0crat commented on #818
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 20:04] 0crat commented on #818
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-01 20:18] yegor256 commented on #818
@rultor release, tag is `1.8.6`

[2018-03-01 20:19] rultor commented on #818
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14021-369717814)

[2018-03-01 20:32] rultor commented on #818
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14021-369717814) (took me 12min)

[2018-03-01 20:53] #818 closed

[2018-03-01 20:54] 0crat commented on #818
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-02 07:06] elenavolokhova commented on #818
@yegor256 According to QA Rules:

In this ticket you were the reporter and solver.

There was no PR created for this issue, so the link is not included.

Please, try to avoid such issues in future.

[2018-03-02 07:07] elenavolokhova commented on #818
@0crat quality acceptable

[2018-03-02 07:08] elenavolokhova commented on #816
@yegor256 According to QA Rules:

In this ticket you were the reporter and solver.

There was no PR created for this issue, so the link is not included.

Please, try to avoid such issues in future.

[2018-03-02 07:08] elenavolokhova commented on #816
@0crat quality acceptable

[2018-03-02 07:09] elenavolokhova commented on #815
@yegor256 According to QA Rules:

In this ticket you were the reporter and solver.

There was no PR created for this issue, so the link is not included.

Please, try to avoid such issues in future.

[2018-03-02 07:09] elenavolokhova commented on #815
@0crat quality acceptable

[2018-03-02 07:10] elenavolokhova commented on #814
@yegor256 According to QA Rules:

In this ticket you were the reporter and solver.

There was no PR created for this issue, so the link is not included.

Please, try to avoid such issues in future.

[2018-03-02 07:10] elenavolokhova commented on #814
@0crat quality acceptable

[2018-03-02 07:12] 0crat commented on #818
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-02 07:13] 0crat commented on #816
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-02 07:13] 0crat commented on #818
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 07:13] 0crat commented on #818
@elenavolokhova The job [#818](https://github.com/yegor256/takes/issues/818) is now out of scope

[2018-03-02 07:13] 0crat commented on #816
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 07:13] 0crat commented on #816
@elenavolokhova The job [#816](https://github.com/yegor256/takes/issues/816) is now out of scope

[2018-03-02 07:15] 0crat commented on #814
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-02 07:16] 0crat commented on #814
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-02 07:16] 0crat commented on #814
@elenavolokhova The job [#814](https://github.com/yegor256/takes/issues/814) is now out of scope

[2018-03-04 16:05] t-izbassar commented on #794
@0crat waiting for #813 to be merged

[2018-03-04 16:06] 0crat commented on #794
@t-izbassar The impediment for [#794](https://github.com/yegor256/takes/issues/794) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-05 14:55] #794 closed

[2018-03-05 14:55] 0pdd commented on #794
The puzzle `485-ca1df145` has disappeared from the source code, that's why I closed this issue.

[2018-03-05 14:55] 0pdd opened #819 "AbstractHmTextBody.java:45-49: Implement..."
The puzzle `794-b5119934` from #794 has to be resolved:

https://github.com/yegor256/takes/blob/7fb524155b180e8eb35d63545e10d20ab614eb5e/src/main/java/org/takes/facets/hamcrest/AbstractHmTextBody.java#L45-L49

The puzzle was created by rultor on 05-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when

[2018-03-05 14:55] 0crat commented on #819
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 14:55] 0pdd opened #820 "AbstractHmBody.java:43-45: Current implementation of..."
The puzzle `794-9c47f19f` from #794 has to be resolved:

https://github.com/yegor256/takes/blob/7fb524155b180e8eb35d63545e10d20ab614eb5e/src/main/java/org/takes/facets/hamcrest/AbstractHmBody.java#L43-L45

The puzzle was created by rultor on 05-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2018-03-05 14:55] 0crat commented on #820
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 14:56] 0crat commented on #819
Job [#819](https://github.com/yegor256/takes/issues/819) is now in scope, role is `DEV`

[2018-03-05 14:56] 0crat commented on #820
Job [#820](https://github.com/yegor256/takes/issues/820) is now in scope, role is `DEV`

[2018-03-05 15:10] 0crat commented on #794
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-05 15:47] g4s8 opened #821 "CcAes issues"
`CcAes` generates random `IV` and use it for all requests to encrypt identity cookie. It produces two issues:

1. On server restart old cookies becomes invalid because `IV` regenerated, and all users need re-login.
2. It has some security issues: https://security.stackexchange.com/a/1097

Suggestion:
I'd make IV random for each request and add it to cookie (because IV doesn't need to be a secret [

[2018-03-06 05:08] 0crat commented on #821
Job [#821](https://github.com/yegor256/takes/issues/821) is now in scope, role is `DEV`

[2018-03-06 05:09] 0crat commented on #821
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-06 05:09] yegor256 commented on #750
@g4s8 this transition will happen naturally, in the future. At the moment the framework is still small and its user base is not too big. Let's wait until it really starts to grow.

[2018-03-06 05:09] #750 closed

[2018-03-06 05:12] 0crat commented on #740
Job [#740](https://github.com/yegor256/takes/issues/740) is now in scope, role is `DEV`

[2018-03-06 05:12] 0crat commented on #740
Thanks for your contribution, @ezhov-da[/z](https://www.0crat.com/u/ezhov-da)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-03-06 05:12] #746 closed

[2018-03-06 05:13] 0crat commented on #725
Job [#725](https://github.com/yegor256/takes/issues/725) is now in scope, role is `DEV`

[2018-03-06 07:21] elenavolokhova commented on #794
@0crat quality good

[2018-03-06 07:25] 0crat commented on #794
@elenavolokhova You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-03-06 07:27] 0crat commented on #794
`QA` review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-06 07:28] 0crat commented on #794
Order was finished, quality was "good": +35 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-06 07:28] 0crat commented on #794
@elenavolokhova The job [#794](https://github.com/yegor256/takes/issues/794) is now out of scope

[2018-03-06 07:34] 0crat commented on #795
The job [#795](https://github.com/yegor256/takes/issues/795) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/650752656). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-03-06 20:42] ezhov-da commented on #740
Hello, I'm tested my application on version Takes 1.8.6 and exception [Exception in thread "main" java.io.IOException: empty request] not found, application is work.

[2018-03-08 10:39] yegor256 opened #822 "ArrayIndexOutOfBoundsException in CcSalted"
[code]

[2018-03-08 11:00] yegor256 commented on #822
@rultor release, tag is `1.8.7`

[2018-03-08 11:01] rultor commented on #822
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14083-371454826)

[2018-03-08 11:11] rultor commented on #822
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14083-371454826) (spent 10min)

[code]

[2018-03-08 16:00] yegor256 commented on #822
@rultor release, tag is `1.8.7`

[2018-03-08 16:02] rultor commented on #822
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14083-371531888)

[2018-03-08 16:15] rultor commented on #822
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14083-371531888) (took me 13min)

[2018-03-08 16:19] #822 closed

[2018-03-08 16:34] 0crat commented on #822
The job is not in WBS, won't close the order

[2018-03-09 09:30] neonailol commented on #682
@0crat refuse

[2018-03-09 09:32] 0crat commented on #682
@neonailol The user @neonailol[/z](https://www.0crat.com/u/neonailol) resigned from [#682](https://github.com/yegor256/takes/issues/682), please stop working. Reason for job resignation: Order was cancelled

[2018-03-09 09:32] 0crat commented on #682
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-03-09 12:19] yegor256 opened #823 "TkSslOnly"
Let's create a `Take`, which will allow only HTTPS protocol.

[2018-03-09 12:35] yegor256 commented on #823
@rultor release, tag is `1.9`

[2018-03-09 12:35] rultor commented on #823
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14094-371800907)

[2018-03-09 12:49] rultor commented on #823
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14094-371800907) (took me 13min)

[2018-03-09 13:06] #823 closed

[2018-03-09 13:21] 0crat commented on #823
The job is not in WBS, won't close the order

[2018-03-09 16:11] yegor256 opened #824 "XSL 2.0 everywhere"
Let's use XSL 2.0

[2018-03-09 16:14] yegor256 commented on #824
@rultor release, tag is `1.9.1`

[2018-03-09 16:15] rultor commented on #824
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14100-371859085)

[2018-03-09 16:28] rultor commented on #824
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14100-371859085) (took me 13min)

[2018-03-09 16:30] #824 closed

[2018-03-09 16:45] 0crat commented on #824
The job is not in WBS, won't close the order

[2018-03-09 16:55] yegor256 opened #825 "XSL 2.0"
Some files haven't been updated

[2018-03-09 16:56] yegor256 commented on #825
@rultor release, tag is `1.9.2`

[2018-03-09 16:56] rultor commented on #825
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14101-371872377)

[2018-03-09 17:10] rultor commented on #825
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14101-371872377) (took me 13min)

[2018-03-09 17:11] #825 closed

[2018-03-09 17:26] 0crat commented on #825
The job is not in WBS, won't close the order

[2018-03-10 16:30] g4s8 opened #826 "org.takes.misc.Base64 is not working propely"
`org.takes.misc.Base64` and `java.util.Base64` has different results for `encode()`:
[code]
[code]
Also tested in other languages, result is equal to `java.util.Base64` result.

[2018-03-10 16:30] 0crat commented on #826
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-10 16:45] semantosoph commented on #826
This class only exists, because org.takes.misc.Base64 is not available until Java 8. The moment WE switch Java version, it's obsolete.

[2018-03-10 16:46] semantosoph commented on #826
Silly me. I meant java.util.Base64 with Java 8.

[2018-03-12 16:02] yegor256 opened #827 "TkPrevious and RsPrevious"
Let's make it possible to redirect on logout

[2018-03-12 16:10] yegor256 commented on #827
@rultor release, tag is `1.10`

[2018-03-12 16:11] rultor commented on #827
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14114-372365832)

[2018-03-12 16:27] rultor commented on #827
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14114-372365832) (took me 14min)

[2018-03-12 16:29] #827 closed

[2018-03-12 18:32] yegor256 commented on #826
@semantosoph let's switch to Java 8 (#808) Any volunteers?

[2018-03-12 18:33] yegor256 opened #828 "TkGroupCookies"
Let's create a take to group cookies (`Set-Cookie` headers), see https://stackoverflow.com/questions/3806132/multiple-set-cookie-headers-in-http

[2018-03-12 19:38] yegor256 commented on #828
@rultor release, tag is `1.11`

[2018-03-12 19:39] rultor commented on #828
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14116-372437412)

[2018-03-12 19:51] 0crat commented on #827
The job is not in WBS, won't close the order

[2018-03-12 19:54] rultor commented on #828
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14116-372437412) (took me 14min)

[2018-03-12 19:56] #828 closed

[2018-03-12 20:12] 0crat commented on #828
The job is not in WBS, won't close the order

[2018-03-12 20:38] yegor256 opened #829 "simpler name for TkPrevious cookie"
Let's make it shorter

[2018-03-13 06:40] yegor256 commented on #829
@rultor merge tag is `1.11.1`

[2018-03-13 06:41] rultor commented on #829
@yegor256 It is an issue, not a pull request

[2018-03-13 06:41] rultor commented on #829
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-03-13 07:15] yegor256 commented on #829
@rultor release, tag is `1.11.1`

[2018-03-13 07:16] rultor commented on #829
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14121-372568927)

[2018-03-13 07:28] rultor commented on #829
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14121-372568927) (took me 11min)

[2018-03-13 07:34] #829 closed

[2018-03-13 07:39] 0crat commented on #826
Job [#826](https://github.com/yegor256/takes/issues/826) is now in scope, role is `DEV`

[2018-03-13 07:40] 0crat commented on #826
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-13 09:54] t-izbassar commented on #795
Fixed in #830

[2018-03-13 09:54] t-izbassar commented on #795
@0crat waiting for #830 to be merged

[2018-03-13 09:57] 0crat commented on #795
@t-izbassar The impediment for [#795](https://github.com/yegor256/takes/issues/795) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-13 17:11] yegor256 commented on #821
@g4s8 do you want to volunteer here?

[2018-03-13 17:17] g4s8 commented on #821
@yegor256 yes, I do

[2018-03-13 18:23] yegor256 commented on #811
@imcaizheng fixed, thanks

[2018-03-13 18:23] #811 closed

[2018-03-13 18:27] yegor256 commented on #821
@0crat assign @g4s8

[2018-03-13 18:27] yegor256 commented on #821
@g4s8 thanks!

[2018-03-13 18:28] 0crat commented on #821
@yegor256 The job [#821](https://github.com/yegor256/takes/issues/821) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/721828555). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-13 18:40] yegor256 commented on #810
@t-izbassar how can we "fix Codacy"?

[2018-03-16 18:16] t-izbassar commented on #810
@yegor256 I'm not sure, maybe this check can be disabled or differently configured in codacy check. Actually, I think that's in not useful so much as it shows not the real problem so I personally don't even try to look and see why their build is red. But you can decide to leave it as it is.

[2018-03-17 15:54] #795 closed

[2018-03-17 15:54] 0pdd commented on #795
The puzzle `485-6f864529` has disappeared from the source code, that's why I closed this issue.

[2018-03-17 15:54] 0pdd opened #832 "AbstractHmBody.java:65-67: Right now the describeTo..."
The puzzle `795-077f3980` from #795 has to be resolved:

https://github.com/yegor256/takes/blob/688b1a61c0cdf6aa5922b0be74769d3934744fab/src/main/java/org/takes/facets/hamcrest/AbstractHmBody.java#L65-L67

The puzzle was created by Tolegen Izbassar on 13-Mar-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done"

[2018-03-17 15:54] 0pdd commented on #485
@carlosmiranda 3 puzzles [#819](https://github.com/yegor256/takes/issues/819), [#820](https://github.com/yegor256/takes/issues/820), [#832](https://github.com/yegor256/takes/issues/832) are still not solved; solved: [#794](https://github.com/yegor256/takes/issues/794), [#795](https://github.com/yegor256/takes/issues/795).

[2018-03-17 15:54] 0pdd commented on #795
@0pdd the puzzle [#832](https://github.com/yegor256/takes/issues/832) is still not solved.

[2018-03-17 15:54] 0crat commented on #832
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-17 15:54] 0crat commented on #832
Job [#832](https://github.com/yegor256/takes/issues/832) is now in scope, role is `DEV`

[2018-03-17 16:09] 0crat commented on #795
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-17 16:10] 0crat commented on #795
The job [#795](https://github.com/yegor256/takes/issues/795) is now out of scope

[2018-03-17 18:43] 0crat commented on #815
The job [#815](https://github.com/yegor256/takes/issues/815) is now out of scope

[2018-03-17 18:43] 0crat commented on #815
Order was finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-18 18:30] 0crat commented on #821
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-19 12:24] elenavolokhova commented on #795
@0crat quality good

[2018-03-19 12:25] 0crat commented on #795
Order was finished, quality is "good": +35 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-19 12:25] 0crat commented on #795
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-19 15:37] g4s8 commented on #821
PR #831 was merged

[2018-03-19 15:37] #821 closed

[2018-03-19 15:53] 0crat commented on #821
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @g4s8[/z](https://www.0crat.com/u/g4s8), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-19 15:53] 0crat commented on #821
The job [#821](https://github.com/yegor256/takes/issues/821) is now out of scope

[2018-03-19 16:53] 0crat commented on #821
The job is not in WBS, won't close the order

[2018-03-20 06:04] carlosmiranda commented on #821
@yegor256 is it possible to release this fix? I need it to work with https://github.com/zerocracy/farm/issues/706

[2018-03-20 09:46] elenavolokhova commented on #821
@g4s8 According to our Policy:

Please, confirm that you will try to avoid fixing your own issues in future.

[2018-03-20 09:50] g4s8 commented on #821
@elenavolokhova sure, I confirm

[2018-03-20 09:54] elenavolokhova commented on #821
@g4s8 Thanks!

[2018-03-20 09:54] elenavolokhova commented on #821
@0crat quality acceptable

[2018-03-20 09:55] 0crat commented on #821
Order was finished, quality is "acceptable": +30 points just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-03-20 09:55] 0crat commented on #821
Quality review completed: +8 points just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-03-20 09:58] 0crat commented on #787
The job [#787](https://github.com/yegor256/takes/issues/787) assigned to @neonailol[/z](https://www.0crat.com/u/neonailol), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/790958138); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-03-21 14:46] 0crat commented on #810
Job [#810](https://github.com/yegor256/takes/issues/810) is now in scope, role is `DEV`

[2018-03-21 14:47] 0crat commented on #810
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-22 09:54] carlosmiranda commented on #821
@yegor256 ping, can we have a release of Takes with this fix?

[2018-03-22 10:10] yegor256 commented on #821
@rultor release, tag is `1.11.2`

[2018-03-22 10:11] rultor commented on #821
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14174-375244022)

[2018-03-22 10:23] rultor commented on #821
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14174-375244022) (took me 12min)

[2018-03-22 10:24] yegor256 commented on #821
@carlosmiranda see 1.11.2

[2018-03-25 10:04] 0crat commented on #787
@neonailol[/z](https://www.0crat.com/u/neonailol) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-25 18:44] neonailol commented on #787
@crat waiting

[2018-03-27 05:31] neonailol commented on #787
@0crat waiting

[2018-03-27 05:31] 0crat commented on #787
@neonailol The impediment for [#787](https://github.com/yegor256/takes/issues/787) was registered successfully by @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-04-02 14:09] yegor256 opened #834 "RqHref.Smart.home() loses the protocol"
Let's fix

[2018-04-02 14:24] yegor256 commented on #834
@rultor release, tag is `1.11.3`

[2018-04-02 14:26] rultor commented on #834
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14229-377940411)

[2018-04-02 14:38] rultor commented on #834
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14229-377940411) (took me 12min)

[2018-04-02 14:39] #834 closed

[2018-04-02 14:55] 0crat commented on #834
The job is not in WBS, won't close the order

[2018-04-03 16:15] imcaizheng opened #835 "Some typos in document comments for the org.takes.rs.RsXslt class"
[code]
`Xs` should be `Xe`.

[2018-04-03 16:15] 0crat commented on #835
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-03 16:15] 0crat commented on #835
@imcaizheng[/z](https://www.0crat.com/u/imcaizheng) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-08 12:06] g4s8 commented on #682
@yegor256 could you please assign me here? I have working implementation for this.

[2018-04-12 03:36] 0crat commented on #682
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 15:25] 0crat commented on #682
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-13 06:38] yegor256 commented on #835
@imcaizheng fixed, thanks!

[2018-04-13 06:38] #835 closed

[2018-04-13 06:53] 0crat commented on #835
The job is not in WBS, won't close the order

[2018-04-17 17:36] 0crat commented on #682
@g4s8[/z](https://www.0crat.com/u/g4s8) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-23 06:08] g4s8 commented on #682
@0crat waiting #836 PR to merge

[2018-04-23 06:10] 0crat commented on #682
@g4s8 The impediment for [#682](https://github.com/yegor256/takes/issues/682) was registered successfully by @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-04-30 20:01] krzyk commented on #808
@yegor256 I could take this

[2018-05-13 13:28] krzyk opened #837 "Upgrade to qulice 0.17.3"
New qulice version brings following important changes:
- removal of `@author` tag (it is prohibited now)
- removal of `@version` tag (it is prohibited now)
- license header should start with `/*` instead of `/**`  - this will fix problem with IntelliJ reporting it as a javadoc that is not attached to any class
- checkstyle validation performance improvement (speedup of ~ 10%)
And few minor formatt

[2018-05-13 13:28] 0crat commented on #837
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-14 13:26] 0crat commented on #837
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-17 08:10] jimkast opened #838 "Close Response body input stream after printing it to socket's output stream?"
Currently, BkBasic uses RsPrint to send response bytes to socket's output stream.
However, RsPrint does not close input stream, which may be a File (FileInputStream) as in TkFiles case.
Should RsPrint close the input stream to avoid issues with resources?
Or maybe a BkBasic constructor accept a Func<Response, OutputBytes> which will be RsPrint by default in a secondary constructor?

[code]

[2018-05-17 08:10] 0crat commented on #838
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-17 08:10] 0crat commented on #838
@jimkast[/z](https://www.0crat.com/u/jimkast) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-19 14:51] yegor256 commented on #838
@jimkast I think `RsPrint` should close the stream

[2018-05-19 14:51] yegor256 commented on #838
@jimkast feel free to contribute with a PR.

[2018-05-19 16:13] llorllale opened #839 "How do you make an HTTP request?"
I see the `Request` interface that *parses* incoming http requests. But how do you dispatch an http request to some remote service?

[2018-05-19 16:13] 0crat commented on #839
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-19 16:13] 0crat commented on #839
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-21 14:32] llorllale commented on #839
@jimkast I'm looking for solutions provided by `Takes` framework itself.

And yes, I want to send an HTTP request to some other arbitrary external service.

[2018-05-21 14:57] jimkast commented on #839
@llorllale Yes, I agree takes can be easily extended by takes to support remote requests like [jcabi-http](https://github.com/jcabi/jcabi-http) with Jdk's HttpURLConnection, or Apache's HttpClient or even plain Socket implementations. There are already many Request/Response utilities/decorators that can be used.

[2018-05-21 17:12] yegor256 commented on #839
@llorllale there are plenty of classes in `.rq` package. Start from `RqFake()` and go up to `RqWithHeader`, etc.

[2018-05-21 17:12] #839 closed

[2018-05-21 17:28] 0crat commented on #839
The job is not in WBS, won't close the order

[2018-06-13 10:16] g4s8 opened #841 "Drop java7 support"
Java7 is too old, it is not compatible with new java libraries, e.g. [here](https://ci.appveyor.com/project/yegor256/takes/build/3033) appveyor failed due to `javac` warning which suggests to update the compiler:
[code]

[2018-06-13 10:16] 0crat commented on #841
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-25 03:49] 0crat commented on #841
Job [#841](https://github.com/yegor256/takes/issues/841) is now in scope, role is `DEV`

[2018-06-25 03:50] 0crat commented on #841
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-23 19:05] esteveboix opened #842 "Support for Velocity 2.0, since it does not work"
I'm starting a new project with Takes (first use). For some front-end pages, I'd prefer to use Velocity over XML/XSL.

I'm using a Take that returns this (simplified):

[code]

If I use velocity 2.0, I get an Exception: org.apache.velocity.runtime.log.NullLogChute ClassDefNotFound.
The exception origin is at RsVelocity.java line 157 when trying to initialize the Log class:

[code]

...which is not

[2018-07-23 19:05] 0crat commented on #842
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-23 19:05] 0crat commented on #842
@esteveboix[/z](https://www.0crat.com/u/esteveboix) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-01 00:44] 0crat commented on #784
The job [#784](https://github.com/yegor256/takes/issues/784) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2440054063); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-01 00:52] 0crat commented on #786
The job [#786](https://github.com/yegor256/takes/issues/786) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2440063127); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-02 11:53] 0crat commented on #790
The job [#790](https://github.com/yegor256/takes/issues/790) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2451147234); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-02 12:00] 0crat commented on #791
The job [#791](https://github.com/yegor256/takes/issues/791) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2451151375); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-02 12:04] 0crat commented on #800
The job [#800](https://github.com/yegor256/takes/issues/800) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2451156593); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-03 19:00] paulodamaso commented on #800
@yegor256 There is nothing wrong with `FtRemote` class; it is indeed returning an empty body. The problem is that `RsPrint` prints both `head` and `body` to the output string:
[code]
So the aforementioned test will never be true, because
[code]
from `TkEmpty()` will never return a empty String.

Is this he expected behavior of `RsPrint` or it should be fixed?

[2018-09-03 19:36] paulodamaso commented on #790
@0crat refuse

[2018-09-03 19:41] 0crat commented on #790
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#790](https://github.com/yegor256/takes/issues/790), please stop working. Reason for job resignation: Order was cancelled

[2018-09-03 19:49] 0crat commented on #790
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-04 16:46] 0crat commented on #790
The job [#790](https://github.com/yegor256/takes/issues/790) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2471647461); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-04 18:39] 0crat commented on #802
The job [#802](https://github.com/yegor256/takes/issues/802) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2471842523); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-09-04 19:00] paulodamaso commented on #800
@yegor256 I need some definitions in this one, please take a look.

[2018-09-05 03:38] 0crat commented on #804
The job [#804](https://github.com/yegor256/takes/issues/804) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2480345596); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-09-05 12:09] paulodamaso opened #847 "Add "How to contribute" session in README.md to Gradle users"
Continuing #790 work, add instructions for building and testing Takes with Gradle instead of Maven including the execution of all integration tests and qulice profile for static analysis.

[2018-09-05 12:10] 0crat commented on #847
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-05 19:32] paulodamaso commented on #800
@yegor256 ping

[2018-09-06 19:51] 0crat commented on #806
The job [#806](https://github.com/yegor256/takes/issues/806) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2491956449); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-06 19:59] 0crat commented on #808
The job [#808](https://github.com/yegor256/takes/issues/808) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2491965548); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-07 10:09] 0crat commented on #812
The job [#812](https://github.com/yegor256/takes/issues/812) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2501004776); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-07 10:11] 0crat commented on #819
The job [#819](https://github.com/yegor256/takes/issues/819) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2501013848); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-07 10:31] 0crat commented on #740
The job [#740](https://github.com/yegor256/takes/issues/740) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2501034032); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-07 10:43] 0crat commented on #725
The job [#725](https://github.com/yegor256/takes/issues/725) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2501045258); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-07 12:37] 0crat commented on #791
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-07 12:37] 0crat commented on #800
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-07 12:43] 0crat commented on #826
The job [#826](https://github.com/yegor256/takes/issues/826) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2501246456); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-09-08 13:27] krzyk commented on #826
@0crat waiting for #808

[2018-09-08 13:28] 0crat commented on #826
@krzyk The impediment for [#826](https://github.com/yegor256/takes/issues/826) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-09 14:40] paulodamaso commented on #784
@0crat wait for #845 review

[2018-09-09 14:40] 0crat commented on #784
@paulodamaso The impediment for [#784](https://github.com/yegor256/takes/issues/784) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-09 14:41] paulodamaso commented on #786
@0crat wait for #843 merge

[2018-09-09 14:42] 0crat commented on #786
@paulodamaso The impediment for [#786](https://github.com/yegor256/takes/issues/786) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-09 14:43] paulodamaso commented on #791
@0crat wait for #844 merge

[2018-09-09 14:47] 0crat commented on #791
@paulodamaso The impediment for [#791](https://github.com/yegor256/takes/issues/791) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-09 17:40] 0crat commented on #790
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-11 01:46] paulodamaso commented on #790
@0crat wait for https://github.com/yegor256/takes/pull/846 merge

[2018-09-11 01:47] 0crat commented on #790
@paulodamaso The impediment for [#790](https://github.com/yegor256/takes/issues/790) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-11 02:28] paulodamaso commented on #800
@0crat refuse due inactivity

[2018-09-11 02:29] 0crat commented on #800
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#800](https://github.com/yegor256/takes/issues/800), please stop working. Reason for job resignation: Order was cancelled

[2018-09-11 02:30] 0crat commented on #800
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-11 13:39] 0crat commented on #800
The job [#800](https://github.com/yegor256/takes/issues/800) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2541342124); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-11 20:13] paulodamaso commented on #800
@yegor256 please answer https://github.com/yegor256/takes/issues/800#issuecomment-418177938 so I can finish this task; I've already tried to refuse it, but 0crat assigned it back to me, so I need that you answer the question so I can move on resolving it.

[2018-09-11 20:38] 0crat commented on #806
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-11 20:38] 0crat commented on #808
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-11 20:38] paulodamaso opened #850 "AppVeyor build failing due parent config"
AppVeyor build is failing due some parent-pom configuration:

[code]

This is happening in the following PRs:
https://github.com/yegor256/takes/pull/843
https://github.com/yegor256/takes/pull/844
https://github.com/yegor256/takes/pull/845
https://github.com/yegor256/takes/pull/846
https://github.com/yegor256/takes/pull/848
https://github.com/yegor256/takes/pull/849

[2018-09-11 20:38] 0crat commented on #850
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-11 20:57] paulodamaso commented on #806
@0crat wait for https://github.com/yegor256/takes/issues/849 review and merge

[2018-09-11 20:57] 0crat commented on #806
@paulodamaso The impediment for [#806](https://github.com/yegor256/takes/issues/806) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-13 01:36] paulodamaso commented on #800
@yegor256 ping

[2018-09-13 18:46] driver733 opened #851 "HTTP requests are processed in wrong order"
I am developing a backend API that processes chat messages (from vk.com) using Takes web framework. I have noticed that the http requests containing chat messages are passed to my Take instance in incorrect order. The expectation is that they are processed (passed to the specified Take instance) in the order that they were initiated. However, this expectation is sometimes not fulfilled. What can I

[2018-09-13 18:46] 0crat commented on #851
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-13 18:46] 0crat commented on #851
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-13 23:40] 0crat commented on #812
The job [#812](https://github.com/yegor256/takes/issues/812) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2562346536); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-14 02:27] paulodamaso commented on #800
@yegor256 ping

[2018-09-17 12:45] 0crat commented on #819
The job [#819](https://github.com/yegor256/takes/issues/819) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2601239799); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-17 13:08] paulodamaso commented on #808
@0crat wait for #848 merge

[2018-09-17 13:10] 0crat commented on #808
@paulodamaso The impediment for [#808](https://github.com/yegor256/takes/issues/808) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-18 06:47] 0crat commented on #820
The job [#820](https://github.com/yegor256/takes/issues/820) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2610656453); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-18 07:00] yegor256 commented on #800
@paulodamaso why asking me? It's not my puzzle. Just remove the puzzle, if you think it's wrong and call it a day. Otherwise, ask its author.

[2018-09-18 11:40] paulodamaso commented on #800
@yegor256 You're the `ARC`, so I thought that this kind of decision are your call. @t-izbassar please take a look to https://github.com/yegor256/takes/issues/800#issuecomment-418177938

[2018-09-18 13:50] 0crat commented on #740
The job [#740](https://github.com/yegor256/takes/issues/740) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2611349056); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-19 01:06] 0crat commented on #812
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-19 07:45] 0crat commented on #725
The job [#725](https://github.com/yegor256/takes/issues/725) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2620755305); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-19 11:11] yegor256 commented on #800
@paulodamaso it will be my call if the author of the puzzle doesn't reply. In that case, refer to me. But it's better to just submit a PR with your own opinion/code. Again, like I said, if you don't like the task/puzzle, just remove it from the code.

[2018-09-19 12:14] 0crat commented on #850
Job [#850](https://github.com/yegor256/takes/issues/850) is now in scope, role is `DEV`

[2018-09-19 12:17] 0crat commented on #850
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-19 13:02] paulodamaso commented on #800
@yegor256 thanks for the answer. @t-izbassar please take a look at this, comment https://github.com/yegor256/takes/issues/800#issuecomment-418177938

[2018-09-19 13:30] paulodamaso commented on #740
@dgroup Is this error still happening to you? I couldn't reproduce it, what I have to do to make this bug happen?

[2018-09-20 02:55] paulodamaso commented on #800
@0crat wait for https://github.com/yegor256/takes/issues/800#issuecomment-418177938 answer

[2018-09-20 02:56] paulodamaso commented on #800
@t-izbassar please take a look at this

[2018-09-20 03:52] 0crat commented on #800
@paulodamaso The impediment for [#800](https://github.com/yegor256/takes/issues/800) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-21 13:27] paulodamaso commented on #740
@ezhov-da Looks like this problem is not happening anymore,please close the issue.

[2018-09-21 14:06] paulodamaso commented on #800
@t-izbassar ping

[2018-09-21 14:09] t-izbassar commented on #800
@paulodamaso `RsPrint` is used exactly for printing head and body. I don't understand what you want to achieve. Not to print head?

[2018-09-21 14:12] t-izbassar commented on #800
@paulodamaso the problem is that when you use `TkEmpty` then you expect to receive empty body, but that's not the case. I think you are misunderstanding the client request from server response. The server response should be with empty body.

This line set's clients request, not server's response.

[2018-09-21 16:52] paulodamaso commented on #800
@t-izbassar Yes, it set the request to be sent to `TkEmpty()`, I was meant that. `TkEmpty` indeed sends the correct body (""), but it is changed in `RsPrint`, and this makes that we will never ever have an empty body in this case because we have header and body being sent in this request.

I don't think that it would be a wise thing to change this behavior because this class is used in `BkBase`, w

[2018-09-21 17:01] paulodamaso commented on #800
@0crat wait for https://github.com/yegor256/takes/pull/855 merge

[2018-09-21 17:05] paulodamaso commented on #820
@0crat wait for merge of #852

[2018-09-21 17:45] paulodamaso commented on #812
@0crat refuse

[2018-09-21 17:49] 0crat commented on #800
@paulodamaso Job [#800](https://github.com/yegor256/takes/issues/800) is already on hold

[2018-09-21 17:49] 0crat commented on #820
@paulodamaso The impediment for [#820](https://github.com/yegor256/takes/issues/820) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-21 20:45] 0crat commented on #812
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-22 14:14] 0crat commented on #819
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 16:15] 0crat commented on #740
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-24 09:12] 0crat commented on #725
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-26 12:14] #851 closed

[2018-09-26 12:31] 0crat commented on #851
Job `gh:yegor256/takes#851` is not assigned, can't get performer

[2018-09-26 12:32] 0crat commented on #851
This job is not in scope

[2018-09-26 23:22] llorllale opened #856 "How do you read a response's status code?"
How do you read the status code of a `Response`?

[2018-09-27 02:05] paulodamaso commented on #740
@0crat refuse

[2018-09-27 02:06] paulodamaso commented on #725
@0crat status

[2018-09-27 02:42] 0crat commented on #740
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#740](https://github.com/yegor256/takes/issues/740), please stop working. Reason for job resignation: Order was cancelled

[2018-09-27 03:02] 0crat commented on #725
@paulodamaso The impediment for [#725](https://github.com/yegor256/takes/issues/725) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-27 03:37] 0crat commented on #725
@paulodamaso This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#725](https://github.com/yegor256/takes/issues/725) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) for [8days](ht

[2018-09-27 03:57] 0crat commented on #740
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-28 17:58] paulodamaso commented on #819
@0crat refuse

[2018-09-28 18:35] 0crat commented on #819
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#819](https://github.com/yegor256/takes/issues/819), please stop working. Reason for job resignation: Order was cancelled

[2018-09-28 19:17] 0crat commented on #819
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-09-29 21:43] llorllale commented on #856
@g4s8 do you know the answer to this by any chance?

[2018-10-02 05:09] g4s8 commented on #856
@llorllale if you need it for unit test you can use `HmRsStatus` Hamcrest-matcher:
[code]

[2018-10-02 19:41] llorllale commented on #856
@g4s8 that's what I needed, thanks

[2018-10-02 19:41] #856 closed

[2018-10-02 21:27] 0crat commented on #856
Job `gh:yegor256/takes#856` is not assigned, can't get performer

[2018-10-02 21:27] 0crat commented on #856
This job is not in scope

[2018-10-04 21:48] 0crat commented on #826
The job [#826](https://github.com/yegor256/takes/issues/826) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2772142067); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-10-04 21:49] 0crat commented on #832
The job [#832](https://github.com/yegor256/takes/issues/832) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2772147196); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-10-09 22:48] 0crat commented on #826
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-09 22:48] 0crat commented on #832
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-10-10 06:17] grzechol opened #858 "ProhibitPlainJunitAssertionsRule reports AssertJ assertion as plain JUnit assertion"
I'm getting **Avoid using Plain JUnit assertions (ProhibitPlainJunitAssertionsRule)** PMD error for the following code:
[code]
My assertion however is not a plain JUnit assertion, but it comes from [AssertJ](http://joel-costigliola.github.io/assertj/) framework.

[2018-10-10 06:17] 0crat commented on #858
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-10 06:17] 0crat commented on #858
@grzechol[/z](https://www.0crat.com/u/grzechol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-10 06:17] #858 closed

[2018-10-10 06:18] grzechol commented on #858
Sorry guys, I meant to report this in quile project instead of this one.

[2018-10-10 06:43] 0crat commented on #858
Job `gh:yegor256/takes#858` is not assigned, can't get performer

[2018-10-10 06:43] 0crat commented on #858
This job is not in scope

[2018-10-10 11:47] paulodamaso commented on #826
@0crat wait for #808

[2018-10-10 11:47] 0crat commented on #826
@paulodamaso The impediment for [#826](https://github.com/yegor256/takes/issues/826) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-10 12:59] 0crat commented on #787
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 12:59] 0crat commented on #682
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 12:59] 0crat commented on #784
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 12:59] 0crat commented on #786
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:02] 0crat commented on #791
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:03] 0crat commented on #790
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:03] 0crat commented on #802
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:04] 0crat commented on #804
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:04] 0crat commented on #806
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:04] 0crat commented on #808
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:04] 0crat commented on #800
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:04] 0crat commented on #820
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:04] 0crat commented on #826
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:04] 0crat commented on #832
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-10-10 13:29] #850 closed

[2018-10-10 13:46] 0crat commented on #850
Job `gh:yegor256/takes#850` is not assigned, can't get performer

[2018-10-10 13:46] 0crat commented on #850
The job [#850](https://github.com/yegor256/takes/issues/850) is now out of scope

[2018-10-10 16:38] paulodamaso commented on #786
@t-izbassar Done and merged, please close.

[2018-10-10 19:05] #786 closed

[2018-10-10 22:56] paulodamaso commented on #790
@t-izbassar Merged, please close.

[2018-10-11 00:56] #725 closed

[2018-10-11 00:56] 0pdd commented on #725
The puzzle `516-ffc97ad1` has disappeared from the source code, that's why I closed this issue.

[2018-10-11 00:56] 0pdd commented on #516
@g4s8 all 2 puzzles are solved here: [#725](https://github.com/yegor256/takes/issues/725), [#unknown]().

[2018-10-11 01:20] 0crat commented on #725
The job [#725](https://github.com/yegor256/takes/issues/725) is now out of scope

[2018-10-11 01:46] 0pdd commented on #806
The puzzle `780-9da18957` has disappeared from the source code, that's why I closed this issue.

[2018-10-11 01:46] #806 closed

[2018-10-11 01:46] 0pdd commented on #780
@0pdd the only puzzle [#806](https://github.com/yegor256/takes/issues/806) is solved here.

[2018-10-11 02:07] 0crat commented on #806
The job [#806](https://github.com/yegor256/takes/issues/806) is now out of scope

[2018-10-11 02:07] 0crat commented on #806
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-11 02:15] paulodamaso commented on #791
@t-izbassar Merged, please close

[2018-10-11 03:47] 0pdd commented on #820
The puzzle `794-9c47f19f` has disappeared from the source code, that's why I closed this issue.

[2018-10-11 03:47] #820 closed

[2018-10-11 03:47] 0pdd opened #859 "HmBody.java:48-50: Current implementation of `HmBody`..."
The puzzle `794-c85dda7b` from #794 has to be resolved:

https://github.com/yegor256/takes/blob/13bbd4eab3ef44f54c44512e3c1d7d7a4ddea4c6/src/main/java/org/takes/facets/hamcrest/HmBody.java#L48-L50

The puzzle was created by Paulo Lobo on 04-Sep-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2018-10-11 03:47] 0pdd commented on #485
@carlosmiranda 3 puzzles [#819](https://github.com/yegor256/takes/issues/819), [#832](https://github.com/yegor256/takes/issues/832), [#859](https://github.com/yegor256/takes/issues/859) are still not solved; solved: [#794](https://github.com/yegor256/takes/issues/794), [#795](https://github.com/yegor256/takes/issues/795), [#820](https://github.com/yegor256/takes/issues/820).

[2018-10-11 03:47] 0pdd commented on #794
@0pdd 2 puzzles [#819](https://github.com/yegor256/takes/issues/819), [#859](https://github.com/yegor256/takes/issues/859) are still not solved; solved: [#820](https://github.com/yegor256/takes/issues/820).

[2018-10-11 03:48] 0crat commented on #859
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-10-11 03:51] paulodamaso commented on #784
@t-izbassar Merged, please close

[2018-10-11 03:52] #790 closed

[2018-10-11 03:53] #808 closed

[2018-10-11 03:54] #791 closed

[2018-10-11 03:55] #784 closed

[2018-10-11 03:55] 0crat commented on #859
Job [#859](https://github.com/yegor256/takes/issues/859) is now in scope, role is `DEV`

[2018-10-11 04:16] 0crat commented on #820
The job [#820](https://github.com/yegor256/takes/issues/820) is now out of scope

[2018-10-11 04:17] 0crat commented on #820
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-11 04:18] 0crat commented on #790
The job [#790](https://github.com/yegor256/takes/issues/790) is now out of scope

[2018-10-11 04:18] 0crat commented on #808
The job [#808](https://github.com/yegor256/takes/issues/808) is now out of scope

[2018-10-11 04:19] 0crat commented on #791
The job [#791](https://github.com/yegor256/takes/issues/791) is now out of scope

[2018-10-11 04:19] 0crat commented on #784
The job [#784](https://github.com/yegor256/takes/issues/784) is now out of scope

[2018-10-11 04:19] 0crat commented on #790
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-11 17:41] paulodamaso commented on #859
@0crat close

[2018-10-11 17:42] 0crat commented on #859
@paulodamaso Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from th

[2018-10-11 19:50] 0pdd commented on #859
The puzzle `794-c85dda7b` has disappeared from the source code, that's why I closed this issue.

[2018-10-11 19:50] #859 closed

[2018-10-11 19:51] 0pdd commented on #485
@carlosmiranda 2 puzzles [#819](https://github.com/yegor256/takes/issues/819), [#832](https://github.com/yegor256/takes/issues/832) are still not solved; solved: [#794](https://github.com/yegor256/takes/issues/794), [#795](https://github.com/yegor256/takes/issues/795), [#820](https://github.com/yegor256/takes/issues/820), [#859](https://github.com/yegor256/takes/issues/859).

[2018-10-11 19:51] 0pdd commented on #794
@0pdd the puzzle [#819](https://github.com/yegor256/takes/issues/819) is still not solved; solved: [#820](https://github.com/yegor256/takes/issues/820), [#859](https://github.com/yegor256/takes/issues/859).

[2018-10-11 20:08] 0crat commented on #859
Job `gh:yegor256/takes#859` is not assigned, can't get performer

[2018-10-11 20:08] 0crat commented on #859
This job is not in scope

[2018-10-13 00:50] paulodamaso commented on #800
@0crat refuse

[2018-10-13 00:58] 0crat commented on #800
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#800](https://github.com/yegor256/takes/issues/800), please stop working. Reason for job resignation: Order was cancelled

[2018-10-13 01:04] 0crat commented on #800
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-14 15:41] 0pdd commented on #832
The puzzle `795-077f3980` has disappeared from the source code, that's why I closed this issue.

[2018-10-14 15:41] #832 closed

[2018-10-14 15:41] 0pdd commented on #485
@carlosmiranda the puzzle [#819](https://github.com/yegor256/takes/issues/819) is still not solved; solved: [#794](https://github.com/yegor256/takes/issues/794), [#795](https://github.com/yegor256/takes/issues/795), [#820](https://github.com/yegor256/takes/issues/820), [#832](https://github.com/yegor256/takes/issues/832), [#859](https://github.com/yegor256/takes/issues/859).

[2018-10-14 15:41] 0pdd commented on #795
@0pdd the only puzzle [#832](https://github.com/yegor256/takes/issues/832) is solved here.

[2018-10-14 16:00] 0crat commented on #832
The job [#832](https://github.com/yegor256/takes/issues/832) is now out of scope

[2018-10-14 16:00] 0crat commented on #832
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-16 08:24] g4s8 opened #861 "TkMethods returns 404 on unsupported method"
`TkMethods` take returns 404 error if method is not supported.
It would be more logical to return `405: Method Not Allowed` here.

[code]

[2018-10-16 21:19] paulodamaso commented on #826
@g4s8 merged, please close

[2018-10-16 21:29] paulodamaso commented on #841
@g4s8 Wouldn't https://github.com/yegor256/takes/issues/808 solve this one?

[2018-10-17 02:41] paulodamaso commented on #754
@0crat in

[2018-10-17 02:43] paulodamaso commented on #838
@0crat status

[2018-10-17 02:54] paulodamaso commented on #804
@0crat status

[2018-10-17 02:54] 0crat commented on #754
@paulodamaso Job [#754](https://github.com/yegor256/takes/issues/754) is now in scope, role is `DEV`

[2018-10-17 02:54] 0crat commented on #838
@paulodamaso This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#838](https://github.com/yegor256/takes/issues/838) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3FFK3YAY?q=%7Bjob%3A%27gh%3Ayegor256%2Ftakes%23838%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted ar

[2018-10-17 02:55] 0crat commented on #754
@paulodamaso Thanks for your contribution, @vladimir-bukhtoyarov[/z](https://www.0crat.com/u/vladimir-bukhtoyarov)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-17 02:55] 0crat commented on #804
@paulodamaso This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#804](https://github.com/yegor256/takes/issues/804) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [1mon](http://www.zerocr

[2018-10-17 02:55] paulodamaso commented on #847
0crat in

[2018-10-17 02:56] paulodamaso commented on #861
@0crat in

[2018-10-17 02:57] 0crat commented on #861
@paulodamaso Job [#861](https://github.com/yegor256/takes/issues/861) is now in scope, role is `DEV`

[2018-10-17 02:58] 0crat commented on #861
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-17 03:12] paulodamaso commented on #770
@0crat in

[2018-10-17 03:13] paulodamaso commented on #770
@simonjenga The code moved from `org.takes.facets.hamcrest.AbstractHmHeader.matchesSafely(T)` to `org.takes.facets.hamcrest.HmHeader.matchesSafely(T)`

[2018-10-17 03:29] 0crat commented on #770
@paulodamaso Job [#770](https://github.com/yegor256/takes/issues/770) is now in scope, role is `DEV`

[2018-10-17 03:37] 0crat commented on #770
@paulodamaso Thanks for your contribution, @simonjenga[/z](https://www.0crat.com/u/simonjenga)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-17 03:38] 0crat commented on #810
@paulodamaso Job `gh:yegor256/takes#810` is not assigned, can't get performer

[2018-10-17 03:49] 0crat commented on #810
@paulodamaso The job [#810](https://github.com/yegor256/takes/issues/810) is now out of scope

[2018-10-17 03:52] paulodamaso commented on #842
@0crat in

[2018-10-17 04:10] 0crat commented on #842
@paulodamaso Job [#842](https://github.com/yegor256/takes/issues/842) is now in scope, role is `DEV`

[2018-10-17 04:15] paulodamaso commented on #838
@0crat in

[2018-10-17 04:19] 0crat commented on #842
@paulodamaso Thanks for your contribution, @esteveboix[/z](https://www.0crat.com/u/esteveboix)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-17 04:35] g4s8 commented on #804
@0crat refuse

[2018-10-17 04:37] 0crat commented on #838
@paulodamaso Job [#838](https://github.com/yegor256/takes/issues/838) is now in scope, role is `DEV`

[2018-10-17 04:39] g4s8 commented on #841
@paulodamaso yes, it seems all CI tools are using java-8 now

[2018-10-17 04:39] #841 closed

[2018-10-17 04:39] 0crat commented on #838
@paulodamaso Thanks for your contribution, @jimkast[/z](https://www.0crat.com/u/jimkast)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-17 04:41] 0crat commented on #804
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#804](https://github.com/yegor256/takes/issues/804), please stop working. Reason for job resignation: Order was cancelled

[2018-10-17 05:08] 0crat commented on #804
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-17 05:08] 0crat commented on #841
Job `gh:yegor256/takes#841` is not assigned, can't get performer

[2018-10-17 05:09] 0crat commented on #841
The job [#841](https://github.com/yegor256/takes/issues/841) is now out of scope

[2018-10-17 08:11] vladimir-bukhtoyarov commented on #754
@0crat thanks for advance, but I am very busy with my own projects and have no plans to work enywhere else.

[2018-10-17 08:52] g4s8 commented on #826
@paulodamaso thanks

[2018-10-17 08:52] #826 closed

[2018-10-17 11:10] 0crat commented on #826
The job [#826](https://github.com/yegor256/takes/issues/826) is now out of scope

[2018-10-17 11:34] 0crat commented on #826
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-18 11:46] paulodamaso commented on #847
@0crat status

[2018-10-18 12:37] 0crat commented on #847
@paulodamaso This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#847](https://github.com/yegor256/takes/issues/847) is [in scope](http://www.zerocracy.com/policy.html#14) for 21s
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) i

[2018-10-18 13:13] 0crat commented on #847
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-18 21:34] paulodamaso opened #862 "Remove versioneye badge"
`Versioneye` service is not available anymore. So, the badge must be removed from `README.md`.

[2018-10-21 02:02] paulodamaso commented on #862
@0crat in

[2018-10-21 02:07] 0crat commented on #862
@paulodamaso Job [#862](https://github.com/yegor256/takes/issues/862) is now in scope, role is `DEV`

[2018-10-21 02:08] 0crat commented on #862
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-23 13:34] paulodamaso commented on #810
@t-izbassar may you close this one? We'll let this as is until codacy fixes the problem on their side.

[2018-10-23 19:22] paulodamaso opened #863 "Remove nulls"
There are a lot of `null` usages in the project violating the key principles defined README.md file. These `null` constant references must be eliminated.

[2018-10-24 12:59] paulodamaso commented on #862
@0crat assign me

[2018-10-24 13:00] 0crat commented on #862
@paulodamaso The job [#862](https://github.com/yegor256/takes/issues/862) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/90e75ad6-d56a-4668-996b-54822608d180); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2018-10-24 13:00] 0crat commented on #862
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-24 13:00] 0crat commented on #862
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-24 13:42] #862 closed

[2018-10-24 14:02] 0crat commented on #862
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-24 14:03] 0crat commented on #862
The job [#862](https://github.com/yegor256/takes/issues/862) is now out of scope

[2018-10-24 14:03] 0crat commented on #862
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-10-24 16:56] 0pdd opened #865 "SrvTake.java:44-47: Continue to integrate with Servlet..."
The puzzle `682-74f1da61` from #682 has to be resolved:

https://github.com/yegor256/takes/blob/87f8ee3a80cb27136838f640677b1890f5adda79/src/main/java/org/takes/servlet/SrvTake.java#L44-L47

The puzzle was created by Kirill on 24-Oct-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2018-10-24 16:57] 0pdd opened #866 "ResponseOf.java:44-46: Servlet request and response..."
The puzzle `682-06e5396c` from #682 has to be resolved:

https://github.com/yegor256/takes/blob/87f8ee3a80cb27136838f640677b1890f5adda79/src/main/java/org/takes/servlet/ResponseOf.java#L44-L46

The puzzle was created by g4s8 on 09-Apr-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2018-10-24 16:57] 0pdd commented on #682
@mgenov 2 puzzles [#865](https://github.com/yegor256/takes/issues/865), [#866](https://github.com/yegor256/takes/issues/866) are still not solved.

[2018-10-24 16:57] 0crat commented on #865
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-10-24 16:57] 0crat commented on #866
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-10-24 17:05] 0crat commented on #865
Job [#865](https://github.com/yegor256/takes/issues/865) is now in scope, role is `DEV`

[2018-10-24 17:05] 0crat commented on #866
Job [#866](https://github.com/yegor256/takes/issues/866) is now in scope, role is `DEV`

[2018-10-24 17:19] g4s8 commented on #682
@mgenov initial implementation was done in #836 PR, can we close this ticket?

[2018-11-12 14:15] 0crat commented on #804
The job [#804](https://github.com/yegor256/takes/issues/804) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/6a31ebf3-53d2-470b-bb44-e986035d0672); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-11-12 15:04] 0crat commented on #812
The job [#812](https://github.com/yegor256/takes/issues/812) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/c8cbd343-2150-4585-8195-537a6f66c0f6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 15:11] 0crat commented on #819
The job [#819](https://github.com/yegor256/takes/issues/819) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/661638e5-d533-4658-8283-9ff088fbd269); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 15:20] ypshenychka commented on #812
@0crat refuse

[2018-11-12 15:20] ypshenychka commented on #819
@0crat refuse

[2018-11-12 15:21] 0crat commented on #865
The job [#865](https://github.com/yegor256/takes/issues/865) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/6e75fd19-9d7d-489c-84ce-ba8500ee295c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 15:21] 0crat commented on #812
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#812](https://github.com/yegor256/takes/issues/812), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 15:21] 0crat commented on #819
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#819](https://github.com/yegor256/takes/issues/819), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 15:21] 0crat commented on #812
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 15:22] 0crat commented on #819
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 15:35] 0crat commented on #837
The job [#837](https://github.com/yegor256/takes/issues/837) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/6ad82208-3cba-4aa8-9811-5da2ff733eea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 15:39] 0crat commented on #754
The job [#754](https://github.com/yegor256/takes/issues/754) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/22a5e002-34fd-4824-bdff-2c0776636a50); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 15:49] 0crat commented on #861
The job [#861](https://github.com/yegor256/takes/issues/861) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/0a18eecb-3af8-49a6-9e16-c7c1f9d89a95); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 15:55] 0crat commented on #866
The job [#866](https://github.com/yegor256/takes/issues/866) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/e1350cdb-0e5a-473d-bb80-254541ddd187); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 16:06] 0crat commented on #770
The job [#770](https://github.com/yegor256/takes/issues/770) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/5837e848-3536-4bd6-b1ad-ec2cee1d5103); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 16:14] 0crat commented on #842
The job [#842](https://github.com/yegor256/takes/issues/842) assigned to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/87f8272a-86ce-4875-8341-fda30f2776e7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2018-11-12 17:57] ypshenychka commented on #865
@0crat refuse

[2018-11-12 17:58] 0crat commented on #865
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#865](https://github.com/yegor256/takes/issues/865), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 17:58] ypshenychka commented on #740
@0crat refuse

[2018-11-12 17:58] ypshenychka commented on #837
@0crat refuse

[2018-11-12 17:59] 0crat commented on #865
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 17:59] ypshenychka commented on #754
@0crat refuse

[2018-11-12 17:59] 0crat commented on #740
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#740](https://github.com/yegor256/takes/issues/740), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 17:59] ypshenychka commented on #861
@0crat refuse

[2018-11-12 17:59] 0crat commented on #837
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#837](https://github.com/yegor256/takes/issues/837), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 17:59] ypshenychka commented on #866
@0crat refuse

[2018-11-12 18:00] 0crat commented on #740
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 18:00] 0crat commented on #754
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#754](https://github.com/yegor256/takes/issues/754), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 18:00] 0crat commented on #837
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 18:00] ypshenychka commented on #770
@0crat refuse

[2018-11-12 18:00] 0crat commented on #861
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#861](https://github.com/yegor256/takes/issues/861), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 18:00] ypshenychka commented on #842
@0crat refuse

[2018-11-12 18:00] 0crat commented on #866
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#866](https://github.com/yegor256/takes/issues/866), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 18:00] 0crat commented on #754
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 18:01] 0crat commented on #770
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#770](https://github.com/yegor256/takes/issues/770), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 18:01] 0crat commented on #861
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 18:01] 0crat commented on #842
@ypshenychka The user @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) resigned from [#842](https://github.com/yegor256/takes/issues/842), please stop working. Reason for job resignation: Order was cancelled

[2018-11-12 18:01] 0crat commented on #866
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 18:02] 0crat commented on #770
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 18:02] 0crat commented on #842
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-12 19:20] 0crat commented on #812
The job [#812](https://github.com/yegor256/takes/issues/812) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/ffde60e0-c893-4b21-92c4-a9c6b2660d6d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-12 21:06] 0crat commented on #819
The job [#819](https://github.com/yegor256/takes/issues/819) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/0ca15140-e7ae-4569-855f-89944e7107a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-14 12:43] paulodamaso commented on #810
@t-izbassar ping

[2018-11-15 13:12] #754 closed

[2018-11-15 13:29] 0crat commented on #754
Job `gh:yegor256/takes#754` is not assigned, can't get performer

[2018-11-15 13:29] 0crat commented on #754
The job [#754](https://github.com/yegor256/takes/issues/754) is now out of scope

[2018-11-15 13:57] ypshenychka commented on #754
@paulodamaso Noone actually worked on this issue, right?

[2018-11-15 18:30] 0crat commented on #819
@olenagerasimova The impediment for [#819](https://github.com/yegor256/takes/issues/819) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-11-16 07:29] olenagerasimova commented on #812
@0crat refuse

[2018-11-16 07:29] 0crat commented on #812
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#812](https://github.com/yegor256/takes/issues/812), please stop working. Reason for job resignation: Order was cancelled

[2018-11-16 07:30] 0crat commented on #812
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-11-17 14:37] 0crat commented on #800
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-17 14:37] 0crat commented on #804
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-18 09:57] victornoel commented on #800
@0crat wait for #868 to be reviewed and merged

[2018-11-18 10:14] victornoel commented on #804
@paulodamaso any idea has how this should be tackled? Removing guava (it is used only in tests)? Something else?

[2018-11-18 10:14] victornoel commented on #804
@0crat wait for ARC answer

[2018-11-18 10:20] 0crat commented on #800
@victornoel The impediment for [#800](https://github.com/yegor256/takes/issues/800) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-11-18 10:20] 0crat commented on #804
@victornoel The impediment for [#804](https://github.com/yegor256/takes/issues/804) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-11-18 18:41] paulodamaso commented on #804
@victornoel Let's start replacing guava; after that we will start to enforce usage of cactoos objects in our code.

[2018-11-18 19:00] 0pdd commented on #800
The puzzle `730-80b57821` has disappeared from the source code, that's why I closed this issue.

[2018-11-18 19:00] #800 closed

[2018-11-18 19:00] 0pdd opened #869 "FtRemoteTest.java:55-59: We can't assert if FtRemote..."
The puzzle `800-fe5f523c` from #800 has to be resolved:

https://github.com/yegor256/takes/blob/4ccecced024e64cc5b5efb19db56144b15af03d8/src/test/java/org/takes/http/FtRemoteTest.java#L55-L59

The puzzle was created by Victor Noël on 18-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2018-11-18 19:00] 0pdd commented on #712
@g4s8 the puzzle [#869](https://github.com/yegor256/takes/issues/869) is still not solved; solved: [#730](https://github.com/yegor256/takes/issues/730), [#731](https://github.com/yegor256/takes/issues/731), [#800](https://github.com/yegor256/takes/issues/800).

[2018-11-18 19:00] 0pdd commented on #730
@0pdd the puzzle [#869](https://github.com/yegor256/takes/issues/869) is still not solved; solved: [#800](https://github.com/yegor256/takes/issues/800).

[2018-11-18 19:00] 0pdd commented on #800
@0pdd the puzzle [#869](https://github.com/yegor256/takes/issues/869) is still not solved.

[2018-11-18 19:01] 0crat commented on #869
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-11-18 19:06] 0crat commented on #869
Job [#869](https://github.com/yegor256/takes/issues/869) is now in scope, role is `DEV`

[2018-11-18 19:17] 0crat commented on #800
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-18 19:18] 0crat commented on #800
The job [#800](https://github.com/yegor256/takes/issues/800) is now out of scope

[2018-11-18 20:07] 0crat commented on #865
The job [#865](https://github.com/yegor256/takes/issues/865) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/c2b72630-b439-4644-998b-27286b8631a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-19 08:41] simonjenga commented on #770
@paulodamaso Ok

[2018-11-19 10:49] 0crat commented on #866
The job [#866](https://github.com/yegor256/takes/issues/866) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/4fc09c19-3751-4640-939f-469b1c6156d9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-19 11:10] paulodamaso commented on #770
@simonjenga Could you please close the issue then?

[2018-11-19 12:14] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/57fbdab0-55b9-44dc-8659-54ee70048894); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-19 13:32] olenagerasimova commented on #869
@0crat wait please for https://github.com/jcabi/jcabi-http/issues/177 to be resolved

[2018-11-19 13:34] 0crat commented on #869
@olenagerasimova The impediment for [#869](https://github.com/yegor256/takes/issues/869) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-11-20 08:42] ypshenychka commented on #754
@paulodamaso ping

[2018-11-20 09:54] elenavolokhova commented on #800
@0crat quality good

[2018-11-20 10:49] paulodamaso commented on #754
@ypshenychka right, no one touched this

[2018-11-20 10:57] ypshenychka commented on #754
@paulodamaso thanks!