[2018-11-20 10:57] ypshenychka commented on #754
@0crat quality bad

[2018-11-20 12:08] 0crat commented on #754
@ypshenychka There is no quality review for [#754](https://github.com/yegor256/takes/issues/754), no performer

[2018-11-20 12:17] 0crat commented on #800
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-11-20 19:16] victornoel commented on #812
@0crat wait for #870 to be merged

[2018-11-20 19:17] 0crat commented on #812
@victornoel The impediment for [#812](https://github.com/yegor256/takes/issues/812) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-11-21 08:11] g4s8 opened #871 "Encoding is enforced in some places"
Takes has some places in code where `UTF-8` encoding is enforced, e.g. `RsPrint` uses `Utf8OutputStreamWriter` to convert response body to UTF-8 string. I think it's not correct, because Takes user should be able to configure global encoding via JVM arguments, e.g. to use `UTF-8` encoding: `-Dfile.encoding=UTF-8`.
So I'm suggesting to use `Charset.defaultCharset()` or `InputStreamReader.getEncodin

[2018-11-21 08:11] 0crat commented on #871
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-11-22 07:33] t-izbassar commented on #810
@paulodamaso I don't expect Codacy to fix the problem on their side. If you ok with the PR noise from pointless red build then feel free to close this issue.

[2018-11-22 11:51] simonjenga commented on #770
@paulodamaso The original abstract class ```AbstractHmHeader``` was changed to become a concrete class ```HmHeader``` and that is OK. However, the method ```matchesSafely(T)``` still has the following condition check:
[code]
Is this check really needed? It should be removed.
When this check is removed from the method, the JUnit Test for this class pass without any error:

 ```../takes>mvn -Dtest=H

[2018-11-22 12:10] piotrkot opened #872 "Handling non-IOExceptions in Take is broken"
`Take` interface expects to throw `IOException`. This is limiting. In my Take implementations I often make SQL calls or JSON manipulations which throw checked `SQLException` or checked `JsonException`.
Why `Take` cannot throw `Exception`, instead? Especially, as in the [blog](https://www.yegor256.com/2015/07/28/checked-vs-unchecked-exceptions.html) I can read "use only Exception, without any sub-t

[2018-11-22 12:10] 0crat commented on #872
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-11-22 12:10] 0crat commented on #872
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-22 23:15] #810 closed

[2018-11-22 23:29] 0pdd commented on #812
The puzzle `778-192143c0` has disappeared from the source code, that's why I closed this issue.

[2018-11-22 23:29] 0pdd commented on #778
@simonjenga the only puzzle [#812](https://github.com/yegor256/takes/issues/812) is solved here.

[2018-11-22 23:37] 0crat commented on #810
Job `gh:yegor256/takes#810` is not assigned, can't get performer

[2018-11-22 23:38] 0crat commented on #810
This job is not in scope

[2018-11-22 23:47] 0crat commented on #812
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-22 23:47] 0crat commented on #812
The job [#812](https://github.com/yegor256/takes/issues/812) is now out of scope

[2018-11-23 10:09] ypshenychka commented on #812
@0crat quality good

[2018-11-23 10:30] 0crat commented on #812
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-11-23 10:30] 0crat commented on #812
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-23 20:38] 0crat commented on #865
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-24 11:39] 0crat commented on #866
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-11-24 11:54] victornoel commented on #804
@aliceice PR is #873

[2018-11-24 15:36] paulodamaso commented on #740
@victornoel thanks

[2018-11-24 15:36] #740 closed

[2018-11-24 15:53] 0crat commented on #740
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-24 15:53] 0crat commented on #740
The job [#740](https://github.com/yegor256/takes/issues/740) is now out of scope

[2018-11-24 17:36] ypshenychka commented on #740
@victornoel As far as no solution was provided for this issue, I should mark this ticket as 'bad'. Agree?

[2018-11-24 17:42] victornoel commented on #740
@ypshenychka haha, of course I don't, I'm paid to close tickets. But if you do I will accept without making a fuss ;)

[2018-11-24 18:10] simonjenga commented on #778
@0pdd OK!

[2018-11-24 18:46] ypshenychka commented on #740
@victornoel Fair enough :) But rules are rules...

[2018-11-24 18:46] ypshenychka commented on #740
@0crat quality bad

[2018-11-24 18:48] 0crat commented on #740
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-11-24 18:49] 0crat commented on #740
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-24 18:49] 0crat commented on #837
The job [#837](https://github.com/yegor256/takes/issues/837) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/cc9db908-0708-4f19-81da-ea765a6fb834); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-11-27 08:54] olenagerasimova commented on #865
@0crat refuse

[2018-11-27 08:54] olenagerasimova commented on #865
@0crat refuse

[2018-11-27 08:54] 0crat commented on #865
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#865](https://github.com/yegor256/takes/issues/865), please stop working. Reason for job resignation: Order was cancelled

[2018-11-27 08:57] 0crat commented on #865
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-11-27 08:57] 0crat commented on #866
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#866](https://github.com/yegor256/takes/issues/866), please stop working. Reason for job resignation: Order was cancelled

[2018-11-27 08:58] 0crat commented on #866
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-11-27 11:51] paulodamaso commented on #141
@d-molotchko I'm closing this one as no one reported a similar problem in the last two years.

[2018-11-27 11:51] #141 closed

[2018-11-27 12:03] paulodamaso commented on #121
@dmzaytsev The requested feature was already implemented in `RqPrint`, please take a look.

[2018-11-27 12:03] #121 closed

[2018-11-27 12:14] paulodamaso commented on #577
@0crat in

[2018-11-27 12:16] 0crat commented on #141
Job `gh:yegor256/takes#141` is not assigned, can't get performer

[2018-11-27 12:16] 0crat commented on #141
This job is not in scope

[2018-11-27 12:18] paulodamaso commented on #788
@0crat in

[2018-11-27 12:20] #475 closed

[2018-11-27 12:21] #504 closed

[2018-11-27 12:22] #352 closed

[2018-11-27 12:29] 0crat commented on #788
@paulodamaso Thanks for your contribution, @simonjenga[/z](https://www.0crat.com/u/simonjenga)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-11-27 12:29] 0crat commented on #352
@yegor256 Thanks for your contribution, @mbarbieri[/z](https://www.0crat.com/u/mbarbieri)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-11-27 12:31] paulodamaso commented on #352
@0crat out

[2018-11-27 12:38] 0crat commented on #352
@paulodamaso Job `gh:yegor256/takes#352` is not assigned, can't get performer

[2018-11-27 12:38] 0crat commented on #475
Job `gh:yegor256/takes#475` is not assigned, can't get performer

[2018-11-27 12:38] 0crat commented on #352
@paulodamaso The job [#352](https://github.com/yegor256/takes/issues/352) is now out of scope

[2018-11-27 12:38] 0crat commented on #504
Job `gh:yegor256/takes#504` is not assigned, can't get performer

[2018-11-27 12:38] 0crat commented on #352
Job `gh:yegor256/takes#352` is not assigned, can't get performer

[2018-11-27 12:38] 0crat commented on #475
This job is not in scope

[2018-11-27 12:38] 0crat commented on #504
This job is not in scope

[2018-11-27 12:39] 0crat commented on #352
This job is not in scope

[2018-11-27 17:00] g4s8 commented on #352
@0crat status

[2018-11-27 17:02] 0crat commented on #352
@g4s8 This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#352](https://github.com/yegor256/takes/issues/352) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C3FFK3YAY?q=%7Bjob%3A%27gh%3Ayegor256%2Ftakes%23352%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2018-11-28 18:09] victornoel commented on #837
@0crat wait for review/merge of #874

[2018-11-28 18:10] 0crat commented on #837
@victornoel The impediment for [#837](https://github.com/yegor256/takes/issues/837) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-11-28 19:03] victornoel commented on #861
@0crat wait for review/merge of #875

[2018-11-28 19:05] 0crat commented on #861
@victornoel The impediment for [#861](https://github.com/yegor256/takes/issues/861) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-11-28 20:03] victornoel opened #876 "PsFacebook seems not to support UTF8 content"
Since PsFacebookTest relies on a random id to do its test, sometimes it retrieves UTF8 content which can't be parsed by Takes and/or restfb:
[code]

I think Takes should be improved to be able to parse such content. So the test shouldn't simply be modified to pass, more tests should be added and the behaviour fixed.

[2018-11-28 20:03] 0crat commented on #876
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-11-29 01:32] 0pdd commented on #819
The puzzle `794-b5119934` has disappeared from the source code, that's why I closed this issue.

[2018-11-29 01:32] #819 closed

[2018-11-29 01:32] 0pdd commented on #485
@carlosmiranda all 6 puzzles are solved here: [#794](https://github.com/yegor256/takes/issues/794), [#795](https://github.com/yegor256/takes/issues/795), [#819](https://github.com/yegor256/takes/issues/819), [#820](https://github.com/yegor256/takes/issues/820), [#832](https://github.com/yegor256/takes/issues/832), [#859](https://github.com/yegor256/takes/issues/859).

[2018-11-29 01:32] 0pdd commented on #794
@0pdd all 3 puzzles are solved here: [#819](https://github.com/yegor256/takes/issues/819), [#820](https://github.com/yegor256/takes/issues/820), [#859](https://github.com/yegor256/takes/issues/859).

[2018-11-29 01:51] 0crat commented on #819
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-29 01:52] 0crat commented on #819
The job [#819](https://github.com/yegor256/takes/issues/819) is now out of scope

[2018-11-29 02:47] paulodamaso commented on #872
@piotrkot This is a very sensitive question. Looks like we have three options here:
1) Let `Take` exception handling as is and wrap other exceptions in `IOException`
2) Update `Take` to throw `Exception` as said in [Yegor's article](https://www.yegor256.com/2015/07/28/checked-vs-unchecked-exceptions.html)
3) Remove all exception handling for `Take` interface considering the arguments presented in

[2018-11-29 07:02] ypshenychka commented on #819
@0crat quality good

[2018-11-29 07:06] 0crat commented on #819
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-11-29 07:06] 0crat commented on #819
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-11-29 08:37] krzyk opened #877 "Upgrade JUnit to version5"
JUnit 5 has been out for a while, let's upgrade all tests to use it.
It will allow usage of lambdas in few cases, like asserting thrown exception - we should get rid of ExpectedExceptions in the code during the upgrade process and upgrade surefire and failsafe to the latest versions available (there were issues relatetd to JUnit 5 there).

[2018-11-29 08:37] 0crat commented on #877
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-11-29 16:14] piotrkot commented on #872
@paulodamaso Thank you for listing out the options.

If you asked me, I prefer option no. 2. In fact, `Takes` is already catching `Throwable` in `BkBasic` and `TkFallback`. And that is OK because you can never trust what users put into their `Take` implementations. But after all it's the framework which must handle it.

Personally, I don't agree with the article by Sergey Kapralov. Please, keep `T

[2018-11-29 16:32] 0crat commented on #865
The job [#865](https://github.com/yegor256/takes/issues/865) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/475d8441-8d81-4b9b-9f44-477a0e63bdcb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-29 16:42] 0crat commented on #866
The job [#866](https://github.com/yegor256/takes/issues/866) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/b69122a9-7109-4992-b0c4-45600195e2ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-29 16:52] 0crat commented on #577
The job [#577](https://github.com/yegor256/takes/issues/577) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/73698007-e289-4e04-995e-023cd79cbdf5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-30 07:13] 0crat commented on #770
The job [#770](https://github.com/yegor256/takes/issues/770) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/78522e33-7038-4d31-9ae8-db2faf1fe450); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-30 07:17] 0crat commented on #842
The job [#842](https://github.com/yegor256/takes/issues/842) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/7b3c8738-ee51-428f-bbbf-bc563a562299); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-30 21:06] 0crat commented on #876
The job [#876](https://github.com/yegor256/takes/issues/876) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/34546e02-5056-4eb3-8e64-3363254d4761); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-12-01 12:55] paulodamaso commented on #682
@mgenov ping

[2018-12-01 15:09] victornoel commented on #861
@g4s8 the PR was merged, can you close the issue? Thanks

[2018-12-01 19:56] olenagerasimova commented on #842
@paulodamaso what is our approach here? Migrating to velocity 2?

[2018-12-01 20:42] olenagerasimova commented on #838
@0crat wait for review/merge of PR #879

[2018-12-01 20:43] 0crat commented on #838
@olenagerasimova The impediment for [#838](https://github.com/yegor256/takes/issues/838) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-12-01 23:07] 0pdd opened #880 "pom.xml:373-377: Upgrade qulice to latest 0.17.x and if..."
The puzzle `837-241b1372` from #837 has to be resolved:

https://github.com/yegor256/takes/blob/c8f3ef2740506815b9c6398f50fb968462ee17d4/pom.xml#L373-L377

The puzzle was created by Victor Noël on 28-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code

[2018-12-01 23:07] 0crat commented on #880
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-01 23:07] 0pdd opened #881 "pom.xml:378-383: Finish the upgrade to qulice 0.17.5 by..."
The puzzle `837-e35739d6` from #837 has to be resolved:

https://github.com/yegor256/takes/blob/c8f3ef2740506815b9c6398f50fb968462ee17d4/pom.xml#L378-L383

The puzzle was created by Victor Noël on 01-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code

[2018-12-01 23:07] 0crat commented on #881
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-01 23:07] 0pdd opened #882 "pom.xml:390-393: Un-exclude findbugs from qulice checks..."
The puzzle `837-89c97f66` from #837 has to be resolved:

https://github.com/yegor256/takes/blob/c8f3ef2740506815b9c6398f50fb968462ee17d4/pom.xml#L390-L393

The puzzle was created by Victor Noël on 28-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code

[2018-12-01 23:07] 0pdd commented on #837
@krzyk 3 puzzles [#880](https://github.com/yegor256/takes/issues/880), [#881](https://github.com/yegor256/takes/issues/881), [#882](https://github.com/yegor256/takes/issues/882) are still not solved.

[2018-12-01 23:08] 0crat commented on #882
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-01 23:13] 0crat commented on #880
Job [#880](https://github.com/yegor256/takes/issues/880) is now in scope, role is `DEV`

[2018-12-01 23:13] 0crat commented on #881
Job [#881](https://github.com/yegor256/takes/issues/881) is now in scope, role is `DEV`

[2018-12-01 23:13] 0crat commented on #882
Job [#882](https://github.com/yegor256/takes/issues/882) is now in scope, role is `DEV`

[2018-12-02 06:50] olenagerasimova commented on #770
@simonjenga done in PR #878, please close

[2018-12-02 08:51] victornoel commented on #837
@krzyk the was merged, can you close the issue? Thanks

[2018-12-02 11:56] krzyk commented on #837
@victornoel thanks

[2018-12-02 11:56] #837 closed

[2018-12-02 12:14] 0crat commented on #837
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-02 12:14] 0crat commented on #837
The job [#837](https://github.com/yegor256/takes/issues/837) is now out of scope

[2018-12-02 12:55] ypshenychka commented on #837
@0crat quality good

[2018-12-02 12:57] 0crat commented on #837
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-02 12:59] 0crat commented on #847
The job [#847](https://github.com/yegor256/takes/issues/847) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/1bbf81b0-29d7-4463-bc2a-1e962d904402); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-12-02 13:02] victornoel commented on #847
@0crat refuse

[2018-12-02 13:04] 0crat commented on #847
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-02 13:08] 0crat commented on #880
The job [#880](https://github.com/yegor256/takes/issues/880) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/47cc4d28-bf87-4109-90f3-a8906097cffd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-12-02 17:45] victornoel commented on #880
@0crat wait for teamed/qulice#953 to be fixed

[2018-12-02 17:45] 0crat commented on #880
@victornoel The impediment for [#880](https://github.com/yegor256/takes/issues/880) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-02 18:08] paulodamaso commented on #880
@victornoel You can exceptionally set checkstyle `@checkstyle <check> (n lines)` annotation to ignore some check in the next lines, so you should set this if you want to get your ticket moving before https://github.com/teamed/qulice/issues/953 is fixed.

[2018-12-02 18:31] victornoel commented on #880
@paulodamaso good point, I completely forgot about that :) thanks!

[2018-12-03 10:11] simonjenga commented on #770
@olenagerasimova OK!

[2018-12-03 10:11] #770 closed

[2018-12-03 10:30] 0crat commented on #770
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-03 10:30] 0crat commented on #770
The job [#770](https://github.com/yegor256/takes/issues/770) is now out of scope

[2018-12-03 10:35] paulodamaso commented on #842
@olenagerasimova Yes, let's upgrade to velocity to 2.0

[2018-12-03 10:58] ypshenychka commented on #770
@0crat quality good

[2018-12-03 11:00] 0crat commented on #770
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-12-03 11:00] 0crat commented on #770
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-03 18:12] paulodamaso commented on #872
@yegor256 please take a look at this

[2018-12-04 11:23] #861 closed, assigned to nobody

[2018-12-04 11:44] 0crat commented on #861
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-04 11:44] 0crat commented on #861
The job [#861](https://github.com/yegor256/takes/issues/861) is now out of scope

[2018-12-04 16:11] ypshenychka commented on #861
@0crat quality good

[2018-12-04 16:17] 0crat commented on #861
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-04 16:19] 0crat commented on #861
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-04 16:19] 0crat commented on #881
The job [#881](https://github.com/yegor256/takes/issues/881) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/f56df3bb-bafe-47d5-8170-79be2905a9e4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2018-12-04 16:37] 0crat commented on #865
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-04 17:38] 0crat commented on #866
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-04 17:38] 0crat commented on #577
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-04 19:01] victornoel commented on #881
@0crat refuse

[2018-12-04 19:18] 0crat commented on #881
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#881](https://github.com/yegor256/takes/issues/881), please stop working. Reason for job resignation: Order was cancelled

[2018-12-04 19:18] 0crat commented on #881
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-05 07:37] 0crat commented on #842
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-05 21:39] 0crat commented on #876
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-06 09:20] 0crat commented on #847
The job [#847](https://github.com/yegor256/takes/issues/847) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/528e10c0-5077-426b-a153-6f7a19aa866c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-12-06 09:22] 0crat commented on #881
The job [#881](https://github.com/yegor256/takes/issues/881) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/4a01eef3-6219-4799-bfd6-b5979034f5cb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-12-06 09:22] krzyk commented on #847
@0crat refuse

[2018-12-06 09:23] 0crat commented on #847
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#847](https://github.com/yegor256/takes/issues/847), please stop working. Reason for job resignation: Order was cancelled

[2018-12-06 10:10] 0crat commented on #863
The job [#863](https://github.com/yegor256/takes/issues/863) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/71eb402a-a86b-4a76-ac0a-013df4150bf0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-12-06 10:10] krzyk commented on #881
@0crat waiting for review of PR #883

[2018-12-06 10:22] 0crat commented on #788
The job [#788](https://github.com/yegor256/takes/issues/788) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/210c3f07-5fc6-419f-85f6-1786ef0719f8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-12-06 10:23] 0crat commented on #881
@krzyk The impediment for [#881](https://github.com/yegor256/takes/issues/881) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-06 12:16] krzyk commented on #863
@paulodamaso What to do in case of receiving `null` from external libraries, or a call to external library requires `null` in params to enable some option?
In case of return params we could hide `null` inside `Optional` or `Opt`

I think the last time nulls were being removed (https://github.com/yegor256/takes/issues/555) here we stopped at those boundaries.

[2018-12-06 12:29] paulodamaso commented on #863
@krzyk I think that we have to evaluate each case of null when communicating with other libraries, so let's not assume any default behavior for now.

Takes code deteriorated from last `null` removal to now; we have a lot of "new nulls" lurking in our own code right now. Let's take care of these ones first.

[2018-12-06 13:35] krzyk opened #884 "Convert anonymous classes to lambdas"
Currently there are about 83 cases where we use anonymous classes and lambdas could be used - this is leftover from the Java 7 days in takes.

Let's remove those anonymous classes and use lambdas instead.

[2018-12-06 13:35] 0crat commented on #884
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-06 13:48] olenagerasimova commented on #838
@jimkast fixed in #879 please close

[2018-12-06 15:09] #838 closed

[2018-12-06 15:58] ypshenychka commented on #838
@0crat quality good

[2018-12-06 16:31] 0crat commented on #884
@paulodamaso Job [#884](https://github.com/yegor256/takes/issues/884) is now in scope, role is `DEV`

[2018-12-06 16:34] paulodamaso commented on #838
@rultor release, tag is 1.11.4

[2018-12-06 16:36] rultor commented on #838
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16795-444937023)

[2018-12-06 16:39] rultor commented on #838
@jimkast @paulodamaso Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16795-444937023) (spent 2min)

[code]

[2018-12-06 16:42] 0crat commented on #838
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-06 16:43] 0crat commented on #838
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-12-06 16:43] 0crat commented on #838
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-06 16:44] paulodamaso commented on #838
@rultor release, tag 1.11.4

[2018-12-06 16:46] rultor commented on #838
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16795-444940959)

[2018-12-06 16:49] rultor commented on #838
@jimkast @paulodamaso Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16795-444940959) (spent 2min)

[code]

[2018-12-06 16:51] paulodamaso commented on #838
@rultor release, tag=`1.11.4`

[2018-12-06 16:53] rultor commented on #838
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16795-444944098)

[2018-12-06 16:53] 0crat commented on #884
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-06 17:01] olenagerasimova commented on #842
@0crat please wait busy on other tasks

[2018-12-06 17:03] 0crat commented on #842
@olenagerasimova Can't understand "please", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign fr

[2018-12-06 17:06] olenagerasimova commented on #842
@0crat wait please busy on other tasks

[2018-12-06 17:08] 0crat commented on #842
@olenagerasimova The impediment for [#842](https://github.com/yegor256/takes/issues/842) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-12-06 17:08] rultor commented on #838
@paulodamaso Done! FYI, the full log is [here](http://www.rultor.com/t/16795-444944098) (took me 13min)

[2018-12-07 11:32] krzyk commented on #876
@0crat waiting for review of PR #885

[2018-12-07 11:33] 0crat commented on #876
@krzyk The impediment for [#876](https://github.com/yegor256/takes/issues/876) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-07 18:35] 0crat commented on #877
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-07 18:35] 0crat commented on #877
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-08 14:39] victornoel commented on #880
@paulodamaso the PR is #886, teamed/qulice#953 was fixed :)

[2018-12-08 14:40] victornoel commented on #882
@0crat waiting for #880 to be closed before handling this issue

[2018-12-08 14:43] 0crat commented on #882
@victornoel The impediment for [#882](https://github.com/yegor256/takes/issues/882) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-09 16:38] 0crat commented on #865
The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#865](https://github.com/yegor256/takes/issues/865), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 16:40] 0crat commented on #865
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @robsonataide[/z](https://www.0crat.com/u/robsonataide)

[2018-12-09 16:45] 0crat commented on #866
The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#866](https://github.com/yegor256/takes/issues/866), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 16:46] 0crat commented on #866
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @robsonataide[/z](https://www.0crat.com/u/robsonataide)

[2018-12-09 16:55] 0crat commented on #577
The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#577](https://github.com/yegor256/takes/issues/577), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 16:55] 0crat commented on #577
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @robsonataide[/z](https://www.0crat.com/u/robsonataide)

[2018-12-10 00:13] 0pdd opened #887 "Body.java:41-45: Make Body extends Cactoos's Input and..."
The puzzle `804-84fdf636` from #804 has to be resolved:

https://github.com/yegor256/takes/blob/1d43de35261ec3d5a3ee11ce6f156e35a752131a/src/main/java/org/takes/rs/Body.java#L41-L45

The puzzle was created by Victor Noël on 24-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _re

[2018-12-10 00:13] 0crat commented on #887
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-10 00:13] 0pdd opened #888 "RsPrint.java:45-53: Continue removing Guava's code from..."
The puzzle `804-1f63803d` from #804 has to be resolved:

https://github.com/yegor256/takes/blob/1d43de35261ec3d5a3ee11ce6f156e35a752131a/src/main/java/org/takes/rs/RsPrint.java#L45-L53

The puzzle was created by Victor Noël on 24-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2018-12-10 00:13] 0pdd opened #889 "Utf8String.java:31-35: Make this implements Cactoos Bytes..."
The puzzle `804-8078cfde` from #804 has to be resolved:

https://github.com/yegor256/takes/blob/1d43de35261ec3d5a3ee11ce6f156e35a752131a/src/main/java/org/takes/misc/Utf8String.java#L31-L35

The puzzle was created by Victor Noël on 24-Nov-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2018-12-10 00:13] 0pdd commented on #804
@aliceice 3 puzzles [#887](https://github.com/yegor256/takes/issues/887), [#888](https://github.com/yegor256/takes/issues/888), [#889](https://github.com/yegor256/takes/issues/889) are still not solved.

[2018-12-10 00:14] 0crat commented on #888
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-10 00:14] 0crat commented on #889
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-10 00:19] 0crat commented on #887
Job [#887](https://github.com/yegor256/takes/issues/887) is now in scope, role is `DEV`

[2018-12-10 00:19] 0crat commented on #888
Job [#888](https://github.com/yegor256/takes/issues/888) is now in scope, role is `DEV`

[2018-12-10 00:19] 0crat commented on #889
Job [#889](https://github.com/yegor256/takes/issues/889) is now in scope, role is `DEV`

[2018-12-11 01:53] paulodamaso commented on #847
@0crat assign @marceloamadeu

[2018-12-11 01:55] 0crat commented on #847
@paulodamaso The job [#847](https://github.com/yegor256/takes/issues/847) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/0bcca144-9586-4c26-befd-d0aa9b78dbb3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2018-12-11 01:55] 0crat commented on #847
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-11 08:21] victornoel commented on #804
@paulodamaso the reporter does not seem to be here anymore, could you close this issue? Thanks :)

[2018-12-11 09:12] olenagerasimova commented on #842
@paulodamaso 2 questions:
- `VelocityContext` ctor's argument in version 2.0 in `Map<String, Object>` instead of `Map<CharSequence, Object>` - so, what should I do? Change ctors signature in `RsVelocity` and `RsVelocity.Pair` or leave them as is and just convert params map before creating `VelocityContext` instance?
- velocity logging is currently disabled by setting `RUNTIME_LOG_LOGSYSTEM` proper

[2018-12-11 10:37] paulodamaso commented on #842
@olenagerasimova Let's do the following:
- I think that you should add a new constructor `Map<String, Object>` that will be called from `Map<CharSequence, Object>`, so we do not break compatibility with older versions
- I don't know, let's enable it and see what happens

[2018-12-11 10:44] 0crat commented on #804
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-11 10:45] 0crat commented on #804
The job [#804](https://github.com/yegor256/takes/issues/804) is now out of scope

[2018-12-11 11:21] olenagerasimova commented on #842
@0crat wait please for PR #891 review/merge

[2018-12-11 11:23] 0crat commented on #842
@olenagerasimova Job [#842](https://github.com/yegor256/takes/issues/842) is already on hold

[2018-12-11 13:21] ypshenychka commented on #804
@0crat quality good

[2018-12-12 01:03] paulodamaso opened #893 "Make tests OO"
Right now we are using a lot of static matchers from hamcrest. Let's make those tests more object-oriented. See https://github.com/yegor256/cactoos/issues/588 , where this was applied to cactoos project.

[2018-12-12 01:30] 0crat commented on #893
@paulodamaso Job [#893](https://github.com/yegor256/takes/issues/893) is now in scope, role is `DEV`

[2018-12-12 01:30] paulodamaso commented on #893
@0crat assign @marceloamadeu

[2018-12-12 01:41] 0crat commented on #893
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.39.6](https://github.com/zerocracy/farm): CID: [d4286ab9-e35d-4cbb-857a-be32f05f5f95](https://www.0crat.com/footprint/C3FFK3YAY/d4286ab9-e35d-4cbb-857a-be32f05f5f95), Type: "Send zold"

[2018-12-12 01:41] 0crat commented on #893
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-12 01:44] 0crat commented on #893
@paulodamaso The job [#893](https://github.com/yegor256/takes/issues/893) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/3acef4f6-2180-4264-9386-874233d96c3f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2018-12-12 01:50] 0crat commented on #893
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-12 12:04] #881 closed

[2018-12-12 12:04] 0pdd commented on #881
The puzzle `837-e35739d6` has disappeared from the source code, that's why I closed this issue.

[2018-12-12 12:04] 0pdd commented on #837
@krzyk 2 puzzles [#880](https://github.com/yegor256/takes/issues/880), [#882](https://github.com/yegor256/takes/issues/882) are still not solved; solved: [#881](https://github.com/yegor256/takes/issues/881).

[2018-12-12 12:21] 0crat commented on #881
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-12 12:21] 0crat commented on #881
The job [#881](https://github.com/yegor256/takes/issues/881) is now out of scope

[2018-12-12 19:50] #880 closed

[2018-12-12 19:50] 0pdd commented on #880
The puzzle `837-241b1372` has disappeared from the source code, that's why I closed this issue.

[2018-12-12 19:50] 0pdd opened #894 "pom.xml:100-105: Once Cactoos is updated to qulice..."
The puzzle `880-4ac1935a` from #880 has to be resolved:

https://github.com/yegor256/takes/blob/cd1e411441fe5408fb938eb3fc08de2a5287caca/pom.xml#L100-L105

The puzzle was created by Victor Noël on 11-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code

[2018-12-12 19:50] 0pdd commented on #837
@krzyk 2 puzzles [#882](https://github.com/yegor256/takes/issues/882), [#894](https://github.com/yegor256/takes/issues/894) are still not solved; solved: [#880](https://github.com/yegor256/takes/issues/880), [#881](https://github.com/yegor256/takes/issues/881).

[2018-12-12 19:50] 0pdd commented on #880
@0pdd the puzzle [#894](https://github.com/yegor256/takes/issues/894) is still not solved.

[2018-12-12 19:51] 0crat commented on #894
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-12 19:59] olenagerasimova commented on #842
@esteveboix we migrated to velocity 2.0 in #891, so could you please close this issue?

[2018-12-12 20:10] 0crat commented on #880
The job [#880](https://github.com/yegor256/takes/issues/880) is now out of scope

[2018-12-12 20:48] krzyk commented on #876
@victornoel Fix has been merged in #885, please close this issue

[2018-12-12 20:49] esteveboix commented on #842
Closing issue. Thanks a lot for your help!

[2018-12-12 20:49] #842 closed

[2018-12-12 20:50] victornoel commented on #876
@krzyk thanks!

[2018-12-12 20:50] #876 closed

[2018-12-12 21:12] 0crat commented on #842
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-12 21:12] 0crat commented on #876
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-12 21:12] 0crat commented on #842
The job [#842](https://github.com/yegor256/takes/issues/842) is now out of scope

[2018-12-12 21:13] 0crat commented on #876
The job [#876](https://github.com/yegor256/takes/issues/876) is now out of scope

[2018-12-12 21:19] ypshenychka commented on #881
@0crat quality good

[2018-12-12 21:31] ypshenychka commented on #880
@0crat quality good

[2018-12-12 21:33] ypshenychka commented on #842
@0crat quality good

[2018-12-12 21:34] ypshenychka commented on #876
@0crat quality good

[2018-12-12 21:50] 0crat commented on #880
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 21:50] 0crat commented on #880
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 21:51] 0crat commented on #880
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-12 21:51] 0crat commented on #880
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-12 21:51] 0crat commented on #842
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 21:51] 0crat commented on #842
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 21:51] 0crat commented on #876
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 21:52] 0crat commented on #876
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 21:52] 0crat commented on #880
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-12 21:52] 0crat commented on #842
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-12-12 21:52] 0crat commented on #842
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-12 21:52] 0crat commented on #876
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-12 21:52] 0crat commented on #876
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-13 11:13] krzyk commented on #876
@paulodamaso error with funds here? If the estimate was when the project had funds it should pay them also after completion.

[2018-12-13 12:33] paulodamaso commented on #876
@krzyk Looks like QA and REV jobs does not enter on estimates. But in this case I think that you've been assigned before we ran out of funds.

[2018-12-13 13:56] krzyk commented on #876
@paulodamaso OK, I assume so

[2018-12-13 13:57] paulodamaso commented on #876
@krzyk Have you been paid for this one?

[2018-12-13 14:01] krzyk commented on #876
@paulodamaso I don't know :)
The only way to check that is to look at the user page, but 0crat did patyment already, and in paypal comment there is no mention of the issue number :(

[2018-12-13 16:47] paulodamaso commented on #872
@yegor256 ping

[2018-12-13 22:45] 0crat commented on #682
Job [#682](https://github.com/yegor256/takes/issues/682) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't retrieve data and time of add

[2018-12-13 22:45] 0crat commented on #682
Job [#682](https://github.com/yegor256/takes/issues/682) is not in the agenda of @g4s8[/z](https://www.0crat.com/u/g4s8), can't inspect

[2018-12-13 22:45] 0crat commented on #682
The job [#682](https://github.com/yegor256/takes/issues/682) is now out of scope

[2018-12-14 13:16] 0pdd opened #895 "CcStrictTest.java:42-46: replace all org.junit.Test..."
The puzzle `877-052482c8` from #877 has to be resolved:

https://github.com/yegor256/takes/blob/bdec6c9601b2e13c16633669525e9dde8958bbf5/src/test/java/org/takes/facets/auth/codecs/CcStrictTest.java#L42-L46

The puzzle was created by oridan on 14-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2018-12-14 13:17] 0pdd commented on #877
@krzyk the puzzle [#895](https://github.com/yegor256/takes/issues/895) is still not solved.

[2018-12-14 13:18] 0crat commented on #895
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-14 13:45] krzyk commented on #877
@oridan almost, but junit-platform-surefire-provider and the other dependency in surefire/failsafe is not needed since surefire/failsafe version 2.22.0 AFAIR

[2018-12-14 16:33] oridan commented on #877
@0crat wait for PR #896 be merged.

[2018-12-14 16:34] 0crat commented on #877
@oridan The impediment for [#877](https://github.com/yegor256/takes/issues/877) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2018-12-15 11:52] ypshenychka commented on #682
@0crat status

[2018-12-15 11:54] 0crat commented on #682
@ypshenychka This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#682](https://github.com/yegor256/takes/issues/682) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 2days
  * @g4s8[/z](https://www.0crat.com/u/g4s8) will rec

[2018-12-15 11:57] ypshenychka commented on #682
@0crat quality good

[2018-12-15 12:03] 0crat commented on #682
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-15 12:03] 0crat commented on #682
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-15 12:03] 0crat commented on #682
Order was finished, quality is "good": +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-15 12:03] 0crat commented on #682
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-15 21:34] krzyk commented on #863
@0crat wait I'm busy with other tasks

[2018-12-15 21:35] krzyk commented on #788
@0crat wait I'm busy with other tasks

[2018-12-15 21:38] 0crat commented on #863
@krzyk The impediment for [#863](https://github.com/yegor256/takes/issues/863) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-15 21:40] 0crat commented on #788
@krzyk The impediment for [#788](https://github.com/yegor256/takes/issues/788) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-16 16:09] oridan commented on #877
@krzyk please close this issue.

[2018-12-16 19:39] krzyk commented on #877
@oridan thanks

[2018-12-16 19:39] #877 closed

[2018-12-16 19:57] 0crat commented on #877
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-16 19:57] 0crat commented on #877
The job [#877](https://github.com/yegor256/takes/issues/877) is now out of scope

[2018-12-17 10:16] ypshenychka commented on #877
@oridan According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add link to this issue into all related commits.

[2018-12-17 12:19] oridan commented on #877
@ypshenychka ok, just added.

[2018-12-17 12:22] ypshenychka commented on #877
@oridan Did you? I don't see links in most of the commits [here](https://github.com/yegor256/takes/pull/892/commits) and [here](https://github.com/yegor256/takes/pull/896/commits)

[2018-12-17 21:16] ypshenychka commented on #877
@oridan Valid point. Then let's leave them as they are now. But please confirm you'll try to follow this rule next time.

[2018-12-18 02:33] fabriciofx opened #898 "Let's create performance tests"
Let's create some performance tests so them can be useful to compare Takes performance with others web servers like undertow, jetty, vert.x and etc., as can be viewed [here](https://dzone.com/articles/benchmarking-high-concurrency-http-servers-on-the)

[2018-12-18 02:33] 0crat commented on #898
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-18 02:33] 0crat commented on #898
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 02:38] fabriciofx opened #899 "Let's submit Takes to TechEmpower evaluation"
[TechEmpower](https://www.techempower.com/benchmarks/) maintains a list of several web frameworks benchmarks. So, it's interesting submit Takes there to:
1. Give us visibility around others web frameworks
2. Compare Takes performance around others web frameworks

[2018-12-18 02:38] 0crat commented on #899
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-18 02:38] 0crat commented on #899
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 02:57] fabriciofx opened #900 "Let's add asynchronous support to Takes"
Let's add asynchronous support to Takes so it will be more performatic.

[2018-12-18 02:57] 0crat commented on #900
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-18 02:57] 0crat commented on #900
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 03:16] fabriciofx opened #901 "Let's move all Codecs do Cactoos and use them from there"
Takes [codecs](https://github.com/yegor256/takes/tree/master/src/main/java/org/takes/facets/auth/codecs) are more related to Cactoos scope than Takes. So, let's move them to Cactoos and use from it, becasue Takes already depends of Cactoos. It's a good idea because:
1. It will eliminate code duplication (Hex and Base64 codes already there are in Cactoos)
2. It will improve Cactoos features (more c

[2018-12-18 03:16] 0crat commented on #901
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-18 03:16] 0crat commented on #901
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 03:44] fabriciofx opened #902 "Let's remove all transient keyword"
Although `transient` keyword was requestered to removed (#707) still there are some spread around the code. So, let's remove them too.

[2018-12-18 03:45] 0crat commented on #902
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-18 03:45] 0crat commented on #902
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 10:40] paulodamaso commented on #901
@yegor256 What do y9ou think about it?

[2018-12-18 11:07] oridan commented on #877
@ypshenychka I'll follow this rule next time.

[2018-12-18 11:08] ypshenychka commented on #877
@oridan thanks

[2018-12-18 11:08] ypshenychka commented on #877
@0crat quality acceptable

[2018-12-18 11:13] 0crat commented on #877
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-18 11:15] 0crat commented on #877
Order was finished, quality is "acceptable": +30 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-12-18 11:15] 0crat commented on #877
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-18 11:53] paulodamaso commented on #802
@0crat assign marceloamadeu

[2018-12-18 11:53] paulodamaso commented on #802
@0crat assign @marceloamadeu

[2018-12-18 19:11] Iprogrammerr opened #904 "Utf8InputStreamReader/Utf8OutputStreamWriter have wrong names"
Proper object name should say what object is representing, not what it [does]( https://www.yegor256.com/2015/03/09/objects-end-with-er.html). These two classes need refactoring.

[2018-12-18 19:13] 0crat commented on #904
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-18 19:13] 0crat commented on #904
@iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 19:22] 0crat commented on #802
@paulodamaso The job [#802](https://github.com/yegor256/takes/issues/802) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/66e7df43-cc7c-4c0c-b601-9b17e25786bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2018-12-19 18:55] olenagerasimova commented on #869
@0crat refuse

[2018-12-19 18:56] 0crat commented on #869
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#869](https://github.com/yegor256/takes/issues/869), please stop working. Reason for job resignation: Order was cancelled

[2018-12-19 18:56] 0crat commented on #869
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2018-12-21 02:04] 0crat commented on #847
The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#847](https://github.com/yegor256/takes/issues/847), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-21 02:04] 0crat commented on #847
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2018-12-21 02:21] marceloamadeu commented on #893
@0crat wait

[2018-12-21 02:21] 0crat commented on #893
@marceloamadeu The impediment for [#893](https://github.com/yegor256/takes/issues/893) was registered successfully by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2018-12-21 18:42] fabriciofx opened #905 "Remove lombok annotations"
Takes is a true object-oriented and immutable Java8 web development framework (from the README), but to a true OO system, [annotations are evil](https://www.yegor256.com/2016/04/12/java-annotations-are-evil.html). So, let's remove all lombok annotations as `@EqualsAndHashCode`.

[2018-12-21 18:42] 0crat commented on #905
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-21 18:42] 0crat commented on #905
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-21 19:18] neonailol commented on #787
@paulodamaso is, this issue no longer actual

[2018-12-21 19:52] paulodamaso commented on #787
@neonailol thanks

[2018-12-21 19:52] #787 closed

[2018-12-21 20:02] #889 closed

[2018-12-21 20:02] 0pdd commented on #889
The puzzle `804-8078cfde` has disappeared from the source code, that's why I closed this issue.

[2018-12-21 20:02] 0pdd commented on #804
@aliceice 2 puzzles [#887](https://github.com/yegor256/takes/issues/887), [#888](https://github.com/yegor256/takes/issues/888) are still not solved; solved: [#889](https://github.com/yegor256/takes/issues/889).

[2018-12-21 20:17] 0crat commented on #787
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @neonailol[/z](https://www.0crat.com/u/neonailol), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-21 20:19] 0crat commented on #787
The job [#787](https://github.com/yegor256/takes/issues/787) is now out of scope

[2018-12-21 20:20] 0crat commented on #889
Job `gh:yegor256/takes#889` is not assigned, can't get performer

[2018-12-21 20:20] 0crat commented on #889
The job [#889](https://github.com/yegor256/takes/issues/889) is now out of scope

[2018-12-21 20:40] fabriciofx opened #906 "Update Paulo Lobo as ARC/DEV in pom.xml"
Let's update info in `pom.xml` with @paulodamaso as ARC/DEV in Takes.

[2018-12-21 20:40] 0crat commented on #906
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-21 20:40] 0crat commented on #906
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-22 04:38] ypshenychka commented on #787
@0crat quality good

[2018-12-22 04:45] 0crat commented on #787
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-22 04:46] 0crat commented on #787
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-22 04:46] 0crat commented on #787
Order was finished, quality is "good": +35 point(s) just awarded to @neonailol[/z](https://www.0crat.com/u/neonailol)

[2018-12-22 04:46] 0crat commented on #787
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-23 11:51] victornoel commented on #882
@0crat refuse

[2018-12-23 11:51] 0crat commented on #882
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#882](https://github.com/yegor256/takes/issues/882), please stop working. Reason for job resignation: Order was cancelled

[2018-12-23 11:52] 0crat commented on #882
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-23 13:39] paulodamaso commented on #865
@0crat assign fabriciofx

[2018-12-23 13:40] paulodamaso commented on #866
@0crat assign @fabriciofx

[2018-12-23 13:43] paulodamaso commented on #882
@0crat assign @fabriciofx

[2018-12-23 13:45] 0crat commented on #865
@paulodamaso The job [#865](https://github.com/yegor256/takes/issues/865) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/704f3163-9f55-4d48-a507-6812e2102028); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-23 13:45] 0crat commented on #866
@paulodamaso The job [#866](https://github.com/yegor256/takes/issues/866) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/d1e25650-92c4-4e1b-8abb-55a1c7b94619); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-23 13:46] 0crat commented on #865
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-23 13:46] 0crat commented on #866
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-23 13:46] 0crat commented on #882
@paulodamaso The job [#882](https://github.com/yegor256/takes/issues/882) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2f3c9ce2-368e-4987-95aa-4f3478e249b6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-23 13:46] 0crat commented on #882
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-23 14:34] krzyk opened #909 "Update qulice version to >= 0.18.8"
There were few changes between 0.18.2 and 0.18.8 that should help especially with JUnit 5 integration, so after the upgrade remove all excludes of:
- PMD ExcessiveImports
- PMD DefaultPackage
- checkstyle JavadocMethodCheck/JavadocMethod

And also make sure all JUnit 5 tests use default package scope for both classes and methods.

[2018-12-23 14:35] 0crat commented on #909
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-23 21:04] fabriciofx opened #910 "Typo at name tag in pom.xml"
There's a typo at `name` tag in `pom.xml` file. Instead of `<name>take</name>` should be `<name>takes</name>`.

[2018-12-23 21:04] 0crat commented on #910
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-24 00:19] fabriciofx opened #911 "There are some classes not closed to inheritance (final)"
The classes `PsAll`, `TkMethods`, `RsFailure`, `Transform`, `Utf8InputStreamReader`, `Utf8InputStreamWriter`, `Utf8PrintStream`, `RqSimple` and `RsSimple` aren't close to inheritance (`final` keyword). So, following the EO principles, they should be.

[2018-12-24 00:19] 0crat commented on #911
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-24 00:21] fabriciofx opened #912 "All *Wrap classes should be abstract"
All *Wrap classes are some kind of [Decorating Envelopes](https://www.yegor256.com/2017/01/31/decorating-envelopes.html), and should be `abstract`, according to EO principles.

[2018-12-24 15:57] fabriciofx opened #914 "jacoco: update and configure it properly"
Jacoco is a great tool to check code coverage *before* submit a PR. So, let's update the `jacoco-maven-plugin` and configure it properly, because it's better to DEV check if the new code will pass the converage check *before* submit its PR.

[2018-12-24 15:57] 0crat commented on #914
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-24 17:55] fabriciofx opened #915 "Are *Wrap classes just Decorating Envelopes? If yes, let's rename and adjust them"
I think all `*Wrap` are just [decorating envelopes](https://www.yegor256.com/2017/01/31/decorating-envelopes.html). So, let's renaming them properly and change them (if necessary) to work exactly as a decorating envelopes.

[2018-12-24 17:55] 0crat commented on #915
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-25 15:04] yegor256 commented on #872
@piotrkot @paulodamaso I think we should continue using `IOException`

[2018-12-25 16:04] yegor256 commented on #901
@fabriciofx @paulodamaso I agree, let's do this

[2018-12-26 03:59] fabriciofx opened #916 "Remove mockito from all tests"
Although have been several efforts in replace mockito for [fake objects](https://www.yegor256.com/2014/09/23/built-in-fake-objects.html) still there're a lot of mockito use in tests. So, let's change them to remove mockito completly.

[2018-12-26 03:59] 0crat commented on #916
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-26 15:26] 0pdd opened #917 "FkHitRefresh.java:48-49: Continue removing nulls from the..."
The puzzle `863-4448a93c` from #863 has to be resolved:

https://github.com/yegor256/takes/blob/c8ee2a34b4483d707b1bcecac8b667ca204fafc5/src/main/java/org/takes/facets/fork/FkHitRefresh.java#L48-L49

The puzzle was created by @rultor on 26-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the

[2018-12-26 15:33] 0crat commented on #917
Job [#917](https://github.com/yegor256/takes/issues/917) is now in scope, role is `DEV`

[2018-12-26 16:52] #882 closed

[2018-12-26 16:52] 0pdd commented on #882
The puzzle `837-89c97f66` has disappeared from the source code, that's why I closed this issue.

[2018-12-26 16:52] 0pdd commented on #837
@krzyk the puzzle [#894](https://github.com/yegor256/takes/issues/894) is still not solved; solved: [#880](https://github.com/yegor256/takes/issues/880), [#881](https://github.com/yegor256/takes/issues/881), [#882](https://github.com/yegor256/takes/issues/882).

[2018-12-26 17:10] 0crat commented on #882
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-26 17:10] 0crat commented on #882
The job [#882](https://github.com/yegor256/takes/issues/882) is now out of scope

[2018-12-26 18:55] piotrkot commented on #872
First of all, Merry Christmas and Happy New Year to everyone! :)

@yegor256 Please, explain why you think so.
Let me share some thoughts.
Takes is a web framework. Unlike in libraries, you expect/invite users to put their logic (business logic) into your code skeleton. Here, you want them to make new implementations of `org.takes.Take` interface. I make `Take` implementations that send emails, cal

[2018-12-26 19:33] ypshenychka commented on #882
@0crat quality good

[2018-12-26 19:40] 0crat commented on #882
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-26 19:41] 0crat commented on #882
Order was finished, quality is "good": +35 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-12-26 19:41] 0crat commented on #882
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-26 20:02] krzyk commented on #863
@paulodamaso please close this issue, it has been merged to master in #907

[2018-12-26 20:05] paulodamaso commented on #863
@krzyk Great, thanks!

[2018-12-26 20:05] #863 closed

[2018-12-26 20:53] paulodamaso commented on #847
@0crat assign @fabriciofx

[2018-12-26 20:53] 0crat commented on #847
@paulodamaso The job [#847](https://github.com/yegor256/takes/issues/847) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/ac8206f1-6582-4d43-8d71-845c0c51a69d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2018-12-26 20:54] 0crat commented on #847
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-26 21:33] fabriciofx opened #918 "Remove EqualsVerifier from tests"
There are some tests using EqualsVerifier framework. IMHO, it can be substituted using tools already used, as hamcrest and others.

[2018-12-26 21:33] 0crat commented on #918
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-27 01:18] #847 closed

[2018-12-27 01:20] paulodamaso commented on #847
@fabriciofx  Closed due https://github.com/yegor256/takes/pull/919#issuecomment-450050226

[2018-12-27 01:30] fabriciofx commented on #872
@yegor256 So, why do you allow change `IOException` to `Exception` in Cactoos, even in the `Input` and `Output` interfaces?

[2018-12-27 01:42] 0crat commented on #847
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-27 01:42] 0crat commented on #847
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-27 01:42] 0crat commented on #847
The job [#847](https://github.com/yegor256/takes/issues/847) is now out of scope

[2018-12-27 05:46] yegor256 commented on #872
@piotrkot @fabriciofx OK, OK, you got me. I agree, let's do `throws Exception`.

[2018-12-27 08:41] ypshenychka commented on #863
@0crat quality good

[2018-12-27 08:49] 0crat commented on #863
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-27 08:49] 0crat commented on #863
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-27 08:50] 0crat commented on #863
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-27 08:50] 0crat commented on #863
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-27 08:53] ypshenychka commented on #847
@fabriciofx According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to corresponding PR (e.g. by mentioning this issue in PR's description)

[2018-12-27 14:34] skapral commented on #872
@yegor256 @piotrkot @fabriciofx @paulodamaso

As an author of the post, mentioned in this discussion, let me bring up my point of view on this.

I strongly disagree with this statement:

Actually, it completely doesn't matter whether your exceptions are checked or unchecked - you will still be blind to potential failures. Because the fact that some method is annotated with `throws Exception` won't

[2018-12-27 19:08] krzyk commented on #788
@simonjenga ping

[2018-12-27 19:34] piotrkot commented on #872
@skapral The issue here is about something else. However, as you were mentioned, I personally don't mind to discuss a bit more for clarity. (If you want to remove all checked exceptions from Takes, you would have to open a new issue).

`throws` keyword declares an exception. It gives an information to the programmer that there may occur an exception and it must be handled. This information is quit

[2018-12-27 22:01] fabriciofx commented on #872
@yegor256 @piotrkot @paulodamaso @skapral As you show us your point of view, let me show mine. I think there are two main points: what is an *expected error* and an *unexpected error*. What's is an *expected error*? It's something you know *normal* to fail, like validate a Social Security Number. Somebody can inform some wrong number, it's normal and happens all the time. Is *expected* to happens.

[2018-12-27 23:02] skapral commented on #872
@piotrkot well, I just saw three options enumerated [here](https://github.com/yegor256/takes/issues/872#issuecomment-442686454) and one unreasonable concern about my favorite one, that's why I interrupted.

I will make a separate issue, okay.

[2018-12-27 23:12] fabriciofx commented on #872
@yegor256 @piotrkot @paulodamaso @skapral

A plus: a [James Gosling interview](https://vimeo.com/235817012) where the first question (3:18) is about *checked exceptions*.

[2018-12-27 23:40] skapral opened #920 "Eliminate all checked exceptions from the project."
First of all, to exclude any of future misunderstandings: I know about Elegant Objects and its principles and embrace most of them. Part about [checked exceptions](https://www.yegor256.com/2015/07/28/checked-vs-unchecked-exceptions.html) is a thing that I strongly propose to reconsider.

See [this](https://pragmaticobjects.com/chapters/001_checked_exceptions.html) post for information on how check

[2018-12-27 23:40] 0crat commented on #920
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-27 23:40] 0crat commented on #920
@skapral[/z](https://www.0crat.com/u/skapral) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-28 12:58] marceloamadeu commented on #802
@0crat wait

[2018-12-28 12:59] 0crat commented on #802
@marceloamadeu The impediment for [#802](https://github.com/yegor256/takes/issues/802) was registered successfully by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2018-12-28 14:10] fabriciofx commented on #847
@ypshenychka I've edited my comment in the PR as you can see [here](https://github.com/yegor256/takes/pull/919#issue-241051959). Could you check if everything fine now? Thanks!

[2018-12-28 14:20] ypshenychka commented on #847
@fabriciofx Thanks

[2018-12-28 14:20] ypshenychka commented on #847
@0crat quality acceptable

[2018-12-28 16:38] victornoel commented on #920
See also yegor256/cactoos#944

[2018-12-28 22:22] paulodamaso opened #921 "Release 1.13"

[2018-12-28 22:36] paulodamaso commented on #921
@rultor release, tag is `1.13`

[2018-12-28 22:37] rultor commented on #921
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17091-450438008)

[2018-12-28 22:53] rultor commented on #921
@paulodamaso Done! FYI, the full log is [here](http://www.rultor.com/t/17091-450438008) (took me 15min)

[2018-12-29 14:18] simonjenga commented on #788
@krzyk OK :+1:

[2018-12-29 14:18] #788 closed

[2018-12-29 14:41] 0crat commented on #788
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @krzyk[/z](https://www.0crat.com/u/krzyk), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-29 14:43] 0crat commented on #788
The job [#788](https://github.com/yegor256/takes/issues/788) is now out of scope

[2018-12-29 22:34] 0crat commented on #788
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-29 22:34] 0crat commented on #788
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-29 22:34] 0crat commented on #788
Order was finished, quality is "good": +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-29 22:34] 0crat commented on #788
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-31 14:32] fabriciofx opened #923 "Classes names inconsistency"
@yegor256 @paulodamaso
In takes, we've a class name inconsistency. Let's take as example some `Base` classes. We've `RqFormBase` and `RqFormBase`. On the other hand, we've `RqCookies.Base`, `RqHeaders.Base`, `RqHref.Base`, `RqMethod.Base`, `RqRequestLine.Base`. This problem is similar to this [one](https://github.com/yegor256/cactoos/issues/852). My suggestion is extract **all** classes inside int

[2018-12-31 14:32] 0crat commented on #923
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-31 14:45] fabriciofx opened #924 "Change classes prefix names to interface names"
@yegor256
What do you think to review your decision [here](https://github.com/yegor256/takes/issues/34)? In Cactoos, all classes use the complete interface name in their names. I think welcome maintain the same naming pattern. It'll improve the usage of all ecosystem.

[2018-12-31 14:45] 0crat commented on #924
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-01 16:03] fabriciofx opened #925 "Let's update Copyright notice to 2019"
Let's update Copyright notice to 2019.

[2019-01-01 16:03] 0crat commented on #925
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-02 13:44] 0crat commented on #865
The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#865](https://github.com/yegor256/takes/issues/865), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-02 13:44] 0crat commented on #865
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-02 13:44] 0crat commented on #866
The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#866](https://github.com/yegor256/takes/issues/866), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-02 13:45] 0crat commented on #866
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-02 14:36] #921 closed

[2019-01-02 14:45] fabriciofx opened #926 "Get a header from a response"
Let's implement a way to get a header from a `Response` (the same way that can be done in a `Request`), for example, something like: `new RsHeaders(this.responde).header(key)`. As suggestion, this implementation can be called `RsHeaders`.

[2019-01-02 14:45] 0crat commented on #926
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-02 14:51] 0crat commented on #921
Job `gh:yegor256/takes#921` is not assigned, can't get performer

[2019-01-02 14:52] 0crat commented on #921
This job is not in scope

[2019-01-02 17:04] nebuxadnezzar opened #927 "Chunked data transfer"
I am considering to use this framework to send large amounts of JSON data as stream. For that I would need to be able to have access to socket's output stream object to write data and data chunk terminators. So far I didn't find any simple methods to do that. Should I use Response to access Body and access output stream from Body? In that case when I return Response it will be at the and of the st

[2019-01-02 17:05] 0crat commented on #927
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-02 17:05] 0crat commented on #927
@nebuxadnezzar[/z](https://www.0crat.com/u/nebuxadnezzar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-02 17:21] fabriciofx opened #928 "Two Body interfaces"
There're two `Body` interfaces in Takes: `org.takes.Body` and `org.takes.rs.Body`. Both do almost the same thing and I think two interfaces with the same name and at the same context bad for usability. So, I sugest rename `org.takes.rs.Body`.

[2019-01-02 17:21] 0crat commented on #928
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-02 17:23] fabriciofx commented on #925
Let's wait for [zold-io/java-api#87](https://github.com/zold-io/java-api/issues/87).

[2019-01-02 17:39] paulodamaso commented on #866
@0crat assign @fabriciofx

[2019-01-02 17:40] paulodamaso commented on #865
@0crat assign @fabriciofx

[2019-01-02 17:45] 0crat commented on #866
@paulodamaso The job [#866](https://github.com/yegor256/takes/issues/866) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/a749ab49-cf4f-4d58-a3fe-57d1a43fc3bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-02 17:45] 0crat commented on #865
@paulodamaso The job [#865](https://github.com/yegor256/takes/issues/865) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/f3865734-f9c8-4b24-a51b-aad00280ea1d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-02 17:46] 0crat commented on #866
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-02 17:46] 0crat commented on #865
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-02 21:27] fabriciofx opened #929 "Response and Request are the same thing"
`Response` and `Request` are the same thing. Both are just interfaces that extends `Head` and `Body` interfaces. My suggestion is delete them and create a unique concept: `Message` and it will replace `Request` and `Response` over all code. This will simplify the code *a lot* because we won't need two versions of the same concept.

[2019-01-03 04:52] fabriciofx commented on #865
@g4s8 Besides unit tests for `RqFrom`, `ResponseOf` and `SrvTake` which others requirements do you think important to finish the servlet integration?

[2019-01-03 07:09] g4s8 commented on #865
@fabriciofx I think we can add servlet session to takes identity mapping

[2019-01-03 10:22] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/ac8ecdef-1128-4c32-834c-f3b6bd99ab8a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-03 10:22] 0crat commented on #869
Job `gh:yegor256/takes#869` already assigned to @fabriciofx, can't assign to @fabriciofx

[2019-01-04 01:33] eljames opened #933 "Cache-control for static contents"
Does Takes have a cache-control implementation, when the browser does not need to download a content already cached? As far as I know, the webserver sends a cache-control information to the browser about the content. If the content is expired, the browser download it again.
If I weren't clear, I will explain again. Thanks.

[2019-01-04 01:33] 0crat commented on #933
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-04 01:33] 0crat commented on #933
@eljames[/z](https://www.0crat.com/u/eljames) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-04 11:17] paulodamaso commented on #917
@0crat status

[2019-01-04 11:18] 0crat commented on #917
@paulodamaso This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#917](https://github.com/yegor256/takes/issues/917) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-01-04 16:04] 0pdd commented on #802
The puzzle `744-7f6a14c2` has disappeared from the source code, that's why I closed this issue.

[2019-01-04 16:04] #802 closed

[2019-01-04 16:04] 0pdd opened #935 "FkHitRefresh.java:237-240: Continue removing nulls from..."
The puzzle `802-a1804963` from #802 has to be resolved:

https://github.com/yegor256/takes/blob/b9f248eb586b768198598120e4ae3ee4c5770e8b/src/main/java/org/takes/facets/fork/FkHitRefresh.java#L237-L240

The puzzle was created by marceloamadeu on 04-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-01-04 16:04] 0pdd commented on #744
@skapral the puzzle [#935](https://github.com/yegor256/takes/issues/935) is still not solved; solved: [#802](https://github.com/yegor256/takes/issues/802).

[2019-01-04 16:04] 0pdd commented on #802
@0pdd the puzzle [#935](https://github.com/yegor256/takes/issues/935) is still not solved.

[2019-01-04 16:05] 0crat commented on #935
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-04 16:10] 0crat commented on #935
Job [#935](https://github.com/yegor256/takes/issues/935) is now in scope, role is `DEV`

[2019-01-04 16:21] 0crat commented on #802
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-04 16:21] 0crat commented on #802
The job [#802](https://github.com/yegor256/takes/issues/802) is now out of scope

[2019-01-04 18:16] fabriciofx commented on #869
@0crat wait for [jcabi-http#177](https://github.com/jcabi/jcabi-http/issues/177) to be resolved.

[2019-01-04 18:17] 0crat commented on #869
@fabriciofx The impediment for [#869](https://github.com/yegor256/takes/issues/869) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-07 06:07] FDU-SE-LAB opened #937 "Your project yegor256/takes is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 06:07] 0crat commented on #937
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-07 06:07] 0crat commented on #937
@fdu-se-lab[/z](https://www.0crat.com/u/fdu-se-lab) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-07 18:06] marceloamadeu commented on #802
@ypshenychka I did not have time to solve it and it took me a long time. I will do my best to prevent this from happening again.

[2019-01-07 21:17] ypshenychka commented on #802
@marceloamadeu Thanks. Next time please provide the reason when saying "wait" to 0crat.

[2019-01-07 21:17] ypshenychka commented on #802
@0crat quality acceptable

[2019-01-11 15:29] 0pdd opened #938 "RqFrom.java:39-41: Servlet request adapter is not..."
The puzzle `866-ccba7032` from #866 has to be resolved:

https://github.com/yegor256/takes/blob/7b495e78044afbecd2e17d09f5b5e4560de450f1/src/main/java/org/takes/servlet/RqFrom.java#L39-L41

The puzzle was created by @rultor on 11-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-01-11 15:36] 0crat commented on #938
Job [#938](https://github.com/yegor256/takes/issues/938) is now in scope, role is `DEV`

[2019-01-11 15:50] 0crat commented on #866
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-11 15:53] 0crat commented on #866
The job [#866](https://github.com/yegor256/takes/issues/866) is now out of scope

[2019-01-11 16:00] ypshenychka commented on #866
@0crat quality good

[2019-01-11 16:05] 0crat commented on #866
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-11 16:15] 0crat commented on #866
Order was finished, quality is "good": +35 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-11 16:18] 0crat commented on #866
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-11 18:08] paulodamaso commented on #925
@0crat in

[2019-01-11 18:09] 0crat commented on #925
@paulodamaso Job [#925](https://github.com/yegor256/takes/issues/925) is now in scope, role is `DEV`

[2019-01-11 18:12] paulodamaso commented on #925
@0crat assign me

[2019-01-11 18:19] 0crat commented on #925
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-11 18:22] 0crat commented on #925
@paulodamaso @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#925](https://github.com/yegor256/takes/issues/925), see [§21](http://www.zerocracy.com/policy.html#21); @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-11 18:23] 0crat commented on #925
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-12 06:37] fabriciofx commented on #865
@0crat wait for REV.

[2019-01-12 06:43] 0crat commented on #865
@fabriciofx The impediment for [#865](https://github.com/yegor256/takes/issues/865) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-15 16:07] 0crat commented on #887
The job [#887](https://github.com/yegor256/takes/issues/887) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/fcb3fae3-fba0-4d03-8475-797e6bf57f35); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-15 16:09] 0crat commented on #577
The job [#577](https://github.com/yegor256/takes/issues/577) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/c6866acc-d4a5-41c1-b978-d5a5f006bf28); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-15 21:35] Serranya opened #943 "Fix jacoco goal in for travisCI"
TravisCI [currently shows the following warning](https://travis-ci.org/yegor256/takes/builds/480092388):

[code]

The jacoco profile should either exist, or be removed from the argline.

[2019-01-15 21:35] 0crat commented on #943
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-15 22:47] fabriciofx opened #944 "Replace all uses of MatcherAssert.assertThat()"
Let's replace the `MatcherAsssert.assertThat()` in favor of `Assertion` (cactoos-matchers).

[2019-01-15 22:47] 0crat commented on #944
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-15 22:58] paulodamaso commented on #944
@fabriciofx Good idea, let's make these tests even more OO

[2019-01-15 22:59] paulodamaso commented on #944
@0crat in

[2019-01-15 23:00] 0crat commented on #943
Job [#943](https://github.com/yegor256/takes/issues/943) is now in scope, role is `DEV`

[2019-01-15 23:09] fabriciofx commented on #944
@paulodamaso Thanks!

[2019-01-15 23:15] 0crat commented on #944
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-16 04:12] fabriciofx opened #945 "Move all classes inside interfaces to outside"
Let's move all classes inside interfaces to outside. For example, `RqHeaders.Base`. We should extract the class `Base` to outside, renaming it to ´RqHeadersBase`. Reasons:
- It will simplify the interfaces a lot
- It will separate interfaces and interfaces
- It will standardize all classes names, avoiding "dot" in the middle of name
- Cactoos project already doing it

[2019-01-16 04:12] 0crat commented on #945
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-16 04:14] paul-hammant opened #946 "Would you consider snipping the SLF4J usage?"
You correctly bash static public, but have a dep on SLF4J which is static logging.  It'd be great to see something that was more call-back centric and injected via constructor(s). One implementation could be SLF4J, sure, but some of us could do our own thing, and leave that dep out of our deployments :)

[2019-01-16 04:14] 0crat commented on #946
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-16 04:14] 0crat commented on #946
@paul-hammant[/z](https://www.0crat.com/u/paul-hammant) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-16 16:48] 0pdd opened #948 "HmBodyTest.java:96-99: Continue removing static class..."
The puzzle `893-3412ae8c` from #893 has to be resolved:

https://github.com/yegor256/takes/blob/8b068621f157ff283a44f5c4b44d34e9bf74072c/src/test/java/org/takes/facets/hamcrest/HmBodyTest.java#L96-L99

The puzzle was created by @rultor on 16-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2019-01-16 16:48] 0pdd commented on #893
@paulodamaso the puzzle [#948](https://github.com/yegor256/takes/issues/948) is still not solved.

[2019-01-16 16:48] 0crat commented on #948
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-16 16:56] 0crat commented on #948
Job [#948](https://github.com/yegor256/takes/issues/948) is now in scope, role is `DEV`

[2019-01-16 19:57] marceloamadeu commented on #893
@0crat status

[2019-01-16 19:58] 0crat commented on #893
@marceloamadeu This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#893](https://github.com/yegor256/takes/issues/893) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [1mo

[2019-01-16 22:49] 0crat commented on #935
Job `gh:yegor256/takes#935` is not assigned, can't get performer

[2019-01-16 22:51] 0crat commented on #935
The job [#935](https://github.com/yegor256/takes/issues/935) is now out of scope

[2019-01-17 16:36] paulodamaso commented on #872
@yegor256 Do we have a final decision on this according to EO beliefs and your PO needs?

[2019-01-17 16:39] paulodamaso commented on #905
@yegor256 What are your opinion about this? Personally I'm against the usage of such franeworks as `Lombok`, so I agree with this one, WDYT?

[2019-01-17 16:40] piotrkot commented on #872
@paulodamaso I believe it's clearly stated [here](https://github.com/yegor256/takes/issues/872#issuecomment-450079802)

[2019-01-17 16:40] paulodamaso commented on #775
@yegor256 Do you think that this is a valuable feature?

[2019-01-17 16:42] paulodamaso commented on #406
@0crat in

[2019-01-17 16:43] paulodamaso commented on #899
@yegor256 I agree, WDYT?

[2019-01-17 16:44] paulodamaso commented on #902
@0crat in

[2019-01-17 16:46] piotrkot commented on #775
@yegor256 @paulodamaso FYI I managed without this feature.

[2019-01-17 16:50] 0crat commented on #406
@paulodamaso Job [#406](https://github.com/yegor256/takes/issues/406) is now in scope, role is `DEV`

[2019-01-17 16:53] 0crat commented on #902
@paulodamaso Job [#902](https://github.com/yegor256/takes/issues/902) is now in scope, role is `DEV`

[2019-01-17 16:56] 0crat commented on #406
@paulodamaso The job [#406](https://github.com/yegor256/takes/issues/406) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/1c0ad311-015a-48ef-b758-66aefaebd3d1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-01-17 16:58] paulodamaso commented on #915
@fabriciofx Yes, they're decorating envelopes, so what changes are you proposing exactly?

[2019-01-17 16:59] #925 closed

[2019-01-17 17:01] paulodamaso commented on #918
@yegor256 I agree, I think that we should depend a little as possible of non-elegant frameworks. WDYT?

[2019-01-17 17:01] 0crat commented on #904
Job [#904](https://github.com/yegor256/takes/issues/904) is now in scope, role is `DEV`

[2019-01-17 17:03] 0crat commented on #406
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-17 17:04] 0crat commented on #902
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-17 17:05] 0crat commented on #911
Job [#911](https://github.com/yegor256/takes/issues/911) is now in scope, role is `DEV`

[2019-01-17 17:14] 0crat commented on #904
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-01-17 17:19] 0crat commented on #911
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-17 17:20] 0crat commented on #925
Job [#925](https://github.com/yegor256/takes/issues/925) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't retrieve data and time of add

[2019-01-17 17:24] 0crat commented on #925
The job [#925](https://github.com/yegor256/takes/issues/925) is now out of scope

[2019-01-17 17:33] paulodamaso commented on #775
@piotrkot So if it's not needed anymore please close the issue

[2019-01-17 17:35] #775 closed

[2019-01-17 17:53] 0crat commented on #775
Job `gh:yegor256/takes#775` is not assigned, can't get performer

[2019-01-17 17:53] 0crat commented on #775
This job is not in scope

[2019-01-18 04:46] fabriciofx commented on #872
@paulodamaso @yegor256 @skapral just for record: I've changed my mind about checked exceptions. So I think the best solution is remove the checked exceptions and use only runtime exceptions.

[2019-01-18 04:50] fabriciofx commented on #915
@paulodamaso the idea is rename all `*Wrap* classes to use the same naming as Cactoos: Envelope. So, for example, `TkWrap` will becomes `TkEnvelope` and will be abstract class too.

[2019-01-18 20:06] fabriciofx opened #949 "Replace use of "@Rule ExpectedException" with new Throws matcher introduced in cactoos-matchers 0.13"
Let's update do cactoos-matchers 0.13. This update is necessary to use Throws class to avoid exception rule at tests.

[2019-01-18 20:06] 0crat commented on #949
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-19 01:06] 0pdd commented on #804
@aliceice the puzzle [#888](https://github.com/yegor256/takes/issues/888) is still not solved; solved: [#887](https://github.com/yegor256/takes/issues/887), [#889](https://github.com/yegor256/takes/issues/889).

[2019-01-19 11:37] Serranya commented on #887
@paulodamaso 0crat is having a problem with the order because it was not closed by 0pdd.

[2019-01-19 13:13] paulodamaso commented on #887
@

[2019-01-19 13:13] #887 closed

[2019-01-19 13:13] 0crat commented on #887
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-19 13:32] 0crat commented on #887
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.7](https://github.com/zerocracy/farm): CID: [43a64dc6-a15c-4d64-a4cd-7920c3d2a040](https://www.0crat.com/footprint/C3FFK3YAY/43a64dc6-a15c-4d64-a4cd-7920c3d2a040), Type: "Close job"

[2019-01-19 13:33] 0crat commented on #887
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-19 13:35] 0crat commented on #887
The job [#887](https://github.com/yegor256/takes/issues/887) is now out of scope

[2019-01-19 19:12] ypshenychka commented on #887
@Serranya According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Your commits don't contain link to issue. Please confirm you'll try to follow this rule in future.

[2019-01-19 19:47] Serranya commented on #887
@ypshenychka Will do. I mistakingly thought it's enough to link from the PR to the issue.

[2019-01-20 00:01] 0pdd opened #950 "RqMtFakeTest.java:368-372: The test below fails with the..."
The puzzle `577-dcc6f7a1` from #577 has to be resolved:

https://github.com/yegor256/takes/blob/d5f747d2586acc328d5a427599bc8eeb6e26253c/src/test/java/org/takes/rq/multipart/RqMtFakeTest.java#L368-L372

The puzzle was created by @rultor on 19-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2019-01-20 00:01] 0pdd commented on #577
@jhyle the puzzle [#950](https://github.com/yegor256/takes/issues/950) is still not solved.

[2019-01-20 00:01] 0crat commented on #950
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-20 00:08] 0crat commented on #950
Job [#950](https://github.com/yegor256/takes/issues/950) is now in scope, role is `DEV`

[2019-01-20 07:20] ypshenychka commented on #887
@Serranya thanks

[2019-01-20 07:20] ypshenychka commented on #887
@0crat quality acceptable

[2019-01-20 10:17] Serranya commented on #577
@jhyle I added an Test that repduces the issue in https://github.com/yegor256/takes/pull/947. Actually fixing the issue is tracked in https://github.com/yegor256/takes/issues/950. Please close this issue so that only https://github.com/yegor256/takes/issues/950 is open.

[2019-01-20 13:45] Serranya commented on #577
@0crat wait for an answer from @jhyle

[2019-01-20 13:47] 0crat commented on #577
@Serranya The impediment for [#577](https://github.com/yegor256/takes/issues/577) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2019-01-21 19:32] paulodamaso opened #951 "Release 1.15"
Release of tag 1.15

[2019-01-21 19:32] paulodamaso commented on #951
@rultor release tag is `1.15`

[2019-01-21 19:34] rultor commented on #951
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17463-456178835)

[2019-01-21 19:50] rultor commented on #951
@paulodamaso Done! FYI, the full log is [here](http://www.rultor.com/t/17463-456178835) (took me 15min)

[2019-01-22 16:46] marceloamadeu commented on #893
@paulodamaso Done!

[2019-01-22 16:50] paulodamaso commented on #893
@marceloamadeu thanks!

[2019-01-22 16:50] #893 closed

[2019-01-22 17:09] paulodamaso commented on #893
@0crat status

[2019-01-22 17:19] 0crat commented on #893
@paulodamaso This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#893](https://github.com/yegor256/takes/issues/893) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [1mon]

[2019-01-22 17:22] g4s8 opened #952 "RsEmpty status should be 204 not 200"
Empty success response should have the status `204 NoContent` according to https://tools.ietf.org/html/rfc7230 see "3.3.  Message Body" section

   responses do not include a message body.  All other responses do
   include a message body, although the body might be of zero length.

so it would be more logical to use 204 status for `RsEmpty` and use `200` status as default only in `RsWithBody`.

[2019-01-22 17:22] 0crat commented on #952
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-22 17:54] 0crat commented on #952
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-24 11:16] ypshenychka commented on #893
@marceloamadeu ping

[2019-01-24 12:54] marceloamadeu commented on #893
@ypshenychka Confirmed.

[2019-01-24 13:43] marceloamadeu commented on #893
@ypshenychka I am still adapting the way I work and so I asked for more time to complete the task. I will try to do it as soon as possible in the next tasks.

[2019-01-24 13:43] marceloamadeu commented on #893
@ypshenychka ping

[2019-01-24 13:50] ypshenychka commented on #893
@marceloamadeu Then please edit your "wait" comment to contain more details (e.g. "wait. Need more time for investigation") or anything that is applicable to your specific situation, to explain, why you suspended 10 days rule

[2019-01-24 14:00] marceloamadeu commented on #893
@ypshenychka ping

[2019-01-24 14:10] ypshenychka commented on #893
@marceloamadeu thanks

[2019-01-24 14:10] ypshenychka commented on #893
@0crat quality acceptable

[2019-01-24 14:20] 0crat commented on #893
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-24 14:21] 0crat commented on #893
Order was finished, quality is "acceptable": +30 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-01-24 14:21] 0crat commented on #893
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-24 15:49] fabriciofx commented on #869
@0crat refuse

[2019-01-24 16:07] 0crat commented on #869
@fabriciofx The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#869](https://github.com/yegor256/takes/issues/869), please stop working. Reason for job resignation: Order was cancelled

[2019-01-24 16:09] 0crat commented on #869
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-24 16:48] #865 closed

[2019-01-24 16:48] 0pdd commented on #865
The puzzle `682-74f1da61` has disappeared from the source code, that's why I closed this issue.

[2019-01-24 16:48] #938 closed

[2019-01-24 16:49] 0pdd commented on #938
The puzzle `866-ccba7032` has disappeared from the source code, that's why I closed this issue.

[2019-01-24 16:49] 0pdd opened #953 "SrvTake.java:42-44: Continue to integrate with Servlet..."
The puzzle `865-bfce408b` from #865 has to be resolved:

https://github.com/yegor256/takes/blob/afd95b0d5c40d0c40ad0fcfa9b21998268a37b87/src/main/java/org/takes/servlet/SrvTake.java#L42-L44

The puzzle was created by Fabricio Cabral on 24-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-01-24 16:49] 0pdd commented on #682
@mgenov the puzzle [#953](https://github.com/yegor256/takes/issues/953) is still not solved; solved: [#865](https://github.com/yegor256/takes/issues/865), [#866](https://github.com/yegor256/takes/issues/866), [#938](https://github.com/yegor256/takes/issues/938).

[2019-01-24 16:49] 0pdd commented on #865
@0pdd the puzzle [#953](https://github.com/yegor256/takes/issues/953) is still not solved.

[2019-01-24 16:49] 0pdd commented on #866
@0pdd the only puzzle [#938](https://github.com/yegor256/takes/issues/938) is solved here.

[2019-01-24 16:50] 0crat commented on #953
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-24 17:20] 0crat commented on #953
Job [#953](https://github.com/yegor256/takes/issues/953) is now in scope, role is `DEV`

[2019-01-24 17:31] 0crat commented on #938
The job [#938](https://github.com/yegor256/takes/issues/938) is now out of scope

[2019-01-24 17:34] 0crat commented on #865
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 17:42] 0crat commented on #865
The job [#865](https://github.com/yegor256/takes/issues/865) is now out of scope

[2019-01-24 18:49] fabriciofx commented on #953
@paulodamaso assigne to me

[2019-01-24 18:50] paulodamaso commented on #953
@0crat assign @fabriciofx

[2019-01-24 18:54] 0crat commented on #953
@paulodamaso The job [#953](https://github.com/yegor256/takes/issues/953) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/ab1db2e4-acb3-4c04-8303-7eafa380aa40); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-24 18:55] 0crat commented on #953
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-24 20:37] ypshenychka commented on #865
@0crat quality good

[2019-01-24 20:50] 0crat commented on #865
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-24 20:52] 0crat commented on #865
Order was finished, quality is "good": +35 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-24 20:52] 0crat commented on #865
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-25 10:50] #951 closed

[2019-01-25 10:51] paulodamaso commented on #898
@fabriciofx That's a good idea, do you know some way to automate these tests?

[2019-01-25 11:08] 0crat commented on #951
Job `gh:yegor256/takes#951` is not assigned, can't get performer

[2019-01-25 11:09] 0crat commented on #951
This job is not in scope

[2019-01-25 18:56] fabriciofx commented on #898
@paulodamaso I think we can use something like `JMeter`. It runs programmatically and has a maven plugin. More details [here](https://stackoverflow.com/questions/19147235/how-to-create-and-run-apache-jmeter-test-scripts-from-a-java-program) and [here](https://www.blazemeter.com/blog/5-ways-launch-jmeter-test-without-using-jmeter-gui).

[2019-01-25 19:33] #953 closed

[2019-01-25 19:33] 0pdd commented on #953
The puzzle `865-bfce408b` has disappeared from the source code, that's why I closed this issue.

[2019-01-25 19:33] 0pdd opened #955 "SrvTake.java:42-45: Integration with Servlets Session..."
The puzzle `953-05f5c26f` from #953 has to be resolved:

https://github.com/yegor256/takes/blob/a5a6af3e3bb0790f76ae8329e0dd87ff997a8c35/src/main/java/org/takes/servlet/SrvTake.java#L42-L45

The puzzle was created by Fabricio Cabral on 25-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2019-01-25 19:33] 0pdd commented on #682
@mgenov the puzzle [#955](https://github.com/yegor256/takes/issues/955) is still not solved; solved: [#865](https://github.com/yegor256/takes/issues/865), [#866](https://github.com/yegor256/takes/issues/866), [#938](https://github.com/yegor256/takes/issues/938), [#953](https://github.com/yegor256/takes/issues/953).

[2019-01-25 19:33] 0pdd commented on #865
@0pdd the puzzle [#955](https://github.com/yegor256/takes/issues/955) is still not solved; solved: [#953](https://github.com/yegor256/takes/issues/953).

[2019-01-25 19:33] 0pdd commented on #953
@0pdd the puzzle [#955](https://github.com/yegor256/takes/issues/955) is still not solved.

[2019-01-25 19:34] 0crat commented on #955
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-25 19:40] 0crat commented on #955
Job [#955](https://github.com/yegor256/takes/issues/955) is now in scope, role is `DEV`

[2019-01-25 19:46] fabriciofx commented on #955
@paulodamaso assign me

[2019-01-25 19:51] paulodamaso commented on #955
@0crat assign @fabriciofx

[2019-01-25 19:55] 0crat commented on #953
Job was finished in 24 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-25 19:57] 0crat commented on #953
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-25 19:59] 0crat commented on #953
The job [#953](https://github.com/yegor256/takes/issues/953) is now out of scope

[2019-01-25 20:03] 0crat commented on #955
@paulodamaso The job [#955](https://github.com/yegor256/takes/issues/955) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/22c6703e-a73b-4dae-a3e5-12706961f220); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-25 20:08] 0crat commented on #955
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-26 09:37] ypshenychka commented on #953
@0crat quality good

[2019-01-26 12:45] paulodamaso commented on #406
@0crat resign

[2019-01-26 12:47] 0crat commented on #406
@paulodamaso The user @yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#406](https://github.com/yegor256/takes/issues/406), please stop working. Reason for job resignation: Order was cancelled

[2019-01-26 18:52] fabriciofx opened #957 "Update PR guidelines in PULL_REQUEST_TEMPLATE"
Cactoos project [updated PR guidelines](https://github.com/yegor256/cactoos/commit/b8bf44e4ddbe0b5a9b13e006208327358931c0cd) and I think it would be nice if we do that too. The new rules are:

- You made changes related to only one bug (create separate PRs for separate problems, or leave puzzles)
- You ran the build locally and it passed
- Title begins with the issue's number, then a short title
-

[2019-01-26 18:52] 0crat commented on #957
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-26 19:40] paulodamaso commented on #957
@0crat in

[2019-01-26 19:49] 0crat commented on #957
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-28 07:39] Serranya commented on #577
@paulodamaso Hi, @jhyle did not answer in the last 8 days. Can you please close the issue?

[2019-01-28 10:31] paulodamaso commented on #577
@Serranya Thanks!

[2019-01-28 10:31] #577 closed

[2019-01-28 11:09] 0crat commented on #577
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-28 11:11] 0crat commented on #577
The job [#577](https://github.com/yegor256/takes/issues/577) is now out of scope

[2019-01-28 11:22] ypshenychka commented on #577
@0crat quality good

[2019-01-28 12:01] 0crat commented on #577
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-28 12:06] 0crat commented on #577
Order was finished, quality is "good": +35 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-01-28 12:06] 0crat commented on #577
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-28 12:09] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/a3011296-bea7-45f5-b20d-8a84a5c74be3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-28 12:11] 0crat commented on #869
Job `gh:yegor256/takes#869` already assigned to @serranya, can't assign to @serranya

[2019-01-28 12:21] Serranya commented on #869
@0crat wait for https://github.com/jcabi/jcabi-http/issues/177

[2019-01-28 12:22] 0crat commented on #869
@Serranya The impediment for [#869](https://github.com/yegor256/takes/issues/869) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2019-01-28 16:19] yegor256 commented on #899
@paulodamaso totally, let's do this

[2019-01-28 16:31] paulodamaso commented on #899
@0crat in

[2019-01-28 16:32] 0crat commented on #899
@paulodamaso Job [#899](https://github.com/yegor256/takes/issues/899) is now in scope, role is `DEV`

[2019-01-28 16:35] paulodamaso commented on #899
@0crat assign me

[2019-01-28 16:39] 0crat commented on #899
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-28 16:45] 0crat commented on #899
@paulodamaso @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#899](https://github.com/yegor256/takes/issues/899), see [§21](http://www.zerocracy.com/policy.html#21); @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-01-28 16:45] 0crat commented on #899
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-28 16:54] fabriciofx opened #958 "Update jcabi-parent to 1.0-SNAPSHOT (solves xcop issue)"
Let's update to new jcabi version (1.0-SNAPSHOT) because this new version solves xcop issue on windows.

[2019-01-28 16:54] 0crat commented on #958
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-28 17:13] yegor256 commented on #918
@paulodamaso I agree, let's get rid of that

[2019-01-28 17:17] yegor256 commented on #905
@paulodamaso I agree, let's get rid of Lombok

[2019-01-28 17:43] 0crat commented on #918
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-31 16:15] 0crat commented on #884
The job [#884](https://github.com/yegor256/takes/issues/884) assigned to @danilomo[/z](https://www.0crat.com/u/danilomo), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/d6e8228f-53f7-4d2b-9428-344e4084c6b5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-02 16:05] fabriciofx opened #959 "Update to cactoos 0.39"
Let's update to `cactoos` version `0.39`. This update brings many important corrections and improvements.

[2019-02-02 16:05] 0crat commented on #959
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-02-05 11:50] 0crat commented on #888
The job [#888](https://github.com/yegor256/takes/issues/888) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/7b30e10b-42ff-440a-8df5-9279892fe6ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-05 11:52] 0crat commented on #888
Job `gh:yegor256/takes#888` already assigned to @serranya, can't assign to @serranya

[2019-02-06 17:03] 0crat commented on #895
The job [#895](https://github.com/yegor256/takes/issues/895) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/b92283da-e5d9-4862-82f8-f37e0fe0e25f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-02-07 23:45] 0crat commented on #406
The job [#406](https://github.com/yegor256/takes/issues/406) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/34b1adb4-2139-41cf-be6a-9246d7fcf379); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-02-08 00:07] 0crat commented on #917
The job [#917](https://github.com/yegor256/takes/issues/917) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/c9229de4-abb0-4cc5-836f-6887683d1541); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-02-09 02:39] fabriciofx commented on #955
@0crat wait for REV.

[2019-02-09 02:51] 0crat commented on #955
@fabriciofx The impediment for [#955](https://github.com/yegor256/takes/issues/955) was registered successfully by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-02-10 03:58] marceloamadeu commented on #917
@0crat status

[2019-02-10 04:12] 0crat commented on #917
@marceloamadeu This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#917](https://github.com/yegor256/takes/issues/917) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [2da

[2019-02-10 12:25] Serranya commented on #888
@0crat wait for code review on #960

[2019-02-10 12:26] 0crat commented on #888
@Serranya The impediment for [#888](https://github.com/yegor256/takes/issues/888) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2019-02-10 12:53] paulodamaso commented on #917
@0crat assign @Iprogrammerr

[2019-02-10 12:55] 0crat commented on #917
@paulodamaso The job [#917](https://github.com/yegor256/takes/issues/917) assigned to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/fd191436-06cf-45ce-8d4e-1e6dd7332113); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-02-10 12:56] paulodamaso commented on #917
@marceloamadeu I'm taking this task of you because @Iprogrammerr already resolved it but pdd did not closed it

[2019-02-10 12:56] #917 closed

[2019-02-10 12:58] 0crat commented on #917
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-10 13:05] 0crat commented on #943
The job [#943](https://github.com/yegor256/takes/issues/943) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/f2e7aa51-7a94-4bd6-afe1-46099cf6615f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-02-10 13:14] 0crat commented on #917
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-10 13:16] 0crat commented on #917
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-10 13:18] 0crat commented on #917
The job [#917](https://github.com/yegor256/takes/issues/917) is now out of scope

[2019-02-10 13:30] ypshenychka commented on #917
@0crat quality good

[2019-02-10 13:42] 0crat commented on #917
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-10 13:44] 0crat commented on #917
Order was finished, quality is "good": +40 point(s) just awarded to @iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr)

[2019-02-10 13:44] 0crat commented on #917
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-10 16:27] 0crat commented on #948
The job [#948](https://github.com/yegor256/takes/issues/948) assigned to @danilomo[/z](https://www.0crat.com/u/danilomo), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/7bbd4389-ea2b-4fe4-83b6-bd7779785d6a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-11 13:20] marceloamadeu commented on #895
@0crat status

[2019-02-11 13:29] 0crat commented on #895
@marceloamadeu This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#895](https://github.com/yegor256/takes/issues/895) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [5da

[2019-02-11 13:51] marceloamadeu commented on #406
@0crat refuse

[2019-02-11 13:53] 0crat commented on #406
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#406](https://github.com/yegor256/takes/issues/406), please stop working. Reason for job resignation: Order was cancelled

[2019-02-11 13:53] 0crat commented on #406
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-11 13:58] 0crat commented on #944
The job [#944](https://github.com/yegor256/takes/issues/944) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/b0cddc0f-2b97-4e30-82ad-15e90399c92c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-02-12 11:23] piotrkot commented on #872
@paulodamaso Can I help you? I can create a PR with code changed to "throws Exception".

[2019-02-12 11:40] paulodamaso commented on #872
@yegor256 Do we have a final decision on this according to EO beliefs and your PO needs? We had some new arguments since your last veredict.

[2019-02-12 23:10] marceloamadeu commented on #943
@0crat refuse

[2019-02-12 23:11] 0crat commented on #943
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#943](https://github.com/yegor256/takes/issues/943), please stop working. Reason for job resignation: Order was cancelled

[2019-02-12 23:11] 0crat commented on #943
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-12 23:20] 0crat commented on #950
The job [#950](https://github.com/yegor256/takes/issues/950) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/29bf7b6c-cbcb-43c9-bdcb-348b21058395); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-02-13 13:59] 0crat commented on #943
The job [#943](https://github.com/yegor256/takes/issues/943) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/fb6ac035-a1a2-4464-a662-e280ce8bc66c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-02-13 14:12] 0crat commented on #406
The job [#406](https://github.com/yegor256/takes/issues/406) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/77862a4a-9c5b-4283-bc79-7283dda9f810); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-02-13 14:21] 0crat commented on #902
The job [#902](https://github.com/yegor256/takes/issues/902) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/d1ac20b4-8f7f-42a2-ac58-85139c0fcbd0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-02-13 19:49] g4s8 opened #965 "Non-blocking Front and Back without threads"
It's possible to handle multiple requests in one server threads using java.nio package using `java.nio.Selector` and `java.nio.channels.ServerSocketChannel` and then submit the data for processing to fixed-size thread pool of workers. The benefit here is in memory consumption on high-load - server will be able to process hundreds of thousand requests without producing a thread for each request (ht

[2019-02-13 19:49] 0crat commented on #965
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-02-20 01:06] marceloamadeu commented on #895
@paulodamaso please take a look at this

[2019-02-20 01:07] marceloamadeu commented on #895
@paulodamaso please take a look at this

[2019-02-20 20:10] marceloamadeu commented on #950
@0crat refuse

[2019-02-20 20:13] 0crat commented on #950
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#950](https://github.com/yegor256/takes/issues/950), please stop working. Reason for job resignation: Order was cancelled

[2019-02-20 20:21] 0crat commented on #950
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-02-21 16:48] Serranya commented on #869
@0crat refuse

[2019-02-21 16:57] 0pdd commented on #888
The puzzle `804-1f63803d` has disappeared from the source code, that's why I closed this issue.

[2019-02-21 16:57] #888 closed

[2019-02-21 16:58] 0pdd opened #968 "RsPrint.java:45-53: Continue removing Guava's code from..."
The puzzle `888-1f63803d` from #888 has to be resolved:

https://github.com/yegor256/takes/blob/c7adbfeabfe484f8ce850e07c075b1fdde5ab149/src/main/java/org/takes/rs/RsPrint.java#L45-L53

The puzzle was created by @rultor on 21-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _rem

[2019-02-21 16:58] 0pdd commented on #804
@aliceice the puzzle [#968](https://github.com/yegor256/takes/issues/968) is still not solved; solved: [#887](https://github.com/yegor256/takes/issues/887), [#888](https://github.com/yegor256/takes/issues/888), [#889](https://github.com/yegor256/takes/issues/889).

[2019-02-21 16:58] 0pdd commented on #888
@0pdd the puzzle [#968](https://github.com/yegor256/takes/issues/968) is still not solved.

[2019-02-21 17:28] 0crat commented on #869
@Serranya The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#869](https://github.com/yegor256/takes/issues/869), please stop working. Reason for job resignation: Order was cancelled

[2019-02-21 17:43] 0crat commented on #904
The job [#904](https://github.com/yegor256/takes/issues/904) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/4c75055c-f079-4572-8800-590efc5b9509); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-21 17:59] 0crat commented on #968
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-02-21 17:59] 0crat commented on #968
Job [#968](https://github.com/yegor256/takes/issues/968) is now in scope, role is `DEV`

[2019-02-21 18:17] 0crat commented on #888
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-21 18:19] 0crat commented on #888
The job [#888](https://github.com/yegor256/takes/issues/888) is now out of scope

[2019-02-21 18:53] 0crat commented on #950
The job [#950](https://github.com/yegor256/takes/issues/950) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/3f88705a-1b0e-4447-b868-d25c68136e11); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-21 18:58] 0crat commented on #950
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.42.1](https://github.com/zerocracy/farm): CID: [35dd9ed3-3e9d-48ad-ab37-3c077176b198](https://www.0crat.com/footprint/C3FFK3YAY/35dd9ed3-3e9d-48ad-ab37-3c077176b198), Type: "Agenda was updated"

[2019-02-21 21:35] oridan commented on #902
@0crat wait review of PR #964

[2019-02-21 21:45] 0crat commented on #902
@oridan The impediment for [#902](https://github.com/yegor256/takes/issues/902) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2019-02-21 21:46] oridan commented on #943
@0crat wait review of PR #967

[2019-02-21 21:47] ypshenychka commented on #888
@0crat quality good

[2019-02-21 21:47] 0crat commented on #943
@oridan The impediment for [#943](https://github.com/yegor256/takes/issues/943) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2019-02-21 21:56] 0crat commented on #888
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-21 21:57] 0crat commented on #888
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-21 21:58] 0crat commented on #888
Order was finished, quality is "good": +35 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-02-21 22:04] 0crat commented on #911
The job [#911](https://github.com/yegor256/takes/issues/911) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/01808984-542e-469d-b29f-7be6bcb35d80); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-21 22:08] 0crat commented on #952
The job [#952](https://github.com/yegor256/takes/issues/952) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/79ab85d4-3423-4c7a-bbc1-b9b95b8ddb88); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-02-22 07:55] Serranya commented on #904
@Iprogrammerr So what is your suggestion? How shold the classes be named in your opinion?

@paulodamaso My suggestion is to keep the klasses as they are. They implement the `InputStreamReader`/`OutputStreamWriter` interfaces from the jdk. I think in this case it's reasonable to follow the namingscheme that's already given and that we can't change.

[2019-02-23 02:13] oridan commented on #406
@0crat wait

[2019-02-23 02:14] 0crat commented on #406
@oridan The impediment for [#406](https://github.com/yegor256/takes/issues/406) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2019-02-23 22:07] danilomo commented on #948
@0crat wait

[2019-02-23 22:07] danilomo commented on #884
@0crat wait

[2019-02-23 22:07] 0crat commented on #948
@danilomo The impediment for [#948](https://github.com/yegor256/takes/issues/948) was registered successfully by @danilomo[/z](https://www.0crat.com/u/danilomo)

[2019-02-24 13:15] oridan commented on #902
@fabriciofx please close this issue.

[2019-02-27 11:25] oridan commented on #902
@0crat status

[2019-02-27 11:30] 0crat commented on #902
@oridan This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#902](https://github.com/yegor256/takes/issues/902) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @oridan[/z](https://www.0crat.com/u/oridan) for [14days](http://www.zeroc

[2019-02-27 20:19] Serranya commented on #911
@fabriciofx With #969 merged can this be closed?

[2019-02-27 20:26] paulodamaso commented on #911
@Serranya I'll close it, thanks for the resolution

[2019-02-27 20:26] #911 closed

[2019-02-27 20:46] 0crat commented on #911
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 20:46] 0crat commented on #911
Job [#911](https://github.com/yegor256/takes/issues/911) is not in the agenda of @serranya[/z](https://www.0crat.com/u/serranya), can't inspect

[2019-02-27 20:47] 0crat commented on #911
The job [#911](https://github.com/yegor256/takes/issues/911) is now out of scope

[2019-02-27 20:56] ypshenychka commented on #911
@0crat quality good

[2019-02-27 21:01] 0crat commented on #911
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-27 21:03] 0crat commented on #911
Order was finished, quality is "good": +35 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-02-27 21:03] 0crat commented on #911
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-27 22:32] paulodamaso commented on #902
@oridan thanks

[2019-02-27 22:32] #902 closed

[2019-02-27 22:53] 0crat commented on #902
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-27 22:53] 0crat commented on #902
The job [#902](https://github.com/yegor256/takes/issues/902) is now out of scope

[2019-02-28 04:26] ypshenychka commented on #902
@0crat quality good

[2019-02-28 04:41] 0crat commented on #902
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-28 04:41] 0crat commented on #902
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-28 04:41] 0crat commented on #902
Order was finished, quality is "good": +35 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2019-02-28 06:55] Serranya commented on #904
@0crat wait for feedback on https://github.com/yegor256/takes/issues/904#issuecomment-466307495

[2019-02-28 06:56] Serranya commented on #952
@0crat wait for Review on #971

[2019-02-28 06:58] 0crat commented on #904
@Serranya The impediment for [#904](https://github.com/yegor256/takes/issues/904) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2019-02-28 07:03] 0crat commented on #952
@Serranya The impediment for [#952](https://github.com/yegor256/takes/issues/952) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2019-02-28 11:57] oridan commented on #406
@yegor256 please, close this issue.

[2019-03-01 11:02] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/3c1a30a9-8535-4a98-ad24-d6e7204040a7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-01 11:12] marceloamadeu commented on #944
@0crat status

[2019-03-01 11:12] marceloamadeu commented on #895
@0crat status

[2019-03-01 11:28] 0crat commented on #944
@marceloamadeu This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#944](https://github.com/yegor256/takes/issues/944) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [18d

[2019-03-01 11:28] 0crat commented on #895
@marceloamadeu This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#895](https://github.com/yegor256/takes/issues/895) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [23d

[2019-03-01 11:42] 0crat commented on #957
The job [#957](https://github.com/yegor256/takes/issues/957) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/dad6ff61-718d-4382-9706-a64e36bbb9af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-01 11:52] 0crat commented on #968
The job [#968](https://github.com/yegor256/takes/issues/968) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/1fbb3845-42fe-43c8-9413-aacd8349ae50); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-03 02:53] oridan commented on #943
@Serranya please, close this issue.

[2019-03-03 10:12] Serranya commented on #943
The fix looks good :)

[2019-03-03 10:12] #943 closed

[2019-03-03 10:35] 0crat commented on #943
Job [#943](https://github.com/yegor256/takes/issues/943) is not in the agenda of @oridan[/z](https://www.0crat.com/u/oridan), can't inspect

[2019-03-03 10:35] 0crat commented on #943
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-03 10:36] 0crat commented on #943
The job [#943](https://github.com/yegor256/takes/issues/943) is now out of scope

[2019-03-03 19:41] ypshenychka commented on #943
@Serranya According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/yegor256/takes/issues/943#issuecomment-469008228) by indicating an addressee in the beginning.

[2019-03-03 21:24] Serranya commented on #943
@ypshenychka fixed. I will try to follow the rules the next time.

[2019-03-04 06:04] ypshenychka commented on #943
@Serranya thanks

[2019-03-04 06:04] ypshenychka commented on #943
@0crat quality acceptable

[2019-03-04 06:09] 0crat commented on #943
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-03-04 06:11] 0crat commented on #943
Quality review completed: +6 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-04 06:12] 0crat commented on #943
Order was finished, quality is "acceptable": +30 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2019-03-04 21:14] Iprogrammerr commented on #904
@Serranya How about changing both reader and writer to content? Then both of these classes are representing content of Utf8Streams. First of them is readable and second writable.

[2019-03-04 22:30] lucasmessias9898 commented on #869
@0crat refuse

[2019-03-04 22:32] 0crat commented on #869
@lucasmessias9898 The user @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898) resigned from [#869](https://github.com/yegor256/takes/issues/869), please stop working. Reason for job resignation: Order was cancelled

[2019-03-04 22:35] 0crat commented on #869
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898)

[2019-03-04 22:47] 0crat commented on #918
The job [#918](https://github.com/yegor256/takes/issues/918) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/e29cf176-3068-4ac9-ad5a-216e9dd40e17); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-04 23:31] lucasmessias9898 commented on #957
@0crat  refuse

[2019-03-04 23:31] lucasmessias9898 commented on #968
@0crat refuse

[2019-03-04 23:34] 0crat commented on #957
@lucasmessias9898 The user @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898) resigned from [#957](https://github.com/yegor256/takes/issues/957), please stop working. Reason for job resignation: Order was cancelled

[2019-03-04 23:34] 0crat commented on #968
@lucasmessias9898 The user @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898) resigned from [#968](https://github.com/yegor256/takes/issues/968), please stop working. Reason for job resignation: Order was cancelled

[2019-03-04 23:34] 0crat commented on #957
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898)

[2019-03-04 23:34] 0crat commented on #968
The job [#968](https://github.com/yegor256/takes/issues/968) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/9ab2a8e9-3026-40ba-a882-c892dd2ef6e5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-04 23:34] 0crat commented on #968
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898)

[2019-03-06 07:48] Serranya commented on #904
@Iprogrammerr Im not sure what you are trying to suggest. Something like
`ReadableUtf8Content` and `WritableUtf8Content`?

[2019-03-06 14:42] Iprogrammerr commented on #904
@Serranya How about Utf8InputStreamContent and Utf8OutputStreamContent?

[2019-03-06 16:15] oridan commented on #406
@0crat status

[2019-03-06 16:21] 0crat commented on #406
@oridan This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#406](https://github.com/yegor256/takes/issues/406) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @oridan[/z](https://www.0crat.com/u/oridan) for [21days](http://www.zeroc

[2019-03-06 17:26] oridan commented on #406
@yegor256 please, close this issue.

[2019-03-07 07:17] Serranya commented on #904
@Iprogrammerr sure. I can do that.

[2019-03-07 11:57] Serranya commented on #904
@0crat wait for review of #972

[2019-03-07 11:58] 0crat commented on #904
@Serranya Job [#904](https://github.com/yegor256/takes/issues/904) is already on hold

[2019-03-11 13:12] oridan commented on #406
@paulodamaso ping

[2019-03-11 14:12] paulodamaso commented on #406
@oridan Thanks!

[2019-03-11 14:12] #406 closed

[2019-03-11 14:50] 0crat commented on #406
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-03-11 14:57] 0crat commented on #406
The job [#406](https://github.com/yegor256/takes/issues/406) is now out of scope

[2019-03-12 16:08] ypshenychka commented on #406
@oridan According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct registered [impediment](https://github.com/yegor256/takes/issues/406#issuecomment-466606581) to include more details.

[2019-03-12 16:13] ypshenychka commented on #406
@oridan According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

None of your commits contains link to issue. Please confirm you'll try to follow this rule next time.

[2019-03-12 20:57] oridan commented on #406
@ypshenychka I'll try to follow this rule next time.

[2019-03-13 10:33] ypshenychka commented on #406
@oridan Also please update your impediment with more details.

[2019-03-13 12:14] oridan commented on #406
@ypshenychka could you please point those impediments that are not clear enough and need more details?

[2019-03-13 12:16] ypshenychka commented on #406
@oridan See my [comment](https://github.com/yegor256/takes/issues/406#issuecomment-472066251) above

[2019-03-13 14:20] oridan commented on #406
@ypshenychka I agree with you, just saying wait to 0crat is not enough, so I just complemented the impediment saying it was about PR #970.

[2019-03-13 19:00] ypshenychka commented on #406
@0crat quality acceptable

[2019-03-13 19:18] 0crat commented on #406
Order was finished, quality is "acceptable": +30 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2019-03-13 19:18] 0crat commented on #406
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-03-13 19:19] 0crat commented on #406
Quality review completed: +4 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-03-19 12:42] Serranya commented on #952
@g4s8 The PR #971 was merged to address this issue. Please close this ticket if the problem is solved to your satisfaction.

[2019-03-19 15:28] g4s8 commented on #952
@Serranya thanks

[2019-03-19 15:28] #952 closed

[2019-03-19 15:52] 0crat commented on #952
The job [#952](https://github.com/yegor256/takes/issues/952) is now out of scope

[2019-03-19 15:55] 0crat commented on #952
Order was finished: +30 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-03-20 06:46] Serranya commented on #950
@0crat refuse

[2019-03-20 06:47] 0crat commented on #950
@Serranya The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#950](https://github.com/yegor256/takes/issues/950), please stop working. Reason for job resignation: Order was cancelled

[2019-03-20 06:48] 0crat commented on #950
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-03-20 06:50] 0crat commented on #950
The job [#950](https://github.com/yegor256/takes/issues/950) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/097b7c07-8df1-4ca6-958c-77cdbbb16fba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-27 23:45] marceloamadeu commented on #895
@0crat refuse

[2019-03-27 23:46] marceloamadeu commented on #944
@0crat refuse

[2019-03-27 23:46] 0crat commented on #895
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#895](https://github.com/yegor256/takes/issues/895), please stop working. Reason for job resignation: Order was cancelled

[2019-03-27 23:47] 0crat commented on #944
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#944](https://github.com/yegor256/takes/issues/944), please stop working. Reason for job resignation: Order was cancelled

[2019-03-27 23:47] 0crat commented on #895
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-03-27 23:47] 0crat commented on #944
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-03-27 23:53] 0crat commented on #895
The job [#895](https://github.com/yegor256/takes/issues/895) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/1b042e14-e560-4385-975d-f23309b94672); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-03-27 23:56] 0crat commented on #944
The job [#944](https://github.com/yegor256/takes/issues/944) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/8b63fe62-18f6-42a0-b734-925bf54f2782); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-03-29 14:28] 0crat commented on #957
The job [#957](https://github.com/yegor256/takes/issues/957) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/3e2e82c0-a77f-4acd-bc63-4c2ac9275511); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-03-30 05:02] paulodamaso commented on #899
@0crat refuse

[2019-03-30 05:02] 0crat commented on #899
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#899](https://github.com/yegor256/takes/issues/899), please stop working. Reason for job resignation: Order was cancelled

[2019-03-30 05:03] 0crat commented on #899
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-02 08:03] Serranya commented on #957
@fabriciofx https://github.com/yegor256/takes/pull/974 is merged. Please close the issue if its addressed to your satisfaction.

[2019-04-02 16:13] paulodamaso commented on #957
@Serranya Thanks!

[2019-04-02 16:13] #957 closed

[2019-04-02 16:31] 0crat commented on #957
Job [#957](https://github.com/yegor256/takes/issues/957) is not in the agenda of @serranya[/z](https://www.0crat.com/u/serranya), can't inspect

[2019-04-02 16:31] 0crat commented on #957
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-02 16:31] 0crat commented on #957
The job [#957](https://github.com/yegor256/takes/issues/957) is now out of scope

[2019-04-02 16:39] sereshqua commented on #957
@0crat quality good

[2019-04-02 16:49] 0crat commented on #957
Order was finished, quality is "good": +35 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-04-02 16:49] 0crat commented on #957
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-04-04 23:47] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/da363e0e-fb15-4f7f-bf63-9731c03d0d76); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-04-04 23:52] 0crat commented on #899
The job [#899](https://github.com/yegor256/takes/issues/899) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/d561bc09-21f7-407c-ae6d-3edbefb01808); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-04-05 14:23] marceloamadeu commented on #899
@0crat refuse

[2019-04-05 14:24] 0crat commented on #899
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#899](https://github.com/yegor256/takes/issues/899), please stop working. Reason for job resignation: Order was cancelled

[2019-04-05 14:24] 0crat commented on #899
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-04-05 14:28] 0crat commented on #899
The job [#899](https://github.com/yegor256/takes/issues/899) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/4d9326d3-ecac-401d-a227-5d9f016bba8b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-04-05 15:46] Serranya commented on #899
@paulodamaso Where should I put the code and the puzzles for this? I think we should implement this in a new repository

[2019-04-08 02:43] marceloamadeu commented on #869
@0crat refuse

[2019-04-08 02:43] 0crat commented on #869
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#869](https://github.com/yegor256/takes/issues/869), please stop working. Reason for job resignation: Order was cancelled

[2019-04-08 02:44] 0crat commented on #869
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-04-08 13:13] Serranya commented on #899
@0crat wait for the response from @paulodamaso

[2019-04-08 13:14] 0crat commented on #899
@Serranya The impediment for [#899](https://github.com/yegor256/takes/issues/899) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2019-04-08 13:24] paulodamaso commented on #899
@Serranya How many fles we will have to create to make this funcionality? I see that we need to implement some tests that will be sent to techempower, but what else? Can you make a rough estimate so we can decide what to do here?

[2019-04-10 18:27] piotrkot commented on #872
@yegor256 ping

[2019-04-14 09:41] sz332 opened #975 "Missing method referenced in documentation"
In the documentation the following snippet is provided for getting the URI based on the request.

[code]

However, the current source code (1.16) does not contain href.uri() method.

[2019-04-14 09:41] 0crat commented on #975
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-04-14 09:41] 0crat commented on #975
@sz332[/z](https://www.0crat.com/u/sz332) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-14 09:51] sz332 commented on #975
Also tried to check the matching unit test (HrefTest) but found no example about how to get the query parameters.

[2019-04-14 10:05] sz332 commented on #975
Until there is a fix in the documentation, this is how I did it.

href.param("filter")

returns an Iterable<String> for filter parameter. However, in our case, the parameters are unique, and if by some reason the user provides multiple parameter with the same name, we will use the first one. So the solution is to convert the Iterable to a stream, get the first result, or if no result is present, r

[2019-04-15 00:18] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) assigned to @protagores[/z](https://www.0crat.com/u/protagores), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/f2b877c5-cede-422c-bb50-3d669a94d2d3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-15 09:43] Protagores commented on #869
@0crat wait for jcabi/jcabi-http#177

[2019-04-15 09:45] 0crat commented on #869
@Protagores The impediment for [#869](https://github.com/yegor256/takes/issues/869) was registered successfully by @protagores[/z](https://www.0crat.com/u/protagores)

[2019-04-15 14:03] paulodamaso commented on #975
@0crat in

[2019-04-15 14:11] 0crat commented on #975
@paulodamaso Job [#975](https://github.com/yegor256/takes/issues/975) is now in scope, role is `DEV`

[2019-04-15 14:13] 0crat commented on #975
@paulodamaso Thanks for your contribution, @sz332[/z](https://www.0crat.com/u/sz332)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-04-15 14:17] 0crat commented on #975
The job [#975](https://github.com/yegor256/takes/issues/975) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/a3df2ebc-612b-4994-a234-cd6b6ae448ce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-17 15:58] Serranya commented on #904
@Iprogrammerr #972 is merged now. Please close this issue if the problem is addressed to your satisfaction.

[2019-04-18 20:29] paulodamaso commented on #408
@bdragan We will get rid of `lombok` in this project (https://github.com/yegor256/takes/issues/408), so this issue became invalid.

[2019-04-18 20:29] #408 closed

[2019-04-18 20:45] 0crat commented on #408
Job `gh:yegor256/takes#408` is not assigned, can't get performer

[2019-04-18 20:45] 0crat commented on #408
This job is not in scope

[2019-04-23 09:09] Serranya commented on #904
@Iprogrammerr ping

[2019-04-23 23:38] fabriciofx opened #976 "Update maven-compiler-plugin and fix bug on it to allow incremental compilation"
Let's update `maven-compiler-plugin` to `3.8.0` version and fix a bug in this plugin which doesn't allow incremental compilation that increase compile and running time. To fix both we need change `pom.xml` to:
[code]
Please, pay attention to `<version>` and `<useIncrementalCompilation>` tag.

[2019-04-23 23:38] 0crat commented on #976
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-04-23 23:38] 0crat commented on #976
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-23 23:40] paulodamaso commented on #976
@fabriciofx good catch let's do it

[2019-04-23 23:40] paulodamaso commented on #976
@0crat in

[2019-04-23 23:41] 0crat commented on #976
@paulodamaso Job [#976](https://github.com/yegor256/takes/issues/976) is now in scope, role is `DEV`

[2019-04-23 23:45] fabriciofx commented on #976
@paulodamaso For more details: https://stackoverflow.com/a/19653164

[2019-04-23 23:50] 0crat commented on #976
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-04-24 19:26] fabriciofx commented on #958
@paulodamaso Can you check it, please?

[2019-04-24 19:28] paulodamaso commented on #958
@0crat in

[2019-04-24 19:28] 0crat commented on #958
@paulodamaso Job [#958](https://github.com/yegor256/takes/issues/958) is now in scope, role is `DEV`

[2019-04-24 19:35] 0crat commented on #958
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-04-25 01:24] 0crat commented on #976
The job [#976](https://github.com/yegor256/takes/issues/976) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/8b85d0a9-e6a0-4c76-95b3-cde8aba4c12e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-25 05:28] 0crat commented on #958
The job [#958](https://github.com/yegor256/takes/issues/958) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/9447b158-256e-4f5c-b7d1-b59fa8a90c9f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-25 12:57] vzurauskas commented on #976
@0crat wait for https://github.com/yegor256/takes/pull/977 to be merged.

[2019-04-25 12:59] 0crat commented on #976
@vzurauskas The impediment for [#976](https://github.com/yegor256/takes/issues/976) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-25 13:10] vzurauskas commented on #958
@fabriciofx As far as I can tell, the latest jcabi-parent [release is 0.49.4](https://github.com/jcabi/jcabi-parent/releases), not the one specified in the task description. Did you mean to update to 0.49.4?

[2019-04-25 13:11] vzurauskas commented on #958
@0crat wait for fabriciofx to respond.

[2019-04-25 13:12] 0crat commented on #958
@vzurauskas The impediment for [#958](https://github.com/yegor256/takes/issues/958) was registered successfully by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-04-28 10:51] vzurauskas commented on #958
@fabriciofx ping

[2019-04-29 14:15] vzurauskas commented on #958
@paulodamaso Maybe you can answer this?

[2019-04-30 12:23] vzurauskas commented on #958
@0crat refuse

[2019-04-30 12:24] 0crat commented on #958
@vzurauskas Job `gh:yegor256/takes#958` is not assigned, can't get performer

[2019-05-04 11:07] vzurauskas commented on #976
@fabriciofx https://github.com/yegor256/takes/pull/977 was merged, can this issue be closed now?

[2019-05-07 14:17] 0crat commented on #976
The job [#976](https://github.com/yegor256/takes/issues/976) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/45dc2f96-f7d0-4fcc-bf0a-c4e0354c9780); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-05-07 16:23] Serranya commented on #976
@paulodamaso Why was asigned to me? @vzurauskas seems to be working on this.

[2019-05-07 23:11] paulodamaso commented on #976
@Serranya Looks like @0crat removed the impediment and re-assigned the issue. I'll return it to the original performer

[2019-05-07 23:11] 0crat commented on #976
Are you speaking to me or about me [here](https://github.com/yegor256/takes/issues/976#issuecomment-490287226); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-05-07 23:12] paulodamaso commented on #976
@0crat assign @vzurauskas

[2019-05-07 23:13] 0crat commented on #976
@paulodamaso The job [#976](https://github.com/yegor256/takes/issues/976) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/cf338946-f26b-4c23-8841-9c45e9e1c1f9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-05-07 23:14] paulodamaso commented on #976
@vzurauskas Thanks!

[2019-05-07 23:14] #976 closed

[2019-05-07 23:14] 0crat commented on #976
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-05-07 23:17] paulodamaso commented on #976
@Serranya actually @vzurauskas Exited the project, that's why @0crat assigned the issue to you.

[2019-05-07 23:17] 0crat commented on #976
Are you speaking to me or about me [here](https://github.com/yegor256/takes/issues/976#issuecomment-490288548); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-05-07 23:31] 0crat commented on #958
The job [#958](https://github.com/yegor256/takes/issues/958) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/9258904f-58b8-456a-a350-f6d5e3808cd5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-05-07 23:31] 0crat commented on #976
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-07 23:32] 0crat commented on #976
Job [#976](https://github.com/yegor256/takes/issues/976) is not in the agenda of @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), can't inspect

[2019-05-07 23:32] 0crat commented on #976
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-07 23:32] 0crat commented on #976
The job [#976](https://github.com/yegor256/takes/issues/976) is now out of scope

[2019-05-08 05:28] sereshqua commented on #976
@0crat status

[2019-05-08 05:28] 0crat commented on #976
@sereshqua This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#976](https://github.com/yegor256/takes/issues/976) is not in scope
  * The job is waiting quality review verdict by @sereshqua[/z](https://www.0crat.com/u/sereshqua) for 6hr
  * @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) will

[2019-05-08 05:32] sereshqua commented on #976
@0crat quality good

[2019-05-08 05:40] 0crat commented on #976
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-05-08 05:40] 0crat commented on #976
Order was finished, quality is "good": +40 point(s) just awarded to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas)

[2019-05-09 17:42] lucasmessias9898 commented on #968
@0crat refuse

[2019-05-09 17:42] lucasmessias9898 commented on #944
@0crat refuse

[2019-05-09 17:42] lucasmessias9898 commented on #918
@0crat refuse

[2019-05-09 17:47] 0crat commented on #968
@lucasmessias9898 The user @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898) resigned from [#968](https://github.com/yegor256/takes/issues/968), please stop working. Reason for job resignation: Order was cancelled

[2019-05-09 17:47] 0crat commented on #918
@lucasmessias9898 The user @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898) resigned from [#918](https://github.com/yegor256/takes/issues/918), please stop working. Reason for job resignation: Order was cancelled

[2019-05-09 17:47] 0crat commented on #944
@lucasmessias9898 The user @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898) resigned from [#944](https://github.com/yegor256/takes/issues/944), please stop working. Reason for job resignation: Order was cancelled

[2019-05-09 17:53] 0crat commented on #918
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898)

[2019-05-09 17:53] 0crat commented on #944
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898)

[2019-05-09 17:54] 0crat commented on #968
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898)

[2019-05-09 17:55] 0crat commented on #968
The job [#968](https://github.com/yegor256/takes/issues/968) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/a309a8b0-9078-485a-969f-f9fbd3cec1fb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-05-09 17:55] 0crat commented on #944
The job [#944](https://github.com/yegor256/takes/issues/944) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/b94677f5-71f1-4eb0-a494-8219d2d5b3e3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-05-10 00:46] 0crat commented on #918
The job [#918](https://github.com/yegor256/takes/issues/918) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/9a5ca876-477f-49e0-a89d-4079944bed54); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-05-14 19:09] yegor256 commented on #872
I still believe that we should `throws Exception`, even though I do hear what @skapral is saying. We simply can't predict all possible situations where some code may throw checked exceptions. Better let our users throw whatever they want and still be compatible with Takes.

[2019-05-22 12:36] g4s8 opened #978 "Takes is not compatible with latest cacctoos dependency"
If I use the latest Takes version `v1.16` with latest Cactoos  version `v0.41`, Takes is crashing on `CcPlain` with stacktrace:
[code]

[2019-05-22 12:36] 0crat commented on #978
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-05-22 12:51] paulodamaso commented on #978
@0crat in

[2019-05-22 12:53] 0crat commented on #978
@paulodamaso Job [#978](https://github.com/yegor256/takes/issues/978) is now in scope, role is `DEV`

[2019-05-22 12:59] 0crat commented on #978
The job [#978](https://github.com/yegor256/takes/issues/978) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/ad5a314f-b902-45a8-bd8f-bc44948858b7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-22 12:59] 0crat commented on #978
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-23 05:06] zCRUSADERz commented on #968
@paulodamaso is it possible to assign me?

[2019-05-23 05:17] zCRUSADERz commented on #958
Version 0.49.4 contains another bug on Windows, in version 49.5 these problems were solved.

[2019-05-23 05:23] zCRUSADERz opened #980 "Travis CI build failed with ERROR: Error installing pdd"
Travis CI [build](https://travis-ci.org/yegor256/takes/builds/536102679) failed on installing pdd.

We need update Ruby version.

[2019-05-23 05:23] 0crat commented on #980
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-05-23 05:23] 0crat commented on #980
@zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-23 14:26] paulodamaso commented on #968
@0crat assign @zCRUSADERz

[2019-05-23 14:30] 0crat commented on #968
@paulodamaso The job [#968](https://github.com/yegor256/takes/issues/968) assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/f62c5f0c-db2a-4fe0-81ce-db42203dd8ac); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-05-23 14:33] 0crat commented on #968
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-05-24 21:56] ssysm opened #983 "RqForm is broken as described in readme"
Hi! I was trying do some form processing with takes accroding to the README
[code]

But when I try to replicate it, it give me a error: `'RqForm' is abstract; cannot be instantiated`, then I took look at the source code and `RqForm`  is an interface which cannot be instantiated.

[code]
And the interface's  `.param()`return value does not return a `String`, like the example in readme.

Is there so

[2019-05-24 21:56] 0crat commented on #983
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-05-24 21:56] 0crat commented on #983
@ssysm[/z](https://www.0crat.com/u/ssysm) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-28 14:22] ebercamargo commented on #918
@0crat wait I'm short on time, I ask you to wait so I can handle it in the near future.

[2019-05-28 14:28] 0crat commented on #918
@ebercamargo The impediment for [#918](https://github.com/yegor256/takes/issues/918) was registered successfully by @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-05-29 13:55] paulodamaso commented on #983
@0crat in

[2019-05-29 14:32] 0crat commented on #983
@paulodamaso Job [#983](https://github.com/yegor256/takes/issues/983) is now in scope, role is `DEV`

[2019-05-29 14:34] 0crat commented on #983
@paulodamaso Thanks for your contribution, @ssysm[/z](https://www.0crat.com/u/ssysm)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-05-29 14:49] 0crat commented on #983
The job [#983](https://github.com/yegor256/takes/issues/983) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/c1ad2748-bcff-4dd6-b73e-53821304de5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-05-30 16:12] #980 closed

[2019-05-30 16:28] 0crat commented on #980
Job `gh:yegor256/takes#980` is not assigned, can't get performer

[2019-05-30 16:29] 0crat commented on #980
This job is not in scope

[2019-06-01 13:10] #968 closed

[2019-06-01 13:10] 0pdd commented on #968
The puzzle `888-1f63803d` has disappeared from the source code, that's why I closed this issue.

[2019-06-01 13:10] 0pdd opened #984 "RsPrint.java:45-53: Continue removing Guava's code from..."
The puzzle `968-1f63803d` from #968 has to be resolved:

https://github.com/yegor256/takes/blob/6a770dd8b9feab1fa480dcd0e90f9874eccc5069/src/main/java/org/takes/rs/RsPrint.java#L45-L53

The puzzle was created by @rultor on 01-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-06-01 13:10] 0pdd commented on #804
@aliceice the puzzle [#984](https://github.com/yegor256/takes/issues/984) is still not solved; solved: [#887](https://github.com/yegor256/takes/issues/887), [#888](https://github.com/yegor256/takes/issues/888), [#889](https://github.com/yegor256/takes/issues/889), [#968](https://github.com/yegor256/takes/issues/968).

[2019-06-01 13:10] 0pdd commented on #888
@0pdd the puzzle [#984](https://github.com/yegor256/takes/issues/984) is still not solved; solved: [#968](https://github.com/yegor256/takes/issues/968).

[2019-06-01 13:10] 0pdd commented on #968
@0pdd the puzzle [#984](https://github.com/yegor256/takes/issues/984) is still not solved.

[2019-06-01 13:11] 0crat commented on #984
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-06-01 13:16] 0crat commented on #984
Job [#984](https://github.com/yegor256/takes/issues/984) is now in scope, role is `DEV`

[2019-06-01 13:26] 0crat commented on #984
The job [#984](https://github.com/yegor256/takes/issues/984) assigned to @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/33aa647a-8f95-4a08-a2d4-732a271dbab1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2019-06-01 13:27] 0crat commented on #968
Job [#968](https://github.com/yegor256/takes/issues/968) is not in the agenda of @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), can't retrieve data and time of add

[2019-06-01 13:27] 0crat commented on #968
Job [#968](https://github.com/yegor256/takes/issues/968) is not in the agenda of @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), can't inspect

[2019-06-01 13:27] 0crat commented on #968
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-01 13:28] 0crat commented on #968
The job [#968](https://github.com/yegor256/takes/issues/968) is now out of scope

[2019-06-01 21:57] sereshqua commented on #968
@0crat quality good

[2019-06-01 22:04] 0crat commented on #968
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-06-01 22:04] 0crat commented on #968
Order was finished, quality is "good": +35 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-06-04 08:15] golszewski86 commented on #959
I believe #978 makes this issue invalid as cactoos will be upgraded to version 0.41

[2019-06-20 20:28] paulodamaso commented on #872
@piotrkot Please close

[2019-06-21 21:38] #872 closed

[2019-06-21 21:54] 0crat commented on #872
Job `gh:yegor256/takes#872` is not assigned, can't get performer

[2019-06-21 21:54] 0crat commented on #872
This job is not in scope

[2019-06-26 19:22] 0crat commented on #918
The job [#918](https://github.com/yegor256/takes/issues/918) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/11289e1f-0eae-409b-9f40-09789aed1c01); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-06-26 20:02] marceloamadeu commented on #918
@0crat refuse

[2019-06-26 20:08] 0crat commented on #918
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#918](https://github.com/yegor256/takes/issues/918), please stop working. Reason for job resignation: Order was cancelled

[2019-06-26 20:23] 0crat commented on #918
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu)

[2019-07-03 07:00] mreiche opened #990 "FkRegex removes trailing slash from URL"
Removing trailing slashes in FkRegex is IMHO a bad idea.

- It's magic besides the regex
- You can't have trailing slashes in your URL, even if you want. Ea.: as identifier for index (/) because `/path/resources` is the same like `/path/resources/`
- There is no reason to support such a feature. If you want to support optional trailing slashes, just add `\/?$` to your regex.
- It's undocumented

[2019-07-03 07:00] 0crat commented on #990
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-07-03 07:00] 0crat commented on #990
@mreiche[/z](https://www.0crat.com/u/mreiche) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-04 18:11] paulodamaso commented on #990
@mreiche Please help me understand what happened in this issue: you did it before the pull request before the issue were open?

[2019-07-05 11:08] Protagores commented on #869
@0crat refuse

[2019-07-05 11:10] 0crat commented on #869
@Protagores The user @protagores[/z](https://www.0crat.com/u/protagores) resigned from [#869](https://github.com/yegor256/takes/issues/869), please stop working. Reason for job resignation: Order was cancelled

[2019-07-05 11:13] 0crat commented on #869
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @protagores[/z](https://www.0crat.com/u/protagores)

[2019-07-07 00:10] mreiche commented on #990
Where do you need help? The PR in reference to the issue should describe
everything.

Paulo Lobo <notifications@github.com> schrieb am Do., 4. Juli 2019, 20:11:

[2019-07-13 12:57] paulodamaso commented on #990
@0crat in

[2019-07-13 12:58] 0crat commented on #990
@paulodamaso Job [#990](https://github.com/yegor256/takes/issues/990) is now in scope, role is `DEV`

[2019-07-13 12:58] 0crat commented on #990
@paulodamaso Thanks for your contribution, @mreiche[/z](https://www.0crat.com/u/mreiche)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-07-13 12:59] paulodamaso commented on #990
@0crat assign @mreiche

[2019-07-13 13:00] 0crat commented on #990
@paulodamaso The job [#990](https://github.com/yegor256/takes/issues/990) assigned to @mreiche[/z](https://www.0crat.com/u/mreiche), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/02321522-9c60-4530-9365-1db4de3a420c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-07-13 13:00] 0crat commented on #990
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-07-13 13:00] 0crat commented on #990
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-07-17 12:25] #990 closed

[2019-07-17 12:50] 0crat commented on #990
Job [#990](https://github.com/yegor256/takes/issues/990) is not in the agenda of @mreiche[/z](https://www.0crat.com/u/mreiche), can't inspect

[2019-07-17 12:50] 0crat commented on #990
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @mreiche[/z](https://www.0crat.com/u/mreiche), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-17 12:50] 0crat commented on #990
The job [#990](https://github.com/yegor256/takes/issues/990) is now out of scope

[2019-07-17 12:58] sereshqua commented on #990
@mreiche please make sure you start the messages with the name of the user there are addressed to, [see](https://github.com/yegor256/takes/issues/990#issuecomment-508961756)

[2019-07-21 13:59] sereshqua commented on #990
@0crat quality acceptable

[2019-07-21 14:07] 0crat commented on #990
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)