[2015-12-09 18:44] davvd commented on #400
@xupyprmv This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-09 18:44] davvd commented on #419
@piddubnyi the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-12-10 11:22] davvd commented on #430
@aschworer This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [

[2015-12-10 11:22] davvd commented on #431
@xupyprmv it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will act

[2015-12-10 17:08] davvd commented on #439
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2015-12-10 18:00] ypshenychka commented on #439
@davvd Quality is good here.

[2015-12-10 20:20] davvd commented on #439
@ypshenychka thanks for the review and a good remark

[2015-12-10 20:31] davvd commented on #439
@hdouss I added 10 mins to @ypshenychka (for QA review) in transaction 71832201; Thanks for your contribution, **1 hour** was added to your account, payment ID is `71832210`, 21 hours and 58 mins spent total; the bonus for fast delivery (m=1318); +60 to your rating, your total score is [+105](http://www.netbout.com/b/36032?open=rating)

[2015-12-10 21:27] HDouss commented on #399
@hs3180 PR #452 merged and reviewed. Please close the issue.

[2015-12-11 03:25] hs3180 commented on #399
@HDouss thanks.

[2015-12-11 03:25] #399 closed

[2015-12-11 03:28] hs3180 commented on #392
@bdragan thanks

[2015-12-11 03:28] #392 closed

[2015-12-11 03:30] hs3180 commented on #392
@davvd this puzzle has been solved before 3 days ago

[2015-12-11 08:28] simonjenga commented on #455
@yegor256 Why is it then that some projects pass the check e.g ```s3auth```, ```qulice``` and yet others fail?

[2015-12-11 10:43] yegor256 commented on #455
@simonjenga because some projects have custom qulice configuration in their `pom` files, while others don't

[2015-12-11 13:05] davvd commented on #392
@hs3180 thanks

[2015-12-11 13:23] HDouss commented on #433
@yegor256 please assign this to me

[2015-12-11 16:23] davvd commented on #433
@mojojojo the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-11 18:28] davvd commented on #436
@mojojojo this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation

[2015-12-11 19:01] davvd commented on #437
@mojojojo please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-11 22:17] HDouss opened #461 "FkContentType should have a Take rather than a Response"
FkContentType is built with a Response. To handle more general use cases like `Content-Type: text/html; charset=...`, it should be built with a Take that will handle the request dynamically.

[2015-12-12 00:14] HDouss opened #462 "Add a Response implementation that applies "modifying" Xembly directives"
Right now, there is an implementation of Response that creates an XML from Xembly directives that build an XML from scratch.
Let's have an implementation that applies "modifying" Xembly directives to an existing XML document. That latter XML document could also be built from Xembly directives.

[2015-12-12 09:47] davvd commented on #392
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-12 09:47] davvd commented on #399
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-12 11:00] davvd commented on #438
@hdouss the task is yours please proceed

[2015-12-12 11:54] elenavolokhova commented on #399
@davvd Looks good!

[2015-12-12 11:55] elenavolokhova commented on #392
@davvd Looks good!

[2015-12-12 14:03] HDouss commented on #438
@bdragan The sample application does not compile. there is no FtBasic constructor that takes a Take as an argument.

[2015-12-12 14:13] davvd commented on #392
@elenavolokhova thanks a lot :)

[2015-12-12 14:14] davvd commented on #399
@elenavolokhova thank you

[2015-12-12 14:24] HDouss commented on #438
@bdragan The problem occurs when the "Content-Length" header is not specified within the request. I suggest to suppose that there is no body message when this header is absent from the request

[2015-12-12 14:25] davvd commented on #392
@bdragan added 10 mins to @elenavolokhova, for QA review, payment code is `71892975`... thank you, added **30 mins** to your acc, payment num is `71892982`, 421 hours and 54 mins spent in total to complete... added +30 to your rating, now it is equal to [+376](http://www.netbout.com/b/35709?open=rating)

[2015-12-12 14:30] bdragan commented on #438
@HDouss I think you should also check for the presence of `Transfer-Encoding` header, as described [here](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.3):

[2015-12-12 15:08] HDouss commented on #438
@bdragan I agree. I will add another class `RqChunk` and make a puzzle for its chunk size parsing feature.

[2015-12-12 16:19] HDouss opened #463 "RqWithBodyTest, RqMultipartTest, RqFormTest and RqGreedyTest should precise Content-Length"
Requests on these tests : RqWithBodyTest, RqMultipartTest, RqLengthAwareTest, RqFormTest and RqGreedyTest should send a Content-Length header with proper value. More precisely, these are the tests that need to be modified :
[code]

[2015-12-12 16:19] HDouss commented on #438
@davvd This issue #463 blocks me.

[2015-12-12 17:14] davvd commented on #399
@hdouss added 10 mins to @elenavolokhova, for QA review, payment code is `71896197`; Many thanks! **30 mins** were added to your account in Transaction ID `71896205` (task took 143 hours and 6 mins); +30 added to your rating, at the moment it is: [+135](http://www.netbout.com/b/36032?open=rating)

[2015-12-14 11:36] davvd commented on #438
@hdouss OK, let's wait for #463

[2015-12-14 11:43] davvd commented on #441
@happy-neko This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-12-14 13:36] davvd commented on #442
@happy-neko please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-14 15:00] davvd commented on #445
@happy-neko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-15 08:50] ypshenychka commented on #377
@tiaped ping

[2015-12-15 10:51] davvd commented on #462
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-15 10:51] davvd commented on #461
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-15 22:44] aschworer commented on #458
@davvd fighting with checkstyles for now. will need a bit more time, same for #430

[2015-12-16 10:44] aschworer commented on #430
@davvd i've created a pull request, please review

[2015-12-16 10:44] aschworer commented on #458
@davvd i've created a pull request, please review

[2015-12-16 11:48] davvd commented on #463
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-12-16 13:13] davvd commented on #458
@aschworer of course, thanks for letting me know, take your time

[2015-12-16 19:37] yegor256 opened #469 "SVG logo"

[2015-12-16 19:37] #469 closed

[2015-12-16 19:40] yegor256 commented on #469
@rultor release, tag is `0.28.1`

[2015-12-16 19:46] davvd commented on #430
@aschworer thanks

[2015-12-16 19:46] rultor commented on #469
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5977-165224398)

[2015-12-16 20:43] rultor commented on #469
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5977-165224398) (spent 57min)

[code]

[2015-12-16 20:53] yegor256 commented on #469
@rultor release, tag is `0.28.1`

[2015-12-16 20:55] yegor256 commented on #469
@rultor hello

[2015-12-16 21:14] rultor commented on #469
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5977-165241038)

[2015-12-16 21:16] rultor commented on #469
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-12-16 23:15] rultor commented on #469
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5977-165241038) (spent 2hr)

[code]

[2015-12-17 06:15] yegor256 commented on #469
@rultor release, tag is `0.28.1`

[2015-12-17 06:16] rultor commented on #469
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5977-165351466)

[2015-12-17 07:24] rultor commented on #469
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5977-165351466) (took me 1hr)

[2015-12-17 21:14] yegor256 commented on #463
@HDouss I don't understand what exactly is broken now... check this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken

[2015-12-17 21:29] yegor256 commented on #461
@HDouss I'm not sure I understand... can you give a code example please?

[2015-12-17 21:30] yegor256 commented on #462
@HDouss good idea, but I would rather add a new constructor to existing `RsXembly`:

[code]

@HDouss make sense?

[2015-12-17 21:36] HDouss commented on #463
@yegor256 Actually the tests are passing because of a side effect of a bug in RqPrint (see #438). A proper request with a body must specify the body message (either by Content-Length header or by a Chunked body), so the server can know when the body is done. This become crucial with HTTP 1.1 since the client does not have to close the connection. The server side could only figure out the end of th

[2015-12-17 21:37] HDouss commented on #462
@yegor256 Yes !

[2015-12-17 22:01] HDouss commented on #461
@yegor256 Right now what we can do with `FkContentType` is responding with a fixed response like in this example :
[code]

[2015-12-18 05:12] dmzaytsev commented on #400
@yegor256  please release if possible

[2015-12-18 07:43] HDouss commented on #463
@yegor256 In other terms, having a proper RqPrint implementation that assumes an empty body if Content-Length is not defined (in case of non-chunked message) will lead to the fail of these tests who should anyway precise Content-Length to be correctly read.

[2015-12-18 10:52] davvd commented on #400
@rultor rultor closed it (automatically), @dmzaytsev please take a look

[2015-12-18 10:53] davvd commented on #462
@hdouss I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-12-18 11:01] davvd commented on #462
@hdouss thanks for this report, I added 15 mins to your account, in transaction `72453029`

[2015-12-18 11:10] dmzaytsev commented on #400
@xupyprmv I would suggest ask me to close the ticket and mention the PR that fixed the issues

[2015-12-18 11:15] xupyprmv commented on #400
@dmzaytsev Thanks for advise. #400 was fixed by PR #464. Please close this ticket if you have no more remarks.

[2015-12-18 11:16] dmzaytsev commented on #400
@xupyprmv thanks!

[2015-12-18 11:16] #400 closed

[2015-12-18 11:35] dmzaytsev commented on #400
@yegor256 please release if possible

[2015-12-18 11:35] yegor256 commented on #463
@HDouss you're saying that these tests must fail when `Content-Length` is absent, but they don't. right? that's the bug?

[2015-12-18 11:35] yegor256 commented on #400
@rultor release, tag is `0.28.2`

[2015-12-18 11:36] rultor commented on #400
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5993-165753902)

[2015-12-18 11:44] HDouss commented on #463
@yegor256 In some way, that's what I'm trying to say. The bug is that these tests are not sending proper requests (absence of content-length). Now, to explain why this is a bug, and why the tests were passing until now, I tried to describe the good implementation of RqPrint (which is not the case now) that will make the test fail. RqPrint have to assume empty body when content-length is not define

[2015-12-18 12:44] rultor commented on #400
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5993-165753902) (took me 1hr)

[2015-12-18 15:11] davvd commented on #450
@danff this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-12-18 15:52] davvd commented on #453
@danff This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-18 17:38] davvd commented on #454
@danff this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-18 18:22] simonjenga opened #470 "explicit synchronization on concurrent collections"
Concurrent collections are inherently thread-safe; they may be passed between threads or published without the need for explicit synchronization.
[code]
Please provide extensive reasons/explanations/documentation why this is being done on the following classes:
[code]

Otherwise these ```synchronized``` blocks look redundant and may be deleted while doing maintenance of the project since most of u

[2015-12-19 11:55] davvd commented on #400
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2015-12-19 14:04] davvd opened #473 "RqHref.java:83-86: RqMethod already validates Request-Line and..."
Puzzle `445-5323c196` in `src/main/java/org/takes/rq/RqHref.java:83-86` has to be resolved: RqMethod already validates Request-Line and extracts HTTP Method from it. We should extract all important information from Request-Line (HTTP method, URI and HTTP version) in one place to enforce DRY principle.... The puzzle was created by Ikar Sokolov on 15-Dec-2015.

If you have any technical questions, d

[2015-12-19 14:04] davvd commented on #445
@hdouss once `445-5323c196`/#473 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-12-19 14:11] davvd commented on #473
@xupyprmv please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-12-19 15:20] davvd commented on #473
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-12-19 18:43] davvd commented on #260
@dmzaytsev the last puzzle `260-de67913e`/#413 originated from here solved

[2015-12-19 18:54] xupyprmv commented on #431
@davvd assign another developer to this issue. I cannot reproduce this issue.

[2015-12-19 19:06] HDouss commented on #445
@davvd I should anyway close this issue, right ?

[2015-12-19 19:09] HDouss commented on #445
@Happy-Neko The pattern used assume that a "third part" of the request line is optional. I am not sure it is the case according to the specifications. The current implemented pattern will accept request lines like : `GET HTTP/1.1` or `GET /`

[2015-12-19 19:27] Happy-Neko commented on #445
@HDouss Protocol part is required per HTTP 1.1 specs. It is optional if we want to maintain backward compatibility with HTTP 1.0.

[2015-12-19 19:50] HDouss commented on #445
@Happy-Neko Ok. Make sense.

[2015-12-19 19:50] HDouss commented on #445
@davvd I will close the issue as the PR is merged and accepted.

[2015-12-19 19:51] #445 closed

[2015-12-19 20:00] HDouss commented on #445
@Happy-Neko Please make a reference to the PR id.

[2015-12-19 20:50] davvd commented on #431
@xupyprmv -30 points to your rating

[2015-12-19 20:50] davvd commented on #431
@xupyprmv no problem, I will try to find somebody else

[2015-12-19 23:04] ypshenychka commented on #400
@davvd Quality is good.

[2015-12-20 01:07] Happy-Neko commented on #445
@HDouss issue was fixed in PR #466

[2015-12-20 01:13] HDouss commented on #445
@Happy-Neko Thanks !

[2015-12-20 09:28] davvd commented on #400
@ypshenychka thanks for the review

[2015-12-20 09:42] davvd commented on #400
@xupyprmv just added 10 mins to @ypshenychka (for QA), payment ID is `72513860`; I added **30 mins** to your account, many thanks for working with the project! The completion time here was AP-9W591330AG839052C.; +30 added to your rating, current score is: [+0](http://www.netbout.com/b/35999?open=rating)

[2015-12-20 10:52] davvd commented on #456
@xupyprmv it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more i

[2015-12-21 11:04] davvd commented on #445
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-12-21 11:13] ypshenychka commented on #445
@davvd Quality is good here.

[2015-12-21 12:03] davvd commented on #431
@happy-neko can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-21 14:22] davvd commented on #445
@ypshenychka thank you

[2015-12-21 14:36] davvd commented on #445
@happy-neko 10 mins was added to the account of @ypshenychka (for QA review), in transaction 72638957; thanks, I just added **30 mins** to your account, payment `72640289`, 125 hours and 51 mins spent; added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/36136?open=rating)

[2015-12-21 15:30] Happy-Neko commented on #441
@davvd ping.

[2015-12-21 16:43] davvd commented on #462
@happy-neko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend).

[2015-12-21 18:59] dmzaytsev opened #475 "why default media type has been changed?"
this line
https://github.com/yegor256/takes/commit/c6a98c9ff6ceb47f427fb1df0423fc8a3980f2e5#diff-3628fdd06e17f22ff51a01c1aa51515aR92
has been changed from

[code]

to

[code]

in commit c6a98c9ff6ceb47f427fb1df0423fc8a3980f2e5
unfortunately I don't see any PR(or an issue) related to the commit
Why was this done?
Is it bug or feature?

[2015-12-21 19:29] davvd commented on #441
@happy-neko yes, I'm here

[2015-12-21 19:46] davvd commented on #470
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-21 21:32] Happy-Neko commented on #441
@david Is anything needed from me to have this issue closed?

[2015-12-21 23:24] HDouss commented on #463
@yegor256 updated description to exhaustively list all the test methods to modify.

[2015-12-22 20:03] danff commented on #450
@davvd Pull request has been merged

[2015-12-23 06:29] yegor256 commented on #463
@HDouss got it thanks

[2015-12-23 06:32] yegor256 commented on #470
@simonjenga this synchronization is not protecting the array, but its concurrent modification from multiple threads:

[code]

See?

[2015-12-23 06:32] #470 closed

[2015-12-23 06:35] yegor256 commented on #475
@dmzaytsev it's a feature. if no content type is provided by the browser, we must assume that `text/html` is expected. If we put `*/*` there, `text/xml` or `application/json` will be returned, for example, which is not what the browser is ready to process.

[2015-12-23 06:36] yegor256 commented on #475
@dmzaytsev you think I should put some documentation into the code about it?

[2015-12-23 07:09] dmzaytsev commented on #475
@yegor256 yep, it would be nice to update readme
I can update the ticket description if needed

[2015-12-23 12:00] davvd commented on #463
@hdouss attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-12-23 12:06] simonjenga commented on #470
@yegor256 I don't quite agree with you on this one. I also don't understand your explanation.

Your code is synchronizing on a concurrent collection!

What you need to protect from concurrent modification by multiple threads is the ```method```. It needs to be revised to be as follows:
[code]

[2015-12-23 12:11] davvd commented on #463
@happy-neko the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-23 12:13] davvd commented on #463
@hdouss thank you for the ticket reported, I topped your account for 15 mins, transaction `72946073`

[2015-12-23 13:16] davvd commented on #450
@danff which one?

[2015-12-23 13:23] danff commented on #450
@davvd #474 - RsXSLT.InClasspath resolve() method was not using "base" parameter.

[2015-12-23 20:58] yegor256 commented on #470
@simonjenga using `synchronized` for a method is against PMD rule. See `AvoidSynchronizedAtMethodLevel` at http://pmd.sourceforge.net/pmd-4.3.0/rules/design.html

[2015-12-23 22:28] Happy-Neko commented on #441
@davvd @yegor256 @elenavolokhova
Please respond what stops this ticket from being closed?

[2015-12-23 22:30] Happy-Neko commented on #431
@david PR is merged. We could close this ticker.

[2015-12-24 02:02] dmzaytsev commented on #431
@Happy-Neko ask the ticket reporter

[2015-12-24 02:02] dmzaytsev commented on #431
Thanks!

[2015-12-24 02:02] #431 closed

[2015-12-24 02:03] dmzaytsev commented on #431
And mention PR number

[2015-12-24 07:52] yegor256 commented on #441
@Happy-Neko only ticket reporter can close a ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-12-24 07:53] simonjenga commented on #470
@yegor256
[code]

[2015-12-24 07:56] yegor256 commented on #470
@simonjenga not really. I quote PMD: "Method level synchronization can backfire when new code is added to the method. Block-level synchronization helps to ensure that only the code that needs synchronization gets it." We may eventually add more code to the method and that new code will also be synchronized. This is not what we want. Block level synchronization is more accurate.

[2015-12-24 08:17] simonjenga commented on #470
@yegor256 OK, but there has to be some way to remove the explicit synchronizing on a concurrent collection!

[2015-12-24 10:20] davvd commented on #450
@danff thanks

[2015-12-24 14:08] Happy-Neko commented on #431
@dmzaytsev PR #476 is merged. We could close the ticket.

[2015-12-24 14:10] Happy-Neko commented on #441
@simonjenga PR #467 is merged. We can close the ticket.

[2015-12-24 16:18] Happy-Neko commented on #442
@simonjenga PR #442 can be merged to close this ticket.

[2015-12-24 20:31] davvd commented on #419
@piddubnyi the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; added -30 to your rating, now it is equal to [-30](http://www.n

[2015-12-24 23:14] danff commented on #450
@simonjenga @davvd The pull request #474 for this issue was merged and closed. Can this issue be closed? Thank you.

[2015-12-25 07:03] simonjenga commented on #441
@Happy-Neko OK

[2015-12-25 07:03] #441 closed

[2015-12-25 07:11] simonjenga commented on #442
@Happy-Neko ```inputStream``` in ```RsVelocity.render(InputStream, Map<CharSequence, Object>)``` is not yet closed

[2015-12-25 07:28] simonjenga commented on #450
@danff Lets add a check to see if ```base``` is empty: ```if (base == null || base.isEmpty())```

[2015-12-25 08:12] danff commented on #450
@simonjenga Ok

[2015-12-25 08:53] simonjenga commented on #442
@Happy-Neko While i also like the design and your ideas, i expected the fix to be simply ```input.close();```. Always try to keep code to be as minimum as possible so as to avoid bloatware and future maintenance nightmares.

I also think we should also add ```input.close();``` in ```RsVelocity.render(InputStream, Map<CharSequence, Object>)``` to avoid somebody else raising a similar ticket.
Thanks

[2015-12-25 09:14] danff commented on #450
@simonjenga @davvd Pull request #479 with base.isEmpty() check has been added

[2015-12-25 09:22] carlosmiranda opened #480 "HmRsHeader fails match if header name is not all-lowercase"
This test **succeeds**:

[code]

This test - almost exactly the same, but the first letter of `Location` is capitalized, **fails**:

[code]

Meanwhile, this test, with a response that has an uppercase "L" and a matcher was supplied with a lowercase "l" **succeeds**, :

[code]

Checking of header name should be case-insensitive, in accordance with [HTTP spec](http://www.w3.org/Protocols/rfc2616/rfc

[2015-12-25 10:09] carlosmiranda opened #481 "Very confusing test failure message when using `HmRsStatus`"
Consider the following test:

[code]

Obviously, this will fail. The failure message looks something like this:

[code]

This message is very confusing:

* Expected value - what is "200"? If I have just a handful of tests that test for a bunch of HTTP statuses, then it's clear. But if I have dozens of tests, this expected message does not give me any info on the significance of "200".
* Actual val

[2015-12-25 10:18] carlosmiranda opened #482 "Very confusing test failure message when using `HmRsHeader`"
Consider the following test:

[code]

It fails (pretty trivial). But this is the failure message:

[code]

The "expected" value was pretty clear in what the test was expecting. However, the actual value displayed is a generic object signature and is not useful at all. It would be much better if it outputted a list of the actual header fields in the response.

[2015-12-25 11:10] davvd commented on #480
@carlosmiranda I will ask someone to take care of this task soon

[2015-12-25 11:10] davvd commented on #481
@carlosmiranda I will ask someone to take care of this task soon

[2015-12-25 11:10] davvd commented on #482
@carlosmiranda I will find a developer for the task soon...

[2015-12-25 11:10] davvd commented on #480
@carlosmiranda attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-12-25 11:10] davvd commented on #481
@carlosmiranda I set milestone here to `1.0`, let me know if it is wrong

[2015-12-25 11:10] davvd commented on #482
@carlosmiranda milestone set to `1.0` (correct me if I am wrong)

[2015-12-25 11:18] davvd commented on #431
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-12-25 11:20] davvd commented on #482
@exper0 can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-25 11:20] davvd commented on #482
@carlosmiranda thanks for this report, I added 15 mins to your account, in transaction `73016940`

[2015-12-25 11:53] exper0 commented on #482
@davvd sure, I'll look into it

[2015-12-25 12:34] ypshenychka commented on #431
@dmzaytsev

Thanks!

According to our [QA Rules](http://www.teamed.io/qa.html):

Please correct your message by indicating an addressee in the beginning.

[2015-12-25 12:41] dmzaytsev commented on #431
@ypshenychka done

[2015-12-25 12:51] ypshenychka commented on #431
@dmzaytsev Thanks.

[2015-12-25 12:51] ypshenychka commented on #431
@davvd Quality is acceptable.

[2015-12-25 14:18] davvd commented on #431
@ypshenychka thank you, let's try to make it "good" next time

[2015-12-25 14:28] piddubnyi commented on #419
@yegor256 This is fixed now by https://github.com/yegor256/takes/issues/459
Please close the ticket.

[2015-12-25 14:29] davvd commented on #430
@aschworer you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck); -30 to your rating, your total score is [-30]

[2015-12-25 14:29] davvd commented on #431
@happy-neko added 10 mins to @ypshenychka, for QA review, payment code is `73018818`... Much obliged! I have added **38 mins** to your account in payment "73018821", 70 hours and 19 mins spent... the bonus for fast delivery (m=4219)... +38 added to your rating, current score is: [+68](http://www.netbout.com/b/36136?open=rating)

[2015-12-25 14:29] davvd commented on #480
@happy-neko the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-25 14:29] davvd commented on #481
@carlosmiranda thanks for the ticket, your account was topped for 15 mins, payment 73018843

[2015-12-25 15:03] yegor256 commented on #419
@piddubnyi thanks!

[2015-12-25 15:03] #419 closed

[2015-12-25 15:03] yegor256 commented on #419
@rultor release, tag is `0.29`

[2015-12-25 15:04] rultor commented on #419
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6070-167243551)

[2015-12-25 15:04] davvd commented on #480
@carlosmiranda many thanks for the report, I topped your account for 15 mins, transaction 73019344

[2015-12-25 15:30] Happy-Neko commented on #442
@simonjenga Please see PR description. InputStream is already closed in template engine, there is no need to close it twice.

[2015-12-25 16:14] rultor commented on #419
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6070-167243551) (took me 1hr)

[2015-12-25 16:54] davvd commented on #481
@exper0 please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-12-25 17:38] simonjenga commented on #442
@Happy-Neko OK!

[2015-12-25 17:38] #442 closed

[2015-12-26 10:25] davvd commented on #441
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-12-26 13:14] carlosmiranda opened #485 "HmRsBody matcher for checking response body"
At the moment we have `HmRsHeader` and `HmRsStatus` which allows us to use Hamcrest to match against `Response` headers or status codes, respectively.

It would be good if we have a class `HmRsBody` that will allow us to match the `Response` body as well. Let's create one, with public constructors that can accept `Matcher<String>` and `Matcher<byte[]>`, to support both text and binary responses.

[2015-12-26 16:12] xupyprmv opened #486 "RqLive must pay attention to Content-Length header."
Current version of `RqLive`  doesn't pay attention to `Content-Length` header, but it has to. For keep-alive connections after `Content-Length` bytes there can be second request (third request and so on, https://en.wikipedia.org/wiki/HTTP_persistent_connection).

If there is no `Content-length` header, then `RqLive` must throw exception.

[2015-12-26 16:13] xupyprmv commented on #456
@davvd I can't continue until #486 is resolved.

[2015-12-26 17:14] davvd commented on #419
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-26 17:15] davvd commented on #433
@mojojojo you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, at the moment it is: [-3

[2015-12-26 17:25] ypshenychka commented on #441
@simonjenga
According to our [QA Rules](http://www.teamed.io/qa.html):

There is no description provided. Please add appropriate description for the issue.

[2015-12-26 17:40] simonjenga commented on #441
@ypshenychka I have updated the ticket description.

[2015-12-26 17:54] ypshenychka commented on #441
@simonjenga thanks

[2015-12-26 17:54] ypshenychka commented on #441
@davvd Quality is acceptable.

[2015-12-26 20:48] davvd commented on #441
@ypshenychka thanks for the review, we'll try better next time

[2015-12-26 20:54] davvd commented on #442
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-26 20:55] davvd commented on #437
@mojojojo you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, at the moment it is: [-6

[2015-12-26 20:55] davvd commented on #441
@happy-neko paied 10 mins to @ypshenychka for QA review (payment ID is `73043460`)... **30 mins** added to your account (payment number `73043470`), many thanks for your contribution! 261 hours and 58 mins spent here.... added +30 to your rating, now it is equal to [+98](http://www.netbout.com/b/36136?open=rating)

[2015-12-26 21:00] ypshenychka commented on #442
@davvd Quality is good here.

[2015-12-26 22:55] exper0 commented on #481
@davvd done @carlosmiranda now it looks like this:
Expected: HTTP status code <200>
     but: HTTP status code was <500>

[2015-12-26 22:55] exper0 commented on #481
pr #487

[2015-12-27 02:09] carlosmiranda commented on #481
@exper0 Thanks, let's wait for PR merge.

[2015-12-27 09:21] davvd commented on #442
@ypshenychka thanks a lot

[2015-12-27 09:34] davvd commented on #436
@mojojojo you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, at the moment it is: [-9

[2015-12-27 09:34] davvd commented on #442
@happy-neko I added 10 mins to @ypshenychka (for QA review) in transaction 73054749... I added **30 mins** to your account, many thanks for working with the project (73054758)! The completion time here was 268 hours and 33 mins.... +30 to your rating, your total score is [+128](http://www.netbout.com/b/36136?open=rating)

[2015-12-27 14:41] aschworer commented on #430
@davvd It's been 34 hours we are waiting for the merge confirm from @yegor256 (pull request #472).

[2015-12-27 23:32] exper0 commented on #482
@davvd done @carlosmiranda now it looks like this:
Expected: header: equalToIgnoringCase("content-type") -> values: (a collection containing "image/png")
     but: header was: equalToIgnoringCase("content-type") -> values: <[text/html]>

It's not so nice but I hope it's clear enough - I tried not to over-complicate it. Let me know if you are ok with it.
It's in PR #488

[2015-12-27 23:48] exper0 commented on #485
@carlosmiranda @davvd ready to take this

[2015-12-28 00:28] carlosmiranda commented on #485
@yegor256 what do you think?

[2015-12-28 00:30] carlosmiranda commented on #482
@exper0 Thanks, much clearer than in the beginning. Let's wait for PR review and merge.

[2015-12-28 14:43] elenavolokhova commented on #419
@davvd Quality is good here.

[2015-12-28 15:56] davvd commented on #419
@elenavolokhova thanks for the review

[2015-12-28 16:05] davvd commented on #419
@piddubnyi just added 10 mins to @elenavolokhova (for QA), payment ID is `73324867`; Much obliged! I have added **30 mins** to your account in payment "73325024", 382 hours and 1 min spent; added +30 to your rating, now it is equal to [-30](http://www.netbout.com/b/35966?open=rating)

[2015-12-29 15:18] exper0 opened #490 "Refactoring of RqHeaders"
Currently RqHeaders has following methods to work with HTTP headers:

    /**
     * Get single header.
     *
     * @param key Header name
     * @return List of values (can be empty)
     * @throws IOException If fails
     */
    Iterable<String> header(CharSequence key) throws IOException;

    /**
     * Get all header names.
     *
     * @return All names
     * @throws IOException If fail

[2015-12-29 17:46] exper0 commented on #490
Probably, it would be more suitable to have another wrapper class around Request

[2015-12-29 18:11] exper0 commented on #490
@yegor256 what do you think? Since relevant class does exist it's not so important. But may be small refactoring of existing RqHeaders.Base/Smart is good idea

[2015-12-30 03:25] simonjenga opened #491 "ReadableByteChannel in org.takes.rq.RqMultipart.Base never closes"
When the ```private final transient ReadableByteChannel body;``` is initialized in the constructor
as ```this.body = Channels.newChannel(stream);```, it is never closed anywhere in the class.

Try to close it in the method ```org.takes.rq.RqMultipart.Base.copy(WritableByteChannel, byte[])``` as:
[code]

[2015-12-30 10:12] davvd commented on #430
@aschworer it doesn't really matter, check this: http://at.teamed.io/policy.html#7 If you can't complete your task in time, inform me, see http://at.teamed.io/policy.html#10

[2015-12-30 10:12] davvd commented on #456
@xupyprmv @davvd waiting for #486

[2015-12-30 14:01] davvd commented on #430
@aschworer you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; added -60 to your rating, now it is equal to [-90](http://www.netbout.com/b/35983?open=rating)

[2015-12-30 19:27] davvd commented on #433
@aschworer this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-12-30 21:42] yegor256 commented on #456
@davvd yes, we're waiting for #486 here

[2015-12-31 00:00] HDouss commented on #436
@yegor256 Please assign this to me.

[2015-12-31 05:36] dmzaytsev opened #492 "default header"
right now Takes doesn't allow to set the default header on the request
It would be nice to include [RqWithDefaultHeader](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/RqWithDefaultHeader.java) into Takes

RqWithDefaultHeader allows add add a header if the header not exists in the request

[2015-12-31 10:02] davvd commented on #456
@yegor256 OK, let's wait for #486

[2015-12-31 10:09] davvd commented on #485
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-31 15:04] davvd commented on #430
@hdouss the task is yours, please go ahead

[2015-12-31 19:22] davvd commented on #486
@yegor256 please dispatch this issue

[2016-01-01 10:23] davvd commented on #436
@hdouss please go ahead with this task, it's yours

[2016-01-01 14:07] aschworer commented on #430
@davvd it is done and waiting for merge confirm for the past 7 days

[2016-01-01 14:19] aschworer commented on #433
@davvd @yegor256 It's been a week I waited for the merge confirm for the tasks #458 and #430 which have been completed on 26th December. The merges have not been confirmed therefore causing me to fail to close the task. Now my rating is -90. Before committing for any new task, I would like to know if this kind of situation is usual, because I need to know how to plan my work and my time. It is sai

[2016-01-01 20:49] exper0 commented on #492
@dmzaytsev ready to incorporate request to Takes. I was also thinking about adding it to Takes.

[2016-01-02 02:43] dmzaytsev commented on #492
@exper0 ask @yegor256 assign you to this ticket when he confirm the bug

[2016-01-02 09:22] davvd commented on #490
@yegor256 please do something about this issue

[2016-01-02 09:22] davvd commented on #491
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-02 12:09] carlosmiranda commented on #485
@yegor256 ping

[2016-01-02 16:43] davvd commented on #450
@danff check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 to your rating, your total score is [-30](

[2016-01-02 18:19] davvd commented on #454
@danff you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 to your rating, your total score is [-60](http://ww

[2016-01-02 18:49] davvd commented on #453
@danff you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck); -30 added to your rating, at the moment it is: [-

[2016-01-03 10:04] HDouss commented on #430
@davvd PR #493 reviewed and ready for merge. We wait for the architect to confirm the merge here.

[2016-01-03 10:11] HDouss commented on #436
@davvd PR #494 reviewed and ready for merge. We wait for the architect to confirm the merge here.

[2016-01-03 11:15] piotrkot opened #495 "IOExceptions with bootstrap"
Here is a sample project with 2 IOExceptions being reproduced.
https://github.com/piotrkot/takesbug

[2016-01-03 13:09] davvd commented on #430
@aschworer the task is "done" when it's closed by its author. this task is not done. when @yegor256 closes it, I will consider it done. see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-01-03 13:09] davvd commented on #433
@aschworer keep in mind that it's your responsibility to manage your tickets. if you can't complete them in time, you have to notify me. why you can't complete - doesn't matter. if you want me to reassign this task, let me know.

[2016-01-03 13:36] aschworer commented on #433
@davvd please reassign this task to someone else.

[2016-01-03 14:58] davvd commented on #433
@aschworer -30 points to your rating :(

[2016-01-03 14:58] davvd commented on #433
@aschworer I will try to find someone else

[2016-01-03 15:09] davvd commented on #473
@xupyprmv you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). as a reminder, don't forget to remove the `@to

[2016-01-03 15:30] xupyprmv commented on #473
@davvd The PR #484 is on CR by @yegor256. It's not my fault.

[2016-01-03 16:36] danff commented on #450
@davvd The ticket actually was implemented, and the last commit (pull request #479) is waiting for review for 9 days.

[2016-01-03 16:39] danff commented on #453
@davvd The ticket is waiting for the pull request #489 to be merged for 7 days.

[2016-01-04 12:12] yegor256 commented on #495
@piotrkot hm... interesting. thanks for reporting!

[2016-01-04 12:48] davvd commented on #495
@piotrkot this task will get someone's attention soon

[2016-01-04 12:48] davvd commented on #495
@piotrkot since there is no milestone yet I set it to "1.0"

[2016-01-04 12:56] davvd commented on #437
@aschworer the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-04 13:05] aschworer commented on #437
@davvd I am not certain to complete this task in time. Please do not assign anything to me for the next 5 days

[2016-01-04 15:58] yegor256 opened #496 "RsWithType.HTML, RsWithType.JSON, RsWithType.XML, RsWithType.Text"
Let's create these new classes: `RsWithType.HTML`, `RsWithType.JSON`, `RsWithType.XML`, `RsWithType.Text`. They should add these types to the response:

[code]

[2016-01-04 16:07] danff commented on #453
@longtimeago @davvd The pull request has been merged. Can the ticket be closed?

@yegor256 @davvd The merging of the pull request has been made in 7-8 days, process that I can not control. So again my question. Why -30?

[2016-01-04 16:10] danff commented on #450
@simonjenga @davvd At last the pull request #479 has been merged. Can the ticket be closed?

@yegor256 @davvd The last pull request for a cosmetic change has been reviewed and merged in 10 days. Process that I can not influence in any way. Why -30?

[2016-01-04 16:12] longtimeago commented on #453
@danff sure, it can be closed. Thanks

[2016-01-04 16:12] #453 closed

[2016-01-04 16:13] longtimeago commented on #453
@danff next time don't wait for 8 days - just ping ticket author right after PR is merged

[2016-01-04 16:16] danff commented on #453
@longtimeago actually PR was merged after 8 days. And not me waiting.

[2016-01-04 16:18] yegor256 commented on #473
@xupyprmv everything is your fault, until the task is done. this is our philosophy. when you see that the task is delayed, do something about it. ask @davvd, or me, but don't just wait. we're not managing you, you're managing yourself. I would recommend to read the policy again: http://at.teamed.io/policy

[2016-01-04 16:25] danff commented on #453
@longtimeago btw thank you for closing the ticket.

[2016-01-04 16:27] longtimeago commented on #453
@danff I'd like you to read this article http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-01-04 16:28] yegor256 commented on #490
@exper0 can you please update ticket description, to explain how exactly you're suggesting to refactor `RqHeaders`... I'm not sure I follow now..

[2016-01-04 16:28] longtimeago commented on #453
@danff it's your responsibility to push me as issue reporter to close the issue when it's done - just FYI :)

[2016-01-04 16:34] danff commented on #453
@longtimeago thank you for the link. But the problem is not pushing you, I have asked to close the issue immediately after the PR have been merged. The PR was created 8 days ago and merged only 45 min ago.

[2016-01-04 16:35] danff commented on #453
@longtimeago sorry bothering you, actually is not your problem and I am spending your time. Thanks again for the ticket.

[2016-01-04 16:37] davvd commented on #485
@carlosmiranda attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-01-04 16:37] davvd commented on #436
@hdouss I see

[2016-01-04 16:37] davvd commented on #496
@yegor256 tag "bug" added

[2016-01-04 16:38] yegor256 commented on #453
@danff don't worry about spending his time :) @longtimeago knows how to manage his time. if he doesn't, it's his fault. you should be as aggressive as possible in making sure **your** personal objectives are achieved. your goal is to earn money in this particular task. you will earn them only when the task is closed. ticket reporter (@longtimeago) is your obstacle. he is sort of "against you" in t

[2016-01-04 16:44] danff commented on #453
@yegor256 Thank you for comments. But my obstacle was not @longtimeago in any way. My obstacle was the "merge" of the PR which took 7-8 days. And to "be as aggressive as possible" also has some limits :)

[2016-01-04 16:48] davvd commented on #485
@carlosmiranda thanks for the report, I topped your acc for 15 mins, payment ID `73824706`

[2016-01-04 16:58] yegor256 commented on #486
@xupyprmv I'm not sure I understand the purpose of this... maybe we need something like `RqValidated`, which will validate the encapsulated request before use:

[code]

Did I understand your idea right?

[2016-01-04 17:06] xupyprmv commented on #486
@yegor256 not only validation. Current version of `RqLive` ignores `Content-Length`. So it reads `InputStream` until end, but after `Content-Length` bytes, there can be second request. So `RqLive`  cannot be used to keep-alive connections.

[2016-01-04 17:27] davvd commented on #491
@simonjenga attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-01-04 17:27] davvd commented on #496
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-01-04 17:27] davvd commented on #450
@danff the task is "done" when it's closed by its author. this task is not done. when @simonjenga closes it, I will consider it done. see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-01-04 17:27] davvd commented on #473
@xupyprmv everything is your fault while you're working with a ticket, see http://at.teamed.io/policy.html#7

[2016-01-04 17:29] HDouss commented on #436
@bdragan PR #494 reviewed and merged. Please close the issue.

[2016-01-04 17:36] davvd commented on #496
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-41a21de5`

[2016-01-04 17:36] danff commented on #450
@davvd But the task can not be done/closed till the PR is merged. And PR was reviewed/merged by @yegor256 in 10 days. And I am penalized because of this??? I did not received any argument why I am penalized here. Only the link to the principles of bug tracking which does not answer my question.

[2016-01-04 17:40] #436 closed

[2016-01-04 17:40] bdragan commented on #436
@HDouss Thanks. Issue closed.

[2016-01-04 19:53] davvd commented on #453
@danff see http://at.teamed.io/policy.html#10 (also, read the entire policy, it will help you understand our principles of work)

[2016-01-04 20:01] yegor256 commented on #486
@xupyprmv so, `RqLive` has a bug, right? it doesn't pay attention to `Content-Length`, but it has to. is it what you're complaining about?

[2016-01-04 20:11] davvd commented on #491
@simonjenga thank you for the ticket reported, I topped your account for 15 mins, transaction `73833946`

[2016-01-04 20:12] danff commented on #453
@davvd So I had to write "waiting for #489 PR to be merged!"? Actually the correct link should be http://at.teamed.io/policy.html#11

[2016-01-04 20:32] xupyprmv commented on #486
@yegor256 Yes, if we want to use RqLive for keep-alive connections we must pay attention to `Content-Length` header.

[2016-01-04 20:40] longtimeago commented on #453
@danff Yes, you can write so, but don't overuse this feature :)

[2016-01-04 20:51] danff commented on #453
@longtimeago But I thought is obvious to wait for the Pull Request to be merged. Or I am missing something?

[2016-01-04 20:55] longtimeago commented on #453
@danff Davvd is a chat-bot, not a human. He checks the issue status and doesn't care whenever PR is submitted or not :)
There are not so many corner cases, you will get used to :)

[2016-01-04 21:06] danff commented on #453
@longtimeago That is nice. But what can I do in the future to avoid such situations, when the Pull request has been made, reviewed, and the last step of merging took 7 days (for one issue) and 10 days (for another ticket), and as a result I have -30 (and another -30 from the second tcket) down rating only because of merging delays? I did not find any answer to this particular situation I am in, ho

[2016-01-04 21:07] exper0 commented on #490
@yegor256 done, I updated ticket description

[2016-01-04 21:11] longtimeago commented on #453
@danff If you see that you stuck on some step because of slow response simply ask Davv "I need more time here" in the issue (not in PR). That's it

[2016-01-04 21:13] danff commented on #453
@longtimeago Thank you for advice. I'll do that in the future.

[2016-01-04 21:17] danff commented on #450
So, as I have been advised:
@davvd "I need more time here" because it took another 10 days to merge a PR for a cosmetic change and now I am waiting for the ticket to be closed or commented.

[2016-01-04 21:18] danff commented on #450
@simonjenga Can the ticket be closed?

[2016-01-04 21:21] longtimeago commented on #453
@danff welcome :)

[2016-01-04 21:51] danff commented on #454
@davvd "Need more time"

[2016-01-05 08:22] HDouss commented on #436
@davvd Issue closed

[2016-01-05 09:13] simonjenga commented on #450
@danff A ticket is only closed if all requirements have been met because once closed, it cannot be opened. So, always be patient :)

I was waiting for #479 to be approved and merged by the Architect.

Closed, OK!

[2016-01-05 09:13] #450 closed

[2016-01-05 10:09] davvd commented on #454
@danff of course, thanks for letting me know, take your time

[2016-01-05 10:19] davvd commented on #492
@yegor256 please do something about this issue

[2016-01-05 13:25] ypshenychka commented on #377
@davvd Quality is acceptable.

[2016-01-05 14:09] yegor256 commented on #490
@exper0 OK, I agree, let's use `Set` and `List` in `header()` and `names()` respectively. Other ideas, about multi-map, please submit in separate tickets. We are trying to use one ticket per problem.

[2016-01-05 14:14] exper0 opened #497 "RqHeaders.Base refactoring"
Currently RqHeaders.Base has following method:

    Map<String, List<String>> map()

What's wrong there:
`ConcurrentHashMap<String, List<String>>`. It's quite bad for maintainablility - not clear why concurrent thread safe collection is used locally (It seems it's just for putIfAbsent method). Also `<String, List<String>>` has multimap semantics. Having this collection as regular Map implementatio

[2016-01-05 14:15] exper0 commented on #490
@yegor256 moved multimap proposal to #497

[2016-01-05 14:16] exper0 commented on #492
@yegor256 I'll be happy to implement it

[2016-01-05 14:30] yegor256 commented on #497
@exper0 what exactly is wrong now? why current implementation is not good enough? see this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken

[2016-01-05 14:30] davvd commented on #490
@exper0 I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-01-05 14:30] davvd commented on #492
@dmzaytsev I set the milestone to 1.0 since there is nothing set yet

[2016-01-05 14:30] davvd commented on #377
@ypshenychka thanks for the review, we'll try better next time

[2016-01-05 14:30] davvd commented on #437
@aschworer please, send this request in Netbout, to @yegor256

[2016-01-05 14:30] davvd commented on #436
@hdouss thanks

[2016-01-05 14:34] yegor256 commented on #486
@xupyprmv can you please update ticket description?

[2016-01-05 14:43] xupyprmv commented on #486
@yegor256 I updated ticket title and description.

[2016-01-05 14:48] davvd commented on #377
@bdragan added 10 mins to @ypshenychka, for QA review, payment code is `73869743`

I just added **30 mins** to your account, many thanks for your contribution (73869763).. 1221 hours and 45 mins spent here

+30 added to your rating, current score is: [+391](http://www.netbout.com/b/35709?open=rating)

[2016-01-05 14:48] davvd commented on #492
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `73869993`

[2016-01-05 14:57] xupyprmv commented on #473
@davvd I need more time for that ticket. PR #484 is on CR and it will be merged soon, because last CR result doesn't contain any significant remarks.

[2016-01-05 14:58] exper0 commented on #497
@yegor256 thank you comment. Rephrased initial ticket, added details.
In further tickets will try to be clearer

[2016-01-05 16:03] davvd commented on #490
@exper0 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-84536016UD845204D`

[2016-01-05 17:12] davvd commented on #453
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-05 17:14] davvd commented on #462
@happy-neko you're working with this issue for 15 days already

-30 added to your rating, at the moment it is: [+98](http://www.netbout.com/b/36136?open=rating)

[2016-01-05 17:21] ypshenychka commented on #453
@davvd Quality is good here.

[2016-01-05 18:59] davvd commented on #453
@ypshenychka thanks!

[2016-01-05 19:10] davvd commented on #453
@danff just added 10 mins to @ypshenychka (for QA), payment ID is `73881114`... thanks, paid, **30 mins** to your account, payment ID is `AP-9AB08469TR470862R`, task took 408 hours and 45 mins to complete... +30 to your rating, your total score is [-60](http://www.netbout.com/b/36198?open=rating)

[2016-01-05 20:11] danff commented on #450
@simonjenga I was already too patient and as a result have my rating -60 because of merge delays. Thank you for closing the ticket.

[2016-01-05 20:51] davvd commented on #436
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-01-06 11:16] davvd commented on #450
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-06 11:21] yegor256 commented on #497
@exper0 we can't use Guava in this problem. are you aware of this? JDK doesn't have a multi map.

[2016-01-06 11:21] yegor256 commented on #486
@xupyprmv thanks, good bug

[2016-01-06 12:01] xupyprmv commented on #473
@davvd This issue is fixed. PR #484 was merged. Please close this ticket if you have no more remarks.

[2016-01-06 12:25] davvd commented on #486
@xupyprmv I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-01-06 12:40] davvd commented on #433
@danff please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-06 12:40] davvd commented on #486
@xupyprmv thank you for reporting this, I added 15 mins to your acc, transaction `AP-9KY705262R3862154`

[2016-01-06 14:02] exper0 commented on #497
@yegor256 I see Apache Commons Collections available in classpath (it has `MultiMap` interface and implemenations). There is no explicit dependency in pom.xml - probably it's available as 3rd party dependency. Do you think we don't need to use it as well?

[2016-01-06 14:05] exper0 commented on #482
@carlosmiranda done, PR #488 was reviewed and close. Please close the ticket

[2016-01-06 14:06] exper0 commented on #481
@carlosmiranda done, PR #487 was reviewed, merged and closed. Please close the ticket

[2016-01-06 20:03] davvd commented on #473
@xupyprmv agreed, take your time

[2016-01-06 20:03] davvd commented on #473
@xupyprmv sure, will do right after the next deployment cycle

[2016-01-06 21:14] HDouss commented on #463
@Happy-Neko PR #478 is reviewed and merged. I will close the issue. Please ask me to do it next time once your PR is merged.

[2016-01-06 21:19] Happy-Neko commented on #463
@HDouss ok

[2016-01-06 21:31] HDouss commented on #486
@yegor256 I don't agree with this. `RqLive` is our basic request implementation. Requests does not have always to specify Content-Length. Typically, GET requests without a body message (which is the most case) don't precise a Content-Length header. Besides, a request could have a chunked message as described [here](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.3) :

Morover, I don't t

[2016-01-06 22:24] HDouss commented on #463
@Happy-Neko I reopened the issue. The PR lacks content-length for `RqFormTest.createsFormRequestWithParams`

[2016-01-06 22:33] HDouss opened #498 "RqMultipart parts should have Content-Length"
RqMultipart implementation decodes HTTP multipart FORM data and breaks (represents) the different parts into separate requests. These requests have bodies but don't precise a content length in the header. Every part should have its proper `Content-Length` header, in order to be treated as a valid request.

[2016-01-06 22:33] HDouss commented on #438
@davvd This issue #498 (besides #463) also blocks me.

[2016-01-07 00:05] Happy-Neko commented on #463
@HDouss what the point of setting `Content-Length` header in this case if created request is not processed anywhere? What behaviour this will test?

[2016-01-07 00:40] carlosmiranda commented on #482
@exper0 thanks!

[2016-01-07 00:40] #482 closed

[2016-01-07 01:58] carlosmiranda commented on #481
@exper0 thanks!

[2016-01-07 01:58] #481 closed

[2016-01-07 03:34] elenavolokhova commented on #436
@davvd Looks good!

[2016-01-07 03:40] elenavolokhova commented on #450
@danff
 According to our [quality rules](http://www.teamed.io/qa.html):

 Two PRs were created for this issue. Please try to follow this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2016-01-07 06:35] xupyprmv commented on #486
@HDouss Ok, we can ignore Content-Length header for GET requests. But we need form not only one `Request` from InputStream. Because stream can contain many requests.

If you move `BkReuse` tests to `BkBasic` you will face with the same problem:

[code]

`BkBasic` will maintain input as one request. But It must maintain two requests and return two responses.

[2016-01-07 07:44] HDouss commented on #463
@Happy-Neko The point is to have a valid request. Every request with no content-length (or chunked) have to be considered as a bodyless request. In that case, the fact that we pass the request to `RqForm.Base` is a form of "processing" it (and we are actually processing it in `RqForm.Base`).

[2016-01-07 07:56] HDouss commented on #486
@xupyprmv It is not about GET requests in particular. We should not consider a request invalid (throw an exception) just because it does not precise a Content-Length header. We should do the following instead : if a request does not precise a Content-Length or a Transfer-Encoding, it should be considered as bodyless. Nothing more than that. For more insight you can see : #438 , #463 and #498.
For

[2016-01-07 08:09] xupyprmv commented on #486
@HDouss I understand your position. But why do we need to move buggy tests? They will not pass anyway (because they are buggy, not the code they test).

[2016-01-07 08:35] xupyprmv commented on #486
@HDouss How about changing this bug description to:

Current version of `RqLive` doesn't pay attention to [message length](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.4), but it has to. For keep-alive connections input stream can contain [several request](https://en.wikipedia.org/wiki/HTTP_persistent_connection).

[2016-01-07 08:36] HDouss commented on #486
@xupyprmv We should move them because they somehow describe requirements. It is good to keep them. Please note that these test are `@Ignore`d for now, so they won't be executed anyway.

[2016-01-07 08:42] HDouss commented on #486
@xupyprmv The link you provided states clearly that not every request should have content-length, but only :

Besides, it clearly states that chunked messages (without Content-Length header) are took into account (2nd point) priorily to Content-Length header (3rd point).

And that exactly what I was trying to say by :

[2016-01-07 08:46] xupyprmv commented on #486
@HDouss Yes.  But it doesn't mean that we must ignore message length. It can be zero, it can be specified by Content-Length, but it must properly maintained by `RqLive`. Am I right?

[2016-01-07 08:53] HDouss commented on #486
@xupyprmv

Current version of RqLive doesn't pay attention to message length, but it has to. For keep-alive connections input stream can contain several requests.

This already a feature of `RqLengthAware` and transitively of `RqPrint` and `RqGeedy`. I think `RqLive` should stay as it is.

[2016-01-07 08:56] HDouss commented on #486
@xupyprmv

Whenever we have to, we have just to wrap `RqLive` inside `RqLengthAware`, `RqGreedy` or `RqLengthAware`. May be it will be part of the work that have to be done in #418.

[2016-01-07 09:31] xupyprmv commented on #486
@HDouss Ok. But when we switch from `RqLive` to `RqLengthAware` we will face with the same problem:

So `RqLengthAware` must return empty stream instead of body for "zero message length" request:

[code]
Otherwise we cannot use stream to process second request.

[2016-01-07 09:39] HDouss commented on #486
@xupyprmv This is exactly the issue stated in #438 (even if it is described differently). The bug is in `RqLengthAware`.

[2016-01-07 10:55] danff commented on #450
@elenavolokhova Everything clear. Thank you.

[2016-01-07 11:36] davvd commented on #436
@elenavolokhova thanks a lot :)

[2016-01-07 11:43] davvd commented on #436
@hdouss paied 10 mins to @elenavolokhova for QA review (payment ID is `73992221`)

**30 mins** was added to your account, many thanks for your contribution (payment 73992225)! The task took 81 hours and 31 mins.

+30 added to your rating, current score is: [+654](http://www.netbout.com/b/36032?open=rating)

[2016-01-07 11:48] elenavolokhova commented on #450
@danff Thanks!

[2016-01-07 11:49] elenavolokhova commented on #450
@davvd  Quality is acceptable here.

[2016-01-07 12:32] davvd commented on #463
@happy-neko this task is in your hands for 15 days already. -30 to your rating, your total score is [+68](http://www.netbout.com/b/36136?open=rating)

[2016-01-07 14:51] yegor256 commented on #497
@exper0 it's in "optional" dependency. we should not use any third-party libraries in "compile" scope.

[2016-01-07 15:04] davvd commented on #450
@elenavolokhova thanks for the review, we'll try better next time

[2016-01-07 15:04] davvd commented on #438
@hdouss right, let's wait for #498

[2016-01-07 15:18] davvd commented on #450
@danff added 10 mins to @elenavolokhova, for QA review, payment code is `73998599`; I just added **30 mins** to your account, many thanks for your contribution (AP-5P373388N0205934W).. 426 hours and 58 mins spent here; +30 added to your rating, at the moment it is: [-30](http://www.netbout.com/b/36198?open=rating)

[2016-01-07 17:09] Happy-Neko commented on #463
@HDouss
Ok. Header added in PR #499.

[2016-01-07 17:25] xupyprmv commented on #486
@HDouss

I don't agree with this. #438 about a bug with empty body. But in this ticket, I speak about keep-alive connection (with several requests in InputStream). Sure we can leave `RqLive` as is. But we still need `Request` wrapper that will correctly process keep-alive connections: `RqLive`, `RqLengthAware` or may be new wrapper.

[2016-01-07 17:31] HDouss commented on #486
@xupyprmv When I said :

I was not commenting the issue, but was commenting :

Please keep the issues separated. Processing keep-alive connection is not the purpose of #456. This issue should not block #456.

[2016-01-07 17:37] xupyprmv commented on #456
@HDouss Can you please update ticket description? I have discussion with you inside #486. I think ticket description must be updated. After that #486 will not block current issue and I can go ahead.

[2016-01-07 17:42] HDouss commented on #456
@xupyprmv Description updated. I added a relevant comment from this issue discussion.

[2016-01-07 17:53] xupyprmv commented on #486
@HDouss I see next line inside issue description:

Is that comment related to current issue?

[2016-01-07 17:54] xupyprmv commented on #456
@HDouss I see next line inside issue description:

Is that comment related to current issue?

[2016-01-07 18:10] HDouss commented on #456
@xupyprmv No. It is a suggestion to let #418 as it is and not to invalidate it (but may be update it).

[2016-01-07 18:50] HDouss commented on #463
@Happy-Neko That's good. Thank you !
It would be better that the value `49` would be calculated from parameter lengthes rather than hard coded.

[2016-01-07 19:37] xupyprmv commented on #486
@yegor256 The main idea of this issue was to have a `Request` that can correctly work with keep-alive connections. After discussion with @HDouss , I want to change issue description to:

[code]
Otherwise we cannot use stream to process second request.

What do you think about that?

[2016-01-07 20:20] davvd commented on #485
@rfqu this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](http:

[2016-01-07 20:44] dmzaytsev opened #502 "the puzzle verification not configured in CI"
Right now CI server doesn't verify puzzles and estimates.
So we see a puzzle's error only if Rultor can't merge PR.
It would be nice to add the verification
see https://github.com/yegor256/netbout/blob/master/.travis.yml

[2016-01-07 21:37] exper0 commented on #497
@yegor256 if you think using any dependencies is not acceptable here let's close the task

[2016-01-07 21:37] #497 closed

[2016-01-07 21:45] Happy-Neko commented on #463
@HDouss done.

[2016-01-08 06:50] HDouss commented on #463
@Happy-Neko The point of :

is that when someday we would want to change the keys or the values in the unit test, we just change the value, we don't have to bother about its length and change the value 49 accordingly. So the change happen only in one place. After your last change I have to change the key (or value), and then change also the `body` variable.

[2016-01-08 12:36] davvd commented on #481
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-08 12:36] davvd commented on #482
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-01-08 13:12] ypshenychka commented on #481
@davvd Quality is good.

[2016-01-08 14:26] davvd commented on #481
@ypshenychka thanks, got it, great to see high-quality tickets here

[2016-01-08 14:38] davvd commented on #481
@exper0 I added 10 mins to @ypshenychka (for QA review) in transaction 74039786

paid, thanks, added **30 mins** to your account, payment `AP-1PR40482MB819742B`, 306 hours and 42 mins was spent

added +30 to your rating, now it is equal to [+165](http://www.netbout.com/b/36185?open=rating)

[2016-01-08 18:00] davvd commented on #473
@yegor256 The task is closed, thanks everybody

[2016-01-08 18:00] #473 closed

[2016-01-08 18:00] davvd commented on #473
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-08 19:27] ypshenychka commented on #473
@davvd Quality is good.

[2016-01-08 20:23] HDouss commented on #430
@yegor256 PR #493 reviewed and merged. Please close the issue.

[2016-01-08 21:51] yegor256 commented on #430
@HDouss thanks!

[2016-01-08 21:51] #430 closed

[2016-01-08 21:51] yegor256 commented on #430
@rultor release, tag is `0.30`

[2016-01-08 21:52] rultor commented on #430
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6251-170138064)

[2016-01-08 23:02] rultor commented on #430
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6251-170138064) (took me 1hr)

[2016-01-08 23:05] danff commented on #454
@davvd waiting for #500 in order to avoid merge conflicts

[2016-01-09 04:32] elenavolokhova commented on #482
@davvd Looks good!

[2016-01-09 10:10] davvd commented on #454
@danff #500 is a pull request, we can't call it an impediment

[2016-01-09 10:10] davvd commented on #473
@ypshenychka thank you

[2016-01-09 10:10] davvd commented on #482
@elenavolokhova thanks a lot ;)

[2016-01-09 10:23] davvd commented on #473
@xupyprmv I added 10 mins to @ypshenychka (for QA review) in transaction 74072046; Much appreciated! **30 mins** was added to your account, payment ID `AP-3SK1209573502924F`, time spent is 458 hours and 56 mins; added +30 to your rating, now it is equal to [+15](http://www.netbout.com/b/35999?open=rating)

[2016-01-09 11:15] HDouss commented on #430
@davvd Issue closed.

[2016-01-09 11:47] danff commented on #454
@davvd waiting for #456 to avoid conflicts

[2016-01-09 13:07] davvd commented on #454
@danff ok, let's wait for #456

[2016-01-09 13:30] davvd commented on #482
@exper0 added 10 mins to @elenavolokhova, for QA review, payment code is `74074894`. **30 mins** sent to your balance (ID `AP-6TX09999M0024681F`), many thanks! It took 312 hours and 17 mins.. +30 added to your rating, current score is: [+195](http://www.netbout.com/b/36185?open=rating)

[2016-01-09 14:32] davvd commented on #480
@happy-neko you're working with this issue for 15 days already... -30 to your rating, your total score is [+38](http://www.netbout.com/b/36136?open=rating)

[2016-01-10 10:17] ekondrashev opened #504 "Response header matcher for string inclusion check"
It would be nice to have matcher to check if particular header contains a string.
We can have additional constructor for `HmRsHeader`, like

[code]

Note that matcher should be inited with non encoded string. Here is example usage

[code]

[2016-01-10 10:27] davvd commented on #430
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-10 10:29] davvd commented on #498
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-10 15:17] ypshenychka commented on #430
@davvd Quality is good.

[2016-01-10 18:12] davvd commented on #430
@ypshenychka thanks a lot :)

[2016-01-10 18:22] davvd commented on #430
@hdouss just added 10 mins to @ypshenychka (for QA), payment ID is `74105723`. Much appreciated! **30 mins** was added to your account, payment ID `74105742`, time spent is 211 hours and 6 mins. +30 to your rating, your total score is [+804](http://www.netbout.com/b/36032?open=rating)

[2016-01-10 18:22] davvd commented on #462
@happy-neko this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, current score is: [-22](http://www.netbout.com/b/36136?open=rating)

[2016-01-10 18:46] Happy-Neko commented on #462
@davvd PR was merged 3 days ago. What exactly do you want me to do?

[2016-01-10 18:47] Happy-Neko commented on #480
@davvd PR was merged 3 days ago. What exactly do you want me to do?

[2016-01-10 20:53] yegor256 commented on #462
@Happy-Neko keep in mind that your result is not a PR, but a closed ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html You may have a dozen of closed/merged pull requests, but the ticket will stay open, until its author closes it.

[2016-01-10 21:10] davvd commented on #502
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-10 21:53] Happy-Neko commented on #462
@yegor256 ok.
@HDouss please review this ticket and close it if problem is solved.

[2016-01-10 21:54] Happy-Neko commented on #480
@carlosmiranda please review this ticket and close it if problem is solved.

[2016-01-10 22:25] Happy-Neko commented on #463
@HDouss done.

[2016-01-10 22:30] HDouss commented on #462
@Happy-Neko Thanks !

[2016-01-10 22:31] HDouss commented on #462
@davvd PR is merged an accepted. Can I close the issue ? Or are you assigning another developer ?

[2016-01-10 22:34] HDouss commented on #463
@Happy-Neko I will close the issue as soon as PR is merged. I suggest you notify PM of need of more time if reviewer is not reactive.

[2016-01-10 23:24] HDouss commented on #463
@Happy-Neko I suggest to notify PM here, not in the PR.

[2016-01-10 23:31] Happy-Neko commented on #463
@HDouss thanks.
@davvd consider increasing time limit until code review is done.

[2016-01-11 00:19] carlosmiranda commented on #480
@Happy-Neko Please link to the PR that solved this, then I can close it. Thanks

[2016-01-11 04:26] Happy-Neko commented on #480
@carlosmiranda PR https://github.com/yegor256/takes/pull/483.

[2016-01-11 08:09] carlosmiranda commented on #480
@Happy-Neko looks good, thanks!

[2016-01-11 08:09] #480 closed

[2016-01-11 10:23] yegor256 commented on #502
@dmzaytsev fixed in 3e6e836 thanks!

[2016-01-11 10:23] #502 closed

[2016-01-11 12:27] piotrkot opened #505 "Basic access authentication"
Could you please provide a sample of [basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)?
What I am trying to do is an authenticating/secure resource. Initial access should result in server response with header "WWW-Authenticate: Basic realm...", that is prompt for credentials.
Provided correct credentials, it should be shown the resource.
It seems the below does the

[2016-01-11 13:20] davvd commented on #490
@rultor @exper0 please look at this issue, rultor closed it automatically

[2016-01-11 13:21] davvd commented on #498
@hdouss since the ticket has no milestone I set it to 1.0

[2016-01-11 13:21] davvd commented on #462
@hdouss legally, this ticket is not yours any more, since you ran out of time. let's ask @yegor256 to take a look

[2016-01-11 13:21] rultor commented on #490
@davvd I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-01-11 13:24] HDouss commented on #462
@davvd I am the author of the issue, not the one who resolved it. Since the PR was accepted, I am asking if I can close the issue, or if you will assign another performer.

[2016-01-11 13:26] exper0 commented on #490
@davvd @aliceice looks good, thanks

[2016-01-11 13:28] yegor256 commented on #462
@HDouss close the issue, if it's fixed

[2016-01-11 13:29] #462 closed

[2016-01-11 13:37] davvd commented on #498
@hdouss many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `74137078`

[2016-01-11 14:35] #490 closed

[2016-01-11 16:07] davvd commented on #491
@xupyprmv the task is yours, please go ahead

[2016-01-11 19:06] xupyprmv commented on #491
@simonjenga I think that closing stream inside `org.takes.rq.RqMultipart.Base.copy` is not obvious. `body` is used as a container to provide chunk of original request body to `buildRequests` method. So, may be close `body` after it is processed by `buildRequests` method? Also, I think, we must close stream if any error occurs. What do you think about next variant?

[code]

[2016-01-12 03:48] Happy-Neko commented on #463
@HDouss PRs merged.
Please close the ticket if everything is ok.

[2016-01-12 03:49] Happy-Neko commented on #480
@davvd ticket is closed.

[2016-01-12 07:11] HDouss commented on #463
@Happy-Neko Thanks.

[2016-01-12 07:11] #463 closed

[2016-01-12 08:05] simonjenga opened #506 "BkTimeableTest fails intermittently"
```./takes>mvn -o test```

Sometimes ```org.takes.http.BkTimeableTest``` fails and sometimes it passes. It should be fixed.

[code]

[2016-01-12 08:20] simonjenga commented on #491
@xupyprmv The suggested fixes or ideas in tickets may not always be correct or accurate. Feel free to express your own fixes or ideas.

Yes, we should close it in the finally block:
[code]

Also, please remove these unnecessary warnings in the two final constant fields in that class:
``` @SuppressWarnings("PMD.UnusedPrivateField") ```

[2016-01-12 10:34] davvd commented on #480
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-12 10:35] davvd commented on #438
@bdragan we were waiting for #463 - it is closed already

[2016-01-12 10:37] ypshenychka commented on #480
@davvd Quality is good here.

[2016-01-12 12:41] davvd commented on #480
@ypshenychka thanks a lot

[2016-01-12 12:48] davvd commented on #480
@happy-neko paied 10 mins to @ypshenychka for QA review (payment ID is `74444782`); Thanks for your contribution, **30 mins** was added to your account, payment ID is `74444794`, 403 hours and 42 mins spent total; added +30 to your rating, now it is equal to [+38](http://www.netbout.com/b/36136?open=rating)

[2016-01-12 12:48] davvd commented on #486
@happy-neko the task is yours, please go ahead

[2016-01-12 12:48] davvd commented on #492
@exper0 the task is yours plz proceed

[2016-01-12 13:35] HDouss commented on #438
@davvd waiting also for #498.

[2016-01-12 15:43] davvd opened #508 "RqHeaders.java:93-98: We need to implement a..."
Puzzle `490-c74fee69` in `src/main/java/org/takes/rq/RqHeaders.java:93-98` has to be resolved: We need to implement a VerboseList and its tests like VerboseIterable. It should provide means to throw an exception with a given error message when it otherwise throws an IndexOutOfBoundsException. With this we must wrap the returned list otherwise the diagnostic messages are lost: https://github.com/ye

[2016-01-12 15:44] davvd commented on #490
@exper0 once `490-c74fee69`/#508 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-01-12 16:46] exper0 commented on #492
@davvd it's done in PR #507, please assign reviewer

[2016-01-12 16:53] Happy-Neko commented on #486
@xupyprmv Ticket description and following discussion is confusing.
Please confirm final specifications of this issue:

* What class should be modified.
* What is expected behaviour and how it is different from current situation.

[2016-01-12 17:20] xupyprmv commented on #486
@Happy-Neko  I think @yegor256, as architect, have to clarify this ticket.

@yegor256 Is current ticket description is valid (according to `takes` architecture) and must be implemented as is? After discussion with @HDouss I think that we must use `RqLengthAware` class to work with keep-alive connections.

[2016-01-12 17:20] davvd commented on #508
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-01-12 17:24] HDouss commented on #486
@xupyprmv IMHO, the issue is not about keep-alive connection in particular. It is about properly reading a request body message in general. And if it is done here, it will be a duplicate of #438 because the resolution will be the same.

[2016-01-12 18:34] davvd commented on #492
@exper0 OK, sure

[2016-01-13 10:07] davvd commented on #438
@hdouss OK, let's wait for #498

[2016-01-13 10:18] davvd commented on #504
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-13 12:10] davvd commented on #463
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-13 12:16] ypshenychka commented on #463
@davvd Quality is good here.

[2016-01-13 14:20] davvd commented on #463
@ypshenychka thank you

[2016-01-13 14:53] davvd commented on #463
@happy-neko 10 mins was added to the account of @ypshenychka (for QA review), in transaction 74525927. Thanks so much! Your account was topped up for **30 mins** (transaction ID is `74525954`, the task took 478 hours and 18 mins). +30 added to your rating, at the moment it is: [+68](http://www.netbout.com/b/36136?open=rating)

[2016-01-13 14:53] davvd commented on #508
@happy-neko it's yours, please go ahead

[2016-01-14 02:52] yegor256 commented on #504
@ekondrashev I didn't understand what exactly is missing now?

[2016-01-14 03:03] yegor256 commented on #486
@xupyprmv as @HDouss pointed already, let's try to keep issues/problems separately. Moreover, keep in mind that we won't help you solve problems of other tickets in this ticket. We will resolve the problem you specify here and only this problem. Whether it will help you solve other problems in other tickets - is not our concern here. Having this in mind, can you explain again what is wrong right n

[2016-01-14 04:19] yegor256 opened #509 "Xembly 0.22"
Let's use latest version of Xembly

[2016-01-14 04:19] #509 closed

[2016-01-14 04:46] xupyprmv commented on #486
@Happy-Neko This ticket is invalid. There is already class `RqLengthAware` that pays attention to Content-Length header. Nothing to do here.

[2016-01-14 05:16] yegor256 commented on #509
@rultor release, tag is `0.31`

[2016-01-14 05:16] rultor commented on #509
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6353-171533935)

[2016-01-14 05:27] yegor256 commented on #486
@xupyprmv just close it please

[2016-01-14 06:10] #486 closed

[2016-01-14 07:17] rultor commented on #509
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6353-171533935) (spent 2hr)

[code]

[2016-01-14 07:22] yegor256 commented on #509
@rultor release, tag is `0.31`

[2016-01-14 07:23] rultor commented on #509
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6353-171560639)

[2016-01-14 09:24] rultor commented on #509
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6353-171560639) (spent 2hr)

[code]

[2016-01-14 12:23] davvd commented on #456
@hdouss we were waiting for #486 - it is closed already

[2016-01-14 13:02] xupyprmv commented on #456
@davvd I need more time here. I'm waiting for final merge in #500

[2016-01-14 13:31] ekondrashev commented on #504
@yegor256 Currently there is no possibility to check if header contains a substring.
Direct match for the header name does not work since it may include some dynamics. Moreover, it is not always relevant to check particular header name, just verify that there is a substring available for the header

[2016-01-14 14:05] yegor256 commented on #509
@rultor release, tag is `0.31`

[2016-01-14 14:05] rultor commented on #509
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6353-171652274)

[2016-01-14 14:28] davvd commented on #456
@xupyprmv of course, thanks for letting me know, take your time

[2016-01-14 14:39] davvd commented on #505
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-14 14:50] piotrkot commented on #505
@davvd I see but please explain where I can get help with using the framework. I thought this is the way to ask for clarification.

[2016-01-14 15:17] rultor commented on #509
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6353-171652274) (took me 1hr)

[2016-01-14 16:42] yegor256 commented on #505
@piotrkot thanks for reporting. if something is not clear, it's definitely a bug. I will update our documentation now.

[2016-01-14 19:47] davvd commented on #495
@rajithd can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-15 00:38] yegor256 commented on #504
@ekondrashev how about this:

[code]

[2016-01-15 06:20] xupyprmv commented on #456
@HDouss PR #500 was merged. Please, close this ticket.

[2016-01-15 07:22] piotrkot commented on #505
@yegor256 Thanks. Perhaps I could rephrase it to, say, Basic access authentication is not possible unless you prove with example otherwise. :)

[2016-01-15 07:27] simonjenga opened #510 "java.lang.NoClassDefFoundError: Could not initialize class"
```./takes>mvn clean package```

[code]

[2016-01-15 08:48] #456 closed

[2016-01-15 08:48] HDouss commented on #456
@xupyprmv Thanks.

[2016-01-15 14:28] exper0 opened #511 "RqLengthAware and absent Content-Length"
I found that RqLengthAware request doesn't handle situation when there is no Content-Length header in request(this is typical for GET requests since usually there is no body). RqLengthAware  just returns original socket stream that leads to the situation when application wrap original request with RqLengthAware and expects that it does that it offers - aware the length of the body. Simply speaking

[2016-01-15 16:01] exper0 commented on #498
@yegor256 @davvd ready to implement.

[2016-01-15 16:32] yegor256 commented on #498
@davvd assign @exper0 to this task pls

[2016-01-15 16:41] exper0 opened #512 "RqMultipart.base doesn't close file descriptors"
RqMultipart doesn't close File stream after creating [tempory file](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/rq/RqMultipart.java#L235)

This is causing following error in case of extensive using RqMultipart:

[code]

I'd also not rely on File.deleteOnExit method (it's strange for server-side applications) - temporary file should be removed right away

[2016-01-15 16:50] Happy-Neko commented on #508
@davvd Please proceed with code review (PR #513).

[2016-01-15 20:33] davvd commented on #498
@yegor256 OK @exper0 please start, the task is yours

[2016-01-15 20:33] davvd commented on #508
@happy-neko will check it soon, thanks

[2016-01-15 20:41] davvd commented on #418
@yegor256 #456 is closed, it was an impediment

[2016-01-15 20:41] davvd commented on #454
@hdouss FYI, issue #456 is already closed, and we were waiting for it..

[2016-01-15 20:41] davvd commented on #496
@rajithd this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-15 20:42] davvd commented on #506
@yegor256 please do something about this issue

[2016-01-15 21:42] HDouss commented on #418
@davvd I am still waiting for #454 here.

[2016-01-15 22:41] kjuby8709gsome opened #516 "RqSocket getLocalAddress and getRemoteAddress can throw UnknownHostException"
BkBasic puts headers X-Takes-LocalAddress and X-Takes-RemoteAddress with slashes '/':
[code]
Thats why RqSocket getLocalAddress and getRemoteAddress throws an exception:
[code]

environment:
java version "1.8.0_66"
Java(TM) SE Runtime Environment (build 1.8.0_66-b17)
Java HotSpot(TM) Server VM (build 25.66-b17, mixed mode)

[2016-01-15 23:56] exper0 opened #517 "Let's turn on findbugs"
Currently it's excluded in [qulice configuration](https://github.com/yegor256/takes/blob/master/pom.xml#L310). Why is it?

<hr id='w'>

[2016-01-16 09:33] davvd commented on #506
@simonjenga milestone set to `1.0` (correct me if I am wrong)

[2016-01-16 09:33] davvd commented on #418
@hdouss agreed, we'll wait for #454

[2016-01-16 09:34] davvd opened #519 "BkBasicTest.java:57-60: At the moment we don't..."
Puzzle `306-b987400a` in `src/test/java/org/takes/http/BkBasicTest.java:57-60` has to be resolved: At the moment we don't support HTTP persistent connections. Would be great to implement this feature. BkBasic.accept should handle more than one HTTP request in one connection.... The puzzle was created by Maksimenko Vladimir on 11-Jan-2016.

If you have any technical questions, don't ask me, submit

[2016-01-16 09:42] davvd commented on #506
@rajithd can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-16 09:42] davvd commented on #519
@ddaanniieell01 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-16 09:43] davvd commented on #506
@simonjenga many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `74654376`

[2016-01-16 11:04] ekondrashev commented on #504
@yegor256 it says to me
[code]

[2016-01-16 11:33] davvd commented on #519
@yegor256 there is no milestone yet, so I set it to `1.0`

[2016-01-16 13:02] exper0 opened #520 "HmRqHeader: Very confusing error message"
[HmRqHeader](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/hamcrest/HmRqHeader.java) produces very confusing error message in case of mismtach:

[code]

Let's make it readable, e.g. something like:
[code]

Ideally HmRqHeader implementation it should be very similar to [HmRsHeader](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/hamcrest/H

[2016-01-16 13:53] exper0 opened #521 "HmRqHeader refactoring"
Right now [HmRqHeaders](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/hamcrest/HmRqHeader.java) accepts HTTP headers only in lower case, that leads to the situation when I have to write "content-legth" instead of "Content-Legth" and "accept" instead of "Accept".

Let's refactor HmRqHeader in such a way that it can:
1) Get header name and value and matches it case-ins

[2016-01-17 10:19] davvd commented on #418
@yegor256 The issue is closed

[2016-01-17 10:19] #418 closed

[2016-01-17 10:19] davvd commented on #418
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-01-17 10:19] davvd commented on #456
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-17 10:25] HDouss commented on #418
@davvd This issue is not resolved yet. The puzzle description have just moved from `BkReuseTest` to `BkBasicTest` because `BkReuseTest` is deleted and we get rid of it. But the issue is still unresolved.

[2016-01-17 10:50] danff commented on #454
@davvd need more time for the PR #518 to be merged

[2016-01-17 11:46] HDouss commented on #418
@davvd The puzzle here is the same as in #519. It was just moved. I worked on this issue for a long time, so why closing it and open another (same) one ?

[2016-01-17 11:46] HDouss commented on #418
@yegor256 Could you please help here ?

[2016-01-17 13:21] ypshenychka commented on #456
@davvd Quality is good.

[2016-01-17 15:16] davvd commented on #456
@ypshenychka thank you

[2016-01-17 15:46] davvd commented on #456
@xupyprmv added 10 mins to @ypshenychka, for QA review, payment code is `74687392`. Thanks a lot, I just topped your account for **45 mins**, transaction ID `AP-8G752125HJ053240A`, total time was 32 hours and 9 mins. m=1929, that's why a bonus here for fast delivery. +45 to your rating, your total score is [+60](http://www.netbout.com/b/35999?open=rating)

[2016-01-17 17:15] davvd commented on #454
@danff yeah, I know, take your time

[2016-01-17 18:05] HDouss commented on #511
@exper0 The issue is already adressed here : #438

[2016-01-17 18:27] exper0 commented on #511
@HDouss thanks, I already found that issue and already implemented #498 that is a blocker for #438

[2016-01-17 18:28] HDouss commented on #511
@exper0 Thanks. So do you agree that this one is a duplicate of #438 ?

[2016-01-17 18:32] exper0 commented on #511
@HDouss yes. Should I close it?

[2016-01-17 18:36] HDouss commented on #511
@exper0 I think so.

[2016-01-17 18:37] #511 closed

[2016-01-18 08:10] dmzaytsev opened #522 "PsGithub doesn't handle an error from Github"
PsGithub throws `com.jcabi.xml.ListWrapper$NodeNotFoundException` when the access token doesn't exist in the response from Github see https://github.com/yegor256/netbout/issues/933
I think PsGithub should handles an error from Github properly
https://developer.github.com/v3/oauth/#bad-verification-code

at com.jcabi.xml.ListWrapper.get(ListWrapper.java:153)
at org.takes.facets.auth.social.PsGithub

[2016-01-18 10:50] davvd commented on #510
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-18 11:17] exper0 commented on #254
@yegor256 @davvd It seems this is not fixed. I encounter a lot of problems(hundreds of thousands temporary files) because of this issue. Also it leads to bugs in Netbout in production. There are too much time since last update on this issue, maybe it's worth reassigning it.

[2016-01-18 12:55] danff commented on #433
@davvd Need more time here

[2016-01-18 13:46] exper0 opened #523 "Let's update year in the header"
Right now headers contains
[code]

It's 2016 already, worth updating

[2016-01-18 14:47] davvd commented on #433
@danff agreed, take your time

[2016-01-18 17:36] rfqu opened #524 "many implementations of org.takes.Response#body ignore charset"
HTTP response header usually has content-type header value with definition of charset. This charset must be taken into account when characters of the body are converted to bytes using the body() method.
But most (if not all) implementations of this method uses default charset, not that defined in the header.
This can happen indirectly, like in constructor

[code]

Here getBytes() use default chars

[2016-01-18 17:37] rfqu commented on #485
I am almost done, but one of new tests fails because of the issue #524.

[2016-01-18 17:46] HDouss commented on #418
@davvd Ping

[2016-01-18 22:11] yegor256 commented on #418
@HDouss it looks like the puzzle is gone and a new one showed up. you can check `PUZZLES.md` file in the root directory for a full list of puzzles currently active. yours is there?

[2016-01-18 22:13] yegor256 commented on #485
@rfqu keep in mind that you should address your messages to someone, by starting them with the name of the person you're talking to. otherwise, it's just noise, nobody will pay attention to what you're saying. check this out: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#4.-avoid-noise-—-address-your-comments

[2016-01-18 22:20] yegor256 commented on #254
@exper0 make sense, thanks

[2016-01-18 22:20] yegor256 commented on #254
@Bertram25 are you planning to finish this one or we should re-assign?

[2016-01-18 22:28] yegor256 commented on #510
@simonjenga how can I reproduce it? it builds fine on my machine, on Travis and on Appveyor.

[2016-01-19 00:17] yegor256 commented on #504
@ekondrashev it's a well-known problem with Hamcrest, this one should work:

[code]

[2016-01-19 00:20] yegor256 commented on #517
@exper0 let's try to turn turn them on...

[2016-01-19 00:21] yegor256 commented on #516
@kjuby8709gsome thanks for reporting, we'll try to fix soon!

[2016-01-19 06:30] rajithd commented on #506
@simonjenga couldn't reproduce the issue. Tried many ways to reproduce (mvn -o test, mvn clean install, mvn test,  mvn -Dtest=BkTimeableTest test) but all the test cases were passed without any issue. I'm suspecting this may related to OS because I'm using Ubuntu and based on the log you are using windows. Is there any additional steps for this ?

[2016-01-19 07:27] HDouss commented on #418
@yegor256 It is gone because BkReuseTest class was removed, but the issue is still here.

[2016-01-19 08:18] rajithd commented on #496
@davvd I'm not sure what do I need to do in here ? Because this task is already done (Adding `RsWithType.HTML`,`RsWithType.JSON`, `RsWithType.XML`, `RsWithType.Text`) ?

[2016-01-19 09:24] davvd commented on #516
@kjuby8709gsome I am aware of the task, give me some time to find a developer...

[2016-01-19 09:24] davvd commented on #517
@exper0 we will find someone to do this task, soon

[2016-01-19 09:24] davvd commented on #516
@kjuby8709gsome I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-01-19 09:24] davvd commented on #517
@exper0 there is no milestone yet, so I set it to `1.0`

[2016-01-19 09:47] davvd commented on #516
@alexey-krylov can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-19 09:47] davvd commented on #517
@ddaanniieell01 could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-19 09:47] davvd commented on #517
@exper0 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-3LR38608T1136251D`

[2016-01-19 10:02] alexey-krylov commented on #516
@davvd I'm still in progress of XDSD learning, but i'm ready to fix this.
I think problem inside BkBasic, slash should be removed.

[2016-01-19 11:25] exper0 commented on #498
@HDouss it's in PR #515. Please close the ticket.

[2016-01-19 11:29] alexey-krylov commented on #516
@davvd, quality analyzers bans my commit. I will setup IDE some time later.

[2016-01-19 14:04] davvd commented on #437
@aschworer check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

added -30 to your rating, now it is equal to

[2016-01-19 14:05] davvd commented on #520
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-19 14:05] davvd commented on #521
@yegor256 please do something about this issue

[2016-01-19 15:54] dmzaytsev commented on #516
@alexey-krylov I hope it will help

    $ mvn clean install -Pqulice

https://github.com/yegor256/takes#how-to-contribute

[2016-01-19 16:01] Bertram25 commented on #254
@yegor256 IMHO, you should reassign as I don't have any time for such tasks atm. (Very sorry about it.)

[2016-01-19 16:26] alexey-krylov commented on #516
@dmzaytsev, thanks.

[2016-01-19 18:06] HDouss commented on #498
@exper0 Thanks.

[2016-01-19 18:06] #498 closed

[2016-01-19 18:44] yegor256 commented on #418
@HDouss so, this issue will be fixed in a new ticket. we work with micro-tasks, remember that. we can't solve all together in one ticket. if the puzzle is gone, the problem is gone. period.

[2016-01-19 18:46] yegor256 commented on #254
@davvd please, assign someone else here

[2016-01-19 18:47] davvd commented on #496
@rajithd you should always address your technical comments to the author of the ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-01-19 18:47] davvd commented on #516
@alexey-krylov you have to address your technical questions to the ticket author or project architect (@yegor256)

[2016-01-19 18:55] davvd commented on #438
@bdragan FYI, the issue we were waiting for (#498) is fixed

[2016-01-19 19:24] HDouss commented on #418
@yegor256 This puzzle is not gone. he has just "moved" (and somehow reformulated) from BkReuseTest to BkBasicTest.

[2016-01-19 19:50] davvd commented on #520
@exper0 since the ticket has no milestone I set it to 1.0

[2016-01-19 19:50] davvd commented on #254
@yegor256 right, I will find someone else, no problem

[2016-01-19 20:03] davvd commented on #520
@exper0 thanks for the ticket, your account was topped for 15 mins, payment AP-4EN851327Y2243444

[2016-01-19 21:10] exper0 commented on #254
@yegor256 @davvd I can finish this

[2016-01-19 21:12] davvd commented on #254
@alexey-krylov can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-20 01:22] rajithd commented on #496
@yegor256 These types were already added in the below PR.
https://github.com/yegor256/takes/pull/501
Do I need to do any additional thing here ? Please clarify.

[2016-01-20 01:42] yegor256 commented on #496
@rajithd indeed, it's solved already, I'm closing

[2016-01-20 01:42] #496 closed

[2016-01-20 01:48] yegor256 commented on #418
@HDouss that's the thing - if it's "reformulated", it's a different puzzle. our puzzle detecting software can't understand whether it's the same problem or a different one. it only checks the text.

[2016-01-20 02:23] danff commented on #454
@HDouss The PR has been merged. Can the ticket be reviewed and closed?

[2016-01-20 08:08] exper0 commented on #523
@yegor256 what about this issue? There is even PR #528 already.

[2016-01-20 08:37] HDouss commented on #418
@yegor256 Ok. Let's forget about it.

[2016-01-20 08:41] HDouss commented on #454
@danff Thanks.

[2016-01-20 08:41] #454 closed

[2016-01-20 09:16] ypshenychka commented on #418
@HDouss So will there be a related fix in scope of this ticket?

[2016-01-20 09:20] HDouss commented on #418
@ypshenychka No, I don't think it has any sens.

[2016-01-20 09:22] ypshenychka commented on #418
@HDouss got it. Thanks.

[2016-01-20 09:22] ypshenychka commented on #418
@davvd Quality is bad here.

[2016-01-20 09:49] davvd commented on #517
@alexey-krylov this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/d

[2016-01-20 11:33] davvd commented on #418
@ypshenychka thank you for paying attention

[2016-01-20 11:41] exper0 commented on #224
@ikhvostenkov @yegor256 interesting discussion. For sure having too much object can be a problem, I also saw cases when it's a problem (GC time is about 40%-60% or more of all CPU time). However, following should be taken into account:
1) Performance requirements or actual/planned load (already mentioned)
2) The amount of memory available for the application. Having very big reserve of free heap s

[2016-01-20 11:43] davvd commented on #418
@hdouss 10 mins was added to the account of @ypshenychka (for QA review), in transaction 75134863

[2016-01-20 13:20] alexey-krylov commented on #517
@davvd ok, i take this task.

[2016-01-20 13:22] alexey-krylov commented on #254
@davvd sorry, i think i have not enough knowledge of 'takes' to fix that in this time. Find someone else please.

[2016-01-20 19:12] davvd commented on #498
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-01-20 20:12] danff commented on #433
@yegor256 The PR was merged. Can the ticket be reviewed and closed?

[2016-01-20 20:17] yegor256 commented on #433
@danff thanks!

[2016-01-20 20:17] #433 closed

[2016-01-20 20:19] yegor256 commented on #433
@rultor release, tag is `0.31.1`

[2016-01-20 20:20] rultor commented on #433
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6476-173347979)

[2016-01-20 21:29] rultor commented on #433
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6476-173347979) (spent 1hr)

[code]

[2016-01-20 22:17] yegor256 commented on #433
@rultor release, tag is `0.31.1`

[2016-01-20 22:18] rultor commented on #433
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6476-173379820)

[2016-01-20 22:23] rultor commented on #433
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6476-173379820) (took me 4min)

[2016-01-21 09:31] davvd commented on #522
@yegor256 please dispatch this issue

[2016-01-21 11:46] davvd commented on #454
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-21 11:47] davvd commented on #520
@happy-neko the task is yours please proceed

[2016-01-21 11:48] davvd commented on #512
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-21 12:12] krzyk opened #530 "Old qulice is being used"
Right now takes project uses qulice from jcab-parent, which is 0.14, but the newest one is 0.15.4.
This new release comes with new checks that can help with the review process (e.g. CascadingIndentationCheck or NonStaticMethodCheck).

[2016-01-21 13:23] elenavolokhova commented on #498
@davvd Quality is good here.

[2016-01-21 14:58] exper0 commented on #254
@davvd let me finish it.

[2016-01-21 14:58] davvd commented on #498
@elenavolokhova thanks a lot

[2016-01-21 15:08] davvd commented on #498
@exper0 added 10 mins to @elenavolokhova, for QA review, payment code is `75194737`. **30 mins** added to your account (payment number `AP-6PU46825X3051613C`), many thanks for your contribution! 94 hours and 12 mins spent here.. +30 to your rating, your total score is [+421](http://www.netbout.com/b/36185?open=rating)

[2016-01-21 16:12] elenavolokhova commented on #454
@davvd Looks good!

[2016-01-21 18:09] davvd commented on #530
@krzyk I will find a developer for the task soon...

[2016-01-21 18:09] davvd commented on #530
@krzyk I set milestone here to `1.0`, let me know if it is wrong

[2016-01-21 18:10] davvd commented on #454
@elenavolokhova thanks for the review and a good remark

[2016-01-21 18:18] davvd commented on #454
@danff paied 10 mins to @elenavolokhova for QA review (payment ID is `75203151`); I added **30 mins** to your account, many thanks for working with the project (AP-0NK41875RE488925R)! The completion time here was 108 hours and 54 mins.; +30 to your rating, your total score is [+0](http://www.netbout.com/b/36198?open=rating)

[2016-01-21 18:18] davvd commented on #530
@exper0 please proceed, it's yours

[2016-01-21 18:19] davvd commented on #530
@krzyk thank you for reporting this, I added 15 mins to your acc, transaction `75203237`

[2016-01-21 18:19] davvd commented on #524
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-21 19:36] davvd commented on #254
@alexey-krylov deducted 30 from your rating :(

[2016-01-21 19:36] davvd commented on #254
@alexey-krylov all right, we'll find someone else for this task

[2016-01-21 19:36] davvd commented on #254
@exper0 you should ask @yegor256 to assign you, he is the architect (I assign developers randomly, always)

[2016-01-21 19:36] davvd commented on #517
@alexey-krylov thanks

[2016-01-21 19:46] davvd commented on #519
@exper0 it's yours,please go ahead

[2016-01-21 20:12] exper0 commented on #530
@krzyk do you think we need just to update version of qulice and leave version of jcabi-parent as is?

[2016-01-21 20:58] davvd commented on #254
@exper0 the task is yours please proceed

[2016-01-21 21:08] alexey-krylov commented on #516
@davvd how can i close this issue?

[2016-01-21 21:08] alexey-krylov commented on #516
@kjuby8709gsome issue is fixed. Closing?

[2016-01-21 21:37] krzyk commented on #530
@exper0 you can report this upgrade to jcabi-parent, but qulice will always be ahead, so I would add version here. Waiting for parent will add unnecessary overhead.

[2016-01-21 22:28] alexey-krylov commented on #517
@yegor256 FindBugs found ~50 errors in Takes. Most of them related to String-from-bytes construction without charset:
[code]

I propose three options:
1. Use StandardCharsets.UTF_8 everywhere. This option requires to change minimum supportable JDK to 1.7.
2. Use constant "UTF-8" everywhere (make it public static).
3. Suppress this FindBugs check

Please suggest with selection. I don't know Takes p

[2016-01-22 06:59] kjuby8709gsome commented on #516
@alexey-krylov yep, thanks!

[2016-01-22 06:59] #516 closed

[2016-01-22 09:08] alexey-krylov commented on #517
@yegor256, @exper0  one more question - what result expected with resolution of this issue: "enabled FindBugs" or "enabled FindBugs + code matched its checks"?

[2016-01-22 09:10] alexey-krylov commented on #516
@davvd issue is closed. Check pls.

[2016-01-22 10:05] davvd commented on #433
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-01-22 10:36] exper0 commented on #517
@alexey-krylov Ideally you should enable findbugs and fix issues it causes. If there are too many issue you need to fix at least some of them and exclude the remaining issues from check (using specific exclude filters). Also you need to create puzzle to for the other developer to fix the remaining issues (see http://www.yegor256.com/2009/03/04/pdd.html)

[2016-01-22 10:36] ypshenychka commented on #433
@danff
According to our [QA Rules](http://www.teamed.io/qa.html):

Please provide a link to corresponding PR in any of your messages.

[2016-01-22 10:57] danff commented on #433
@ypshenychka Sure. PR #525 has been created for this ticket and merged.

[2016-01-22 11:10] alexey-krylov commented on #517
@exper0 most of issues related to 'new String(byte[])' construct. What do you think about best solution here?

[2016-01-22 11:55] davvd opened #533 "BkBasicTest.java:67-68: It will be nice to..."
Puzzle `516-c8aa6c8f` in `src/test/java/org/takes/http/BkBasicTest.java:67-68` has to be resolved: It will be nice to refactor tests with Socket usage and replace them to real statements. See usage of BkBasicTest.createMockSocket.... The puzzle was created by lexx on 21-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the proble

[2016-01-22 11:56] davvd commented on #516
@kjuby8709gsome these 2 puzzles were created in this ticket: `516-c8aa6c8f`/#533, `516-ffc97ad1`

[2016-01-22 12:06] davvd commented on #533
@exper0 please proceed, it's yours

[2016-01-22 12:50] ypshenychka commented on #433
@danff Thank you.

[2016-01-22 12:50] ypshenychka commented on #433
@davvd Quality is acceptable.

[2016-01-22 14:29] davvd commented on #533
@yegor256 since the ticket has no milestone I set it to 1.0

[2016-01-22 14:29] davvd commented on #433
@ypshenychka thank you, let's try to make it "good" next time

[2016-01-22 14:29] davvd opened #534 "BkBasicTest.java:69-71: Move header names from BkBasic..."
Puzzle `516-ffc97ad1` in `src/test/java/org/takes/http/BkBasicTest.java:69-71` has to be resolved: Move header names from BkBasic to public constants. Reusable header names will help in many situations. For example - in new integration tests.... The puzzle was created by lexx on 21-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" whe

[2016-01-22 14:48] davvd commented on #433
@danff 10 mins was added to the account of @ypshenychka (for QA review), in transaction 75241353... I just added **30 mins** to your account, many thanks for your contribution (AP-4FK41357G3450951H).. 356 hours and 38 mins spent here... +30 to your rating, your total score is [+30](http://www.netbout.com/b/36198?open=rating)

[2016-01-22 14:48] davvd commented on #534
@danff the task is yours,please go ahead

[2016-01-22 15:42] davvd commented on #534
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-01-22 16:13] exper0 commented on #492
@davvd it seems @yegor256 is too busy for the further review so the time on this task can be overdue.

[2016-01-22 17:44] xupyprmv commented on #491
@davvd I need more time for this ticket. I'm waiting for CR in #514. I think it will be merged soon, because I already resolve all remarks according to CR.

[2016-01-22 17:56] danff commented on #534
@davvd PR #537 for this issue created.

[2016-01-22 20:20] exper0 commented on #533
@yegor256 @dmzaytsev @lexx what should I do here? I do not understand the task. What does "real statements" means?

[2016-01-22 21:41] mkordas opened #540 "Improve Javadoc in RsFlash"
I see couple of improvements that could be made for users of `RsFlash` class in [its Javadoc](http://www.takes.org/apidocs-0.27/org/takes/facets/flash/RsFlash.html):
* describe better what is "flash mechanism"
* provide more description than just "Ctor."  for constructors with `Throwable` - focus mainly on how exception will be converted to text
* Provide information why it's better to use default

[2016-01-23 03:41] yegor256 commented on #533
@exper0 I think that we should get rid of mocking here, since it's a bad thing in general, see http://www.yegor256.com/2014/09/23/built-in-fake-objects.html

[2016-01-23 03:54] yegor256 commented on #517
@alexey-krylov let's upgrade to Java 7

[2016-01-23 04:20] yegor256 commented on #512
@exper0 looks like a duplicate of https://github.com/yegor256/takes/issues/254 isn't it?

[2016-01-23 08:55] HDouss commented on #438
@bdragan PR #527 reviewed and merged. Please close the issue.

[2016-01-23 10:27] davvd commented on #534
@danff thanks

[2016-01-23 10:56] davvd commented on #516
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-23 10:58] davvd commented on #485
@rfqu the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. added -30 to your rating, now it is equal to [-30](http://www.netbou

[2016-01-23 10:58] davvd commented on #523
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-23 15:36] dmzaytsev opened #542 "RsFlash doesn't allow to set the expiration time for the cookie"
Right now RsFlash doesn't allow to set the expiration time for the cookie
Default expiration time is one hour and it's hard-coded.

[code]

It would be great to be able to set the expiration time for the cookie

[2016-01-23 15:43] dmzaytsev commented on #354
@yegor256 It seems this ticket needs to be reassigned

[2016-01-23 16:01] elenavolokhova commented on #516
@davvd Looks good!

[2016-01-23 18:39] davvd commented on #516
@elenavolokhova thank you ;)

[2016-01-23 19:18] davvd commented on #516
@alexey-krylov I added 10 mins to @elenavolokhova (for QA review) in transaction 75287902; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-6G0026428N427082P`, the task took 72 hours and 8 mins); added +30 to your rating, now it is equal to [+0](http://www.netbout.com/b/36337?open=rating)

[2016-01-24 12:49] #438 closed

[2016-01-24 12:49] bdragan commented on #438
@HDouss Thanks, issue closed.

[2016-01-24 12:52] davvd opened #544 "RqChunkTest.java:40-43: Implement reading chunked message body..."
Puzzle `438-dcc4d707` in `src/test/java/org/takes/rq/RqChunkTest.java:40-43` has to be resolved: Implement reading chunked message body in {@link RqChunk} class to pass the tests. The request body should be treated as a serie of chunks and be capped to the chunks sizes sum.... The puzzle was created by HDouss on 27-Dec-2015.

If you have any technical questions, don't ask me, submit new tickets in

[2016-01-24 12:52] davvd commented on #438
@bdragan once `438-dcc4d707`/#544 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-01-24 13:07] davvd commented on #437
@aschworer you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 added to your rating, at the moment it is: [-210](http://www.netbout.com/b/35983?open=rating)

[2016-01-24 13:07] davvd commented on #544
@alexey-krylov could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... The budget of this issue is **45 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-24 14:47] davvd commented on #544
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-01-24 15:05] alexey-krylov commented on #544
@davvd  ok, i take this

[2016-01-24 16:05] davvd commented on #437
@alexey-krylov the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-24 17:42] davvd commented on #458
@alexey-krylov could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-24 19:22] davvd commented on #491
@xupyprmv issue #514 is a pull request, we can't wait for it

[2016-01-24 19:22] davvd commented on #492
@exper0 yes, take your time, thanks for letting me know

[2016-01-24 19:53] rfqu commented on #485
@davvd @yegor256 @carlosmiranda  fixed - see pull request #545

[2016-01-25 00:51] carlosmiranda commented on #485
@rfqu let's wait for merge.

[2016-01-25 05:50] yegor256 commented on #354
@davvd assign someone else pls

[2016-01-25 07:35] simonjenga commented on #506
@rajithd It may be related to the OS. I am using ```Windows 7``` and i just executed the command:
 ```mvn -Dtest=BkTimeableTest test``` and i was able to reproduced the same issue with the error again.

[code]

[2016-01-25 08:03] simonjenga commented on #510
@yegor256 Sir, I just did a project update with Git and I still can't be able to create a distributed JAR for this project. The command: ```mvn clean package``` fails with the same error message previously reported:

[code]

Try to reproduce this issue in the following environment:

[code]

It also seems to me like creating tests for these projects is the most complex part of the story.
Sir, thank

[2016-01-25 10:14] davvd commented on #354
@yegor256 no problem, I will try to find somebody else

[2016-01-25 10:14] davvd commented on #485
@rfqu thanks, I'll take a look

[2016-01-25 10:55] Happy-Neko commented on #508
@davvd PR is merged, this ticket can be closed now.

[2016-01-25 15:01] davvd commented on #438
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-01-25 15:03] davvd commented on #354
@danff it's yours, please go ahead

[2016-01-25 15:05] ypshenychka commented on #438
@davvd Quality is good.

[2016-01-25 18:00] davvd commented on #438
@ypshenychka thank you :)

[2016-01-25 18:01] davvd commented on #508
@happy-neko OK

[2016-01-25 18:09] davvd commented on #438
@hdouss 10 mins was added to the account of @ypshenychka (for QA review), in transaction 75640524... thanks, I just added **30 mins** to your account, payment `75640534`, 115 hours and 51 mins spent... +30 added to your rating, at the moment it is: [+1480](http://www.netbout.com/b/36032?open=rating)

[2016-01-25 21:42] jhyle opened #548 "org.takes.facets.auth.PsByFlag::enter throws unchecked exception on invalid URLs"
See https://github.com/yegor256/netbout/issues/877. If PsByFlag encounters an invalid URL it throws an unchecked exception that make the request handling fail.

Therefore org.takes.misc.Href should catch the unchecked exception from URI.create in line 73 and rethrow it as a checked one so that programmers actually get informed that the method can fail. Then I a suggest a catch for this exception i

[2016-01-26 03:54] yegor256 commented on #510
@simonjenga try Maven 3.2+ please

[2016-01-26 04:27] yegor256 commented on #523
@exper0 I'll think about it

[2016-01-26 04:35] yegor256 commented on #224
@exper0 yes, you're right, but we still need to try to make our framework as fast as it's possible in JVM

[2016-01-26 07:03] simonjenga commented on #510
@yegor256 The Project Build fails with the same error message on: ```Apache Maven 3.2.1
``` and on: ```Apache Maven 3.3.3```

[code]

I had initially verified that it's not an external problem related to the environment but it's an internal problem related to the project.

The project files need to be dug up to see where this problem originates from.

[2016-01-26 07:28] xupyprmv commented on #491
@simonjenga PR #514 was merged. Please close this ticket.

[2016-01-26 10:47] davvd commented on #542
@dmzaytsev I am aware of the task, give me some time to find a developer...

[2016-01-26 10:47] davvd commented on #522
@dmzaytsev I set milestone here to `1.0`, let me know if it is wrong

[2016-01-26 10:47] davvd commented on #524
@rfqu I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-01-26 10:47] davvd commented on #542
@dmzaytsev there is no milestone yet, so I set it to `1.0`

[2016-01-26 10:48] davvd commented on #544
@alexey-krylov OK

[2016-01-26 10:58] davvd commented on #542
@dmzaytsev thanks for reporting! I topped your account for 15 mins, transaction 75676223

[2016-01-26 10:58] davvd commented on #540
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-26 13:15] simonjenga commented on #491
@xupyprmv If ```new RqLengthAware(req).body();``` throws an exception, ```stream``` will never be closed.
I also think we must close ```stream``` if any error occurs. What do you think?

[2016-01-26 13:25] xupyprmv commented on #491
@simonjenga

But it will not been created.

Thats why there is line 145 : https://github.com/yegor256/takes/pull/514/files

[2016-01-26 14:21] simonjenga commented on #491
@xupyprmv Line 145 will never be executed since we will never get inside the ```try-catch-finally``` block once ```new RqLengthAware(req).body();``` throws an exception.

Also, in my opinion, i really don't think we need two(2)  ```try-finally``` blocks just to perform a close. They make the code to be unreadable.

http://javarevisited.blogspot.com/2014/10/right-way-to-close-inputstream-file-resou

[2016-01-26 14:26] xupyprmv commented on #491
@simonjenga Sure, but if  `new RqLengthAware(req).body();` throw an exception, then `stream` variable will be not initialized. That's why we don't need to close `stream` (You can try it yourself, you will get `NullPointerException`).

Using two try catch blocks instead of one was a result of CR.

[2016-01-26 14:33] simonjenga commented on #491
@xupyprmv :thumbsup: :ok:

[2016-01-26 14:33] #491 closed

[2016-01-26 14:37] davvd commented on #522
@sebing can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [th

[2016-01-26 14:37] davvd commented on #524
@alexey-krylov this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-26 14:37] davvd commented on #542
@danff please go ahead with this task,it's yours

[2016-01-26 14:38] davvd commented on #524
@rfqu many thanks for the bug report, I added 15 mins to your acc, transaction `AP-4TS36903P0225481L`

[2016-01-26 16:26] sebing commented on #522
@davvd I have few questions:
1) How do I reproduce the issue, as I have no clue what the application is currently doing.(Can you guide me to a document or instruction to use the applicaiton)
2)If it is a bit difficult for me start understanding the application and fix the issue, can I get the full stack trace?
 - I am not sure where exactly the ListWrapper.get method is called.
 - PsGithub.java:15

[2016-01-26 16:45] davvd commented on #522
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `75689897`

[2016-01-26 17:47] dmzaytsev commented on #522
@sebing you can find the full stack trace here https://github.com/yegor256/netbout/issues/933

so in case of some error Github [returns](https://developer.github.com/v3/oauth/#bad-verification-code)
[code]
I know this is an json example not xml,  but it doesn't matter
there is no any `access_token` element, right?

but take a look [PsGithub.java#L156](https://github.com/yegor256/takes/blob/e3f1155

[2016-01-26 18:25] sebing commented on #522
@dmzaytsev What is the expected behavior?
- `access_token` should be in the xml all the time?
  = if yes, do we have to throw a custom Exception than the generic one? And make sure the xml/json data is created with the access_token

[2016-01-26 19:07] dmzaytsev commented on #522
@sebing I guess `HttpException` should be raised in case of empty `#xpath("/OAuth/access_token/text()")` @yegor256 what do you think?

see another Github error handling https://github.com/yegor256/takes/blob/e3f1155574929fd02e79a7f0b5f1493984950d13/src/main/java/org/takes/facets/auth/social/PsGithub.java#L110`

[2016-01-26 23:19] rfqu opened #550 "Checkstyle validator prohibits clean if-else statements"
what's wrong with this code:
        InputStreamReader reader;
        if (this.charset != null) {
            reader = new InputStreamReader(body, this.charset);
        } else {
            reader = new InputStreamReader(body);
        }
???
But checkstyle validator fails it in https://ci.appveyor.com/project/yegor256/takes/build/1958 with diagnostics:
{ERROR] \src\main\java\org\takes\facets\ham

[2016-01-27 06:49] rfqu commented on #550
when I rewrite it as follows:
InputStreamReader reader =
            (this.charset != null)
            ?
                new InputStreamReader(body, this.charset)
            :
                new InputStreamReader(body)
            ;
checker says error: Avoid inline conditionals. (AvoidInlineConditionalsCheck
Isn't it a mockery?

[2016-01-27 06:57] rfqu commented on #485
@yegor256 I see you "improved" code validator so that it blocks writing any complex programs - see issue #550

[2016-01-27 07:10] rfqu commented on #550
One my method had 3 return statements. Validator said only 2 allowed. When I made 2, it said that no one allowed, return only when the method ends.

You guys go in wrong direction.

[2016-01-27 10:30] sebing commented on #522
@dmzaytsev @davvd So I will split the constructor calling code[PsGithub.java#L156](https://github.com/yegor256/takes/blob/e3f1155574929fd02e79a7f0b5f1493984950d13/src/main/java/org/takes/facets/auth/social/PsGithub.java#L156), and throw the `HttpException`?

- I feel the naming of org.takes.HttpException is very confusing
- What about using org.takes.facets.auth.codecs.DecodingException - the clas

[2016-01-27 10:33] dmzaytsev commented on #522
@sebing ask @yegor256
he is the architect on this project

[2016-01-27 10:37] jhyle commented on #548
@yegor256 Please review this issue.

[2016-01-27 10:38] sebing commented on #522
@dmzaytsev  Thanks for the guideline.
@yegor256  Can you help me in this regard?

[2016-01-27 16:01] davvd commented on #508
@yegor256 Finished, thanks, closing..

[2016-01-27 16:01] #508 closed

[2016-01-27 16:01] davvd commented on #508
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-01-27 16:51] davvd commented on #491
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-01-28 06:51] elenavolokhova commented on #508
@davvd Quality is good here.

[2016-01-28 06:52] elenavolokhova commented on #491
@davvd Quality is good here.

[2016-01-28 07:53] sebing commented on #522
@yegor256 How do we proceed?

[2016-01-28 09:34] exper0 commented on #492
@dmzaytsev issue is resolved and the code is merged (see PR #507). Please close request

[2016-01-28 09:48] dmzaytsev commented on #492
@exper0 thanks

[2016-01-28 09:48] #492 closed

[2016-01-28 11:10] davvd commented on #491
@elenavolokhova thanks a lot

[2016-01-28 11:10] davvd commented on #508
@elenavolokhova thanks a lot :)

[2016-01-28 11:17] davvd commented on #485
@rfqu you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-75](http://www.netbout.com/b/36195?open=rating)

[2016-01-28 11:17] davvd commented on #491
@xupyprmv I added 10 mins to @elenavolokhova (for QA review) in transaction 75840819. **30 mins** added to your account (payment number `AP-38597566F9917563R`), many thanks for your contribution! 360 hours and 27 mins spent here.. +30 added to your rating, current score is: [+60](http://www.netbout.com/b/35999?open=rating)

[2016-01-28 11:21] rfqu commented on #485
@davvd @yegor256  actually I finished this task. But your code validator rejects the solution for an idiotic reason.
I propose to drop ConfusingTernary check and accept my solution.

[2016-01-28 12:54] davvd commented on #437
@danff the task is yours, please go ahead

[2016-01-28 12:54] davvd commented on #508
@happy-neko I added 10 mins to @elenavolokhova (for QA review) in transaction 75843679

thanks, I just added **30 mins** to your account, payment `AP-2H0977538X650981F`, 311 hours and 30 mins spent

+30 added to your rating, current score is: [+128](http://www.netbout.com/b/36136?open=rating)

[2016-01-28 14:32] davvd commented on #458
@sebing this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-28 14:32] davvd commented on #485
@danff please proceed, it's yours

[2016-01-28 15:06] sebing commented on #458
@davvd As I am new here. Let me state what I understood from the thread.
- I have to extend the functionality of testClass for `TkProxy` to support both the GET and POST Methods.

[2016-01-28 17:14] davvd commented on #517
@sebing please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-28 18:11] davvd commented on #544
@xupyprmv please proceed, it's yours

[2016-01-29 08:06] sebing commented on #458
@davvd  I have made a pull request.
There is an error in the checkstyle.
[ERROR] \src\test\java\org\takes\tk\TkProxyTest.java[92]: Name 'httpMethod' must match pattern '^[a-z]{3,}$'. (ParameterNameCheck)

I thought, httpMethod is a valid pattern. I didn't correct it as I would like to know the problem so I won't be making it again :)

[2016-01-29 08:13] sebing commented on #458
@yegor256 why we cannot have upper case in the parameter name? I thought httpMethod is a good name :)

[2016-01-29 09:48] sebing commented on #517
@davvd  I made a pull request.
But the build is failing as it cannot download the maven plugin for checking the java version.

[2016-01-29 10:39] sebing commented on #522
@davvd I made a pull request(https://github.com/yegor256/takes/pull/553)
But the travis-ci job is failing with

`[ERROR] Failed to execute goal com.qulice:qulice-maven-plugin:0.14:check (jcabi-check) on project takes: Failure: 4 Checkstyle violations (see log above) -> [Help 1]

org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.qulice:qulice-maven-plugin:0.14:check

[2016-01-29 10:42] sebing commented on #458
@davvd  I changed the variable to smaller case, now the checkstyle passes.

[2016-01-29 11:57] davvd commented on #492
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-29 12:40] ypshenychka commented on #492
@davvd Quality is good.

[2016-01-29 12:49] sebing commented on #458
I understood the answer to my questions here :) (http://www.yegor256.com/2015/01/12/compound-name-is-code-smell.html)

[2016-01-29 15:08] davvd commented on #492
@ypshenychka thank you :)

[2016-01-29 15:23] davvd commented on #492
@exper0 added 10 mins to @ypshenychka, for QA review, payment code is `75895324`... Many thanks! **30 mins** were added to your account in Transaction ID `AP-0HV044497G8900806` (task took 382 hours and 21 mins)... +30 added to your rating, current score is: [+603](http://www.netbout.com/b/36185?open=rating)

[2016-01-29 17:44] mkordas opened #554 "Disable Scrutinizer for this repository"
We don't have in Takes any PHP, Python or Ruby code, so having Scrutinizer check for every PR doesn't make sense. Please disable it.

[2016-01-29 17:52] mkordas opened #555 "Remove all 'null' usages in code"
Takes advertises itself as a library without any `null`. That's not true, I see at least 26 [`null` usages](https://github.com/yegor256/takes/search?l=java&q=null) in Java code.

I'd expect removing `null` from as many places as possible and replacing them with alternatives.
If some external API actually demands `null` and there's no workaround, we need to admit it in README, and say about few exc

[2016-01-29 18:32] mkordas commented on #550
@rfqu Let me explain couple of things:

 PMD demands here code like `if (this.charset == null) ...` instead of `if (this.charset != null) ...`, but `ConfusingTernary` is not present in latest Qulice anymore, so it's a matter of updating library.

Yes, PMD prohibits ternary operators. It's rather matter of style. You can always replace them with `if`.

Again, fixed in latest Qulice version.

I thin

[2016-01-29 20:14] davvd commented on #517
@sebing how can I help?

[2016-01-29 20:14] davvd commented on #522
@sebing address your technical questions to the project architect (@yegor256)

[2016-01-29 20:15] yegor256 commented on #522
@sebing read this please: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2016-01-29 20:16] yegor256 commented on #517
@sebing read this please: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2016-01-29 20:20] yegor256 commented on #554
@mkordas where did you find it here?

[2016-01-29 20:26] davvd commented on #495
@rajithd check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 added to your rating, current score is: [-

[2016-01-29 20:42] mkordas opened #556 "Simplify instruction for Windows users"
Right now [How to contribute](https://github.com/yegor256/takes#how-to-contribute) section says that command `SET JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8` needs to be invoked for Windows users to make build working

IMO, that's unnecessary manual step. We could just pass this env variable to surefire as JVM argument for tests, e.g.
[code]
Thanks to that we could also simlify AppVeyor config: https

[2016-01-29 20:59] mkordas commented on #554
@yegor256 in any open PR, see e.g. https://github.com/yegor256/takes/pull/553

[2016-01-29 21:03] yegor256 commented on #554
@mkordas disabled, thanks

[2016-01-29 21:03] #554 closed

[2016-01-29 22:31] exper0 commented on #530
@krzyk it's done in PR #535(merged). Please close the ticket

[2016-01-30 07:34] krzyk commented on #530
@exper0 thanks

[2016-01-30 07:34] #530 closed

[2016-01-30 07:35] krzyk opened #557 "New qulice suppresion cleanups"
In qulice used currently in project there are two changes that result in less strict rules:
- `DoNotUseThreads` PMD check is disabled
- `UseConcurrentHashMap` PMD check is disabled.

As a result all suppressions of above rules should be removed, more over all usages of `ConcurrentMap` and `ConcurrentHashMap` should be reviewed and all unnecessary (single thread access) usages replaced with `Map` a

[2016-01-30 10:07] davvd commented on #555
@mkordas I am aware of the task, give me some time to find a developer...

[2016-01-30 10:07] davvd commented on #540
@mkordas since there is no milestone yet I set it to "1.0"

[2016-01-30 10:07] davvd commented on #555
@mkordas I set milestone here to `1.0`, let me know if it is wrong

[2016-01-30 10:27] davvd commented on #555
@mkordas thanks for this report, I added 15 mins to your account, in transaction `56ac901105fa01580100020c`

[2016-01-30 11:59] davvd commented on #540
@mkordas thanks for this report, I added 15 mins to your account, in transaction `56aca57efdc2bb2698000275`

[2016-01-30 11:59] davvd commented on #548
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-30 19:10] Happy-Neko commented on #520
@exper0 PR is merged. Please review and close the ticket if everything is ok.

[2016-01-31 00:34] exper0 commented on #520
@Happy-Neko Looks good, thanks

[2016-01-31 00:34] #520 closed

[2016-01-31 00:37] exper0 commented on #533
@davvd need more time here.

[2016-01-31 00:37] exper0 commented on #519
@davvd need more time here

[2016-01-31 10:31] davvd commented on #519
@exper0 OK, take your time

[2016-01-31 10:31] davvd commented on #533
@exper0 no problem, thanks for letting me know

[2016-01-31 10:31] davvd opened #558 "pom.xml:313-317: Below excludes were created during..."
Puzzle `530-0ac0fcef` in `pom.xml:313-317` has to be resolved: Below excludes were created during migration from qulice 0.13 to qulice 0.15.4. New qulice finds new additional issues in the code that need to be fixed. Checktyle issues were fixed in scope of #530, remaining PMD and XML issues to be fixed in scope of this puzzle.... The puzzle was created by Andrey Eliseev on 22-Jan-2016.

If you hav

[2016-01-31 10:31] davvd commented on #530
@krzyk once `530-0ac0fcef`/#558 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-01-31 10:46] davvd commented on #530
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-31 10:47] davvd commented on #506
@rajithd check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

added -30 to your rating, now it is equal to [

[2016-01-31 11:18] davvd commented on #558
@yegor256 since there is no milestone yet I set it to "1.0"

[2016-01-31 12:39] ypshenychka commented on #530
@davvd Quality is good.

[2016-01-31 15:07] davvd commented on #530
@ypshenychka many thanks

[2016-01-31 15:23] davvd commented on #530
@exper0 10 mins was added to the account of @ypshenychka (for QA review), in transaction 75966262. thanks, I just added **30 mins** to your account, payment `AP-2KJ3625987040821D`, 207 hours and 49 mins spent. +30 to your rating, your total score is [+633](http://www.netbout.com/b/36185?open=rating)

[2016-02-01 11:27] davvd commented on #520
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-01 12:14] ypshenychka commented on #520
@Happy-Neko
According to our [QA Rules](http://www.teamed.io/qa.html):

Please provide a link to corresponding PR in any of your messages.

[2016-02-01 13:30] davvd commented on #555
@happy-neko the task is yours,please go ahead

[2016-02-01 14:54] Happy-Neko commented on #520
@ypshenychka done.

[2016-02-01 14:55] ypshenychka commented on #520
@Happy-Neko Thanks.

[2016-02-01 14:55] ypshenychka commented on #520
@davvd Quality is acceptable.

[2016-02-01 15:58] davvd commented on #520
@ypshenychka thanks a lot, next time everybody should try to make it better

[2016-02-01 16:16] davvd commented on #520
@happy-neko added 10 mins to @ypshenychka, for QA review, payment code is `76281840`. thanks, paid, **30 mins** to your account, payment ID is `AP-9C067723X2568322V`, task took 238 hours and 43 mins to complete. +30 added to your rating, at the moment it is: [+158](http://www.netbout.com/b/36136?open=rating)

[2016-02-01 20:30] davvd commented on #550
@yegor256 please dispatch this issue

[2016-02-02 21:30] davvd commented on #557
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-02 21:30] davvd commented on #556
@yegor256 please do something about this issue

[2016-02-03 00:35] yegor256 commented on #556
@mkordas fixed, thanks!

[2016-02-03 00:35] #556 closed

[2016-02-03 04:15] yegor256 commented on #550
@rfqu read the comments from @mkordas above

[2016-02-03 04:15] #550 closed

[2016-02-03 08:01] piotrkot opened #560 "Takes hangs on fetching form parameter"
Have a look at https://github.com/piotrkot/takesbug where the bug can be reproduced.

When you navigate to localhost:8080/form, provide input and submit then you will see the welcome "hello 'user'!" message.
When you go directly to localhost:8080/hello application freezes on fetching form parameter.

[2016-02-03 14:25] danff opened #561 "Inconsistent usage of the age field in the PsCookie class."
The javadoc in the PsCookie class for field **age** is commenting as "Max login age, in seconds.".
One ctor for the class has a parameter sec commented as "Max age in seconds" which is assigned to the **age** field.
But the class is using the field as a number of **days** instead of seconds as the comments say when building the cookie "Expires" part.
[code]
Either the comments should be corrected

[2016-02-03 15:59] danff commented on #354
@davvd PR #562 has been creating to fix this issue.

[2016-02-03 16:45] davvd commented on #557
@krzyk attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-02-03 16:56] davvd commented on #540
@essobedo this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you w

[2016-02-03 16:56] davvd commented on #557
@krzyk thank you for the ticket reported, I topped your account for 15 mins, transaction `76462594`

[2016-02-03 19:43] essobedo commented on #540
@mkordas Please have look to my https://github.com/yegor256/takes/pull/563 and close the ticket if it is what you exepected

[2016-02-03 20:06] mkordas commented on #540
@essobedo can you as some more details? About how this works in practice and when it should not be used.

[2016-02-03 20:13] essobedo commented on #540
@mkordas do you talk about the cookie name? If so I removed it because for me it doesn't make any sense to implement something and say don't use it because it is not recommended. Either you remove the feature because nobody will use it as it is not recommended or you keep it assuming that users know what they are doing.

[2016-02-03 23:28] yegor256 commented on #510
@simonjenga I can't find a way to reproduce this problem

[2016-02-03 23:28] #510 closed

[2016-02-04 05:55] simonjenga commented on #510
@yegor256 I checked out a fresh new copy of the project and executed the same command and it failed.

It would have been good if this issue was kept open so that anyone who experiences this problem to comment here and verify to you that this problem does indeed exist.

Just because you couldn't reproduce it doesn't make it ```invalid``` and therefore closing it. It's better to wait and see if some

[2016-02-04 10:47] davvd commented on #548
@jhyle attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-02-04 10:47] davvd commented on #354
@danff thank you!

[2016-02-04 10:57] davvd commented on #524
@essobedo can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-02-04 10:57] davvd commented on #557
@happy-neko please proceed, it's yours

[2016-02-04 10:57] davvd commented on #558
@xupyprmv the task is yours, please go ahead

[2016-02-04 10:57] davvd commented on #548
@jhyle many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-0TG82867UG3902633`

[2016-02-04 12:49] simonjenga commented on #510
@yegor256 Using the same different versions of ```Maven``` while on a different computer, this project cannot create a JAR file in the following environment:
[code]

This ```BUILD FAILURE``` problem is related to "windows" family.

[2016-02-04 14:15] essobedo commented on #540
@mkordas if you don't have any remarks, please close the ticket

[2016-02-04 15:57] essobedo commented on #524
@rfqu Here is my pull request https://github.com/yegor256/takes/pull/565, please check it and if it is fine with you, close the ticket

[2016-02-04 16:20] mkordas commented on #540
@essobedo I was not talking about cookie name. I rather meant that we could state that RsFlash should not be used for other purposes than displaying flash message. E.g. it should not be used in pure REST interface.

[2016-02-04 16:24] essobedo opened #566 "BkTimeableTest.stopsLongRunningBack fails randomly on jdk 1.8"
I got successively a build failure (https://travis-ci.org/yegor256/takes/jobs/107018856)  and a build success (https://travis-ci.org/yegor256/takes/jobs/107024568) with only a cosmetic change just to trigger a new build. So it seems that this particular test (BkTimeableTest.stopsLongRunningBack) is unstable.

[2016-02-04 16:31] essobedo commented on #540
@mkordas sorry but for me it is out of the original topic, it should be another ticket. IMHO you cannot change the request once I produced the PR, otherwise it is unfair and potentially endless. Please don't forget that it is supposed to be a "30 minutes task".
@davvd What are we supposed to do in that case? Create a new ticket or continue with this one?

[2016-02-04 16:56] mkordas commented on #540
@essobedo it's too small thing for a new ticket, such ticket would be rejected. As you said ticket resolution should take 30 min, not 3 min. And you've asked about my opinion, so I provided it, but it is not a blocker.

[2016-02-04 16:57] mkordas commented on #540
@essobedo BTW, pull request is not merged, why you want from me to close the ticket?

[2016-02-04 16:58] rfqu commented on #524
pull request #565 is ok

[2016-02-04 17:11] essobedo commented on #540
@mkordas My bad, I guess you are right, I'm just unaware of the workflow. I've just read somewhere that I had to ask the ticket owner to close the ticket once done, it is obviously not the way it works

[2016-02-04 17:12] essobedo commented on #524
@rfqu sorry my mistake this ticket should not be closed as long as the PR has not been merged, could you please reopen it?

[2016-02-04 17:27] essobedo commented on #524
@rfqu thx

[2016-02-04 18:01] davvd commented on #548
@essobedo please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-04 18:06] essobedo commented on #540
@mkordas Here is what I added https://github.com/essobedo/takes/commit/c1c11aa7b15a3a035bb73bf36e1c51b2f92732a6, I hope it is what you wanted

[2016-02-04 18:17] exper0 commented on #254
@dmzaytsev PR #536 merged and closed. Please close request

[2016-02-04 18:33] dmzaytsev commented on #254
@exper0 thanks!

[2016-02-04 18:33] #254 closed

[2016-02-04 18:38] dmzaytsev commented on #254
@yegor256 could you make a new release ? thanks

[2016-02-04 18:49] exper0 commented on #254
@dmzaytsev just in case - in scope of this task the problem with temporary files / file descriptors is not fully solved. There are a couple of puzzles created in scope of this task. Briefly - in order to clean the file and close actual file descriptor `close` should be called on request body stream. However, the code is designed in such a way that it's quite difficult to say where is the right pla

[2016-02-04 18:54] dmzaytsev commented on #254
@exper0 thanks, I hadn't saw the puzzles
@yegor256 we will wait until the puzzles will be completed

[2016-02-04 19:34] essobedo commented on #548
@jhyle Here is my PR https://github.com/yegor256/takes/pull/568. Instead of throwing an exception that will require to modify a lot of code, I propose an auto fixing approach.

[2016-02-04 20:26] danff commented on #542
@davvd waiting for #354 - expiration time is incorrect and avoid merging conflicts.

[2016-02-05 07:05] simonjenga commented on #510
@yegor256 This problem is not even related to "windows" family. It is related to the ```Maven``` project dependencies for this project.

I created the following test class and used it in different ```Teamed.io``` projects:

[code]

The tests passed as follows:
[code]

[code]

[code]

Unfortunately, the same test cannot pass in the ```takes``` project:
[code]

I was able to pin point the root cause

[2016-02-05 08:27] essobedo commented on #540
@mkordas thank you for your feedback, here is a new PR https://github.com/yegor256/takes/pull/570 with your remarks

[2016-02-05 09:05] essobedo commented on #524
@mkordas thank you for your remarks, here is my new PR https://github.com/yegor256/takes/pull/571

[2016-02-05 09:45] davvd commented on #495
@rajithd the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)... -60 added to your rating, current score is: [-180](http://www.netbout.com/b/36278?open=rating)

[2016-02-05 13:02] sebing opened #573 "Unstable Travis-CI Build"
One of the builds in (https://travis-ci.org/yegor256/takes/builds/107225100) failed in java8.
Just close the PR(https://github.com/yegor256/takes/pull/551) and open again it started working.

[2016-02-05 13:57] simonjenga commented on #510
@yegor256 You updated the Mockito library in ```Jcabi parent``` and that is where the problem got introduced. That is the reason why the ```BUILD``` fails.

[code]

https://github.com/jcabi/jcabi-parent/releases

[code]

It can ONLY work with: ```2.0.31-beta```  and ```2.0.32-beta```

It CANNOT work with: ```2.0.36-beta```

The Build is OK if i make these changes to:
[code]

[2016-02-05 14:56] davvd commented on #506
@rajithd the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html); -60 added to your rating, current score is: [-240](http://www.netbout.com/b/36278?open=rating)

[2016-02-05 16:28] davvd opened #574 "pom.xml:360-362: Continue fixing FindBugs violations started..."
Puzzle `517-9858229b` in `pom.xml:360-362` has to be resolved: Continue fixing FindBugs violations started in #517. #517 turned on the FindBugs, temporarily excluding some classes. Remove all excludes of FindBugs below and fix the issues.... The puzzle was created by sxg on 31-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the

[2016-02-05 16:28] davvd commented on #517
@exper0 there is a puzzle in this code `517-9858229b`/#574, we'll resolve it later

[2016-02-05 16:28] davvd commented on #254
@dmzaytsev 2 puzzles were created here: `254-d68bc52e`, `254-40a8e0fe`

[2016-02-05 17:22] davvd commented on #574
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-02-05 17:24] davvd opened #575 "CapInputStream.java:37-40: CapInputStream should delegate all standard..."
Puzzle `254-d68bc52e` in `src/main/java/org/takes/rq/CapInputStream.java:37-40` has to be resolved: CapInputStream should delegate all standard InputStream calls to it's origin. It's very important in context of closing stream - right code should close the stream but default InputStream implementation just throws IOException... The puzzle was created by Andrey Eliseev on 22-Jan-2016.

If you have

[2016-02-05 19:01] davvd commented on #575
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2016-02-05 19:02] davvd opened #576 "RqMultipart.java:241-244: in order to delete temporary..."
Puzzle `254-40a8e0fe` in `src/main/java/org/takes/rq/RqMultipart.java:241-244` has to be resolved: in order to delete temporary files InputStream instance on Request.body should be closed. In context of multipart requests that means that body of all parts should be closed once they are not needed anymore.... The puzzle was created by Andrey Eliseev on 22-Jan-2016.

If you have any technical questi

[2016-02-05 20:46] mkordas commented on #540
@essobedo please update both PR descriptions with `For #540`. Only then GitHub will create links here.

[2016-02-05 23:00] jhyle commented on #548
@davvd Please ask someone to review the patch.

[2016-02-05 23:03] danff commented on #534
@davvd need more time here - waiting for the PR resolution

[2016-02-05 23:47] jhyle opened #577 "RqMultiPart.Fake fails on more then one part"
Please see https://github.com/yegor256/netbout/pull/979. The TkAttachTest::takeAttachementNameFromField constructs a RqMultiPart.Fake request with two form-data parts. It fails with the exception

[code]

As `Content-Disposition` is given for both parts I suspect that RqMultiPart.Fake does not handle this correctly.

[2016-02-06 08:30] essobedo commented on #540
@mkordas Thx for your remark, I added "For #{tciket-id}" in all my PR descriptions even old ones

[2016-02-06 08:53] simonjenga commented on #510
@yegor256 This problem truly does NOT exist. It was my internet connection that downloaded corrupt JARS: ```Mockito 2.0.36-beta``` and ```Byte-buddy 0.7.8```.

I deleted these two from ```.m2``` and downloaded them again with Maven and now the Build is OK.

https://www.google.com/search?q=invalid+LOC+header+%28bad+signature%29&ie=utf-8&oe=utf-8

http://stackoverflow.com/questions/23310474/hibernat

[2016-02-06 11:06] davvd commented on #576
@yegor256 since there is no milestone yet I set it to "1.0"

[2016-02-06 11:06] davvd commented on #534
@danff sure, thanks for telling me, take your time

[2016-02-06 11:06] davvd commented on #542
@danff OK, let's wait for #354

[2016-02-06 11:23] davvd commented on #254
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-06 11:27] davvd commented on #560
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-02-06 15:17] davvd commented on #561
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-02-06 17:04] Happy-Neko commented on #555
We should make clear what exactly we consider null-free design project-wise. From my point of view:

* Every public API method we expose should not return `null`. Alternatives are throwing exception or returning nullable container if return value is optional (`Optional` in guava / java 8, in takes we have similar `Opt<T>`).
* Do not accept `null` values as method parameters values in out API (up t

[2016-02-06 18:17] mkordas commented on #555
@Happy-Neko please see http://www.yegor256.com/2014/05/13/why-null-is-bad.html - it states that null is bad  in general, not only in public API

[2016-02-06 18:53] Happy-Neko commented on #555
@mkordas The problem is we can do nothing if foreign API method can return `null` or accepts it as parameter.

[2016-02-06 19:21] ypshenychka commented on #254
@davvd Quality is good.

[2016-02-06 19:50] Happy-Neko opened #578 "Java 6 compatability"
Takes promotes itself as

and compiles to 1.6 bytecode. But there are usages of core APIs unavailable on JDK6 making the framework Java 6 incompatible.

For example `StandardCharsets` in **RsVelocity**.

[2016-02-06 20:34] davvd commented on #254
@ypshenychka thanks a lot ;)

[2016-02-06 20:46] davvd commented on #254
@exper0 added 10 mins to @ypshenychka, for QA review, payment code is `76615934`... Thank you, I have added **30 mins** to your account in payment/transaction "`AP-2LK10084ED737235F`", time consumed: 348 hours and 30 mins... +30 added to your rating, current score is: [+603](http://www.netbout.com/b/36185?open=rating)

[2016-02-07 09:07] mkordas commented on #555
@Happy-Neko we can use `Opt` or `Optional` in such cases

[2016-02-07 11:17] essobedo commented on #566
I occurred again https://travis-ci.org/yegor256/takes/jobs/107569131

[2016-02-07 15:26] xupyprmv opened #581 "README.md Coverage badge"
Current coverage badge link points to:

https://coveralls.io/github/yegor256/takes?branch=master

and shows coverage result (81%) from September 2015.

Right link is:

https://coveralls.io/github/yegor256/takes?branch=__rultor

[2016-02-07 15:55] danff commented on #354
@davvd need more time waiting for PR to be merged

[2016-02-07 16:07] Happy-Neko commented on #555
@mkordas We still need to test for `Optional` value presence every time we made `null` check before.
This is hiding the problem under extra layer of code complexity imho.

@yegor256 What do you think?

[2016-02-07 19:59] davvd commented on #354
@danff yes, take your time, thanks for letting me know

[2016-02-08 08:10] essobedo commented on #352
@yegor256 Here you have an example https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/facets/auth/PsBasic.java#L286

[2016-02-08 15:09] davvd commented on #573
@yegor256 please dispatch this issue

[2016-02-08 18:18] sebing commented on #517
@davvd Can we close this issue as the merge request (https://github.com/yegor256/takes/issues/552) accepted?

[2016-02-08 18:21] sebing commented on #522
@davvd Can we close this issue as the merge request (https://github.com/yegor256/takes/pull/553) was accepted?

[2016-02-08 18:33] xupyprmv commented on #566
@essobedo Looks like tests are not stable for current Travis environment. I got the same error:

https://travis-ci.org/yegor256/takes/jobs/107832464

[2016-02-08 18:41] davvd commented on #548
@jhyle OK

[2016-02-09 03:58] yegor256 commented on #352
@essobedo I still don't understand what exactly is proposed in this ticket... also, keep this in mind: http://www.yegor256.com/2016/01/26/defensive-programming.html In other words, I'm against checking for null

[2016-02-09 04:09] yegor256 commented on #581
@xupyprmv fixed in 135b05a thanks!

[2016-02-09 04:09] #581 closed

[2016-02-09 04:19] yegor256 commented on #555
@Happy-Neko I disagree with this:

We can avoid using null everywhere. Let's try to do it. It's a matter of principle :)

[2016-02-09 04:25] yegor256 commented on #578
@Happy-Neko yeah, we're not JDK6 compatible any more :(

[2016-02-09 04:26] yegor256 commented on #578
@Happy-Neko fixed in 8fa53fe

[2016-02-09 04:26] #578 closed

[2016-02-09 04:36] yegor256 commented on #561
@danff fixed in a749f6a thanks!

[2016-02-09 04:36] #561 closed

[2016-02-09 09:10] essobedo commented on #352
@yegor256 as far as I understand from the description, he would like to add a new implementation of Opt that would do something like that:
[code]
But if you are against checking for null it is clearly not applicable

[2016-02-09 09:29] mkordas commented on #523
@yegor256 we're waiting for your resolution here, as my code review is still open

[2016-02-09 10:16] essobedo commented on #540
@davvd The PR has been merged what is the next step now? who is supposed to close the ticket?

[2016-02-09 10:25] essobedo opened #582 "Appveyor fails when using specific features of Java 7"
According to #578, the project is no more compatible with Java 6 but Appveyor prevents to use specific features of Java 7 such as the diamond operator as you can see here https://ci.appveyor.com/project/yegor256/takes/build/2109. Is it expected or is it a bug in the pom file?

[2016-02-09 10:28] mkordas commented on #540
@essobedo author must close the ticket, thanks

[2016-02-09 10:28] #540 closed

[2016-02-09 10:30] essobedo commented on #540
@mkordas thank you for the info

[2016-02-09 10:31] essobedo commented on #548
@jhyle The PR has been merged, could you please close the ticket now? thank you in advance

[2016-02-09 12:26] davvd commented on #560
@piotrkot attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-02-09 12:26] davvd commented on #573
@sebing since the ticket has no milestone I set it to 1.0

[2016-02-09 12:40] davvd commented on #573
@sebing thanks for tis bug, I topped your account for 15 mins, transaction `56b9de3f4c011657da000288`

[2016-02-09 12:41] davvd commented on #577
@yegor256 please do something about this issue

[2016-02-09 13:04] #548 closed

[2016-02-09 15:34] davvd commented on #560
@sebing the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-09 16:37] xupyprmv commented on #558
@davvd PR #580 was merged. Please close this ticket.

[2016-02-09 16:49] davvd commented on #574
@sebing this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-02-09 17:02] sebing commented on #560
@piotrkot If the parameter ${user} is not present, I thought it is the right thing to show the error.
[code]

[2016-02-09 19:00] davvd commented on #517
@sebing you should ask ticket author to close it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-02-09 19:00] davvd commented on #522
@sebing you should ask ticket author to close it, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-02-09 20:46] mkordas commented on #555
@Happy-Neko I share the same view as @yegor256 - let's try at least.
Moreover, can you add name tag to your comment https://github.com/yegor256/takes/issues/555#issuecomment-180811432?

[2016-02-09 20:54] sebing commented on #574
@davvd I made a PR(https://github.com/yegor256/takes/pull/583)

[2016-02-09 21:03] piotrkot commented on #560
@sebing Version I used (0.31.1 - the newest from MavenCentral) freezes. If you say you get an exception instead, you might be using a newer version. Please, confirm.
Either way, let me fetch current master and redo my test.

[2016-02-09 21:06] sebing commented on #560
@piotrkot I used the latest version.

[2016-02-09 21:24] mkordas commented on #524
@rfqu

Please update your comment with a name tag.

[2016-02-10 08:47] piotrkot commented on #560
@sebing Indeed, the newest version does not have that issue. And `NoSuchElementException` is fine.
Thank you for the info.

[2016-02-10 08:47] #560 closed

[2016-02-10 08:48] sebing commented on #522
@dmzaytsev Can we close this issue as the merge request (https://github.com/yegor256/takes/pull/553) was accepted?

[2016-02-10 08:49] sebing commented on #517
@exper0 Can we close this issue as the merge request (https://github.com/yegor256/takes/issues/552) was accepted?

[2016-02-10 09:30] exper0 commented on #517
@sebing sure, thanks

[2016-02-10 09:30] #517 closed

[2016-02-10 09:36] essobedo commented on #548
@davvd What is the next step knowing that the ticket is closed now?

[2016-02-10 09:36] essobedo commented on #540
@davvd What is the next step knowing that the ticket is closed now?

[2016-02-10 09:50] sebing commented on #517
@exper0 thanks.

[2016-02-10 10:12] dmzaytsev commented on #548
@yegor256 please release whenever you have a chance

[2016-02-10 10:30] dmzaytsev commented on #522
@sebing thanks!

[2016-02-10 10:30] #522 closed

[2016-02-10 10:34] sebing commented on #522
@dmzaytsev Thanks.

[2016-02-10 10:40] davvd commented on #573
@raphaelln this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanatio

[2016-02-10 12:17] rfqu commented on #524
pull request #571 is ok

[2016-02-10 12:41] essobedo commented on #524
@rfqu The PR has not been merged so far, so you cannot close the ticket for now

[2016-02-10 13:35] davvd commented on #540
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-10 13:36] davvd commented on #506
@raphaelln could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-10 13:56] ypshenychka commented on #540
@davvd Quality is good here.

[2016-02-10 14:07] sebing commented on #560
@davvd This task is finished and closed.

[2016-02-10 14:07] sebing commented on #517
@davvd This task is finished and closed.

[2016-02-10 14:07] sebing commented on #522
@davvd This task is finished and closed.

[2016-02-10 14:56] essobedo commented on #557
@krzyk good one! I was wondering why we had ConcurrentHashMap everywhere in the code even when it was not needed, now I understand

[2016-02-10 15:06] davvd commented on #540
@ypshenychka thanks for the review and a good remark

[2016-02-10 15:07] davvd opened #584 "pom.xml:308-310: Upgrade Qulice to 0.16. Fix..."
Puzzle `558-ffd45315` in `pom.xml:308-310` has to be resolved: Upgrade Qulice to 0.16. Fix all checkstyle violations (mostly `AtclauseOrderCheck`). Fix or add puzzle for PMD, findbugs and other types of violations.... The puzzle was created by Maksimenko Vladimir on 8-Feb-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2016-02-10 15:07] davvd commented on #558
@yegor256 these 11 puzzles were created in this ticket: `558-ffd45315`/#584, `558-4ea33ea6`, `558-7b985928`, `558-7db66253`, `558-b4a12ea6`, `558-12fc4eff`, `558-7c5810e9`, `558-e98f4792`, `558-d5ffb2ba`, `558-79259f7e`, `558-afc1c081`

[2016-02-10 15:25] davvd commented on #540
@essobedo added 10 mins to @ypshenychka, for QA review, payment code is `77116007`... Thanks a lot, I just topped your account for **30 mins**, transaction ID `77116030`, total time was 139 hours and 31 mins... +30 added to your rating, current score is: [+30](http://www.netbout.com/b/36421?open=rating)

[2016-02-10 15:25] davvd commented on #584
@essobedo This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-10 16:36] essobedo commented on #548
@davvd the PR has been merged and the ticket has been closed, it is ready for the QA

[2016-02-10 16:41] essobedo commented on #584
@davvd the PR is ready to be reviewed thx in advance

[2016-02-10 16:44] raphaelln commented on #506
@simonjenga please could you please share with me your environment configs ? I couldn't reproduce the error, following my configs:

- Windows 7 Professional
- java 8 (1.8.0_51)
- maven 3.3.9
- intel core 2 duo 2.93
- 8gb ram

Besides that, I investigated the source and I believe is the time to create the temp file is greater than in our machine than ours, because the test first create and delete t

[2016-02-10 16:51] raphaelln commented on #573
@davvd just for our knowledge, I believe the above links are broken, I just get "page not found". But I already read it in the following link: http://www.yegor256.com/2014/04/17/how-xdsd-is-different.html

[2016-02-10 17:21] davvd commented on #584
@yegor256 since the ticket has no milestone I set it to 1.0

[2016-02-10 17:22] davvd opened #586 "Options.java:71-75: Options ctor. According to new..."
Puzzle `558-e98f4792` in `src/main/java/org/takes/http/Options.java:71-75` has to be resolved: Options ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vladimir on 7

[2016-02-10 18:03] davvd commented on #548
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-10 18:04] davvd commented on #586
@essobedo the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-10 18:42] xupyprmv commented on #544
@davvd I need more time here. My PR already approved and waits for final deploy.

[2016-02-10 18:58] essobedo commented on #586
@davvd the PR is ready to be reviewed thx in advance

[2016-02-10 19:30] davvd commented on #586
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-02-10 19:31] davvd opened #588 "Href.java:76-80: Href ctor. According to new..."
Puzzle `558-d5ffb2ba` in `src/main/java/org/takes/misc/Href.java:76-80` has to be resolved: Href ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vladimir on 7-Feb-2

[2016-02-10 19:48] davvd commented on #588
@essobedo it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-10 20:24] davvd commented on #588
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-02-10 20:25] davvd commented on #544
@xupyprmv of course, thanks for letting me know, take your time

[2016-02-10 20:25] davvd opened #589 "FkHitRefresh.java:117-121: FkHitRefresh ctor. According to new..."
Puzzle `558-b4a12ea6` in `src/main/java/org/takes/facets/fork/FkHitRefresh.java:117-121` has to be resolved: FkHitRefresh ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksi

[2016-02-10 20:46] ypshenychka commented on #548
@davvd Quality is good.

[2016-02-10 20:49] davvd commented on #589
@essobedo this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this]

[2016-02-11 02:32] pinaf opened #590 "Fork chain"
A useful Fork would be a Fork chain, that routes to each Fork in order until one returns a result, or until none are left.

Here is a suggested implementation. Please add unit tests.
[code]

Also, the implementation of `TkFork` can be simplified by the use of `FkChain`..

[2016-02-11 07:17] simonjenga commented on #506
@raphaelln There are intermittent results (```FAILURE/SUCCESS```) within Unit tests that have something to do with creating files in the ```temp``` Dir in my computer.

[code]

Try to reproduce this issue in the following environment:

[code]

The same error messages may appear on:
```Apache Maven 3.2.1```, ```Apache Maven 3.2.5``` and ```Apache Maven 3.3.3```

The reason this FAILURE sometimes ha

[2016-02-11 07:23] essobedo opened #591 "FtCLITest.understandsCommandLineArgs fails randomly on Travis"
I got successively a build failure (https://travis-ci.org/yegor256/takes/jobs/108471319) and a build success (https://travis-ci.org/yegor256/takes/jobs/108472875) with only more javadoc just to trigger a new build. So it seems that this particular test (FtCLITest.understandsCommandLineArgs) is unstable on Travis environment.

[2016-02-11 08:26] essobedo commented on #566
I happened again https://travis-ci.org/yegor256/takes/jobs/108481815. It is getting rely anoying

[2016-02-11 08:51] essobedo commented on #589
@davvd the PR is ready to be reviewed thx in advance

[2016-02-11 09:04] essobedo commented on #588
@davvd the PR is ready to be reviewed thx in advance

[2016-02-11 11:03] davvd commented on #589
@yegor256 attached this issue to milestone "1.0" (let me know if this is wrong)

[2016-02-11 11:04] davvd commented on #517
@sebing OK thanks

[2016-02-11 11:04] davvd commented on #522
@sebing OK thanks

[2016-02-11 11:04] davvd commented on #548
@ypshenychka thank you :)

[2016-02-11 11:04] davvd commented on #574
@sebing thanks

[2016-02-11 11:04] davvd commented on #573
@raphaelln we fixed the links, thanks

[2016-02-11 11:04] davvd commented on #560
@sebing OK

[2016-02-11 11:04] davvd opened #594 "RqMultipart.java:131-135: Base ctor. According to new..."
Puzzle `558-afc1c081` in `src/main/java/org/takes/rq/RqMultipart.java:131-135` has to be resolved: Base ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vladimir on

[2016-02-11 11:15] piotrkot commented on #505
@yegor256 In case the documentation is already updated, where can I find it?

[2016-02-11 11:30] davvd commented on #517
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-11 11:30] davvd commented on #560
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-11 11:32] davvd commented on #594
@2686747 it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-11 12:18] essobedo commented on #548
@davvd the PR has been merged, the ticket has been closed, the QA approved it so could you please proceed, thank you in advance

[2016-02-11 12:37] elenavolokhova commented on #560
@sebing
  According to our [quality rules](http://www.teamed.io/qa.html):

 There is no link to related PR in comments. Please fix this issue and follow this rule in your tickets in the future.

[2016-02-11 12:39] elenavolokhova commented on #517
@davvd Quality is good here.

[2016-02-11 13:23] sebing commented on #560
@elenavolokhova There is no fix for this issue. Only the analysis, I have done and found that "this is not an issue"

[2016-02-11 14:21] davvd commented on #594
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-02-11 14:22] davvd commented on #517
@elenavolokhova thanks for the review

[2016-02-11 14:22] davvd opened #595 "CcAES.java:91-95: CcAES ctor. According to new..."
Puzzle `558-7db66253` in `src/main/java/org/takes/facets/auth/codecs/CcAES.java:91-95` has to be resolved: CcAES ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vla

[2016-02-11 14:55] davvd commented on #522
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-11 14:57] davvd commented on #595
@sebing it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-02-11 14:57] davvd commented on #517
@sebing just added 10 mins to @elenavolokhova (for QA), payment ID is `77172947`... done, I added **30 mins** in payment `56bca102adaf562e9b00032e`, 305 hours and 13 mins spent to complete this... added +30 to your rating, now it is equal to [+45](http://www.netbout.com/b/36309?open=rating)

[2016-02-11 14:59] ypshenychka commented on #522
@davvd Quality is good.

[2016-02-11 15:27] essobedo opened #596 "String.replaceAll should never be called"
There are several places in the source code where the method _String.replaceAll_ (at least in _MediaType_ and _Href_) is called. It should be avoided mostly for performance reasons because it internally compiles the regular expression at each call. In that case we are supposed to use a field _private static final_ of type Pattern which is possible because a Pattern is Immutable/thread safe and use

[2016-02-11 15:47] essobedo opened #597 "Use String.split if the separator is only one character long"
Using _String.split_ if the separator is only one character long (normal character or a backslash followed by a special character) is very fast as it is not treated internally as a regular expression but if the separator is a real regular expression it will internally compile the regular expression at each call which has a significant cost in term of performances.  In that case we are supposed to

[2016-02-11 15:57] davvd commented on #595
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2016-02-11 15:58] davvd opened #598 "BkTimeable.java:67-71: BkThreads ctor. According to new..."
Puzzle `558-7c5810e9` in `src/main/java/org/takes/http/BkTimeable.java:67-71` has to be resolved: BkThreads ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vladimir

[2016-02-11 16:19] davvd commented on #558
@yegor256 Closed, thanks all

[2016-02-11 16:19] #558 closed

[2016-02-11 16:19] davvd commented on #558
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-11 16:21] davvd commented on #548
@essobedo I added 10 mins to @ypshenychka (for QA review) in transaction 77176931

thank you, added **30 mins** to your acc, payment num is `77176968`, 117 hours and 22 mins spent in total to complete

+30 to your rating, your total score is [+60](http://www.netbout.com/b/36421?open=rating)

[2016-02-11 16:21] davvd commented on #598
@sebing this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-02-11 16:24] essobedo commented on #548
@davvd thank you very much

[2016-02-11 17:08] elenavolokhova commented on #558
@davvd Looks good!

[2016-02-11 18:56] davvd commented on #598
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-02-11 18:57] davvd commented on #522
@ypshenychka many thanks

[2016-02-11 18:57] davvd commented on #558
@elenavolokhova thanks a lot

[2016-02-11 18:57] davvd commented on #548
@essobedo you are welcome

[2016-02-11 18:57] davvd opened #600 "PsBasic.java:226-230: Default ctor. According to new..."
Puzzle `558-7b985928` in `src/main/java/org/takes/facets/auth/PsBasic.java:226-230` has to be resolved: Default ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vlad

[2016-02-11 19:16] davvd commented on #522
@sebing I added 10 mins to @ypshenychka (for QA review) in transaction 77185576; Many thanks! **30 mins** were added to your account in Transaction ID `56bcddcdadaf56566c000112` (task took 358 hours and 49 mins); +30 to your rating, your total score is [+75](http://www.netbout.com/b/36309?open=rating)

[2016-02-11 19:16] davvd commented on #600
@sebing can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-11 20:52] raphaelln commented on #506
@davvd it's done in PR #601, please assign reviewer.

Thanks.

[2016-02-11 21:07] davvd commented on #600
@yegor256 there is no milestone yet, so I set it to `1.0`

[2016-02-11 21:07] davvd opened #602 "RqForm.java:290-294: Fake ctor. According to new..."
Puzzle `558-79259f7e` in `src/main/java/org/takes/rq/RqForm.java:290-294` has to be resolved: Fake ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vladimir on 7-Feb

[2016-02-11 21:28] davvd commented on #558
@xupyprmv just added 10 mins to @elenavolokhova (for QA), payment ID is `77191388`. Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-05J72082AC498280T`, total time was 148 hours and 9 mins. +30 added to your rating, current score is: [+120](http://www.netbout.com/b/35999?open=rating)

[2016-02-11 21:28] davvd commented on #602
@xupyprmv the task is yours please proceed

[2016-02-11 22:42] 2686747 commented on #594
@davvd the PR is ready to be reviewed thx in advance

[2016-02-12 10:10] davvd commented on #602
@yegor256 I set the milestone to 1.0 since there is nothing set yet

[2016-02-12 10:11] davvd commented on #506
@raphaelln OK, sure

[2016-02-12 10:12] davvd opened #604 "PsAll.java:56-60: PsAll ctor. According to new..."
Puzzle `558-4ea33ea6` in `src/main/java/org/takes/facets/auth/PsAll.java:56-60` has to be resolved: PsAll ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vladimir o

[2016-02-12 10:31] davvd commented on #604
@xupyprmv the task is yours please proceed

[2016-02-12 10:31] davvd commented on #582
@yegor256 please do something about this issue

[2016-02-12 12:17] raphaelln commented on #573
@sebing I'm not getting to reproduce this error in travis. Do you have any thoughts about how can I reproduce it ?

I put our code in my branch and I did a lot builds in travis but none of them has been failed.

Thanks.

[2016-02-12 12:23] sebing commented on #573
@raphaelln I feel, the problem is quite random. I got the problem one more time. You can find the detail here (https://travis-ci.org/yegor256/takes/builds/108122499).

[2016-02-12 12:24] davvd commented on #604
@yegor256 milestone set to `1.0` (correct me if I am wrong)

[2016-02-12 12:25] davvd opened #606 "MediaType.java:62-66: MediaType ctor. According to new..."
Puzzle `558-12fc4eff` in `src/main/java/org/takes/facets/fork/MediaType.java:62-66` has to be resolved: MediaType ctor. According to new qulice version, constructor must contain only variables initialization and other constructor calls. Refactor code according to that rule and remove `ConstructorOnlyInitializesOrCallOtherConstructors` warning suppression.... The puzzle was created by Maksimenko Vl

[2016-02-12 12:42] davvd commented on #606
@dalifreire could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-12 15:44] davvd commented on #606
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2016-02-12 15:46] raphaelln commented on #573
@sebing  the error above https://travis-ci.org/yegor256/takes/builds/108122499 happened in java 7, I believe this error is not related wit this one.

@davvd I don't know how to proceed to resolve this issue, I tried to simulate a lot of times, but the error not occurred.

I searched in the build history and this error occurred in the following builds:

https://travis-ci.org/yegor256/takes/jobs/107

[2016-02-12 16:04] davvd commented on #437
@danff you're working with this issue for 15 days already... -30 added to your rating, current score is: [+0](http://www.netbout.com/b/36198?open=rating)

[2016-02-12 16:31] danff commented on #437
@davvd need more time

[2016-02-12 16:32] danff commented on #485
@davvd need more time

[2016-02-12 17:06] dalifreire commented on #606
@davvd I have sent the away command to @alice. Could you assign this task to someone else?

[2016-02-12 17:23] sebing commented on #573
@raphaelln I got the same issue again.
https://travis-ci.org/yegor256/takes/builds/108836178

[2016-02-12 17:43] davvd commented on #437
@danff agreed, take your time

[2016-02-12 17:43] davvd commented on #485
@danff OK, take your time

[2016-02-12 18:11] Happy-Neko commented on #555
@yegor256 @mkordas Ok.

[2016-02-12 18:11] Happy-Neko commented on #555
@davvd We need more time here.

[2016-02-12 18:19] raphaelln commented on #573
@sebing this error is related with this issue #506

[2016-02-12 20:35] Happy-Neko opened #607 "Href query param names is undetermined"
`Href` query param names are stored as `Map` keys, their order in the built url is undetermined. Either update `HrefTest` to take this into consideration or store them as `SortedMap` keys to ensure order.

[2016-02-12 21:34] Happy-Neko opened #608 "Wrap all methods that may return null in Opt.Nullable"
All library methods calls that may return `null` should be wrapped in `Opt.Nullable` and checked for value presence with `Opt.has()`.

[2016-02-12 21:43] Happy-Neko opened #609 "null value should not be placed in Opt.Single container"
`TkMethodsTest` and `TkRetryTest` detected problems with passing `null` value to `Opt.Single` constructor. We should fix these problems and re-enable ignored tests.

[2016-02-12 21:56] Happy-Neko commented on #555
@mkordas First step done.

I have implemented `Opt.Nullable` container to store possible-null value returned by library methods (PR #610).

Next puzzles:
* Wrap all library methods that may return `null` in `Opt.Nullable` #608
* `null` value should not be placed in `Opt.Single` container #609

[2016-02-12 22:32] yegor256 commented on #582
@essobedo it's a bug, thanks for reporting

[2016-02-13 07:34] elenavolokhova commented on #560
@yegor256 Could you please help here? There was not actual fix for this issue, but performer did some investigation. Issue became outdated. What should we do in such cases?

[2016-02-13 09:11] davvd commented on #582
@essobedo since the ticket has no milestone I set it to 1.0

[2016-02-13 09:12] davvd commented on #555
@happy-neko sure, thanks for telling me, take your time

[2016-02-13 09:12] davvd commented on #594
@2686747 OK thanks

[2016-02-13 09:15] essobedo commented on #524
@rfqu Hi Alexei, now you can close the ticket as PR has been merged. Thank you in advance

[2016-02-13 09:33] davvd commented on #582
@essobedo many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `77261952`

[2016-02-13 13:10] #524 closed

[2016-02-13 13:13] essobedo commented on #524
@rfqu Thank you very much

[2016-02-13 13:15] essobedo commented on #524
@davvd the PR has been merged and the ticket has been closed, it is ready for the QA. Thank you in advance

[2016-02-13 14:20] #607 closed

[2016-02-14 09:16] davvd commented on #588
@essobedo OK

[2016-02-14 09:44] davvd commented on #590
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)