[2019-07-21 14:07] 0crat commented on #990
Order was finished, quality is "acceptable": +30 point(s) just awarded to @mreiche[/z](https://www.0crat.com/u/mreiche)

[2019-08-02 07:35] wtmtgmgxj commented on #510
I am still facing the same issue, I face this issue when I add the following dependencies in child project.

[code]
The child jar already had this dependency
[code]

The dependent jar(i.e the parent jar) has the following dependency

[code]

[2019-08-02 14:22] simonjenga commented on #510
@wtmtgmgxj
During a previous project Build, your internet connection may have downloaded some corrupt JARS. You have to find and delete those dependencies from your ```.m2``` repository in your machine.

After that, Build your project again with Maven so that it can download fresh new and clean copies from the internet.

Hope that you will resolve your issue soon! :wink:

[2019-09-02 11:50] piotrkot opened #991 "Builds in Travis fail on installing JDK"
[code]
See https://github.com/yegor256/takes/pull/985

[2019-09-02 11:51] 0crat commented on #991
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-02 11:51] 0crat commented on #991
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-04 11:31] piotrkot commented on #991
@yegor256 @paulodamaso I think this is a task for administrator.

[2019-09-05 02:53] paulodamaso commented on #991
@0crat assign @piotrkot

[2019-09-05 02:54] paulodamaso commented on #991
@piotrkot It is a `oraclejdk8` image problem. Please take a look at https://travis-ci.community/t/install-of-oracle-jdk-8-failing/3038/2

[2019-09-05 02:54] 0crat commented on #991
@paulodamaso The job [#991](https://github.com/yegor256/takes/issues/991) assigned to @piotrkot[/z](https://www.0crat.com/u/piotrkot), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/b5436122-7f27-46cf-b709-b12af9a491e0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2019-09-05 03:01] 0crat commented on #991
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-05 03:01] 0crat commented on #991
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @piotrkot[/z](https://www.0crat.com/u/piotrkot)

[2019-09-05 03:01] 0crat commented on #991
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-05 06:26] piotrkot commented on #991
@paulodamaso Thank you for the hint. It builds successfully now.

[2019-09-06 05:50] piotrkot commented on #991
Merged into master

[2019-09-06 05:50] #991 closed

[2019-09-06 06:09] 0crat commented on #991
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-09-06 06:09] 0crat commented on #991
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @piotrkot[/z](https://www.0crat.com/u/piotrkot), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-09-06 06:09] 0crat commented on #991
The job [#991](https://github.com/yegor256/takes/issues/991) is now out of scope

[2019-09-06 06:16] sereshqua commented on #991
@piotrkot please make sure that you always start your messages with the name of the user they are addressed to, thanks

[2019-09-09 11:24] sereshqua commented on #991
@piotrkot ping

[2019-09-09 11:26] piotrkot commented on #991
@sereshqua pong

[2019-09-09 11:27] sereshqua commented on #991
@0crat quality acceptable

[2019-09-09 11:43] 0crat commented on #991
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-09-09 11:44] 0crat commented on #991
Order was finished, quality is "acceptable": +35 point(s) just awarded to @piotrkot[/z](https://www.0crat.com/u/piotrkot)

[2019-10-17 13:19] PhilipGuo1992 opened #993 "constructor: FtRemote(final Front front, final ServerSocket skt, final boolean sec) not accessible from outside"
I am trying to config SSL connection, which need to use FtRemote(front, skt, secure), but this constructor is only available within package level. I can not start a HTTPS server. Can you make the constructor public ?
Thank you.

[2019-10-17 13:20] 0crat commented on #993
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-17 13:20] 0crat commented on #993
@philipguo1992[/z](https://www.0crat.com/u/philipguo1992) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-23 13:28] 0crat commented on #918
The job [#918](https://github.com/yegor256/takes/issues/918) assigned to @protagores[/z](https://www.0crat.com/u/protagores), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/ce9c46cf-2675-456d-9f77-8630154453ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-10-29 18:19] 0crat commented on #918
@Protagores The user @protagores[/z](https://www.0crat.com/u/protagores) resigned from [#918](https://github.com/yegor256/takes/issues/918), please stop working. Reason for job resignation: Order was cancelled

[2019-10-29 18:26] 0crat commented on #918
Tasks refusal is discouraged (job refused in 149 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @protagores[/z](https://www.0crat.com/u/protagores)

[2019-11-12 05:26] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/1c3200ae-ba77-4350-beb6-9d66367d8aa0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-12 05:31] 0crat commented on #918
The job [#918](https://github.com/yegor256/takes/issues/918) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/d2b49d4c-6e03-4aa3-9e35-1a0ec8911740); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-13 22:37] fevzian opened #994 "What about replacing 'org.takes.Scalar' with 'org.cactoos.Scalar' ?"
[Cactoos project](https://github.com/yegor256/cactoos) already provides [org.cactoos.Scalar](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/Scalar.java) which is similar to [org.takes.Scalar](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/Scalar.java).
Why not just replacing usage of [org.takes.Scalar](https://github.com/yegor256/takes/blob/master/

[2019-11-13 22:37] 0crat commented on #994
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-18 19:04] paulodamaso commented on #994
@fanifieiev I agree.

[2019-11-18 19:04] paulodamaso commented on #994
@yegor256 Is there any special reason for not using cactoos scalar in takes?

[2019-11-20 14:16] fanifieiev commented on #869
@0crat status

[2019-11-20 14:31] 0crat commented on #869
@fanifieiev This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#869](https://github.com/yegor256/takes/issues/869) is [in scope](http://www.zerocracy.com/policy.html#14) for 12mon
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [8days](http

[2019-11-20 14:35] fanifieiev commented on #869
@0crat wait for #996 to be merged

[2019-11-20 14:50] 0crat commented on #869
@fanifieiev The impediment for [#869](https://github.com/yegor256/takes/issues/869) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-21 01:21] piotrkot opened #997 "Copying bytes in RqMtBase is broken"
It's broken `copy` function in `RqMtBase`.
This function is private and procedural so difficult to both test and understand. But let me explain.

Assume the boundary is `byte[] {13, 10, 45, 45, 102}` and the buffer is [position: 8190, limit: 8192, cap: 8192] with last two bytes in buffer are equal 13. Current byte read from the buffer is not equal to 13.
Now the code is:

[code]
When reading last

[2019-11-21 01:21] 0crat commented on #997
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-21 01:21] 0crat commented on #997
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-21 02:13] paulodamaso commented on #997
@0crat in

[2019-11-21 04:04] 0crat commented on #997
@paulodamaso Job [#997](https://github.com/yegor256/takes/issues/997) is now in scope, role is `DEV`

[2019-11-21 05:09] 0crat commented on #997
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @piotrkot[/z](https://www.0crat.com/u/piotrkot)

[2019-11-21 06:08] 0crat commented on #997
The job [#997](https://github.com/yegor256/takes/issues/997) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/4858d139-39cc-485d-b578-4cd38cefdafd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-11-21 09:26] piotrkot commented on #997
@paulodamaso In case you don't find a developer for the task, please assign to me.

[2019-11-22 18:04] fanifieiev commented on #994
@paulodamaso According to git history of `org.takes.Scalar`, 'org.cactoos.Scalar', and `takes/pom.xml`:
the `cactoos` was added as a dependency to 'Takes' project on Sep 11, 2018 according to
[commit](https://github.com/yegor256/takes/commit/c9058176eabd0a14072c2f35d7682f136c5064e1#diff-600376dffeb79835ede4a0b285078036), but the `org.takes.Scalar` was added far before that.
That is why Takes has i

[2019-11-25 13:27] 0pdd opened #998 "EnglishLowerCase.java:31-34: Remove this class in favour..."
The puzzle `918-4b25f3bd` from #918 has to be resolved:

https://github.com/yegor256/takes/blob/5a7041763ed2b59d9ea142c54a25dbea1596a5a2/src/main/java/org/takes/misc/EnglishLowerCase.java#L31-L34

The puzzle was created by @fanifieiev on 20-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-11-25 13:27] 0crat commented on #998
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-25 13:27] 0pdd opened #999 "RqOnce.java:36-38: Please use {@link..."
The puzzle `918-a277e748` from #918 has to be resolved:

https://github.com/yegor256/takes/blob/5a7041763ed2b59d9ea142c54a25dbea1596a5a2/src/main/java/org/takes/rq/RqOnce.java#L36-L38

The puzzle was created by @fanifieiev on 20-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-11-25 13:28] 0pdd opened #1000 "TkFallback.java:49-52: {@link TkFallback} class is very..."
The puzzle `918-47bb7809` from #918 has to be resolved:

https://github.com/yegor256/takes/blob/5a7041763ed2b59d9ea142c54a25dbea1596a5a2/src/main/java/org/takes/facets/fallback/TkFallback.java#L49-L52

The puzzle was created by @fanifieiev on 20-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2019-11-25 13:28] 0crat commented on #999
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-25 13:28] 0pdd commented on #918
@fabriciofx 3 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#998](https://github.com/yegor256/takes/issues/998), [#999](https://github.com/yegor256/takes/issues/999) are still not solved.

[2019-11-25 13:28] 0crat commented on #1000
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-25 13:30] 0crat commented on #998
Job [#998](https://github.com/yegor256/takes/issues/998) is now in scope, role is `DEV`

[2019-11-25 13:32] 0crat commented on #999
Job [#999](https://github.com/yegor256/takes/issues/999) is now in scope, role is `DEV`

[2019-11-25 13:33] 0crat commented on #1000
Job [#1000](https://github.com/yegor256/takes/issues/1000) is now in scope, role is `DEV`

[2019-11-25 14:22] 0crat commented on #998
The job [#998](https://github.com/yegor256/takes/issues/998) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/9137de27-1d14-4b3a-80c5-d575e71320d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-25 14:26] 0crat commented on #998
Job `gh:yegor256/takes#998` already assigned to @fanifieiev, can't assign to @fanifieiev

[2019-11-26 01:44] #918 closed

[2019-11-26 04:31] 0crat commented on #918
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-26 04:46] 0crat commented on #918
The job [#918](https://github.com/yegor256/takes/issues/918) is now out of scope

[2019-11-26 05:36] sereshqua commented on #918
@0crat quality good

[2019-11-26 05:59] 0crat commented on #918
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-26 06:00] 0crat commented on #918
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-26 06:03] 0crat commented on #999
The job [#999](https://github.com/yegor256/takes/issues/999) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/01e6120a-f611-479e-a255-59ba8db85021); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-11-26 10:52] #869 closed

[2019-11-26 10:53] 0pdd commented on #869
The puzzle `800-fe5f523c` has disappeared from the source code, that's why I closed this issue.

[2019-11-26 10:53] 0pdd commented on #712
@g4s8 all 4 puzzles are solved here: [#730](https://github.com/yegor256/takes/issues/730), [#731](https://github.com/yegor256/takes/issues/731), [#800](https://github.com/yegor256/takes/issues/800), [#869](https://github.com/yegor256/takes/issues/869).

[2019-11-26 10:53] 0pdd commented on #730
@0pdd all 2 puzzles are solved here: [#800](https://github.com/yegor256/takes/issues/800), [#869](https://github.com/yegor256/takes/issues/869).

[2019-11-26 10:53] 0pdd commented on #800
@0pdd the only puzzle [#869](https://github.com/yegor256/takes/issues/869) is solved here.

[2019-11-26 11:26] 0crat commented on #869
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-26 11:27] 0crat commented on #869
The job [#869](https://github.com/yegor256/takes/issues/869) is now out of scope

[2019-11-26 11:51] sereshqua commented on #869
@0crat quality good

[2019-11-26 12:03] 0crat commented on #869
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-11-26 12:06] 0crat commented on #869
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2019-11-26 12:20] 0crat commented on #1000
The job [#1000](https://github.com/yegor256/takes/issues/1000) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/983acb4a-009d-4611-99af-eafd1cd61f66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-11-28 10:01] piotrkot commented on #997
@paulodamaso How long can we wait for a developer to start or reject the task?

[2019-11-28 12:01] paulodamaso commented on #997
@piotrkot Each ticket has a deadline of 10 days before @0crat assigns it to another developer.

[2019-11-28 12:01] 0crat commented on #997
Are you speaking to me or about me [here](https://github.com/yegor256/takes/issues/997#issuecomment-559467225); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-12-02 09:00] piotrkot commented on #997
@paulodamaso It's been 11 days now.

[2019-12-03 01:34] paulodamaso commented on #997
@0crat status

[2019-12-03 03:43] 0crat commented on #997
@paulodamaso This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#997](https://github.com/yegor256/takes/issues/997) is [in scope](http://www.zerocracy.com/policy.html#14) for 12days
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [12d

[2019-12-04 12:54] piotrkot commented on #997
@paulodamaso Where can I file a bug that 0crat incorrectly keeps the job assigned for longer than it should?

[2019-12-04 13:06] pal548 opened #1002 "Code duplication in the TkSlf4j.java"
Hello everyone, I accidentally found some code duplication in TkSlf4j.
I made some refactoring, please welcome to check PR.

[2019-12-04 13:07] 0crat commented on #1002
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-04 13:07] 0crat commented on #1002
@pal548[/z](https://www.0crat.com/u/pal548) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-04 13:08] pal548 commented on #1002
But I`m not sure of the design, maybe someone could help me improve it. Thanks

[2019-12-04 16:53] fanifieiev commented on #1002
@paulodamaso Please take a look at the issue. I do not agree with that.

[2019-12-04 22:10] fevzian opened #1004 "Discussion.What about an elegant way to log messages???"
By creating this issue I would like to raise a discussion about utilizing an elegant OOP way to use logging functionality.
Do we need to create specific classes like `Log`, `Info`, `Debug`, `Trace `, `Error `etc to log messages.

The target:
 - Get rid of conditional statements like:
   `if (logger.isInfoEnabled()) {..}` and use:
    `new Log(
        this,
        INFO,
        <message>, <params

[2019-12-04 22:10] 0crat commented on #1004
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-05 02:17] paulodamaso commented on #997
@piotrkot Please file it [here](https://github.com/zerocracy/farm)

[2019-12-05 07:37] piotrkot commented on #997
@paulodamaso Can you reassign manually or we need to wait until 0crat is fixed?

[2019-12-05 08:09] g4s8 opened #1005 "Inconvenient TkMethods and FkMethods constructor parameters order"
There're two classes `TkMethods` and `FkMethods`. First has constructor:
[code]
second:
[code]
Both accepts `Take` and list of methods to support, but in `TkMethods` takes parameter is first and in `FkMethods` it's second. I always mistype these arguments when using takes and try to pass take as second parameter to `TkMethods`. I'd change `TkMethods` (since it's a wraper based on `FkMethods`, and

[2019-12-05 08:09] 0crat commented on #1005
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-05 11:30] paulodamaso commented on #997
@0crat refuse

[2019-12-05 11:34] 0crat commented on #997
@paulodamaso The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#997](https://github.com/yegor256/takes/issues/997), please stop working. Reason for job resignation: Order was cancelled

[2019-12-05 13:25] paulodamaso commented on #994
@0crat in

[2019-12-05 13:27] paulodamaso commented on #959
@golszewski86 You are right, @fabriciofx  I'll close this issue

[2019-12-05 13:27] #959 closed

[2019-12-05 13:29] paulodamaso commented on #946
@paul-hammant we are discussing a solution for this in #1004, please feel free to join!

[2019-12-05 13:31] paulodamaso commented on #955
@fabriciofx what happened with this issue? Have you filed a PR to solve it?

[2019-12-05 13:35] 0crat commented on #994
@paulodamaso Job [#994](https://github.com/yegor256/takes/issues/994) is now in scope, role is `DEV`

[2019-12-05 13:36] paulodamaso commented on #991
@rultor release tag is `1.19`

[2019-12-05 13:37] rultor commented on #991
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20995-562131068)

[2019-12-05 13:52] 0crat commented on #959
Job `gh:yegor256/takes#959` is not assigned, can't get performer

[2019-12-05 13:56] 0crat commented on #959
This job is not in scope

[2019-12-05 13:56] 0crat commented on #994
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-12-05 13:59] rultor commented on #991
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/20995-562131068) (took me 18min)

[2019-12-05 17:08] fevzian opened #1007 "Every public method in a good object should implement his counterpart from an interface"
According to Yegor's article https://www.yegor256.com/2014/11/20/seven-virtues-of-good-object.html#2-he-works-by-contracts :
The rule here is simple: every public method in a good object should implement his counterpart from an interface. If your object has public methods that are not inherited from any interface, he is badly designed.

Looking through the code I have found at least the following

[2019-12-05 17:08] 0crat commented on #1007
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-05 20:43] paul-hammant commented on #1004
I prefer Monitors (callbacks) rather than static logging.
These real examples go back ten years or so:

**Use in JRemoting (a marginal transparent RMI for Java) :**

Client Side

- https://github.com/paul-hammant/JRemoting/tree/master/api/src/java/org/codehaus/jremoting/client/ClientMonitor.java
- and implementors: https://github.com/paul-hammant/JRemoting/tree/master/client/src/java/org/codehaus/

[2019-12-05 21:09] fanifieiev commented on #998
@0crat wait for merge

[2019-12-05 21:12] 0crat commented on #998
@fanifieiev The impediment for [#998](https://github.com/yegor256/takes/issues/998) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-12-06 15:00] fanifieiev commented on #998
@0crat Wait for [#1001 ](https://github.com/yegor256/takes/pull/1001) to be merged

[2019-12-06 15:01] 0crat commented on #998
@fanifieiev Job [#998](https://github.com/yegor256/takes/issues/998) is already on hold

[2019-12-11 06:09] 0crat commented on #997
The job [#997](https://github.com/yegor256/takes/issues/997) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/9746ca56-39ce-4ae7-8f23-010cabdc2cd4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-12-11 06:21] 0crat commented on #997
Job `gh:yegor256/takes#997` already assigned to @fanifieiev, can't assign to @fanifieiev

[2019-12-12 15:55] fanifieiev commented on #997
@0crat refuse

[2019-12-12 15:56] 0crat commented on #997
@fanifieiev The user @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) resigned from [#997](https://github.com/yegor256/takes/issues/997), please stop working. Reason for job resignation: Order was cancelled

[2019-12-12 15:59] 0crat commented on #997
Tasks refusal is discouraged (job refused in 34 hours), see [§6](http://www.zerocracy.com/policy.html#6): -10 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2019-12-16 20:15] yegor256 commented on #994
@paulodamaso we just don't want to have Cactoos as a dependency in Takes. Or is it already?

[2019-12-16 20:32] fanifieiev commented on #994
@yegor256 It has been in Takes since Sep 11, 2018. Here is the [commit](https://github.com/yegor256/takes/commit/c9058176eabd0a14072c2f35d7682f136c5064e1#diff-600376dffeb79835ede4a0b285078036).

[2019-12-17 11:28] paulodamaso commented on #994
@yegor256 Is there any special reason for not having takes depend on cactoos? I see cactoos as the foundation of elegant objects for java, so I see no problem in depending on it.

[2019-12-23 13:09] yegor256 commented on #994
@paulodamaso since it's already there, let it be. Let's use `Scalar` from Cactoos, it's only logical.

[2019-12-26 17:15] paulodamaso commented on #994
@0crat in

[2019-12-26 17:16] 0crat commented on #994
@paulodamaso Job [#994](https://github.com/yegor256/takes/issues/994) is already in scope

[2019-12-27 20:57] 0crat commented on #997
The job [#997](https://github.com/yegor256/takes/issues/997) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/22320254-db20-43b0-897b-47dc1d37bba0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-01-10 14:02] 0crat commented on #994
The job [#994](https://github.com/yegor256/takes/issues/994) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/f01c0149-47b8-4d82-9f6c-6f14bda1a051); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-01-13 14:56] 0pdd opened #1008 "HttpServletResponseFake.java:54-57: The method..."
The puzzle `998-598741c4` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/servlet/HttpServletResponseFake.java#L54-L57

The puzzle was created by @fanifieiev on 02-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-01-13 14:57] 0pdd opened #1009 "package-info.java:42-44: Replace the usage of {@link..."
The puzzle `998-afb3a7a5` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/package-info.java#L42-L44

The puzzle was created by @fanifieiev on 02-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-01-13 14:57] 0crat commented on #1008
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 14:57] 0pdd opened #1010 "package-info.java:45-47: Replace the usage of {@link..."
The puzzle `998-bf531c2b` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/package-info.java#L45-L47

The puzzle was created by @fanifieiev on 02-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-01-13 14:58] 0pdd opened #1011 "package-info.java:48-51: Replace the usage of {@link..."
The puzzle `998-930f99e9` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/package-info.java#L48-L51

The puzzle was created by @fanifieiev on 24-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-01-13 14:58] 0crat commented on #1008
Job [#1008](https://github.com/yegor256/takes/issues/1008) is now in scope, role is `DEV`

[2020-01-13 14:58] 0crat commented on #1009
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 14:58] 0pdd opened #1012 "Utf8String.java:33-38: Please remove this class and use..."
The puzzle `998-4e007535` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/misc/Utf8String.java#L33-L38

The puzzle was created by @fanifieiev on 29-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-01-13 14:59] 0pdd opened #1013 "Utf8InputStreamContent.java:33-36: Please remove this..."
The puzzle `998-391a4461` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/misc/Utf8InputStreamContent.java#L33-L36

The puzzle was created by @fanifieiev on 29-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-01-13 14:59] 0crat commented on #1011
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 14:59] 0crat commented on #1009
Job [#1009](https://github.com/yegor256/takes/issues/1009) is now in scope, role is `DEV`

[2020-01-13 14:59] 0crat commented on #1010
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 14:59] 0pdd opened #1014 "Transform.java:34-37: Please remove this class and also..."
The puzzle `998-179b06ba` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/misc/Transform.java#L34-L37

The puzzle was created by @fanifieiev on 29-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-01-13 15:00] 0crat commented on #1014
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:00] 0pdd opened #1015 "Sprintf.java:35-38: Please remove this class and use..."
The puzzle `998-c07e6e60` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/misc/Sprintf.java#L35-L38

The puzzle was created by Fevzi Anifieiev on 29-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-01-13 15:00] 0pdd opened #1016 "Utf8PrintStream.java:34-37: Please remove this class and..."
The puzzle `998-44c9d907` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/misc/Utf8PrintStream.java#L34-L37

The puzzle was created by Fevzi Anifieiev on 29-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-01-13 15:01] 0crat commented on #1013
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:01] 0crat commented on #1011
Job [#1011](https://github.com/yegor256/takes/issues/1011) is now in scope, role is `DEV`

[2020-01-13 15:01] 0pdd opened #1017 "Utf8OutputStreamContent.java:33-36: Please remove this..."
The puzzle `998-37169ad0` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/misc/Utf8OutputStreamContent.java#L33-L36

The puzzle was created by Fevzi Anifieiev on 29-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-01-13 15:01] 0crat commented on #1012
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:01] 0pdd opened #1018 "MediaType.java:39-44: Please use {@link..."
The puzzle `998-8713353e` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/facets/fork/MediaType.java#L39-L44

The puzzle was created by Fevzi Anifieiev on 24-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-01-13 15:02] 0crat commented on #1013
Job [#1013](https://github.com/yegor256/takes/issues/1013) is now in scope, role is `DEV`

[2020-01-13 15:02] 0pdd opened #1019 "FkHost.java:51-55: Use {@link org.cactoos.scalar.Ternary}..."
The puzzle `998-08523712` from #998 has to be resolved:

https://github.com/yegor256/takes/blob/47805287af4df195dfb51c8633e232e7725cc442/src/main/java/org/takes/facets/fork/FkHost.java#L51-L55

The puzzle was created by Fevzi Anifieiev on 02-Dec-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-01-13 15:02] 0pdd commented on #918
@fabriciofx 15 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1008](https://github.com/yegor256/takes/issues/1008), [#1009](https://github.com/yegor256/takes/issues/1009), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1013](https://github.com/yegor256/takes

[2020-01-13 15:02] 0pdd commented on #998
@0pdd 12 puzzles [#1008](https://github.com/yegor256/takes/issues/1008), [#1009](https://github.com/yegor256/takes/issues/1009), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1013](https://github.com/yegor256/takes/issues/1013), [#1014](https://github.com/yegor256/takes/issue

[2020-01-13 15:02] 0crat commented on #1018
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:03] 0crat commented on #1017
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:04] 0crat commented on #1016
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:04] 0crat commented on #1010
Job [#1010](https://github.com/yegor256/takes/issues/1010) is now in scope, role is `DEV`

[2020-01-13 15:04] 0crat commented on #1012
Job [#1012](https://github.com/yegor256/takes/issues/1012) is now in scope, role is `DEV`

[2020-01-13 15:04] 0crat commented on #1015
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:06] 0crat commented on #1018
Job [#1018](https://github.com/yegor256/takes/issues/1018) is now in scope, role is `DEV`

[2020-01-13 15:06] 0crat commented on #1019
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-13 15:07] 0crat commented on #1016
Job [#1016](https://github.com/yegor256/takes/issues/1016) is now in scope, role is `DEV`

[2020-01-13 15:08] 0crat commented on #1017
Job [#1017](https://github.com/yegor256/takes/issues/1017) is now in scope, role is `DEV`

[2020-01-13 15:08] 0crat commented on #1019
Job [#1019](https://github.com/yegor256/takes/issues/1019) is now in scope, role is `DEV`

[2020-01-13 15:09] 0crat commented on #1015
Job [#1015](https://github.com/yegor256/takes/issues/1015) is now in scope, role is `DEV`

[2020-01-13 15:09] 0crat commented on #1014
Job [#1014](https://github.com/yegor256/takes/issues/1014) is now in scope, role is `DEV`

[2020-01-14 14:16] fanifieiev commented on #998
@0crat status

[2020-01-14 14:17] 0crat commented on #998
@fanifieiev This is what I know about this job in [C3FFK3YAY](https://www.0crat.com/p/C3FFK3YAY), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#998](https://github.com/yegor256/takes/issues/998) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [2mon](http:/

[2020-01-14 14:42] fanifieiev commented on #998
@sereshqua Do you know who should close this issue??? The relevant [PR](https://github.com/yegor256/takes/pull/1001) has been merged already.
Thanks.

[2020-01-14 16:26] sereshqua commented on #998
@fanifieiev if it is pdd it is either 0pdd or 0crat :) if smth is wrong - you can submit a bug and win 15 points, or just ask project architect to close it manually

[2020-01-14 17:11] fanifieiev commented on #998
@sereshqua Thanks, got it.

[2020-01-16 07:39] golszewski86 opened #1021 "IndexOutOfBoundsException when Identity prop value is empty String"
The following code:

[code]

Produces exception:

[code]
takes 1.19

[2020-01-16 07:39] 0crat commented on #1021
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-16 07:39] 0crat commented on #1021
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-27 21:37] paulodamaso commented on #1021
@0crat in

[2020-01-27 21:53] 0crat commented on #1021
@paulodamaso Thanks for your contribution, @golszewski86[/z](https://www.0crat.com/u/golszewski86)! If you would be a member of [the project](https://www.0crat.com/p/C3FFK3YAY), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-01-29 10:29] Guseyn opened #1022 "It's horrible naming convention, I don't understand shortcut names. It's a bad practice."

[2020-01-29 10:29] 0crat commented on #1022
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-29 10:29] 0crat commented on #1022
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-29 16:15] 0crat commented on #1008
The job [#1008](https://github.com/yegor256/takes/issues/1008) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/acf1fe40-739d-479d-aa44-b6b17ad0ad05); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-01-29 16:25] 0crat commented on #1009
The job [#1009](https://github.com/yegor256/takes/issues/1009) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/63976020-a0e3-4202-8f34-666b367b9336); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-01-29 16:28] 0crat commented on #1011
The job [#1011](https://github.com/yegor256/takes/issues/1011) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2c23d280-e3b2-4042-a3d8-a91506a1f6bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-01-29 16:51] 0crat commented on #1010
The job [#1010](https://github.com/yegor256/takes/issues/1010) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/46e021be-e9e5-4dd3-a61c-dbc53809bedd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-02-03 16:15] g4s8 opened #1024 "Invalid request line for RqFake"
The first request line in `RqFake` is not correct. According to [RFC2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html) the request line should be:
[code]
But `new RqFake()` returns: `GET /` ("Method SP Request-URI CRLF"), it means `HTTP-Version` component is missing. The correct default request line could be: `GET / HTTP/1.1` or any other valid request line.

[2020-02-03 16:15] 0crat commented on #1024
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-03 19:31] paulodamaso commented on #1024
@0crat in

[2020-02-03 20:17] 0crat commented on #1024
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 02:33] fanifieiev commented on #1011
@0crat wait for [cactoos-1265](https://github.com/yegor256/cactoos/issues/1265) to be available in Takes within Cactoos dependency

[2020-02-04 04:41] 0crat commented on #1011
@fanifieiev The impediment for [#1011](https://github.com/yegor256/takes/issues/1011) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-04 21:35] fanifieiev opened #1025 "Update Takes with the latest release of Cactoos dependency"
There have been some new features implemented in Cactoos project, so there is a need to update cactoos dependency to the latest release.

[2020-02-04 21:35] 0crat commented on #1025
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-05 14:55] fanifieiev commented on #1010
@0crat wait for [1025](https://github.com/yegor256/takes/issues/1025) to be completed first

[2020-02-05 14:56] fanifieiev commented on #1009
@0crat wait for [1025](https://github.com/yegor256/takes/issues/1025) to be completed first

[2020-02-05 15:07] 0crat commented on #1010
@fanifieiev The impediment for [#1010](https://github.com/yegor256/takes/issues/1010) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-05 15:14] 0crat commented on #1009
@fanifieiev The impediment for [#1009](https://github.com/yegor256/takes/issues/1009) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-06 12:18] paulodamaso opened #1027 "Update rultor image"
Update rultor image to `yegor256/rultor-image`

[2020-02-06 12:32] paulodamaso commented on #1027
@0crat assign me

[2020-02-06 14:51] 0crat commented on #1027
@paulodamaso The job [#1027](https://github.com/yegor256/takes/issues/1027) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/3749e92e-5317-4bcb-8f7c-7d51d9c4d1e5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2020-02-06 15:16] 0crat commented on #1027
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-06 15:18] 0crat commented on #1027
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-06 15:19] 0crat commented on #1027
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-10 09:24] golszewski86 opened #1029 "TkSecure returns HTTP 303 instead of HTTP 401"
In case of anonymous identity class org.takes.facets.auth.TkSecure throws RsForward exception with 303 See Other status.

According to [RFC2616, section10](https://tools.ietf.org/html/rfc2616#section-10), status 303 means that:

This is not the case with TkSecure because there we don't know whether the requested URI is correct, neither what HTTP method is allowed for that URI. All we know is that

[2020-02-10 09:24] 0crat commented on #1029
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-10 09:24] 0crat commented on #1029
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 14:41] #998 closed

[2020-02-10 14:41] 0pdd commented on #998
The puzzle `918-4b25f3bd` has disappeared from the source code, that's why I closed this issue.

[2020-02-10 14:41] 0pdd commented on #918
@fabriciofx 14 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1008](https://github.com/yegor256/takes/issues/1008), [#1009](https://github.com/yegor256/takes/issues/1009), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1013](https://github.com/yegor256/takes

[2020-02-10 15:12] 0crat commented on #998
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-10 15:14] sereshqua commented on #998
@0crat quality good

[2020-02-10 17:13] 0crat commented on #998
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-10 17:20] 0crat commented on #998
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-10 19:55] #1027 closed

[2020-02-10 20:30] 0crat commented on #1027
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-11 17:04] 0crat commented on #1013
The job [#1013](https://github.com/yegor256/takes/issues/1013) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/1cfecc9b-f649-4ec2-9ce3-bac3cf4b5662); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-02-11 17:49] 0crat commented on #1012
The job [#1012](https://github.com/yegor256/takes/issues/1012) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/01d27c1e-a70f-41f7-ad35-f9ba7560036d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-02-11 18:12] #1010 closed

[2020-02-11 18:12] 0pdd commented on #1010
The puzzle `998-bf531c2b` has disappeared from the source code, that's why I closed this issue.

[2020-02-11 18:13] 0pdd commented on #918
@fabriciofx 13 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1008](https://github.com/yegor256/takes/issues/1008), [#1009](https://github.com/yegor256/takes/issues/1009), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1013](https://github.com/yegor256/takes/issues/1013), [#1014](https://github.com/yegor256/takes

[2020-02-11 18:13] 0pdd commented on #998
@0pdd 11 puzzles [#1008](https://github.com/yegor256/takes/issues/1008), [#1009](https://github.com/yegor256/takes/issues/1009), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1013](https://github.com/yegor256/takes/issues/1013), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issue

[2020-02-11 18:18] paulodamaso commented on #1025
@0crat in

[2020-02-11 18:31] 0crat commented on #1025
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-11 19:08] 0crat commented on #1010
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-11 19:09] sereshqua commented on #1010
@0crat quality good

[2020-02-11 19:44] 0crat commented on #1010
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-11 20:01] 0crat commented on #1010
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-13 16:38] #1013 closed

[2020-02-13 16:38] 0pdd commented on #1013
The puzzle `998-391a4461` has disappeared from the source code, that's why I closed this issue.

[2020-02-13 16:38] 0pdd commented on #918
@fabriciofx 12 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1008](https://github.com/yegor256/takes/issues/1008), [#1009](https://github.com/yegor256/takes/issues/1009), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes

[2020-02-13 16:38] 0pdd commented on #998
@0pdd 10 puzzles [#1008](https://github.com/yegor256/takes/issues/1008), [#1009](https://github.com/yegor256/takes/issues/1009), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1016](https://github.com/yegor256/takes/issue

[2020-02-13 17:05] 0crat commented on #1013
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-13 17:31] 0crat commented on #1013
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-13 17:32] sereshqua commented on #1013
@0crat quality good

[2020-02-13 17:34] sereshqua commented on #904
@paulodamaso this can be closed :)

[2020-02-13 17:40] paulodamaso commented on #904
@sereshqua Thanks you

[2020-02-13 17:40] #904 closed

[2020-02-13 18:13] 0crat commented on #904
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-13 18:15] sereshqua commented on #904
@0crat quality good

[2020-02-13 18:28] 0crat commented on #1013
Order was finished, quality is "good": +40 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-13 18:40] 0pdd commented on #1008
The puzzle `998-598741c4` has disappeared from the source code, that's why I closed this issue.

[2020-02-13 18:40] #1008 closed

[2020-02-13 18:40] 0pdd commented on #918
@fabriciofx 11 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1016](https://github.com/yegor256/takes

[2020-02-13 18:40] 0pdd commented on #998
@0pdd 9 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1016](https://github.com/yegor256/takes/issues/1016), [#1017](https://github.com/yegor256/takes/issues

[2020-02-13 18:52] 0crat commented on #1013
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-13 19:59] 0crat commented on #904
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-13 20:00] 0crat commented on #1008
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-13 20:09] 0crat commented on #904
Order was finished, quality is "good": +35 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2020-02-13 20:12] sereshqua commented on #1008
@0crat quality good

[2020-02-13 20:35] 0crat commented on #1008
Order was finished, quality is "good": +35 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-13 20:42] 0crat commented on #1008
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-17 06:52] Abhijith-m13894 opened #1031 "Unable to gracefully exit a org.takes server based on a request."
I have created a Java EE application and implemented a server using org.takes.

Please find the code below:-

**1. takesStart class**

import java.io.IOException;

import org.takes.facets.fork.FkRegex;
import org.takes.facets.fork.TkFork;
import org.takes.http.Exit;
import org.takes.http.FtBasic;

public class takesStart {

	public static void main(String[] args) {
		try {
			Runtime.getRuntime().

[2020-02-17 06:52] 0crat commented on #1031
@abhijith-m13894[/z](https://www.0crat.com/u/abhijith-m13894) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-18 03:33] Abhijith-m13894 opened #1032 "Handling exceptions for unknown requests."
I am unable to send HTTP Status codes ( like 404 Not Found ) with a custom message. Instead and Exception is shown when I send a request using Postman.

Is there any provision to handle the exception and add a custom message in case of unknown requests for takes server ?
![Capture](https://user-images.githubusercontent.com/61135970/74701657-79482a80-522d-11ea-81ec-60a3b4812647.PNG)

[2020-02-18 03:33] 0crat commented on #1032
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-18 03:33] 0crat commented on #1032
@abhijith-m13894[/z](https://www.0crat.com/u/abhijith-m13894) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3FFK3YAY) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-18 06:23] Abhijith-m13894 commented on #1032
Figured out the solution

private static Take HandleException(final Take take) {
    return new TkFallback(
            take,
            new FbChain(
                    new FbStatus(
                            HttpURLConnection.HTTP_NOT_FOUND,
                            new RsWithStatus(
                                    new RsText("Path not found"),
                                    HttpU

[2020-02-18 06:23] #1032 closed

[2020-02-18 07:12] 0crat commented on #1032
Job `gh:yegor256/takes#1032` is not assigned, can't get performer

[2020-02-18 07:19] 0crat commented on #1032
This job is not in scope

[2020-02-18 15:41] fanifieiev commented on #1012
@riccisi The issue has been fixed and the PR has been merged.
Please have a look and close the issue accordingly.

[2020-02-19 14:23] 0crat commented on #1018
The job [#1018](https://github.com/yegor256/takes/issues/1018) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/0447e9fd-79b6-4728-bbf3-eac312c221b8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-02-19 21:12] paulodamaso commented on #1025
@0crat assign @fanifieiev

[2020-02-19 21:21] 0crat commented on #1025
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-19 21:22] 0crat commented on #1025
@paulodamaso The job [#1025](https://github.com/yegor256/takes/issues/1025) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/b4c4f75f-025e-422c-8347-ecf352ff7a64); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-02-19 21:30] 0crat commented on #1025
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-20 05:25] fanifieiev commented on #1012
@0crat wait

[2020-02-20 06:29] 0crat commented on #1012
@fanifieiev The impediment for [#1012](https://github.com/yegor256/takes/issues/1012) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-21 15:57] #1025 closed

[2020-02-21 16:41] 0crat commented on #1025
Job was finished in 42 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-21 16:50] 0crat commented on #1025
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-21 16:57] sereshqua commented on #1025
@0crat quality good

[2020-02-21 17:24] 0crat commented on #1025
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-21 17:35] 0crat commented on #1025
Order was finished, quality is "good": +40 point(s) just awarded to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-27 16:17] fanifieiev commented on #1018
@0crat wait for [feature](https://github.com/yegor256/cactoos/issues/1251) to be visible in Takes

[2020-02-27 16:19] 0crat commented on #1018
@fanifieiev The impediment for [#1018](https://github.com/yegor256/takes/issues/1018) was registered successfully by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev)

[2020-02-28 23:10] fevzian opened #1035 "org.takes.facets.auth.codecs should accept and return org.cactoos.Bytes"
org.takes.facets.auth.codecs should accept and return org.cactoos.Bytes instead of bytes[]

[2020-02-28 23:10] 0crat commented on #1035
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-09 17:59] paulodamaso opened #1036 "Fix Rultor build"
Fix rultor build / merge / release

[2020-03-12 19:54] #1011 closed

[2020-03-12 19:54] 0pdd commented on #1011
The puzzle `998-930f99e9` has disappeared from the source code, that's why I closed this issue.

[2020-03-12 19:54] 0pdd commented on #918
@fabriciofx 10 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1012](https://github.com/yegor256/takes/issues/1012), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1016](https://github.com/yegor256/takes/issues/1016), [#1017](https://github.com/yegor256/takes

[2020-03-12 19:54] 0pdd commented on #998
@0pdd 8 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1012](https://github.com/yegor256/takes/issues/1012), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1016](https://github.com/yegor256/takes/issues/1016), [#1017](https://github.com/yegor256/takes/issues/1017), [#1018](https://github.com/yegor256/takes/issues

[2020-03-18 20:36] #1012 closed

[2020-03-18 20:36] 0pdd commented on #1012
The puzzle `998-4e007535` has disappeared from the source code, that's why I closed this issue.

[2020-03-18 20:36] 0pdd commented on #918
@fabriciofx 9 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1016](https://github.com/yegor256/takes/issues/1016), [#1017](https://github.com/yegor256/takes/issues/1017), [#1018](https://github.com/yegor256/takes/

[2020-03-18 20:36] 0pdd commented on #998
@0pdd 7 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1016](https://github.com/yegor256/takes/issues/1016), [#1017](https://github.com/yegor256/takes/issues/1017), [#1018](https://github.com/yegor256/takes/issues/1018), [#1019](https://github.com/yegor256/takes/issues

[2020-03-18 21:02] paulodamaso commented on #1036
@rultor release tag is `1.20`

[2020-03-18 21:04] rultor commented on #1036
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21562-600856599)

[2020-03-18 21:14] rultor commented on #1036
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21562-600856599) (spent 9min)

[code]

[2020-03-18 23:53] 0crat commented on #1012
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-19 05:58] sereshqua commented on #1012
@0crat quality good

[2020-03-21 10:41] 0crat commented on #1017
The job [#1017](https://github.com/yegor256/takes/issues/1017) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/702d3bf3-4949-430c-a2bb-e6cf6e8ceee6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-03-22 17:54] 0crat commented on #1016
The job [#1016](https://github.com/yegor256/takes/issues/1016) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/0f02d1cd-fc9b-4adb-b0bb-4e19b4648745); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-03-22 23:59] 0crat commented on #1015
The job [#1015](https://github.com/yegor256/takes/issues/1015) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/e931ea56-159b-4fad-a563-4ce569bbe912); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-03-23 04:53] 0crat commented on #1019
The job [#1019](https://github.com/yegor256/takes/issues/1019) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/2b6de802-6f0e-45a7-a2db-79a904bcfc0d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-03-23 21:43] kleinesfilmroellchen opened #1041 "Current documentation and JavaDoc are far from being perfect"
This is not a bug. It is a serious problem that I think many people have with the package. I have no problem with the API, it is very nice, well-structured and extensible, it is fast and robust.

But it is, quite frankly, horribly documented.

It took me several DAYS (no kidding) of experimentation, sifting through piles of one-sentence JavaDoc (which isn't clearly referenced on the README btw) an

[2020-03-23 21:43] 0crat commented on #1041
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-01 04:24] paulodamaso commented on #1041
@0crat in

[2020-04-07 02:38] paulodamaso commented on #1041
@0crat status

[2020-04-07 02:46] 0crat commented on #1041
@paulodamaso This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1041](https://github.com/yegor256/takes/issues/1041) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are

[2020-04-18 19:47] kleinesfilmroellchen commented on #1041
... and more undocumented behavior: as it seems, non-faked `Request` objects connect directly to the socket's input stream with their body(). This means that trying to receive all bytes from the body input stream will result in an infinitely blocking method call, as the socket is of course still open for sending the response.

Just in case anyone's wondering, the workaround is to make an InputStre

[2020-04-23 03:13] #1016 closed

[2020-04-23 03:13] 0pdd commented on #1016
The puzzle `998-44c9d907` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 03:13] 0pdd commented on #918
@fabriciofx 8 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1017](https://github.com/yegor256/takes/issues/1017), [#1018](https://github.com/yegor256/takes/issues/1018), [#1019](https://github.com/yegor256/takes/

[2020-04-23 03:13] 0pdd commented on #998
@0pdd 6 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1017](https://github.com/yegor256/takes/issues/1017), [#1018](https://github.com/yegor256/takes/issues/1018), [#1019](https://github.com/yegor256/takes/issues/1019) are still not solved; solved: [#1008](https://git

[2020-04-23 03:27] 0pdd commented on #1017
The puzzle `998-37169ad0` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 03:27] #1017 closed

[2020-04-23 03:27] 0pdd commented on #918
@fabriciofx 7 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1018](https://github.com/yegor256/takes/issues/1018), [#1019](https://github.com/yegor256/takes/issues/1019), [#999](https://github.com/yegor256/takes/i

[2020-04-23 03:27] 0pdd commented on #998
@0pdd 5 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1015](https://github.com/yegor256/takes/issues/1015), [#1018](https://github.com/yegor256/takes/issues/1018), [#1019](https://github.com/yegor256/takes/issues/1019) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https://git

[2020-04-23 03:39] #1015 closed

[2020-04-23 03:39] 0pdd commented on #1015
The puzzle `998-c07e6e60` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 03:39] 0pdd commented on #918
@fabriciofx 6 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1018](https://github.com/yegor256/takes/issues/1018), [#1019](https://github.com/yegor256/takes/issues/1019), [#999](https://github.com/yegor256/takes/issues/999) are still not solved; solved: [#1008](https:/

[2020-04-23 03:39] 0pdd commented on #998
@0pdd 4 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1018](https://github.com/yegor256/takes/issues/1018), [#1019](https://github.com/yegor256/takes/issues/1019) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https://git

[2020-04-23 03:51] #1019 closed

[2020-04-23 03:51] 0pdd commented on #1019
The puzzle `998-08523712` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 03:51] 0pdd commented on #918
@fabriciofx 5 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1018](https://github.com/yegor256/takes/issues/1018), [#999](https://github.com/yegor256/takes/issues/999) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https:/

[2020-04-23 03:51] 0pdd commented on #998
@0pdd 3 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1014](https://github.com/yegor256/takes/issues/1014), [#1018](https://github.com/yegor256/takes/issues/1018) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://git

[2020-04-23 14:59] fanifieiev commented on #1017
@0crat status

[2020-04-26 04:39] paulodamaso commented on #1016
@0crat out

[2020-04-26 04:40] paulodamaso commented on #1017
@0crat out

[2020-04-26 04:41] paulodamaso commented on #1015
@0crat out

[2020-04-26 04:41] paulodamaso commented on #1019
@0crat out

[2020-04-26 04:43] 0crat commented on #1017
@fanifieiev This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1017](https://github.com/yegor256/takes/issues/1017) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) for [1mon](http://www.zerocracy.com/policy.html#8)

[2020-04-26 04:45] 0crat commented on #1015
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-26 04:57] sereshqua commented on #1015
@0crat quality good

[2020-04-26 04:58] 0crat commented on #1017
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-26 04:59] 0crat commented on #1016
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-26 05:02] 0crat commented on #1019
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-26 05:31] sereshqua commented on #1017
@0crat quality good

[2020-04-26 05:32] sereshqua commented on #1016
@0crat quality good

[2020-04-26 05:32] sereshqua commented on #1019
@0crat quality good

[2020-04-27 13:45] 0crat commented on #1014
The job [#1014](https://github.com/yegor256/takes/issues/1014) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/9d5e11b4-5ac7-41d9-95a0-8ae4170dc6a5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-05-01 22:09] #1014 closed

[2020-05-01 22:09] 0pdd commented on #1014
The puzzle `998-179b06ba` has disappeared from the source code, that's why I closed this issue.

[2020-05-01 22:09] 0pdd commented on #918
@fabriciofx 4 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1018](https://github.com/yegor256/takes/issues/1018), [#999](https://github.com/yegor256/takes/issues/999) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https:/

[2020-05-01 22:09] 0pdd commented on #998
@0pdd 2 puzzles [#1009](https://github.com/yegor256/takes/issues/1009), [#1018](https://github.com/yegor256/takes/issues/1018) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https://github.com/yegor256/takes/issues/1011), [#1012](https://github.com/yegor256/takes/issues/1012), [#1013](https://git

[2020-05-01 22:28] 0crat commented on #1014
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-02 04:43] sereshqua commented on #1014
@0crat quality good

[2020-05-04 16:34] g4s8 opened #1048 "PsBasic throws java.lang.NoClassDefFoundError: javax/xml/bind/DatatypeConverter on JDK 13"
`PsBasic` class unable to load `DatatypeConverter` class on JDK 13 since it was excluded from default package in JDK 9. When trying to use `PsBasic` takes throws an exception:
[code]

Consider using another class for parsing bas64 encoded data.

---

Workaround: add these dependencies to classpath:
[code]

[2020-05-04 16:34] 0crat commented on #1048
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-11 13:54] fanifieiev opened #1049 "New Cactoos version dependency required"
Please have Takes updated with newer version of Cactoos

[2020-05-11 13:55] 0crat commented on #1049
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-11 13:55] paulodamaso commented on #1049
@0crat in

[2020-06-02 17:41] wizzu opened #1050 "Internal exception trying to return response with status code 203"
Hello,

When I'm trying to create an response with http status code 203 I get a resul of this kind of stack trace:

java.lang.IllegalArgumentException: first line of HTTP response "HTTP/1.1 203 Non-Authoritative Information" doesn't match "HTTP/1\.1 \d{3} [a-zA-Z ]+" regular expression, but it should, according to RFC 7230
    at org.takes.rs.RsPrint.printHead(RsPrint.java:153)
    at org.takes.rs

[2020-06-02 17:41] 0crat commented on #1050
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-09 10:49] paulodamaso commented on #1050
@0crat in

[2020-06-10 12:13] piotrek-toolla opened #1051 "Receiving file with name containing chars outside of US-ASCII range fails."
According to https://tools.ietf.org/html/rfc5987 (https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) Content-Disposition header must contain chars from US-ASCII range.
However, in https://tools.ietf.org/html/rfc7578#section-4.2 it says:

   names directly encoded including octets outside the US-ASCII range.
   The encoding used for the file names is typically UTF-8, alt

[2020-06-29 18:07] #984 closed

[2020-06-29 18:07] 0pdd commented on #984
The puzzle `968-1f63803d` has disappeared from the source code, that's why I closed this issue.

[2020-06-29 18:07] 0pdd opened #1054 "RsPrint.java:48-52: Extract printHead and printBody in..."
The puzzle `984-c7848b91` from #984 has to be resolved:

https://github.com/yegor256/takes/blob/ef29898cc602dcffc7a52498b59cce7dbdea3917/src/main/java/org/takes/rs/RsPrint.java#L48-L52

The puzzle was created by andreoss on 23-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2020-06-29 18:08] 0pdd opened #1055 "RqPrint.java:41-43: This class should implement Text in..."
The puzzle `984-b6700210` from #984 has to be resolved:

https://github.com/yegor256/takes/blob/ef29898cc602dcffc7a52498b59cce7dbdea3917/src/main/java/org/takes/rq/RqPrint.java#L41-L43

The puzzle was created by andreoss on 23-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2020-06-29 18:08] 0crat commented on #1054
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-29 18:08] 0pdd commented on #804
@aliceice 2 puzzles [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055) are still not solved; solved: [#887](https://github.com/yegor256/takes/issues/887), [#888](https://github.com/yegor256/takes/issues/888), [#889](https://github.com/yegor256/takes/issues/889), [#968](https://github.com/yegor256/takes/issues/968), [#984](https://github.c

[2020-06-29 18:08] 0pdd commented on #888
@0pdd 2 puzzles [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055) are still not solved; solved: [#968](https://github.com/yegor256/takes/issues/968), [#984](https://github.com/yegor256/takes/issues/984).

[2020-06-29 18:08] 0pdd commented on #968
@0pdd 2 puzzles [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055) are still not solved; solved: [#984](https://github.com/yegor256/takes/issues/984).

[2020-06-29 18:08] 0pdd commented on #984
@0pdd 2 puzzles [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055) are still not solved.

[2020-06-29 18:08] 0crat commented on #1055
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-29 18:26] 0crat commented on #984
Job [#984](https://github.com/yegor256/takes/issues/984) is not in the agenda of @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), can't set title

[2020-06-29 18:26] 0crat commented on #984
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-29 18:27] 0crat commented on #984
Job [#984](https://github.com/yegor256/takes/issues/984) is not in the agenda of @lucasmessias9898[/z](https://www.0crat.com/u/lucasmessias9898), can't set title

[2020-06-29 19:38] sereshqua commented on #984
@0crat quality good

[2020-07-11 20:27] rusefi opened #1057 "TkFixed is final yet JSON example says "TkBalance extends TkFixed""
"TkBalance extends TkFixed" at https://github.com/yegor256/takes#rsjson does not play nice with "public final class TkFixed extends TkWrap"

[2020-07-11 20:29] rusefi commented on #1057
PS: looks like RsJson is the new name for RsJSON?

[2020-07-11 20:32] rusefi commented on #1022
+1

[2020-07-25 06:10] rusefillc opened #1058 ""get \" produces StackOverflowError"
Below shell snippet hopefully tells the complete story

[code]

[2020-07-25 16:06] rusefillc commented on #1050
How about https://github.com/yegor256/takes/pull/1059/

[2020-07-26 19:34] paulodamaso commented on #1057
@0crat in

[2020-07-26 19:37] paulodamaso commented on #1022
@Guseyn the reasons are explained in https://www.yegor256.com/2020/03/03/prefixed-naming.html

[2020-07-26 19:37] #1022 closed

[2020-07-26 19:37] paulodamaso commented on #1058
@0crat in

[2020-07-26 19:58] 0crat commented on #1022
Job `gh:yegor256/takes#1022` is not assigned, can't get performer

[2020-07-27 20:16] wizzu commented on #1050
The #1059 change will fix this immediate issue. Thanks.

If you want to stick by the RFC 7230, the change is not sufficient. The current list of more-or-less-official names for the status codes doesn't seem to include other non-alphabetic characters beyond space and the minus, so from that point of view it's fine. If custom messages are ever supported, then this pattern will become problematic.

P

[2020-07-28 08:32] EugenDueck opened #1060 "RqSocket.getRemotePort() throws exception"
[code]

[2020-07-28 20:28] #1055 closed

[2020-07-28 20:28] 0pdd commented on #1055
The puzzle `984-b6700210` has disappeared from the source code, that's why I closed this issue.

[2020-07-28 20:28] 0pdd opened #1062 "RqPrint.java:51-54: Text lacks a decorator for caching..."
The puzzle `1050-5153da16` from #1050 has to be resolved:

https://github.com/yegor256/takes/blob/6c01e7414b5ddd886d8b9cefc4346a147c02c6ec/src/main/java/org/takes/rq/RqPrint.java#L51-L54

The puzzle was created by andreoss on 26-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2020-07-28 20:28] 0pdd commented on #804
@aliceice the puzzle [#1054](https://github.com/yegor256/takes/issues/1054) is still not solved; solved: [#1055](https://github.com/yegor256/takes/issues/1055), [#887](https://github.com/yegor256/takes/issues/887), [#888](https://github.com/yegor256/takes/issues/888), [#889](https://github.com/yegor256/takes/issues/889), [#968](https://github.com/yegor256/takes/issues/968), [#984](https://github.c

[2020-07-28 20:28] 0pdd commented on #888
@0pdd the puzzle [#1054](https://github.com/yegor256/takes/issues/1054) is still not solved; solved: [#1055](https://github.com/yegor256/takes/issues/1055), [#968](https://github.com/yegor256/takes/issues/968), [#984](https://github.com/yegor256/takes/issues/984).

[2020-07-28 20:28] 0pdd commented on #968
@0pdd the puzzle [#1054](https://github.com/yegor256/takes/issues/1054) is still not solved; solved: [#1055](https://github.com/yegor256/takes/issues/1055), [#984](https://github.com/yegor256/takes/issues/984).

[2020-07-28 20:28] 0pdd commented on #984
@0pdd the puzzle [#1054](https://github.com/yegor256/takes/issues/1054) is still not solved; solved: [#1055](https://github.com/yegor256/takes/issues/1055).

[2020-07-28 20:28] 0pdd commented on #1050
@wizzu the puzzle [#1062](https://github.com/yegor256/takes/issues/1062) is still not solved.

[2020-07-29 13:07] 0crat commented on #1055
Job `gh:yegor256/takes#1055` is not assigned, can't get performer

[2020-08-15 00:58] rusefillc commented on #1058
@paulodamaso poke?
@yegor256 is not this a pretty serious issue?

[2020-08-17 04:43] yegor256 commented on #1058
@rusefillc it seems it is. @paulodamaso what do you think?

[2020-08-17 22:09] fabriciofx commented on #999
@0crat refuse

[2020-08-17 22:09] fabriciofx commented on #1000
@0crat refuse

[2020-08-17 22:10] fabriciofx commented on #997
@0crat refuse

[2020-08-17 22:11] 0crat commented on #999
@fabriciofx The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#999](https://github.com/yegor256/takes/issues/999), please stop working. Reason for job resignation: Order was cancelled

[2020-08-17 22:11] 0crat commented on #1000
@fabriciofx The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1000](https://github.com/yegor256/takes/issues/1000), please stop working. Reason for job resignation: Order was cancelled

[2020-08-17 22:14] 0crat commented on #997
@fabriciofx The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#997](https://github.com/yegor256/takes/issues/997), please stop working. Reason for job resignation: Order was cancelled

[2020-08-17 22:57] 0crat commented on #1054
The job [#1054](https://github.com/yegor256/takes/issues/1054) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/d10b1520-fc23-4473-a06c-7e0a30cacf45); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-08-27 04:05] fabriciofx commented on #1054
@0crat wait for REV

[2020-08-27 19:00] paulodamaso commented on #1058
@yegor256 Yeah, we should definitely investigate. I put it on scope (https://github.com/yegor256/takes/issues/1058#issuecomment-664031120) but looks like @0crat did not assigned it to anyone yet

[2020-08-27 19:00] 0crat commented on #1058
Are you speaking to me or about me [here](https://github.com/yegor256/takes/issues/1058#issuecomment-682134058); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-08-30 20:53] 0crat commented on #1062
The job [#1062](https://github.com/yegor256/takes/issues/1062) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/7d02565c-3a14-4d71-a0a6-f91d1f9f0345); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-08-31 00:05] fabriciofx commented on #1062
@andreoss I think we should wait for [#cactoos/1423](https://github.com/yegor256/cactoos/issues/1423). WDYT?

[2020-09-02 18:32] paulodamaso commented on #1058
@0crat assign @fabriciofx

[2020-09-02 18:33] 0crat commented on #1058
@paulodamaso The job [#1058](https://github.com/yegor256/takes/issues/1058) assigned to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx), here is [why](https://www.0crat.com/footprint/C3FFK3YAY/52e812cd-e7cb-464a-8366-1ce986114958); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-09-03 00:44] fabriciofx commented on #1058
@rusefillc Can you say the steps/code to reproduce this bug?

[2020-09-03 00:48] rusefillc commented on #1058
@fabriciofx
telnet localhost 80
get \
<enter>
<enter>

[2020-09-03 01:07] fabriciofx commented on #1058
@rusefillc right, which code has been used to run in back-end?

[2020-09-03 01:11] rusefillc commented on #1058
some version of https://github.com/rusefi/rusefi/blob/master/java_tools/proxy_server/src/main/java/com/rusefi/server/Backend.java#L106

[2020-09-03 01:16] fabriciofx commented on #1058
@rusefillc ok, thanks!

[2020-09-03 14:13] fabriciofx commented on #1062
@0crat wait for yegor256/cactoos#1423

[2020-09-03 19:02] paulodamaso commented on #1036
@rultor release tag is `1.20`

[2020-09-03 19:03] rultor commented on #1036
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21562-686697970)

[2020-09-03 19:10] rultor commented on #1036
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21562-686697970) (spent 7min)

[code]

[2020-09-03 20:12] fabriciofx opened #1067 "Move to github actions"
Let's replace travis with github actions, once this is done, we can continue with also running tests on windows.

See also llorllale/cactoos-matchers#83 for some similar issue.

[2020-09-03 23:24] fabriciofx commented on #1054
@paulodamaso ping

[2020-09-03 23:24] fabriciofx commented on #1062
@0crat refuse

[2020-09-04 01:30] 0crat commented on #1062
@fabriciofx The user @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) resigned from [#1062](https://github.com/yegor256/takes/issues/1062), please stop working. Reason for job resignation: Order was cancelled

[2020-09-04 15:01] 0pdd opened #1068 "BkBasicTest.java:366-374: This test address the bug..."
The puzzle `1058-ab240961` from #1058 has to be resolved:

https://github.com/yegor256/takes/blob/3f42efb929796e894a4d354a54022a8d2624399e/src/test/java/org/takes/http/BkBasicTest.java#L366-L374

The puzzle was created by Fabrício Cabral on 03-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-09-08 09:22] fabriciofx commented on #1067
@paulodamaso `cactoos-matchers` already moved from Travis to GitHub Actions. You can see/use [this PR](https://github.com/llorllale/cactoos-matchers/pull/174/files) as reference.

[2020-09-08 10:05] fabriciofx commented on #958
@paulodamaso ping

[2020-09-08 10:07] fabriciofx opened #1069 "Update takes dependencies (cactoos-parent, cactoos, cactoos-matchers, jacoco...)"
There is a lot of outdated dependencies in takes, as cactoos-parent, cactoos, cactoos-matchers, jacoco, etc. So, let's update them.

[2020-09-08 10:09] fabriciofx opened #1070 "Jacoco isn't generating coverage reports"
Apparently jacoco ins't generating coverage reports (I'm using `mvn clean install -Pqulice -Pjacoco` command). Let's fix it.

[2020-09-08 15:08] fabriciofx opened #1071 "Test resources filtering true or false?"
In `pom.xml`:
[code]
The same configuration, but just changing filtering from `true` to `false`? Is it correct or was a bad copy and paste?

[2020-09-09 14:54] paulodamaso commented on #958
@0crat status

[2020-09-09 15:20] 0crat commented on #958
@paulodamaso This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#958](https://github.com/yegor256/takes/issues/958) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @serranya[/z](https://www.0crat.com/u/serranya) for [16mon](http://www.zerocracy.com/policy.html#8)
  *

[2020-09-09 15:32] paulodamaso commented on #958
@0crat refuse

[2020-09-09 15:33] 0crat commented on #958
@paulodamaso The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#958](https://github.com/yegor256/takes/issues/958), please stop working. Reason for job resignation: Order was cancelled

[2020-09-09 17:54] paulodamaso commented on #1071
@0crat in

[2020-09-11 04:11] #1054 closed

[2020-09-11 04:11] 0pdd commented on #1054
The puzzle `984-c7848b91` has disappeared from the source code, that's why I closed this issue.

[2020-09-11 04:12] 0pdd opened #1073 "RsPrint.java:42-44: Continue replacing guava in tests...."
The puzzle `1054-12508176` from #1054 has to be resolved:

https://github.com/yegor256/takes/blob/7d155276c74a68a14c0d2b93b4205e845131dd22/src/main/java/org/takes/rs/RsPrint.java#L42-L44

The puzzle was created by Fabrício Cabral on 23-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-09-11 04:12] 0pdd opened #1074 "RsPrint.java:101-104: Remove the #print(OutputStream)..."
The puzzle `1054-0458805c` from #1054 has to be resolved:

https://github.com/yegor256/takes/blob/7d155276c74a68a14c0d2b93b4205e845131dd22/src/main/java/org/takes/rs/RsPrint.java#L101-L104

The puzzle was created by Fabrício Cabral on 11-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-09-11 04:12] 0pdd opened #1075 "HeadPrint.java:42-44: Develop tests for {@link HeadPrint}..."
The puzzle `1054-a8efe282` from #1054 has to be resolved:

https://github.com/yegor256/takes/blob/7d155276c74a68a14c0d2b93b4205e845131dd22/src/main/java/org/takes/rs/HeadPrint.java#L42-L44

The puzzle was created by Fabrício Cabral on 11-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-09-11 04:12] 0pdd commented on #804
@aliceice 3 puzzles [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075) are still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#887](https://github.com/yegor256/takes/issues/887), [#888](https://gi

[2020-09-11 04:12] 0pdd commented on #888
@0pdd 3 puzzles [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075) are still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#968](https://github.com/yegor256/takes/issues/968), [#984](https://github

[2020-09-11 04:13] 0pdd commented on #968
@0pdd 3 puzzles [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075) are still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#984](https://github.com/yegor256/takes/issues/984).

[2020-09-11 04:13] 0pdd commented on #984
@0pdd 3 puzzles [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075) are still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055).

[2020-09-11 04:13] 0pdd commented on #1054
@0pdd 3 puzzles [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075) are still not solved.

[2020-09-11 04:43] fabriciofx commented on #1058
@rusefillc if you think this issue was fixed, can you close it, please?

[2020-09-11 07:56] rusefillc commented on #1058
@fabriciofx I am sorry I am not noticing any relevant changes. I see https://github.com/yegor256/takes/pull/1065/files which seems to be a relevant test not a relevant fix. Is there a fix somewhere in your opinion? can you please point me at it?

[2020-09-11 10:23] fabriciofx commented on #1058
@rusefillc ah, sorry! My bad! This issue wasn't fixed it. Just has been added a test to reproduce this issue. Sorry about that!

[2020-09-19 13:55] paulodamaso commented on #1058
@rusefillc You can close this one, as @fabriciofx already solved it creating the test, and left a puzzle (https://github.com/yegor256/takes/issues/1068) to continue working on it

[2020-09-19 14:09] #1058 closed

[2020-09-19 14:26] 0crat commented on #1058
Job `gh:yegor256/takes#1058` is not assigned, can't get performer

[2020-09-23 16:19] andreoss opened #1077 "Update Qulice to 0.18.19"
Outdated Qulice prevents migration to Junit 5, since it gives a lot of false positive `PMD.DefaultScope`.

[2020-09-23 16:19] andreoss commented on #895
@0crat wait for #1077

[2020-09-23 16:20] andreoss commented on #895
@0crat wait for 1077

[2020-09-23 16:21] 0crat commented on #895
@andreoss Job [#895](https://github.com/yegor256/takes/issues/895) is already on hold

[2020-09-27 23:52] abhishere opened #1078 "Java!!!!"

[2020-09-27 23:53] #1078 closed

[2020-09-28 00:44] 0crat commented on #1078
Job `gh:yegor256/takes#1078` is not assigned, can't get performer

[2020-10-05 10:04] andreoss commented on #1077
@paulodamaso Can you put it in scope?

[2020-10-09 12:34] binkley opened #1079 "Badges in the README are confusing"
(META remark &mdash; your issue form has a checklist, but does not take advantage of markdown checkboxes)

I load the GitHub site, and look over the `README.md`.  Badges are one of the first recommendations in [Elegant READMEs](https://www.yegor256.com/2019/04/23/elegant-readme.html), and that post directs me to the Takes project as an example.  I find the badges presented _confusing_ and _seeming

[2020-10-13 23:35] andreoss commented on #1077
@0crat assign @andreoss

[2020-10-13 23:58] 0crat commented on #1077
@andreoss You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @andreoss[/z](https://www.0crat.com/u/andreoss) are: `DEV`, `REV`

[2020-10-16 00:48] 0pdd commented on #999
The puzzle `918-a277e748` has disappeared from the source code, that's why I closed this issue.

[2020-10-16 00:48] #999 closed

[2020-10-16 00:48] 0pdd opened #1080 "RqOnce.java:40-42: Please use {@link..."
The puzzle `999-c596aa68` from #999 has to be resolved:

https://github.com/yegor256/takes/blob/b4b7adf5573a9d29c780e62cd195d8566f92401f/src/main/java/org/takes/rq/RqOnce.java#L40-L42

The puzzle was created by andreoss on 16-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-10-16 00:48] 0pdd commented on #918
@fabriciofx 4 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1018](https://github.com/yegor256/takes/issues/1018), [#1080](https://github.com/yegor256/takes/issues/1080) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https

[2020-10-16 00:49] 0pdd commented on #999
@0pdd the puzzle [#1080](https://github.com/yegor256/takes/issues/1080) is still not solved.

[2020-10-16 01:06] 0crat commented on #999
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-10-16 01:08] paulodamaso commented on #1050
@0crat assign @andreoss

[2020-10-16 05:21] sereshqua commented on #999
@0crat quality good

[2020-10-21 23:57] andreoss opened #1081 "Replace `org.takes.misc.Concat` with `org.cactoos.iterable.Joined`"
`misc.Concat` and its internal `ConcatInterator` duplicate `Joined` classes from cactoos

[2020-10-23 17:26] andreoss opened #1083 "PRs do not trigger CI"
The CI is not triggered when a PR submitted.

For example:
1) https://github.com/yegor256/takes/pull/1082
2) https://github.com/yegor256/takes/pull/1076

Related to https://github.com/yegor256/takes/issues/1067

[2020-10-24 01:08] andreoss commented on #1067
@0crat assign me

[2020-10-24 08:03] 0crat commented on #1067
@andreoss You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @andreoss[/z](https://www.0crat.com/u/andreoss) are: `DEV`, `REV`

[2020-10-31 12:44] paulodamaso commented on #1077
@0crat assign @andreoss

[2020-10-31 13:02] paulodamaso commented on #1083
@0crat in

[2020-10-31 15:17] paulodamaso commented on #1083
@0crat assign @yegor256

[2020-10-31 15:18] paulodamaso commented on #1083
@yegor256 could you please check takes permissions in https://travis-ci.com/ ?

[2020-10-31 15:19] paulodamaso commented on #1067
@0crat assign @andreoss

[2020-10-31 15:20] #1083 closed

[2020-10-31 15:23] paulodamaso commented on #950
@0crat assign @andreoss

[2020-10-31 15:24] paulodamaso commented on #1081
@0crat assign @andreoss

[2020-10-31 15:26] paulodamaso commented on #1050
@0crat status

[2020-10-31 15:27] 0crat commented on #1050
@paulodamaso This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1050](https://github.com/yegor256/takes/issues/1050) is [in scope](http://www.zerocracy.com/policy.html#14) for 5mon
  * The role is `DEV`
  * The job is assigned to @andreoss[/z](https://www.0crat.com/u/andreoss) for [16days](http://www.zerocracy.com/policy.html#8)

[2020-10-31 15:35] 0pdd opened #1088 "pom.xml:489-492: This limits are set according to current..."
The puzzle `1067-ac9afd75` from #1067 has to be resolved:

https://github.com/yegor256/takes/blob/a9ec437a3b285b903aa0b8995d2f356855cc4db7/pom.xml#L489-L492

The puzzle was created by andreoss on 23-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2020-10-31 15:35] 0pdd commented on #1067
@fabriciofx the puzzle [#1088](https://github.com/yegor256/takes/issues/1088) is still not solved.

[2020-10-31 16:02] 0crat commented on #1083
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-11-04 17:58] flouou commented on #1031
@Abhijith-m13894 I needed the same functionality, I was able to resolve this by creating an object of type "Exit" which overrides the "ready" function to return "true", like this:
`Exit NOW = () -> true;`

or for older java versions:

`Exit NOW= new Exit() {
        @Override
        public boolean ready() {
            return true;
        }
    };`

so you just have to save a reference to the cr

[2021-01-03 01:00] andreoss commented on #955
@0crat status

[2021-01-03 16:15] andreoss commented on #955
@0crat status

[2021-01-03 18:09] 0crat commented on #955
@andreoss This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#955](https://github.com/yegor256/takes/issues/955) is [in scope](http://www.zerocracy.com/policy.html#14) for 24mon
  * The role is `DEV`
  * The job is assigned to @andreoss[/z](https://www.0crat.com/u/andreoss) for [2days](http://www.zerocracy.com/policy.html#8)
  * The

[2021-01-05 13:03] andreoss commented on #955
@0crat wait for #1077

[2021-01-07 17:24] piotrkot commented on #997
@paulodamaso I have a fix for this bug with test (actually I have it for half a year). Is there a way I can resolve it?

[2021-01-11 19:44] paulodamaso commented on #1067
@fabriciofx seems that this puzzle has been already solved in https://github.com/yegor256/takes/pull/1085, please close

[2021-01-11 19:45] #1067 closed

[2021-01-11 20:26] 0crat commented on #1067
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-12 00:14] andreoss commented on #1081
Done in #1084

[2021-01-12 00:14] #1081 closed

[2021-01-12 01:05] 0crat commented on #1081
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-12 07:21] sereshqua commented on #1067
@0crat quality good

[2021-01-12 07:22] sereshqua commented on #1081
@andreoss issue creator and issue performer is the same person, sorry

[2021-01-12 07:22] sereshqua commented on #1081
@0crat quality acceptable

[2021-01-14 20:00] sereshqua commented on #1067
@0crat quality good

[2021-01-14 20:16] 0crat commented on #1067
@sereshqua There is no quality review for [#1067](https://github.com/yegor256/takes/issues/1067), no performer

[2021-01-18 07:14] andreoss commented on #1077
Done in #1086

[2021-01-18 07:14] #1077 closed

[2021-01-18 07:34] 0crat commented on #1077
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-01-18 08:13] sereshqua commented on #1077
@andreoss Problem reporter and problem solver are the same person

[2021-01-18 08:13] sereshqua commented on #1077
@0crat quality acceptable

[2021-01-19 21:44] leroneb opened #1089 "Why is JsonStructure required when it is part of Java EE?"
![image](https://user-images.githubusercontent.com/7648662/105096508-2e561900-5a75-11eb-937d-e869182c82de.png)
The unimplemented method the error is talking about is:  JsonStructure toJson() throws IOException;

I am trying to build a Json response but I can't get past this phase when implementing RsJson.Source. Is there a right way to do this?

[2021-01-20 02:31] leroneb opened #1090 "RsJson Useless from version 1.11 to 1.19"
https://github.com/yegor256/takes#rsjson

I tried setting up a class using RsJson but createObjectBuilder() no longer works. I think it would be useful to say what version of the code the documentation is referring to.

[2021-01-20 08:59] piotrkot commented on #997
@yegor256 I found a bug here and have a solution. Why is it so difficult to fix it here?

[2021-01-28 17:54] paulodamaso commented on #997
@0crat status

[2021-01-28 20:15] 0crat commented on #997
@paulodamaso This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#997](https://github.com/yegor256/takes/issues/997) is [in scope](http://www.zerocracy.com/policy.html#14) for 14mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are b

[2021-02-04 23:59] andreoss commented on #1089
@leroneb It's likely due to the way `takes` handles dependencies.
https://github.com/yegor256/takes/blob/master/pom.xml#L92

`javax.*` dependencies are marked `provided` as well (should they be?)

[2021-02-05 14:46] leroneb opened #1091 "Is there a way to remote debug (without socked timeout) while attached to Takes?"
Hi,

Overview:
I am making a mockserver using Takes, and I have been trying to figure out an issue with the client where we get 'Ghost' requests coming in. For instance
`TkApp.java:
TkFork tkFork = new TkFork(
				new FkRegex("/api/orders/review", new TkFork(new FkMethods("POST", new TkIndexToken()))),
				new FkRegex("/esb/resource/getaccesstoken", new TkFork(new FkMethods("POST", new TkIndexToke

[2021-03-15 05:50] andreoss commented on #955
@0crat  in

[2021-03-15 05:53] andreoss commented on #895
@0crat in

[2021-03-15 05:56] andreoss commented on #1000
@0crat status

[2021-03-15 05:56] andreoss commented on #1062
@0crat in

[2021-03-15 06:20] 0crat commented on #895
@andreoss You can't do "Add job to WBS", unless you have one of these roles: `ARC`, `PO`; current roles of @andreoss[/z](https://www.0crat.com/u/andreoss) are: `DEV`, `REV`

[2021-03-15 06:21] 0crat commented on #1000
@andreoss This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1000](https://github.com/yegor256/takes/issues/1000) is [in scope](http://www.zerocracy.com/policy.html#14) for 16mon
  * The role is `DEV`
  * The job is assigned to @andreoss[/z](https://www.0crat.com/u/andreoss) for [2mon](http://www.zerocracy.com/policy.html#8)
  * Th

[2021-03-15 06:22] 0crat commented on #955
@andreoss You can't do "Add job to WBS", unless you have one of these roles: `ARC`, `PO`; current roles of @andreoss[/z](https://www.0crat.com/u/andreoss) are: `DEV`, `REV`

[2021-03-15 06:23] 0crat commented on #1062
@andreoss You can't do "Add job to WBS", unless you have one of these roles: `ARC`, `PO`; current roles of @andreoss[/z](https://www.0crat.com/u/andreoss) are: `DEV`, `REV`

[2021-03-21 13:52] #1074 closed

[2021-03-21 13:52] 0pdd commented on #1074
The puzzle `1054-0458805c` has disappeared from the source code, that's why I closed this issue.

[2021-03-21 13:52] #1075 closed

[2021-03-21 13:52] 0pdd commented on #1075
The puzzle `1054-a8efe282` has disappeared from the source code, that's why I closed this issue.

[2021-03-21 13:52] 0pdd commented on #804
@aliceice the puzzle [#1073](https://github.com/yegor256/takes/issues/1073) is still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075), [#887](https://github.com/yegor256/takes/issues/887), [#888](https://gi

[2021-03-21 13:52] 0pdd commented on #888
@0pdd the puzzle [#1073](https://github.com/yegor256/takes/issues/1073) is still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075), [#968](https://github.com/yegor256/takes/issues/968), [#984](https://github

[2021-03-21 13:52] 0pdd commented on #968
@0pdd the puzzle [#1073](https://github.com/yegor256/takes/issues/1073) is still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075), [#984](https://github.com/yegor256/takes/issues/984).

[2021-03-21 13:52] 0pdd commented on #984
@0pdd the puzzle [#1073](https://github.com/yegor256/takes/issues/1073) is still not solved; solved: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075).

[2021-03-21 13:52] 0pdd commented on #1054
@0pdd the puzzle [#1073](https://github.com/yegor256/takes/issues/1073) is still not solved; solved: [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075).

[2021-03-21 14:15] 0crat commented on #1074
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-21 14:20] 0crat commented on #1075
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-21 14:29] #950 closed

[2021-03-21 14:29] 0pdd commented on #950
The puzzle `577-dcc6f7a1` has disappeared from the source code, that's why I closed this issue.

[2021-03-21 14:30] 0pdd opened #1095 "RqMtBase.java:128-133: Remove code from this ctor,..."
The puzzle `950-0b2d9fd8` from #950 has to be resolved:

https://github.com/yegor256/takes/blob/925e1a2cdef20afecb4b55a650a6b749dc390b1c/src/main/java/org/takes/rq/multipart/RqMtBase.java#L128-L133

The puzzle was created by @andreoss on 22-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-03-21 14:30] 0pdd commented on #577
@jhyle the puzzle [#1095](https://github.com/yegor256/takes/issues/1095) is still not solved; solved: [#950](https://github.com/yegor256/takes/issues/950).

[2021-03-21 14:30] 0pdd commented on #950
@0pdd the puzzle [#1095](https://github.com/yegor256/takes/issues/1095) is still not solved.

[2021-03-21 14:34] sereshqua commented on #1074
@0crat quality good

[2021-03-21 14:35] sereshqua commented on #1075
@0crat quality good

[2021-03-21 15:21] 0crat commented on #950
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-03-21 15:55] sereshqua commented on #950
@0crat quality good

[2021-03-31 08:40] baudoliver7 commented on #958
@0crat status

[2021-03-31 09:11] 0crat commented on #958
@baudoliver7 This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#958](https://github.com/yegor256/takes/issues/958) is [in scope](http://www.zerocracy.com/policy.html#14) for 24mon
  * The role is `DEV`
  * The job is assigned to @baudoliver7[/z](https://www.0crat.com/u/baudoliver7) for [10days](http://www.zerocracy.com/policy.html#

[2021-04-01 19:16] paulodamaso commented on #1062
@0crat in

[2021-04-01 19:17] paulodamaso commented on #955
@0crat status

[2021-04-01 19:18] paulodamaso commented on #1000
@0crat status

[2021-04-01 19:21] andreoss commented on #1073
@0crat status

[2021-04-01 19:28] 0crat commented on #1062
@paulodamaso Job [#1062](https://github.com/yegor256/takes/issues/1062) is already in scope

[2021-04-01 19:32] #1050 closed

[2021-04-01 21:11] 0crat commented on #1050
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-04-02 06:34] sereshqua commented on #1050
@rusefillc please make sure you start all your comments with the name of the user they are referred to, [see](https://github.com/yegor256/takes/issues/1050#issuecomment-663871849)

[2021-04-02 06:35] sereshqua commented on #1050
@0crat quality acceptable

[2021-04-04 21:52] SergiusAC opened #1099 "Build fails"
When I try to build project with command `mvn clean install -Pqulice` I get the next error:
[code]

I tried to build project with different JDKs (AdoptOpenJDK 8, Amazon Corretto, Oracle JDK 8), but result is the same.

[2021-04-08 07:21] monomonedula opened #1100 "Expires.Hour does nothing"
Expires.Hour class does absolutely nothing. It does not modify the behavior of the object it wraps in any way.

Is this intended behavior? If so, what's the purpose of this class?

https://github.com/yegor256/takes/blob/925e1a2cdef20afecb4b55a650a6b749dc390b1c/src/main/java/org/takes/misc/Expires.java#L100-L103

[2021-04-25 17:54] andreoss commented on #895
@0crat status

[2021-04-26 00:56] 0crat commented on #895
@andreoss This is what I know about this job in C3FFK3YAY, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#895](https://github.com/yegor256/takes/issues/895) is [in scope](http://www.zerocracy.com/policy.html#14) for 29mon
  * The role is `DEV`
  * The job is assigned to @andreoss[/z](https://www.0crat.com/u/andreoss) for [7mon](http://www.zerocracy.com/policy.html#8)
  * Ther

[2021-04-26 01:53] andreoss commented on #928
@paulodamaso
@fabriciofx Would it be better to add `length` method to `org.takes.Body` and remove the second type completely?

[2021-04-26 02:51] andreoss commented on #1100
@monomonedula

It's not possible to use `Expires` header for relative expiration time (which seems to be an intent here) .
`Cache-Control` should be used instead
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#expiration

And the main use case for `Expires.Date` looks like that:
[code]
So proper solution would be implement `Cache-Control` header, or at least complete `Expir

[2021-04-26 05:13] andreoss commented on #1099
@SergiusAC
Looks like the integration test fails, could you run it manually and investigate what causes it to fail?

[2021-06-25 08:03] piotrkot opened #1106 "Takes design doesn't work with REST architectural style"
According to the RESTful API design web services should be specialized around resources and their granularization e.g.
`PUT /companies/{id}/locations/{id}/employees/{id}`

Building RESTful API services using Takes have problems:

- One has to heavily use `TkRegex`, which cannot be passed to `TkAuth`, `TkSecure`, `TkMethods`, etc. (just to name a few). `TkRegex` can currently be only used in `FkReg

[2021-09-01 17:17] #1062 closed

[2021-09-01 17:17] 0pdd commented on #1062
The puzzle `1050-5153da16` has disappeared from the source code, that's why I closed this issue.

[2021-09-01 17:17] 0pdd commented on #1050
@wizzu the only puzzle [#1062](https://github.com/yegor256/takes/issues/1062) is solved here.

[2021-09-01 17:55] 0pdd opened #1108 "CopyBytesUntilBoundaryTest.java:49-51: We introduced a..."
The puzzle `997-5bcbe378` from #997 has to be resolved:

https://github.com/yegor256/takes/blob/622eeefe0909a21ebe4ae0aed3e39d6bc3b09176/src/test/java/org/takes/rq/multipart/CopyBytesUntilBoundaryTest.java#L49-L51

The puzzle was created by Olivier B. OURA on 17-Apr-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2021-09-01 17:55] 0pdd commented on #997
@piotrkot the puzzle [#1108](https://github.com/yegor256/takes/issues/1108) is still not solved.

[2021-09-01 18:07] 0pdd commented on #1073
The puzzle `1054-12508176` has disappeared from the source code, that's why I closed this issue.

[2021-09-01 18:07] #1073 closed

[2021-09-01 18:07] 0pdd commented on #804
@aliceice all 10 puzzles are solved here: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075), [#887](https://github.com/yegor256/takes/issues/887), [#888](https://github.co

[2021-09-01 18:07] 0pdd commented on #888
@0pdd all 7 puzzles are solved here: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075), [#968](https://github.com/yegor256/takes/issues/968), [#984](https://github.com/yeg

[2021-09-01 18:07] 0pdd commented on #968
@0pdd all 6 puzzles are solved here: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075), [#984](https://github.com/yegor256/takes/issues/984).

[2021-09-01 18:07] 0pdd commented on #984
@0pdd all 5 puzzles are solved here: [#1054](https://github.com/yegor256/takes/issues/1054), [#1055](https://github.com/yegor256/takes/issues/1055), [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075).

[2021-09-01 18:07] 0pdd commented on #1054
@0pdd all 3 puzzles are solved here: [#1073](https://github.com/yegor256/takes/issues/1073), [#1074](https://github.com/yegor256/takes/issues/1074), [#1075](https://github.com/yegor256/takes/issues/1075).

[2021-09-01 19:20] 0crat commented on #1073
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2021-09-03 08:47] piotrkot opened #1109 "Frequent releases help fixing issue(s) that doesn't work"
Can you make releases more frequent? The most recent one is from on Jan 26, 2019 while you regularly fix bugs on weekly basis.

[2021-09-03 08:49] piotrkot commented on #1109
Or maybe you could even make one, say, now?

[2021-11-05 16:17] baudoliver7 commented on #975
@yegor256 please, could you close this ticket ? It has already been resolved :)

[2021-11-14 04:51] yegor256 commented on #975
@sz332 I'm closing

[2021-11-14 04:51] #975 closed

[2021-11-14 05:03] yegor256 commented on #1099
@andreoss same for me. I'm trying to find out what's going on

[2021-11-14 05:04] yegor256 opened #1110 "build fails with Java 11+"
I will try to fix

[2021-11-14 05:33] yegor256 commented on #1099
@yegor256 @andreoss fixed in #1110

[2021-11-14 05:33] #1099 closed

[2021-11-14 23:22] baudoliver7 commented on #975
@yegor256 thx :)

[2021-11-15 05:59] #1088 closed

[2021-11-15 05:59] 0pdd commented on #1088
The puzzle `1067-ac9afd75` has disappeared from the source code, that's why I closed this issue.

[2021-11-30 21:52] baudoliver7 opened #1111 "Fix AppVeyor ci"
AppVeyor ci fails because [maven link](http://www.us.apache.org/dist/maven/maven-3/3.2.5/binaries/apache-maven-3.2.5-bin.zip) is no more available.

The current available link is : https://repo.maven.apache.org/maven2/org/apache/maven/apache-maven/3.2.5/apache-maven-3.2.5-bin.zip

[2021-11-30 22:28] baudoliver7 commented on #1111
@yegor256 please, could you assign to me this issue ?

[2021-12-01 04:23] 0crat commented on #1111
Are you speaking to me or about me [here](https://github.com/yegor256/takes/issues/1111#issuecomment-983076532); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2021-12-17 12:53] 0pdd opened #1112 "pom.xml:472-475: This limits are set according to current..."
The puzzle `1088-ac9afd75` from #1088 has to be resolved:

https://github.com/yegor256/takes/blob/72f09dd348a86f566fd627681e7d30489f83c148/pom.xml#L472-L475

The puzzle was created by @LightPro-Inc on 12-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the p

[2021-12-17 12:53] 0pdd opened #1113 "pom.xml:317-319: There are 18 tests that fail now, mostly..."
The puzzle `1110-00e4d7db` from #1110 has to be resolved:

https://github.com/yegor256/takes/blob/72f09dd348a86f566fd627681e7d30489f83c148/pom.xml#L317-L319

The puzzle was created by @yegor256 on 14-Nov-21.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2021-12-17 12:54] 0pdd opened #1114 "pom.xml:392-395: duplicate-finder-maven-plugin found..."
The puzzle `958-e512fbf3` from #958 has to be resolved:

https://github.com/yegor256/takes/blob/72f09dd348a86f566fd627681e7d30489f83c148/pom.xml#L392-L395

The puzzle was created by @baudoliver7 on 30-Nov-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2021-12-17 12:54] 0pdd commented on #1067
@fabriciofx the puzzle [#1112](https://github.com/yegor256/takes/issues/1112) is still not solved; solved: [#1088](https://github.com/yegor256/takes/issues/1088).

[2021-12-17 12:54] 0pdd commented on #1088
@0pdd the puzzle [#1112](https://github.com/yegor256/takes/issues/1112) is still not solved.

[2021-12-17 12:54] 0pdd commented on #1110
@yegor256 the puzzle [#1113](https://github.com/yegor256/takes/issues/1113) is still not solved.

[2021-12-17 12:54] 0pdd commented on #958
@fabriciofx the puzzle [#1114](https://github.com/yegor256/takes/issues/1114) is still not solved.

[2021-12-17 14:15] baudoliver7 commented on #958
@yegor256 Please, close this ticket. It's resolved.

[2021-12-17 19:14] yegor256 commented on #958
@baudoliver7 thanks

[2021-12-17 19:14] #958 closed

[2021-12-17 19:14] yegor256 commented on #1111
@0crat assign @baudoliver7

[2021-12-18 21:46] #1111 closed

[2021-12-18 21:55] baudoliver7 commented on #997
@0crat status

[2021-12-18 22:02] baudoliver7 commented on #997
@yegor256 It has been resolved in #1101. Please, close it.

[2021-12-19 16:46] yegor256 commented on #997
@baudoliver7 thanks!

[2021-12-19 16:46] #997 closed

[2022-01-14 08:04] golszewski86 opened #1116 "org.takes.Request.body().read() never returns -1 to indicate end of request body"
Consider the following example of Takes server and HTTP made to it:

[code]
### What it does

* It starts a Takes HTTP server on port 8080
* The server accepts any HTTP requests, logs information about received request, logs every character from the request body (assuming it is a plain text body), and logs information about returned response
* The server runs until `AtomicBoolean done` value is se

[2022-01-17 13:05] baudoliver7 commented on #1021
@0crat status

[2022-01-18 07:21] 0pdd commented on #1080
The puzzle `999-c596aa68` has disappeared from the source code, that's why I closed this issue.

[2022-01-18 07:21] #1080 closed

[2022-01-18 07:21] 0pdd opened #1117 "RqOnce.java:41-43: Please make two decorators (HeadOnce..."
The puzzle `1080-c1d53f7a` from #1080 has to be resolved:

https://github.com/yegor256/takes/blob/90d4ce7648409ba1d16365b25df177a131712d43/src/main/java/org/takes/rq/RqOnce.java#L41-L43

The puzzle was created by @LightPro-Inc on 25-Mar-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2022-01-18 07:21] 0pdd commented on #918
@fabriciofx 4 puzzles [#1000](https://github.com/yegor256/takes/issues/1000), [#1009](https://github.com/yegor256/takes/issues/1009), [#1018](https://github.com/yegor256/takes/issues/1018), [#1117](https://github.com/yegor256/takes/issues/1117) are still not solved; solved: [#1008](https://github.com/yegor256/takes/issues/1008), [#1010](https://github.com/yegor256/takes/issues/1010), [#1011](https

[2022-01-18 07:21] 0pdd commented on #999
@0pdd the puzzle [#1117](https://github.com/yegor256/takes/issues/1117) is still not solved; solved: [#1080](https://github.com/yegor256/takes/issues/1080).

[2022-01-18 07:21] 0pdd commented on #1080
@0pdd the puzzle [#1117](https://github.com/yegor256/takes/issues/1117) is still not solved.

[2022-01-18 08:40] baudoliver7 commented on #1021
@0crat status

[2022-02-02 09:19] #1024 closed

[2022-02-20 09:53] 0crat commented on #1024
@baudoliver7[/z](https://www.0crat.com/u/baudoliver7) resigned from [#1024](https://github.com/yegor256/takes/issues/1024), since the job is not in scope anymore

[2022-02-20 10:07] 0crat commented on #1080
@baudoliver7[/z](https://www.0crat.com/u/baudoliver7) resigned from [#1080](https://github.com/yegor256/takes/issues/1080), since the job is not in scope anymore

[2022-02-20 10:27] 0crat commented on #997
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-02-22 02:51] sereshqua commented on #997
@0crat quality good

[2022-03-16 23:40] baudoliver7 opened #1118 "Bug while trying to authenticate with PsGithub"
We get this message :
[code]

Url for documentation :

- https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/
- https://docs.github.com/v3/#oauth2-token-sent-in-a-header

[2022-03-16 23:41] baudoliver7 commented on #1118
@yegor256 please, assign

[2022-03-23 13:11] baudoliver7 commented on #1069
@yegor256 please, assign

[2022-03-26 13:22] yegor256 commented on #1069
@baudoliver7 go ahead

[2022-04-20 13:58] #1069 closed

[2022-04-20 14:17] #1118 closed

[2022-04-20 15:41] baudoliver7 opened #1121 "Need to introduce HTTP Cache control"
To optimize bandwidth usage, we need sometimes to put in cache some static files.

HTTP Cache control obeys to the norm [RFC 7234](https://datatracker.ietf.org/doc/html/rfc7234).

There are some useful links:

- https://developer.mozilla.org/en/docs/Web/HTTP/Headers/Cache-Control
- https://www.imperva.com/learn/performance/cache-control/

[2022-04-20 15:42] baudoliver7 commented on #1121
@yegor256 WDYT about this issue ?

[2022-04-20 16:14] yegor256 commented on #1121
@baudoliver7 I'm not against it, but how will it work? Can you give a usage example?

[2022-04-20 17:07] yegor256 commented on #1121
@baudoliver7 it seems we already have something with a similar functionality, don't we?

[2022-04-21 12:27] baudoliver7 commented on #1121
@yegor256 I could be wrong but after checking, I haven't seen a take that works like this.

[2022-04-21 12:32] baudoliver7 commented on #1121
@yegor256 I just found someone else that has explained the same idea in this open issue (#933)

[2022-04-22 05:03] yegor256 commented on #1121
@baudoliver7 let's do it then

[2022-04-22 12:49] baudoliver7 commented on #1121
@yegor256 `TkCachedFiles` is a good name ?

[2022-06-01 05:05] #1110 closed

[2022-06-01 05:06] #1036 closed

[2022-07-11 07:47] yegor256 opened #1127 "Invalid HTTP Request-Line header: GET / HTTP/1.1"
[code]

[2022-07-11 09:28] 0pdd opened #1128 "pom.xml:112-414: Once Cactoos is updated to qulice..."
The puzzle `880-047513c4` from #880 has to be resolved:

https://github.com/yegor256/takes/blob/2f4ef1d05d96ae2efe6742c99b466c72ed92fa8f/pom.xml#L112-L414

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2022-07-11 09:28] 0pdd opened #1129 "pom.xml:415-519: duplicate-finder-maven-plugin found..."
The puzzle `958-0a721823` from #958 has to be resolved:

https://github.com/yegor256/takes/blob/2f4ef1d05d96ae2efe6742c99b466c72ed92fa8f/pom.xml#L415-L519

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2022-07-11 09:28] 0pdd opened #1130 "pom.xml:520-592: This limits are set according to current..."
The puzzle `1088-edea3e4b` from #1088 has to be resolved:

https://github.com/yegor256/takes/blob/2f4ef1d05d96ae2efe6742c99b466c72ed92fa8f/pom.xml#L520-L592

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2022-07-11 09:29] 0pdd opened #1131 "RqMtBase.java:128-134: Remove code from this ctor,..."
The puzzle `950-e017cfba` from #950 has to be resolved:

https://github.com/yegor256/takes/blob/2f4ef1d05d96ae2efe6742c99b466c72ed92fa8f/src/main/java/org/takes/rq/multipart/RqMtBase.java#L128-L134

The puzzle was created by @yegor256 on 11-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2022-07-11 09:29] 0pdd commented on #953
@0pdd the puzzle [#unknown]() is still not solved.

[2022-07-11 09:29] 0pdd commented on #998
@0pdd 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-11 09:29] 0pdd commented on #950
@0pdd the puzzle [#1131](https://github.com/yegor256/takes/issues/1131) is still not solved.

[2022-07-11 09:29] 0pdd commented on #918
@fabriciofx the puzzle [#unknown]() is still not solved.

[2022-07-11 09:29] 0pdd commented on #863
@paulodamaso the puzzle [#unknown]() is still not solved.

[2022-07-11 09:29] 0pdd commented on #997
@piotrkot the puzzle [#unknown]() is still not solved.

[2022-07-11 09:29] 0pdd commented on #893
@paulodamaso the puzzle [#unknown]() is still not solved.

[2022-07-11 11:56] yegor256 opened #1132 "fresh release"

[2022-07-11 11:56] 0pdd commented on #1128
The puzzle `880-047513c4` has disappeared from the source code, that's why I closed this issue.

[2022-07-11 11:56] #1128 closed

[2022-07-11 11:56] #1129 closed

[2022-07-11 11:56] 0pdd commented on #1129
The puzzle `958-0a721823` has disappeared from the source code, that's why I closed this issue.

[2022-07-11 11:56] #1130 closed

[2022-07-11 11:56] 0pdd commented on #1130
The puzzle `1088-edea3e4b` has disappeared from the source code, that's why I closed this issue.

[2022-07-11 11:56] 0pdd commented on #880
@0pdd the puzzle [#unknown]() is still not solved; solved: [#1128](https://github.com/yegor256/takes/issues/1128).

[2022-07-11 11:56] 0pdd commented on #958
@fabriciofx the puzzle [#unknown]() is still not solved; solved: [#1129](https://github.com/yegor256/takes/issues/1129).

[2022-07-11 11:56] 0pdd commented on #1088
@0pdd the puzzle [#unknown]() is still not solved; solved: [#1130](https://github.com/yegor256/takes/issues/1130).

[2022-07-11 12:36] #1127 closed

[2022-07-11 14:00] 0pdd commented on #1088
@0pdd all 2 puzzles are solved here: [#1130](https://github.com/yegor256/takes/issues/1130), [#unknown]().

[2022-07-11 14:08] rultor commented on #1132
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26195-1180455911)

[2022-07-11 14:19] rultor commented on #1132
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26195-1180455911) (took me 10min)

[2022-07-11 17:11] Masynchin opened #1133 "Can it use cactoos.TempFile?"
I am trying to rewrite this test case using [`cactoos.TempFile`](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/io/TempFile.java):

https://github.com/yegor256/takes/blob/257bab13e28d7f2f9cb940b8d31ef91095ce4bd2/src/test/java/org/takes/tk/TkFilesTest.java#L52-L71

but can't satisfy type system. It is possible to implement?

[2022-07-15 14:03] yegor256 opened #1134 "TkGzip doesn't work as expected"
binary data don't fly through, it seems

[2022-07-15 15:37] #1131 closed

[2022-07-15 15:37] 0pdd commented on #950
@0pdd the puzzle [#unknown]() is still not solved; solved: [#1131](https://github.com/yegor256/takes/issues/1131).

[2022-07-16 05:51] yegor256 commented on #1134
@rultor release, tag is `1.21.1`

[2022-07-16 05:52] rultor commented on #1134
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26251-1186096267)

[2022-07-16 06:02] rultor commented on #1134
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26251-1186096267) (took me 9min)

[2022-07-16 17:12] #1134 closed

[2022-08-05 04:32] yegor256 opened #1136 "cactoos 0.52.0"
Let's up it

[2022-08-05 04:33] #1112 closed

[2022-08-05 04:33] 0pdd commented on #1112
The puzzle `1088-ac9afd75` has disappeared from the source code, that's why I closed this issue.

[2022-08-05 04:33] #1113 closed

[2022-08-05 04:33] 0pdd commented on #1113
The puzzle `1110-00e4d7db` has disappeared from the source code, that's why I closed this issue.

[2022-08-05 04:33] 0pdd commented on #1067
@fabriciofx all 2 puzzles are solved here: [#1088](https://github.com/yegor256/takes/issues/1088), [#1112](https://github.com/yegor256/takes/issues/1112).

[2022-08-05 04:34] 0pdd commented on #1088
@0pdd the only puzzle [#1112](https://github.com/yegor256/takes/issues/1112) is solved here.

[2022-08-05 04:34] 0pdd commented on #1110
@yegor256 the only puzzle [#1113](https://github.com/yegor256/takes/issues/1113) is solved here.

[2022-08-05 04:52] 0crat commented on #1113
Job `gh:yegor256/takes#1113` is not assigned, can't get performer

[2022-08-05 04:52] 0crat commented on #1112
Job `gh:yegor256/takes#1112` is not assigned, can't get performer

[2022-08-05 05:05] yegor256 commented on #1136
@rultor release, tag is `1.22.0`

[2022-08-05 05:06] rultor commented on #1136
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26429-1206046235)

[2022-08-05 05:16] rultor commented on #1136
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26429-1206046235) (took me 9min)

[2022-08-05 05:24] #1136 closed

[2022-08-05 05:45] 0crat commented on #1136
Job `gh:yegor256/takes#1136` is not assigned, can't get performer

[2022-08-09 12:29] aleemkhowaja opened #1137 "How to implement Async call using takes api"
Hello all,

how we can use async calls using take api?

[2022-08-09 12:30] aleemkhowaja opened #1138 "How to implement HttpSession ?"
Is there any way to implement sessions using takes api ?

[2022-08-10 04:21] yegor256 opened #1139 "XeTransform must accept a Func with Exception"

[2022-08-10 05:39] yegor256 commented on #1139
@rultor release, tag is `1.23.0`

[2022-08-10 05:40] rultor commented on #1139
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26470-1210185322)

[2022-08-10 05:50] rultor commented on #1139
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26470-1210185322) (took me 9min)

[2022-08-10 05:52] #1139 closed

[2022-08-10 06:08] 0crat commented on #1139
Job `gh:yegor256/takes#1139` is not assigned, can't get performer

[2022-08-11 04:03] yegor256 opened #1140 "RsHeaders is missing"
Let's add

[2022-08-11 04:08] yegor256 commented on #1140
@rultor release, tag is `1.24.0`

[2022-08-11 04:09] rultor commented on #1140
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26479-1211532198)

[2022-08-11 04:20] rultor commented on #1140
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26479-1211532198) (took me 10min)

[2022-08-11 04:25] #1140 closed

[2022-08-11 04:45] 0crat commented on #1140
Job `gh:yegor256/takes#1140` is not assigned, can't get performer

[2022-08-14 19:26] aleemkhowaja opened #1141 "how to get other parameters in multipart request"
I am sending file with 2 parameters
1 = name
2 = user

name is receiving but not getting user
can someone guide please

![image](https://user-images.githubusercontent.com/11464125/184551872-e86482c5-2114-4e0b-9b18-0bdaa7bfb68a.png)

[2022-08-22 04:00] yegor256 opened #1142 "better exception messages, with more details"

[2022-08-22 06:07] #895 closed

[2022-08-22 06:07] 0pdd commented on #895
The puzzle `877-052482c8` has disappeared from the source code, that's why I closed this issue.

[2022-08-22 06:07] #948 closed

[2022-08-22 06:07] 0pdd commented on #948
The puzzle `893-3412ae8c` has disappeared from the source code, that's why I closed this issue.

[2022-08-22 06:07] #1108 closed

[2022-08-22 06:07] 0pdd commented on #1108
The puzzle `997-5bcbe378` has disappeared from the source code, that's why I closed this issue.

[2022-08-22 06:07] 0pdd commented on #877
@krzyk the only puzzle [#895](https://github.com/yegor256/takes/issues/895) is solved here.

[2022-08-22 06:07] 0pdd commented on #893
@paulodamaso the only puzzle [#948](https://github.com/yegor256/takes/issues/948) is solved here.

[2022-08-22 06:07] 0pdd commented on #997
@piotrkot the only puzzle [#1108](https://github.com/yegor256/takes/issues/1108) is solved here.

[2022-08-22 06:08] yegor256 commented on #1142
@rultor release, tag is `1.24.1`

[2022-08-22 06:08] rultor commented on #1142
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26550-1221883202)

[2022-08-22 06:18] rultor commented on #1142
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26550-1221883202) (took me 9min)

[2022-08-22 06:18] #1142 closed

[2022-08-22 06:28] 0crat commented on #1108
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-08-22 06:28] 0crat commented on #948
Job [#948](https://github.com/yegor256/takes/issues/948) is not in the agenda of @danilomo[/z](https://www.0crat.com/u/danilomo), can't set title

[2022-08-22 06:28] 0crat commented on #948
Job [#948](https://github.com/yegor256/takes/issues/948) is not in the agenda of @danilomo[/z](https://www.0crat.com/u/danilomo), can't set title

[2022-08-22 06:28] 0crat commented on #948
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @danilomo[/z](https://www.0crat.com/u/danilomo), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-08-22 06:29] 0crat commented on #895
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @andreoss[/z](https://www.0crat.com/u/andreoss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-08-22 06:42] 0crat commented on #1142
Job `gh:yegor256/takes#1142` is not assigned, can't get performer

[2022-08-22 07:49] Masynchin opened #1143 "Optional"
Hello, @yegor256!

Why don't this project use [`Optional`](https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html), but rather implements its own `Opt`? I think that `Optional` can safely replace `Opt` and also bring `map` method, which can be used to get rid of `if opt.has() { /* do something with opt.get() */ } else { return Opt.Empty() }`.

For example, this method

https://github.co

[2022-08-23 04:54] yegor256 opened #1144 "FkHost is too eager"

[2022-08-23 05:03] yegor256 commented on #1144
@rultor release, tag is `1.24.2`

[2022-08-23 05:04] rultor commented on #1144
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26562-1223547682)

[2022-08-23 05:15] rultor commented on #1144
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26562-1223547682) (took me 10min)

[2022-08-23 07:10] #1144 closed

[2022-08-23 07:27] 0crat commented on #1144
Job `gh:yegor256/takes#1144` is not assigned, can't get performer

[2022-08-24 03:10] yegor256 opened #1145 "RsXslt fails to resolve files in classpath"

[2022-08-24 03:12] yegor256 commented on #1143
@Masynchin indeed, you are right. I can't remember why `Opt` was introduced. Maybe because we developed Takes for Java 6, where there was no `Option`. If you are interested, please, submit a pull request and let's get rid of `Opt`.

[2022-08-24 03:13] yegor256 commented on #1141
@aleemkhowaja can you please show your code? and your unit test, if you have one.

[2022-08-24 03:14] yegor256 commented on #1138
@aleemkhowaja we have cookies. You can put session ID into the cookie.

[2022-08-24 03:15] yegor256 commented on #1137
@aleemkhowaja Takes is for server side, not for client side. That's why I can't understand what you mean by "call". Who is calling who? In the mean time, check this library: https://http.jcabi.com

[2022-08-24 03:16] yegor256 commented on #1145
@rultor release, tag is `1.24.3`

[2022-08-24 03:16] yegor256 commented on #1133
@Masynchin hard to understand what you are trying to do and what is the error you are getting.

[2022-08-24 03:17] rultor commented on #1145
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26570-1225131277)

[2022-08-24 03:17] yegor256 commented on #1121
@baudoliver7 yes, `TkCachedFiles` sounds like a good name

[2022-08-24 03:18] yegor256 commented on #1116
@golszewski86 many thanks for the report! do you know how to fix this? would be great if you can submit a pull request

[2022-08-24 03:19] yegor256 commented on #1109
@piotrkot duly noted! will release more frequently

[2022-08-24 03:19] #1109 closed

[2022-08-24 03:20] yegor256 commented on #1079
@binkley fixed, thanks!

[2022-08-24 03:20] #1079 closed

[2022-08-24 03:21] yegor256 commented on #1090
@leroneb should be OK now, since we upgraded all dependencies to the latest versions, including `json`

[2022-08-24 03:21] #1090 closed

[2022-08-24 03:23] yegor256 commented on #1089
@leroneb indeed, we expect Json Java implementation to be provided by your classpath. Just add these two dependencies to your POM and you will be fine:

[code]

[2022-08-24 03:23] #1089 closed

[2022-08-24 03:24] yegor256 commented on #1060
@EugenDueck I believe, this is fixed in #1061 Thanks!

[2022-08-24 03:24] #1060 closed

[2022-08-24 03:27] rultor commented on #1145
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26570-1225131277) (took me 10min)

[2022-08-24 03:29] #1145 closed

[2022-08-24 03:29] yegor256 commented on #1070
@fabriciofx this is fixed, thanks for reporting

[2022-08-24 03:29] #1070 closed

[2022-08-24 03:30] yegor256 commented on #1049
@fanifieiev check takes `1.24.3`, it uses the latest Cactoos `0.54.0`

[2022-08-24 03:30] #1049 closed

[2022-08-24 03:33] yegor256 commented on #1041
@kleinesfilmroellchen many thanks for this ticket! Maybe you can help us improve the documentation? A few pull requests will definitely be helpful. In the mean time, I will also try to do some improvements.

[2022-08-24 03:33] yegor256 commented on #1041
@baudoliver7 maybe you can help too?

[2022-08-24 03:37] yegor256 commented on #1002
@pal548 we still have this issue or it's time to close the ticket?

[2022-08-24 03:42] 0crat commented on #1089
Job `gh:yegor256/takes#1089` is not assigned, can't get performer

[2022-08-24 03:42] 0crat commented on #1090
Job `gh:yegor256/takes#1090` is not assigned, can't get performer

[2022-08-24 03:42] 0crat commented on #1079
Job `gh:yegor256/takes#1079` is not assigned, can't get performer

[2022-08-24 03:42] 0crat commented on #1109
Job `gh:yegor256/takes#1109` is not assigned, can't get performer

[2022-08-24 03:42] 0crat commented on #1060
Job `gh:yegor256/takes#1060` is not assigned, can't get performer

[2022-08-24 03:45] 0crat commented on #1145
Job `gh:yegor256/takes#1145` is not assigned, can't get performer

[2022-08-24 03:46] 0crat commented on #1070
Job `gh:yegor256/takes#1070` is not assigned, can't get performer

[2022-08-24 03:46] 0crat commented on #1049
Job [#1049](https://github.com/yegor256/takes/issues/1049) is not in the agenda of @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), can't set title

[2022-08-24 03:47] 0crat commented on #1049
Job [#1049](https://github.com/yegor256/takes/issues/1049) is not in the agenda of @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), can't set title

[2022-08-24 03:47] 0crat commented on #1049
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-08-24 03:54] yegor256 commented on #1071
@fabriciofx I added some explanation in 3789ae37b

[2022-08-24 03:54] #1071 closed

[2022-08-24 04:11] 0crat commented on #1071
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-08-24 12:18] yegor256 commented on #1143
@Masynchin you are planning to submit four pull requests?

[2022-08-24 12:25] Masynchin commented on #1143
No, just one PR - "Replace Opt with Optional". This is just a step-by-step plan. Does this plan have any issues? If it seems OK, I can start implementing it.

[2022-08-24 14:55] kleinesfilmroellchen commented on #1041
This issue is two years old. I have since abandoned the project that used `takes`, I neither use Java nor takes anymore. You can leave this issue open or close it, I don't care, but I'll not be involved anymore.

[2022-08-24 17:19] Masynchin commented on #1133
@yegor256 I am trying to replace `@TempDir` annotation and manual file deletion with `cactoos.TempFolder` and `cactoos.TempFile` accordingly. I have some progress, and can share working example:

[code]

One difference is that file name is not the same between the tests, so url created dynamically. If you think that using TempFolder/File worth it, I can open PR. Otherwise, I can close this issue.

[2022-08-26 16:11] yegor256 opened #1146 "RsXslt is not caching factories"

[2022-08-26 16:58] yegor256 commented on #1146
@rultor release, tag is `1.24.4`

[2022-08-26 17:00] rultor commented on #1146
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26605-1228722907)

[2022-08-26 17:05] Masynchin commented on #1143
It turned out I can't just create `OptionalEnvelope` as it `extends Optional implements Opt`. This refactoring will take much longer.

[2022-08-26 17:09] rultor commented on #1146
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26605-1228722907) (took me 8min)

[2022-08-26 17:11] #1146 closed

[2022-08-26 17:28] 0crat commented on #1146
Job `gh:yegor256/takes#1146` is not assigned, can't get performer

[2022-08-29 14:09] pal548 commented on #1002
@yegor256  yes, closing it

[2022-08-29 14:46] #1002 closed

[2022-08-29 15:03] 0crat commented on #1002
Job `gh:yegor256/takes#1002` is not assigned, can't get performer

[2022-09-16 05:06] renovate[bot] opened #1150 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/yegor256/takes).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

---

---

## Op